[2015-09-10 08:28] Arnei opened #2918 "Python3 - Set paths to what?"
Hello,
I've been trying to install this wonderful toolbox for Python3 under Ubuntu 14. Do this is used this cmake command:

cmake -DPYTHON_INCLUDE_DIR=/usr/include/python3.4 -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 -DPYTHON_PACKAGES_PATH=/usr/local/lib/python3.4/dist-packages -DPythonModular=ON -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..

It seems this was not the best idea, as I now hav

[2015-09-10 11:07] lisitsyn commented on #2914
@yorkerlin yes, that's pretty clear we should use proper ways of distrubution.

Although the claim of breaking hardware by compilation is absolutely ridiculous.

[2015-09-10 11:13] lisitsyn commented on #2918
Ok what files fo you have in /usr/local/lib and what files do you have in that shogun-install directory?

PYTHONPATH should point to the directory that has modshogun.py
LD_LIBRARY_PATH should point to the directory that has modshogun.so

[2015-09-10 11:16] besser82 commented on #2918
LD_LIBRARY_PATH should point to the directory that has modshogun.so
I think you're mistaken here…  LD_LIBRARY_PATH should point to the dir `libshogun.so` is located in…

[2015-09-10 11:17] lisitsyn commented on #2918
Yeah sorry, libshogun.so

[2015-09-10 11:23] besser82 commented on #2914
@jaelim When I build complete Shogun from sources, my machine get's slow as hell too…  All eight CPU-cores are running @100%…  How many RAM do you have installed inside your machine?  Terrible slow operation often is related to swapping mempages to HDD.  Building modular-interfaces (e.g. Python) takes serious amounts (~ 8 GByte) of RAM.

@yorkerlin Currently we have two distros shipping Shogun in

[2015-09-10 12:08] Arnei commented on #2918
/usr/local/lib contains folders for python2.7 and python3.4, as well as libshogun.so, libshogun.so.15 and libshogun.so.15.1
shogun-install contains the folders include, lib and share. The lib folder has the files libshogun.so, libshogun.so.17 and libshogun.so.17.1. Neither of the two paths seem to work though.

[2015-09-10 12:23] lisitsyn commented on #2918
Actually, from your description of the problem it should be a PYTHONPATH issue. Wrong LD_LIBRARY_PATH would lead to undefined reference errors; in your case its modshogun.py that is missed by python.

I'd suggest you with running
```PYTHONPATH=... LD_LIBRARY_PATH=... python -c 'import modshogun'```
until it finally works. This would be the correct configuration.

[2015-09-10 12:26] yorkerlin commented on #2914
@lisitsyn @besser82 maybe, we warn users who want to build shogun from source code, the minimum requirement  (free disk space, RAM, and CPU) to build shogun.

@besser82 In my laptop(i7 8 cores, 16GBtye RAM, SSD), Compilation takes  at least half of hour, more than 6GByte of RAM, and more than 1GBtye of free space to build shogun.

[2015-09-10 12:36] yorkerlin commented on #2914
Maybe include some minimum hardware requirement  at https://github.com/shogun-toolbox/shogun/wiki/INSTALL

[2015-09-10 12:52] besser82 commented on #2914
@yorkerlin Same specs for my laptop…  Full build (all modular-interfaces and unit-test) takes ~45+ Mins.  RAM usage is avg. ~6 Gigs, too;  peak is 12 GBytes (during octave_modular).

[2015-09-10 12:54] Arnei commented on #2918
No combination of paths worked, instead I got this nice little message for each combination:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/modshogun.py", line 32, in <module>
    _modshogun = swig_import_helper()
  File "/usr/local/lib/python3.4/dist-packages/modshogun.py", line 28, in swig_import_helper
    _mod = imp.loa

[2015-09-10 13:10] lisitsyn commented on #2918
@Arnei yeah that's sort of strange. It detects modshogun.py but fails to load libshogun.so. Could it be that libshogun.so for python2.7 is used?

@besser82 do you have any idea?

[2015-09-10 13:16] Arnei commented on #2918
Hmm, I previously had modshogun installed for python2.7 and the "libshogun.so.15" files seem to be leftovers from that installation. However, the new libshogun.so files produce the same error. I tried to build everything for python3, but maybe I have overlooked something in my cmake command?

[2015-09-10 13:30] besser82 commented on #2918
@Arnei I'd suggest to remove all leftovers and rebuilding everything from scratch a second time…

[2015-09-10 14:09] Arnei commented on #2918
Okay, I removed everything shogun related and rebuild it. The same error persists.

[2015-09-10 15:13] lisitsyn commented on #2918
@Arnei does it work with other python version?

[2015-09-10 15:22] Arnei commented on #2918
I think I found my mistake. As usual, it was a typo. Instead of using "python -c 'import modshogun'" I of course have to use "python3 -c 'import modshogun'" to test if it works with python3 >.<. Now everything seems to work fine (except for pycharm giving me wrong error messages, but that doesn't belong here).
Thanks a lot for your help. I definitely learned a thing or two from this.

[2015-09-10 15:22] #2918 closed

[2015-09-10 15:29] lisitsyn commented on #2918
@Arnei oh, good it is resolved. Thanks for letting us know

[2015-09-10 19:05] jaelim commented on #2914
If a package build process freezes your system without giving you an option to get out of it, then what other choice do you have left with other than shutting the system manually?

In this case, the first time while building shogun froze my system completely (mouse pointer completely unresponsive) giving me no choice but to shut it down using the power button, and luckily that did not destroy my O

[2015-09-10 19:23] yorkerlin commented on #2914
@jaelim
Thanks for your feedback and sorry for inconvenience due to the compilation.

@lisitsyn @besser82
From the fact mentioned by @jaelim, we can tell that the compiler eats a lot of RAM during the compilation. The swap from memory to hard drive freezes the user's system and the user has to shut down the system using the `power button`, which in turn corrupts the file system.
We should recommen

[2015-09-10 19:56] yorkerlin commented on #2914
@lisitsyn @besser82
Some idea about building shogun:
* Offering an option to build needed shogun modules may reduce the memory requirement.

For me, I only need Gaussian process module, model selection module and optimizer module.
Changing codes in `Kernel` or `CMath` cause the compiler to rebuild MKL, SVM and other unwanted models :(

[2015-09-10 20:06] yorkerlin opened #2919 "fully support C++11 ?"
For now, the buildbot does not support some useful features introduced in C++11.
For example, the buildbot complains about the `auto` keyword.
Do we pay more attention on compatibility?
If we can distribute shogun via binary package for users, we may pay more attention on `new technique` for developers.

[2015-09-10 20:07] yorkerlin commented on #2919
@vigsterkr
@lambday
@lisitsyn
@karlnapf
@iglesias
any ideas?

[2015-09-10 20:11] lisitsyn commented on #2914
I'd like to note that there is no such thing as 'building shogun package', it's rather standard CMake + Make + GCC + Swig toolchain. We can't and shouldn't control behaviour of tools. Indeed, it takes a lot of memory and we should clarify the design with some techniques to reduce that, but no need to care about every little detail of OS.

[2015-09-10 20:15] lisitsyn commented on #2919
I don't think buildbot doesn't support that, it has GCC 4.9.2.

It's a matter of configuration and we should use C++11.

[2015-09-10 21:01] iglesias commented on #2919
I definitely agree with @lisitsyn. I haven't checked the version of the compiler myself, but it *must* support C++11. If it is not enabled by default, then we have to set the appropriate compiler flag.

[2015-09-10 21:37] lambday commented on #2919
@yorkerlin check issue #271.

[2015-09-11 20:19] jondo commented on #2546
The sibling directory `applications/easysvm/dependencies/` contains two tar.gz archives (old versions of [ANTLR](http://www.antlr3.org/) and [arff](https://pypi.python.org/pypi/arff)) that also became corrupted at the same commit. I think I can remove those, too.

[2015-09-11 21:49] yorkerlin commented on #2897
Next step:
implement Coordinate descend methods for large scale L1 penalty

[2015-09-11 21:53] yorkerlin commented on #2919
please keep this open until the buildbot is fixed

[2015-09-12 11:23] jondo commented on #2546
It's #2921.

[2015-09-12 21:34] erip commented on #2919
I don't mean to sound glib, but does the buildbot compile with `-std=c++11`?

[2015-09-12 21:39] lisitsyn commented on #2919
@erip our machine running buildbot has modern GCC to support that

[2015-09-12 21:41] erip commented on #2919
@lisitsyn Sure, but you still need to compile with the `-std=c++11` flag. A newer version doesn't allow for omission of some "non-standard" flags.

[2015-09-14 09:41] besser82 commented on #2919
'-std=c++11' gets injected to build-flags automagically by an external CMake-script, if the compiler supports && needs that…  Dunno why build go pop anyways…  :(

[2015-09-14 11:40] MartinHjelm commented on #2852
Any updates on this? I am getting the same segfault. Using the Homebrew formula the 4.0 version compiles but python delivers the segfault. (Related https://github.com/Homebrew/homebrew-science/pull/1818)

[2015-09-14 18:19] lisitsyn commented on #2852
@MartinHjelm could you provide more details in the segfault you get? Miss that in in related issue.

[2015-09-14 20:26] MartinHjelm commented on #2852
Uhm. So this is the OSX error message I get when I just write
    import modshodun
in python. I put it in a gist here https://gist.github.com/MartinHjelm/c44ca567523f0fd048ec

[2015-09-14 21:04] lisitsyn commented on #2852
@MartinHjelm can you somehow check whether the Python it was compiled against is the same to the one you're running it with?

[2015-09-15 16:44] MartinHjelm commented on #2852
I am using the homebrew provided python install. So I am guessing Shogun should compile against that. I tried using the Apple provided Python and when I run import modshogun I get no segfault. Not sure what to make of that. I am gonna try running my shogun scripts later tonight and see if they work with the Apple python.

[2015-09-15 17:01] lisitsyn commented on #2852
@MartinHjelm ok I see that's the reason then.

These two pythons are of different version and when binary things happen it crashes. Actually happens quite a lot on Mac OS with brew..

[2015-09-16 05:35] MartinHjelm commented on #2852
Oh I wish I had known that...
Anyways, when I use Shogun with the Apple python version I can successfully run a couple of tutorial examples.

[2015-09-16 06:53] MartinHjelm commented on #2852
@lisitsyn But I also get things like this sometimes on the Apple python

Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0   libshogun.17.dylib            	0x000000010d055117 shogun::CLMNNImpl::find_target_nn(shogun::CDenseFeatures<double>*, shogun::CMulticlassLabels*, int) + 1167
1   libshogun.17.dylib            	0x000000010d0528ea shogun::CLMNN::train(shogun::SGMatrix<double>) + 368
2

[2015-09-16 17:20] iarroyof opened #2922 "../shogun/src/shogun/classifier/mkl/MKLMulticlassGLPK.cpp line 122: glpk.h from GNU glpk not included at compile time necessary here"
Hi all...

Im trying to evaluate several kernels and hyperparameters at once. However, some kernels have showed this issue (e.g. exponential, wave):

[code]

Namely, in the first row in the output log above, the first element (a tuple) is the name of the kernel presenting the issue. The list next to it, is the range in which a set of widths should be randomly sampled for setting each element of th

[2015-09-27 01:30] yorkerlin opened #2923 "documents for the optimization framework and ADAM updater"
I implemented the ADAM updater (http://arxiv.org/abs/1412.6980) in my local branch. However, since the method is not stable now, let's wait for a little longer to let the authors to improve the method.

Documents in the minimizer framework are not completed.
I will do documentation for  the minimizer framework  and the GP framework from next week.

[2015-10-01 21:56] iarroyof commented on #1042
A question related to this issue: for large kernel combinations, It is possible dividing the optimization of kernel coefficients into multiple subproblems? I'd like sending each these sobproblems to different machine cores, but with out modifying Shogun objects. Thank you...

[2015-10-04 18:24] erip commented on #2900
@vigsterkr has the requested package been added to the whitelist?

[2015-10-06 02:11] vigsterkr commented on #2900
@erip noup, these are still missing:
https://github.com/travis-ci/apt-source-whitelist/issues/53
https://github.com/travis-ci/apt-source-whitelist/issues/121

[2015-10-08 10:47] lkuchenb commented on #2852
Any news on this issue? @MartinHjelm how did you succeed to create a build that runs the examples? I am still stuck with the very same problem. Don't be confused, by DCMAKE_INSTALL_PREFIX changed to `/usr/local/lk/shogun.git` now. Everything seems to be built against the system python 2.7 (which is also the only one that I have installed, no brew python):

    $ otool -L /usr/local/lk/shogun.git/l

[2015-10-10 04:52] yorkerlin commented on #2877
@karlnapf
See
 http://arxiv.org/abs/1509.07164

[2015-10-11 14:47] karlnapf commented on #2897
@yorkerlin hi, it might be a good idea to talk to John if you are doing VW related work. We always wanted to do another round of integrating Shogun and VW closer to each other. Send me an email if you want me to introduce you

[2015-10-11 14:49] karlnapf commented on #1909
How is the notebook coming along?

[2015-10-11 14:49] karlnapf commented on #1910
What is the reference?

[2015-10-11 14:49] karlnapf commented on #1231
yeah I agree. Thanks!

[2015-10-11 14:49] #1231 closed

[2015-10-11 14:51] karlnapf commented on #2130
Hi @srgnuclear  I was away for a while. But back now.

shallow copies can be done via the copy constructor I guess?

[2015-10-11 14:57] karlnapf commented on #1042
There are two things here: algorithmic changes/approximations and how they affect the solution you are after (dividing the optimisation, etc). You would have to do the math for that, but I guess something can be done here.

From an implementation side of view, Shogun currently lacks a proper framework for doing organised multicore or multimachine calculations -- we do most of the parallelisation u

[2015-10-11 16:03] iarroyof commented on #1042
Thank you for answering Heiko,

At the moment Im tying to work on multicore settings. I gave a look to existent ways for parallelizing the estimation of Fourier coefficients. I hope this can be useful for this case. In fact, some contribution will be added here.

Nacho

[2015-10-12 09:39] karlnapf commented on #1042
This is great!
Keep us posted. It would be amazing to parallelise some of Shoguns algorithms, or work on a general framework for that. We could give you support with the library internals if you want to work on such things

[2015-10-12 23:29] jjzhu opened #2924 "Ubuntu compile segmentation fault"
/usr/include/eigen3/Eigen/src/QR/ColPivHouseholderQR.h:389:22: internal compiler error: Segmentation fault.

Tried both 4.0 version and 3.2 version.

any work round?

-Victor

[2015-10-13 10:17] iglesias commented on #2924
Can you check if it is that you are running out of RAM when attempting to compile Shogun?

[2015-10-13 11:57] danieljf24 opened #2925 "error with from modshogun import LMNN"
I installed shogun3.1.1 on ubuntu14.04 with python interface.
I can import modshogun successfully, while it hint “ImportError: cannot import name LMNN” when enter "from modshogun import LMNN".
what happened? I just do following this instruction: http://nbviewer.ipython.org/gist/iglesias/6576096
Thanks in advance.

[2015-10-13 14:11] iglesias commented on #2925
Hey Daniel! Thank you for your interest in Shogun and the LMNN implementation. Note that the LMNN implementation in Shogun depends on Eigen3. Did you compile Shogun with Eigen3 support enabled?

[2015-10-13 14:48] yorkerlin commented on #2897
@karlnapf
Yes. Please check out the email.

[2015-10-13 14:49] danieljf24 commented on #2925
Hi, iglesias. I didn't comile Shogun with Eigen3, only with command 'cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" -DPythonModular=ON ..'. Could you tell the exact command to compile Shogun? Thanks very much!

[2015-10-13 15:33] iglesias commented on #2925
`
cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" -DPythonModular=ON -DENABLE_EIGEN=ON ..
`
should make it (providing you have an active internet connection, the option above will download Eigen 3 and bundle it into your Shogun installation.

When dealing with cmake in general, not restricted to Shogun, I suggest you to use ccmake when in doubt of the available cmake options or their exact nam

[2015-10-14 00:29] danieljf24 commented on #2925
I cmake with Eigen on, but it hint "Manually-specified variables were not used by the project: ENABLE_EIGEN". I sure my computer have an active internet connection.

[2015-10-14 07:29] iglesias commented on #2925
Oh, sorry about that. My mistake.

[2015-10-17 17:29] karlnapf commented on #1767
Dear @Pepslee
please file a proper error description, with details on what is the problem for you, this way you will get a proper answer.

[2015-10-19 09:39] MartinHjelm commented on #2852
@lkuchenb I installed via Homebrew science https://github.com/Homebrew/homebrew-science and using the brew python it runs or at least my code.

[2015-10-24 11:49] nginn commented on #2717
Hi. I'm interested in contributing to Shogun and would like to start with this issue. @lambday is there anything else about this issue that I should know before starting?

[2015-10-27 10:19] shin2jhoon opened #2926 "How can i develope using c++???"
I want to make some program using "GaussianNaiveBayes.h" with c++ language.
I find it how to implementation like this,
"
../examples/documented/libshogun/classifier_gaussiannaivebayes.cpp #include <shogun/labels/MulticlassLabels.h>
#include <shogun/features/DenseFeatures.h>
#include <shogun/multiclass/GaussianNaiveBayes.h>
#include <shogun/base/init.h>
#include <shogun/lib/common.h>
#include <shog

[2015-10-28 07:06] lambday commented on #2717
@nginn Hey! Thanks for your interest. This task is relatively simple - replace the existing member method calls for add and scale with linalg alternatives. Once it is done, we'd want the member methods for these two removed. Make sure you compile and run all the unit tests locally after your changes.

[2015-10-28 08:51] lambday commented on #2926
Hi @shin2jhoon. Thanks for your interest in Shogun. You can get some basic help regarding some beginners' issues at our [wiki](https://github.com/shogun-toolbox/shogun/wiki) pages. Make sure you read the [quickstart guide](https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART) and [getting started](https://github.com/shogun-toolbox/shogun/wiki/README_developer) developer readme. If you follow t

[2015-10-28 08:58] lambday commented on #2898
Hi @yorkerlin. Apologies for such a long delay. It surely looks interesting. I'll try to read the paper and get back to this issue. Maybe @karlnapf will share some thoughts on this.

[2015-10-28 15:01] ErickCai opened #2927 "anyone help, get error when install shogun 4.0 at centos 6.5"
After execute: cmake -DCMAKE_INSTALL_PREFIX="/opt/shogun4.0-install"  -DPythonModular=ON,
I type make , get error, Can anyone help me? Thks.

[root@localhost shogun-4.0.0]# make
[  0%] Built target class_list
[  1%] Generating version header
[  1%] Built target version
[ 85%] Built target libshogun
[ 85%] Built target shogun
make[2]: Circular src/interfaces/python_modular/DenseLabels_protocols.i <

[2015-10-28 15:57] ErickCai commented on #2927
It seems lack blas, lapack,  but my centos have them.

[root@localhost shogun-4.0.0]# rpm -qa|grep blas
blas-3.2.1-4.el6.x86_64
blas-devel-3.2.1-4.el6.x86_64
[root@localhost shogun-4.0.0]# rpm -qa|grep lapack
lapack-3.2.1-4.el6.x86_64
lapack-devel-3.2.1-4.el6.x86_64

[2015-10-29 10:57] karlnapf commented on #2898
I think if we put linear solves /factorisations in the linalg package we will have a few very easy to use options:

-perform the solve on the GPU directly, there is some gains to be made: http://gamma.cs.unc.edu/LU-GPU/
-for sparse systems or conjugate gradient approaches, we can load the matrix to GPU and then the the matrix vector multiplications on the GPU. This gives a speedup too
-There are a

[2015-10-29 13:16] lambday commented on #2898
I agree. Incremental approach is the way to go. Naive things should work first before fancy things. I am thinking of starting to work on adding factorizations/solvers.

Tagging related issues #2526 #2527.

[2015-10-30 00:54] ErickCai commented on #2927
Thanks to shogun team. I have work it out.  Again, I delete the CMakeFiles, reboot  the os , recompile the shogun package,  installed it succesfully.

[2015-10-30 18:53] nginn commented on #2717
Thanks, got it. Although, after doing some work on this issue, I have several questions:
1) how should I rely on unit-testing results if there are 4 failed tests currently? (build from d8eb73dd89f47e0da28f07163c4f635b96d0ec00) Should I consider it as a good result if after my changes there will be still the same number of failed tests?)
2) does this issue address the method SGVector::scale_vector,

[2015-10-31 04:28] lambday commented on #2717
Hi @nginn!

1) Yes! Your patch shouldn't introduce any new failing unit-tests than that are there  ;)
2) Good point. I think it does, because the overloaded `+` and `+=` operators use `add`. `scale_vector` should be fine for now since it doesn't depent on `scale`.

Suggestions:
- handle `scale` and `add` in two different patches. Send one first, once that's merged, send the other patch.
- For both

[2015-10-31 20:45] nginn commented on #2717
@lambday I've send the scale() replacement in PR. Please have a look.

[2015-11-01 22:02] #2927 closed

[2015-11-09 11:37] lisitsyn commented on #2926
I am closing this issue as invalid.

[2015-11-09 11:37] #2926 closed

[2015-11-09 20:40] iarroyof opened #2929 "Setting (loading) MKL pretrained (model) subkernel weights"
Hi all.

Im trying to figure out how to use a vector of pretrained subkernel weights for the MKL module. Im trying to understand this post (script):

http://shogun-list.shogun-toolbox.narkive.com/Ff1tmKJM/set-subkernel-weights-does-not-work-in-python-modular-interface

however, in the mentioned script, Im not sure how `mkl.classify()` works without previously executing `mkl.set_kernel(kernel)`, gi

[2015-11-10 12:51] qwertzdenek opened #2930 "Python modular compilation fails on ArchLinux"
Hi,
I have following configuration:
GCC 5.2.0
Swig 3.0.7
Python 3.5.0

in the end of *make* I get this:
[code]

This error is repeated many times on different lines.

I have configured CMake with
cmake -DCMAKE_INSTALL_PREFIX=/usr -DPythonModular=ON

Any ideas? Should I have to downgrade some lower version?

[2015-11-10 21:10] iglesias commented on #2929
Hi @iarroyof. Are you obtaining the weights using Shogun or from somewhere else? In case you are also using Shogun for the training, maybe using serialization solves your problem. See for instance serialization_string_kernels_modular.py or other serialization examples.

[2015-11-10 21:38] iarroyof commented on #2929
Hi @iglesias thank you for reply. Actually mi question is in the sense Im not sure what is the procedure to update que subkernel weights of a combinedKernel and then, applying this update to new data via a MKL object. My MKL Shogun object is already trained. Its subkernel weights are stored into a file. They can be retrieved at any time as a python list.

I'd like to instantiate a completely new M

[2015-11-11 01:39] iarroyof commented on #2929
Hi again... I have tried with this code:
[code]
After trying to run, the following error is given:
`Traceback (most recent call last):
  File "mkl2.py", line 81, in <module>
    out = mkl.apply()
SystemError: [ERROR] In file /home/iarroyof/shogun/src/shogun/machine/MulticlassMachine.cpp line 113: num_machines = 0, did you train your machine?`

[2015-11-12 00:44] iarroyof commented on #2929
Hi... I have kept trace of this problem. By testing different situations with the code of my previous post I have inferred the way is loading a pretrained MKL machine (please correct me if it not (too) necessary). In this direction, I have tested  `MKLClassification.save()` by using the next code snippet:
[code]
However, the next error is given:
[code]
Which made me to think there is a problem wit

[2015-11-12 00:59] iglesias commented on #2929
All right, let's try to go one part at a time.

- I am not familiarised with the implementation of MKL so perhaps it is actually required to call train in an MKL object before you can call apply. Maybe some internal trained state is set upon call to train and it is checked before calling apply, failing the call if the trained state has not been set.

Would cloning the MKL trained object solve your

[2015-11-12 01:04] iarroyof commented on #2929
Thank you @iglesias, I will try by serializing...

PD. The code I used is updated...

[2015-11-12 11:09] iglesias commented on #2930
I have never user personally Shogun with Python 3 and Swig 3. Python 2.7 and Swig 2.0 should work, and Python 3 with Swigh 2.0 is building fine in Travis too. This is not a proper solution but if you can afford using those versions it might be the fastest workaround to get it to work.

@vigsterkr, any known issue with Python 3 and Swig 3 together?

[2015-11-12 11:10] iglesias commented on #2929
Keep us updated about your progress and feel free to close the issue once you consider it solved.

[2015-11-12 11:12] iglesias commented on #2925
Solving issue.

[2015-11-12 11:12] #2925 closed

[2015-11-12 11:12] iglesias commented on #2924
Closing due to inactivity.

[2015-11-12 11:12] #2924 closed

[2015-11-12 11:13] iglesias commented on #2907
Any updates here @srsandeep?

[2015-11-12 17:46] iarroyof commented on #2929
Thank you @iglesias. Do know if this code snippet is correct?:
[code]
output: `TypeError: in method 'CSVM_save', argument 2 of type 'FILE *'`

or it is needed convert `f` to another data type, before passing it to the mkl `save()` method.

[2015-11-13 03:30] iarroyof commented on #2929
Hi... I reimplemented saving and loading method for Python. Here is an informal test code:
[code]
In this way, think the issue is solved

[2015-11-14 00:14] iarroyof commented on #2929
Hi... I reimplemented saving and loading methods for Python. This implied saving not only pretrained weights but also components of the trained MKL model. These elements can be verified in the body of the `save_mkl()` method I have implemented to backup such a training model. Here is an informal test code:
[code]
In this way, I think the issue is solved only for two-class problems. I will try for

[2015-11-14 00:23] #2929 closed

[2015-11-16 22:11] iarroyof opened #2931 "Feature request: Fix or implement save and load methods of `CFeatures` and `CSVM` objects for Python modular interfase"
Hi all,

I would like to save and load sparse features from/to a file. I have reviewed some methods of the CDotFeatures object. There are saving and loading methods. I tried to use them in some ways:
[code]
But I had not success. Additionally, a couple of days ago I had the same problem with saving and loading a pretrained MKL object (https://github.com/shogun-toolbox/shogun/issues/2929), which I

[2015-11-18 10:16] lisitsyn commented on #2931
@iarroyof I will try to get some time to do that in next few days

[2015-11-19 21:25] nginn commented on #2717
@lambday Sorry for the long pause. I have another bunch of questions about the add method:
1) should I move both inplace operators `+=` to SGVector.cpp in order to avoid including linalg.h into SGVector.h? Of course I understand that this will make them non-inline. That's why I'm asking this question.
2) which backend for `linalg::add` should I use with SGSparseVector?

[2015-11-20 09:47] nginn commented on #2748
@iglesias  Is there anything left to do in this issue since it's still open? I've looked through the SGSparseMatrix_unittest.cc and seems like there's missing only unit test for `SGSparseMatrix::sort_features()`.

[2015-11-20 11:41] lambday commented on #2717
Sorry @nginn I haven't looked at this PR in a while.

1. I didn't get why we would need to include `linalg.h` in `SGVector.h` even when the `operator+=` is there. It is in turn calling the `add` method, right? And that is defined in the cpp, not in header.  We can go crazy in the cpp and do all `linalg` nasty stuffs, but we should make sure that we don't miss an entire function definition if `lina

[2015-11-20 16:41] nginn commented on #2717
@lambday
1) seems like I'm the one with the wrong idea of what's going on. I assumed that as we need to remove `SGVector::scale` and this issue is about both `scale` and `add` the same applies to the `SGVector::add`. In case when I don't remove `SGVector::add` but just replace those calls outside the SGVector with the `linalg::add` all is ok and my first question is not actual.
2) I haven't found

[2015-11-20 16:45] nginn commented on #2717
@lambday so, just to be clear on this, operators in `SGVector` continue to use `SGVector:add` and this is not gonna be changed?

[2015-11-21 06:28] lambday commented on #2717
@nginn ah sorry your assumption is right. I forgot that the task was to remove these methods altogether.  So regarding your query

1. yes, you'd need to move the definition of `operator+=` to the cpp and yes it would make them non-inline. I don't think that's gonna cost us too much. So just to get an idea, maybe try a benchmark with a vector and add it, say, a billion times and compare the perform

[2015-11-23 09:03] iglesias commented on #2748
Hi @nginn,

What I can see from the coverage analysis is that mainly there are two constructors, the load, and save methods that are not yet covered:
https://coveralls.io/builds/4127565/source?filename=src%2Fshogun%2Flib%2FSGSparseMatrix.cpp

[2015-11-24 19:23] lisitsyn commented on #2931
Sorry not yet

[2015-11-29 03:16] besser82 commented on #2930
@iglesias: It's an issue caused by changes in Python 3.5 libs.  SWIG 3.0.7 is a confirmed to work version of SWIG and works fine with Python 2.7.X and Python <= 3.4.X builds.  The Fedora RPMs are built with that since Fedora 22.

@qwertzdenek: Same issue for me on [Fedora Rawhide builds](https://koji.fedoraproject.org/koji/taskinfo?taskID=11927204).  Looking deeper into the issue next week.  Maybe

[2015-12-02 03:10] pamrash commented on #1023
My code is like this ...
$(CROSS_COMPILE)$(CC) -I$(RUBY_H) -fPIC $(CFLAGS) $(CFLAGSEXTRA) -c openwrap.c
$(CROSS_COMPILE)$(CC) -shared openwrap.o -o $@ $(LDFLAGS) $(LFLAGSEXTRA)

Can anyone tell me the format of adding the "DSWIGWORDSIZE32"

[2015-12-02 03:29] pamrash commented on #1023
I am using SWIG RUBY

[2015-12-03 08:45] souravsingh commented on #2751
I would like to work on this.How do I start?

[2015-12-03 09:59] iglesias commented on #2751
@souravsingh, I'd say get the system running locally as described in the readme in the link in the first comment. Have a look at how the examples already there work and then start creating new ones showcasing Shogun features. For the new ones, draw inspiration from the already existing Shogun examples.

[2015-12-03 17:12] nginn commented on #2717
1) I've created simple benchmark using hayai and it's results for inline and non-inline SGVector::operator+=(SGVector) didn't differ much.
This is result for inline operator+=:
[code]
And this is for non-inline operator+=:
[code]
So, I moved SGVector::operator+=(SGVector) to .cpp file and replaced call to SGVector::add with linalg::add.
For now I leaved SGVector::operator+=(SGSparseVector) as it i

[2015-12-06 11:50] besser82 commented on #2930
Some more research on this issue came up with [another project](https://github.com/Rostlab/relna/issues/10) having this problem with Python 3.5, too…  :/

[2015-12-06 11:56] besser82 commented on #2930
So this seems to be a [known (and fixed in master) issue](https://github.com/swig/swig/issues/539) with SWIG and Python >= 3.5.

[2015-12-08 10:51] besser82 commented on #2930
I re-built Shogun (recent checkout from develop) with a [patched SWIG 3.0.7](https://koji.fedoraproject.org/koji/buildinfo?buildID=703612) with Python 3.5 on Fedora 24 and it works.  =)  So that issue should be gone with 3.0.8-release.  Will come up with a link to the build-logs, when shogun-rebuild on Fedora's Koji is finished.
* * *
I applied the following patches (in that order) to SWIG 3.0.7:

[2015-12-08 12:35] qwertzdenek commented on #2930
It works! :) thank you!

[2015-12-08 12:35] #2930 closed

[2015-12-08 12:52] besser82 commented on #2930
Glad to hear about!  =)

[2015-12-09 07:59] besser82 commented on #2930
besser82's [shogun-4.0.1-0.4.git20150913.d8eb73d.fc24](http://koji.fedoraproject.org/koji/buildinfo?buildID=704166) completed.

[2015-12-13 17:48] karlnapf commented on #2717
@nginn Hi there.

Great stuff!
Are you interested in extending the linalg library with more operations like linear solves and more?
Seems like a good fit to you! Especially as you are doing these great benchmarks.
@lambday and @yorkerlin have plans to add the mentioned operations, so if you talk to them they can guide you

[2015-12-13 22:13] karlnapf commented on #2751
@souravsingh hi thanks for being interested in this.

In fact, @lisitsyn and me just got a prototype working that is ready to be filled with examples. We will push this to the development branch within the next week. You can then have a look and help us populating and documenting it. There is a lot of very easy tasks that have to be done. You will see.

Ping me next week if the thing is not there

[2015-12-13 22:17] karlnapf commented on #1023
@pamrash what exactly is the problem?

[2015-12-14 04:39] yorkerlin commented on #2923
ref
https://github.com/shogun-toolbox/shogun/pull/2933

[2015-12-14 17:23] karlnapf commented on #2824
I did some more research and there does not seem to be any csv lib that is nice and bundled in many systems.....
I still tend to just use this one

[2015-12-14 17:38] besser82 commented on #2824
How about [libcsv](http://sourceforge.net/projects/libcsv/)?  It's light-weight, straight forward to integrate, available on most distributions and LGPL'ed code.

[2015-12-14 17:39] vigsterkr commented on #2824
first things first... let's start with adding support of libarchive and then clean up the mess with not being able to parse more than 15k lines of csv :hurtrealbad:

[2015-12-14 17:54] karlnapf commented on #2824
@vigsterkr I am happy to use any library. But I just want to

 * get rid of our own file parsing code (for the above reasons)
 * be able to read files bigger than 15k

What do you suggest to do as next steps here?

[2015-12-14 17:54] karlnapf commented on #2824
@besser82 otherwise libcsv also sounds good.

[2015-12-14 17:55] karlnapf opened #2934 "make clean should re-build class_list"
Currently, removing a Shogun class results in a compile error even after make clean.

[2015-12-14 18:08] karlnapf commented on #2824
@vigsterkr I just checked libvarchive. I don't get why you want to do that first? Why care about archives when we cannot deal with single files? Can you elaborate a bit?

[2015-12-14 18:49] karlnapf opened #2936 "Make travis use new container based infrastructure"
Travis recently moved to a new docker based container infrastructure, which runs faster.

We can adjust our travis build to run in the new environment. We need a few tweaks to the .travis.yml as no more "sudo" is allowed.

Some cool new features are in there too, for example "caching" (I use that in my python repositories to not compile scipy within travis, but just use a chached version, see [her

[2015-12-14 19:53] nginn commented on #2717
@karlnapf Hi.
Yes, I am definitely interested. Thanks for the information!)

[2015-12-15 04:00] vigsterkr commented on #2936
dude, this is duplication of #2900 and currently the ball is at the travis people, i.e. this effort is being blocked by them...

[2015-12-15 04:00] #2936 closed

[2015-12-15 05:31] karlnapf commented on #2936
Ah cool, I did not see that back then as I was in holiday.
Is there any way we can push them so that this does not die ?

[2015-12-15 05:32] vigsterkr commented on #2936
dont care about your excuses! :P :dancer: (joking)
mmmm not really, i've pushed all the requirements to their repos, but the PRs still just hanging there..

[2015-12-15 05:41] karlnapf commented on #2936
ha! next time I take my computer when cycling through Europe ;)

Dont know how to get people merge things, a ping is always good I guess

[2015-12-15 05:45] karlnapf commented on #2749
We now have benchmarks going.

[2015-12-15 05:45] #2749 closed

[2015-12-15 05:47] karlnapf opened #2939 "Add benchmarks to buildbot build"
As we have benchmarks, we should maintain them, i.e. detect when they don't run anymore.

A way is to add their execution to the buildbot (travis probably cannot afford)

@vigsterkr @lambday any comments?

[2015-12-15 05:47] vigsterkr commented on #2939
come to irc

[2015-12-15 06:11] karlnapf commented on #2939
closing as per dicussion

[2015-12-15 06:11] #2939 closed

[2015-12-15 10:34] besser82 commented on #2824
@karlnapf I think libarchive affects or improves writing / reading all IO-formats in Shogun.  For that reason @vigsterkr wants to get that done first…

[2015-12-15 20:30] kayhan-batmanghelich opened #2944 "segmentation fault with python"
Dear all,

I am trying to build shogun (git version) with anaconda python on Mac 10.10.5. It seems that it builds ut when I try to use python interface it gives me segmentation fault.

Here is the output please advise:

[code]

then inside of the python:

[code]

[code]

It tested standalone executable and it seems fine.

[code]

any idea how to resolve this?

[2015-12-15 20:56] iarroyof opened #2945 "Using precomputed distance kernels and sparse features gives this error: NotImplementedError: Wrong number or type of arguments"
I had time for analyzing a bit more the issue, which persists. The problem takes place when I try to use any kernel which uses a precomputed distance object ('dst' in the attached code snippet). I tested both, the sparse and the dense versions of the 'EulideanDistance' object. The program crashes after calling the `mkl.train()` method. For the Gaussian, Linear and Polynomial kernels (uniquely for

[2015-12-15 22:22] karlnapf commented on #2945
Thanks for putting this up.

I am confused.  Looking at the error message, this is ```CEuclideanDistance``` complaining that it needs dense features as input, but you are giving it sparse ones. Is that your problem?

[2015-12-15 23:26] karlnapf commented on #1253
This was finally done

[2015-12-15 23:26] #1253 closed

[2015-12-16 01:10] iarroyof commented on #2945
Hi... Thank you for reply. I also used CSparseEuclideanDistance and it can
be seen the error is the same.
El 15/12/2015 16:53, "Heiko Strathmann" <notifications@github.com> escribió:

[2015-12-16 01:23] iarroyof commented on #2945
The problem is these distance objects give type errors for sparse feature
objects.
El 15/12/2015 19:10, "nacho arroyo" <axayakac@gmail.com> escribió:

[2015-12-16 04:30] iarroyof commented on #2945
I have edited the posted code for properly running the script.

[2015-12-16 04:45] karlnapf commented on #2945
Hi.
There were a number of API usage errors in there. You have to use ```SparseEuclideanDistance``` if you are passing sparse features. The error message tells you exactly that you can only pass ```CDenseFeatures``` but you passed ```SparseShortRealFeatures```

See [this snippet](https://gist.github.com/karlnapf/645e1c2744fd9e8f1936), which works on my machine.

I close the issue, let me know if s

[2015-12-16 04:45] #2945 closed

[2015-12-16 08:43] sonney2k commented on #2945
and you should normally use ```CombinedFeatures``` and initialize the combined kernel just once with it.

[2015-12-16 17:18] iarroyof commented on #2945
Thank you guys for your support. I tested with all other kernels I'm using and the gist code revision works. @sonney2k I will change the procedure by using combined features.

It probably remains open the question of what to do for using SparseShortRealFeatures. It could be useful.

[2015-12-16 17:48] karlnapf commented on #2945
Very welcome!

@iarroyof The idea of the combined features is that different kernels in the combined kernel can use different features.

I do not understand your last question.

[2015-12-17 07:59] HaiQW opened #2951 "some confusion about the Lloyd kmeans algorithm"
It is obviously that the Lloyed kmeans algorithm implementation only considers one case, the fixed cluster centers,  while ignores the other.

[2015-12-17 18:54] iarroyof commented on #2945
My last question is regarding to what to do if we need using `SparseShortRealFeatures` with some precomputed distance kernel, e.g., `CTStudentKernel` or `CCauchyKernel`. Would be there some advantage by using `SparseShortRealFeatures` instead of `SparseRealFeatures`? e.g. memory consuming. In the case this particular advantage were provided by Short features, I think it would be useful enabling so

[2015-12-17 22:13] iglesias commented on #2951
I am not entirely sure I understand you correctly. To me fixed cluster centers would mean that the cluster centers are not moved, fixed from the beginning and not iteratively updated as it should happen as per the method description. In fact, that would not really be a clustering method in my view.

Can you elaborate?

[2015-12-18 04:38] HaiQW commented on #2951
I agree with you opinion that fixed centers cluster clustering is the really clustering algorithm. But, why the Lloyed Kmeans algorithm implementation updates all cluster centers at the very beginning of the while cycle, like this if (!fixed_centers). I think that the following code does not consider the case of changed cluster centers.

But I am not sure of my viewpoint.

[2015-12-18 11:27] iglesias commented on #2951
Hello again.

`fixed_centers` is just an option we provide in the algorithm. You can use the algorithm with either the option set to true or false.

Why do you use that it obviously considers one case and ignores the other?

[2015-12-18 12:39] HaiQW commented on #2951
Hi.
I am so sorry  that I used the wrong sentence, 'it obviously considers one case and ignores the other'.  I just confused with  the 'fixed_centers' option.

[2015-12-18 14:25] iglesias commented on #2951
No problem at all :-)

[2015-12-18 14:25] #2951 closed

[2015-12-18 16:08] karlnapf commented on #2945
You are right that the ```SparseDistance``` subclasses are all based on ```float64_t```

See [here](http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CEuclideanDistance.html)

This is coming from implementation details. It is possible to add a shorter version, but that is some work. So if you have memory issues (do you?) then we could add a 32bit distance.

[2015-12-19 05:18] iarroyof commented on #2945
Thank you very much cor your time Heiko. I think there is not problem for
now, however, some tests are pending in my project for realworld data.

I will keep you informed.
El 18/12/2015 10:08, "Heiko Strathmann" <notifications@github.com> escribió:

[2015-12-19 10:20] arasuarun commented on #2723
Is this issue still open? #2840 seems to cover it... or is there anything else left to do?

[2015-12-19 16:59] karlnapf commented on #2945
Cool. Let us know how it goes and where we can improve things.

On Saturday, 19 December 2015, Ignacio Arroyo <notifications@github.com>
wrote:

[2015-12-20 17:24] sanuj opened #2957 "Make NeuralConvLayer use linalg convolution"
- Implement convolution in linalg with `NATIVE` backend.
- Change `CConvolutionalFeatureMap::convolve` in `ConvolutionalFeatureMap.cpp` to use `linalg::convolve`

@karlnapf I'll send a PR soon. Tell me if I'm missing something.

[2015-12-20 17:31] sanuj commented on #2701
@lisitsyn I trained Crepe(implementation of this using torch) on DBPedia ontology classification and it almost took a day on a CUDA enabled GPU. Shall I do the same thing in the notebook or reduce the number of parameters/layers? Because a shogun implementation will take more time to train.

[2015-12-20 18:47] lisitsyn commented on #2701
@sanuj my idea was to create an ipython notebook reproducing that in shogun. If it takes that much time we should either train on subset, or do something about it in shogun, or maybe just give up :)

[2015-12-21 21:49] panCtrlV commented on #2944
I am having the same problem.

[2015-12-22 11:57] karlnapf opened #2958 "BSD license"
As we have now enough "critical mass" to do the license change, here is the list of steps TODO
- create a blacklist of files that cannot be changed to BSD (integrated libs as SVMLight, alglib code in `CStatistics`, ...)
- Add a new LICENSE file with the BSD we use
- Remove GPL license header from all files
- Replace with a reference to LICENSE file and put all authors from git history in
- Discuss

[2015-12-22 12:00] karlnapf commented on #2957
There is already something in place I saw. Better check that before you start....

[2015-12-22 12:00] karlnapf commented on #2957
[here](http://www.shogun-)toolbox.org/doc/en/latest/structshogun_1_1linalg_1_1implementation_1_1convolve_3_01Backend_1_1EIGEN3_00_01Matrix_01_4.html

[2015-12-22 12:01] karlnapf commented on #2701
Suggestion:
Train on subset in notebook. State that it takes much longer if done on full data.
Put a dropbox or similar link to download the trained thing and allow to use the in notebook if available

[2015-12-22 12:02] karlnapf commented on #2944
I am not a mac expert, but we have seen these issues before.  @lisitsyn @vigsterkr @besser82 ?

Could you run in debug mode and post some details?

[2015-12-22 12:30] karlnapf commented on #2957
Making the native backend use openmp would be an improvement

[2015-12-22 13:12] lisitsyn commented on #2944
Oh this should be easy. Just be careful to check which python swig has compiled against. A great chance is that you're importing it in a different python - happens a lot on mac.

[2015-12-22 17:35] yorkerlin opened #2959 "add the requirement of the version of doxygen"
Compiling Shogun with -DPythonModular=ON  will fail if the version of doxygen is low (<1.8.6) .
The error will occur if the version of doxygen is low (<=1.8.5)
[code]

[2015-12-22 17:37] yorkerlin commented on #2959
@karlnapf

[2015-12-23 07:58] sanuj commented on #2957
@karlnapf I had seen the `linalg/implementations/convolve.h` file and was talking about adding `NATIVE` backend to this.

`HAVE_LINALG_LIB` variable is not always set by cmake as you can see [here](https://github.com/shogun-toolbox/shogun/blob/develop/CMakeLists.txt#L752). Should I also take care of this by using `#ifdef HAVE_LINALG_LIB` and keeping the existing convolution code if `HAVE_LINALG_LI

[2015-12-23 08:08] sanuj commented on #2957
`CConvolutionalFeatureMap.cpp` would look something like:
[code]

[2015-12-23 09:14] sanuj commented on #2957
Why is [this code](https://github.com/shogun-toolbox/shogun/blob/d8eb73dd89f47e0da28f07163c4f635b96d0ec00/src/shogun/mathematics/linalg/internal/implementation/Convolve.h#L115) encapsulated in `#ifdef HAVE_EIGEN3 .... #endif`? It can also work without Eigen3.

[2015-12-23 12:33] sanuj opened #2960 "Guide to make unit-tests"
Someone needs to correct the [README_developer](https://github.com/shogun-toolbox/shogun/wiki/README_developer) on the wiki (I would have done it but I can't).
- In the unit testing part it says that it is necessary to install Google Mock and Google Test on your machine which is not true. Google Mock files are supposed to be placed in the `build` directory from where unit-tests will be made.
- In

[2015-12-23 21:11] karlnapf commented on #2944
Ah yes, I remember.

@lisitsyn do you think we could add a check to ```modshogun.py```. A failing assertion or something?

[2015-12-23 21:16] karlnapf commented on #2944
@kayhan-batmanghelich @panCtrlV
Compare those two:

```python -c 'import sys; print(sys.path)'```

and

```grep  PYTHON_PACKAGES_PATH CMakeCache.txt```

[2015-12-23 21:16] #2944 closed

[2015-12-23 21:49] lisitsyn commented on #2944
@karlnapf could be possible but I am not sure, it is very low-level binary stuff

[2015-12-23 22:00] karlnapf commented on #2959
Thanks for pointing this out

We can easily require a certain doxygen version with changing the line

[code]

in  `shogun/CMakeLists.txt` to

[code]

Feel free to send a patch to do that. But before, *really* make sure that starting a build from scratch with that doxygen version causes the error your described.

[2015-12-23 22:02] karlnapf commented on #2957
@lambday should answer here

[2015-12-23 22:04] karlnapf commented on #2957
Any code from linalg should only be available if the linalg lib is enabled.

The code that you referenced indeed does not depend on eigen, but @lambday should get back to you about this...

[2015-12-23 22:06] karlnapf commented on #2960
Before I put that stuff in, can't you edit the wiki on your machine and then send a PR with that?

[2015-12-23 22:14] karlnapf commented on #2960
Argh, apparently not.

if you can copy the file locally, edit, and then send me an email with it, I can review and merge your changes

[2015-12-23 22:25] yorkerlin commented on #2960
Gist?

On Wed, Dec 23, 2015, 17:14 Heiko Strathmann <notifications@github.com>
wrote:

[2015-12-23 23:44] kayhan-batmanghelich commented on #2944
@karlnapf @lisitsyn @panCtrlV

This is my output:

[code]

[code]

I think something like what you said is happening here, this is what I see inside of Cache file:

[code]

What is the right way to fix it? I can go and change some of the variables via `ccmake` but I want to make sure that I don't miss any varaible.

Thanks

[2015-12-24 00:16] karlnapf commented on #2960
Gist is also fine

[2015-12-24 00:17] karlnapf commented on #2944
You need to build shogun against the library that is used within your python interpreter. That's all. Just change the cmake python path that should do it

[2015-12-24 03:47] yorkerlin commented on #2959
@karlnapf
At least in a red hat server and my laptop (fedora), I get the same error when I build shogun (4.0 and develop version) with PythonModular=ON from scratch. The error disappears when doxygen is updated to 1.8.6.

[2015-12-24 03:48] kayhan-batmanghelich commented on #2944
I did that it still produce segmentation fault. Not during import of the python module when I try to running example:

[code]

I have attached the cache file:

[code]

[2015-12-24 12:32] sanuj commented on #2960
[Here](https://gist.github.com/sanuj/e41d074cee97cb87e23e) is the gist.
@karlnapf You can clone it via the following link on your machine.
https://gist.github.com/e41d074cee97cb87e23e.git

[2015-12-24 14:28] karlnapf commented on #2959
Ok then I have sent a patch

[2015-12-24 14:28] #2959 closed

[2015-12-24 14:43] karlnapf commented on #2960
Great, thanks a lot @sanuj

One request. Could you respect the 80 character margin? As was done in the file before? This makes reading in text editors easier.....

[2015-12-24 14:55] besser82 commented on #2959
@yorkerlin Which version of Fedora are you using?  [All active maintained versions of Fedora](https://apps.fedoraproject.org/packages/doxygen) ship doxygen >= 1.8.10.

For RHEL / CentOS / Scientific Linux, I can provide a recent version of doxygen through EPEL.

[2015-12-24 15:52] sanuj commented on #2960
@karlnapf I have updated the gist as you suggested.

[2015-12-24 18:50] karlnapf commented on #2960
Thanks @sanuj I merged it. See [here](https://github.com/shogun-toolbox/shogun/wiki/README_developer)

[2015-12-24 18:50] #2960 closed

[2015-12-25 23:52] karlnapf commented on #2667
So is there any conclusion here?
Make c++11 mandatory?

[2016-01-05 01:04] erip commented on #2431
Recommend closing this issue: OpenCV is no longer in the travis builds.

[2016-01-05 02:30] #2431 closed

[2016-01-06 03:15] erip commented on #2936
@karlnapf FWIW I've tried to push as well. No luck so far - time will tell.

[2016-01-06 03:22] erip opened #2965 "Issue audit"
Many issues I see that have been raised seem to have no tags or no recent updates. Asking for an update or recommending closure when searching for work is cumbersome.

I think issues should be audited and tagged so contributors can jump into a specific tag instead of weeding through all of the issues. This has the advantage of closing many out-of-date issues and making shogun contributors look rea

[2016-01-06 10:19] karlnapf commented on #2936
Lets just stay on this, ask periodically....sometimes helps ;) But it's a thin line to annoyance ;)

[2016-01-06 10:20] karlnapf commented on #2965
Haha....yes definitely.
We all do this every now and then. It is hard to keep such things up over a long time.
Generally, I am all up for closing issues that are "old".
What do you suggest to make us look really efficient?

[2016-01-06 14:54] erip commented on #2965
@karlnapf It's unclear at the moment. I can brainstorm and give some ideas later. Once issues start closing (I imagine there are many), it'll probably become a more maintainable goal. Seeing 300+ open issues at a given time is overwhelming to everyone: owners and contributors alike.

[2016-01-06 14:55] erip commented on #2936
We should just develop a quick script that checks the status of the issues. If they haven't been merged, just submit a hard-coded comment. [inspiration](https://github.com/NARKOZ/hacker-scripts)

[2016-01-06 17:27] karlnapf commented on #2965
I think it is better to document all thoughts, problems, bugs etc than to ignore them.
At least new people can choose from a large set.
The art is to group the issues we want to solve for a next release. In fact, we did this in the past. Feel free to suggest things here....

[2016-01-06 18:13] erip commented on #2965
Right. The goals is to only close issues *that aren't issues anymore*. [This](https://github.com/shogun-toolbox/shogun/issues/2431#event-505466368) is an example of such an issue. If tags were added and issues were tracked regularly (monthly? quarterly?), only **relevant** issues would still be open.

[2016-01-07 03:18] iarroyof commented on #2945
Hi all, I just tested the corrections in this issue for real-world data. This data must be loaded from a file. It seems this fact changes the matrix object in deep.

I replaced the line  9 of this file https://gist.github.com/karlnapf/645e1c2744fd9e8f1936 by:

`train_data =csr_matrix(mmread('sparse_train.mtx')).astype('float64')`

where `sparse_train.mtx` contains:

[code]

The given error is:

[c

[2016-01-08 14:13] vigsterkr commented on #2958
Sooooo

merry xmas (both roman catholic and orthodox) and new year!

can i help with this in any ways?

viktor

[2016-01-10 12:53] arasuarun commented on #2700
@lisitsyn In the same paper, they described PReLu's - Parameterised Rectified Linear Units, which are a general form of ReLu's and are more effective than Leaky ReLu's.
Are you guys planning on getting them into Shogun? If so, I'd like to have a go. Thanks. :)

[2016-01-10 15:00] karlnapf commented on #2700
That is good stuff, I heard about these.

BUT given the current state of nn implementations in shogun it would be better to tune them for speed and run some comparisons with other libs. Reading over the code there is tons of potential speed ups

[2016-01-10 15:03] karlnapf commented on #2958
Merry :)

Yes, let's do the change.
There are only few files which cannot be updated. We need a cake switch for
them I guess....

Sergey thought it was a good idea to put a small header referencing the
main license file and then put names of authors in order of got log
frequency

Thoughts?

On Friday, 8 January 2016, Viktor Gal <notifications@github.com> wrote:

[2016-01-10 15:16] arasuarun commented on #2700
Oh... okay, cool. I'll start looking at optimisation stuff like rmsprop, then. Thanks.

[2016-01-10 21:55] karlnapf commented on #2700
One thing to do would be to try to use the linalg library for some of the operations dones within the code.
Convolution is an example. There might be others.
Then using some simple parallelism (openmp) might also help.
Then, thinking which operations could go on GPU?

[2016-01-10 21:58] lisitsyn commented on #2958
hey guys,

I'll start a branch.

[2016-01-10 22:00] karlnapf commented on #2958
Great, thanks @lisitsyn

[2016-01-12 15:35] arasuarun opened #2967 "Implementing rmsprop stochastic optimisation for neural nets"
A brief description of rmsprop, which is used in speeding up mini batch learning: http://www.cs.toronto.edu/~tijmen/csc321/slides/lecture_slides_lec6.pdf
(3rd from last slide)

The “maths” part has already been written in /lib/optimisation/RmsPropUpdater.cpp and the training algorithm has to be implemented in the Neural Networks package

[2016-01-12 15:37] arasuarun commented on #2967
The current plan I have is to add data members required for rmsProp to NeuralNetwork.cpp with default values such that RmsProp doesn't make any difference.
The parameters required for rmsprop are (i.e. creating an RmspropUpdate object) :
1. learning rate (already in NN.cpp)
2. epsilon
3. decay_factor

In this way, there will always be an RmsProp update object in the training function regardless of

[2016-01-13 12:58] #1784 closed

[2016-01-20 20:52] lisitsyn commented on #2958
Ok here is how we could do that:
[code]

[2016-01-21 08:32] arasuarun commented on #2967
From the suggestions of @yorkerlin it makes more sense to have a general implementation, instead of just RmsProp. Hence, we can use AdaDeltaUpdater, AdaGradUpdater, RmsPropUpdater, etc... without changing the code in neural nets.

@iglesias @lisitsyn @yorkerlin My understanding so far is that they all derive from DescendUpdaterWithCorrection. The optimisation methods that are already there (and to

[2016-01-21 10:07] iglesias commented on #2967
It makes sense to me.

[2016-01-22 03:27] arasuarun commented on #2967
So, Descend Updater is the base class for all these optimisation methods, which all have the "update_variable" method with the same parameters.
I have a doubt about the implementation: how exactly would the user choose which optimisation method he wants? Is it like we have a DescendUpdater *object as a data member in neuralnetwork.cpp* and the exact derived class can be chosen by constructing that

[2016-01-22 03:36] yorkerlin commented on #2967
From user' view,  users only need to pass a string (enum class) to use
existing optimizers.
For implementation, we may use factory pattern or strategy pattern.
Any other ideas?

On Thursday, January 21, 2016, Arasu Arun <notifications@github.com> wrote:

--
best,

wu lin

[2016-01-22 10:52] karlnapf commented on #2958
Good. Want to start a PR?

[2016-01-23 13:07] arasuarun commented on #2967
@yorkerlin Sorry for the late reply. I'll check the patterns you mentioned and get on it right away. Thank you. :)

[2016-01-23 16:53] arasuarun commented on #2967
I understand the strategy method implementation.
One question: if we use enums, how will the user choose among them?
By giving the **integer** or the **string**?
[code]

[2016-01-24 18:02] arasuarun commented on #2967
I've started #2971 for this issue. I followed the strategy pattern for the implementation.

[2016-01-26 09:03] lisitsyn commented on #2425
As of 038280845fd7fb886f4459996f1405f8ca8c1612 we require SWIG 3.0.7 which supports a feature that is being used by 7b7e1f3dbfae13877819c00b0f612a9a0af3b464 to overcome this problem in general.

Thanks, @tpokorra!

[2016-01-26 09:03] #2425 closed

[2016-01-26 09:29] tpokorra commented on #2425
Great, Thanks lisitsyn!

[2016-01-26 16:42] karlnapf commented on #2945
Seems weird indeed. What is the output of mmread itself then?

[2016-01-26 18:02] iarroyof commented on #2945
Thank you for reply @karlnaf.

Given the input is in sparse format mmread returns a coo_matrix (a scipy sparse matrix):

http://docs.scipy.org/doc/scipy/reference/generated/scipy.io.mmread.html#scipy.io.mmread

At the moment it is impossible loading a file in sparse format and then getting SparseFeatures

[2016-01-31 09:21] beew commented on #2654
Let us know how things go from now!

Getting back a little late since I have not been using shogun's R interface

I don't know how to fix the codes or make a patch but the problem I think is in

shogun/src/interfaces/r_modular/CMakeLists

More  precisely these lines

[code]
What follow COMMAND echo are basically commands to be executed in R. When R  runs its work directory is given by the function

[2016-01-31 11:13] besser82 commented on #2654
@beew: Can you confirm the referenced patch works?

[2016-01-31 15:43] beew commented on #2654
I am happy to test it but I don't know where the source code is, the development branch has not been updated.

[2016-01-31 16:38] beew commented on #2654
Just saw the link to your change so I manually edited the file. It works.

[2016-01-31 17:05] beew opened #2975 "How to build octave modular examples"
I am building shogun octave modular on Ubuntu with the option

  -DGENERATE_EXAMPLES=ON

The first time CMake produced these errors
[code]
So I edited get_type_listl.sh to change
[code]
to
[code]
This time there is no "No such file or directory" error but still the "Bad substitution" persisted, but it did produce a list of examples from typelist.

Build went through successfully and these examples

[2016-01-31 19:29] karlnapf commented on #2945
The error you have actually comes from the fact that there is no feature data set internally. This can have multiple reasons. Let's try to isolate the problem a bit....

What happens if you ask the feature object for its number of vectors and features? Or for the full matrix?
[code]

[2016-02-01 05:24] #2654 closed

[2016-02-01 05:24] besser82 commented on #2654
Issue resolved.

[2016-02-01 05:45] besser82 commented on #2975
Hey!

In Fedora's rpm-build, I simply `cp -pr` them into their destination directory after `make install` and pick them up into the package in `%files`.  That's all; no special magic.  This possibly might be an issue with CMake, too;  I'll dig into the build-scripts and try to figure that out…

Cheers

[2016-02-01 12:41] iarroyof commented on #2945
This is the output:

[code]

[2016-02-01 21:59] beew commented on #2634
Any news here? I have encountered the same situation.  First I got
[code]
Then after changing '-o' to '-output' in shogun/src/interfaces/matlab_static and rebuild got
[code]

[2016-02-01 22:29] beew opened #2976 "Proper way to build octave modular interface"
Hi,

I  am able to build the octave modular interface for octave 4.0 successfully but only after rebuilding octave with this patch (comment 12 in http://savannah.gnu.org/bugs/?41027)  Same issue since octave 3.8 , see https://github.com/shogun-toolbox/shogun/issues/1995

If just build octave normally or install from distro's repo (Ubuntu 15.10) then shogun doesn't build. What should be the proper

[2016-02-02 00:03] besser82 commented on #2976
Hello @beew!
We have a patched octave in the Fedora repos…  The bugreport is from the maintainer of Fedora's ocatave-package…

[2016-02-02 00:46] beew commented on #2976
Hi,

Thanks for the reply. Maybe someone should update the Wiki with a link to the patch so that users will not waste their time unnecessarily?

[2016-02-05 16:24] arasuarun commented on #2710
Do we have a completely new Network class which has a Preprocessor (say DimensionReduction) member (sent via enum or object) and applies that on the given input, generating an output which is now the input for the rest of the network? This preprocessing has no part to play in the remainder of the training, right?

[2016-02-06 13:58] arasuarun opened #2977 "Adding RNNs, HFO and LSTMs to neural nets"
*Recurrent Neural Networks* and *Long Short Term Memory* would be great additions to the neural nets package.
They are usually used with the *Hessian Free Optimisation* training algorithm. HFO can also be used with CNNs, I believe.

I'd like to start building those if I get the green signal. Thanks.

[2016-02-08 23:51] lisitsyn commented on #2710
@arasuarun yes it is would be like a non-learnable layer, that transforms data though

[2016-02-08 23:53] lisitsyn commented on #2977
@arasuarun this is indeed good. Although lets get really careful with design, RNNs are a bit more tricky. We could need some real redesign to support that, I don't know yet

[2016-02-09 02:32] arasuarun commented on #2977
@lisitsyn How about we start with HFO? It involves mostly linear algebra: conjugate gradient, R-operator. **hfo** could probably be a separate module in /optimization like **lbfgs**. A corresponding train_hfo method could be added to NeuralNetwork as well.

I'll start a separate issue for this if you want. Else, we can just continue on this one. Thanks.

[2016-02-09 15:29] SergeySmith opened #2980 "Issue with building LPM.cpp.o on Debian 8.3"
Hi all,

I'm trying to build Shogun on Debian 8.3 (GCC 4.9.2) and I've encountered the following error when compiling LPM.cpp:

In file included from ~/shogun-develop/src/shogun/classifier/LPM.cpp:15:0:
~/shogun-develop/src/shogun/classifier/LPM.h: In member function ‘virtual void shogun::CLPM::set_features(shogun::CDotFeatures*)’:
~/shogun-develop/src/shogun/classifier/LPM.h:61:12: error: invalid

[2016-02-10 18:21] arasuarun commented on #2977
@lisitsyn?

[2016-02-10 18:39] yorkerlin opened #2982 "implementing and integrating structured and stochastic inference for GP"
I will work on these ideas based on Andrew's work and our paper.

Reference:
http://www.cs.cmu.edu/~andrewgw/pattern/
http://approximateinference.org/accepted/KhanEtAl2015.pdf

[2016-02-10 23:52] iarroyof opened #2983 "GaussianKernel seems to be not initialized with 200-dimensional vectors"
Hi all,

Im trying to determine what is the issue while training MKL with Gaussian kernels. Until now, I have detected the subkernels do not initialize for my data. This data consists on 200-dimensional vectors. I have attached 3 of them in order you can reproduce the issue:
[code]
The output for the `k0` kernel matrix is a greater than zero matrix; however, for the `k1` kernel is a ones-diagonal

[2016-02-11 13:28] fernandorocha commented on #2773
when I try to build the examples, basic_minimal is built, but got the same error for the others. I'm on a up-to-date ubuntu 14.04 LTS, installed shogun from repository.

[2016-02-12 07:20] SergeySmith commented on #2980
I've managed to solve the problem by replacing the default compilers (cc and c++) with GCC.

[2016-02-12 07:20] #2980 closed

[2016-02-12 10:39] iglesias commented on #2983
Why the kernel matrices you are getting means that the subkernels do not initialise for your data? What kernel matrices do you expect instead?

[2016-02-12 13:19] iarroyof commented on #2983
Thank you for reply @iglesias.Probably something different to the identity matrix (although the kernel indeed initializes, but it does it wrong). It is what I get regardless of the values of the input vectors. It does not happen for toy data, perhaps less than 100 dimensions.

[2016-02-12 13:38] iglesias commented on #2983
My point is that if you don't know what the values of the kernel matrix should be, why can you conclude that the identity matrix is not the correct one?

Also, I think that you might be inputting the feature matrix wrong when you create the RealFeatures object. Note that the kernel matrices that are displayed are rather large whereas if you only want to input three feature vectors the kernel matri

[2016-02-12 16:42] iarroyof commented on #2983
Sorry @iglesias, indeed I had an error while copying the example from mi whole code (otherwise, the predictions I mentioned wouldn't be performed due to labels-samples mismatching). After the vector definition I posted before, I modified my code as follows:

[code]
which gives the next output:
[code]

[2016-02-12 21:53] iglesias commented on #2983
Cool. I understand the issue is solved now.

[2016-02-12 21:53] #2983 closed

[2016-02-12 22:31] iarroyof commented on #2983
Hi @iglesias. Sorry, you mean I need recompiling Shogun for having solved the issue in my installation?

[2016-02-13 19:02] lisitsyn commented on #2977
@arasuarun yes sure. Sorry for late answer

[2016-02-13 19:37] SergeySmith opened #2986 "Shogun failed to compile LPM.cpp when indicating Cplex in CMakeList, possibly a bug"
Hi all,

I've already reported this issue but not as detailed as this time. I've succeeded to build and install Shogun 4.1.0 without Cplex. I have Cplex directory in PATH and Cplex lib in LD_LIBRARY_PATH but `ccmake CMakeList.txt` is not able to find Cplex, that's why I had to write it manualy:

I've tried `libilocplex.a` as well but the result during `make` is the same error (for both CC and GCC)

[2016-02-14 10:29] kno10 opened #2987 "k-Means is very slow, scales badly with k"
This variant of k-means (which is overly complicated) scales very badly.

Some observations:
* at the beginning of each iteration, the mean is recomputed (in `if (!fixed_centers)`). Afterwards, it is incrementally updated, but that data is never used. All use of `mus` in the second loop can be deleted.
* in each iteration, each vector will be retrieved three times, and freed three times, where one

[2016-02-14 10:36] kno10 commented on #2987
Update: I found another issue with this k-means. It is also initialized very badly. Every point is randomly assigned to a cluster, which will cause cluster centers to be very close to each other. The more common random initialization is to simply choose k random instances, and use these as centers.
The k-means++ initialization does not appear to be available using the command line interface.

[2016-02-14 10:41] kno10 commented on #2987
Ouch. It also chooses `n` random instances during each iteration, instead of using each one time? That only means it randomly ignores about 1/3rd of instances in each iteration:
`const int32_t Pat=CMath::random(0, XSize-1);`

[2016-02-14 10:45] vigsterkr commented on #2987
@kno10 yeah indeed when i started some benchmarking of shogun, i've started with k-means and currently i do agree that's it's in a rather horrible state. :(

[2016-02-14 10:50] iglesias commented on #2983
Hey @iarroyof. No, I did not mean you need re-compiling. Coming back to one of the comments I made, if as you say the identity matrix is not the correct matrix for your kernel and data, what should the kernel matrix be instead?

[2016-02-14 11:14] kno10 commented on #2987
For k-means, I've made a pull request #2988 with some of these changes, but I have not tried to compile it, nor tested or benchmarked it. But this may save you some work.

I don't know if anybody in Shogun has much interest in k-means, so #1263 may have a point.

Hierarchical clustering also benchmarked rather slow. It runs out of memory at 50000 and took 32 seconds for 20000 instances. The better

[2016-02-15 09:00] iglesias commented on #2987
Hi @kno10, thanks a lot for your analysis and the comments.

Regarding the first observation in your first comment, why do you say that `mus` is never used in the second loop (the `for` loop that starts after the block `if (!fixed_centers)  { ... }` ends)?

[2016-02-15 11:44] kno10 commented on #2987
`mus` is only modified, but never _read_. All distances are computed to the copy in rhs_mus. The algorithm terminates when the centers did not change anymore (then mus has not changed either in the second loop). At the beginning of the next iteration, `mus` is set to zero again in line 53.
Thus, the only case when these updated values are used is if max_iter is hit. Then the updated values from th

[2016-02-15 12:39] iglesias commented on #2987
I *think* (perhaps I am getting it wrong) that `mus` is both read and written. Note that in lines 110 and 124 the operator used is `-=`. It is not probably not the most readable way of doing this :-)

Does that make sense to you?

[2016-02-15 12:56] kno10 commented on #2987
Its _modifed_, but not used afterwards. There are no "side effects" beyond updating `mus`, are there?

[2016-02-15 13:29] iglesias commented on #2987
It does, because `fixed_centers` can be true. However, I do agree with you that all the work done to update mus is a waste in case `fixed_centers` is false -- which may be the most common use case.

I think we should break up this method into two methods, and use either of them depending on the value of `fixed_centers`.

It is great that you pointed this out! Thanks a lot.

[2016-02-15 13:46] kno10 commented on #2987
`fixed_centers` makes no sense, because if the centers are fixed, _iterating_ is nonsense - it's not k-means anymore. `fixed_centers` should be handled by the NN classifier instead, every point is assigned the nearest center as label.

[2016-02-15 14:34] iglesias commented on #2987
@kno10, can you share the code you used for the benchmark results you mentioned above? A gist or similar would work fine.

[2016-02-16 09:01] karlnapf commented on #2987
Thanks a lot @kno10 for investigating this. I totally am for dropping such disasters, as they are doing more bad than good.

In fact, I am thinking about a GSoC project that is just about going through our "simple" ML algorithms, benchmarking them a bit, identifying problems (as you did here), and then either dropping or re-writing.

[2016-02-16 09:03] karlnapf commented on #2987
@kno10 I just had a look. If you are interested, you could attempt a re-write that solves the above problems. This might be a nice entrance task for the mentioned GSoC project as well

[2016-02-16 14:31] kno10 commented on #2987
Sorry, my focus is on ELKI. I used Shogun solely for comparison.

[2016-02-16 15:14] karlnapf commented on #2987
No worries. Thanks!
I used your report in a GSoC project proposal here:
https://github.com/shogun-toolbox/shogun/wiki/GSoC_2016_project_fundamental_usual_suspects

Hopefully we resolve a few of those during the summer!

[2016-02-16 16:15] iarroyof commented on #2983
Hi @iglesias Thank you very much for your advise. I implemented a simple Guassian kernel for computing some values of the kernel matrix for my data. This confirmed Shogun `GaussianKernel` is working. Then I retrieved some mails you and @karlnapf kindly send me a couple of weeks ago (which I did not realize I received). In these mails I saw the following:

So I investigated a little more:

http://s

[2016-02-16 18:43] arasuarun commented on #2710
Should we add Gaussian noise to the data before or after preprocessing? (referring to **compute_activations** in [Neural Input Layer](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/neuralnets/NeuralInputLayer.cpp))

My idea is to derive *Neural Preprocessor Layer* from *Neural Input Layer* and do the preprocessing step in the compute_activations method. This would be suitable for

[2016-02-16 19:55] karlnapf commented on #2983
Great to hear! :)

[2016-02-16 20:43] lisitsyn commented on #2710
@arasuarun I think gaussian noise should be made up of just another layer, could be done later.

Anyway, wouldn't making it input layer restrict us from putting it somewhere between other layers?

[2016-02-17 16:21] karlnapf opened #2991 "Improve a Shogun algorithm"
Entrace task for the GSoC project "the usual suspects", see [here](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2016_project_fundamental_usual_suspects). Also a good entrance task for any other GSoC project.

Many of Shoguns algorithms have problems, especially the more basic ones. We might not even know about this. This entrance task is to

0.  Pick a simple ML algorithm (see below)
1.  Wri

[2016-02-17 21:01] ibrahim5253 commented on #2991
@karlnapf  can you please direct me to a specific but very basic issue/bug that I can start with? Found #2987 a bit involved.

[2016-02-18 00:47] beew opened #2992 "R does not find shogun"
Hi, built R-modular interface for shogun without error. But after after make install  R cannot find shougn

From R
[code]

Shogun is installed in /usr/lib/R/library/shogun as it should. Everything looks ok.

shogun 4.2.0 20160217, R 3.2.3, OS Ubuntu 15.10 64 bit. With shogun 4.1.0 release R could find shogun with no problem.

Thanks.

[2016-02-18 02:44] beew commented on #2992
Running in R installed.packages() shows
[code]
But previously it showed

[code]
Not sure if that is relevant.

[2016-02-18 12:40] karlnapf commented on #2991
Yes, you might want to get rid of the LAPACK calls in [KRR](http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CKernelRidgeRegression.html)

These can be replace with Eigen3 calls.

Unit testing is also not existing here.

In addition, if you feel brave, you might want to add a linear solve to our ```linalg``` library. @lambday can give hints here

[2016-02-20 14:28] youssef-emad opened #2995 "Failed to install DPythonModular on Ubuntu 14.04"
I have Ubuntu 14.04
swig 2.0.11
gcc 4.8.4
python 2.7.11
numpy 1.10.4

I ran `cmake -DPythonModular=ON ..` and I get this at the end
[code]
Then I ran `make` but it fails at 86%
[code]

[2016-02-20 15:25] Saurabh7 commented on #2987
hi guys, ran some timers on handy clustering datasets, results (seconds) :
The shogun(new) is after updating some of the changes discussed above

- remove random sampling of instances
- remove unnecessary updating of centers (which would mean we have to handle fixed centers separately )

instances = ~5000

k | 10 | 100 | 1000
---|-----|-----|---------
scikit | 0.09 | 0.58 | 3.565
mlpack | 0.08 | 0

[2016-02-20 16:58] karlnapf opened #2996 "Fix KNN doxygen documentation"
The Latex contains bugs and looks ugly.

http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CKNN.html

[2016-02-20 17:10] lgoetz opened #2997 "missing notebook descriptions"
The descriptions for [previous GSoC notebooks](http://www.shogun-toolbox.org/page/documentation/notebook) are missing

[2016-02-20 18:27] lisitsyn commented on #2995
I am not sure about this error, but as a general thing I'd recommend newer swig.

[2016-02-20 20:12] besser82 commented on #2995
No, the problem is:  He's trying to link against a static python-lib, which is not compiled to link into dynamic-so...
Am 20.02.2016 19:27 schrieb Sergey Lisitsyn <notifications@github.com>:I am not sure about this error, but as a general thing I'd recommend newer swig.

—Reply to this email directly or view it on GitHub.

[2016-02-20 21:30] youssef-emad commented on #2995
@lisitsyn  I used swig 3.0.2 and nothing changed
@besser82 so what can I do to solve the issue ?

[2016-02-21 12:36] karlnapf commented on #2997
@sonney2k @vigsterkr I think this might be easy to solve, but I dont know how?

[2016-02-21 13:10] youssef-emad commented on #2995
@besser82 I believe you are right and I found similar problems to mine in other libraries  but I can't find an appropriate solution so can you help me with that ?

[2016-02-21 17:16] ghost opened #2998 "shogun project with CLion"
Hi everyone

I'm having troubles compiling shogun project from CLion 1.2.1 on Linux Mint 17.1 x86_64.
Despite the following line in top CMakeLists.txt the include of `'${CMAKE_SOURCE_DIR}/src` directory isn't working:
`INCLUDE_DIRECTORIES(${CMAKE_SOURCE_DIR}/src`
`${CMAKE_SOURCE_DIR}/src/shogun`
`${CMAKE_BINARY_DIR}/src`
`${CMAKE_BINARY_DIR}/src/shogun)` <br>

Which results in all `<shogun/...>` i

[2016-02-21 19:40] youssef-emad commented on #2995
Thanks to Gamal ElKomy from the mailing list , The solution is that the directory of everything needed should be specified in the cmake command
cmake command should be
`cmake -DPythonModular=ON -DPYTHON_EXECUTABLE=/usr/bin/python2.7 -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython2.7.so.1  -DPYTHON_PACKAGES_PATH=/usr/local/lib/python2.7/dist-packages

[2016-02-21 20:17] #2995 closed

[2016-02-22 01:38] #2992 closed

[2016-02-22 01:39] #2900 closed

[2016-02-22 09:55] karlnapf commented on #2987
Good to see you back here @Saurabh7

Thanks a lot for this example. These results are quite extreme. Can you post the scripts that generated them somewhere? (Your own public repo for example). I would like to have a look at them.

Do the methods produce the same results?

We now have to find out what makes the other implementations so fast (and copy the design). Then we can attempt to fix things.

[2016-02-22 10:16] karlnapf commented on #2998
Can you build Shogun on your system without CLion?

[2016-02-22 10:20] nginn commented on #2998
@karlnapf yes, I can using the same cmake 3.2.2

[2016-02-22 15:33] karlnapf commented on #352
Its broken, re-opening

[2016-02-22 16:01] karlnapf opened #2999 "Investigate cereal for serialization"
http://uscilab.github.io/cereal/

Write a minimal use-case where a Shogun class is serialized using this library

[2016-02-22 19:20] karlnapf commented on #2816
All done, just need to merge now

[2016-02-22 19:20] #2816 closed

[2016-02-22 19:22] karlnapf opened #3000 "Replace an undocumented example by a cookbook page"
Add a single page in the cookbook, replacing a python/octave/ ... example.

The patch should contain 3 changes
- added .rst file
- added .sg file
- remove .py, .m, ... files

See https://github.com/shogun-toolbox/docs/blob/master/EXAMPLES.md and https://github.com/shogun-toolbox/docs/blob/master/DEVELOPING.md for instructions.

NOTE: There are many many of those, so this needs many people solving

[2016-02-22 19:26] lgoetz opened #3001 "large scale GP project"
@yorkerlin I'm tuning the GSoC 2016 project descriptions and removed the "note: this description is not yet complete" for the Large-scale GP project (looked pretty complete to me). If it's not, please complete it.
Thanks!

[2016-02-22 20:56] youssef-emad commented on #2810
@lisitsyn I made the simple changes needed for shogun 4.1.0, here's a gist
https://gist.github.com/youssef-emad/0789b4f5cd3ed0227704

[2016-02-22 21:53] #3001 closed

[2016-02-22 21:55] yorkerlin commented on #3001
Thanks!

On Mon, Feb 22, 2016, 16:53 Lea Goetz <notifications@github.com> wrote:

[2016-02-23 08:36] Saurabh7 commented on #2987
Thanks @karlnapf , I have posted the scripts at https://github.com/Saurabh7/shogun-benchmarks/tree/master/kmeans . You can reproduce quickly with the python scripts i guess.
I haven't looked at the quality of the results yet.

As you said lot of things could be changed: using new `SGVector,` `SGMatrix` operators , `linalg` operations, etc. after which we can compare the results again.

One problem

[2016-02-23 14:51] Soham0 commented on #2999
Hi,

I am Soham and I am doing my MS in Computer Science and Engineering from IIIT Hyderabad,India. I am extremely interested in contributing to Shogun ML Toolbox. My interests are in Machine Learning, Optimization and Deep Learning. I am comfortable with Python, Octave, Java and C++.  Is this a good place to start? If not can you suggest where I should start . Any help would be immensely welcome.

[2016-02-23 19:35] karlnapf commented on #2987
Thanks! Some comments:

Sanity check: you build the shogun library with compiler optimizations enabled right? That is DBUILD_TYPE=Release ? and the script as well?

I agree with all the other points. Using std anywhere is not really necessary.

I agree with the documenting/testing. However, if the current code design is slow and needs to be replaced anyways, there is not really a need for this. Ma

[2016-02-23 19:36] lgoetz commented on #2999
Hey Soham,

Welcome to Shogun! since you're replying to #2999, I suggest you pick your favourite Shogun class and try to serialise it with cereal. If that works, pick another one :)
You can also attempt any of the other issues labelled as "entrance", for example #3000 or an easy one #2996.

Here's a full [list](https://github.com/shogun-toolbox/shogun/issues?q=is%3Aopen+is%3Aissue+label%3Aentrance

[2016-02-23 19:38] karlnapf commented on #2999
Hi @Soham0, welcome!
It is better to introduce yourself (and ask such questions) on the mailing list. We should discuss issue related things here to keep the thread clean.

Apart from that, @lgoetz is absolutely right, try to build a prototype of a Shogun class that is serialised with cereal. This task might be a bit more tricky than others, so only attempt it if you know a bit of c++

[2016-02-23 23:04] karlnapf opened #3002 "Create automated docker build"
See https://docs.docker.com/engine/userguide/containers/dockerrepos/

Section "Automated builds"

Our Dockerfile is in ```configs```

[2016-02-24 00:08] karlnapf commented on #2810
Thanks @youssef-emad

Is it possible to send a pull request with this?.

Thanks!

[2016-02-24 05:03] youssef-emad commented on #2810
@karlnapf I am not sure I can make a pull request with a wiki , I depended on this past closed [issue](https://github.com/shogun-toolbox/shogun/issues/2960).

[2016-02-24 15:14] lgoetz commented on #2810
@youssef-emad is right, github doesn't support pull requests for the wiki, so I've manually updated the wiki for you - for now.
@karlnapf @lisitsyn we could think of recommending people to do [something like this?](http://fusiongrokker.com/post/how-you-can-contribute-to-taffy-documentation)

[2016-02-24 15:14] #2810 closed

[2016-02-24 15:42] karlnapf opened #3004 "Identify and replace GPL code"
We want to move our license scheme to BSD3.

However, Shogun contains certain code fragments that we copied from other projects that were GPL. These are not compatible with our new license.

This task is to identify these fragments and document them in this issue thread. This does _not_ include GPL code that was written by us (i.e. has a Shogun copyright). An example are the alglib routines in [CS

[2016-02-24 15:48] karlnapf opened #3005 "Make sure all tests/examples run in <1s"
There are currently many tests/examples than run more than 10 seconds, which makes the test build slow.

run ```make test``` with Python modular enabled to get a list of timings.

Here is a snippet from running this where running times are exceeded (in this order: python example, c++ example, unit test)

[code]

After having identified such tests, edit them to run in less than a second via decreas

[2016-02-24 16:57] karlnapf commented on #3005
In fact, if touching a test. It should be made to run in less than 0.5s

[2016-02-25 12:08] karlnapf commented on #2810
Ah this is annoying.
I don't like the solution of manually merging and the one proposed in your link at all....
We have to find something cleaner.

[2016-02-26 05:38] Saurabh7 commented on #2987
@karlnapf Yes I did build with DBUILD_TYPE=Release.
Updating with a few more changes:

-  Random initialization : Now chooses k random instances as cluster centers rather than randomly assigning clusters. Then assign nearest points to cluster centers.

- Used linalg to scale the `mus` matrix. (Used a hack here as scaling each row of matrix by different scalar is not possible)

instances = ~20,000

[2016-02-26 10:26] karlnapf commented on #2987
Very good investigation @Saurabh7
I think we should focus on making our distance computation faster then since that seems to be a major game changer. AFAK our Gaussian kernel pre-computes the squared norms of the diagonal of the kernel matrix. Maybe we can change our CDistance class to do the same here.

But let's go very systematically:

1. Use a precomputed distance and benchmark against a preco

[2016-02-26 13:53] kno10 commented on #2987
1. Precomputing distances does not work, because k-means does _not_ use pairwise distances.
2. Precomputing squared norms does not help that much for dense data - and k-means is designed for dense data. Using dot products is great if you can exploit sparsity only; for dense data the memory bandwidth is usually the limit and it does not pay off to save the extra `sub` instructions.
3. Stopping earl

[2016-02-26 14:20] karlnapf commented on #2987
Thanks for your comments @kno10

1. You are right. But precomputing the distance allows to benchmark the algorithm itself, without the time spent computing distances. Therefore, it is instructive to hunt for bottlenecks. Especially if we cannot gain a lot via point 2.) we have to find another handle on speed.

2. True. Memory managment is key. @Saurabh7 maybe you can profile the memory usage to se

[2016-02-26 14:28] kno10 commented on #2987
Wrt. 1: What do you want to precompute? k-means does _not use pairwise distances_. And the means move around. So how would you precompute anything useful?

[2016-02-26 16:55] youssef-emad commented on #2718
@karlnapf @lisitsyn I made this [notebook](https://github.com/youssef-emad/shogun_notebooks/blob/master/Classification.ipynb) for different classification models.

[2016-02-26 18:03] youssef-emad opened #3013 "Importing some models fails if Eigen3 is not present"
I get name `'LDA' is not defined` when I installed Shogun without Eigen3 and the same for QDA and MCLDA.
So I think it should be made clear at Wiki that Eigen3 is required to use these models or may be Eigen3 can be a required library if there is many models depending on it.

[2016-02-27 12:12] lisitsyn opened #3015 "Compare outputs of meta-examples to assure cross-language results identity"
From the discussion with @karlnapf:

We could have a mode for meta-examples generation that collects all the outputs across different languages and then checks whether they are identical.

[2016-02-27 12:37] karlnapf commented on #3015
Purpose: Ensure that numerical results do not change if not covered by unit tests

Improvement over old integration tests:
 * Less false positives as we only test numerical values, and not the full serialized instances
 * We do integration testing across *all* target languages

Note: Meta example listings ```.sg``` files do not have to be touched for this. So this feature does not block starting u

[2016-02-27 16:28] karlnapf commented on #2987
Ah crap, you are of course correct. Too many things going on at once. Precomputing is not useful at all. Thanks for the hint!

@Saurabh7 how are things going?

[2016-02-27 16:32] karlnapf commented on #2718
Hey @youssef-emad
This is great, exactly what I had in mind. Thanks for that! Can you send a pull request? Then we can comment line by line!

[2016-02-27 17:19] karlnapf opened #3018 "SWIG lua does not support overloaded methods"
That is, when there are two c++ methods with the same name, lua modular interface only contains one of them.

[2016-02-27 17:29] karlnapf commented on #3018
Once resolved, lua can be re-added to meta-examples and cookbook.
See https://github.com/shogun-toolbox/shogun/commit/bba5b32cc5e2acc05eede83e29b89d62690cba16

[2016-02-27 18:34] youssef-emad commented on #3013
@karlnapf should I update the Wiki or should I change the build to make Eigen3 a required library ?

[2016-02-28 01:44] karlnapf commented on #3013
I think we can make eigen3 a requirement. If not present, we can bundle it easily. We had many discussions about this before and converged onto this without ever doing it.

A patch would remove all of the ```#ifdef HAVE_EIGEN3``` statements (and more, grep for eigen3) , and modify the cmake build to use eigen3 by default. If not available, it should either give an error message asking to bundle it

[2016-02-28 01:44] #3013 closed

[2016-02-28 10:37] Saurabh7 commented on #2987
@karlnapf Regarding your previous points

- yes scaling every row by a _different_ scalar is not possible in linalg
- Random init , yes scikit uses the same concept.
- In the new initialization we have to compute distances to centers which was not present in previous version, that is what i meant by a new constant cost. I will have a look at this deeper.
- Adding tol for convergence : yes we could

[2016-02-28 13:24] karlnapf opened #3020 "Separate CGaussianKernel from its compact version"
Separation of concerns: [CGaussianKernel](http://shogun.ml/CGaussianKernel) offers a compact option which slightly changes kernel computations. This should go to its own (sub) class.

This entrance task is to perform this simple re-factoring exercise (and change all places where the compact kernel is used in Shogun accordingly)

[2016-02-29 09:42] ellesec opened #3022 "Installation problem: R with OSX El Capitan"
Hi,

I am new to the Shogun toolbox and  have been having problems trying to install the toolbox with the R interface. The installation fails using both macports (Error: Processing of port shogun failed), and also when installing from source. I'm running OSX El Capitan 10.11.3. The new restriction in El Capitan that means that only Apple can install software under /usr has moved the location of R

[2016-02-29 09:54] vigsterkr commented on #3022
@ellesec can you tell us more about which version from the source, and which version of R and where is it located on your system?

[2016-02-29 10:05] ellesec commented on #3022
I'm trying to install shogun 4.1.0, and using R version 3.2.3 located at /opt/local/bin/R

[2016-02-29 10:22] besser82 commented on #3022
@ellesec:  Can you please try to add `-DR_EXECUTABLE=/opt/local/bin/R` to the CMake-command and see, if it works?

[2016-02-29 14:42] ellesec commented on #3022
If I run the cmake command with -DRModular=ON and -DR_EXECUTABLE=/opt/local/bin/R, I get the following error during make.

/System/Library/Frameworks/Accelerate.framework/Frameworks/vecLib.framework/Headers/vDSP.h:9871:41: error:
      redefinition of 'COMPLEX' as different kind of symbol
typedef DSPComplex      COMPLEX;
                                        ^
/opt/local/Library/Frameworks/R.fra

[2016-03-01 13:57] bollu commented on #2996
I'd like to pick this issue up. Tagging on this so I can find it later :)

[2016-03-01 18:06] youssef-emad commented on #2991
@karlnapf I made this [notebook](https://github.com/youssef-emad/shogun_notebooks/blob/master/LinearRegression.ipynb) for comparison between Least Square Linear Regression in [sklearn](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) and in [Shogun](http://shogun-toolbox.org/doc/en/latest/classshogun_1_1CLeastSquaresRegression.html).

As demonstrated in

[2016-03-01 18:57] karlnapf commented on #2987
Great, let us know when you had a chance to continue

[2016-03-01 19:06] karlnapf opened #3024 "Random features for KRR"
This entrance task is to use Shogun's Random Fourier feature framework to perform approximate kernel ridge regression. Most likely this involves coding up a LinearRegression class (or using existing) and pass the random fourier features in there. A demo in a notebook is also desirable.

If any questions, please ask, as this is a medium scale task

[2016-03-01 19:06] arasuarun commented on #2977
@lisitsyn Really sorry for the super late response. I had mid semester exams and submissions for like, 2 weeks.

1. Where directory should the R Operator (used in computing H*v http://www.bcl.hamilton.ie/~barak/papers/nc-hessian.pdf) be put?

2. This entire HFO business is huge: should we start with a generic class for 2nd order minimizers first? A Conjugate Gradient minimizer method, maybe?

[2016-03-01 19:18] arasuarun commented on #2710
@lisitsyn (Please excuse the late response) I'm a bit confused in the implementation. I think it'd be better if I had a better view of **why** this would be used. Could you give me any links to check out? (cause I couldn't find anything related myself)

[2016-03-01 19:22] arasuarun commented on #2723
@lisitsyn The entire output loop could probably be put into a separate function and vectorized, too. It's not exactly a pretty sight in the train_gd function as of now

What do you think?

[2016-03-01 19:34] karlnapf commented on #2991
Nice one, feel free to send a patch with corrections

* In linear regression, the bias term is the data mean. You can compute and add that explicitly. This is a great catch and should be fixed. Definitely, Shogun should take care of that by default.
* you could get rid of the ugly lapack call `cblas_daxpy`
  * either replace with a `linalg` solve. For that you would have to add that, see the Readm

[2016-03-01 19:36] abhinavmoudgil95 opened #3025 "Build error Shogun OS X El Capitan"
While building Shogun on OS X 10.11.3 with gcc 5.1.0 using command `make`, I get the following [error](http://pastebin.com/KmKt0N3B):

`/var/folders/w3/twgblmds5zl7xvgmnhn4wc000000gn/T//ccYbFSUj.s:34355:2: error: ambiguous instructions require an explicit suffix (could be 'fisttps', or 'fisttpl')
        fisttp  14(%rsp)
        ^
`

[This](http://pastebin.com/jXFfbjv9) is the generated log when I

[2016-03-01 19:41] karlnapf commented on #2991
BTW the [docs](http://shogun-toolbox.org/doc/en/latest/classshogun_1_1CLeastSquaresRegression.html)  state that the bias is set to 0. You can double check them as well, and clean up if there are problems.
But even if the docs mention the 0 bias, we should still change default behaviour

[2016-03-01 19:43] youssef-emad commented on #2991
@karlnapf I got it.I will push the last edits for the pull request and start working on this issue.

[2016-03-01 22:13] tonmoy-saikia commented on #3020
@karlnapf I am applying for gsoc this year and I found shogun really interesting! Couldn't wait to get my hands dirty. I would be interested in contributing more. Specifically, I am interested in contributing to deep neural network modules. It would be great, if you could throw some pointers!

[2016-03-01 22:58] karlnapf commented on #2991
Can you also check whether the algorithm works when a preprocessor is attached to the features?
There are for example zero-mean preprocessors.
BTW I think about the bias, we should have a boolean flag in the constructor that allows to turn off the bias (e.g. when the mean was remove already), where the default is that it is on.

[2016-03-01 22:59] karlnapf commented on #3013
Done in https://github.com/shogun-toolbox/shogun/tree/feature/eigen3_bundling which will be merged soon

[2016-03-01 23:06] karlnapf commented on #3005
Also, include the unit tests, there are many slow ones in there too

[2016-03-01 23:19] karlnapf commented on #3020
Thats the spirit :) Great way to introduce yourself with a patch! Thanks -- lets get it merged!

[2016-03-02 03:51] abhinavmoudgil95 commented on #3025
My C and CXX compiler was GNU 5.1.0. I changed it clang by running following commands:

[code]

and everything got built successfully.

[2016-03-02 03:51] #3025 closed

[2016-03-02 06:07] Vikisix opened #3029 "OSX Segmentation fault: 11"
Hi all!

I have just lost one day trying to solve this problem but I really do not know how to solve it. I want to run shogun on my laptop (OSX 10.11.3). I have installed shogun with macports and I have updated all the libraries with brew (as example I hade libcurl 7.0 so I have updated to 9.0 as requested with brew).

After this odissea , I try to run "import modshogun" in my python console, but

[2016-03-02 06:26] vigsterkr commented on #3029
macports based shogun is pretty outdated :(
try to use either brew or from src

[2016-03-02 07:53] Vikisix commented on #3029
I have cleaned the previous installation of macports and I tried to install shogun with brew.
The installation went all (apparently), however when I tried to import modshogun in python console It said:
 _modshogun.so requires version 12.0.0 or later, but libxml2.2.dylib provides version 10.0.0
So I have updated it using the suggestions in the following thread:
https://github.com/Homebrew/homebrew-

[2016-03-02 18:15] Saurabh7 commented on #2987
@karlnapf  some udpates:

- Used `SGVector` and `linalg::dot` to compute distances between vectors which led to decreased performance for some reason. Had a chat with @lambday in irc regarding linalg stuff. Anyway, to make this conclusive we decided this might need benchmarking itself with something like vectors starting with 2 dimensions going to say 100k dims logarithmically

- used ` CMath::dot

[2016-03-02 18:24] karlnapf commented on #2991
@youssef-emad Could we move the discussion in its own issue? You can just open one if you have updates...

[2016-03-02 18:28] karlnapf commented on #2987
* Thanks. Interesting that we are still slower! Shogun being slower should not be the case if the Implementation is similar
* The linalg dot is interesting -- it should also not be the case ...
* For convergence, did you set the sklearn criterion to mimic Shoguns one as we discussed above?
* Also, could you put your codes into a notebook and post the link here, so that we can see what is going on

[2016-03-02 18:46] youssef-emad commented on #2991
@karlnapf I don't have updates yet. I got a little bit busy with school but I'll start working on it by tomorrow.

[2016-03-02 19:20] Saurabh7 commented on #2987
Yes I did set the tolerance to zero.
The current implementation is definitely too complicated and is almost 10x slower without this changes. The unnecessary things can be easily removed though.
not all implementation details are same, they handle some things with cython too, but we can definitely improve with time. I can keep trying in parallel.
Posting the ipy notebook soon.

[2016-03-02 23:50] ibrahim5253 commented on #2746
Is this still open? Would like to work on this.

[2016-03-03 03:40] lambday opened #3032 "Separate linalg lib into a separate repository"
I think we should separate our internal linalg lib into a separate repository. We can then have
- the master branch (stable API) pulled into shogun main as a submodule
- a develop branch where we can do crazy experimental stuffs

IMO it separates the concerns of having to worry about maths related things and actual ML algorithm related things at the same time. The child repo can have
- it's own un

[2016-03-03 10:20] besser82 commented on #3032
So from my POV this is a good idea; I'm always open for splitting stuff and modularizing.  The only thing I would do differently:  Instead of having a sub-module in for this in Shogun, I'd transform the whole thing into a separate shared lib, so we can release it decoupled from Shogun and give improvements straight to the users.

Looking in the future, we're planning to pluginize Shogun…  So we co

[2016-03-03 11:25] lambday commented on #3032
@besser82 I really like this proposal. There are many static maths things that we can pull out from Shogun and put it there in a separate mathlib thing as well. Those things might be useful for other people as well. Plus it will make shogun lightweight - no need to compile those maths thing every time you compile shogun since they don't change.

I don't know what do you have in mind to make it a p

[2016-03-03 11:43] karlnapf commented on #2746
Yes, that is still open.
There is another problem, that some classes are detected as singletons by doxygen. E.g. CDenseFeatures

[2016-03-03 11:54] karlnapf commented on #3032
I agree in principle! This has many nice advantages.  In particular the fact that once the interface is fix, one can update/improve linalg without having to re-install Shogun.

However, I have some second thoughts as well.

One thing is that if we have a seperate lib, this one will depend on the Shogun core. In that way it will never be possible to use it as its own library. On the other hand, we

[2016-03-03 11:58] besser82 commented on #3032
@lambday Thank you very much! ^^
About the plugin-stuff:  I think you got me wrong with the plugin thing…  THe current linalg-thing won't be a plugin of Shogun…  It will be a lib interfaced by Shogun.  The plugin-stuff in this context is more like:  Try to generalize / abstract the operations performed using Eigen or ViennaCL (and possibly other backends that may be there like ATLAS / BLAS(?)) and

[2016-03-03 12:18] besser82 commented on #3032
@karlnapf What in Shogun core is so specific, we cannot split into the new lib?  I mean: There's always a way to break inter-circular dependencies…

I can do the CMake-part, work along on the code changes neccessary and guide the people involved with code-changes and all…

[2016-03-03 12:41] lambday commented on #3032
@besser82 ah I got your point. Maybe we should discuss in some more details about the design *if* we really decide to go forward for it.

If I didn't get this wrong, I think what @karlnapf means is that the linalg lib is supposed to provide API for SG-types. So that makes it dependent on Shogun core. Maybe there are ways to make it work with
- more generic `Vector`, `Matrix` (with some assumption

[2016-03-03 14:39] karlnapf commented on #3032
Yes the connection to the SGTypes is what I meant. I am just afraid that we start doing this and then get stuck somewhere in the middle. In my eyes, we should focus on actually *integrating* linalg first, and building the plugin framework first. Once both of those things are done, we can put it in a separate lib. Having said that, we can obviously already start drafting something. But I would be c

[2016-03-03 14:50] ajeetrocks100 commented on #2727
@karlnapf yup! right

[2016-03-03 16:19] Saurabh7 commented on #2987
@karlnapf alright i think I figured most of the differences out

- I was actually wrongly calculating the `lhs_squared_norms` _inside_ the iterations , fixed that moved it outside. Also removed some complicated `linalg::` stuf i was using on matrices, using just `linalg::dot` on vectors now and it looks good

- pre-calculating `rhs_squared_norms` now too. This is what I have to do inside iteration

[2016-03-03 17:43] youssef-emad opened #3033 "Add automatic bias computation in LinearMachine"
Adding Bias calculation to `train_machine`.
Replacing`cblas_daxpy` call by a `linalg` call or by using Eigen3.

[2016-03-03 17:47] youssef-emad commented on #3033
@karlnapf I have a question in the [train_machine()](http://shogun-toolbox.org/doc/en/latest/LinearRidgeRegression_8cpp_source.html#l00043) method.
what is the point of using a matrix (`kernel_matrix`)to hold the weights instead of using a vector?

[2016-03-03 17:51] rnviswanadh291995 commented on #3002
Hi,
I have done a few tutorials on automatic build in docker.
What do you expect as an output to the issue?

[2016-03-03 19:13] youssef-emad commented on #3033
@karlnapf I have one question in [train_machine()](http://shogun-toolbox.org/doc/en/latest/LinearRidgeRegression_8cpp_source.html#l00043).
I don't understand the use of kernel_matrix instead of vector to hold weights.

[2016-03-03 21:25] abhinavmoudgil95 commented on #3029
Any updates on this? I am also facing the same issue. Following are my environment variables:

[code]
If I change my `DYLD_LIBRARY_PATH` to `/usr/local/lib` as suggested on [INSTALL ](https://github.com/shogun-toolbox/shogun/wiki/INSTALL)wiki page, I get the following error:

[code]

[2016-03-03 21:52] karlnapf commented on #2987
Nice!
Ok, so it seems sklearn does somehow better for large k, where for small k the Python overhead makes it slower. This must be some systematic thing as well. *However*, this is great work and we should get it merged in the next step. Can you send a PR?
The other thing you might want to check is using openmp to parallelise the distance computation among multiple cores. BUT I would do that after

[2016-03-03 21:54] karlnapf commented on #3002
I guess we want a docker image that contains a full Shogun installation -- that is automatically updated say every day. We have one that is used for our travis builds, that is update from the above config file.

@vigsterkr Can you comment what type of thing can be done by a student here?

See also the [shogun-cloud](https://github.com/shogun-toolbox/shogun-cloud) repository.

[2016-03-03 21:55] karlnapf commented on #3033
What is the point of opening this exactly? :)

[2016-03-03 21:56] karlnapf commented on #3033
The point you asked why the kernel matrix is stored is simply: because the solution depends on a linear system involving the kernel matrix

[2016-03-03 21:58] karlnapf commented on #3029
This is why we need [this GSoC project](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_installation)!
Sorry I am of no help here, but maybe @lisitsyn has an idea?

[2016-03-03 21:59] youssef-emad commented on #3033
@karlnapf yeah the question about the matrix was silly so I erased it.
I opened it because I intend to make the desired changes so just to separate it from the main issue.

[2016-03-03 22:06] karlnapf commented on #3033
Don't worry about such questions ;)
Yes definitely this is a separate task. So I will leave this open until it is done

[2016-03-03 22:07] karlnapf commented on #3033
Renamed it, this should actually be done in the base class -- every linear algorithm should the option of pre-computing the data mean manually, and do it automatically by default

[2016-03-03 22:08] abhinavmoudgil95 commented on #3029
Yes! This is the major issue I face in Open Source orgs. Most of them are updated for Linux but not for OS X.

[2016-03-03 22:14] youssef-emad commented on #3033
@karlnapf but as I understand from the [docs](http://shogun-toolbox.org/doc/en/latest/classshogun_1_1CLinearMachine.html),the train_machine() method in CLinearMachine is just a virtual function re implemented in the subclasses.

[2016-03-04 04:17] vigsterkr opened #3034 "update liblinear code"
possibly with https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/multicore-liblinear/

[2016-03-04 07:23] vigsterkr commented on #3029
@abhinavmoudgil95 i'm not so sure how you've managed to get this error, as i really dont get how you've managed to get modshogun depend on libJPEG. could you share your cmake command?

FYI i'm using shogun on OSX without any problems.

[2016-03-04 07:57] abhinavmoudgil95 commented on #3029
Oh! Thanks for informing. I wasn't aware that modshogun doesn't depend on libJPEG. I guess there must be some wrong symlink created between libraries. I'll see and get back.

Following is the cmake command I used:
`cmake -DPythonModular=ON ..`

[2016-03-04 07:58] vigsterkr commented on #3029
symlink between libraries? what exactly do you mean by that?

[2016-03-04 08:02] abhinavmoudgil95 commented on #3029
Symbolic links between files. See [here](https://en.wikipedia.org/wiki/Symbolic_link) for more details.

[2016-03-04 08:03] vigsterkr commented on #3029
symbolic links between files? a symbolic link to a file, maybe...
but i have a hard time to understand how that would that be the root cause of getting linking errors for your library

[2016-03-04 08:14] abhinavmoudgil95 commented on #3029
Symlinks may not be created while building modshogun.

In my case, there may be symbolic links to files present in `/usr/local/lib` from linkpath `path/to/anaconda/pkgs/jpeg-8d-1/lib/` (where libJPEG is present). Can this be a cause?

[2016-03-04 08:15] vigsterkr commented on #3029
still dont understand how did modshogun got the linking dependency for libJPEG.

[2016-03-04 08:20] abhinavmoudgil95 commented on #3029
shogun libraries are present in `/usr/local/lib/ `as `libshogun.17.2.dylib` etc. and all files present in `/usr/local/lib/ ` may be linking from linkpath `path/to/anaconda/pkgs/jpeg-8d-1/lib/`

[2016-03-04 08:22] vigsterkr commented on #3029
but man do you understand what does it mean to have a linking dependency to libJPEG? and how did you manage to do that?

[2016-03-04 08:26] abhinavmoudgil95 commented on #3029
Doing something like this `ln -s /usr/local/lib/* path/to/anaconda/pkgs/jpeg-8d-1/lib/somelink/ ` can cause such error? Yes, agreed that it makes no sense for modshogun to link to libJPEG. It may be created by mistake while building some other tool. Sorry I don't remember exactly.

[2016-03-04 08:30] vigsterkr commented on #3029
no it has nothing do with that. i suggest you to read more about shared libraries and linking libraries because the things you've mentioned here makes no sense at al.

[2016-03-04 08:38] abhinavmoudgil95 commented on #3029
I'll take your word.

[2016-03-04 12:08] youssef-emad commented on #3033
@karlnapf I edited the train_machine() method in LinearRidgeRegression class. check [here](https://github.com/youssef-emad/shogun/blob/29230ba37b496fe6179dd996891f7f4bdd7441cb/src/shogun/regression/LinearRidgeRegression.cpp#L45).
I also made a [notebook](https://github.com/youssef-emad/shogun_notebooks/blob/master/LinearRegressionNew.ipynb) with results using the same datasets.
I got rid of `lapac

[2016-03-04 13:46] Anjan1729 commented on #2991
@karlnapf   , I am not that experienced in ML.Can you give me something I could start with?

[2016-03-04 15:49] aelnouby opened #3036 "Installation problem : Arch 4.4.3-1"
I have

SWIG Version 3.0.8
python 3.5
gcc 5.3.0-5

I used ccmake with pythonModular=ON

After running make i get this

[  1%] Built target ShogunVersionProtobuf
[  1%] Generating version header
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git

[2016-03-04 23:42] karlnapf commented on #3033
sure it is a virtual function, but computing the data mean still should not happen in specialised classes, but in the base class. We can always add an additional method that calls a virtual method that is overloaded in subclasses...

[2016-03-04 23:42] karlnapf commented on #3033
BTW please don't post code with gists, send a PR. Much easier to review

[2016-03-04 23:44] karlnapf commented on #3033
In the notebook, why are the results not *exactly* the same? Can you check that the ridge has the same value?

[2016-03-04 23:44] karlnapf commented on #3033
What about larger datasets and dimensions? Timing might change then?

[2016-03-04 23:47] karlnapf commented on #3033
Ok had a look at the code. The bias addition should happen in the base class as said, and it should be possible to set the bias manually and disable that it is computed from data.
Can you send a PR with the changes? I have a few more comments, but don't want to put them in your branch

[2016-03-04 23:48] karlnapf commented on #2991
@Anjan1729 there is a long list above. Pick any of the ones you like. Easy algorithms preferred, what about LDA?

[2016-03-05 03:19] theaverageguy commented on #3034
Hey! I would like to work on this. Can you elaborate a little bit more?

[2016-03-05 06:34] vigsterkr commented on #3034
1. there's liblinear in shogun and it's outdated
2. it needs updating
3. it'd be better to be updated by the multicore version

[2016-03-05 07:48] youssef-emad commented on #3033
@karlnapf The results are exactly the same for the second and the third datasets because they are fixed but the first is randomly generated each time so the results will change ( sklearn results also changes for the first dataset).
For the bias calculation,so I will make a function that computes the bias in the base class but it's not clear  to me how it will be called without modifying the train_

[2016-03-05 08:19] DrImpossible opened #3040 "Write output with utf-8 encoding"
Doxy2Swig should write UTF-8 encoded strings to the output-file.

[2016-03-05 08:24] besser82 commented on #3040
Fixed in #3039

[2016-03-05 08:24] #3040 closed

[2016-03-05 08:25] sanuj commented on #3024
@karlnapf I'll start working on this. `CKernelRidgeRegression` already exists. Shall I just create a notebook by using `CRandomFourierDotFeatures` or is there more to it?

[2016-03-05 09:21] aelnouby commented on #3036
@besser82 May you help me with this please ?

[2016-03-05 10:43] besser82 commented on #3036
Sure ^^

Smells like a br0k3n git clone…  Please try to do a clean checkout and build inside it…

[2016-03-05 11:47] karlnapf commented on #3033
The sub-classes will not compute the bias as it currently has to be set manually.
Therefore, one way to do this would be to rename the train_machine methods (that dont compute bias) and add an additiona lmethod compute_bias() in the base class. Train_machine in the base class then (optionally) computes the bias and then calls the train_machine_no_bias of the specialsed classes.
Something like this

[2016-03-05 11:49] karlnapf commented on #3024
Hi @sanuj so CKernelRidgeRegression is the dual form of KRR, where a NxN matrix is inverted (the kernel matrix). With random features, this will be a MxM matrix where M is the number of random fourier features. Therefore, what we need to do here is to do a linear ridge regression in the random fourier feature space.

If it is already possible to do this, then you can create a notebook on approxima

[2016-03-05 12:08] karlnapf opened #3043 "Refactor stationary kernels"
[Stationary kernels](http://people.seas.harvard.edu/~dduvenaud/cookbook/) are those whose output only depends on the *difference* of the input values. An example is the Gaussian kernel, which is exp(-d^2) where d is the euclidean distance.

This task to is add an additional base class for stationary kernel function, and compute the distance in the base class. This includes optimisations for comput

[2016-03-05 12:38] youssef-emad commented on #3033
@karlnapf I got it but I have a suggestion. Instead of renaming the train_machine in all subclasses can I override the train() method inherited from the CMachine class and add the optional compute_bias call to it.

[2016-03-05 17:05] karlnapf commented on #3033
Thats Indeed much better and actually the reason why we have this structure in the base class

[2016-03-05 18:37] aelnouby commented on #3036
I cloned a new fresh version and tried the process again i got this

[  1%] Generating version header
[  1%] Built target version
Scanning dependencies of target HeadersProtobuf
[  1%] Running C++ protocol buffer compiler on Headers.proto
[  1%] Built target HeadersProtobuf
Scanning dependencies of target ChunksProtobuf
[  1%] Running C++ protocol buffer compiler on Chunks.proto
[  1%] Built targe

[2016-03-05 21:42] karlnapf commented on #3036
Can you please not paste logs directly in the chat? Nobody will look at this if you do. Post a gist.
Also, check your filesystem

[2016-03-06 12:27] karlnapf opened #3046 "Integrate python graphical examples in the test build"
Every now and then, we have to re-factor our graphical examples, e.g. #3045

Currently we have no way of checking whether they work.
While we don't want to (Python) unit test these scripts, it would be great if we could at least *execute* the examples once in our test build. Just like the other python examples

This task is to add the python graphical examples to the test build. This works via cre

[2016-03-06 14:30] aelnouby commented on #3036
This might sound silly, but by chance i used a different console than the one i have been using and surprisingly the installation was completed successfully, i am not sure what was wrong.

Thanks for you help.

[2016-03-06 14:31] #3036 closed

[2016-03-06 19:26] aelnouby commented on #3043
I would like to give that a try, I am just brand new to shogun, so what i understood is that we want to abstract the distance functionality that is common for all stationary kernel classes in a base class.

So first thing would be to identify what are the classes that fall under the stationary kernels category inside the kernel classes shogun already has, then do what i have mentioned above.

Do I

[2016-03-06 22:47] Vikisix commented on #3029
After some other working.. I remove all the previous installation and I followed the following instructions https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART.

However when I run the examples... I still get Segmentation fault: 11... do you have any idea of what is the problem?

[2016-03-06 22:50] karlnapf commented on #3043
Yes :)

Start by writing the base class and then refactor a single kernel.
Always write unit tests for the kernel compute methods *before* you re-factor. You can use the tests to check your refactored version then

[2016-03-07 01:24] tbskm commented on #3000
Ok, I've given it a shot for the Gaussian Naive Bayes example. I'm new to Shogun (and ML in general), so I would really appreciate it if someone could give it a quick look and let me know if everything looks ok.

https://github.com/tbskm/gaussianNaiveBayes-cookbook

[2016-03-07 01:56] abhinavmoudgil95 commented on #2991
Hi @karlnapf

I created a ipython [notebook](https://github.com/abhinavmoudgil95/shogun-notebooks/blob/master/PCA.ipynb) which compares Shogun PCA with other toolkits like scikit-learn, matplotlib and my naive python implementation of PCA. Shogun PCA is equally well in terms of speed but matrix received by get_transformation_matrix() method of Shogun is scaled more as compared to other standard to

[2016-03-07 08:03] karlnapf commented on #3000
Hi there,
great, these are exactly the two files we need. Please send a Pull request against the cookbook feature branch (link above) rather than posting the files here. I will review it in there then.

A note for the others -- there are many more examples to go

[2016-03-07 09:55] karlnapf commented on #2991
Hi @abhinavagarwalla Can you open a seperate issue for this and we discuss there?

[2016-03-07 10:27] amoudgl opened #3048 "Improve Shogun PCA"
[This](https://github.com/abhinavmoudgil95/shogun-notebooks/blob/master/PCA.ipynb) ipython notebook compares Shogun PCA with my naive python implementation of PCA in Python and other toolkits like Scikit-learn and Matplotlib. As per results in notebook, Shogun performs equally well in terms of speed.

Result of Shogun PCA is also accurate except few minor issues that should be fixed to match the o

[2016-03-07 18:20] karlnapf commented on #3048
Thanks for that! In this state, it is not that useful. But we can turn it into that easily.

 * this is a speed comparison. While the plots you made are nice, they are somehow redundant to the pca notebook we have.
 * To compare results, simply compare the norm of the eigenvector differences and the projected features.
 * No need for naive python implementation and matplotlib, though the former is

[2016-03-07 20:06] youssef-emad opened #3051 "Add mean computation to linalg"
The goal is to extend [linalg](http://shogun-toolbox.org/doc/en/latest/dir_0d103e974bf2461595574c32f82fb9be.html) to have mean computation operations.

[2016-03-07 21:43] karlnapf commented on #3051
Can collect patches that need this here:

#3044

[2016-03-08 12:36] sanuj commented on #3024
@karlnapf You are correct. I will have to change some cpp code.
I thought that I can get the features from `CRandomFourierDotFeatures` and pass them to `CLinearRidgeRegression` but that's not possible because `CLinearRidgeRegression` expects `CDenseFeatures`. Either I change something in `CLinearRidgeRegression` or make a new regression class which works with `CRandomFourierDotFeatures`. Maybe I c

[2016-03-08 14:19] abhinavmoudgil95 commented on #3048
Sorry for late response. Internet services were down in my college for 16 hours due to construction work going on nearby.
So, I did tests as suggested and following are the results I obtained:

N  - Number of samples
D - Number of features

**Time analysis**:

N = 100

| D  | N | Shogun   | scikit-learn |
|:-----: |:-------------:| :-----:|:------:|
| 10 | 100 | 0.00031 | 0.00046
| 10 | 1000 | 0.0

[2016-03-08 15:03] vigsterkr commented on #3048
thanks a lot for the analysis!

i find it a bit weird/interesting & worth to investigate why does does SVD so slow.
especially these two examples are worth to look into:

| D  | N | Shogun   | scikit-learn |
|:-----: |:-------------:| :-----:|:------:|
| 500 | 100 | 0.293 | 0.077
| 500 | 1000 | 0.261| 1.852

as even though there are 10 times less vectors the runtime is almost the same...

[2016-03-08 16:45] yorkerlin opened #3054 "benchmark GPs against sklearn, gpy, gpflow, and gpml"
This entrance task is about doing benchmarks against [sklearn v0.18](http://scikit-learn.org/dev/modules/gaussian_process.html), [gpy](https://github.com/SheffieldML/GPy), [gpflow](https://github.com/GPflow/GPflow), and [gpml](http://www.gaussianprocess.org/gpml/code/matlab/doc/) in terms of speed, memory usage, and accuracy.

Some tasks:
* Gaussian process (GP) regression
* GP binary classificati

[2016-03-08 17:11] yorkerlin commented on #3054
This task is an entrance task of [the GP project](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2016_project_large_gps)

[2016-03-08 17:16] vigsterkr commented on #3054
@yorkerlin sounds great! as there's already emerging some benchmarks on PCA, shouldn't we try to put this into one framework? i.e. keep the code somewhere and have the possibility to update the benchmarking results with the updated libraries?

[2016-03-08 17:31] yorkerlin commented on #3054
@vigsterkr
Yes, cool. We can put this under one framework.

[2016-03-08 17:54] vigsterkr commented on #3054
@yorkerlin we should use/extend this framework:
https://github.com/zoq/benchmarks
i can setup a buildbot to generate the output...

you can see some of the results here:
http://www.mlpack.org/benchmark.html

the shogun that was used was version 3.2.0...

[2016-03-08 20:12] shark-S commented on #2991
Hello  @karlnapf
   I want to contribute in improving algorithm but i like to work in python .can you advice me from where to start .

[2016-03-08 20:13] vigsterkr commented on #2991
@shark-S shogun is a c++ library that has a python interface (as well). if you want to work on shogun you should get familiar with c++

[2016-03-08 20:18] shark-S commented on #2991
thanks for reply .
I have also knowledge of  c++ . but can i make models or test algorithms in python or  i have to do it in c++ ?

[2016-03-08 20:18] sanuj commented on #3000
@karlnapf I tried to build the cookbook in `doc/cookbook/build` by doing `cmake ..` and `make cookbook`. I tried the same in shogun's build dir also. [Here is the error gist.](https://gist.github.com/81ad03344c27a3d7c048.git)
`cmake -DBUILD_META_EXAMPLES ..` is also not working. What am I missing?

[2016-03-08 22:48] Ahmkel commented on #3051
I am interested in this.
Could you please explain what's needed in more details?

[2016-03-08 23:08] juancamilog commented on #3054
I'm interested in getting started to work on this one. @yorkerlin, do you agree that the framework at https://github.com/zoq/benchmarks should be used? I could initially try testing GP regression exact inference, just  to get a hang of what's needed to setup the benchmarks.

[2016-03-09 00:45] vigsterkr commented on #2991
@shark-S you cab test in pyhon but write it in only in c++

[2016-03-09 02:43] yorkerlin commented on #3054
Yes. Let's do benchmarks against sklearn, gpy, and GPflow under the
framework.

On Tuesday, March 8, 2016, Juan Camilo Gamboa Higuera <
notifications@github.com> wrote:

--
best,

wu lin

[2016-03-09 09:44] abhinavmoudgil95 commented on #3048
Hi @vigsterkr, I am going through source codes to identify this problem. But I have a silly doubt which is a bit off topic. It is as follows:

I commented one method `apply_to_feature_matrix` from `class CPCA` in PCA.cpp, PCA.h just to test changes using python modular interface. I tried to make python modular interface again using command `sudo make python_modular_src` in build folder. However, i

[2016-03-09 09:53] vigsterkr commented on #3048
first of all thanks for the benchmark, but it would be much better to do it as part of:
https://github.com/zoq/benchmarks

this framework already has support for PCA benchmarking. this way the results are easily reproducible and as well as it's part of a framework.

[2016-03-09 09:54] vigsterkr commented on #3048
regarding the changes: if you did `make install` you'll have to do it again...

[2016-03-10 12:18] karlnapf commented on #3024
mmh
I mean KRR with random features is *exactly* linear ridge regression in a different feature space.
So the transformed features should just be passed there. But a wrapper class might help, call it `CApproximateKRR` -- it is not limited to random fourier features, there are other ways to do finite feature space approximations. Also looking at scikitlearn might be a good idea to see how they do i

[2016-03-10 12:20] karlnapf commented on #3000
This is just the link checker failing, are you online?
Also pull the latest version, it works on my machine

[2016-03-10 12:31] karlnapf commented on #3051
Check the linalg readme and read the code and unit tests. Then try to add the operation. There is already a lot of summing in the redux module so this is a very simple task

[2016-03-10 12:46] tbskm commented on #3000
Hmm, pretty sure I would have been online, but I'm using a stock Broadcom card that frequently acts up with Linux, so my connection probably went down at some point.
Btw I've been busy with some school assignments, but I should be able to remove those unnecessary bits from the cookbook page either today or tomorrow. 
Thanks!

    _____________________________
From: Heiko Strathmann <notifications@

[2016-03-10 12:48] karlnapf commented on #3048
This is great work! In particular that you included the memory benchmarks.

Indeed doing it as part of a benchmark system would be best -- especially since then we can document it and potentially include in a (new updated) overview paper of Shogun.

In terms of speed:
 * Shogun in AUTO always  chooses the mode that gives less complexity (in theory)
 * SVD in eigen3 is [known to be](http://eigen.tu

[2016-03-10 13:11] sanuj commented on #3000
@karlnapf It works now after pulling the latest version. Although `cmake -DBUILD_META_EXAMPLES ..` is still not working. The cookbook looks pretty neat.

[2016-03-10 13:20] karlnapf commented on #3000
@tbskm I like the gaussian naive bayes example! Will merge soon.

[2016-03-10 13:20] karlnapf commented on #3000
@sanuj lets not discuss this here ... irc maybe?

[2016-03-10 13:31] abhinavmoudgil95 commented on #3048
@karlnapf Thanks for your feedback. I'd be happy to go ahead with this. I wrote a python [script](https://github.com/abhinavmoudgil95/shogun-notebooks/blob/master/pca_compare.py) that can reproduce these results. How should I include these results in a maintainable way? Should I make a new notebook that compares the two toolkits and illustrates time and memory analysis?

[2016-03-10 13:42] vigsterkr commented on #3048
@abhinavmoudgil95 see the referred benchmarking framework.. that's the preferred way.

[2016-03-10 22:45] karlnapf opened #3057 "Implement incomplete cholesky"
This is another important way to approximate kernel methods

See [here](https://github.com/karlnapf/kernel_exp_family/blob/master/kernel_exp_family/kernels/incomplete_cholesky.py) for a reference implementation (there are also unit tests)

[This book](http://www.kernel-methods.net/) also contains a high level description of the algorithm and matlab pseudo-code

This task is closely related to the

[2016-03-10 22:47] karlnapf opened #3058 "Implement Nystrom approximation for approximate kernel methods"
This is another important way to approximate kernel methods

See [here](http://scikit-learn.org/stable/modules/generated/sklearn.kernel_approximation.Nystroem.html#sklearn.kernel_approximation.Nystroem) for a reference implementation

[This paper](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.18.7519) described the original method

This task is closely related to the random fourier featu

[2016-03-11 12:27] abhinavmoudgil95 commented on #3048
@karlnapf @vigsterkr I am using the referred framework for PCA benchmarking but I am not able to get the output for shogun. Scikit was done with all datasets in about 50 minutes but Shogun is stuck at last dataset for about 4 hours and script is still running! I let the script running for about 5 hours last night but didn't get any output. So, I stopped the process and tried again today. I'll let

[2016-03-11 13:39] rcurtin commented on #3048
Take a look at the `config.yaml` and see the block for shogun:

https://github.com/zoq/benchmarks/blob/master/config.yaml#L1381

There are a lot of methods and a lot of datasets being run there.  You might want to try instead just running it for PCA (if you aren't already doing that) which you could do like this:

[code]

More information here:
https://github.com/zoq/benchmarks/blob/master/README.

[2016-03-11 14:09] zoq commented on #3048
Even if it runs for hours it should, at least, print some output to standard
out. Can you show us the command that you used to start the benchmark?

Btw. you can limit the execution time for each benchmark using the timeout
parameter.

[2016-03-11 15:01] OXPHOS commented on #3051
Hi,
I had a look at the code. Since linalg does all the matrix computation, I guess I need to implement a Mean module independent of all current modules in linalg.h, and calculate the mean.row and mean.col of matrices? Did I take this too easy?
I had no experience in coding large projects and I really would like to learn! Thanks!

[2016-03-11 15:59] abhinavmoudgil95 commented on #3048
@rcurtin Yes you are correct. To test only PCA, I used the following command:
`make run LOG=true BLOCK=shogun,scikit METHODBLOCK=PCA`

@zoq Script is still running. Since I wanted to save the output in database, I set `LOG=true`, so I am not expecting any results on stdout. Till now [this](http://pastebin.com/H5JaQjqQ) is what I got on stdout.

I think I'll remove this dataset from configuration f

[2016-03-11 16:01] rcurtin commented on #3048
Yeah, the yearpredictionmsd dataset is pretty large; 500k+ points in I think 90 dimensions.  So I'm not too surprised it's taking a long time.

[2016-03-11 16:26] abhinavmoudgil95 commented on #3048
Well, let me guess. From what I know, PCA has time complexity of `O(np^2 + p^3)`. This dataset has 515345 instances and 90 features. Total number of operations required for this dataset by above complexity is 4175023500. On average, assuming 10^7 operations per second carried out by machine, shouldn't it give the output in around 7 minutes? Correct me if I am wrong somewhere.

[2016-03-11 16:27] rcurtin commented on #3048
The big-O notation leaves out constant factors, so, you can use big-O notation to talk about the scaling of the dataset as you increase its size, but you can't use it to predict how long a particular implementation will take.  I think also the shogun PCA implementation may use SVD on the data or it may calculate the covariance of the dataset and eigendecompose that, depending on the properties of

[2016-03-11 16:36] abhinavmoudgil95 commented on #3048
Yes, ignoring constants is not a right idea but we can get rough estimate, right? In PCA, we don't do much extra (i.e those calculations which are constant and independent of N and D) calculations other than eigen decomposition, covariance matrix calculation and matrix multiplication to get new dataset.
Shogun uses SVD when number of dimensions(D) are more than number of instances(N). Here, it'll

[2016-03-11 19:12] karlnapf commented on #3051
There already is a sum redux module. But yes

[2016-03-11 19:14] karlnapf commented on #3048
In big datasets, there are all sorts of weird effects happening on computers due to the way its memory is managed. This can reveil further problems we have in the Shogun implementation.

For now, I suggest that you start with using a single smallish dataset to keep things simple, and then increase

[2016-03-11 19:15] karlnapf commented on #3048
thanks @rcurtin @zoq for getting back!

[2016-03-11 19:17] karlnapf opened #3060 "eigen3/linalg for LinearRidgeRegression"
Get rid of the lapack calls in the above class

[2016-03-12 14:29] karlnapf commented on #3048
#3054

[2016-03-12 21:25] karlnapf commented on #3054
@juancamilog I am super curious on the results of this, are there any already?

[2016-03-13 09:49] youssef-emad commented on #3060
I checked [LinearRidgeRegression.cpp](http://shogun-toolbox.org/doc/en/latest/LinearRidgeRegression_8cpp_source.html) but I can't see any lapack calls.
I also removed the `#ifdef HAVE_LAPACK` and `#include <shogun/mathematics/lapack.h>` lines from [LinearRidgeRegression.cpp](http://shogun-toolbox.org/doc/en/latest/LinearRidgeRegression_8cpp_source.html) and [LinearRidgeRegression.h](http://shogun-

[2016-03-13 10:35] karlnapf commented on #3060
you are right, that got changed when we made it use eigen3

[2016-03-13 10:35] karlnapf commented on #3060
If you are keen, you could try to add the LLT (cholesky factorization based linear solves) to linalg, and then make the ridge regression use that

[2016-03-13 10:36] karlnapf commented on #3060
or just remove the lapack guard

[2016-03-13 10:36] #3060 closed

[2016-03-13 10:46] youssef-emad commented on #3060
yeah sure , I'll try linalg

[2016-03-13 10:57] karlnapf commented on #3060
this is a non-trivial task though, requires some understanding of linalg. Only do if you are interested. But this is also useful for most GSOC projects .)

[2016-03-13 11:03] youssef-emad commented on #3060
mmmm :smiley:
I'll try to understand linalg and write what I think should be done and you can correct me if I am wrong.

[2016-03-14 15:02] sanuj commented on #2768
@karlnapf Since I'm working on #3024, I'll also do this one, random fourier features need some clean up to make it work with linear ridge regression or it's equivalent.

[2016-03-14 23:01] cfjhallgren commented on #3058
Hi I started looking at this. I have a pretty good idea of how to proceed. I can check in the irc if I have any questions.

[2016-03-14 23:04] karlnapf commented on #2768
Sounds good. But, I think somebody else already started looking at this. Please search github and the mailing list to make sure there is no redundant efforts :) If not, feel free to give it a go!

[2016-03-14 23:37] karlnapf commented on #3058
Great. Let's start with kernel ridge regression and uniform sub-sampling.

We can add [leverage scores](http://arxiv.org/abs/1411.0306) for non-uniform sub-sampling later.

For now I guess we have to think a bit on how to best implement the nystrom + KRR. This needs some changes to the kernel machine I guess. Maybe we can add a Nystrom kernel machine class. This one can deal with the matrix invers

[2016-03-14 23:40] karlnapf opened #3072 "Remove NATIVE parts from linalg"
As we now fully depend on eigen3, we dont need our own implementations in linalg anymore....

[2016-03-15 07:12] Eejya commented on #2599
Hi, is this still open ?

[2016-03-15 07:23] sanuj commented on #3072
@karlnapf shall i entirely remove `NATIVE` from linalg or just the implementations?

[2016-03-15 10:14] karlnapf commented on #2599
This has changed a lot due to the new cookbook.
Eventually we will remove the documentation part of doxygen (apart from maybe class docs), and move to something else. The current version is broken as well
Closing for now...

[2016-03-15 10:14] #2599 closed

[2016-03-15 10:15] karlnapf commented on #3072
we don't need the backend itself anymore. And yes, all the implementation will also go.

BUT before you delete them, make sure that the eigen3 counterpart is implemented (and also has unit test coverage)

@lambday should comment

[2016-03-15 10:31] karlnapf commented on #2667
We will wait (at least a bit) with c++11 (see discussion on mailing list)
As eigen3 is now always enabled, we dont need the native implementations anymore

[2016-03-15 10:31] #2667 closed

[2016-03-15 10:34] karlnapf opened #3074 "add linear solve to linalg"
* psd matrix (LLT) -- most important
 * Free form (QR)
 * least squares (SVD)

This would also involve investigating how for example np.linalg.solve does the same job to get inspiration.

Obviously, good documentation about the cases is key.

[2016-03-15 10:35] karlnapf commented on #3074
All linear solves should have the possibility to *precompute* the linear solve. That is factorize the matrix and offer a method that computes the solve given the output of the factors. See numpy again for this. For example, for LLT, this will be a triangular solve (one can do this with eigen). For the others it works imilarly

[2016-03-15 10:52] karlnapf commented on #3057
Both this and Nystrom would start with KRR. KRR should put the method to solve the (K+\lambdaI)^-1 system in a method. A subclass would then overload this method and implement the cheaper matrix inversion for Nystrom or incomplete cholesky

[2016-03-15 10:52] karlnapf commented on #3058
Both this and Nystrom would start with KRR. KRR should put the method to solve the (K+\lambdaI)^-1 system in a method. A subclass would then overload this method and implement the cheaper matrix inversion for Nystrom or incomplete cholesky

[2016-03-15 12:49] sanuj commented on #3072
@lambday  waiting for your comment :)

[2016-03-15 12:52] karlnapf opened #3075 "Fix LaRank freeze"
LaRank's unit test sometimes freezes. This task is to debug why, fix it, and re-enable the unit test that was disabled [here](https://github.com/shogun-toolbox/shogun/commit/65888277a0a167424a9d5ed9cc353d669b1bbada)

[2016-03-15 17:44] youssef-emad commented on #2991
@karlnapf I made this [notebook](https://github.com/youssef-emad/shogun_notebooks/blob/master/Shogun.Vs.Sklearn.Regression.ipynb) as a comparison between Shogun and SKlearn in multiple regression models ( Linear Ridge Regression, Lasso ,LARS , KRR).
 I used 4 datasets of different sizes and dimensions.
Dataset 1: size 400 , Dimensions 13
Dataset 2: size 700 , Dimensions 1
Dataset 3: size 17000 , D

[2016-03-15 17:58] vigsterkr commented on #2991
@youssef-emad great work! we would really like to have a more maintainable and reproducable way of doing benchmarking, so it'd be great if you could port this idea to this framework:
https://github.com/zoq/benchmarks

as this in this current form is just a snapshot of each library... and it'll be hard to re-run this in newer releases...

[2016-03-15 18:05] youssef-emad commented on #2991
@vigsterkr yeah sure , I just have an assignment to deliver in a few hours so I'll finish it and check this out :smiley:

[2016-03-15 20:38] karlnapf commented on #2991
Thanks, very nice work. @vigsterkr is right, these notebooks can only be a first step to see what is going on. Eventually we want the scripts to do this in the benchmark platform -- so that we can re-run. But of course the notebooks are a nice way of exploring.

A few words on the benchmarks:
 * Aim for benchmarks that take at least a few seconds to run. Otherwise we only observe noise of the pyth

[2016-03-15 20:51] karlnapf commented on #2991
Good luck with the assignment :)

[2016-03-16 18:28] rcurtin commented on #3054
If you wrote some Python scripts for the benchmarking scripts feel free to submit them upstream and we can include it in the benchmarks repository. :)

[2016-03-16 19:16] sanuj commented on #3072
@karlnapf This is done for now as we can't remove NATIVE backend. It is still being used in elementwise operations which eigen3 is bad at. @lambday can confirm.

[2016-03-16 23:58] cfjhallgren commented on #3058
Sounds like a good plan. I'll get back in a few days with hopefully some constructive input :)

[2016-03-17 05:57] Xbar opened #3083 "BUG: test cases using Eigen3 backend is not compiled"
Unit test cases using Eigen3 backend are not compiled.

[2016-03-17 06:24] vigsterkr commented on #3083
when where? :)

[2016-03-17 06:32] Xbar commented on #3083
Sorry for not including the details.
I'm compiling on a MacOS 10.10.5.
I have Eigen3.2.8 installed.
The output from cmake (regarding libraries) is as follows.
[code]

When I ```make unit-tests```, 5087/5090 test cases passed, but no test cases ending with eigen3_backend were run. Test cases using only Eigen3 backend (e.g. VectorSum) were not run.

[2016-03-17 10:47] karlnapf commented on #3083
fixitplease :)

[2016-03-17 10:49] karlnapf opened #3088 "Remove HAVE_EIGEN3 from unit tests"
See #3083 and the discussion in #3085

[2016-03-17 17:19] karlnapf commented on #3054
Note

[2016-03-17 17:20] karlnapf opened #3091 "add cookbook examples for GPs"
We have a lot of different inference algorithms and likelihoods for GPs in shogun. This task is to write a [cookbook page](https://github.com/shogun-toolbox/shogun/tree/develop/doc/cookbook) for each of them. Many entrance tasks in fact. Please state which one you are working on here to avoid redundant work :)

[2016-03-18 10:19] Eejya commented on #3002
@karlnapf  I'm not sure if this is what was required but please have a look - https://hub.docker.com/r/eejya/shogun/builds/brfvzdjtyvdgxyzc4jjznyf/

[2016-03-18 17:46] karlnapf commented on #3002
Recently chatted to Viktor, and we think the best way to do this would be to create a shogun ppa for ubuntu first, and then to simply install this ppa on the docker image ...
Looking at this image, I do not really understand the different to Shoguns development docker image

[2016-03-18 17:51] vigsterkr commented on #3002
@Eejya there's this https://hub.docker.com/r/shogun/shogun-dev/~/dockerfile/
first we need a way to nicely build .deb images...
but if you create the docker images derived of fedora, than there the packages are nicely updated thnx to @besser82 . we could ask him how to create shogun nightly packages for FH.

[2016-03-18 18:11] #3015 closed

[2016-03-18 18:11] karlnapf commented on #3015
This is now in develop branch

[2016-03-18 18:11] karlnapf opened #3095 "use eigen3 in kernel ridge regression"
1. Use eigen3 to solve the linear system. Put this into a seperate method `solve_krr_system` (to be overloaded in approximate KRR classes like #3508 #3057 #3024 )
2. Remove the Iterative Gauss Seidel method
3. Optional Add a subclass of KRR, which solves the linear system using Gauss seidel and early stopping. However, the iterative linear solver should not be part of this class,  but part of lina

[2016-03-18 18:12] karlnapf commented on #3095
I think this will also fix the [buildbot error](http://buildbot.shogun-toolbox.org/builders/deb1%20-%20libshogun) on kernel ridge regression

[2016-03-18 18:37] sanuj commented on #3095
@karlnapf I'm almost done with this. I wanted to discuss some points before I send a PR:
* All viennacl calls are in pseudo inverse method. Do we want to keep the pseudo inverse method, if yes then how can i replace the viennacl calls?
* Will there be any case when the kernel matrix is not a square matrix? For LLT, I have assumed that kernel matrix will always be a square matrix.

LLT in KRR is wo

[2016-03-19 10:29] youssef-emad commented on #2991
@karlnapf @vigsterkr I added new 4 benchmarks and made a [pull request](https://github.com/zoq/benchmarks/pull/7) at the benchmarks repo

I also made a [notebook](https://github.com/youssef-emad/shogun_notebooks/blob/master/Classifiers.ipynb) to compare the ease of use and accuracy between Shogun and Sklearn for 4 different classifiers ( Naive bayes , KNN,QDA,Logestic Regression) and to check larg

[2016-03-19 11:24] Eejya commented on #3002
I see, I had built a docker image of my forked repository since I wasn't sure what the task was. What would be the right way to begin with this? Also, is this the ppa we are talking about? - https://launchpad.net/~shogun-daily/+archive/ubuntu/ppa

[2016-03-19 12:13] karlnapf commented on #3095
* no need to do viennacl calls, just use eigen3 itself (if you add a LLT solve to linalg, please send a seperate PR, and then send another PR for using this linalg llt solve in KRR)
 * for KRR training, the kernel matrix is always square symmetric psd
 * Unit tests are very important, make sure to test a few corner cases

[2016-03-19 12:57] karlnapf commented on #2991
Great that this finally happened! For the benchmarks, I guess we need to compare against something, e.g. sklearn. As I can see here, the comparison so far only happens in your notebook?.

[2016-03-19 12:59] karlnapf commented on #2991
In the notebook, it would be great if you could label things you print, it takes some time to parse this otherwise for me

[2016-03-19 13:01] karlnapf commented on #2991
Comments:

 * Use larger datasets -- timings at microsecond scale have very little meaning as Python takes longer to start running than the actual computations.
 * Looks like you identified problems in Shogun's KNN results. These should definitely be investigated.
 * You should always make sure that the options are set in such way that the algorithms do exactly the same

[2016-03-19 13:03] karlnapf commented on #2991
Looks like you identified problems in Shogun's results. These should definitely be investigated. Very alarming. I suggest that you put benchmark scripts for sklearn as well. Also, let's isolate one of the algorithms and try to understand why Shogun's results are so different

[2016-03-19 13:03] karlnapf commented on #2991
Very nice catch btw :) !

[2016-03-19 13:13] karlnapf commented on #3048
#2991

[2016-03-19 13:13] #3020 closed

[2016-03-19 13:14] karlnapf commented on #3005
In fact unit test should have priority here as the python tests might be removed at some point anyways

[2016-03-19 14:00] youssef-emad commented on #2991
@karlnapf I'll add the benchmarks for sklearn and I'll try to investigate what's going on.

[2016-03-19 14:42] karlnapf commented on #2991
Start with one of the algos maybe. KNN or so

[2016-03-19 16:40] TianqiTang commented on #3091
New comer here. Sorry but have to ask what is GP short for? Gaussian Process?

[2016-03-19 17:55] youssef-emad commented on #2991
@karlnapf I found out what was going on. I made a horrible mistake while transforming data to shogun's format. I fixed this embarrassing mistake and add visual comparison for decision boundaries for datasets with 2 features.Check the [updated notebook.](https://github.com/youssef-emad/shogun_notebooks/blob/master/Classifiers.ipynb)

New Observations:
1- KNN and Naive Bayes : Accuracy and decision

[2016-03-19 19:50] yorkerlin commented on #3054
@karlnapf
I am working on setting an optimized python tool stack for benchmarks.
I will use openBLAS, numba, and joblib if possible.
I wonder whether our implementation can beat the optimized python implementation or not.

[2016-03-19 20:55] karlnapf commented on #3091
Yes

On Saturday, 19 March 2016, Tianqi Tang <notifications@github.com> wrote:

[2016-03-20 00:39] yorkerlin commented on #3054
@karlnapf @vigsterkr @lisitsyn
It seems `llvm` compiler is better than `gcc` in terms of code optimization.
Do you think whether we should choose a right compiler?

[2016-03-20 06:47] lambday opened #3100 "Make linalg easy again"
DISCLAIMER : Any similarity to anyone's presidential campaign slogan is purely coincidental.

tl;dr:
(1) what the hell is going on
(2) now the days have changed
(3) get rid of that ugly {{...}} guy.
(4) It would be a great opportunity

Guys, me and @karlnapf had a discussion to clean up linalg lib a bit. Here are a few bits and pieces of that discussion
- We **have** to stop supporting linalg back

[2016-03-20 07:22] lambday commented on #3100
Few more ideas, while we're at this:

- If a shogun user **has** GPU, but wants to use CPU version instead (let's say, because the GPU is useless), there should be a cmake switch `-DTURN_OFF_GPU` or something. Essentially, this would just make the GPU factory to return a CPU type instead.
- API should look cool. For normal operations, it would be just like I mentioned. But for element-wise, row-wi

[2016-03-20 16:58] karlnapf commented on #3054
@yorkerlin dont you think it might be more clever to put your ideas into the mlpack benchmarks?
For the GPs, if Shogun is faster than the gpflow and gpy, or even just scikit learn, that is the best start.

I think we will stay with gcc for now ... ;)

[2016-03-20 20:44] youssef-emad commented on #2991
@karlnapf I investigated QDA , found an issue and solved it. The issue was that the accuracy of Shogun's QDA strongly decreases as the number of features is more than 2. That happened because of an [unnecessary transpose](http://shogun-toolbox.org/doc/en/latest/QDA_8cpp_source.html#l00261) of the rotations matrix. Removing this line enhanced Shougun's Accuracy to be the same as sklearn. check this

[2016-03-20 21:12] Ialong commented on #3091
@karlnapf
Hey Heiko, I wanted to get started on this. If it's ok with you I thought I would start with the three available likelihood functions for GPC (LogitVGLikelihood, LogitVGPiecewiseBoundLikelihood, LogitDVGLikelihood) and then move on to the GPC inference methods.
Let me know if there's something else you'd like me to cover first

[2016-03-20 21:39] Ialong commented on #3091
also just an aside note, I ran both GP ipython notebooks and both seem to crash at some point to a "GradientModelSelection" not being defined. Is there something deep/worrisome going on or has just the syntax changed to a new name?

[2016-03-20 22:27] karlnapf opened #3104 "make use of linalg in QDA"
Lots of manual matrix multiplications in there. Can be largely replaced with linalg framework

See also #3102

[2016-03-20 22:38] karlnapf commented on #3091
This seems to be a name change. Feel free to send a fix for those notebooks...
As for GP, I think the best would be to have a sperate example for all use cases that we have
 * All inference methods
 * classification/regression

Start with standard GP regression, standard GP classification. Keep the notebooks simple :)
Looking forward to see

[2016-03-20 22:41] karlnapf opened #3105 "Write cookbook page for QDA"
See also #3102

[2016-03-20 22:55] karlnapf commented on #3100
This has my strong +1

[2016-03-20 23:14] cfjhallgren commented on #3058
You mean we refactor the current 'train_machine_pinv' method to put the matrix inversion in another method, which either calls lapack directly or carries out Nystrom in our subclass?

I wrote a short example implementing KRR. Getting somewhat more familiar with the code base.

Unfortunately I'll miss the reading group tomorrow since I'm moving house :'( Hoping to attend next time :)

[2016-03-21 03:39] yorkerlin commented on #3091
@Ialong
Let me know whether there is any issue related to GP.
If you can fix these issues, please send a PR for each issue.

[2016-03-21 03:42] yorkerlin commented on #3054
@karlnapf
I will focus on sklearn now.
Too many things to do this week. :(

[2016-03-21 11:55] karlnapf commented on #3058
There currently is a PR on changing the KRR internals a bit. The nystrom would just overload a single method in there.... #3098

[2016-03-21 15:21] Ialong commented on #3091
@yorkerlin
I have looked at the GradientModelSelection class and it seems like it's still there and it looks fine. For some reason it cannot be found within the python module. GridSearchModelSelection and the other related classes seem to be fine. Do you have any ideas as to what might be causing this?

[2016-03-21 16:08] karlnapf commented on #3075
closed in #3097

[2016-03-21 16:08] #3075 closed

[2016-03-21 16:15] karlnapf commented on #3091
check the code `#ifdef HAVE_NLOPT`
This is what you need

[2016-03-21 16:15] yorkerlin commented on #3091
@Ialong
which notebook?
http://shogun-toolbox.org/static/notebook/current/gaussian_processes.html
or
http://www.shogun-toolbox.org/static/notebook/current/variational_classifier.html

[2016-03-21 16:25] yorkerlin commented on #3091
@Ialong
We need `NLOPT` lib for `GradientModelSelection`.
Make sure that the lib is installed in your system.

[2016-03-21 18:32] ali-mohamed opened #3106 "Improve Ridge Regression"
I have made a ([PR](https://github.com/zoq/benchmarks/pull/8)) for benchmark shogun Linear Ridge Regression vs scikit Ridge Regression. The accuracy of shogun is very impressive. Compared to scikit they are almost same. Though, the timing has an issue with bigger datasets.
[code]

1. I have run the webpage dataset for shogun and it takes > 20 minutes and still not finished. Thisdataset is > 23000

[2016-03-21 19:08] Ialong commented on #3091
@karlnapf @yorkerlin
Ah of course, thank you! It works now

[2016-03-21 23:12] karlnapf commented on #3106
As said, binary labels do not make any sense here.

Ridge regression should be lightning fast on these examples, unless you do something wrong. Note that Shogun takes features in column format, which is transposed compared to what sklearn takes as input

[2016-03-22 01:34] c4goldsw commented on #3074
Hey there!  I just found out about GSoC on Friday and I'm a little caught up with school work.  I'm in the second half of a specialist linear algebra course and this would be a great way to put my knowledge to use.  After tomorrow, I'll have a lot more time on my hands to get started on this.

[2016-03-22 02:07] ali-mohamed commented on #3106
Fixed the binary labels.

It is doing great on most datasets. It does great in high dimensional dataset (> 600 features). But this webpage dataset not. I don't have a reason yet but may be it is a benchmark concern as you said. I will investigate this further more and tell you.

For the transpose, I am pretty sure that I do that. Can be viewed here  https://github.com/zoq/benchmarks/pull/8/commits

[2016-03-22 04:15] ali-mohamed commented on #3106
I have run each measurement (`timing`, `metrics`)separately and get every thing smooth. So it has something to be done with the benchmark itself.

Here are the results:
timing:

              scikit    shogun
abalone7    0.002160  0.000874
abalone19   0.001967  0.000847
isolet      0.255482  0.221381
webpage     0.292860  0.248900

metrics:
Metric Measurement: 'Simple MSE'
                  scikit

[2016-03-22 04:29] #2977 closed

[2016-03-22 04:29] #2967 closed

[2016-03-22 05:28] OXPHOS opened #3107 "Fix broken LDA unit test"
LDAtest will be enabled once HAVE_EIGEN3 flag is removed from LDA_unittest.cc
And running LDAtest will lead to the failure of the test.

[2016-03-22 09:31] karlnapf commented on #3058
[this](http://arxiv.org/abs/1507.04717) is a very good reference for the Nystrom method.
We should aim to reproduce the experiments (uniform Nystrom part for now) on the same datasets as in the paper. In addition, we should offer to compute the regularization path over the number of sub-samples as in Algorithm1 in the paper. This requires Cholesyk up and downdates

[2016-03-22 09:35] karlnapf opened #3108 "add Cholesky update/downdate to linalg"
See [here](http://eigen.tuxfamily.org/dox/classEigen_1_1LLT.html#a67b49e986da81c3c90fe1793681e70ad)

This depends on #2526 #2527 , i.e. that Cholesky is available already

[2016-03-22 10:24] karlnapf commented on #3106
These results seem very nice, dont they?

[2016-03-22 10:24] karlnapf commented on #3106
Make sure to include a link to this in your proposal

[2016-03-22 10:24] karlnapf commented on #3106
Can we improve this

[2016-03-22 10:32] karlnapf commented on #3074
Great!

[2016-03-22 10:38] karlnapf commented on #3107
In that case, send a patch to [disable](https://github.com/google/googletest/blob/master/googletest/docs/V1_7_AdvancedGuide.md#temporarily-disabling-tests) the test. You can do that via prefixing `DISABLED_LDATest`

This is now an entrance task to fix the disabled LDA unit test

[2016-03-22 16:25] youssef-emad commented on #3033
I think this issue can be closed :) , but I have one question for my understanding.
Why train_machine is implemented in a closed form solution instead of using gradient descent or stochastic gradient descent. From my basic knowledge I think computing X transpose and multiplying X by X transpose may be very expensive operations specially for large number of features like 100,000 feature or somethin

[2016-03-22 17:17] karlnapf commented on #3033
Yes, the matrix is DxD where D is number of features.
We could implement a stochastic version of this, but even better would be to use an existing library to do so.....Vowpal wabbit for example

[2016-03-22 17:17] #3033 closed

[2016-03-22 17:47] karlnapf opened #3109 "meta example snippets in sphinx"
[code]

Such a snippet is only shown witout the last line. That is, the check for end of comment is distracted when the string appears in the code, as here in the form of `mmd.perform_test`

[2016-03-22 18:02] BrendenWashington opened #3110 "Problem when installing"
hi,

I am new to shogun

I try to install the shogun into my computer with ubuntu 14.04

but after I compiling the shogun as instructed on: like this:

mkdir build & cd build
cmake -DPythonStatic=ON
make
make install

after I doing this , why is  the folder /shogun_root/build/examples only have the undocumented folder?

it is not like what the wiki said?

and where can I get those examples to lear

[2016-03-22 19:06] BrendenWashington opened #3111 "help on install shogun"
hi

can anybody help to install shogun into ubuntu 14.04?

there is no configure file, and cmake seem to work

but I still couldn't find the python interface after the compilation,

so can anybody give me some clear instruction?

[2016-03-22 19:12] youssef-emad commented on #3111
If `make` and `sudo make install` completed successfully , maybe it's the environmental variables.
Have you tried this ?
[code]

[2016-03-22 21:20] yorkerlin commented on #3111
@BrendenWashington
Did you try `cmake -DCMAKE_BUILD_TYPE=release -DPythonModular=ON`?

[2016-03-22 21:27] karlnapf commented on #3110
The `examples/undocumented/python_modular` folder has the most complete set of examples. `examples/undocumented/libshogun` also has a few from c++.

What does the wiki say where?

[2016-03-22 21:27] #3110 closed

[2016-03-22 21:30] karlnapf commented on #3111
See the QUICKSTART readme. And please read [how to submit gihub issues](https://github.com/btford/participating-in-open-source)

[2016-03-22 21:30] #3111 closed

[2016-03-22 22:43] ali-mohamed commented on #3106
I think so. I can add more datasets in the benchmark to make sure.

So what is the next step here? I see we still don't have gradient decent for large scale datasets.

[2016-03-23 01:08] BrendenWashington commented on #3110
thank you for quick respond

but I get nothing at the folder   shogun-root/build/examples/undocumented/python_modular

and yes, I do have some excutable file under  libshogun folder ,  but how can I call these func in python?

[2016-03-23 01:10] BrendenWashington commented on #3111
@yorkerlin

thank u, I'll have a try

[2016-03-23 02:48] theaverageguy commented on #2996
This can be closed @karlnapf ! :)

[2016-03-23 02:52] theaverageguy commented on #3046
I am on it.!

[2016-03-23 02:54] theaverageguy commented on #2791
@karlnapf Any call on what else we can use? I will work on this.

[2016-03-23 03:05] theaverageguy commented on #3051
Is this one done @karlnapf ? Can be closed I guess.

[2016-03-23 04:33] theaverageguy commented on #3108
Taking this up @karlnapf !

[2016-03-23 05:02] theaverageguy commented on #2527
I am working on this.

[2016-03-23 05:06] theaverageguy commented on #3108
The reference @karlnapf . I am confirming this from wikipedia. Please inform if this is what is expected.
![a](https://cloud.githubusercontent.com/assets/9817962/13976174/0f5a52f6-f0e3-11e5-9cfe-8cc593ace959.png)

[2016-03-23 05:07] theaverageguy commented on #3108
I don't see cholesky module in linalg as of now. Is it still an existing PR for it @karlnapf ?

[2016-03-23 07:22] BrendenWashington commented on #2634
Any news here? I have encountered the same problem. First I got

Unknown MEX argument '-o'.

Then after changing '-o' to '-output' in shogun/src/interfaces/matlab_static and rebuild got

Unknown file extension '.1'.

I encount the same problem while I compile shogun---a machine learning framework

does any body know how to fix it ?

[2016-03-23 08:01] amroamroamro commented on #2634
I'm not a CMake expert, but the `$<TARGET_SONAME_FILE:shogun>` [part][1] is not right. This needs to be something that returns the flag `-lshogun`.

Also `mex -o sg ..` needs to be changed as `mex -output sg ..` for MATLAB. Octave seems to use the `-o` option instead.

[1]: https://github.com/shogun-toolbox/shogun/blob/develop/src/interfaces/matlab_static/CMakeLists.txt

[2016-03-23 11:28] karlnapf opened #3114 "Benchmark cross-validation and model-selection"
This task is to benchmark the cross-validation and model selection methods in Shogun (against e.g. sklearn)

 * Cross-validation itself
 * Specifying a grid over parameters (2max) and trying all options, returning the best parameters
 * Algorithms to start with: KRR, SVM, SVR

Note this involved many different benchmarks. Start with a single method.

[2016-03-23 11:35] theaverageguy commented on #2098
This is fixed!  :)

[2016-03-23 11:56] theaverageguy commented on #3046
Just checking @karlnapf :
1. shogun/examples/undocumented/python_modular/graphical/ This would contain the CMakeLists.txt .

2. Add this directory in cmake .
3. Appending `import matplotlib; matplotlib.use('Agg')` to every test python file.

[2016-03-23 12:43] karlnapf commented on #3106
Next step is to merge the benchmark into the benchmark repo, and yes, a larger dataset would be a good idea. See [this paper](http://arxiv.org/pdf/1507.04717v6.pdf) for some ideas

[2016-03-23 12:43] #3106 closed

[2016-03-23 12:44] karlnapf commented on #3110
the python examples are not in the build folder, but in shogun's root itself

[2016-03-23 12:46] #3107 closed

[2016-03-23 12:48] #2996 closed

[2016-03-23 12:48] karlnapf commented on #2996
Thanks! :)

[2016-03-23 12:49] karlnapf commented on #2791
I dont think so. This needs discussion before started. So make sure to ask in IRC. @sonney2k @lisitsyn @vigsterkr will have good comments

[2016-03-23 12:49] #3051 closed

[2016-03-23 12:50] karlnapf commented on #3108
Cholesky is not yet there. Needs to be added as well.
The wikipedia page is correct, but we would not implement by hand but use eigen3 as in the link above

[2016-03-23 12:51] karlnapf commented on #2634
This is only the static interfaces and is deprecated .... only half of shogun is exposed through this.

[2016-03-23 12:52] karlnapf commented on #2634
Ah man what are all these screenshots up there?

[2016-03-23 12:52] #2098 closed

[2016-03-23 12:54] karlnapf commented on #3046
something like this. We just want to make sure that all the graphical scripts at least run.
Some care will have to be taken when they go into infinite loops
I suggest googling how to test software with graphical interfaces ... The 'agg' is just a hacky way to do it

[2016-03-23 12:54] theaverageguy commented on #3108
I guess I should work on the other two issues first then to implement the Cholesky.

[2016-03-23 12:55] karlnapf commented on #3108
Indeed, as I said above

[2016-03-23 12:55] theaverageguy commented on #3046
I am sending a PR. Please take a look when free @karlnapf . :)
Can I break it into smaller PRs maybe?

[2016-03-23 16:36] yorkerlin commented on #3054
@karlnapf
Shogun's GP computes gradients wrt hyper-parameters for gradient-based model selection by default.

I think sklearn does not compute these gradients by default.
https://github.com/scikit-learn/scikit-learn/blob/56d625f/sklearn/gaussian_process/gpc.py#L664

[2016-03-23 16:47] karlnapf commented on #3054
We should compare a benchmark where we also learn the hyper-parameters using ML2.

[2016-03-23 17:11] yorkerlin commented on #3054
what is more, these gradients are for `logistic` likelihood `only`.

The third derivative is for `logistic` likelihood `only`.
https://github.com/scikit-learn/scikit-learn/blob/56d625f/sklearn/gaussian_process/gpc.py#L353

Shogun's GP can use 'student's T', 'probit' and 'logistic' likelihood.

[2016-03-23 19:49] yorkerlin commented on #3054
@karlnapf
For `gradient`-based model selection, Shogun's GP uses the `Method of Moving Asymptotes` method in NLOPT by default.
Sklearn uses `fmin_l_bfgs_b` for hyper-parameter searching by default.

[2016-03-24 00:41] yorkerlin commented on #3054
@karlnapf
some results based on the `usps3v5` dataset

shogun:
[code]
[code]

sklearn:
[code]

[2016-03-24 00:43] yorkerlin commented on #3054
I will check the `negative_log_marginal_likelihood` result from gpml.
There may be  some numerical issue in shogun or sklearn.

[2016-03-24 00:45] yorkerlin commented on #3054
For prediction, Shogun use MC samples IIRC.
MC samples may have to do with why shogun is slower than sklearn in prediction.

[2016-03-24 01:13] yorkerlin commented on #3054
I will post the script soon.

[2016-03-24 03:05] zpcxh95 opened #3115 "a warning when do configure maybe caused by new version of cmake"
platform : windows 10
cmake version:3.5.0
Shogun version: 4.1.0

when I do configure shogun-4.1.0, cmake tell me that:

	CMake Warning (dev) at cmake/FindCCache.cmake:15 (if):
	Policy CMP0054 is not set: Only interpret if() arguments as variables or
	keywords when unquoted. Run "cmake --help-policy CMP0054" for policy
	details. Use the cmake_policy command to set the policy and suppress this
	warn

[2016-03-24 10:12] karlnapf commented on #3054
Great, looking forward to see this.
Such complicated frameworks as GPs might really allow Shogun to play its muscles ...

[2016-03-24 10:12] karlnapf commented on #3054
@Ialong might be interested in this too

[2016-03-24 10:16] karlnapf commented on #3046
Please do. Send a PR for a single example first as a prototype. Then we can apply this iteratively to all examples

[2016-03-24 12:36] zpcxh95 opened #3116 "Problem in Shogun-4.1.0's "GETTED STARTTED" page"
Has anyone run this example from http://www.shogun-toolbox.org/doc/en/current/developer.html ?
The whole code as following:
[code]
I run this file but return error:

I am just start to learn Shogun, I don't understand every line of code, but I confirm that I do every step as the "INSTALL" page and "GETTED STARTTED" page do and it return error..

[2016-03-24 12:45] Ialong commented on #3091
@karlnapf
A GP regression cookbook is ready. It's very basic as I did not want to make it too long. Should I extend it to include things like sparse approximations or should I make a separate notebook for that?

Also I could not find information on the cookbook README page about adding new cookbooks to the general cookbook index. Is there something I need to do or should it happen automatically?

[2016-03-24 13:05] Ialong commented on #3054
@karlnapf yep, definitely interested. Not sure I'll be able to get properly started on this before the deadline tomorrow but could do it over the weekend.

@yorkerlin @karlnapf should I use mlpack then?

[2016-03-24 14:26] Saurabh7 commented on #3116
The code snippet you provided does not compile.
`![Uploading Screenshot .png…]()`
After removing that and an import it works fine for with `g++ -g -O3 -std=c++11 test.cpp -lshogun`.

Can you provide exact code you use and compiler flags ?

[2016-03-24 16:14] yorkerlin commented on #3054
@karlnapf
It seems `GPML` cannot run at octave 3.8.2.
I will pose the results based on `Matlab 2015b`.

[2016-03-24 19:08] karlnapf opened #3118 "Remove CStatistic::mean/variance/covariance"
And replace all their usage with linalg implementation.
In addition, respect Shoguns way of defining vectors, which is as column vectors, not row vectors. A couple of unit tests and other places in Shogun depend on this.

Mean/Std/Var:
 * partly already in linalg
 * should be possible to compute elementwise, rowwise, and columnwise

Covariance:
 * not in linalg yet, but should re-use mean computat

[2016-03-25 04:49] c4goldsw commented on #3118
I'm trying to find a standard deviation or variance function in **linalg**, but I'm unable to find one - could you please point me in the right direction? Or, have I misunderstood you, in that it has yet to be implemented (because of "partly already in **linalg**")?

[2016-03-25 06:26] yorkerlin commented on #3054
@karlnapf

the script:
http://nbviewer.jupyter.org/gist/yorkerlin/b742cfe1669170ec0a6a
the data:
https://gist.github.com/yorkerlin/ee9d99d573dd0dc7d105

[2016-03-25 07:00] c4goldsw commented on #3118
Also, I've noticed that there are different implementations of functions for vectors and matrices - I've replaced all usages of CStatistics::mean() with linalg::mean() (#3096), but I haven't done anything with CStatistics::matrix_mean() .  Does this issue involving replacing both or only vector implementations?

[2016-03-25 09:41] zpcxh95 commented on #3116
@Saurabh7  you are right, I add some extra symbol when edit my code with Markdown, now I clear it.
but It still return error even if I compile it as what you tell me, this is build log in code::blocks:
[code]
the file can be compiled normally, but XTerm still tell me ERROR

[2016-03-25 10:32] Saurabh7 commented on #3116
Have you tried something simple like this ?
[code]

[2016-03-25 12:05] karlnapf commented on #3118
The idea is to
1. Add all functionality for mean/variance/etc to linalg. Those that are not yet there, such as variance
2. Make Shogun use them rather than CStatistics
3. Remove them from CStatistics

Start one by one. As a first step, you could grep for `CStatistics::matrix_mean` etc and replace them with linalg calls

[2016-03-25 13:27] karlnapf commented on #3091
Hi,
the cookbook pages should be very simple and minimal. Rather add new pages for sparse inference methods.

the readme doesnt cover changing the index. Feel free to send an update with a mini explanation

[2016-03-25 15:33] karlnapf commented on #3054
It would be good to add such plots to the benchmark system by mlpack. @yorkerlin don't you think it can be made work with octave?

[2016-03-25 15:35] karlnapf commented on #3091
#3054 the notebook in here has the way to learn things with ml2

[2016-03-25 15:35] karlnapf commented on #3054
Why is sklearn 10 times slower in training but faster in testing?

[2016-03-25 16:22] yorkerlin commented on #3054
@karlnapf
in sklearn,
`predict` function: MAP estimator is used
`predict_proba` function: deterministic integration is used. (https://github.com/scikit-learn/scikit-learn/blob/e5c366f/sklearn/gaussian_process/gpc.py#L290)

in shogun,
`Monte Carlo` method is used as suggested in `GPML`

[2016-03-25 17:38] karlnapf commented on #3054
Good points. Make sure the benchmarks give the same results. It is meaningless to compare things that produce different results. Also if possible the same algorithm should be used. BUT, at the end of the day, what matter is "user wants to do gp regression with exact inference, which toolbox is fastest"

[2016-03-25 17:39] karlnapf commented on #3054
About vectorization: this is done via using linalg
About multithread: Yes, definitely this should be done, using openmp if possible

[2016-03-25 17:46] yorkerlin commented on #3054
@karlnapf
This is for classification :)
If we have a lot of outliers, `Students' t` (approximate inference) should be better than `Gaussian` (exact inference) likelihood.
For regression (exact inference), I leave it to @Ialong

[2016-03-25 17:51] yorkerlin commented on #3054
@karlnapf
Another case is `Cox` likelihood for survival analysis.

[2016-03-25 23:02] yorkerlin commented on #3054
@karlnapf
For beginners or black-box users, the statement is true.
For advanced users, they should consider speed, accuracy, and interpretability.

` what matter is "user wants to do gp regression with exact inference, which toolbox is fastest"  `
For simple regression, I agree with the statement.

For other cases, it is not  always true.
For example, I will not use `sklearn`,  if I care about `p-

[2016-03-26 08:53] yorkerlin commented on #3054
@karlnapf
check out some result about `GPy` at  http://nbviewer.jupyter.org/gist/yorkerlin/b742cfe1669170ec0a6a

[2016-03-27 03:48] Saurabh7 commented on #3083
`VectorSum` and other linalg test are not being run properly beacuse of `HAVE_LINALG` problem and not `HAVE_EIGEN3` . see https://github.com/shogun-toolbox/shogun/pull/3063

[2016-03-27 08:33] karlnapf commented on #3054
Cool that Shogun is faster! :) Some things to do

 * we need to put this systematically into the mlpack benchmarks .. ipython notebooks get lost so we forget about the results. Then we can collect these results and publish at some point
 * you are right that use cases can differ and should be carefully investigated on their own
 * larger problems would be interesting, where training takes a few mo

[2016-03-28 02:11] zpcxh95 commented on #3116
yes, XTerm dialog run and return nothing except "press any key to continue". it means the example run correctly, right?

[2016-03-29 10:59] karlnapf commented on #3116
@zpcxh95 Might I suggest you read up (Google is your friend) on how to communicate on github?

[2016-03-29 10:59] #3116 closed

[2016-03-29 11:50] vigsterkr commented on #3100
@lambday ok so can i ask a simple question: why do we need a yet another CUDA backend?

[2016-03-29 11:52] vigsterkr commented on #3100
and btw all these things should be runtime optimized and not user wise optimized... it makes everything much more easier for the user.

[2016-03-29 14:11] karlnapf commented on #3100
CUDA backend? The idea is more to have `linalg` operations that are independent of the library used. So that the algorithm code is free from explicit library calls (CUDA/openCL/etc).  Imagine CUDA now does things much better than ViennaCL in the future -- then we can easily change without touching the algorithm code

I don't agree on doing CPU vs GPU under the hood. I was of your opinion before, b

[2016-03-29 14:17] vigsterkr commented on #3100
i completely disagree with you @karlnapf about being extremely difficult: magma does this pretty good.

[2016-03-29 14:25] vigsterkr commented on #3100
statically compiling in a library options is so f**ing 90s ;) it's 2016 now, nobody wants to create 10 different compilation just because the lab has 10 different machines in the cluster. you want to have one blob (or blobs if we do shared libs fw one day) and that's what you wanna distribute among the machines in your cluster/lab/[toasters](https://www.embeddedarm.com/software/arm-netbsd-toaster.

[2016-03-29 15:11] lambday commented on #3100
@vigsterkr I think we're again going back to the same question : should it be the user who decide to put the data on GPU or should it be the Shogun devs. This design that I proposed, it lets the devs take that decision, since what's happening under the hood is transparent from the user and the user usually won't have an idea of the impl details to take a good decision.

About that TURN_OFF_GPU thi

[2016-03-29 15:20] vigsterkr commented on #3100
@lambday it should be neither.. it should be decided based on simplre rules.

[2016-03-29 15:24] lambday commented on #3100
@vigsterkr questions : (1) how good are those rules (2) how time/effort consuming would it be to implement those rules for shogun linalg, provided the limited (manpower) resources we have. Do we need to recreate the magic that magma does? (haven't checked that yet, but guessing that it has the answers for "what those rules should be")

If the devs decide to use GPU, it is usually a conscious/well-

[2016-03-29 15:25] lambday commented on #3100
and if the user is not happy, he can anyway turn GPU off with "turn_gpu_off" thing (let's assume that we come up a way to do that).

[2016-03-29 15:27] vigsterkr commented on #3100
those conscious/well informed decisions are actually can be compiled into rules.
the rules are as good as the one who defines them :) (just to be an a**hole here, and i couldn't let this hanging).
the turn off gpu should be in worst case an env/config option, but not a compile time option

[2016-03-29 15:28] lambday commented on #3100
@vigsterkr let's use Shogun to learn those rules :D kidding

[2016-03-29 15:29] vigsterkr commented on #3100
and the reasoning for doing semi-optimal solutions just because of less manpower i would assume never ended up in a nice place... and this (shogun) we all do (in our spare time) because we are for some magical reason enthusiastic about it (still)... doing a half/semi-optimal solution that you do because of feelings.... well that is just a broken dream.

[2016-03-29 15:37] lambday commented on #3100
@vigsterkr  let's talk about about the complexity of those rules - propositional? first-order? horn-clauses? please let me know if I should be looking at anything in particular inside magma.

about half/semi optimal solutions, well, it's always constrained optimization problem :) given the constraints, I believe we sometimes have to stick with those. but if a better alternative is out there that d

[2016-03-29 17:35] karlnapf commented on #3100
@vigsterkr we do quite a bit of GPU programming at my institute -- my opinion that it is hard to decide when/if/how to transfer data to the GPU comes from that. Also, there are quite a few papers out there where people specifically design (known) algorithms for GPUs. The architecture of the algorithms often fundamentally changes, and these changes *cannot* be inferred automatically in general, but

[2016-03-29 20:10] yorkerlin opened #3129 "word2Gaussian"
@lisitsyn  @karlnapf
paper at ICRL 2015: http://arxiv.org/abs/1412.6623

[2016-03-30 09:34] karlnapf opened #3131 "Create nightly binary packages for Fedora"
This is an (easy) entrance task for the installation project: Create a Python script that creates a binary package of the latest Shogun on Fedora linux. We want to include this in our buildbot.

@besser82 @vigsterkr can answer questions

[2016-03-30 09:39] vigsterkr opened #3132 "pypi package shogun"
this should be super easy with setuptools.
ping me (@vigsterkr) for help

[2016-03-30 09:39] karlnapf commented on #3132
`pip install shogun`

[2016-03-30 14:14] karlnapf opened #3133 "rework gaussian methods in CStatistics"
Currently, `sample_from_gaussian` and related methods in `CStatistics` all assume that samples are stored row-wise. Shogun, however, stores data column-wise. This easy entrance task to to refactor the code (and the unit tests and other places where it is called)

[2016-03-30 14:18] karlnapf commented on #3133
related to #3118

[2016-03-30 14:48] karlnapf commented on #3133
Actually, these methods should all go into our gaussian class (and this has to be re-worked as well)

[2016-03-30 16:22] sorig opened #3134 "Compiling and installing: OSX 10.11 and python"
Before I compile shogun (with python modular enabled) on my machine I get the following cmake warning:

[code]

After compilation and installation I start python and try to import modshogun, which gives me the error:

[code]

I googled the issue and found [this question on stack overflow](http://stackoverflow.com/questions/35377704/dlopen-error-unsafe-use-of-relative-rpath-on-os-x-el-capitan). If

[2016-03-30 16:55] yorkerlin commented on #3054
@karlnapf
take a look at this http://nbviewer.jupyter.org/gist/yorkerlin/b742cfe1669170ec0a6a

FITC and Var_DTC are included.

[2016-03-30 16:58] yorkerlin commented on #3054
To summary,
Shogun's GP is faster than sklearn, GPML, and GPy for most of methods.

However, for Var_DTC, GPy has a parallel implementation.
What is more, Var_DTC in GPy is as fast  as in Shogun. We should improve the Var_DTC method in Shogun.

[2016-03-30 17:03] vigsterkr commented on #3054
@yorkerlin AWESOME++
we should convert this to a http://github.com/zoq/benchmarks/ task, that way we could re-test this anytime we want :)

[2016-03-30 18:34] yorkerlin opened #3135 "method comparision in GP"
@karlnapf
reference:
http://scikit-learn.org/dev/auto_examples/classification/plot_classifier_comparison.html

[2016-03-30 18:35] yorkerlin commented on #3135
For example, we can use different kernels and inference methods.

[2016-03-30 18:42] yorkerlin commented on #3135
@karlnapf
I think it will be great if we can automatically include examples/cookbooks in Shoung's API documentation.

See notebook/examples in sklearn's GPR
http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html#sklearn.gaussian_process.GaussianProcessRegressor

[2016-03-30 18:43] karlnapf commented on #3054
Really nice!

I agree on integrating this into the benchmark repo. @ialong might be interested

[2016-03-30 18:46] karlnapf commented on #3135
Integrating this is exactly the point of the cookbook. So yes, once GSoC is over, we have many more than now and we can do this.

BTW there already is a notebook that compares the classifiers #3019

[2016-03-30 18:50] yorkerlin commented on #3135
@karlnapf
this issue is GP only :).
@karlnapf
For classification in GP, there are many components to choose. eg, kernels, likelihood (eg, logistic, probit), inference methods.

[2016-03-30 18:51] karlnapf commented on #3135
Why would that be different from what we have?

[2016-03-30 18:54] yorkerlin commented on #3135
I think  decision boundary may be different even when training accuracy is the same.

[2016-03-30 19:20] yorkerlin commented on #3135
@karlnapf
for example,  Decision boundary in linear SVM is different from the one in RBF SVM.

[2016-03-30 22:43] ialong commented on #3054
I am definitely interested, perhaps priority should be on #3043 for me now. I will try to get to benchmarking as well

[2016-03-30 23:13] cfjhallgren commented on #3058
Thanks I'm starting to settle into my new place. I hope you had a nice Easter break.

Great thanks for the pointer I'll overload the new "solve_krr_system" method in my code.

[2016-03-31 10:55] karlnapf commented on #3135
Maybe we are misunderstanding each other: Such plots are already in that notebook I referenced above. Kernel SVM vs linear SVM vs GP. I don't see a reason to do another comparison for GPs. Why do you wanna do that?

[2016-03-31 10:57] karlnapf commented on #3054
Yeah maybe do that one. Or both :) The benchmarking should be a simple matter of more or less copying @yorkerlin 's code to the benchmark system. There were lots of patches for that recently, so it is a no-brainer

[2016-03-31 15:12] yorkerlin commented on #3135
For example, `GP using RBF kernel`  vs `GP using linear kernel`.

[2016-03-31 15:48] yorkerlin commented on #3135
BTW, only GP with `RBF` kernel is used in that plots.

[2016-03-31 16:32] yorkerlin opened #3139 "new kernels for GP"
@karlnapf

reference:
https://github.com/jmetzen/gp_extras

[2016-03-31 18:41] yorkerlin commented on #3054
@karlnapf
take a look at this
I borrow some codes from @youssef-emad

https://github.com/yorkerlin/plots-for-GP/blob/master/Untitled1.ipynb

[2016-03-31 22:43] arianepaola opened #3140 "Compilation error using newer Eigen library"
The current shogun develop branch and also earlier versions (e.g. shogun_4.1.0) do not compile with newer Eigen library versions.

Below is the output of Ubuntu 16.04 LTS using libeigen3-dev (3.3~beta1-2)

<div>
<pre>
ubuntu@1604:~/shogun/build$ cmake -GNinja .. && ninja
-- The C compiler identification is GNU 5.3.1
-- The CXX compiler identification is GNU 5.3.1
-- Check for working C compiler us

[2016-03-31 23:04] arianepaola commented on #3140
This is also referenced in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=809290
Debian Bug report logs - #809290
shogun: FTBFS: /MatrixLogarithm.h:340:54: error: 'Options' is not a member of 'DerivedEvalTypeClean'

[2016-03-31 23:23] yorkerlin commented on #3139
`ExpSineSquared Kernel`
http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.kernels.ExpSineSquared.html
`WhiteKernel`
http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.kernels.WhiteKernel.html
`Matern`
http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.kernels.Matern.html

[2016-03-31 23:34] arianepaola opened #3141 "Compilation error (static assertion failed) using Eigen 3.3 library"
The current shogun develop branch does not compile due to a static assertion error, when using Eigen 3.3

Below is the output of Ubuntu 16.04 LTS using libeigen3-dev (3.3~beta1-2)

<pre>
ubuntu@1604:~/shogun/build$ cmake -GNinja .. && ninja
-- Using system's malloc
-- Could NOT find MOSEK (missing:  MOSEK_DIR MOSEK_INCLUDE_DIR MOSEK_LIBRARY)
-- A library with BLAS API found.
-- A library with LAPA

[2016-04-01 08:42] vigsterkr commented on #3132
for the record: this is a good tool to call cmake from `setup.py`: https://github.com/scikit-build/scikit-build

[2016-04-01 09:18] karlnapf commented on #3135
Well I think this is independent of GPs.
What about a cookbook on covariance functions and kernels in Shogun?

[2016-04-01 09:20] karlnapf commented on #3054
Nice notebook.
But my question again is: Why is this useful in particular for GPs.
I would much rather just include these plots in the existing notebook, for the *interesting* cases.

[2016-04-01 09:22] karlnapf commented on #3140
Thanks for the report. BTW whenever you post error messages, please paste them in a gist and post the link to keep the thread short

[2016-04-01 09:27] karlnapf commented on #3139
@yorkerlin please give your issues meaningful names and tag them (this is a good entrance task)
I agree it would be cool to add these kernels

[2016-04-01 09:29] karlnapf commented on #3141
The question is whether we can fix this without having to do a cast distinction for different eigen versions in the source code. I find these very unpleasant.

@vigsterkr I think we can fix this for new eigen version and then bundle the new one?

[2016-04-01 09:32] vigsterkr commented on #3141
@karlnapf 3.3+ is dev branch, i.e. not yet stable. 3.2.x (which works and is bundled now) is the stable branch. i would bundle stable version and not development version.

we'll have to do similar hacks that i did with viennacl version 1.6 and older vs earlier version. MACRO hacks to the rescue *caramba*! :dancers:

[2016-04-01 09:36] karlnapf commented on #3141
I see. Agreed then. But in that light, I am actually against the MACRO hacks, but rather just not using the dev version. Cleaner in my eyes

[2016-04-01 09:38] vigsterkr commented on #3141
@karlnapf yes but one day the dev will become stable and there's gonna be a longer period where both 3.2 and 3.3 will be around... so we'll need to have the macro hack...will look into it asap.

[2016-04-01 12:37] yorkerlin commented on #3054
My point is
1. We should have a notebook about "black box" classifiers. I thinks we
have it now.
2. We have have a notebook about kernels for advanced users since kernel is
one of Shogun's key features. automatical kernel selection will be another
option.
3. We should have a notebook about inference methods for GP if the default
method is too slow. Users may want to know how to choose a right infe

[2016-04-01 12:45] yorkerlin commented on #3139
it will be great if these kernels can be added in Shogun using openMP and Shogun's `linalg` lib

[2016-04-01 14:16] karlnapf commented on #3054
I see.

Feel free to create issues for 2/3 but name (or rename existing) them properly, and describe exactly what you want to do and what the focus should be. Can all be done as part of GSoC, but needs proper specifications ....

[2016-04-02 01:47] arianepaola commented on #3131
Here is a snippet from my working buildbot setup @karlnapf. It is building shogun 4.1.0 at the moment. It would be possible to create nightly rpms by specifying the tarball URL for the develop branch below.

[code]

@besser82 @vigsterkr Is it possible to trigger a source download using rpmbuild instead of using the source archive specified in sources? I am getting a version mismatch, when I try to

[2016-04-02 14:11] zpcxh95 commented on #3116
@karlnapf Thanks for your advice, I am newcomer in Github, I have read some suggestions from Google. but my problem has not been solved yet, I will ask it in other place!

[2016-04-02 17:49] zpcxh95 commented on #3116
I delete all of files related to "shogun" in my Ubuntu and install Shogun again, the problem solved. Thanks for your help!

[2016-04-04 18:59] lkuchenb commented on #2852
I can't reproduce this anymore anymore since I installed OS 10.11 from scratch on all my systems. I avoided installing any other python than the Apple provided one ever since. Building 4.0.0 as well as 4.1.0 through the (in the latter case modified) homebrew recipe worked just fine for me now.

[2016-04-04 18:59] #2852 closed

[2016-04-05 08:35] Eejya commented on #3132
@karlnapf @vigsterkr Please have a look at a simple setup.py https://github.com/Eejya/shogun/blob/pip_install/setup.py I've written. I've not tested it completely due to a make error I keep getting - http://pastebin.com/vPNh4XPa. Any pointers on how to fix the error ?

[2016-04-05 19:38] karlnapf commented on #3058
Some inspiration https://github.com/LCSL/NystromCoRe

[2016-04-07 20:58] cfjhallgren commented on #3058
Thanks :) I implemented most of the class (called it 'CKrrNystrom' we can change that if you come up with a better name) now I'm going to override the 'solve_krr_system' method. I'll read in the data from the article as well and run some examples comparing with the original krr implementation.

[2016-04-08 10:32] karlnapf commented on #3058
A few test cases that are useful:
 * m=n should reproduce exactly the KRR result
 * m=0.9n should lead to a very small deviation compared to the true result

[2016-04-08 14:35] AlexLuya opened #3149 "CMake Error at cmake/FindPLY.cmake:24 (message): ply import failure:"
Hello,
    Under a ubuntu 14.04 64bit,I tried to compile shogun from source,but got error:
[code]

Questions are:
   Do these two "Could NOT find"s cause this error?
       if there are,how to install them?(as you may knew,by default,much more "Could Not find"s will occur,and I have installed these missings by googling,but can't find a way to install these two)

  Is  "ply import failure:" the onl

[2016-04-08 14:38] besser82 commented on #3149
Hey!

You just need to install python-ply, using `sudo apt-get install
python-ply`.  The other two (MOSEK, CPLEX) can be safely ignored.

Cheers
   Björn

Am 08.04.2016 um 16:35 schrieb Alex Luya:

[2016-04-09 03:53] yorkerlin commented on #3135
https://github.com/yorkerlin/plots-for-GP/blob/master/Untitled1.ipynb

[2016-04-09 11:45] cfjhallgren commented on #3058
Good idea. I could add the first one (or both) to the unit tests.

Should the example I'm writing where I run both krr and nystrom be added to the 'examples' directory? Read that the example setup is about to change soon though.

[2016-04-09 16:47] karlnapf commented on #3149
I improved the situation in https://github.com/shogun-toolbox/shogun/commit/d2e1beacd9a156be2fb50c6c5f12269508224cab
It now tells the user to de-activate meta examples or install ply

[2016-04-09 16:47] #3149 closed

[2016-04-09 16:54] karlnapf commented on #3058
Both in separate unit tests is best.
You can add an example, best would be a meta example I think. Check the cookbook readme.
Or you can modify the ipython notebook (or start a new one)

[2016-04-09 23:18] yorkerlin opened #3154 "refactor SingleLaplacianInferenceMethodWithLBFGS and SingleLaplacianInferenceMethod"
@karlnapf
https://github.com/shogun-toolbox/shogun/wiki/GSoC_2016_project_large_gps

[2016-04-09 23:20] yorkerlin opened #3155 "refactor SingleFITCLaplacianInferenceMethod and SingleFITCLaplacianInferenceMethodWithLBFGS"
@karlnapf

https://github.com/shogun-toolbox/shogun/wiki/GSoC_2016_project_large_gps

[2016-04-11 00:47] curiousguy13 opened #3156 "compilation error in methods with no viennacl implementation"
linalg currently contains methods like range_fill, mean, cholesky etc. which only have their eigen3 implementation and when viennacl is given as backend , it gives a compilation error.

the following is an example of such an error in cholesky.h when viennacl is given as backend in cholesky_unittest.cc.
http://buildbot.shogun-toolbox.org/builders/trusty%20-%20libshogun%20-%20viennacl/builds/616/ste

[2016-04-12 08:42] karlnapf commented on #3135
Do you maybe want to put that in a new (polished) version and put in a separate notebook?

[2016-04-12 08:45] karlnapf commented on #3154
Can you give some more specifiy instructions here, so that somebody else would be able to do this? Not clear what this issue is about with this description

[2016-04-12 08:46] karlnapf commented on #3155
Details please! And a label would be good as well

[2016-04-12 08:52] karlnapf commented on #3156
I absolutely agree, this is far from optimal. In particular the HAVE_VIENNACL guard to resolve this  doesnt make any sense.
We had some discussions about a re-factored linalg. We will put that to life soon

[2016-04-12 15:24] yorkerlin commented on #3155
SingleFITCLaplacianInferenceMethod uses Newton method.
SingleFITCLaplacianInferenceMethodWithLBFGS uses LBFGS method.
The issue is about refactoring these two methods using `strategy pattern`.

Hint:
Newton optimizer and LBFGS optimizer

[2016-04-12 15:26] yorkerlin commented on #3154
`SingleLaplacianInferenceMethod` uses Newton method.
` SingleLaplacianInferenceMethodWithLBFGS` uses LBFGS method.
The issue is about refactoring these two methods using `strategy pattern`.

Hint:
Newton optimizer and LBFGS optimizer

[2016-04-12 15:30] yorkerlin opened #3160 "benchmark against other SVM libs using GPU"
@karlnapf
http://fastml.com/running-things-on-a-gpu/

[2016-04-12 16:44] yorkerlin commented on #3160
[code]
from http://fastml.com/running-things-on-a-gpu/

[2016-04-12 17:03] yorkerlin commented on #3160
@karlnapf
Since one of Shogun's key features is kernel and SVM, we have to improve our SVM algorithms.
@lambday  You work is essential.

[2016-04-12 17:07] karlnapf commented on #3160
Might be worth to have a look at these GPU accelerated SVM solvers and see how we can adapt this to Shogun and which operations we need.

[2016-04-12 17:24] yorkerlin commented on #3160
@karlnapf
some results at the 6-th page of http://arxiv.org/pdf/1404.1066.pdf

[2016-04-12 18:12] karlnapf commented on #3160
Uh, man these speedups almost hurt -- 200x ??
We should definitely look more into this thing.

[2016-04-12 18:13] vigsterkr commented on #3160
@karlnapf @yorkerlin hence the suggested gsoc project: KKT framework; where one could address most of these issues

[2016-04-12 18:34] yorkerlin commented on #3160
@karlnapf
`200x in red` likely means:
 200x speed up in training phrase but lower accuracy in test phrase

[2016-04-12 21:29] spandan1234 commented on #2557
i tried to compile the shogun file after building it using cmake. But I am encountering error. The details of compilation is as follows:
[ 79%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/structure/libncbm.cpp.obj
[ 79%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/structure/libp3bm.cpp.obj
[ 79%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/structure/libppbm.cpp.

[2016-04-13 02:13] yorkerlin opened #3161 "refactor inference methods in GP (1)"
@karlnapf
* add  `register_optimizer` method in  `InferenceMethod` (base ) class
* all approximate inference methods (excluding Exact, Var_DTC, FITC, and EP)  will use a build-in optimizer unless users provide some `first-order` optimizer (eg, NLOPT)  by calling `register_optimizer`.
(eg, Laplace and FITC_Laplace will use the Newton optimizer by default)
* remove all optimizer-specific parameters

[2016-04-13 02:20] yorkerlin commented on #3161
sub-tasks:
https://github.com/shogun-toolbox/shogun/issues/3155
https://github.com/shogun-toolbox/shogun/issues/3154

[2016-04-14 04:57] yorkerlin commented on #3161
ref
https://github.com/shogun-toolbox/shogun/pull/3163

[2016-04-14 05:33] OXPHOS opened #3164 "Add type cast for SGVector"
I am thinking about enabling cast of SGVector<int> to SGVecotr<float>. As I'll be moving things around, I want to make the idea solid before I start.

I'll add method to `linalg.internal.implementation.util`(?) as `TypeConverter`.

I want to move the variable cast method currently in `MeanEigen3` to `TypeConverter`, i.e.:

[code]

Also, to calculate rowwise and columnwise mean, we need convert `in

[2016-04-14 09:40] lambday commented on #3164
Hi @OXPHOS

Maybe copying an entire vector/matrix is not the way to go for computing means. Imagine we call `mean()` a billion times, we create a billion temporary copies, which are of no use when the method is done. I'd rather compromise the float-int thingi for the sake of performance.

I think the way to go for is like this:

- For Eigen3 backend, don't bother about return-type. Just return wha