[2017-03-16 18:12] karlnapf commented on #2701
Would you mind putting this into a notebook, and to paste a gist here. This just spams the thread. Pls delete the post and replace it with a link.

[2017-03-16 18:52] amit309b commented on #2701
@karlnapf
I tried to reproduce above given paper in ipython notebook.
first i convert alphabet data into 1 of m encoding according to written in the paper.
In my code i skip the data-augmentation part
for implementation purpose i use the small frame and my dataset is from AG_corpus_news_articles.
here is below link for code
[https://gist.github.com/amit309b/7c072b97be281a29049d201f3b3888e3](url)

[2017-03-17 03:41] OXPHOS opened #3715 "Apply Cholesky methods in linalg library to Shogun"
We recently added [Cholesky matrix factorization method](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgNamespace.h#L362)  and [Cholesky solver](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgNamespace.h#L378) in Shogun linalg library using `Eigen3`, and now they need to be put into real use -
By grepping "Choles

[2017-03-17 03:45] yorkerlin commented on #3715
It seems that most of the listed methods are written by me.
@OXPHOS
Are LDLT (https://eigen.tuxfamily.org/dox/classEigen_1_1LDLT.html) and LU solver available in Shogun now?

[2017-03-17 03:57] OXPHOS commented on #3715
@yorkerlin Nope..I can add them if they're in urgent need, otherwise they'll be considered as entrance tasks. BTW, it seems that ViennaCL doesn't support Cholesky decomposition now ([this issue](https://github.com/viennacl/viennacl-dev/issues/195)).

[2017-03-17 03:58] OXPHOS commented on #3715
ref #3108

[2017-03-17 04:39] OXPHOS opened #3716 "Implement QR solver in linalg library"
- Implement QR solver interface in [`LinalgNamespace`](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgNamespace.h) and `Eigen` and `ViennaCL` QR solver methods in `LinalgBackend*`.
- Replace QR solver in [`LDA`](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/classifier/LDA.cpp) and [`FisherLDA`](https://github.com/shogun-toolbox/shogun/b

[2017-03-17 04:45] OXPHOS opened #3717 "Implement SVD solver in linalg library"
- Implement SVD solver interface in [`LinalgNamespace`](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgNamespace.h) and `Eigen` and `ViennaCL` SVD solver methods in `LinalgBackend*`.
- Replace SVD methods in Shogun (grep "JacobiSVD")

ref #2527

[2017-03-17 04:54] OXPHOS commented on #2526
Question: For LDLT, LU, QR and SVD, more than one matrix will be obtained after decomposition. It seems that the best way to fit in is like: `svd_factor(matrix, bool matrixU=true)`. Is this kinda weird?

[2017-03-17 10:02] karlnapf commented on #2701
@amit309b please read on how to share ipython notebooks

[2017-03-17 10:06] karlnapf commented on #2526
SVD returns three objects, U, V, and a vector S with the singular values.
Need to think about the interface.

I guess there can be two interfaces

 * a solve method that just uses the specified  method and matrix to solve a linear system (no factorization returned)
 * a factor method that turns a matrix into multiple factors (different for every method)
 * a solve method that takes the factors (or

[2017-03-17 12:15] amit309b commented on #2701
sorry for wrong format,  @karlnapf
here is ipython notebook link:
https://gist.github.com/amit309b/b3417128326b7ca0da5e21b88b6e6711

[2017-03-17 14:53] vigsterkr opened #3718 "Support for redirecting the logs"
currently the SG_DEBUG/INFO etc logging methods are streaming the output `std::cout`. It would be good to be able to have file output of the logs, as for example in case of the unit testing framework all the DEBUG information is lost as gtest is swallowing all the `std::cout`.

some of the options worth checking out:
 * https://github.com/google/glog
 * https://github.com/gabime/spdlog

the latter

[2017-03-18 17:37] elenanst commented on #3000
Hello, I'm working on replacing "converter_multidimensionalscaling_modular.py" with a meta example and a cookbook page.

I have created a "converter" subdirectory under "examples/meta/src" and am thinking of adding a "Feature Transformations" (inspired from "converter") field in index.rst. Truth is that MDS is a general technique that can be applied for visualization, dimensionality reduction or

[2017-03-19 11:04] amit309b commented on #2701
@karlnapf  please give some comment on above code

[2017-03-19 13:29] lkuchenb opened #3725 "Resolve object replication for classes with 3rd party dependencies"
There are several issues with shogun classes that depend on 3rd party libraries, e.g. CMKL or CLibSVM. The named two currently don't have any of their members registered as parameters and for the non-shogun ones (LibSVM, CLPLEX, GLPK, ...) it has to be checked upstream how to implement this first.

 * Check all shogun classes for `Parameter` registration. Test cases for `clone()` and `equals()` ex

[2017-03-19 13:40] lkuchenb opened #3726 "Thread safety of 3rd party libraries is not checked"
I don't know about other code, but at least since we have the parallel xval #3660 back in there are unresolved issues regarding thread safety of 3rd party libs.

I found that `CMKLClassification` depends on the GLPK LP-solver which seems to be unsafe for use in parallel ([see the mailing list discussions linked here](https://en.wikibooks.org/wiki/GLPK/Using_the_GLPK_callable_library#Thread_safety)

[2017-03-19 13:42] lkuchenb opened #3727 "Parallel cross validation is unsafe to use"
* The cloning of some machines is actually broken (LibSVM, MKL, see #3725)
 * Some machines use 3rd party libs that aren't threads safe (see #3726)

I suggest to pull parallel cross val out until those are resolved.

[2017-03-20 00:36] lkuchenb commented on #3725
The member variables in LibSVM classes could actually be moved to the `train_machine` scope, so maybe there is not much to do there.

[2017-03-20 00:40] lkuchenb commented on #3725
I prepared a patch for MKL in #3730

[2017-03-20 02:07] MikeLing commented on #3718
Where should we put these log file?

[2017-03-20 02:12] vigsterkr commented on #3718
@MikeLing i'm not so sure if i understand you... those libraries support specifying as a config variable to print the logs into a file instead of stdout/err

[2017-03-20 02:15] MikeLing commented on #3718
@vigsterkr yeah, I know, I mean we need someplace to store those log files right? Like we need a folder  named `log` located in `shogun/src/shogun` and so we know where to find that log file.

[2017-03-20 02:17] vigsterkr commented on #3718
@MikeLing still not sure if i understand you.... i mean what does that have to do where the logs file is being put in the context of this task? that should be up to the user of shogun... it's a runtime configuration of either glog, spdlog or any of the logging library one chooses to use

[2017-03-20 09:46] iRmantou commented on #1991
Is this issue still open? @vigsterkr  It looks like very old

[2017-03-20 09:47] vigsterkr commented on #1991
@iRmantou yeah but actually i've picked it up yesterday... so sorry.

[2017-03-20 09:55] iRmantou commented on #1991
@vigsterkr  It seems that I have to go and find one...       Orz

[2017-03-20 12:03] karlnapf commented on #3726
Ouch!
Definitely
This is a good one for the detox2 project, or the usual suspects2 GSOC

[2017-03-20 12:04] karlnapf commented on #3727
Yes, and next time we need to be more careful with merging things like this
@lkuchenb you want to send a revert patch?

[2017-03-20 12:21] karlnapf commented on #2701
This seems OK, but it is like 1% of the task.

[2017-03-20 12:26] lkuchenb commented on #3725
And a patch for LibSVM classes in #3731

[2017-03-20 13:28] karlnapf opened #3732 "Systematically test xvalidation of machines"
Just like #3537, we want to make sure x-validation works for all Shogun machines.

For that, we need to write an automatically generated set of tests, similar to the nice patch #3679

Keep in mind we need
 * single threaded
 * multi-threaded

Expect memory errors.
In addition, as in the discussion of #3679 all the unit tests that are automatically generated for all Shogun classes should be separat

[2017-03-20 15:06] karlnapf opened #3733 "add `transient` variables to tags"
Just like java transient, we should be able to register variables in tags as transient.
This easy entrance task is to implement this in our tags.

See last year's GSoC project report for details

[2017-03-20 15:14] karlnapf commented on #3733
Postponed for now

[2017-03-20 15:14] #3733 closed

[2017-03-20 15:43] jucor commented on #3160
Hi team! Sorry to necro this issue, but is there now GPU support for SVM in Shogun?

[2017-03-20 15:45] vigsterkr commented on #3160
@jucor our linalg finally supports it (just merged), but none of the svm's linalg part has been ported yet to be using the new linalg framework.... so not yet.

[2017-03-20 16:17] jucor commented on #3160
Thanks for the very fast answer @vigsterkr ! Impressive :) Good luck with the port.

[2017-03-20 17:16] lambday commented on #3700
Done. Closing.

[2017-03-20 17:16] #3700 closed

[2017-03-20 18:16] amit309b commented on #2701
@karlnapf Then what to do next can you suggest me what is my next task as from above discussion I understand that we have to just write the ipython notebook.

[2017-03-21 15:45] sam0410 opened #3737 "CARTree can't be imported from modshogun"
I was trying to install shogun in ubuntu from [http://www.shogun-toolbox.org/install](http://www.shogun-toolbox.org/install).
I did
`$ sudo add-apt-repository ppa:shogun-toolbox/stable`
`$ sudo apt-get update`
and it was fine.
But when I do
`$ sudo apt-get install libshogun17`
it says
`Unable to locate package libshogun17`
but when I do
`Unable to locate package libshogun16` - it works but  if I t

[2017-03-22 05:33] vigsterkr opened #3739 "add swig interface checks to appveyor"
Currently the windows CI  (appveyor) only builds and tests libshogun, but none of the modular interfaces. It should be rather easy to add SWIG to the build image (check appveyor documentation) and then add the modular interfaces to the appveyor build matrix.

[2017-03-22 05:36] vigsterkr commented on #3737
@sam0410 i reckon your apt is still not trying to fetch from the ppa, see the list of packages of the stable ppa:
https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable/+packages

libshogun17 is there. try using the `-t` flag for `apt-get` command and specify the repo you wanna use.

mm i think CARTree was not yet part of libshogun16

[2017-03-22 05:36] #3737 closed

[2017-03-22 05:37] vigsterkr commented on #3737
@sam0410 or you are not using an amd64 or i386 architecture?

[2017-03-22 09:18] karlnapf commented on #3739
I have faith in GSoC applicants :D

[2017-03-22 09:28] karlnapf opened #3740 "Create data generator class for unit testing"
* Unit tests currently all set up their own data
 * result: redundant code, larger binaries, etc
 * Task: Create a class in unit test that can generate data for all kinds of tests we are using
 * Then, deploy the class in unit tests, i.e. call its methods rather than generating by hand everytime.

See https://github.com/shogun-toolbox/shogun/pull/3719#discussion_r107030062

[2017-03-22 09:30] karlnapf commented on #3160
For the record: It is not as simple as putting `linalg` calls in the SVM solver. The GPU SVM implementations are quite different from the CPU ones, and partly achieve the speedups with accuracy tradeoffs. This is a more serious task. Contributions are welcome!

[2017-03-22 09:50] karlnapf commented on #3000
All good. I commented that we will not have this norm comparison in the output. That is unit testing material and the meta examples just store the results, so just remove the line

[2017-03-22 09:51] karlnapf commented on #3000
Whoops. Re-opening as there are lots of python example still.

**No need for cookbook rst pages for the remaining distance examples**. A meta example is fine.

[2017-03-22 10:07] abhinavrai44 commented on #3688
#3734

[2017-03-22 10:23] sam0410 commented on #3737
Hi @vigsterkr !
I am using amd64
I get this when I do `sudo apt-get update`
samikshya@samikshya:~$ sudo apt-get update
Ign:1 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial InRelease
Hit:2 http://in.archive.ubuntu.com/ubuntu xenial InRelease
Ign:3 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial Release
Hit:4 http://in.archive.ubuntu.com/ubuntu xenial-updates InRelease
Ign

[2017-03-22 10:33] vigsterkr commented on #3737
Uuuuhoooh! I just realised, that the xenial ppa support i've added after 5.0.0 release so currently there's only trusty packages in the stable ppa. Lemme check if i could generate them now (xenial packages)

[2017-03-22 10:33] sam0410 commented on #3737
Hi @vigsterkr !
I am using amd64.
I did sudo apt-get update
and I got the following issues-

samikshya@samikshya:~$ sudo apt-get update
Ign:1 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial InRelease
Hit:2 http://in.archive.ubuntu.com/ubuntu xenial InRelease
Ign:3 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial Release
Hit:4 http://in.archive.ubuntu.com/ubuntu xenial-upda

[2017-03-22 10:34] sam0410 commented on #3737
@vigsterkr ! Thanks!

[2017-03-22 13:09] vigsterkr commented on #3737
@sam0410 so i've tried, but unfortunately because of some stupid reasons i wont' be able to create you the stable xenial package... but dont worry, just use the nightly package, it is actually much better (has many fixes) than 5.0.0 :)

[2017-03-22 13:34] sam0410 commented on #3737
Thanks @vigsterkr . But I think, this should be included in the documentation as well.

[2017-03-22 13:36] vigsterkr commented on #3737
@sam0410 we are more than happy to have contributions regarding fine-tuning our library :)

[2017-03-22 14:11] karlnapf opened #3741 "Systematically test all machine train and apply multithreaded"
Just like in #3679  and #3732

We would like to make sure that all learning machines in Shogun:

 * dont produce memory errors when running train and apply
 * multi-threaded execution returns the same results as single threaded

[2017-03-23 10:35] karlnapf commented on #3509
LeastAngleRegression needs one

[2017-03-23 11:46] karlnapf commented on #3732
#3742

[2017-03-23 11:46] karlnapf commented on #3479
#3742 #3732

[2017-03-23 11:47] #3238 closed

[2017-03-23 12:01] karlnapf opened #3743 "parallelize xvalidation"
Long story short: We need this, but it needs to be done carefully.
Currently de-activated due to memory errors and non existing thread safety.

See also #3660 and the subsequent #3667

Need to address #3732 first in order to be able to detect issues.

Might also need to work on read-only style features as cloning the data (as done in current draft is **not** an option)

[2017-03-23 15:36] karlnapf commented on #3048
any updates here?

[2017-03-23 15:37] karlnapf commented on #3048
Might be nice to explore this further in a GSOC entrance task, especially doing a faster (LAPACK) SVD

[2017-03-23 15:40] karlnapf opened #3744 "Classify core developers irc output"
This should be a fun entrance task is useful for any kind of applied project with Shogun. The task is simple: Train a model that can identify core developers of our project, based on their IRC behaviour (from the logs)

 Steps

 * Download logs, structure them nicely
 * Extract features and labels (sentences, and who wrote them)
 * Pick a nice feature representation
  * Optional: Implement a new f

[2017-03-23 21:20] lkuchenb commented on #3727
Parallel xval was disabled again with #3742

[2017-03-24 05:54] deveshnag1 commented on #3744
I'm repeatedly encountering internal server errors while opening most of the logs. Any other way I can get these logs?

[2017-03-24 10:24] karlnapf commented on #3744
We are fixing the link atm. Check back in a few days

[2017-03-25 09:05] deveshnag1 commented on #3697
so the ../../../data should be replaced by an os.getenv call right?

[2017-03-25 15:26] deveshnag1 commented on #3702
@karlnapf I think this can be closed now

[2017-03-26 01:09] karlnapf commented on #3702
What about you run a linkchecker and then we close? :)

[2017-03-26 02:13] minxuancao commented on #3744
I'm interested in this project. I'm new to open source and github. I want to confirm what 'log' means. Is it the commit history?

[2017-03-26 02:17] karlnapf commented on #3744
No it is the IRC chat logs, they are currently offline, but we might put them online again.
In order to build the system, you can use any other chat log on the web. Then, when you are done, and we have put our chat logs back online, you can just apply it to ours ....

[2017-03-26 03:16] deveshnag1 commented on #3702
I'm not sure I follow

[2017-03-26 03:24] minxuancao commented on #3744
Thanks!

[2017-03-26 03:30] karlnapf commented on #3702
I meant: you could run an automated tool that verifies the links in **all** the notebooks in the repository. If broken ones are found, you send another patch, otherwise we close this issue.

[2017-03-26 03:36] deveshnag1 commented on #3702
Sounds interesting. I'll get right to it.

[2017-03-26 04:12] minxuancao opened #3746 "How should shogun-data be stored for using examples?"
Hello! I installed shogun on my computer and I'm trying to run a python example. It reports that regression_1d_linear_features_train.dat is missing. So I downloaded the data. Then I realized that there is an alias named data in build/examples/meta/. I'm not sure how to deal with this. I can't create a new dir named data or add data files to the alias.

[2017-03-26 04:14] karlnapf commented on #3746
Not sure how you installed, but
[code]
does it when you are using git.

[2017-03-26 04:14] #3746 closed

[2017-03-27 17:59] tingpan commented on #3744
I am interested in this one! I will have a try!

[2017-03-28 02:59] karlnapf commented on #3744
Start with bag of words representations, see e.g. here: https://github.com/karlnapf/machine_learning_course/blob/master/classification.ipynb

[2017-03-28 02:59] karlnapf commented on #3744
Or train a NN ;)

[2017-03-28 06:21] shreab373 commented on #3740
hi! can i try this?

[2017-03-28 09:38] mpi-pebert opened #3752 "Shogun 5.0.0 compile/linking error PythonModular"
Hi,
I am trying to install Shogun 5.0.0 from source on a Debian 8.7 server / kernel 4.4.41.1.amd64 inside a dedicated Conda environment (env packages in [this gist](https://gist.github.com/mpi-pebert/336ff91430a3b0cadf0753e461e085b4) )
The following cmake command
[code]
results in this [cmake output](https://gist.github.com/mpi-pebert/82b60f0477f59b259b1aceede39d20ff) - looks fine to me...
However

[2017-03-28 09:43] vigsterkr commented on #3752
hi @mpi-pebert thnx for reporting this. in case you just wanna use shogun on your jessie i'd suggest using the apt repository with the nightly packages of shogun: https://github.com/shogun-toolbox/docs/blob/master/INSTALL.md#debian-

the python interface is precompiled as well: simply install the `python-shogun` package.
i'm successfully using these binaries with a jupyter notebook server on http:

[2017-03-28 12:15] mpi-pebert commented on #3752
Hi Viktor,
thanks for the quick reply - sorry, I see that I have left out essential information:
I have no admin privileges on the server (also, no Docker available), and I need to install Shogun with Python interface for a third-party tool for a somewhat large analysis task, so a (public) cloud setup is unfortunately not an option.

+Peter

[2017-03-28 12:21] vigsterkr commented on #3752
@mpi-pebert mmm okey... in that case you have still some options:
 1. do you have the dependencies (not the build but the runtime dependencies) for the libshogun17 and python-shogun package on the system? because in that case you can just simply unarchive the deb packages and use the shared libraries inside :)
2. i suppose you are missing some lapack dependencies... so in that case i'll have to in

[2017-03-28 15:14] mpi-pebert commented on #3752
1) well, it's worth a shot - I found `libshogun17_5.0.0_amd64.deb` in the Trusty PPA, but I don't seem to find `python-shogun`, where can I get the correct deb package?
2) any hint on what might be missing is of course appreciated

[2017-03-29 02:56] tboex commented on #3744
Is it also possible for me to work on this one?

[2017-03-29 03:49] vigsterkr commented on #3752
@mpi-pebert if i were you i'd use the packages in the nightly ppa... trust me it's really that much better :) + stable does not have python-shogun package yet

regarding 2.) would it be possible that you send me the output of your `dpkg -l` on your system? drop it via mail and i can replicate things in a docker container and maybe even fix the cmake

[2017-03-29 03:50] vigsterkr commented on #3752
@mpi-pebert btw just realised, you mentioned Trusty? why trusty? isn't it debian jessie 8.7 that you are using atm? if that's the case (debian jessie) use the apt.shogun.ml repository

[2017-03-29 03:56] vigsterkr commented on #3752
@mpi-pebert and another btw: have you actually tried to compile develop branch of shogun? if not could you please try it and let us know if it causes the same bug?

[2017-03-29 05:48] karlnapf commented on #3744
Everyone is free to try their ting.

[2017-03-29 06:55] deveshnag1 commented on #3697
@vigsterkr Is this what you had in mind?
https://github.com/deveshnag1/shogun/blob/notebook_relative/doc/ipython-notebooks/classification/Classification.ipynb

[2017-03-29 07:02] vigsterkr commented on #3697
@deveshnag1 mmm in a way yes but as you can see in the meanwhile this has been addressed by somebody else in the https://github.com/shogun-toolbox/shogun/pull/3753 pr

[2017-03-29 11:15] vigsterkr commented on #3697
fixed in #3753

[2017-03-29 11:15] #3697 closed

[2017-03-29 18:34] mpi-pebert commented on #3752
I managed to get my hands on `libshogun18_5.0.0+1SNAPSHOT201703060902-0_amd64.deb` and `python-shogun_5.0.0+1SNAPSHOT201703060902-0_amd64.deb` using my laptop (where I am root, otherwise same Debian in-house installation). I extracted the contents and linked the libs in my environment (is that the correct procedure? I have never done it that way before...). I just tried the Python interface, which

[2017-03-29 19:06] Shashi456 commented on #3522
can you tell me what you mean by markdown

[2017-03-29 19:59] vishalbelsare opened #3754 "Error building Python & R Modular Interfaces"
I started with the 5.0.0 release tarball, to compile manually with the following -

g++ (GCC) 6.3.1 20170306
cmake version 3.7.2
SWIG Version 3.0.12
Python 3.6.0
Python 2.7.13
R version 3.3.3 (2017-03-06) -- "Another Canoe"
doxygen --version 1.8.13

Compiling just libshogun without any modular interfaces (Python & R) completes without any error. However, I end up with the following error when enab

[2017-03-29 20:02] vigsterkr commented on #3752
@mpi-pebert thnx. i'll look into the dpkg list but the
[code]
is very alarming because that's basically saying that you are missing a file that is in the repository :(

could you actually check whether the file exists in `src/interfaces/python_modular/swig_typemaps.i`

[2017-03-29 21:15] mpi-pebert commented on #3752
Ok, I have identified a problem - I started again from scratch and confirmed that `swig_typemaps.i` exists; cloned the repo and compiled again; this time, it worked. That was a bit unexpected, so I played around and found that I can reproduce the `Unable to find 'swig_typemaps.i'` error by doing a `make clean` and then trying to rebuild the whole thing (i.e., swig_typemaps.i is now indeed missing

[2017-03-29 21:41] Shashi456 commented on #3522
Broken Links : StatLib Library , this notebook (both places), CAccuracyMeasure,  Dense features

[2017-03-30 12:52] vigsterkr opened #3756 "fix error in DecisionTrees.ipynb"
[code]

[2017-03-30 12:53] vigsterkr opened #3757 "fix error in variational_classifier.ipynb"
[code]

[2017-03-31 03:31] minxuancao commented on #3757
I ran the ipython notebook in jupyter and got the following error.
![screen shot 2017-03-30 at 11 13 56 pm](https://cloud.githubusercontent.com/assets/8654851/24535249/e5409780-15a0-11e7-9b7d-a3c253ee4900.png)
I think Error code(5) means access is denied somewhere but I don't know where...

[2017-03-31 08:55] yorkerlin commented on #3757
@minxuancao  this is not an error. It is a warning. The minimizer stops due to some reason. The reason is coded in NLOPT. Please see the error code (e.g. 5 in this case) defined in NLOPT.

[2017-03-31 14:29] deveshnag1 commented on #3757
@vigsterkr is it because of a misplace in position of " ' " in this line?
input_path=os.path.join(SHOGUN_DATA_DIR, 'toy/banana.dat)'

[2017-03-31 15:49] vigsterkr commented on #3757
@deveshnag1 most probably... then again the task is to check and solve this issue :)

[2017-03-31 16:03] deveshnag1 commented on #3757
@vigsterkr How do I check it? In a jupyter notebook?

[2017-04-01 03:03] vigsterkr commented on #3757
@deveshnag1 i'm not so sure how you've tested that notebook as although the particular error is gone from the notebook but there's other now:

[code]

[2017-04-01 04:56] deveshnag1 commented on #3757
@vigsterkr It seems there was another error that I overlooked towards the end. I'll send a PR ASAP. Sorry for the mistake.

[2017-04-01 08:18] vigsterkr commented on #3752
mmm yeah the lapack/cblas problem with release 5.0.0 are actually known... i was just hoping that we got it right finally in current develop. the current develop is inches away to be the next 6.0.0 release so i'm closing this now.

but i'll open a bug regarding the `make clean` story. thnx

[2017-04-01 08:18] #3752 closed

[2017-04-01 08:19] vigsterkr opened #3761 "swig_typemaps.i disappears after clean"
this came up in another issue:
[code]

[2017-04-02 02:37] moizsajid opened #3762 "Fixing Typos in Getting Involved Wiki"
I found some typos in the Getting Involved Wiki. However, as it turns out, there is no clean way to contribute to a wiki. Is there any workaround regarding this? Any help will be highly appreciated. Thank you!

[2017-04-02 03:13] moizsajid commented on #3756
I am working on this issue.

[2017-04-02 07:53] #3757 closed

[2017-04-02 09:11] Erichliu00 opened #3763 "error import shogun using root account"
Hi, are there any instructions on how to correctly set up shogun on ubuntu 14.04 using root account.
For some reason, I was using root account and tried to install shogun follows [INSTALL.md](https://github.com/shogun-toolbox/docs/blob/master/INSTALL.md#ubuntu) but later when using Shogun I met import errors: `ImportError: No module named modshogun `. Thank you.

[2017-04-03 00:47] moizsajid commented on #3744
Are we supposed to label the data ourselves?

[2017-04-03 14:44] karlnapf commented on #3744
Chat logs are labelled by construction

[2017-04-03 17:01] karlnapf commented on #3763
Yep, exactly in that file.
With this description we won't be able to help you.

[2017-04-03 17:01] #3763 closed

[2017-04-04 14:03] Erichliu00 commented on #3763
Thanks, I retried this description but always got:

Building dependency tree
Reading state information... Done
E: Unable to locate package python-shogun

What should I do? I searched google and found [this similar question](http://stackoverflow.com/questions/42928900/could-not-install-sudo-apt-get-install-libshogun17) but it not works for me. I am using ubuntu 14.04. Thank you for any suggestions.

[2017-04-04 15:00] moizsajid commented on #3744
So basically our task boils down to classifying whether a given chat post came from a Shogun Core Developer or not?

[2017-04-05 07:33] Erichliu00 opened #3766 "error install python-shogun on server"
I am going to use shogun in an experiment written by tensorflow running on a  ubuntu server, I followed the install instructions but still get error when try to install python-shogun.

Building dependency tree
Reading state information... Done
E: Unable to locate package python-shogun

Any suggestion? Thanks.

[2017-04-05 15:26] karlnapf commented on #3766
Without the exact steps you did and system specs, we cannot help you

[2017-04-05 15:26] #3766 closed

[2017-04-05 16:05] karlnapf commented on #3744
Could do that. But the task is to classify *who* of the core devs

[2017-04-06 15:30] skn123 commented on #2958
I will do that immediately.

[2017-04-13 15:45] mitakas opened #3768 "shogun-wiki is gone"
I tried to compile shogun 5.0.0 from source but could not checkout the shogun-wiki submodule. This submodule was introduced with #3473 but now it is gone. What happened?

[2017-04-19 09:08] karlnapf commented on #3768
This is a known bug. It will be fixed in the next release.

[2017-04-19 09:08] #3768 closed

[2017-04-21 15:30] vigsterkr opened #3769 "Finally design plugins and parameters"
- SG_ADD to register existing member variables
- Convert GaussianKernel to new-style parameters and make sure everything works (clone + equals, GPs)
- Modelselection: discuss restricted parameters (bounds, distributions, ...), TParameter -> Tag
- Clone using parameters
- Transient tag

[2017-04-21 17:22] vigsterkr opened #3770 "fix cookbook generator buildbot jobs"
- run it on shogun-slave1 and upload it to website (the cookbook output)
- fix the PR link of the generated job

[2017-04-22 10:58] vigsterkr opened #3772 "thread safe octave interface"
Octave interface currently works when shogun is running in single threaded mode.

We've tried to track down how to do fix this from swig (see python and multithreaded libraries using swig), currently no solution:
http://swig.10945.n7.nabble.com/octave-calling-a-multithreaded-library-td15075.html

[2017-04-24 14:28] vigsterkr opened #3780 "Replace internal datastructures with STL"
* src/shogun/lib/DynArray.h
 * src/shogun/lib/DynamicArray.h
 * src/shogun/lib/DynamicObjectArray.h
 * src/shogun/lib/List.h
 * src/shogun/lib/Map.h
 * src/shogun/lib/Set.h
 * src/shogun/lib/StringMap.h

one should be able to use STL in headers and used as member variables.
start by replacing one of them in an actual model and see how it goes....

[2017-04-24 14:54] karlnapf opened #3781 "Make CFeatures immutable"
This is a bigger task. The goal is to make all methods of CFeatures `const`, which means a features object cannot be changed after instantiation. This will need to be done for all sub-classes of features. Start with the obvious ones (`CDenseFeatures, CSparseFeatures, CStringFetaures`)...

Things to consider
 * things like `add_subset` will return **new** instances of CFetaures, rather than changin

[2017-04-24 15:08] karlnapf opened #3782 "Avoid SGMatrix/SGVetor in public linalg API"
We realised a slight design issue in the linalg library:
Currently, a caller needs to pass `SGMatrix<T>` or similar, which means the template argument `T` needs to be known at call time. As linalg is intended to be called from the algorithm implementations, this requires data to be type-casted (i.e. `T=float64_t`) in the algorithm (as mostly done in Shogun atm), which is bad -- the algorithms shou

[2017-04-24 15:25] karlnapf commented on #3762
wikis are now editable for everyone. Give it a try :)

[2017-04-24 15:25] #3762 closed

[2017-04-24 21:22] karlnapf opened #3784 "Remove any non-scipy stack dependencies from notebooks"
Many of the notebooks have dependencies that are not from the scipy stack (i.e. numpy, scipy, pandas, etc). Those regularly cause a lot of headaches in our build infrastructure. This task is to go through the notebooks (grep for `import `), and try to get rid of those imports, and use the available tools to do the job.

Example:
 * `Image` in the PCA notebook
 * `networkx` in the FGM and neural ne

[2017-04-24 21:58] karlnapf commented on #3782
Before you start coding: there is some serious design thinking required on how to cast the type free new `Matrix` (think `LinalgMatrix`), so the typed version. We don't know the best solution yet, but have an idea which we are happy to share. Ping me or @vigsterkr

[2017-04-24 22:05] karlnapf opened #3785 "Feature elements/vectors should only be accessed via iteratiors"
Algorithm code should never explicitly touch feature vectors/strings etc. Instead it should use an API for doing operation on iterators (that support various ways of accessing data)

The main idea is that rather than doing
[code]
we do
[code]

See https://gist.github.com/lisitsyn/a6d8ff6e8690431f967c5318c3750919 for more details.

This task is to
 * Add a reasonable feature iterator interface to f

[2017-04-25 11:35] #3004 closed

[2017-04-25 11:36] karlnapf commented on #3004
CStatistics was cleaned up quite a while ago.

[2017-04-25 11:36] #2958 closed

[2017-04-25 11:38] karlnapf opened #3786 "Move all files that are guarded with USE_GPL_SHOGUN"
To the folder `shogun/src/gpl`. The build will take care of the rest (hopefully)

There are example files in `shogun/src/gpl`, so you can see how things work. The feature branch `feature/gpl/` will be merged soon, so then the works on this can start ...

Steps:
 * find file that is guarded with `#ifdef USE_GPL_SHOGUN` (you might find files that are clearly GPL but don't have this guard, then try a

[2017-04-25 12:14] karlnapf commented on #3704
Should be fixed in 91cce476cc39357fbd4fa7695d6a518933795a44

[2017-04-25 13:37] karlnapf opened #3787 "replace all license headers by BSD"
Use sed.

If you find files that cannot be converted, please move them as described in #3786
Please do this folder wise, **not** all the files at once. We need to do manual reviewing of this. Note more than 10 files at once

[2017-04-25 18:06] iglesias opened #3788 "Drop use_reference_counting option"
Why to remove it?
* Some tests break when it is off.
* We have to guard the code any time we need to call `ref_count`, `ref`, or `unref` in a  csgobject directly.

Why to keep it?
* The only reason I can think of why this option exists is to improve "efficiency" (and introducing leaks).
* Other?

ps. bugfixing label because this will fix the tests that are failing nightly_none.

[2017-04-25 18:24] karlnapf commented on #3788
Remove!
As well as all other switches of nightly none....

[2017-04-25 19:03] karlnapf opened #3789 "Drop legacy linalg code"
The old compile time codes can be removed, there are still some old files

@OXPHOS you are the best person to do this

[2017-04-26 12:19] karlnapf commented on #3786
Example: #3790

[2017-04-26 12:44] karlnapf opened #3791 "fix linalg warnings"
There is plenty, e.g. at
http://buildbot.shogun-toolbox.org/builders/nightly_bsd_license/builds/8/steps/compile/logs/warnings%20%281823%29

[2017-04-26 14:24] #3704 closed

[2017-04-26 14:24] karlnapf commented on #3703
Done by @lisitsyn in 6.0 release

[2017-04-26 14:24] #3703 closed

[2017-04-26 15:21] lisitsyn commented on #3645
I agree this is not really easy (or even not possible) in C++ at all.

I have two ideas in my mind:
* Change all definitions of **all** classes to something like `REGISTERED_CLASS ClassName` and then do the 'magic' there.
* Define `static const Meta<ClassName> ClassNameMeta;` next to **each** class.

Something like that should be done with plugins anyway. Classes are not first-class citizens so we

[2017-04-26 15:50] karlnapf opened #3793 "add PR preview build"
To buildbot, just like the cookbook preview we already have.

It would be good to have previews of
 * notebooks (only the changed files)
 * doxygen

This will make reviewing much easier, in addition to giving as a test for the notebooks on PR level

Has to be done by core dev with buildbot access, so either of @karlnapf @iglesias @lisitsyn @vigsterkr

Fernando, we discussed this, so I assigned you

[2017-04-26 21:19] iglesias commented on #3793
Sure, I'll take care of it :+1:

[2017-04-28 05:11] OXPHOS commented on #3791
@karlnapf So one of the warnings complained about comparing `unsigned int` to `int` in a for loop:
         `        for (index_t i = 0; i < a.size(); ++i)`

And both `SGVector` and `SGMatrix` can be taken as parameter (`a`), their `size()` actually return different type. `SGMatrix` returns `uint64_t` and `SGVector` returns `int32_t`. Should we try to stick to one type?

[2017-04-28 10:45] karlnapf commented on #3791
I think auto will do the magic for you. Or even `range`
@lisitsyn

[2017-04-28 22:45] vigsterkr opened #3800 "remove file dependencies in unit tests"
unit tests should not depend on external resources, like files from data.

these are the tests that depends on files in `data` directory:
[code]

[2017-04-30 03:54] OXPHOS commented on #3791
I think to use `auto`/`range`-based for loop, we need a `vector`, or something else we can iterate..I don't see how it will work with `size()`.

[2017-04-30 08:06] lisitsyn commented on #3791
You may implement `begin() { return 0; }` and `end() { return size(); }`

[2017-04-30 13:38] moizsajid commented on #3744
I have trained a Naive Bayes classifier on the 1,941 chat log files. However, I am getting a very low accuracy (less than 1%). I am searching for the possible bug in my code. https://github.com/moizsajid/shogun-core-developers

[2017-04-30 13:51] lisitsyn commented on #3744
This was supposed to be done using Shogun ;)

[2017-04-30 15:02] moizsajid commented on #3744
Found the major bug! I was not taking the log of the prior probabilities. After this update, I am getting an accuracy of 59.85%.

[2017-04-30 15:04] moizsajid commented on #3744
@lisitsyn I will also try to complete it using Shogun just to verify my results. Is there a Bag of Words representation available in Shogun?

[2017-05-03 13:09] gbohner opened #3809 "Mac brew installation examples"
Outdated examples in the updated Mac brew package, located in ```shogun/6.0.0/share/shogun/examples/libshogun```
- only the old binaries are shipped (ship new source code rather)
- do not match the documentation on the website
- no other folder exists in ```share```

[2017-05-04 10:46] vigsterkr commented on #3809
@gbohner i'm not so sure if i understand what do you mean by `only the old binaries are shipped`?
we are not generating the meta examples using brew...

documentation is not being generated at all...

[2017-05-04 19:58] OXPHOS commented on #3791
I used `decltype` instead. The issue should be fixed. I'll keep an eye on the builder.

[2017-05-05 05:40] my-zhang commented on #3756
This issue is already resolved by #3771 Please close this ticket.

[2017-05-05 09:03] vigsterkr commented on #3809
@gbohner would be great if you could get back to us what would you like to see in the shogun package... as soon we're gonna have a small patch release and would like to get things right in the next brew update. much appreciated!

[2017-05-05 11:30] karlnapf commented on #3809
picking up on this.
@gbohner installed the mac brew package and then there are the old `undocumented/libshogun` example *binaries* in `share/examples/libshogun`

I think what all packages of shogun should provide is compiled binaries of all c++ examples (both the old libshogun ones and the meta examples), and source code of the c++ meta examples.
Then, any language binding package should have the

[2017-05-05 11:32] karlnapf commented on #3756
thx!

[2017-05-05 11:32] #3756 closed

[2017-05-05 21:34] #3791 closed

[2017-05-06 04:42] vigsterkr commented on #3809
@karlnapf this is not even true for our debian package... :)

[2017-05-09 08:10] karlnapf commented on #3809
It is for the brew one, could be removed then I guess

[2017-05-09 14:11] ghzhaole opened #3811 "Problem of multiple kernel learning"
**I run multiple kernel learning on the shogun cloud，but the error:**

`SystemErrorTraceback (most recent call last)
<ipython-input-10-bc7ef3a27832> in <module>()
     18
     19 #train to get weights
---> 20 mkl.train()
     21
     22 w=kernel.get_subkernel_weights()

SystemError: [ERROR] In file /tmp/buildd/shogun-5.0.0+1SNAPSHOT201704240735/src/shogun/classifier/mkl/MKL.cpp line 439: Interleav

[2017-05-12 20:29] geektoni commented on #2539
Hey there! I was wandering around these ancient issues and I hit this one.

I tried to reproduce the error by using the current version of Shogun and everything worked. I compiled the C++ code above and I also run the python script but neither of them caused segfaults.

I don't know if a bugfix was provided or if there is a unit test which checks for similar problems. However, since it is a veery

[2017-05-17 11:09] iglesias opened #3817 "Thread safety with trace memory allocs"
Related to failure in http://buildbot.shogun-toolbox.org/builders/nightly_all/builds/65.

Helgrind detects many 'possible data race' errors in the example, which are gone if the number of threads is set to one.

[2017-05-23 03:09] MikeLing commented on #3740
https://github.com/shogun-toolbox/shogun/pull/3812, I will take this as a part of GSoC ;)

[2017-05-23 08:01] fahad92virgo opened #3820 "Precision of Custom Kernel"
hi,

for my application I am using pre computed kernel matrices and it is of utmost value that I maintain double precision for my matrices values. Now I have observed that the when I set the kernel matrix in the Custom Kernel Class using `set_full_kernel_matrix_from_full` I lose fair bit of precision. Upon inspection I found that that in the `set_full_kernel_matrix_from_full` even when I am passin

[2017-05-28 07:41] xxnyufengzhe opened #3822 "The problem about install shogun 2.0.0"
I installed Shogun 2.0.0 on the ubuntu14.04 through the Matlab interface，

I have excuted ：./configure --interfaces=matlab_static
                 and ：make
The two step is ok
When I execute: make install
The following error occurred:
Root@xxn-K84HR:/home/xxn/shogun-2.0.0/src# make install

Make -C Shogun install

Make[1]: entering directory `/home/xxn/shogun-2.0.0/src/shogun'

Install -d -m755 //

[2017-05-28 10:04] xxnyufengzhe opened #3823 "The problem about interface of matlab"
I can't find the interface of MATLAB in the latest version of shogun6.0.0. How can I get the interface?

[2017-05-28 22:02] karlnapf commented on #3823
Matlab static interfaces were removed in 5.0.
We are planning to get it back via SWIG. There is work on this, but somebody needs to take it up and finish

[2017-05-28 22:02] #3823 closed

[2017-05-29 14:43] MikeLing commented on #3780
https://github.com/shogun-toolbox/shogun/pull/3824

[2017-05-29 20:51] karlnapf commented on #3822
Very sorry but we cannot really support this old version anymore, lack of manpower. I suggest to use the octave interface for the latest build. We will try to get the new Matlab bindings working at some point this year

[2017-05-29 20:52] #3822 closed

[2017-05-31 07:21] xxnyufengzhe opened #3825 "The err about python interface"
I installed Shogun on the ubuntu16.04 through the python interface，
When I execute: cmake -DPythonModular=ON ..
The following error occurred:
root@xxn-K84HR:/shogun/build# cmake -DPythonModular=ON ..-- Found CCache: /usr/bin/ccache
-- Using system's malloc
-- dir='/shogun/src'
-- dir='/shogun/build/src'
-- dir='/shogun/src/gpl'
-- Spinlock support found
CMake Warning at src/shogun/CMakeLists.txt:2

[2017-05-31 07:26] MikeLing commented on #3825
@xxnyufengzhe Hi, thank you for your report this. So, from the error message, I believe you missing some necessary package for shogun compiling, etc Ctags. Try to install ctage and try it again? :)

[2017-05-31 08:55] karlnapf commented on #3825
I cite the error message:
[code]

[2017-05-31 08:55] #3825 closed

[2017-06-06 01:29] vigsterkr opened #3834 "add CoreML model serialization format"
apple just released it's coreML library that provides a fast (device optimised) implementation of some machine learning models: https://developer.apple.com/machine-learning/

it would be great to be able to convert shogun models to CoreML model.
the CoreML model format specification is in protobuf available from here:
https://docs-assets.developer.apple.com/coreml/documentation/mlmodel_specificati

[2017-06-06 06:39] xxnyufengzhe opened #3835 "Installation configuration problem"
The latest version of shogun is the most suitable version of ubuntu, is it ubuntu 14.04 or ubuntu 16.01, is it 32-bit or 64-bit?

[2017-06-06 06:42] vigsterkr commented on #3835
@xxnyufengzhe you can use either... we don't have regular tests for 32 bit only for 64 bit, none the less it should work on 32 bit as well.

[2017-06-06 06:42] #3835 closed

[2017-06-08 01:58] xxnyufengzhe opened #3839 "How can we get the data"
I have completed the installation of the Shogun Python interface, when i run ：python linear_ridge_regression.py
It is display：
Python 2.7.6 (default, Oct 26 2016, 20:30:19)
[GCC 4.8.4] on linux2
Type "copyright", "credits" or "license()" for more information.

Traceback (most recent call last):
  File "/usr/local/share/shogun/examples/python/regression/linear_ridge_regression.py", line 8, in <modu

[2017-06-08 01:59] vigsterkr commented on #3839
@xxnyufengzhe please read the manual carefully....
if you want data repository then you should clone it:
`git submodule update --init`

[2017-06-08 01:59] #3839 closed

[2017-06-09 15:51] ChrisRackauckas commented on #1612
Since this was discussed, Clang.jl and Cxx.jl have improved immensely and make this form of semi-auto wrapping much easier. Now that this is part of NumFocus, I think this should be reconsidered!

[2017-06-09 16:27] karlnapf commented on #1612
Absolutely, but what we need here is the ability of SWIG to link to Julia. This should not be too hard to be done by someone knowing SWIG and julia a bit .... @ChrisRackauckas you know someone?

[2017-06-10 13:08] xxnyufengzhe opened #3841 "how can i fusion of two features by two different kernel in shogun??"
I want to classification for  3 types objects (sample 100, sample 100),  now i extract 2 types features for each object, but their dimension  are different, the first type feature is 16 dimensional, second type features are 128 dimensional, so now the data is two matrix 16 * 300   and  128 * 300, how can i Fusion of the two feature by multi kernel on shogun,  Is there such an example in the Shogun

[2017-06-13 14:07] karlnapf commented on #3841
Check the examples and notebook on multiple kernel learning,
http://www.shogun-toolbox.org/examples/latest/examples/regression/multiple_kernel_learning.html
http://www.shogun-toolbox.org/notebook/latest/MKL.html

[2017-06-13 14:07] #3841 closed

[2017-06-14 04:58] OXPHOS opened #3844 "Out of memory error caused by linalg with vs2017"
The linalg headers are causing `C1060: out of heap space` error when compiling with VS2017 on Appveyor consistently now. (Traced back to [2 months ago](https://ci.appveyor.com/project/vigsterkr/shogun/build/4.2.604)).

The closest solution I found [here](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/fatal-error-c1060) suggested that [`/Zmfactor`](https://docs.microsoft.com/

[2017-06-15 11:44] karlnapf commented on #3844
@vigsterkr ?

[2017-06-15 14:59] karlnapf opened #3847 "Implement a time-series splitting strategy"
When data is not iid, but for example sampled on a grid in time (time series), cross-validation is invalid due to leaking of future information into the present, and as such overestimating model performance.

This is a simple task to develop a splitting strategy that respects time, and write an example that does this backtesting (cross-validation in time).

Inspiration:
 * http://scikit-learn.org/

[2017-06-15 18:10] olinguyen opened #3849 "Pickle on a BinaryLabels object does not save the values parameter"
When using pickle to save a `BinaryLabels` object, the `values` field from `get_values()`  does not get saved and becomes null when the object is loaded using pickle. The `labels` are saved properly, but not the `values` parameter.

[code]

The output is the following:

[2017-06-16 15:00] karlnapf opened #3850 "Random forest probability output"
The current implementation only outputs binary labels:
https://gist.github.com/olinguyen/ade8e2bd0899b2ec9bee00d03fbb5172

It would be nicer if the forest would average the probabilistic predictions of each tree, as e.g. [done in sklearn](http://scikit-learn.org/stable/modules/ensemble.html#forest)

[2017-06-16 15:02] karlnapf opened #3851 "Implement a probability calibration scheme"
Shogun needs a way to turn calibrated probability outputs of its models (SVM, RF, etc), into calibrated ones. This means that the predicted class probability actually matches the actual class probability (as estimated over some validation dataset)

Inspiration:
http://scikit-learn.org/stable/modules/calibration.html

This requires some form of x-validation, so can be tied into Shogun's framework f

[2017-06-16 15:18] karlnapf commented on #3849
The solution is to add a line like
```SG_ADD(m_current_values, ...```
to `CLabels::init()`

Wanna go ahead with this @olinguyen ?

[2017-06-22 04:12] vigsterkr commented on #3850
@karlnapf for this would you use https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/ensemble/MeanRule.h
once RF can output probabilities for classification?

[2017-06-22 15:00] MikeLing commented on #3849
Hi @karlnapf and @olinguyen, I create a pr in  https://github.com/shogun-toolbox/shogun/pull/3857. And the things has been fixed like:

[2017-06-23 08:17] romainviard commented on #3811
Please did you find a solution to this issue. I have the same on shogun6.0.0 ...What I understand is : the build version is compiled using libSVM but I need one buold using SVMlight to use Interleaved MKL...is there one already build because when I built it...it crash at execution....
If someone could give a hand, thanks in advance...

[2017-06-23 08:30] ghzhaole commented on #3811
I'm sorry, I did not solve the problem. I guess the problem should be caused by Libsvm's authorization. So I found the historical version of Shogun, here is the link :ftp://shogun-toolbox.org/shogun/releases, which 1.1 and 3.2 version I can use. If you have a problem with the installation, you can ask me again.

[2017-06-23 08:34] ghzhaole commented on #3811
And Why can not I reply directly to the mail?

[2017-06-23 08:45] romainviard commented on #3811
Ok thanks a lot for the link...I will probably test old version but that does not seem to be a solution for the future ....Maybe have a look elsewhere ? Are you pleased of obtained result ?

[2017-06-23 09:52] vigsterkr commented on #3811
In order to be able to use MKL you need to have svmlight, which we are not allowed to distribute hence for MKL you need to compile shogun yourself from source. That should solve your problem.

[2017-06-23 10:06] iglesias commented on #3793
I thought a bit further about the notebooks preview for PRs. For the actual previews/visualizations of the notebooks, I came up with creating a github repo where the notebooks with the cells' outputs will be pushed.

PRs can be organized in branches or the dir structure of the repo. Once a PR is merged, the corresponding branch/directory is removed.

Thoughts on that? @vigsterkr @karlnapf

[2017-06-23 12:37] romainviard commented on #3811
Thats works !!! I m able to use the notebook python MKL.ipynb with the shogun 3.2....YEAH!!!
Thanks to you.

[2017-06-23 14:14] vigsterkr commented on #3811
@romainviard you should be able to use with shogun 6.0.0 as well... just make sure you compile shogun yourself...

[2017-06-23 15:24] romainviard commented on #3811
Thanks for the advice...I tried with shogun 6.0.0 I succeeded to compile and install but the python kernel crash when I try the "import"..I think something went wrong in my process...I have to restart from scratch...

[2017-06-23 15:25] vigsterkr commented on #3811
@romainviard what does crash mean exactly? could you give some debug output?

[2017-06-23 16:17] romainviard commented on #3811
No problem I (re)start the compilation from scratch (without my modification) and thats works perfectly ...thanks again...

[2017-06-23 16:17] #3811 closed

[2017-06-24 03:25] vigsterkr opened #3860 "GaussianCheckerboard leaks"
check the latest output of memcheck: http://buildbot.shogun-toolbox.org/memcheck/20170623-0120.html
[code]

and this is in case of every unit test…. this is due to the fact that copy_subset if you check already calls `SG_REF` on the returned `CFeatures`, i.e. no need for the
[code]
in `GaussianCheckerboard::GaussianCheckerboard`

[2017-06-24 03:26] vigsterkr commented on #3860
@MikeLing @micmn

[2017-06-24 03:28] vigsterkr opened #3861 "SVMOcasTest leaks"
on top of #3860 there's some extra leaks:
[code]

[2017-06-24 03:28] vigsterkr commented on #3861
@MikeLing

[2017-06-24 03:30] vigsterkr opened #3862 "CDynamicArray unit tests are leaking"
check http://buildbot.shogun-toolbox.org/memcheck/20170623-0120.html for details

[2017-06-24 03:30] vigsterkr commented on #3862
@MikeLing

[2017-06-24 09:45] #3860 closed

[2017-06-24 12:20] vigsterkr commented on #3844
140a8eb77cfcd523711274789d4e5d6b5f30bd52 is hopefully fixing this... let's see couple of builds. but basically disabled VS2017 for the time being (as it takes way too much time to run one job) & disabled parallel build, this way hopefully there's more memory left for building the given source file.

[2017-06-24 12:20] vigsterkr commented on #3844
feel free to reopen if you start to see this again ;)

[2017-06-24 12:23] vigsterkr commented on #3844
💃 did not help:
https://ci.appveyor.com/project/vigsterkr/shogun/build/952#L3499

[2017-06-24 20:30] karlnapf commented on #3849
Nice!

[2017-06-24 20:32] karlnapf commented on #3793
I think all this can be done via the buildbot API in fact.
Can copy to the webserver
Best to discuss together with @vigsterkr on slack I think

[2017-06-24 20:33] karlnapf commented on #3850
Yes in general an average is used. We will have to check the details though.

[2017-06-25 12:09] iglesias commented on #3793
Yeah, using the webserver sounds good too.

[2017-06-26 03:07] vigsterkr opened #3869 "LinearTimeMMD test fails on aarch64"
aarch64's float operations seems to be not so accurate :)
in LinearTimeMMD there's a `9.5367431640625e-07` error instead of `1E-10`.
would it be a problem that we lower an error a bit?

[code]

[2017-06-26 03:08] vigsterkr opened #3870 "QuadraticTimeMMD.compute_variance_h0 fails on aarch64"
aarch64's float operations seems to be not so accurate :)
in QuadraticTimeMMD there's a `4.76837158203125e-07` error instead of `1E-10`.
would it be a problem that we lower an error a bit:

[code]

[2017-06-26 03:10] vigsterkr opened #3871 "KRRNystrom.apply_and_compare_to_KRR_with_column_subset fails on aarch64"
[code]

[2017-06-26 03:13] vigsterkr opened #3872 "Autoencoder fails on aarch64"
[code]

[2017-06-26 03:14] vigsterkr opened #3873 "CGMShiftedFamilySolver.solve_shifted_weight_noshift fails on aarch64"
[code]

[2017-06-26 03:15] vigsterkr opened #3874 "Statistics tests fails on aarch64"
[code]

[2017-06-26 11:58] MikeLing commented on #3862
https://github.com/shogun-toolbox/shogun/pull/3876 And here is the output of valgrind

mikeling@mikeling-QiTianM6500-N000:~/shogun/build$ valgrind --leak-check=full --show-leak-kinds=all  ./bin/shogun-unit-test --gtest_filter=CDynamicArrayTest*
==8548== Memcheck, a memory error detector
==8548== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==8548== Using Valgrind-3.12.0 and LibV

[2017-06-27 07:50] lambday commented on #3870
Hi @vigsterkr. I think it should be okay. These tests use a precomputed kernel matrix, which is of float32_t type. I think `FLT_EPSILON` should be okay in this case?

[2017-06-27 10:12] karlnapf commented on #3870
@lambday want to fix? :) We need your help ...

[2017-06-27 13:24] iglesias opened #3878 "Handle invalid setting of random subset size in random forest"
The parameter can be set via the method `get_num_random_features` or a couple of the constructors. This parameter is a member of `RandomCARTree`.

Currently, if the parameter is larger than number of features, a non-informative `shogun::ShogunException` is thrown. To reproduce, for instance call `rand_forest.set_num_random_features` in multiclass_randomforest_modular.py.

The idea is to handle inc

[2017-06-28 04:24] #3716 closed

[2017-06-28 04:29] OXPHOS commented on #3716
#3846

[2017-06-28 05:45] lambday commented on #3870
@karlnapf sure! Will send a patch today.. :)

[2017-06-28 11:05] SanyuanZZ opened #3879 "Multiple Kernel Learning example problem"
Hello, I  study MKL recently, and do MKL example('http://www.shogun-toolbox.org/examples/latest/examples/regression/multiple_kernel_learning.html'). I use python in Unbuntu, install shogun by "sudo apt-get install python-shogun". However, I can't do "binary_svm_solver = SVRLight()".  I can't find SVRLight in my python, what should I do?  Can I use LIBSVR to replace?

[2017-06-28 17:57] karlnapf commented on #3874
@lamday ideas?

[2017-06-28 17:57] karlnapf commented on #3874
@lambday

[2017-06-28 17:57] karlnapf commented on #3873
I think we can just decrease here @lambday

[2017-06-28 20:18] arjunmenon opened #3881 "FastICA"
Does the ruby binding has an implementation on blind source separation?
Can you point to an example for separating different sounds from a wav file.

[2017-06-28 21:27] karlnapf commented on #3881
Should be possible. Though we don't have an example. See the Ica notebook in the showroom, and have a look at the ruby examples on the website.

I'll try to add an example for ica one of these days

[2017-06-29 15:29] karlnapf opened #3883 "Don't warn for unused variables in meta examples"
[code]

We don't want this as many variables are just kept just for the sake of storing them later. However, if storing is turned off (they are not stored in the code listing), then this warning still appears

@geektoni @micmn if you have a minute ...

[2017-06-29 15:30] karlnapf commented on #3883
Same for javac and c-sharp I guess

[2017-06-29 15:31] karlnapf opened #3884 "ICA algorithms crash if features are empty"
If you do
[code]

you get an eigen3 error (cryptic) due to the NULL matrix in the features. This should rather be a nice error message (coming from a REQUIRE in the ICA base class or so)

@MikeLing this one is for you

[2017-06-29 16:01] karlnapf commented on #3881
I have sent a patch with meta examples for all ICA algorithms Shogun has.
After this has been merged, they will appear on the website "examples", this includes ruby
Loading the soundfile has to be done from ruby for now (Shogun cannot read soundfiles), best is to load the sound, store in vector form (csv or so), and then load using Shogun

[2017-06-29 16:01] #3881 closed

[2017-06-29 16:13] micmn opened #3886 "LDA binary classification is broken"
This is not due to the last patch but true also for Shogun 6.

Check the notebook on shogun cloud (in fact this build should be prior to the patch) [lda.pdf](https://github.com/shogun-toolbox/shogun/files/1112707/lda.pdf)

I'll look into it asap.

[2017-06-29 17:33] MikeLing commented on #3884
https://github.com/shogun-toolbox/shogun/pull/3887

[2017-06-30 01:26] vigsterkr commented on #3861
@MikeLing is this fixed?

[2017-06-30 06:11] lambday commented on #3874
Hi @karlnapf, sorry I missed this one. Will fix the issues over the weekend.

[2017-06-30 06:12] lambday commented on #3873
@karlnapf yes that should do.

[2017-06-30 11:04] #3485 closed

[2017-06-30 11:24] karlnapf opened #3889 "Systematically test all iterative methods"
All models that are trained iteratively should

 * have a progress bar (add to missing ones)
 * have early stopping implemented (with working predictions afterwards) (unit test)
 * should give a *warning* when not converged (unit test), not fail.
 * Have the option to "continue" training more, if that makes sense (if not converged, or early stopped) (unit test)

This is a mix of automatic unit tes

[2017-06-30 11:26] karlnapf commented on #3889
example for warning rather than error message #3885

[2017-06-30 22:17] lisitsyn commented on #1381
I believe it is solved.

[2017-06-30 22:17] #1381 closed

[2017-07-02 04:38] #3884 closed

[2017-07-02 04:40] vigsterkr opened #3892 "Fix Director classes for Java interface"
currently `USE_SWIG_DIRECTORS` only gets enabled if one uses python interface.
SWIG's Java generator supports director classes, we should be able to expose it

[2017-07-02 04:40] vigsterkr opened #3893 "Fix Director classes for C#"
currently `USE_SWIG_DIRECTORS` only gets enabled if one uses python interface.
SWIG's C# generator supports director classes, we should be able to expose it

[2017-07-02 04:41] vigsterkr opened #3894 "Fix Director classes for Ruby interface"
currently `USE_SWIG_DIRECTORS` only gets enabled if one uses python interface.
SWIG's Ruby generator supports director classes, we should be able to expose it

[2017-07-03 05:04] clover978 commented on #3651
hello, I met the same problem when running the same script attribute.py. Did you solve it? Thanks for help~

[2017-07-03 05:13] vigsterkr commented on #3651
@clover978 could you provide the script itself as a [gist](http://gist.github.com) plz?

[2017-07-03 06:55] clover978 commented on #3651
https://gist.github.com/clover978/48a34e08ebd60ee388ae8745023b42c7

This is the error massage:
Traceback (most recent call last):
  File "./new-attributes.py", line 227, in <module>
    pred,prob,Ltst = train_attribute(attribute_id,C,split)
  File "./new-attributes.py", line 119, in train_attribute
    labels_trn = Features.Labels(Lplatt_trn)
TypeError: Cannot create new instances of type 'modshog

[2017-07-03 07:13] vigsterkr commented on #3651
@clover978 oh great! do you maybe have the data set available as well for sharing?

[2017-07-03 08:00] vigsterkr commented on #3651
is it from here http://attributes.kyb.tuebingen.mpg.de/ ?

[2017-07-03 09:10] clover978 commented on #3651
Yes. it is.
Sorry. I have been busy with uploading the data files. And maybe it's because some network problems, the process is extremely slow so I didn't see your reply.
In additional, the old version of attribute.py uses namespace 'sg', you need to replace it with the new version which can be obtained at the same site.

[2017-07-03 09:12] karlnapf opened #3897 "Add meta example facility for directory classes"
This allows testing #3894 #3893 #3892

[2017-07-04 14:36] arjunmenon commented on #3881
Hey
Has it been merged?

[2017-07-04 14:44] karlnapf commented on #3881
No, there was a problem. But I will fix that now.... hopefully ;)

[2017-07-04 14:56] karlnapf opened #3899 "Add meta example for UWedgeSep"
The one I produced locally fails on travis (results of UWedgeSep on travis differ to my local ones with fixed seed on same data)

This task is to reproduce this, and fix whatever reason that causes this.

See the readmes for how to create meta examples and integration testing data. Should be mostly copy paste

@MikeLing this might be a nice one for you

[2017-07-04 14:59] karlnapf commented on #3881
Sent an update that should be merge-able within the next hour

[2017-07-04 16:39] karlnapf commented on #3786
#3900

[2017-07-05 15:16] thhung commented on #3886
I have an problem with the offical shogun on fedora 23 is that after trainning lda always return -1. Is this the same problem? Thanks.
P/s: sorry for beginner question.

[2017-07-05 15:24] micmn commented on #3886
Probably, can you share the code you are using?

[2017-07-05 16:33] karlnapf commented on #3886
This is now fixed as #3901 was merged, right? @micmn

[2017-07-05 19:36] vigsterkr opened #3904 "GPL macro problem with interfaces"
[code]

[2017-07-05 21:14] besser82 commented on #3904
Simply change it:  `#endif // USE_GPL_SHOGUN` or `#endif /*USE_GPL_SHOGUN*/` would be fine.

[2017-07-05 21:24] arjunmenon commented on #3881
Cool!
Examples are also in the pipeline?

[2017-07-05 21:33] karlnapf commented on #3881
http://shogun.ml/examples/nightly/examples/converter/ica_fast.html

You will have to load and convert to your desired sampling rate using something else. But once you have the time series representation of the sound, using shogun is easy. Let us know how it goes

[2017-07-05 21:43] karlnapf commented on #3904
sorry, that didnt come up locally when I tested it
https://github.com/shogun-toolbox/shogun/commit/728a9f57a65d462c42be0e487dd26a26545db9de

[2017-07-05 21:43] #3904 closed

[2017-07-05 21:44] thhung commented on #3886
I don't have the code with me now but I will post it here tomorrow when I get it.
The version shogun I'm using is from official shogun package on Fedora 23.

[2017-07-06 08:14] arjunmenon commented on #3881
Hey
If you can tell any ruby gem to do feature extraction of audio files. I can't find any.

[2017-07-06 12:20] thhung commented on #3886
Hello,
Please find below my code:

Training:

     //Given two mat object of opencv
     cv::Mat trainSamples,  trainLabels;
     //convert label from 0 to -1
     trainLabels.setTo(-1, trainLabels == 0);
     shogun::init_shogun_with_defaults();

    #define START 0
    #define STOP trainSamples.rows

    SGVector< float64_t > lab(STOP-START);
    SGMatrix< float64_t > feat(trainSamples.cols, STO

[2017-07-06 12:24] vigsterkr commented on #3886
@thhung there's actually an opencv <-> shogun helper function in shogun.. only thing is that it's not compiled with the official fedora package.

[2017-07-06 12:28] vigsterkr commented on #3886
@thhung but on the other hand just recently has been some serious bug fixed in shogun's LDA so i recommend you to try to compile shogun from source... in that case you should use `-DOpenCV=On` flag for `cmake` and check the docs here: https://github.com/shogun-toolbox/shogun/tree/develop/doc/OpenCV_docs

[2017-07-06 13:41] micmn commented on #3886
@thhung can you check also the bias value in both training/testing (lda->get_bias())? that could be the problem and it should be fixed in latest version

[2017-07-06 15:08] thhung commented on #3886
Thanks for your help! I built from source with the master branch. But it didn't work. It always returns -1.
Here is my bias:
   training: -0.00175954
   testing : -0.00175954

It's kind of strange because when I train the same dataset in scikit-learn or matlab ( all default parameters), it's ok. But here I can't reproduce it here.

[2017-07-06 15:18] micmn commented on #3886
You should try develop branch https://github.com/shogun-toolbox/shogun/tree/develop

Also, if you can share the data I can try to reproduce it.

[2017-07-06 15:38] thhung commented on #3886
Thanks, I will try it.
[dummy_test.csv.txt](https://github.com/shogun-toolbox/shogun/files/1128379/dummy_test.csv.txt)
[dummy_train.csv.txt](https://github.com/shogun-toolbox/shogun/files/1128380/dummy_train.csv.txt)
Please find above my data. I will try the develop.

[2017-07-06 16:01] micmn commented on #3886
Is this the correct data? dummy_test seems 0s, NaNs and garbage.

[2017-07-06 19:01] thhung commented on #3886
Yeah I see.I didn't expect that. I couldn't connect to my machine now. But I will post new data here as soon as possible tomorrow. It's strange.

[2017-07-07 10:11] thhung commented on #3886
Thanks a bunch, guys. I found the problem with the encode of my Mat object (I men  the type). Finally I can reproduce the result of scikit-learn with shogun-master. By the way, what is the different of LDA between master and develop branch. Because I only tried with master branch.

[2017-07-07 13:05] romainviard opened #3909 "bool CKernel::init(CFeatures* l, CFeatures* r)"
Hello,
I know this is not the right forum to ask my question. But I have no other idea...sorry...
It concern the **use** of method init in the Kernel class....
I do not understand why there is two arguments of type combineKernel class ("left-hand side" and "right-hand side"...) ? what is the relation with the training/testing sets ?is there any documentation (or other forum etc..) where I can find

[2017-07-07 14:07] dougalsutherland opened #3910 "Support linking to OpenBLAS"
The LAPACK/BLAS-finding logic [here](https://github.com/shogun-toolbox/shogun/blob/370a66b3473b492cbcdc942179290414a7dc938a/src/shogun/CMakeLists.txt#L278-L322) doesn't seem to support OpenBLAS: [FindLAPACK](https://github.com/Kitware/CMake/blob/master/Modules/FindLAPACK.cmake) will find it okay, but then since the result is neither Accelerate or MKL, it then looks for either atlas or cblas. It wo

[2017-07-07 21:50] MaximilianLomardo opened #3913 "SVRLight missing from python 2/3 interface"
i have been trying to run the example from this link:

http://www.shogun-toolbox.org/examples/latest/examples/regression/multiple_kernel_learning.html#

Everything goes ok until I need to create an instance of SVRLight(), which seems to not be included with shogun, everything else is there (for example LibSVM is included with shogun). Have you encountered this issue before?

[2017-07-08 06:03] #3910 closed

[2017-07-08 06:06] vigsterkr commented on #3910
@dougalsutherland the reference commit should fix your problem with using the right lapack... but the usage of LAPACK by Eigen is still experimental `ENABLE_EIGEN_LAPACK` as it fails to compile...

[2017-07-08 07:42] vigsterkr opened #3914 "Fix Eigen with Lapack backend"
there's a new cmake flag called `ENABLE_EIGEN_LAPACK` that enables Eigen to use if a lapack library is detected. Current if one enables it it will make the compilation fail.

[2017-07-08 11:26] dougalsutherland commented on #3910
Seems to work, thanks! (Just linking to openblas, not `ENABLE_EIGEN_LAPACK` which I haven't tried yet.)

[2017-07-08 11:27] vigsterkr commented on #3910
@dougalsutherland yeah that'll require substantial work to get it work... i've tried getting MKL as well but the problem is that the current way we detect MKL is not good with anaconda... anyhow this should solve your initial main problem :)

[2017-07-08 11:29] vigsterkr commented on #3914
@micmn do you fancy to look into this? :)

[2017-07-08 11:30] vigsterkr commented on #3913
@MaximilianLomardo how do you install shogun on your machine?

[2017-07-08 11:55] MaximilianLomardo commented on #3913
@vigsterkr

I installed Fedora Scientific 25 in a virtual machine (virtual box). I then ran the command:

"sudo dnf install shogun"

This seemed to work ok. I then tried to install the python interfaces for both python 2 and python 3. This was achieved by running the following commands. I don't have the command handy for that anymore, but it was something like:

yum install python2-shogun.6.0.04
y

[2017-07-08 11:57] vigsterkr commented on #3913
@MaximilianLomardo the problem with SVRLight and MKL is that they depend on SVMLight, which we are not allowed to distribute per license, hence if you wanna use those you'll have to compile shogun from source.

@besser82 am i right that this is the case as well on fedora?

[2017-07-08 12:23] MaximilianLomardo commented on #3913
@vigsterkr Ah ok, do you know of any step by step instructions which I could follow to reinstall shogun from source with SVMLight on my fedora machine? This is the closest I've gotten to getting a working version and this has been a pretty lengthy process. Do you think there is any way to use LibSVR with the MKLRegressio class otherwise?

[2017-07-08 12:28] vigsterkr commented on #3914
i started off fixing in `feature/eigen-lapack` branch

[2017-07-08 14:25] dougalsutherland opened #3915 "hdf5 on Windows"
I'm getting lots of errors like
[code]
when trying to build with a shared-library hdf5 on Windows ([full log](https://ci.appveyor.com/project/conda-forge/staged-recipes/build/1.0.14879/job/e4rbbr2wh4bxt4ao)).

I think, per [the hdf5 instructions](https://support.hdfgroup.org/HDF5/release/obtain518.html), you need to set `H5_BUILT_AS_DYNAMIC_LIB` in this case (but _not_ set it if linking against a

[2017-07-08 15:44] vigsterkr commented on #3914
@dougalsutherland i reckon i'm done with this.. i'll do more tests but then i'll merge the `feature/eigen-lapack` into develop

[2017-07-08 16:21] #3862 closed

[2017-07-08 16:22] vigsterkr commented on #3861
@MikeLing can you valgrind that test? as our memtest output is having some problem :(

[2017-07-08 16:36] vigsterkr commented on #3879
@SanyuanZZ the problem is that SVRLight depends on SVMLight that we are not allowed to distribute hence it's not in the python package. if you can compile shogun from source you can use svmlight hence MKL

[2017-07-08 16:36] #3879 closed

[2017-07-08 16:55] dougalsutherland commented on #3914
Cool! I'll probably wait for the next shogun release rather than backporting this into the conda package, though if you wanted to do a 6.0.1 with this, the lapack cmake changes, and those Windows fixes, I wouldn't complain. :)

[2017-07-08 23:16] dougalsutherland opened #3916 "GLPK not linking properly on Windows"
Get a lot of errors like:
[code]

Full log at https://ci.appveyor.com/project/conda-forge/staged-recipes/build/1.0.14886/job/9xip79v5aqlyibx7.

[2017-07-08 23:19] vigsterkr commented on #3870
[code]

[2017-07-09 01:15] dougalsutherland commented on #3916
It's not just GLPK...after turning that off, got errors about bz2 and lzo ([log](https://ci.appveyor.com/project/conda-forge/staged-recipes/build/1.0.14892/job/4w495s6srpi97kto)).

Is there something strange about my setup, or does anyone actually use shogun with any of the optional packages on Windows?

[2017-07-09 01:25] vigsterkr commented on #3916
@dougalsutherland oh that's weird although as you can see we never wondered these territories :) lemme try to check.... but i think we need to fiddle maybe with cmake :P

[2017-07-09 01:28] vigsterkr commented on #3916
ooooooooooooh now i understand!
these things come up when you compile the examples:
[code]

[2017-07-09 01:34] vigsterkr opened #3917 "Examples are failing while linking on windows"
based on #3915 and #3916 it seems that there's a linker flag problem on windows.

in case there's an external library--any---enabled for shogun (and compiled with it) a linker error will happen on Windows when trying to compile the examples (see below), as if the library function is not available/cannot be referenced... on UNIX when linking the examples with libshogun.so, it'll be libshogun itself

[2017-07-09 01:35] #3916 closed

[2017-07-09 01:35] #3915 closed

[2017-07-09 01:36] vigsterkr commented on #3914
mmm it fails on osx... it requires further guarding in lapack.h to avoid cyclic definition of functions

[2017-07-09 01:37] vigsterkr commented on #3844
ok this should be done as @micmn divided up the files....

[2017-07-09 01:37] #3844 closed

[2017-07-09 01:38] vigsterkr commented on #3849
it can be closed it's fixed and it's in develop branch

[2017-07-09 01:38] #3849 closed

[2017-07-09 01:39] vigsterkr commented on #3913
@MaximilianLomardo try http://shogun.ml/install there's a section how to compile it manually

[2017-07-09 01:39] #3913 closed

[2017-07-09 01:40] vigsterkr commented on #3800
@MikeLing this is a pretty simple task, mostly it requires you to switch a `data` file to generated features....

[2017-07-09 01:41] vigsterkr commented on #3786
@karlnapf is this done fully or still there are parts that needs to be cleared up?

[2017-07-09 01:42] #3740 closed

[2017-07-09 01:44] #1160 closed

[2017-07-09 01:44] #1146 closed

[2017-07-09 01:50] #1425 closed

[2017-07-09 01:51] #1234 closed

[2017-07-09 01:52] #1664 closed

[2017-07-09 01:52] #1555 closed

[2017-07-09 01:53] vigsterkr commented on #1553
this aint gonna happen fully as we wanna have at least LAPACK for eigen... for the rest of the codebase we are converging anyways....

[2017-07-09 01:53] #1553 closed

[2017-07-09 01:53] #1488 closed

[2017-07-09 01:53] #1485 closed

[2017-07-09 01:53] #1481 closed

[2017-07-09 01:54] #1877 closed

[2017-07-09 01:55] #1804 closed

[2017-07-09 01:55] #1729 closed

[2017-07-09 01:55] #1725 closed

[2017-07-09 01:55] #1665 closed

[2017-07-09 01:56] vigsterkr commented on #1998
feature/refactor-random is on this path :)

[2017-07-09 01:56] #1998 closed

[2017-07-09 01:57] #1943 closed

[2017-07-09 01:58] #2199 closed

[2017-07-09 01:58] #2521 closed

[2017-07-09 01:58] #2520 closed

[2017-07-09 01:58] #2515 closed

[2017-07-09 01:58] #2514 closed

[2017-07-09 01:59] #2450 closed

[2017-07-09 01:59] #2373 closed

[2017-07-09 01:59] #2558 closed

[2017-07-09 01:59] #2557 closed

[2017-07-09 02:00] #2772 closed

[2017-07-09 02:00] #2773 closed

[2017-07-09 02:01] #2822 closed

[2017-07-09 02:01] #2805 closed

[2017-07-09 02:03] #3029 closed

[2017-07-09 02:03] #3213 closed

[2017-07-09 02:03] #3191 closed

[2017-07-09 02:04] #3482 closed

[2017-07-09 02:04] #3467 closed

[2017-07-09 02:05] #3508 closed

[2017-07-09 15:23] karlnapf commented on #1998
FYI: ALGLIB did already got pushed out a while ago (it was GPL code, replace with cdflib)

[2017-07-09 15:26] karlnapf commented on #3786
All guarded files are moved, so this can be closed. As far as I can tell, there is no more GPL code in `shogun/src`, but others should check as well

[2017-07-09 15:31] karlnapf commented on #3909
Hi!
You can ask the mailing list on on IRC as well.

left hand side is training set
right hand side is testing set.
Check the nowbooks in the "showroom" on the website for example on multiple-kernel learning, svms, etc

[2017-07-09 15:31] #3909 closed

[2017-07-09 15:33] karlnapf commented on #3886
The one in master branch has a bug (might give wrong results in some cases)
The one in develop branch was recently updated, fixing all errors, and running faster than sklearn now ...

[2017-07-09 15:33] #3886 closed

[2017-07-09 15:37] karlnapf commented on #3881
Not sure I can help you there.
Do you know of a nice standalone c++ library to do that? We could add a wrapper to Shogun ....

thoughts @vigsterkr @lisitsyn @iglesias ?

[2017-07-09 15:45] iglesias commented on #3881
I think usually loading features into Shogun from files created by another program should be good.

If there's some application in mind where file i/o would not be suitable we could look into the wrapper idea.

[2017-07-10 07:43] arjunmenon commented on #3881
Having slight trouble getting started.
http://paste.ubuntu.com/25059799/

make is failing to download some dependency?

Better, if the executable have the latest commits? And how to create a ruby interface from there? That would be much easier.
I tried a nightly thinking it would have the latest. After install, `require 'modshogun'` fails in IRB, which is obvious. I know some additional steps is t

[2017-07-10 07:52] arjunmenon commented on #3881
As to the vector output, I found this gem - http://wavefilegem.com/examples.html
Look under the third example - `Reading a Wave File Into an Arbitrary Format`

It outputs something like this - http://paste.ubuntu.com/25059826/
WAV file - http://s000.tinyupload.com/index.php?file_id=00455761811235983910

[2017-07-10 09:03] karlnapf commented on #3881
For the make error, you either need to have eigen3 installed, or have an internet connection so that it can be downloaded

[2017-07-10 09:04] karlnapf commented on #3881
@arjunmenon make sure to read the installation and the examples readme. I cannot really help with the wav file loading, thats a job for searchengine

[2017-07-10 17:18] karlnapf opened #3922 "get rid of linalg cmake switches"
[code]

Those are outdated and all the code that is old linalg can be deleted

@MikeLing that might be one for you?

[2017-07-13 02:13] vigsterkr opened #3926 "Premature stopping branch made OSX and FreeBSD fail"
http://buildbot.shogun-toolbox.org:8080/#/builders/31/builds/83/steps/4/logs/stdio
http://buildbot.shogun-toolbox.org:8080/#/builders/25/builds/83/steps/4/logs/stdio

[2017-07-13 02:14] vigsterkr commented on #3926
@geektoni

[2017-07-13 09:29] #3926 closed

[2017-07-18 16:52] #3717 closed

[2017-07-18 16:52] #3715 closed

[2017-07-19 00:39] qcrist opened #3937 "Duplicate functions on windows"
`msbuild src\shogun\libshogun.vcxproj /m > build.txt`
https://gist.github.com/qcrist/ab8b323802ea2420cdb2f1446a4b5beb

Visual Studio 2017 x64

Followed https://github.com/shogun-toolbox/shogun/blob/develop/appveyor.yml as close as I could, except with VS2017 instead

`         T:\shogun\build\src\shogun\base\class_list.cpp(2608): error C2084: function 'shogun::CSGObject *__new_CSpecificityMeasure(

[2017-07-19 11:16] karlnapf commented on #3715
Are they used in the GPL module? I guess not?

Also, I think one thing is missing is a low-rank update of the cholesky. Wanna add that and apply it to LARS @micmn ? (It is already there, just needs to be integrated in linalg)

[2017-07-19 11:26] karlnapf commented on #3108
This one is still open. Could be done in LARS as mentioned in #3715

[2017-07-20 02:57] OXPHOS commented on #3715
Nope not in GPL

[2017-07-20 05:35] vigsterkr opened #3938 "compiling with HDF5 on osx buildbot fails"
as there is no HDF5 on the osx builder... needs guarding.
http://buildbot.shogun-toolbox.org:8080/#/builders/25/builds/95/steps/4/logs/stdio

[2017-07-20 05:35] vigsterkr commented on #3938
@micmn

[2017-07-20 09:17] karlnapf commented on #3715
Sorry, I meant GP (Gaussian Process)

[2017-07-20 09:17] karlnapf commented on #3715
As in: is the GP stuff using linalg already?

[2017-07-20 21:22] #3938 closed

[2017-07-21 12:01] dougalsutherland opened #3944 "make a minimal test that everything linked correctly / etc"
It would be nice to be able to build some small executable that confirms the package linked correctly and so on, without building the full test suite or requiring ply / etc and building all the meta-examples.

Currently the conda-forge recipe is using `-DBUILD_EXAMPLES=ON` and then [running some of them](https://github.com/conda-forge/shogun-cpp-feedstock/blob/fdc376dac292233eb4c7870d4ff08cc77dc70

[2017-07-21 17:18] karlnapf commented on #3944
Done in #3945

[2017-07-21 17:18] #3944 closed

[2017-07-21 17:21] karlnapf opened #3947 "Refactor GP unit tests to use data fixtures"
A lot of the GP unit tests are defining the same data in multiple test cases, resulting in huge code files with large redundant parts.

This task is to use the fixture concept to pull data generation to a class that the tests then extend.

There are some tests in Shogun that are doing this (right @vigsterkr ?). It is a nice task to get familiar with fixtures, googletest and Shogun in general

[2017-07-21 17:52] dougalsutherland commented on #3944
Cool, thanks!

[2017-07-21 22:21] qcrist commented on #3937
caused by cmake-gui ^

[2017-07-21 22:21] #3937 closed

[2017-07-21 22:30] qcrist opened #3948 "Windows 10, Visual Studio 2017 x64 experiences, /w java"
Took me a while to get the build working, not really sure where to put notes, so it goes here.

[code]

`T:\cmake-3.9.0-rc6-win64-x64\bin\cmake.exe .. -G"Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=RELEASE -DBUILD_META_EXAMPLES=OFF -DENABLE_TESTING=OFF -DINTERFACE_JAVA=ON -DSWIG_EXECUTABLE=T:\swigwin-3.0.12\swig.exe -DJBLAS=T:\jblas-1.2.4.jar`

`msbuild shogun.sln /p:Configuration=Release /p:P

[2017-07-22 01:05] vigsterkr commented on #3948
@qcrist this is invaluable information!!! thank you soooooooooo much! as nobody yet tried to use swig on MSVC :) lemme try to address some of these bugs

[2017-07-22 08:50] karlnapf commented on #3948
Awesome!

[2017-07-22 09:36] Galaxy-Fish opened #3949 "ImportError"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib/python2.7/dist-packages/modshogun.py", line 30, in <module>
    _modshogun = swig_import_helper()
  File "/usr/lib/python2.7/dist-packages/modshogun.py", line 26, in swig_import_helper
    _mod = imp.load_module('_modshogun', fp, pathname, description)
ImportError: /usr/lib/python2.7/dist-packages/_modshogun

[2017-07-22 10:10] #3949 closed

[2017-07-22 10:32] Galaxy-Fish commented on #3879
I compile shogun from source,
but  when i do MKL example,
NameError: name 'SVRLight' is not defined

[2017-07-22 13:58] karlnapf commented on #3879
Run cmake with -DUSE_SVMLIGHT=on

[2017-07-22 16:40] karlnapf commented on #3786
Did another set of work to push this in #3946

[2017-07-22 16:41] karlnapf commented on #3787
@lisitsyn now is your time, all GPL code has been moved to submodule and the build works with and without GPL enabled, http://buildbot.shogun-toolbox.org:8080/#/builders/4

I suggest a `git grep GPL` and off you go :)

[2017-07-22 16:41] karlnapf commented on #3787
#3946

[2017-07-23 05:58] Galaxy-Fish commented on #3879
i did it ,but how about this

Traceback (most recent call last):
  File "python.py", line 7, in <module>
    from shogun import *
  File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 32, in <module>
    _shogun = swig_import_helper()
  File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 28, in swig_import_helper
    _mod = imp.load_module('_shogun', fp, pathname, description)

[2017-07-24 08:48] Galaxy-Fish opened #3950 "compile shogun from source, ImportError:"
compile shogun from source.
there some mistake
Traceback (most recent call last):
File "python.py", line 7, in
from shogun import *
File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 32, in
_shogun = swig_import_helper()
File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 28, in swig_import_helper
_mod = imp.load_module('_shogun', fp, pathname, description)
ImportError: /usr/l

[2017-07-24 10:14] vigsterkr commented on #3950
@Galaxy-Fish do you have libshogun.so in library path? like LD_LIBRARY_PATH?

[2017-07-24 10:53] Galaxy-Fish commented on #3950
i did it like
#export LD_LIBRARY_PATH = "/my/special/path/lib/libshogun.so:$LD_LIBRARY_PATH"

[2017-07-24 11:00] Galaxy-Fish commented on #3950
then i cp ~/shogun/build/src/interfaces/python/shogun.py
to the /usr/local/lib/python2.7/dist-packages/
it worked.
but when the prgram done,there have segfault.

[2017-07-24 11:06] Galaxy-Fish commented on #3950
i sudo python test.py
there is no segfault error

[2017-07-25 14:26] lacava opened #3952 "Assertion error from Eigen with feature pruning in CPruneVarSubMean"
I'm trying to do simple least angle regression on data that commonly has zero variance features that need to be pruned. After runing an instance of `CPruneVarSubMean` and `CNormOne`, I get an assertion error from the `lars->train()` step when the preprocessing step prunes the feature set. The assertion error comes from Eigen's DenseBase.h and says

I have written a minimum working example here, ad

[2017-08-09 20:26] lacava commented on #3952
I'm not sure if I haven't gotten a response because this is a fairly obvious mistake on my part in dealing with the feature inputs. But I did try something more simple that makes me think it really is a bug in PruneVarSubMean.

From the example data, I edited regression_1d_linear_features_train.dat / test.dat to add a zero variance column, i.e.
[code]
then  edited least_angle_regression.cpp to use

[2017-08-10 09:18] vigsterkr commented on #3952
@lacava it's not trivial at all it's just that all of us are a bit busy. :( sorry that nobody looked into this yet... i'll try to look into it and see what could be done or at least what's the main issue. sorry again and thanks heaps for this awesome bug report!

[2017-08-11 16:04] Shenggang opened #3961 "Trying to customize shogun and wrap into python"
I wrote a kernel class and added that into shogun\src\kernel. In the end I would like to use swig to wrap shogun together with my class into a python package. I have changed kernel.i, kernel_include.i to include my header. Also header_list.txt for generating class_list.cpp. I wonder is there any other file that I missed because when I build the python interface, visual studio complains about not a

[2017-08-12 13:15] AlexBinder opened #3962 "shogun/lib/external/pr_loqo.h: No such file or directory"
history shows that it should have been moved in a gpl subfolder, but when i download a zip, then the gpl subfolder is empty

[2017-08-12 13:32] AlexBinder opened #3963 "compilation with LICENSE_GPL_SHOGUN fails"
in principle lots of includes e.g. in svmlight but also other codes point to non existing paths. i compiled it from source. using the downloaded zip

[2017-08-13 02:16] vigsterkr commented on #3963
@AlexBinder did you download release zip or latest version of develop?

[2017-08-13 17:40] vrishank97 commented on #2699
Can I take this up as my first contribution here?

[2017-08-14 06:18] vigsterkr opened #3964 "conda problems"
@dougalsutherland could you maybe take a look at this one (conda part):
https://stackoverflow.com/questions/45578184/how-do-i-install-shoguns-python-interface

[2017-08-14 10:38] vigsterkr commented on #2699
@vrishank97 sure

[2017-08-14 16:04] vrishank97 commented on #2699
I think this issue has already been taken care of - https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/neuralnets/NeuralLeakyRectifiedLinearLayer.cpp

[2017-08-14 16:06] vigsterkr commented on #2699
oh, then this is obsolete! :)

[2017-08-14 16:06] #2699 closed

[2017-08-14 16:11] vrishank97 commented on #3889
I'd like to take this up as my first contribution here. What all counts as an iterative method?

[2017-08-15 14:14] vigsterkr commented on #3961
@Shenggang if you wanna use custom kernel and you are using python you could simply implement your kernel in python using director class.
see the example in `examples/undocumented/python/kernel_director_linear.py` for details

[2017-08-15 15:35] karlnapf commented on #3962
Yep, this has been moved. You will have to checkout the submodule if you want the GPL modules.
We have a build where all gpl codes are missing and `LICENSE_GPL_SHOGUN=Off` [here](http://buildbot.shogun-toolbox.org:8080/#/builders/4/builds/35)
This might be broken (just happened recently), happy for any reports on failure cases as we can include them in the test build

[2017-08-15 15:41] karlnapf commented on #3963
Thanks for reporting, we will fix that

[2017-08-15 15:50] evertes commented on #3964
I have the same issue after installing shogun with [conda](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#anaconda) on Ubuntu.

[2017-08-16 09:11] Sahil333 commented on #3947
@vigsterkr can you give reference to those tests?

[2017-08-16 16:06] karlnapf commented on #3947
grep for GaussianProcess in `shogun/tests/unit`

[2017-08-16 16:07] karlnapf commented on #3889
Everything where the main training method is a big loop with a stopping condition based on iterations and/or tolerance

[2017-08-16 16:37] Shenggang commented on #3961
Thanks for your advise! I will check that out.

[2017-08-16 16:37] #3961 closed

[2017-08-18 07:21] vrishank97 commented on #3889
Would something like the perceptron model also require a progress bar (upto max iters)?

[2017-08-21 10:48] karlnapf commented on #3889
no, as we don't know how long it will run

[2017-08-23 00:35] dougalsutherland commented on #3964
(Sorry for slow reply, I was traveling.) I think it's just that you want to import from `modshogun`, not `shogun`, in the 6.0 release (which is what the conda package has). The docs on the website refer to `shogun` instead because they're for 6.1, where the interface has been renamed.

[2017-08-24 05:41] rangira opened #3972 "Errors using make"
I am trying to compile the shogun project manually on MacOS. I created a folder "build" , executed the "cmake .." command.
But it gives me error when I try to use "make". I see that there is no "Makefile" in the build folder. I also tried doing "./configure" but I always get "No such command found".
Could you please share how I am supposed to use "make" especially on mac.

[2017-08-24 06:35] vigsterkr commented on #3972
The latest release is part of homebrew.
If you want to compile it from source follow this manual:
http://shogun.ml/install#manual

Usually if there's such error with make after cmake, that means that there was an error running cmake. Can you put your full cmake output to pastebin.com and put the link here, please?

[2017-08-24 14:18] rangira commented on #3972
Thanks for replying. I would still prefer building it from scratch. Here is the output from "cmake"
[](https://pastebin.com/69XUeqWP)

[2017-08-24 14:20] vigsterkr commented on #3972
ok so as you can see from the output of cmake:
[code]

namely if you use osx you need to have ctags installed (one way is to install it via brew: `brew install ctags`). or of course you can skip the building of the meta examples by running cmake:
[code]

[2017-08-24 14:20] #3972 closed

[2017-08-24 14:49] vigsterkr commented on #3964
@evertes i'm closing this one, as @dougalsutherland should fix your problem. de ha van valami gond nyugodtan nyisd ki a ticketet :)

[2017-08-24 14:49] #3964 closed

[2017-08-24 14:49] vigsterkr commented on #3964
@dougalsutherland thnx for clarifying. i hope you enjoyed down under :)

[2017-08-31 07:34] Jiewen2017 opened #3974 "INSTALL error!"
7>CMake Error at examples/undocumented/libshogun/cmake_install.cmake:31 (file):
7>  file INSTALL cannot find
7>  "E:/software_manual/shogun/build/examples/undocumented/libshogun/balanced_conditional_probability_tree".
7>Call Stack (most recent call first):
7>  examples/cmake_install.cmake:32 (include)
7>  cmake_install.cmake:34 (include)
7>
7>
7>C:\Program Files (x86)\Microsoft Visual Studio\2017\

[2017-08-31 07:40] Jiewen2017 commented on #3974
This error is occur when I startup my vs2017 and right click the INSTALL to build.

my environment is Windows7，vs2017，release x64.

[2017-08-31 07:49] MikeLing commented on #3974
Hi there, honestly I haven't build Shogun by Visual studio before. Could
you check if all the submodules have been cloned by 'git submodule update
--init'? Maybe they are unrelative, but missing submodule may cause 'not
found' error like that :)

Best Regards

2017-08-31 15:40 GMT+08:00 Jiewen Wen <notifications@github.com>:

[2017-08-31 07:59] Jiewen2017 commented on #3974
https://ci.appveyor.com/project/vigsterkr/shogun

The link is my reference when i build.  the command 'git submodule -q update --init' was ran. however, the error was occur.

[2017-09-06 02:09] ealtamir opened #3975 "Segmentation fault (core dumped) when training LMNN"
Hello,

I get a `Segmentation fault (core dumped)` when training an LMNN using Python. My features are of dimensions (695, 512) and classes (695,). I compiled Shogun in an Ubuntu LTS environment. The cmake command I used was:

`cmake -DPYTHON_INCLUDE_DIR=/home/enzo/art_rm/env/include/python3.5m -DPYTHON_EXECUTABLE:FILEPATH=/home/enzo/art_rm/env/bin/python3.5 -DPYTHON_PACKAGES_PATH=/home/enzo/art_r

[2017-09-06 11:39] ChristosHadoulos opened #3976 "Segmentation fault when training with SVRLight"
Hello,
i am getting a `Segmentation fault (core dumped)` error when i train an SVR model with SVRLight in python. This happens on both my local machine (Ubuntu 14.04 LTS) and on a university computer where i run the bulk of my experiments (Ubuntu 16.04 LTS). I compiled shogun from source on both machines using `cmake -DPythonModular=ON ..` .
Additionally, when training an MKLRegression model with

[2017-09-06 14:25] ealtamir commented on #3975
After playing a bit with this issue, I realized that there was a class that only appeared once in the dataset, thus it conflicted with the `k=3`. After setting `k=1` I got a new error:

`python3.5: /usr/include/eigen3/Eigen/src/Core/Block.h:123: Eigen::Block<XprType, BlockRows, BlockCols, InnerPanel>::Block(XprType&, Eigen::Index) [with XprType = Eigen::Map<const Eigen::Matrix<double, -1, -1, 0, -

[2017-09-06 15:18] ealtamir commented on #3975
I was able to make it work. The problem was that related to the dataset, there weren't enough number of datapoints for certain classes so the `k` I selected wasn't feasible. Apparently `k=1` also gives some problems. My solution was to clean the dataset so as to make sure there are enough samples for each class.

[2017-09-06 15:57] vigsterkr commented on #3975
@ealtamir great! although i think we should have the ticket open to fix it with an assertation error instead of a segmentation fault ;)

[2017-09-07 14:09] Rajiv2605 commented on #3922
@karlnapf Has anyone already worked on this? If not, I am willing to work on this.

[2017-09-08 17:49] woopeer opened #3977 "Error during linking CXX shared library libshogun.so"
Try to manually compile shogun
`git clone https://github.com/shogun-toolbox/shogun.git`
Due to network problem, git submodule update --init command failed, so i manually git clone debian and gpl directories
Followed the instruction here [Shogun install](http://shogun.ml/install#manual)

After make, here are errors
`[ 69%] Linking CXX shared library libshogun.so`
`/usr/bin/ld.gold:error:CMakeFiles/

[2017-09-12 05:48] nisarwani opened #3978 "Unable to access SVMLight from shogun.Classifier module"
I have compiled shogun 6 from source manually following the installation steps as outlined on  github. I want to use MKL classification for which I need SVMLight as per the following error

SystemError: [ERROR] In file /build/shogun-zOE5Oh/shogun-6.0.0+1SNAPSHOT201706260127/src/shogun/classifier/mkl/MKL.cpp line 439: Interleaved MKL optimization is currently only supported with SVMlight

Kindly gu

[2017-09-13 08:39] ArtemiyFirsov opened #3979 "GMM training problem"
Hello!

I have the following code in Python which uses shogun to train gmm:
[code]

But on the train step, I get this error:

Maybe smb knows, why this error may occur? @vigsterkr any ideas please?

Thanks.

[2017-09-13 12:40] vigsterkr commented on #3979
@ArtemiyFirsov oh that must be a quite old shogun (3.2.0). where and how did you install that packet?

[2017-09-13 12:43] vigsterkr commented on #3978
@nisarwani if you compiled shogun manually that should by default come with SVMLight in it. could you maybe share where did you get the source for shogun 6.0.0 and as well what were your cmake flags?

[2017-09-13 12:45] vigsterkr commented on #3977
mmm... it's a bit weird..i mean if there was a network error you could retry to do `git submodule update --init`, but even in that case the error you've pasted is a bit weird... are you using Debian GNU/Linux 9.1 (stretch)?

[2017-09-13 12:47] vigsterkr commented on #3974
@Jiewen2017 i guess you are doing something similar or: http://shogun.ml/install#manual-windows ?

[2017-09-14 04:28] ArtemiyFirsov commented on #3979
@vigsterkr i have installed it from here as described in Ubuntu section http://www.shogun-toolbox.org/install#ubuntu
I do not know how to check shogun version

[2017-09-14 06:01] nisarwani commented on #3978
Thanks for the reply,

I am only compiling ofr python interface. Here is the cmake command
cmake -DINTERFACE_PYTHON=ON     ../

When I try to use SVMLight in c++, the code is compiling, without any errors. But with python  when I import Shogun.Classifier.SVMLight it gives me import error. If I run MKL without SVMLight, then it gives the above error.

I have downloaded shogun  6.0 from github

[2017-09-14 07:46] vigsterkr commented on #3979
@ArtemiyFirsov ok i would first suggest you to switch to nightly as that more mature actually than our stable release, so basically remove libshogun17 and python-shogun (`apt-get remove...`) and install the nightly with:
[code]

if you install stuff from source (see cmake etc.) then you dont need the debian/ubuntu packages...
anyhow the problem seemed to be with lapack, which is weird as that shou

[2017-09-14 16:58] karlnapf commented on #3979
My hunch is this is the matrix decomposition bailing due to bad
conditioning, rather than version issues.

Have you tried more reasonable data?

On Thu, 14 Sep 2017 at 08:46, Viktor Gal <notifications@github.com> wrote:

--
Sent from my phone

[2017-09-14 18:02] karlnapf commented on #3978
Try importing as

import shogun as sg
sg.SVMLight()

On Thu, 14 Sep 2017 at 07:01, nisarwani <notifications@github.com> wrote:

--
Sent from my phone

[2017-09-14 18:04] karlnapf commented on #3922
Check it!

On Thu, 7 Sep 2017 at 15:09, N Rajiv Vaidyanathan <notifications@github.com>
wrote:

--
Sent from my phone

[2017-09-14 18:12] karlnapf commented on #3975
Yes a graceful error is preferred.
@iglesias

On Wed, 6 Sep 2017 at 16:57, Viktor Gal <notifications@github.com> wrote:

--
Sent from my phone

[2017-09-16 17:32] nisarwani commented on #3978
Thanks it is working now. Had to remove  certain previous installations of libshogun.  There was a library conflict.

[2017-09-16 17:32] #3978 closed

[2017-09-19 04:46] ArtemiyFirsov commented on #3979
@vigsterkr thank you for your suggestion, but I cannot locate this package. In fact, now I cannot even locate libshogun17 package, only libshogun16.

[2017-09-19 05:01] ArtemiyFirsov commented on #3979
@karlnapf thank you! Yeah, I tried with real data, I also get an error, but this time exit code is 19.

[2017-09-19 12:28] lordon opened #3980 "Bug in typemap for Ruby"
Hi!

I noticed an issue in the type interface for Ruby. Given a shogun matrix:

| | |
|-|-|
| a11 | a12
| a21 | a22
| a31 | a32
| a41 | a42

the same matrix is returned to Ruby as the following `NArray` instance:

| | |
|-|-|
| a11 | a21
| a31 | a41
| a12 | a22
| a32 | a42

e.g. if I run the [k-means modular example](https://github.com/shogun-toolbox/shogun/blob/develop/examples/meta/src/clusterin

[2017-09-19 12:31] lordon commented on #3980
This fixed it for me, locally. I'm not sure about any side effects, though..

[2017-09-19 14:08] vigsterkr commented on #3980
@lordon this great! and thanks for the PR!

[2017-09-20 17:51] vigsterkr commented on #3980
ok this has been merged... closing

[2017-09-20 17:51] #3980 closed

[2017-09-21 02:57] strategist922 opened #3983 "Could it possible to suppory MSYS2 (GCC 7.2.0 under windows)?"
Hi,

  Could it possible to support MSYS2 ( GCC 7.2.0 toolchain under windows) to build shogun?

[2017-09-25 06:04] ArtemiyFirsov commented on #3979
@karlnapf here is the ouput from commands

**dpkg -l | grep atlas**
ii  libatlas-base-dev                           3.10.2-9                                     amd64        Automatically Tuned Linear Algebra Software, generic static
ii  libatlas-dev                                3.10.2-9                                     amd64        Automatically Tuned Linear Algebra Software, C header files

[2017-09-26 13:20] vigsterkr commented on #3979
@ArtemiyFirsov this is pretty weird... do you have docker on your machine?

[2017-09-26 13:21] vigsterkr commented on #3979
@ArtemiyFirsov or can you share the data itself? :)

[2017-09-27 05:55] ArtemiyFirsov commented on #3979
@vigsterkr unfortunately not, I cannot share data). No, I do not have docker installed, however, I can install it. You mean there is a docker container with shogun?

[2017-09-27 08:52] vigsterkr commented on #3979
@ArtemiyFirsov yes there is: https://hub.docker.com/r/shogun/shogun/

[2017-09-28 07:12] nisarwani opened #3984 "Custom kernel Issues"
CombinedKernel.cpp line 154: Number of lhs-feature vectors (4345) not match with number of rows (1831) of custom kernel

Is it necessary that feature matrix  rows and columns should match. I have to split my data into train and test where by it may not be possible to pass a square matrix to custom kernel. How to handle this.

[2017-09-28 08:02] skn123 opened #3985 "Build problem"
In file included from /home/naths/srcs/shogun/src/shogun/kernel/normalizer/SqrtDiagKernelNormalizer.h:16:
In file included from /home/naths/srcs/shogun/src/shogun/kernel/normalizer/KernelNormalizer.h:16:
/home/naths/srcs/shogun/src/shogun/kernel/Kernel.h:212:21: error: member access
      into incomplete type 'shogun::CKernelNormalizer'
                        return normalizer->normalize(compute(

[2017-09-28 08:17] skn123 commented on #3985
[ 79%] Linking CXX executable so_multiclass_BMRM
../../../src/shogun/libshogun.so.18.0: undefined reference to `__kmpc_for_static_fini'
../../../src/shogun/libshogun.so.18.0: undefined reference to `__kmpc_barrier'
../../../src/shogun/libshogun.so.18.0: undefined reference to `omp_set_num_threads'
../../../src/shogun/libshogun.so.18.0: undefined reference to `omp_get_max_threads'
../../../src/shog

[2017-09-28 08:18] vigsterkr commented on #3985
@skn123 could you give details of your operating system as well as the version of shogun you are trying to compile

[2017-09-28 08:18] vigsterkr commented on #3979
@ArtemiyFirsov any luck?

[2017-09-28 12:19] skn123 commented on #3985
I enable linking with OpenCV which was built with OpenMP and then it built nicely! So something to do with missing OpenMP defines in the code

[2017-09-28 12:30] vigsterkr commented on #3985
mmmm that is weird... can you please paste here the output of a clean `cmake` run so that i can see whether or not it autodetected the openmp flag

[2017-09-28 15:57] skn123 commented on #3985
It detects the flags -fopenmp=libomp so no issues with that also

[2017-09-29 04:55] skn123 commented on #3985
I can live without openmp for now and I am happy with the solution. However, the first problem still needs to be fixed

[2017-10-04 00:17] wjcper2008 opened #3986 "Win 10 shogun with python 3.6"
can shogun install with python 3.6?
I can not install this toolbox using
`pip install shogun-ml`

I try "Windows build " manually, and build successfully. When I add python interface, it asks me to add many dependencies such as ccache (I cannot install in windows). How can I do with? Thanks

[2017-10-09 17:59] Lashuk1729 opened #3987 "Ubuntu 16.04 while adding ppa got 404"
While "sudo apt-get update", I encountered 404 error. Can someone help me installing shogun?
Get:13 http://in.archive.ubuntu.com/ubuntu xenial-backports InRelease [102 kB]
Ign:14 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial Release
Ign:15 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial/main amd64 Packages
Ign:16 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xen

[2017-10-12 14:42] karlnapf commented on #3984
Can you share a minimal example of the code that caused this?

[2017-10-12 14:44] karlnapf commented on #3983
Sorry what exactly is the question? :)

[2017-10-12 14:54] karlnapf commented on #3976
Sorry for the delay.
We would need an example here. Can't help with that description.

As for runtime, MKL is slow, especially when you ramp up the number of data and kernels. But if it is unreasonably slow, we should do something of course

[2017-10-12 15:06] karlnapf commented on #3986
The windows build we have is here: https://ci.appveyor.com/project/vigsterkr/shogun/branch/develop

AFAIK this is without Python bindings. You are welcome to assist us extending this (we don't have windows machines)

[2017-10-12 15:06] karlnapf commented on #3980
I mentioned this in the NEWS :)
thanks!

[2017-10-13 17:26] Lashuk1729 commented on #3987
The error clearly shows that the "http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu xenial/main amd64 Packages" is not present. I want to work on this bug. But I'm new to shogun-toolbox and github. So, if someone can guide me what to do!

[2017-10-15 17:43] sorig commented on #3897
Can you write a bit more context on this? How does the language need to be extended?

[2017-10-15 19:01] lgoetz commented on #3987
Try using the nightly ppa. You can do this by adding **ppa:shogun-toolbox/nightly** to your system's Software Sources. Then:

`sudo add-apt-repository ppa:shogun-toolbox/nightly`
`sudo apt-get update`

check-out: https://launchpad.net/%7Eshogun-toolbox/+archive/ubuntu/nightly

[2017-10-15 19:05] lgoetz opened #3988 "Install Shogun and tell us about the problems you encounter (read the error messages first)"

[2017-10-15 22:52] karlnapf commented on #3897
If we could extend the meta language so that it allows for overloading of a method of an object, then we could test director classes functionality without extending the current test infrastructure.

Also, these examples should illustrate why Director classes are cool.

The only problem is that we cannot really write code in the meta language, only Shogun API.
I think one of the nicest things to ov

[2017-10-16 12:09] Lashuk1729 commented on #3987
Thanks @lgoetz for the solution.
After adding the repository one might get the problem while installing shogun-toolbox on ubuntu16.04 after this command "sudo apt-get install libshogun17".
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libshogun17
So, one can try this : "sudo apt-get install libshogun18".

[2017-10-16 16:13] lgoetz commented on #3987
You’re welcome!

[2017-10-17 05:13] #3987 closed

[2017-10-20 12:45] vigsterkr commented on #3986
@wjcper2008 have you tried conda? shogun is included in conda-forge

[2017-10-20 16:29] durovo commented on #3947
Hello, I am trying to work on this issue as no one seems to have worked on it for quite some time.
I have identified these two files that have GP unit tests:
classifier/GaussianProcessClassification_unittest.cc
regression/GaussianProcessRegression_unittest.cc
I also went through some other shogun unit tests where fixtures have been used such as FisherLDA_unittest.cc, BinaryLabels_unittest.cc, and

[2017-10-22 10:33] karlnapf commented on #3947
Hi @durovo and welcome! Great that you want to work on this

That would be ok. In fact, anything that reduces the bloated code.

 * a class that generates the data shared by all these tests
 * a class that sets up the GP pipeline that is used in many of the tests (e.g. one for each of the inference methods, one for regression/classification, etc, .... anything that is set up more than twice should

[2017-10-23 03:29] kislayabhi commented on #3878
Hey @iglesias , I will take this.
One question.
The number of features while inside ```set_num_random_feature``` can only be known if the data was locked right?

[2017-10-23 09:35] durovo commented on #3947
Hello @karlnapf ,  I have refactored GaussianProcessClassification_unittest.cc. However in GaussianProcessRegression_unittest.cc, the same data is almost never used more than twice in the nine tests. Also, since we can have only one fixture class for each TestName, I cannot think of any good way of refactoring it.

[2017-10-24 08:38] karlnapf commented on #3947
Closed in #3990

[2017-10-24 08:38] #3947 closed

[2017-10-24 10:43] karlnapf commented on #3851
@durovo That would be a great addition to Shogun, such a welcome contribution!

It is a bit more tricky, make sure to share early drafts on this soon. Don't get into writing code before we have discussed a design draft. I suggest to read our corss-validation code before you start.

[2017-10-24 10:53] durovo commented on #3851
@karlnapf Understood. I am currently going through the cross-validation code. I will share a rough draft as soon as I have figured it out. Should I use this thread to discuss the design?

[2017-10-24 17:27] karlnapf commented on #3851
Yep this thread is totally fine. I would also be interested in hearing about the sklearn approach to see whether we can learn from it. I guess it would be best to re-use the x-validation code.

[2017-10-24 20:50] Elluito commented on #3988
I have problems installing Shogun and  use it in python3.5. First i do as in the instructions say.
sudo add-apt-repository ppa:shogun-toolbox/stable
sudo apt-get update
sudo apt-get install libshogun18 <-(change 17 to 18 because it  wasn't working and i found it would work iand it did)
For the last  command the output is the following

[code]

which i assume  it is correct because it says that lib

[2017-10-24 21:12] Elluito commented on #3988
Sorry i forgot to say that i'm ussing ubuntu 16.04

[2017-10-25 04:43] Jingwenchenhdu commented on #3977
When i try to manually compile shogun, i meet the same problems with you, so i want to ask you that are you already solve this problem now? If you already solve this problem, could you tell me how to solve?

[2017-10-25 13:22] karlnapf commented on #3988
It seems like your lapack installation is broken. Can you post a gist of your cmake cache?

[2017-10-26 04:01] Elluito commented on #3988
sorry, how i find the gist of my cmake cache?

[2017-10-26 10:23] karlnapf commented on #3988
Post `CMakeCache.txt` on https://gist.github.com/

[2017-10-26 15:04] Elluito commented on #3988
Already posted.

[2017-10-26 21:07] Elluito commented on #3988
I  install it with anaconda for python 3.6 and  the directory appears, you can import it in the project but  i can't import the SubsecuenceStringKernel that i need, it seems that is not a python module the shogun directory.

[2017-10-27 09:12] strategist922 commented on #3983
The issue is "cannot compile shogun win windows version GCC (i.e. MSYS2)"

[2017-10-27 09:14] vigsterkr commented on #3983
@strategist92 i know that shogun can be compiled using gcc 7.2... if you could share the exact error then i could look into it... is it necessary that you compile shogun with gcc on windows instead of MSVC?

[2017-10-27 11:33] karlnapf commented on #3988
@Elluito we cannot help you with such vague problem descriptions

[2017-10-27 12:39] Watesoyan commented on #3988
I am working with windows7 64bit.
When I have downloaded the source code and try to set up by anaconda prompt:

I get the following error:

File "setup.py", line 127
shogun_version_pattern = re.compile(ur'#define MAINVERSION \"([0-9]\.[0-9]\.[0-9])\"')
SyntaxError: invalid syntax

[2017-10-27 13:17] AtharvaKhare commented on #3988
I am using Ubuntu 16.04

[code]

[2017-10-27 13:19] vigsterkr commented on #3988
@AtharvaKhare unfortunately for xenial package is available only in the nightly ppa... but the nightly has actually bug fixes over the stable so you should be save to use that

[2017-10-28 15:09] Nirvan101 opened #3991 "Installation error in ubuntu"
I'm trying to compile Shogun manually following the instructions in `INSTALL.md`
When I do :

    git clone https://github.com/shogun-toolbox/shogun.git
    cd shogun
    git submodule update --init
    cd shogun
    mkdir build
    cd build
    cmake [options] ..
    make

I get the following error:

    ../../../src/shogun/libshogun.so.18.0: undefined reference to `GOMP_parallel@GOMP_4.0'
    co

[2017-10-28 15:15] Nirvan101 commented on #3988
I'm also facing a problem with installation. I've created a new issue for that. Please have a look.

[2017-10-28 18:05] ramanb25 commented on #3988
E: Failed to fetch http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu/dists/xenial/main/binary-amd64/Packages  404  Not Found
E: Some index files failed to download. They have been ignored, or old ones used instead.

I am facing this issue while installing on ubuntu.

[2017-10-28 19:17] durovo commented on #3851
@karlnapf I have gone through the sklearn approach and the shogun code related to this problem. Sklearn is using two methods for probability calibration:
1. Pratts scaling
2. Isotonic regression
The `BinaryLabels` class in shogun already does probability calibration in the function `scores_to_probabilities`,  which uses `CStatistics::fit_sigmoid` for the same.

The sklearn approach:

1. Calibrator

[2017-10-29 20:51] Nirvan101 commented on #3988
I'm trying to use the python interface. I followed the instructions in [INTERFACES.md](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INTERFACES.md#python). But there is no `shogun.py` file in my shogun directory. I have followed the install instructions in `INSTALL.md` .

[2017-10-29 23:07] vigsterkr commented on #3914
just merged `feature/eigen-lapack` branch into `develop`, which should enable blas/lapack to be used by Eigen by default

[2017-10-29 23:07] #3914 closed

[2017-10-30 04:40] vigsterkr opened #3992 "fix test failing with MKL"
when using MKL as BLAS/LAPACK backend then the following tests fails:
[code]

[2017-10-30 08:32] vigsterkr commented on #3992
@karlnapf fyi: with develop now you can compile shogun with conda's mkl... has some bugs but nothing major...

[2017-10-30 14:26] karlnapf commented on #3992
This is ace! It deserves a NEWS entry I think. Shall I create a build on buildbot?

[2017-10-30 14:28] karlnapf commented on #3992
Entrance task:

 * install conda
 * find out how to compile with conda's MKL activated
 * run tests

Most of the failed tests are probably due to slightly changes numerical values when using matrix decompositions.

 * integration tests: just don't store the failure causing value in a variable
 * unit tests: investigate

[2017-10-30 15:07] vigsterkr commented on #3991
@Nirvan101 could you pull the latest develop version (update the submodule as well) and try to compile now.

[2017-10-30 15:42] #3962 closed

[2017-10-30 15:43] #3963 closed

[2017-10-30 15:43] vigsterkr commented on #3992
`integration_meta_cpp-regression-krr_nystrom` should be fixed

[2017-10-30 18:55] vermashresth commented on #3988
I have built Shogun manually from sources and am using interface with python.
But now when I try any of the example codes , it gives a Segmentation fault(Core Dumped) in the end.

I traced the error using gdb and it shows this

(gdb) run knn.py
Starting program: /usr/bin/python knn.py
warning: the debug information found in "/lib64/ld-2.19.so" does not match "/lib64/ld-linux-x86-64.so.2" (CRC mism

[2017-10-31 11:43] iglesias commented on #3878
Hey @kislayabhi. That seems to reconcile with the last paragraph in the first comment, correct? What do you think?

[2017-11-01 13:46] abster12 commented on #3988
two days ago i was also getting the 404 error but today this started showing up

sudo apt-get install libshogun17
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libshogun17

[2017-11-01 14:17] karlnapf commented on #3988
@Nirvan101 you will need to give us a more complete error description of what there is and what you did
@ramamb25 try the nightly packages

[2017-11-01 14:18] karlnapf commented on #3988
@vermashresth you are using a different version to compile shogun than to run it

[2017-11-02 17:44] kakshay21 commented on #3988
I'm getting this error while installing it with these commands
[code]
have a look
https://gist.github.com/kakshay21/22c7af0f761e213f5e4d74477f5e5d7e
I'm running Ubuntu 16.04 LTS

[2017-11-03 05:44] strategist922 commented on #3983
@vigsterkr owing to policy issue, we cannot use MSVC, we wnat to try shogun as backend of ML and combind with R and Python, hope there is a guide have informatio to build windows binary by using windows version gcc 7.2.0

[2017-11-03 05:46] strategist922 opened #3993 "Kears support?"
Hi Team,

    Would it possible to have plan to let shogun can be one of the backends of Keras?

[2017-11-03 09:22] vigsterkr commented on #3983
@strategist922 mmm i see... i'll have to try to do this :))) first have you tried compiling just shogun itself (without the interface)?

[2017-11-03 09:32] vigsterkr commented on #3983
@strategist922 i mean the thing is if that's a standard gcc then it should just be the same way as any other platform... i'll dig out a windows machine today and try to check it with msys2.0... but i dont see a reason why it would not be possible.

[2017-11-03 19:37] newbazz commented on #3992
Hey I am new to this organisation, I would like to fix this issue.

[2017-11-05 14:27] #3917 closed

[2017-11-05 18:34] vigsterkr commented on #3986
@wjcper2008 i've just realised couple of days ago that we had a blocking bug for having shogun in conda. Anyhow i have fixed now this blocking bug and pushed it to develop branch. here i wrote up a small howto, for being able to use shogun and it's python interface using anaconda:
https://stackoverflow.com/a/47125101/2798875

[2017-11-05 18:37] #3986 closed

[2017-11-06 04:15] kislayabhi commented on #3878
Ah. I see. I will add a check in ```CRandomForest::train_machine``` after the data is confirmed to exist.

[2017-11-06 04:21] strategist922 commented on #3983
@vigsterkr , I followed the steps but failed when in CMake steps...

[2017-11-06 05:16] vigsterkr commented on #3983
could you provide the output of cmake? just put here the pastebin.com link to the output

[2017-11-07 09:54] vigsterkr commented on #3992
@newbazz welcome! and welcome to ask if you get stuck :)

[2017-11-07 12:29] newbazz commented on #3992
@vigsterkr can u help me in solving this issue.

[2017-11-07 14:05] vigsterkr commented on #3992
@newbazz ? as mentioned in my previous post if you wanna fix this start trying to replicate the problem and then tell me where exactly are you stuck

[2017-11-07 23:44] m4nd4l0r3 commented on #3988
Hi new here, new to open source in general and having a hard time figuring out how to install everything. Already downloaded shogun-toolbox/shogun and conda-forge/shogun-feedstock but don't have any idea with what to do with them.

[2017-11-08 08:13] vigsterkr commented on #3988
@m4nd4l0r3 if you just want to use shogun, simply do `conda install -c conda-forge shogun` if you wanna compile shogun, then follow the manuals here: http://shogun.ml/install

if you get stuck please let us know

[2017-11-10 16:36] luckybuilding commented on #1777
Hi, I have found this now and wanted to use it. Is this still available on shogun?! I don't see the link!

[2017-11-10 16:36] luckybuilding commented on #2017
Hi, I have found this now and wanted to use it. Is this still available on shogun?! I don't see the link!

[2017-11-12 06:24] jjmachan commented on #3988
i can't get the submodules to complete downloading .... it's been runing for the whole night and stilll it hasn't finished
is there something wrong.... i'm following these instructions....https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual and i'm using ubuntu.

[2017-11-12 13:49] rahul16gupta commented on #3992
i want to contribute. please help where to start

[2017-11-13 12:16] jjmachan commented on #3988
Can someone plz provide the list of dependencies for compiling shogun on linux. Search a lot but I could not find it.
any help is really appreciated
Thanks

[2017-11-13 12:23] jjmachan commented on #3988
-- Using system's malloc
-- Could NOT find Doxygen (missing:  DOXYGEN_EXECUTABLE) (Required is at least version "1.8.6")
-- dir='/home/jj/jjmachan/shogun/src'
-- dir='/home/jj/jjmachan/shogun/src'
-- dir='/home/jj/jjmachan/shogun/src/gpl'
-- Could NOT find OPENCL (missing:  OPENCL_LIBRARY OPENCL_INCLUDE_DIR)
-- Could NOT find ViennaCL (missing:  VIENNACL_INCLUDE_DIR VIENNACL_ENCODED_VERSION OpenCL

[2017-11-13 14:03] iglesias commented on #2017
Hey @luckybuilding, what link are you referring to?

Anyway, if you would like to use Shogun in Matlab, you definitely can using Shogun 5.0.0 or earlier. I just tried it myself with Shogun 4.0.0 and Matlab R2016b.

[2017-11-13 14:22] iglesias commented on #2848
This is an unfortunate error because of a mismatch in a mex flag's name: Shogun's build used `-o` which seems to have been superseded by `-output`. A hack to fix it is to rename the option manually in the build script (it should be `build/src/interfaces/matlab_static/CMakeFiles/matlab_static.dir/build.make`.

[2017-11-13 14:22] #2848 closed

[2017-11-14 10:13] karlnapf commented on #3988
@kakshay21 your error seems to be caused by either missing files or an outdated cmake cache. Maybe try to start from scratch if you don't know what that means. Also consider using conda for installation

[2017-11-14 10:14] karlnapf commented on #3988
@jjmachan the dependencies are pretty minimal, but I think it would be a good idea to write them down somewhere. The cmake log tells you "Test suite for meta examples does not exist! Please initialise  nd/or update the data submodule." You can do that (as indicated in the readmes) via `git submodule init` and `git submodule update`

[2017-11-14 10:18] karlnapf commented on #3993
Sure, that would be a cool integration to add.
We are currently not enough peeps to make this happen though, wanna help?

[2017-11-14 10:19] karlnapf commented on #3851
Any news on this?

[2017-11-15 10:40] vigsterkr opened #3994 "mkl needs preloading when using python interface"
for some reason MKL shared libraries are not loaded with libshogun (even if they are linked) when using the shogun interface....

[2017-11-15 10:42] vigsterkr commented on #3992
@rahul16gupta great! as mentioned already above you should compile the latest shogun in develop with MKL support and run the unit tests and you'll get the error.
one way to have intel's MKL is to actually use anaconda.

other than that anybody who's trying to fix this issue plz post here where are you stuck exactly.

[2017-11-15 14:11] karlnapf commented on #3994
ldd output for `libshogun.so`
https://pastebin.com/v6MHVQxN

and the python interface `_shogun.so`
https://pastebin.com/QhZF5qh4

The error is "Intel MKL FATAL ERROR: Cannot load libmkl_avx2.so or libmkl_def.so."

The current workaround is something in the lines of
`export LD_PRELOAD=/opt/conda/lib/libmkl_core.so:/opt/conda/lib/libmkl_sequential.so`

[2017-11-15 15:15] karlnapf commented on #1878
We long have a PCA notebook

[2017-11-15 15:15] #1878 closed

[2017-11-15 17:28] karlnapf opened #3995 "cmake does not check for mkl headers"
I.e. when compiling shogun against MKL using anaconda, compilation fails due to a missing `mkl.h`, which can be fixed via `consta install mkl-includes`. It would be good if cmake checked this and errors

[2017-11-15 17:28] karlnapf opened #3996 "cmake does not check for openblas headers"
I.e. when compiling shogun against openblas using anaconda, compilation fails due to a missing `cblas.h`, which can be fixed via `apt-get install libopenblas-dev`. It would be good if cmake checked this and errors

[2017-11-16 10:39] vigsterkr commented on #3995
btw this is only when `ENABLE_EIGEN_LAPACK` is enabled

[2017-11-16 12:15] #3995 closed

[2017-11-16 12:48] vigsterkr commented on #3994
this problem is actually due to a badly setup environment in that docker image.... but we cannot do anything about this, just advise users to fix their environments or play around with env variables

[2017-11-16 12:53] karlnapf opened #3997 "make install should install toy data with examples"
The (meta) examples need `data/toy`, i.e. a subfolder of the `data` submodule.
`make install` should ensure this is installed with the examples under `prefix/share/shogun/examples` in a way that the examples work out of the box after installing.

Currently, one has to do something like this (I here link the folder)
[code]

[2017-11-16 12:54] karlnapf commented on #3997
Note, not all of the data (too big), just the toy data necessary for the examples

[2017-11-16 14:22] vigsterkr commented on #3994
reopening this because:
https://mail.scipy.org/pipermail/numpy-discussion/2009-October/046020.html

but we can have couple of workarounds for this from shogun side... so lets be nice with our users

[2017-11-16 16:36] #3994 closed

[2017-11-16 16:38] vigsterkr commented on #3994
we are trying to use this if possible https://software.intel.com/en-us/articles/a-new-linking-model-single-dynamic-library-mkl_rt-since-intel-mkl-103

[2017-11-18 16:42] durovo commented on #3851
@karlnapf Sadly, I have been unable to work on this due to ongoing exams. I was trying to use the existing cross-validation code inside a class that inherits from the Machine class to make an interface similar to the one in scikit-learn. Can you point me to some resource/documentation on the locks that are being used everywhere in shogun? I am having a hard time understanding the logic behind them

[2017-11-20 14:17] luckybuilding commented on #2017
Hey @iglesias ,
Thanks for your reply. I was referring to the top link (https://github.com/shogun-toolbox/shogun/blob/develop/doc/md/INSTALL.md#matlab)

I think the support for MATLAB has been removed on Shogun 5.0.0.
I don't see anything about Matlab on the latest versions!

Can you provide a instruction for compile and use of it on MATLAB?

[2017-11-21 08:19] iglesias commented on #2017
You don't see anything about Matlab on the latest versions because as mentioned above you have to use Shogun 4.0.0 or earlier to use Shogun in Matlab.

In a nutshell, the main instruction for compilation is to configure the build with the cmake option `MatlabStatic` set to `ON`. Now depending on the version of Matlab you are using, such as if you are using a version more modern than Shogun 4.0.0,

[2017-11-21 11:52] luckybuilding commented on #2017
Thanks. Isn't it going to be supported in next versions?
Because, I'm starting a line of coding for a project that would need to be
updated later and I don't wanna get stuck in an late unsupported version.

On Nov 21, 2017 11:49 AM, "Fernando J. Iglesias García" <
notifications@github.com> wrote:

You don't see anything about Matlab on the latest versions because as
mentioned above you have to use

[2017-11-21 12:41] iglesias commented on #2017
This will depend mainly on whether Matlab becomes supported by Swig.

[2017-11-21 14:05] karlnapf commented on #2017
SWIG and matlab do work together, there is a number of project who are
doing it. Check the issues if you want to help us re-enabling this feature.
Mainly requires someone to dive into it. Interested?

2017-11-21 12:41 GMT+00:00 Fernando J. Iglesias García <
notifications@github.com>:

[2017-11-22 16:55] karlnapf commented on #3851
No worries about the delay, your work and thoughts are still very much appreciated!
I think your thinking makes sense, maybe we move on towards designing some header/API files?

Don't worry about the parallel thing for now, we can address that once the design is there.

[2017-11-28 18:13] #1991 closed

[2017-11-28 19:35] vigsterkr commented on #3554
we do support `org.ujmp` as well, so that should be enough....

[2017-11-28 19:35] #3554 closed

[2017-11-28 19:35] vigsterkr commented on #3514
this is definitely done :)

[2017-11-28 19:35] #3514 closed

[2017-11-28 19:37] vigsterkr commented on #3509
this is dooone :)

[2017-11-28 19:37] #3509 closed

[2017-11-28 19:37] vigsterkr commented on #3486
done

[2017-11-28 19:37] #3486 closed

[2017-11-28 19:43] #3948 closed

[2017-11-29 20:40] vigsterkr commented on #3132
this is still broken. let's keep it open... in the meanwhile you can install shogun python interface with conda:
``` conda install -c conda-forge shogun ```

[2017-11-30 13:49] durovo commented on #3851
Hello @karlnapf , I'm almost done with the implementation part I believe. Just need to fix a few things and write tests before making the PR.
About the API, I have tried to maintain the same interface as that of CMachine. I have named the class CCrossValidatedCalibration. The user can call train or train_machine to the run the cross-validation in which for each subset a new Calibrator will be gene

[2017-12-01 08:49] karlnapf opened #3998 "Use linalg backend insiude SMV code"
Our SVM implementations (LibSVM, LibLinear, etc) are based on manual implementations of the underlying vector/matrix algebra. However, there are big speed-up potentials when using the linalg backend (see e.g. the parallel LibLibear, which is as simple as using openmp for all dot products)

 * This task is to investigate whether we can replace some of the manual implementations by linalg calls.
 *

[2017-12-03 11:26] orivej opened #3999 "Parallel building with meta examples fails"
I'm building shogun 6.1.2 on Linux, and the parallel building fails because [here](https://github.com/shogun-toolbox/shogun/blob/bc89ca00981a6967310c90c8843a6d19f43c0f11/examples/meta/generator/parse.py#L22) the [generator](https://github.com/shogun-toolbox/shogun/blob/bc89ca00981a6967310c90c8843a6d19f43c0f11/examples/meta/CMakeLists.txt#L68) invokes yacc without explicit `tabmodule` argument, and

[2017-12-03 13:16] karlnapf opened #4000 "missing openblas headers cause compile error"
[code]

Installing `libopenblas-dev` solves that. Our cmake setup should catch this error before compilation. Alternatively there needs to be proper guarding in place.

[2017-12-03 13:16] karlnapf commented on #4000
(and of course this is only true when *not* compiling against say anaconda's MKL blas/lapack

[2017-12-03 13:17] vigsterkr commented on #4000
@karlnapf this is a duplicate of #3996 closing..

[2017-12-03 13:17] #4000 closed

[2017-12-03 13:47] durovo commented on #3851
Any suggestions on how to write the tests for this?

[2017-12-03 17:46] sudz123 opened #4001 "INSTALLATION ERROR FOR MAC OS"
The current command for shogun installation given in INSTALL.md does not work as we cannot use home brew as root. This is too dangerous and is no longer supported.

[2017-12-04 13:40] vigsterkr commented on #3998
@karlnapf dot product is done ;)

[2017-12-04 13:52] #4001 closed

[2017-12-04 18:16] karlnapf commented on #3998
are there benchmarks on the impact of this?
Especially with MKL?
sklearn says on their website that the SVM solvers dont use MKL so no speedup....we could shine once again :)

[2017-12-04 18:20] vigsterkr commented on #3998
I have just monitored the unit test changes in runtime. I havent benchmarked it properly. The mkl is definitely has a positive impact on the runtime (again i have only confirmed this by looking at unit tests runtimes)

[2017-12-05 11:07] sudz123 opened #4004 "UNABLE TO UPDATE SUBMODULES FROM BEHIND A PROXY SERVER"
The command "git submodule update --init" and "git clone https://github.com/shogun-toolbox/shogun.git" does not work from behind a proxy server even though proxy has been configured in the terminal.

[2017-12-05 11:33] karlnapf commented on #4004
This is not Shogun related. Google for general solution

[2017-12-05 11:33] #4004 closed

[2017-12-05 17:14] sorig commented on #3999
I cannot reproduce this, but it sounds like a race condition caused by PLY caching the generated parser in the `parsetab.py` file on disk. If the parser generator is invoked by multiple processes, this could cause unpredictable behaviour. Potential solutions:

- Disable parser caching in PLY when using parallel builds (is it possible to pass a parameter controlling this from CMake?). This would ca

[2017-12-05 17:16] sorig commented on #3999
@orivej Can you elaborate on how you reproduce this exactly? Does it occur just by
[code]
?

[2017-12-05 18:07] orivej commented on #3999
Yes, `make -j meta_examples` reproduces it every time, but this appears to happen only with a truly fresh build, `rm -rf build; mkdir build; cd build; cmake ...; make -j meta_examples`; `make clean; make -j meta_examples` is not enough.  Sorry if my estimation of the cause is not correct.

[2017-12-05 18:22] sudz123 commented on #3988
While trying to configure cmake and compile shogun, when I run :

cmake [options] ..

I get the error :

The ctags found is not suitable for meta examples.
-- Could NOT find Ctags (missing: CTAGS_EXECUTABLE)
CMake Warning at cmake/FindPLY.cmake:24 (message):
  ply import failure:

Call Stack (most recent call first):
  examples/meta/CMakeLists.txt:4 (FIND_PACKAGE)

CMake Error at examples/meta/CMa

[2017-12-05 18:47] orivej commented on #3999
I have confirmed that the build does not write files outside the `build` directory, so in my case wiping it and unpacking the sources again vs `make clean` may just have an effect on the disk cache or similar that affects timings. I have also recorded with ([fptrace](https://github.com/orivej/fptrace)) that e.g one generator writes
[code]
while another writes
[code]
so you can tell if this is fixe

[2017-12-05 23:23] krc3004 opened #4006 "List of Dependencies for CMake?"

[2017-12-06 00:49] #4006 closed

[2017-12-06 03:54] krc3004 opened #4007 "No interface files after installing with homebrew"
Hi, I installed shogun using the following command:

brew install homebrew/science/shogun

But I'm unable to locate any of the interface files (I'd like to use shogun in R).  I followed the instructions shown here: http://www.shogun-toolbox.org/examples/latest/quickstart/interfaces.html but was unable to locate shogun.R in any of the folders (include, lib, share) in the top directory.  Perhaps my

[2017-12-06 09:46] vigsterkr commented on #4007
@krc3004 please read about the shogun formula a bit in homebrew, i.e. `brew info shogun`, you will see that there are many options for the formula that are turned off by default... one of which is `--with-r` that will build the R interface for you.

[2017-12-06 09:46] #4007 closed

[2017-12-06 10:17] vigsterkr commented on #3997
people, there is a good reason why we have releases of the shogun-data as well, see for example:
http://shogun.ml/archives/shogun/data/shogun-data-0.11.tar.bz2

[2017-12-06 10:17] #3997 closed

[2017-12-06 10:23] vigsterkr commented on #3999
@orivej thnx for reporting and writing a possible fix. could you PR this plz?
@sorig are you happy with the fix?

[2017-12-06 10:34] durovo commented on #3997
@vigsterkr So from what I understand, there is no need to move the toy data? Is it up to the user to create a symlink or move it to run the meta examples?

[2017-12-06 12:57] sorig commented on #3999
I can now reproduce the problem and I've confirmed that @orivej's fix works. Thanks for that!

The problem with this solution is that a new parser is generated for each example file which defeats the point of caching the parser. I've created an alternative solution which generates the parser before the parallel build is run in #4008

[2017-12-06 19:49] vigsterkr commented on #3999
just merged #4008 that fixes this

[2017-12-06 19:49] #3999 closed

[2017-12-07 17:16] vermashresth commented on #3996
@karlnapf Can I work on this issue?

[2017-12-07 21:15] vigsterkr commented on #3974
closing this one; anybody attempts to use shogun on windows should try it with using [conda package](https://anaconda.org/conda-forge/shogun-cpp) starting 6.1.3 there's a binary windows package available

[2017-12-07 21:15] #3974 closed

[2017-12-08 15:23] karlnapf commented on #3988
Just changed the title slightly ;)

[2017-12-08 15:24] karlnapf commented on #3851
The first PR is just for discussion and we can first discuss the API before you write tests.

Having said that, minimal tests are essential, try to cover things like: preserving order, no leak of future data. Best thing is to do a manual split by pen&paper and then assert things in the unit test. Next thing is to think about corner cases ...

[2017-12-09 13:11] shubham808 commented on #3988
@karlnapf I have a similar issue as that of @jjmachan I have tried again too but the error I keep getting is

-- Using system's malloc
-- Could NOT find Doxygen (missing:  DOXYGEN_EXECUTABLE) (Required is at least version "1.8.6")
-- dir='/home/atom/shogun/src'
-- dir='/home/atom/shogun/build/src'
-- dir='/home/atom/shogun/src/gpl'
-- Could NOT find Eigen3 (missing:  EIGEN_INCLUDE_DIR) (Required i

[2017-12-09 19:17] durovo commented on #3851
@karlnapf I have created a pull request so that we can discuss the API.

[2017-12-10 14:57] ramdishanth opened #4010 "BSS_audio is not found"
http://www.shogun-toolbox.org/notebook/latest/bss_audio.html

Not Found

The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.

[2017-12-10 14:59] shubham808 opened #4011 "Update requirement.txt for examples/meta to include Ctags along with ply"
Currently the requrement.txt has
`ply`
changing it to include Ctags as the `examples/meta/CmakeLists.txt` requires it

[2017-12-10 15:52] #4011 closed

[2017-12-11 09:08] vigsterkr commented on #4010
:O wonder what has happened... i think it's about the python2->3 switch :(

[2017-12-11 09:09] vigsterkr commented on #3996
@vermashresth yes go ahead. take a look how it is done in case of MKL

[2017-12-11 16:10] vermashresth commented on #3996
@vigsterkr Currently, the [ShogunFindLAPACK.cmake](https://github.com/shogun-toolbox/shogun/blob/develop/cmake/ShogunFindLAPACK.cmake#L70-L72) checks for the existence of `cblas.h` by searching for `cblas_dgemv` function in the found Lapack library. But it is a weak check as it might be possible that `cblas_dgemv` exists but still there is no `cblas.h` header file (for example having libopenblas-b

[2017-12-11 16:12] vigsterkr commented on #3996
@vermashresth noup that's not a good idea as you need to consider the case when it's an atlas version of LAPACK/BLAS.... basically you need to figure it out that it's openblas based LAPACK/BLAS and if that's the case then you need to do a search for cblas.h

[2017-12-11 19:46] vigsterkr commented on #3996
@vermashresth mmm it's not necessary to create a `FindOpenBLAS` file to detect the BLAS/LAPACK type.. of course you can do that as well... it's up to you. only thing is that you should be able to figure out whether the detected LAPACK API is openblas... and in case it is then it should be able to find the cblas.h or error if there's no such header available....

[2017-12-12 18:38] vermashresth commented on #3996
@vigsterkr I'm stuck on figuring out whether the detected LAPACK API is openblas. The path names don't always contain openblas keywords so can't use regex and detecting openblas otherwise doesn't ensure whether it actually is the detected version. Can you suggest some other way? I'm still a beginner so taking time to understand

[2017-12-12 18:40] vigsterkr commented on #3996
how do you mean that the path name in case of openblas is not always containing openblas keyword? can you show me a distro/installation where this is the case?

[2017-12-12 18:51] vermashresth commented on #3996
@vigsterkr In my system, I have `libopenblas-dev` installed and at installation time it sets `/usr/lib/libblas.so` to point to `/usr/lib/openblas-base/libblas.so.3` and same with liblapack.so
Now the LAPACK_LIBRARIES retuned by FindLAPACK are `/usr/lib/libblas. so` and `/usr/lib/liblapack.so`
When I run `readlink -f "/usr/lib/libblas. so"` it shows `/usr/lib/openblas-base/libblas.so.3`
So the dete

[2017-12-13 03:44] vigsterkr commented on #3996
first of all looking into blas is foobar, as we only detect LAPACK... i know that blas is a dependency of LAPACK in this matter but we do not do BLAS detection directly.

second of all if you check this: https://github.com/xianyi/OpenBLAS/wiki/OpenBLAS-Extensions
you realise that there are some openblas specific functions that could be used to detect whether the detected library is openblas, or so

[2017-12-14 08:19] #3996 closed

[2017-12-14 10:26] vigsterkr commented on #1925
obsolete

[2017-12-14 10:26] #1925 closed

[2017-12-14 10:28] vigsterkr commented on #2549
done

[2017-12-14 10:28] #2549 closed

[2017-12-14 10:28] vigsterkr commented on #2512
obsolete

[2017-12-14 10:28] #2512 closed

[2017-12-14 10:30] vigsterkr commented on #2590
partly it's done... but i believe we should just drop sooner or later the whole CMath, as now everything that's there is available in std:: since c++11

[2017-12-14 10:31] vigsterkr commented on #2635
obsolete...

[2017-12-14 10:31] #2635 closed

[2017-12-14 10:32] vigsterkr commented on #2808
tbis is definitely fixed

[2017-12-14 10:32] #2808 closed

[2017-12-14 10:33] vigsterkr commented on #2907
use conda-forge package for windows:
[code]

[2017-12-14 10:33] #2907 closed

[2017-12-14 10:34] vigsterkr commented on #3195
ppa is available at: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable

[2017-12-14 10:34] #3195 closed

[2017-12-14 10:34] vigsterkr commented on #3131
no need

[2017-12-14 10:34] #3131 closed

[2017-12-15 09:44] #2577 closed

[2017-12-16 12:35] karlnapf opened #4014 "Do this"

[2017-12-16 12:35] #4014 closed

[2017-12-16 14:39] karlnapf commented on #3850
Done in #3954

[2017-12-16 14:39] #3850 closed

[2017-12-16 14:48] karlnapf commented on #4010
Check line 240 and 258 of http://buildbot.shogun-toolbox.org:8080/#/builders/17/builds/51/steps/14/logs/stdio

[2017-12-16 14:52] karlnapf commented on #4010
Probably can be fixed by not using pylab.

[2017-12-16 14:59] karlnapf commented on #4010
It is actually `wavPlayer(s1, fs1)`
[code]

Jupyter refactored things in there, so now `display` is not defined anymore

[2017-12-16 15:11] #4010 closed

[2017-12-16 15:17] karlnapf commented on #3789
I think this is done

[2017-12-16 15:17] #3789 closed

[2017-12-16 15:18] karlnapf commented on #3788
Done in 3560969

[2017-12-16 15:18] #3788 closed

[2017-12-16 15:40] karlnapf commented on #3501
ALL MERGED OR CLOSED, GSOC 2016 finally done ;)

[2017-12-16 15:40] #3501 closed

[2017-12-16 15:43] karlnapf opened #4016 "integration testing data for perceptron"
See #3284 and https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md#testing

[2017-12-16 15:44] karlnapf opened #4017 "integration testing data for mkl binary classification"
See #3250  and https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md#testing

[2017-12-16 15:55] sorig commented on #3553
@karlnapf close this one

[2017-12-16 15:55] #3553 closed

[2017-12-16 15:56] sorig commented on #3628
I don't think this is actually an issue with java

[2017-12-16 16:07] karlnapf commented on #4010
@vigsterkr I fixed the notebook, it worked on last nightly_default, so I guess website will be auto updated at some point?

[2017-12-16 16:11] karlnapf opened #4019 "Make all classes and methods in meta example on website be links"
For example: http://shogun.ml/examples/latest/examples/binary_classifier/lda.html

[code]

should be something like

[code]

For that, you will have to modify the sphinx plugin we wrote to render the meta examples, see https://github.com/shogun-toolbox/shogun/blob/develop/doc/cookbook/extensions/sgexample.py

[2017-12-16 16:14] karlnapf opened #4020 ""View full listing" for meta examples"
Every meta example on the website should have a tab that says "show full code listing", which allows a user to see all of the example code, not just the snippets

Requires some web-hacking skills... not THAT easy, but not impossible

Start from the sphinx plugin:

For that, you will have to modify the sphinx plugin we wrote to render the meta examples, see https://github.com/shogun-toolbox/shogun/

[2017-12-16 16:14] karlnapf commented on #3628
Csharp?

[2017-12-17 09:26] karlnapf commented on #3787
Done

[2017-12-17 09:26] #3787 closed

[2017-12-17 12:11] #3628 closed

[2017-12-17 12:11] karlnapf commented on #3628
Then I guess we are done! :) thanks!

[2017-12-17 13:28] karlnapf opened #4028 "EASY: Fix ROC evaluation error messages"
See #3441

Error messages like this are bad:

[code]

They should be something like
[code]

There should be many more of such instances within the code base.
2min entrance task

[2017-12-17 13:45] karlnapf opened #4030 "delete all VW code"
Delete all VW code in shogun `src/shogun/classifier/vw/`

Then make sure the build still works
 * delete all tests
 * delete all examples

Run tests and send PR, all fine

[2017-12-17 17:10] sorig commented on #3786
I found more files. Updates to follow

[2017-12-17 17:39] karlnapf commented on #3993
GSoC 2018 project...please see our suggested projects (once they are online)
Some things are already in the wiki, following our hackathon 2017

[2017-12-17 17:39] #3993 closed

[2017-12-17 17:40] karlnapf commented on #3985
Is this still happening with the latest release/develop code?

[2017-12-17 17:40] karlnapf commented on #3983
any updates?

[2017-12-18 16:25] stoicangelo commented on #3988
I am trying to manually build the Shogun on my Ubuntu 16.04LTS .

- Made a build directory
-  Inside which I i did.
`cmake -DINTERFACE_PYTHON=ON -DINTERFACE_OCTAVE=ON ..`

[ Note: The terminal showed the following optional packages to be missing
*rxcpp
*TFLogger
*CPLEX
*ARPACK
*Mosek
*SNAPPY
*ARPREC ]

next, I ran `make`  (in the build directory)
this gave me an error shown below. Kindly help me o

[2017-12-21 20:09] jgoldfar opened #4038 "Typo in Lua interface example"
The Lua example here https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INTERFACES.md appears to have a typo; the call to run the example should probably be closer to what is generated by https://github.com/shogun-toolbox/shogun/blob/develop/examples/meta/lua/CMakeLists.txt (I don't run lua locally, otherwise would submit a PR)

[2017-12-22 09:40] salonirk11 commented on #4030
@karlnapf Can I work on this issue?

[2017-12-22 09:41] vigsterkr commented on #4030
@salonirk11 yes, certainly. make sure that before you send in a PR both all the examples and tests are passing on your machine locally.

[2017-12-22 10:20] karlnapf commented on #4038
Whoops, indeed!
Thanks for reporting.

This is a lovely entrance task for those try to get involved in Shogun.

[2017-12-22 10:25] karlnapf commented on #4038
The R command also is not rendered properly, so that needs a mini fix as well

[2017-12-22 10:36] vigsterkr commented on #3505
ok so this is still lingering around, currently based on the nightly_default the followings are failing:
 * Scene_classification.ipynb, it's about OpenCV interface changes... needs updates
 * DecisionTrees.ipynb: seems a bit more serious:
[code]

[2017-12-22 11:40] karlnapf commented on #3883
I am still getting this

[code]

[2017-12-22 13:56] shubham808 opened #4040 "Cannot import "WrappedObjectArray" in python"
On running ```examples/meta/python/gaussian_processes/gaussian_process_classifier.py``` I get the import error both on my system and on shogun cloud.

[2017-12-22 18:33] karlnapf commented on #4040
Ah that is a known problem.
@sorig didn't you recently check this?

workaround: remove that part of the example code, it is only for testing. We will try to fix this soon

[2017-12-23 09:31] ckousik commented on #4028
#4042

[2017-12-23 12:56] ckousik commented on #4016
May I work on this?

[2017-12-23 13:41] karlnapf commented on #4016
Sure, no need to ask, just send that PR :)

[2017-12-23 15:21] karlnapf commented on #4040
If this persists after removing and re-creating the build directory, could you show how you run cmake to reproduce this?

[2017-12-23 15:39] karlnapf opened #4043 "EASY: Use factory methods instead of constructors in meta examples"
**NOTE**: This task is frozen for now, until we have extended the meta examples to deal with the changes. This is likely to change within the next few weeks

See

For example, we want to change the Gaussian instantiation from
[code]
to
[code]

This also should be done for `KernelMachine`, i.e. use `svm = kernel_machine("LibSVM")`.

Eventually, we want to do this for all constructors in the meta ex

[2017-12-23 16:18] karlnapf commented on #3688
First few down, but we need more (eventually all classes)

[2017-12-23 20:06] #4030 closed

[2017-12-23 20:10] #4028 closed

[2017-12-23 20:16] karlnapf commented on #3988
your protobuf installation seems borken, or wrongly detected by cmake.
use `-DENABLE_PROTOBUF=Off` as cmake argument

[2017-12-23 21:24] karlnapf opened #4044 "EASY: create factory methods to create LinearMachine instances by their name"
See #4023 for an example.

We want this for `CLinearMachine` as well

Next step is to use this in the examples, as mentioned in #4043

[2017-12-23 21:27] karlnapf commented on #4044
#3840

[2017-12-23 21:37] karlnapf commented on #3645
Ok will close this one for now

[2017-12-23 21:37] #3645 closed

[2017-12-23 21:39] karlnapf commented on #3786
@sorig which ones?

[2017-12-23 21:40] #3548 closed

[2017-12-23 21:40] karlnapf commented on #3497
Not sure this is still requires. Task is now to CHECK :)

[2017-12-23 21:41] karlnapf commented on #3555
This is still really important

[2017-12-23 21:46] #3095 closed

[2017-12-23 21:48] #3048 closed

[2017-12-23 21:53] karlnapf opened #4046 "Increase Shogun coverage in benchmarks"
This task is to check [MLPack's benchmarking framework](https://github.com/mlpack/benchmarks), and add more Shogun methods to it. We eventually want all of Shogun's algorithms in there to be covered.
This is really quite simple, and requires few scripts to be added, [examples](https://github.com/mlpack/benchmarks/tree/master/methods/shogun)

Some information can be found here:
https://github.com/s

[2017-12-23 21:53] karlnapf opened #4047 "Top 10 entrance tasks, December 2017"
We still need to port more examples to the new system:
#3555
#3580

Work on tags transition:
#3688
#4044
#4043

Using linalg everywhere in Shogun:
#2747

Make use of the new progress bar
#3889

Increase Shogun's benchmark coverage
#3054
#4046

[2017-12-23 21:53] karlnapf commented on #4047
Please don't comment here, but in the referenced issues

[2017-12-24 08:06] shubham808 commented on #4040
Yes it still persists i used these options with cmake ```cmake -DENABLE_TESTING=ON -DBUILD_META_EXAMPLES=ON -DINTERFACE_PYTHON=ON  ..```

[2017-12-24 08:10] shubham808 commented on #4044
@karlnapf I would like to take this one up

[2017-12-24 22:58] stoicangelo commented on #3988
@karlnapf the error still persists on using the protobuf argument .
Below is the last page of what the terminal reads on using

`[ 68%] Building CXX object src/interfaces/octave/CMakeFiles/interface_octave.dir/sg_print_functions.cpp.o
In file included from /home/stoicangelo/shogun/src/interfaces/octave/sg_print_functions.cpp:1:0:
/usr/include/octave-4.2.1/octave/../octave/config.h:28:2: warning: #

[2017-12-25 07:05] ckousik commented on #2747
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/distributions/Gaussian.cpp#L318
@karlnapf Shouldn't the LAPACK call be scrapped in favor of the linalg call instead of the conditional compilation?

[2017-12-25 09:39] #3847 closed

[2017-12-25 13:11] bartimaeus12 commented on #4046
I am interested in working on this. Which methods need to be worked on?

[2017-12-25 13:58] karlnapf opened #4049 "Clean up xvalidation API"
* Let's make the splitting strategy an iterator
 * let's rename `generate_subset_indices` and `generate_subset_inverse` to something like `get_train` and `get_validation` or even better `train` and `validation`
 * Let's get rid of the `build_subsets` method (and do it in the constructor or lazily when the first index set is requested)

Probably more to come. Have a look at the sklearn splittings a

[2017-12-25 14:25] karlnapf commented on #4049
Good example for time-series splitting based on simple iterator approach
https://github.com/scikit-learn/scikit-learn/blob/ea6ea815e1071bfb9de18953fea98b136a7fa8ed/sklearn/model_selection/_split.py#L770

[2017-12-25 17:28] prashanthduvvada commented on #4038
I want to take up and work on this issue.

[2017-12-25 18:07] karlnapf commented on #4046
I have written a little list of steps to identify which method to work on above

[2017-12-25 18:07] karlnapf commented on #4038
do it :)

[2017-12-25 18:20] karlnapf commented on #2747
absolutely! I think most of linalg that is needed is there, so that should be easy. Make sure to send a few minimal unit tests before modifying the code ...

[2017-12-25 18:21] karlnapf commented on #3988
This is due to a broken installation of your blas. I will close this issue now, as it is generating too much noise.

[2017-12-25 18:21] #3988 closed

[2017-12-25 18:38] karlnapf commented on #4044
Go for it

[2017-12-25 20:06] prashanthduvvada commented on #4038
Well, do I need to create a separate issue and create different PR for R command?

[2017-12-25 20:13] karlnapf opened #4050 "EASY: clean up meta example filenames"
folders:
`gaussian_processes` -> `gaussian_process`
`multiclass_classifier` -> `multiclass`
`binary_classifier` -> `binary`

no folder names inside the program listing names, e.g.
`gaussian_process_classifier` -> `classifier`
`multiclass_linearmachine` -> `linear`
`sparse_gaussian_process_regression` -> `sparse_regression`
`multiclass_logisticregression` -> `logistic_regression`

no abbreviations

[2017-12-25 20:15] karlnapf commented on #4038
Nope, just fixing typos can be done in a single PR which consists of 1-2 lines

[2017-12-25 20:17] karlnapf commented on #4040
I cannot confirm this, i.e. doens't happen on my system.
I guess you can dive in and check it out. The class has guards and you can see whether they are set or not.

BTW I am not sure what you mean when you say you run the example on the shogun cloud? Anyways, the cloud is built with testing disabled, so the class doesn't exist in there

I will close this for now

[2017-12-25 20:17] #4040 closed

[2017-12-25 20:31] HunorSzabo opened #4051 "RandomForest Regression exceptions using native or python interfaces"
Dear Contributors,

I am trying to run shogun on simple examples following the guidelines, but I am consistently getting exceptions. I tried it on Ubuntu 16.04(apt-get binaries and compiled it myself) and Windows 10 using the native c++ interface. Also tried the conda version from python both on Ubuntu and Windows with the same result.

See a simple example below:

[code]

- OS: Windows 10, Ubuntu

[2017-12-25 20:40] karlnapf commented on #4051
Hi!
This might well be a bug, shall we try to create a minimal python script to reproduce this?

[2017-12-25 20:41] karlnapf commented on #4051
Or alternatively, can you share the data file and labels? Then I can try it locally

[2017-12-25 20:52] HunorSzabo commented on #4051
Thanks for the lightning fast answer and support. I will add the data only do a quick sanitization first for privacy protection reason only.

[2017-12-25 20:55] HunorSzabo commented on #4051
In the meantime here is also my python example, it is quite minimal already

[code]

[2017-12-25 20:56] HunorSzabo commented on #4051
It crashes during `training` (by calling the `randomForrest.train()`. I tried to play by selecting only a small subset of features and data without any effect, crashes the same way whatever set of features or data I use for training.

[2017-12-25 21:40] HunorSzabo commented on #4051
Here comes the sun🌞 , I mean the data.

[X.txt](https://drive.google.com/open?id=1zu7S8dOFVNLSlW6Gkki3j8q9e-yjg1cu) `16 features/line` separated by `one space`
[Y.txt](https://drive.google.com/open?id=1MPOSZ2hErfmdDNnboJt0J0O-aqNMSABu) labels

[2017-12-26 00:43] karlnapf commented on #4051
Dummy data is fine (if it reproduces the error).

[2017-12-26 03:17] shubham808 commented on #4040
Yeah it works fine now.
By shogun cloud I meant that when I tried to import the class there it was a cannot import error same as in my system so I thought maybe it's related.
But since it doesn't exist there it makes sense now.

[2017-12-26 11:36] HunorSzabo commented on #4051
Thanks for the reply @karlnapf. It certainly does reproduce the error in case it is not a configuration/usage mistake on my side, but it works flawlessly with Scikit.

[2017-12-26 12:23] dgkim5360 commented on #4050
Hello, newbie here. May I work on this one? I managed to compile and install it on my Ubuntu machine, and it looks appropriate for me to do the first steps.

Thanks for the beginner-friendly issues :+1:

[2017-12-26 13:29] karlnapf commented on #2841
This is likely to be caused by conflicting installations of shogun and a different checked out git version.
Make sure your include paths are set up correctly.

[2017-12-26 13:29] #2841 closed

[2017-12-26 13:32] karlnapf commented on #4051
Cool, thanks. I will look into that a bit later today.

[2017-12-26 13:34] karlnapf commented on #4050
sure go for it :)

[2017-12-27 00:27] karlnapf opened #4054 "Investigate random forest crash when feature types are set"
Running a random forest regression without setting the feature type works fine (and produces correct results). The forest complains though: since the feature types are not set, it tells the user that it assumes continuous features:
[code]

To get rid of the warning, the user sets the feature types to continuous (false)
[code]
which causes Shogun to die without an error message:
[code]

I made a st

[2017-12-27 00:28] karlnapf commented on #4051
Try to not set the feature types (I assume you want to do continuous features). There will be a warning, but it did not crash in my test (see above). This definitely is a bug. I will close this issue for now as we have #4054 in place. We can continue to discuss in here though

[2017-12-27 00:28] #4051 closed

[2017-12-27 00:34] karlnapf commented on #4051
PS I made new code since yours was not standalone. But I think there is no qualitative difference

[2017-12-27 00:56] vermashresth commented on #4054
@karlnapf  I would like to take this up

[2017-12-27 03:05] prashanthduvvada commented on #4043
Will take up the issue

[2017-12-27 15:08] HunorSzabo commented on #4051
Thanks for the quick feedback :+1:

Actually the five features I use are categorical(0, 1) features :-s

[2017-12-27 16:51] karlnapf commented on #4051
I am not sure what a weighted majority vote would mean for regression. Do you want to do classification?

As for the categorical features, yes that is definitely a bug. We need to investigate what is going on there.
I might have some time to do that in the near future, but I am away the next week unfortunately. I put up the description so that maybe somebody else could pick that up. Bear in mind i

[2017-12-28 06:25] dgkim5360 commented on #4050
@karlnapf while working on the cookbook, I found some minor typos, e.g.,
in `/doc/cookbook/source/examples/multiclass/k_nearest_neighbours.rst`

[code]
Should I include such corrections, or just leave them untouched and commit for the original task?

[2017-12-28 07:22] karlnapf commented on #4050
Argmin should be defined. Check the cookbook readme it tell you where to put custom latex

[2017-12-28 07:23] karlnapf commented on #4050
If you find typos, make a separate pr

[2017-12-28 17:01] HunorSzabo commented on #4051
Currently, I am just evaluating the use of Shogun over other alternatives, so I am only testing around.
Thank you for your effort and quick actions, I hope I could gather up some time and look into the issue, sorry if I seemed pushy about the fix, only wanted to make sure you have all the information.

Enjoy your holidays!
Bestbest,
Hunor

[2017-12-29 07:50] salonirk11 commented on #4044
While working with examples, like in #4043 the object returned by ```kernel``` is of ```CKernel``` class and hence ```k.set_width(2.0)``` throws a ```no method named set_width``` error because set_width is a method of ```CGaussianKernel```.
The src files in ```examples/meta``` thus don't translate. The same problem occurs with examples using  ```linear_machine``` and ```kernel_machine```. We are s

[2017-12-29 09:50] lisitsyn commented on #4044
@salonirk11 oh that's a good catch we have not foreseen. It seems we'd also need to change it to `set("width", 2.0)` but this might require some tricks in examples generator.

Thanks for the note!

[2017-12-29 09:56] shubham808 commented on #4044
So should we stop working on examples and create a PR for the factory meathod implementation?

[2017-12-30 05:51] nilinswap opened #4061 "make errors in brew install"
On trying `brew install homebrew/science/shogun` getting an error in 'make' process.

cd /tmp/shogun-20171224-4936-npg2dw/shogun-6.0.0/build/src/shogun && /usr/local/Homebrew/Library/Homebrew/shims/super/clang++ -I/tmp/shogun-20171224-4936-npg2dw/shogun-6.0.0/src -I/tmp/shogun-20171224-4936-npg2dw/shogun-6.0.0/build/src -isystem /usr/local/include/eigen3 -I/usr/local/include -I/usr/local/lib/../in

[2017-12-31 12:54] shivampkumar commented on #4050
Just starting out with Shogun. I will go with this one first...Is that cool?

[2018-01-01 20:06] braceletboy commented on #4049
Hey!! Just to confirm, we are supposed to re-implement the CSplittingStrategy base class with changes mentioned in second, third and fourth points of the first comment right? I am actually a little confused by the first point of that comment.

[2018-01-01 22:45] lisitsyn commented on #4044
@shubham808 yeah factories are the way to go yet.

Good news are that once #4063 is merged (rather soon) the `put('parameter', value)` start working. This means examples would start looking like that:
[code]

[2018-01-02 18:10] vermashresth commented on #4054
@karlnapf I looked at the code through debugger and found that it stops [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/multiclass/tree/CARTree.cpp#L268-L269) . The feature length is 1 but we are providing `feature_type` array of length N so there is a mismatch. The code works fine with `feature_type` array of size 1
But it terminates without showing the error message.
I al

[2018-01-04 15:31] dhelekal opened #4068 "OSX 10.13.2, Python 3.5. Segfault code: 11 on importing shogun"
OSX Version: OSX 10.13.2
This issue seems to be OSX specific, failed to replicate on linux.

After creating an anaconda environment via
`conda create -n envname python=3.5`
and installing shogun via
`conda install -c conda-forge shogun`

Importing shogun as such:
[code]

Crashes with segmentation fault: 11.

lldb output:

[code]

[2018-01-05 09:00] lisitsyn commented on #4068
I can confirm this is happening.

It is basically SWIG-generated code so we have to understand why it appeared before trying to get any help from SWIG guys.

[2018-01-07 18:00] karlnapf opened #4071 "implement SGSparseMatrix::equals"
See 80808c65d886309d64d2b1d944cd84e3ae822451
We want the same for our sparse matrices

Easy entrance task, that allows you to get exposed to some internals of shogun. It is mostly copy paste, but requires some understanding of the above patch.

[2018-01-07 18:00] salonirk11 commented on #4044
@lisitsyn ```shogun.kernel("GaussianKernel)``` faces translation problems which we believe is because ```translate.py``` is unable to detect a valid identifier.
The error log while build shows the following -
[code]
where we have made the following changes to ```support_vector_regression.sg```
[code]

[2018-01-07 20:52] shubham808 commented on #4044
@lisitsyn Also, put seems to work only with data members and not methods. So we cant use it in examples that have code like .https://github.com/shogun-toolbox/shogun/blob/6f1fd162892988e212b5ddfc6de15db3a8bf1026/examples/meta/src/regression/multiple_kernel_learning.sg#L21

Are the statements below in function ```set_width(2.0)``` ignored in ```put('log_width', 2.0)``` ?https://github.com/shogun-to

[2018-01-07 23:01] lisitsyn commented on #4068
Ok having spent some time on that I finally found the culprit. I had to move some lines around in generated SWIG wrapper to realise that the true error masked by this segfault is:
[code]

Here is the discussion I found then: https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/057P4uNWyCU

Anaconda guys do link python statically. So we run against dynamic library 'python' and the interp

[2018-01-08 08:05] vinx13 commented on #4071
Hello, I would like to work on this.

[2018-01-08 12:59] karlnapf opened #4074 "Refactor log-determinant estimation code to work without computation engines"
We want to delete the files in `lib/computation/*`

However, we don't want to delete @lambday 's nice code to estimate log-determinants of large sparse matrices.

This task is to re-factor things such that we can delete the computation classes. This is a nice entrance task that does only require to read/refactor existing code and tests. This will give you a nice first exposure to the internals of

[2018-01-08 13:18] #4068 closed

[2018-01-08 13:19] lisitsyn commented on #4068
@dhelekal thanks for reporting the issue! I believe it is resolved now. Would appreciate if you confirm that.

[2018-01-08 16:23] karlnapf commented on #4071
Do it. Make sure to read the developing readme before you start

[2018-01-08 16:26] karlnapf commented on #4044
I will look into a fix for this after merging #4069
This requires some changes in the meta grammar. Thanks for reporting the issues, we did indeed not foresee these proboems. Very useful! Once I have sent a patch, you can continue

[2018-01-08 16:49] shubham808 commented on #4074
@karlnapf i want to take this up.

[2018-01-08 16:51] shubham808 commented on #4044
okay we will continue after the patch  :+1:

[2018-01-08 17:02] karlnapf commented on #4044
@sorig

[2018-01-08 18:27] noeddl commented on #4061
I have the same problem when trying to (manually) build version 6.0.0 on macOS 10.13.2.

[2018-01-10 16:43] braceletboy commented on #4049
I wanna take this up.

[2018-01-10 17:43] dougalsutherland commented on #4068
This won't be fixed on conda-forge yet. @lisitsyn / @vigsterkr, should I push this out as a patch for 6.1.3, or will this be in a new release soon?

[2018-01-10 19:45] karlnapf commented on #4049
Go for it

[2018-01-10 19:48] dougalsutherland commented on #4068
To add some details:

- If you use a `conda-forge` build of python, e.g. `conda create -n tmp -c conda-forge python=3.5 shogun`, then this error won't happen, because conda-forge actually does dynamically link the `python` executable to (e.g.) `libpython3.5m.dylib`. This is why the conda-forge automated tests, and my use of the package, didn't crash.

- I've tested that with this patch, the conda-

[2018-01-11 12:27] 500swapnil commented on #4019
I would like to help with this issue.

[2018-01-11 16:03] karlnapf commented on #4019
You need to read/modify the sphinx plugin as mentioned above

[2018-01-11 17:49] karlnapf commented on #4054
Thanks a ton for taking this up. The error message should be printed. Maybe it is Python? Did you manage to reproduce the same problem from c++?
Not sure what is going on, you have an idea how to fix the problem itself.

Approach:
 * Build unit test that fails
 * Fix the cause
 * unit test passes

[2018-01-11 17:52] karlnapf commented on #4051
Much appreciated thanks!

[2018-01-12 07:40] Red-devilz opened #4076 "CMAKE Error when DENABLE_TESTING=ON"
The Cmake installation attempt fails when I attempt to install shogun from source :

    cmake -DENABLE_TESTING=ON ..

The above command results in the error below

    [  0%] Performing download step (download, verify and extract) for 'GoogleMock'
	-- downloading...
		 src='http://googlemock.googlecode.com/files/gmock-1.7.0.zip'
		 dst='/home/some_path/shogun/third_party/GoogleMock/gmock-1.7.0.zi

[2018-01-12 18:13] shubham808 commented on #4074
After looking at the code I got rid of ```computation engines``` and directly computed jobs treating them as ```independent jobs```.
So I deleted ```engines``` directory and then debugged to get everything to work.
Is this the right approach ? And should I keep going similarly to eventually get rid of all classes in ```computation``` directory ?

[2018-01-13 00:56] lisitsyn commented on #4068
@dougalsutherland sorry for long quiet. Thanks a lot for adding the patch!

@vigsterkr can we do a bugfix release anyway?

[2018-01-13 05:51] grassknoted commented on #4046
Could I take the issue up?

[2018-01-13 22:20] vermashresth commented on #4054
Hi @karlnapf
The c++ code in #4051 has init_shogun() without any arguments, thats why it skips printing
 any messages. As for python I think the problem is in [sg_print_functions.cpp](https://github.com/shogun-toolbox/shogun/blob/develop/src/interfaces/python/sg_print_functions.cpp#L26:L36). The print error function gets called but doesn't print anything. Everything works fine and all the error me

[2018-01-14 10:38] karlnapf commented on #4054
Yes, for c++, you want `init_shogun_with_defaults`.
For Python, that should be the default @lisitsyn @vigsterkr
@vermashresth thanks a lot for looking into this.

Now, leaving the error message printing aside, let's get down with this RF bug :)
Why is it that there is a size mismatch? Isn't there one feature type per feature?

[2018-01-14 10:51] karlnapf commented on #4074
yes, thats exactly it. make sure to send a pr soon to we can give feedback.
Keep in mind we also want to get rid of independent jobs.
Best would be if you used openmp instead for now

[2018-01-14 11:34] lisitsyn commented on #4076
What is the version you're using?

This issue should not appear neither in develop branch nor in the latest release.

[2018-01-14 11:36] lisitsyn commented on #4076
If you want to compile exactly that version of Shogun you can patch the link in cmake/external/GoogleTestNMock.cmake to something like https://github.com/google/googlemock/archive/release-1.7.0.zip

[2018-01-14 11:36] #4076 closed

[2018-01-15 05:14] mlsgenaro opened #4082 "Problem installing Shogun"
**I followed the instructions at http://shogun-toolbox.org/install#anaconda to install shogun on Anaconda. The installation failed and I do not know how to proceed with the installation.**

**I am using Anaconda 1.6.12.**

**System Details:**
genaro@myFreeGeekBox ~/Downloads $ lsb_release -a
No LSB modules are available.
Distributor ID:	LinuxMint
Description:	Linux Mint 18.1 Serena
Release:	18.1
C

[2018-01-15 06:49] vermashresth commented on #4054
@karlnapf umm, isn't the size mismatch doing what it is supposed to do?

[code]
[code]
We have only 1 feature so there should be only 1 feature type too. Or am I missing something here?

[2018-01-15 13:23] karlnapf commented on #4054
You are absolutely right, I don't know why I got confused here. So is there any problem after all? Doesn't seem like.

[2018-01-15 13:23] #4054 closed

[2018-01-15 13:25] karlnapf commented on #4082
I don't think this is a shogun problem.
@dougalsutherland maybe we can ask for an hdf version of at least something, rather than exactly something?

[2018-01-15 13:25] #4082 closed

[2018-01-15 13:26] karlnapf commented on #4082
@mlsgenaro google a bit to see how you can resolve package conflicts in conda. The error messages are quite clear

[2018-01-15 14:48] dougalsutherland commented on #4082
I'm a little confused why this is happening, but the current conda-forge `h5py` recipe depends on a newer hdf5; I'll update the shogun recipe to match, and then it should be able to get `h5py` from `conda-forge` as well. (conda-forge's automated dependency update mechanisms are in flux right now and not doing these updates automatically.)

@mlsgenaro, I'll ping you again in an hour or two when the

[2018-01-15 15:39] dougalsutherland commented on #4082
Also @karlnapf, hdf5 [doesn't maintain binary compatibility](https://abi-laboratory.pro/tracker/timeline/hdf5/), so each build has to depend on a relatively tight version of hdf5.

[2018-01-15 17:17] vermashresth commented on #4054
Yup, no problem in random forest then. But isn't it troublesome for a user to not get error messages when input goes wrong? I think we should resolve the error printing part too.  Can we change the call to `init_shogun` function in the swig file [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/interfaces/swig/SGBase.i#L161:L168)  to `init_shogun_with_defaults` ?

[2018-01-15 18:26] karlnapf commented on #4054
@vigsterkr @lisitsyn what's you opinion on that?

[2018-01-15 20:50] alexanderwhatley opened #4084 "Serializing model in Python and loading in C++"
I am in a situation where I would like to train the model in Python and load it in C++. In the examples, it appears that only way to do this is with pickle, which will not work in C++. Is there another way? Thanks.

[2018-01-16 13:14] karlnapf commented on #4084
Should be something in the lines of (of the top of my head)
[code]

[code]

Let me know if that goes through, if not, I can write a concrete example

[2018-01-16 13:20] karlnapf commented on #3784
Hi!

Thanks for taking this up, really appreciated!
 * `modshogun` -> `shogun` definitely! It should actually be `import shogun as sg` and then use `sg.Bla()` rather than importing everything into the namespace.
 * we don't want to use `pylab` but rather implicit imports such as `import matplotlib.pyplot as plt`
 * if you cannot replicate things with the standard scipy stack, make the parts that d

[2018-01-16 13:55] shubham808 commented on #4074
@karlnapf using ```omp``` is a good idea. I got rid of ```IndependentJob``` and also the ```aggregators``` are not needed too. However, I am stuck at getting rid of ```JobResult``` classes also i think keeping them around would simplify things.

[2018-01-16 14:01] salonirk11 commented on #4074
Also, is it necessary to remove ```lib/computation/aggregator``` ? Can we reuse these classes from ```mathematics/linalg/rattaprox/logdet/computation/aggregator```?

[2018-01-17 13:08] adityaXXX commented on #3478
I want to work on this issue, could you provide some more info?

[2018-01-17 18:03] karlnapf commented on #4074
Everything in the `computation` folder should go

[2018-01-17 19:09] dougalsutherland commented on #4061
This error was fixed in https://github.com/shogun-toolbox/shogun/commit/d67be57eb50eb402b59d9892bfd317454061b6fc, which is present in shogun 6.1.*.

Homebrew-science is now depracated (https://github.com/Homebrew/homebrew-science/pull/6616), and so shogun 6.1 won't be available on it. You could try editing the formula to build 6.1.3, but the next time you `brew update` it'll go away.

You might pr

[2018-01-17 19:22] #4061 closed

[2018-01-17 19:30] dougalsutherland commented on #4061
Oh, https://github.com/Homebrew/homebrew-core/pull/21444 would add shogun to homebrew-core, if you'd prefer to wait for that / get it from the pull.

[2018-01-17 19:52] xristos91 opened #4086 "cmake error in compiling shogun from source"
Hello,
I'm trying to build shogun 6.1.0 -or a later version from source (i need to use svmlight), following the instructions in the doc/readme/INSTALL.md file. After executing the `cmake ..` command, i get the following error:

-- The CXX compiler identification is GNU 4.9.4
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler A

[2018-01-18 02:32] alexanderwhatley commented on #4086
+1. I'm getting the same error too.

[2018-01-18 10:08] karlnapf commented on #4086
The release doesn't come with the gpl files anymore.

Either clone https://github.com/shogun-toolbox/shogun-gpl into the `src/gpl` folder, or directly checkout from github and then do `git submodule init && git submodule update`

Let me know if that solved it

[2018-01-18 10:08] #4086 closed

[2018-01-19 10:13] xristos91 commented on #4086
It did solve it, thanks!

However i'm now getting another error during the make procedure, i'm pasting it below.

[  0%] Running C++ protocol buffer compiler on ShogunVersion.proto
[libprotobuf WARNING google/protobuf/compiler/parser.cc:546] No syntax specified for the proto file: ShogunVersion.proto. Please use 'syntax = "proto2";' or 'syntax = "proto3";' to specify a syntax version. (Defaulted t

[2018-01-19 14:19] grassknoted commented on #4043
Could I take the issue up?

[2018-01-19 15:43] xristos91 commented on #4086
Thanks to both of you for your help, i appreciate it. I managed to install shogun with interface to Python and i have followed the instructions in the `INTERFACES.md` file but i cannot import it. I'm using the command `from shogun import *` or `import shogun as sg`. Every time i attempt it i get the following error:

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packa

[2018-01-19 16:43] vigsterkr opened #4088 "trained_model_serialization_unittest.cc.py fails with python 35"
[code]

[2018-01-19 18:37] salonirk11 commented on #4088
@vigsterkr can i work on this?

[2018-01-19 18:48] vigsterkr commented on #4088
@salonirk11 sure feel free! go ahead and open a PR :)

[2018-01-19 19:18] rahul13ramesh opened #4089 "CartTree is not clonable"
CrossValidation with CartTree() results in a systemError. In particular, when one calls the evaluate function of a CrossValidation object, the error occurs.

Here is the complete script(with log file) that highlights the issue.
https://gist.github.com/Red-devilz/4b2c6cdc361bf4dcd5e5dc50b8ff3eef

The error is as follows :

    SystemError: [ERROR] In file /build/shogun-V6YrEn/shogun-6.1.3/src/shogu

[2018-01-19 19:49] Red-devilz commented on #3702
Here is a list of broken-links, that are not yet fixed

https://gist.github.com/Red-devilz/67dee8c8afc2502202b16466ff6da225

[2018-01-19 20:06] karlnapf commented on #4086
Google LD_LIBRARY_PATH and look out for how to set that in the documentation

[2018-01-20 00:22] karlnapf commented on #4089
You are probably right. This means our random forests are not clonable.

[2018-01-20 00:25] karlnapf commented on #4089
Actually I don't even understand why that clone is there in xvalidation. We removed the multicore version a while ago due to problems, so no clone is needed. puzzled. @vigsterkr any comments?

[2018-01-20 00:27] karlnapf commented on #3702
Thanks for that! Really useful to have that list!

[2018-01-20 17:30] vigsterkr opened #4093 "fix swig doxygen bug"
currently having doxygen and trying to compile swig interfaces will results in an error, see:
http://buildbot.shogun-toolbox.org:8080/#/builders/37/builds/204
http://buildbot.shogun-toolbox.org:8080/#/builders/28/builds/263

[2018-01-20 18:12] karlnapf opened #4094 "StringList typemaps in Python3 don't work"
See https://gist.github.com/karlnapf/b9122a880c9954cf795f20471b12363c

This was happening on cloud.shogun.ml which runs python3.

This task is to

 * reproduce the bug locally
 * investigate whether it only happens in Python or also in other languages
 * investigate what is happening
 * send a PR that fixes it

Nontrivial entrance task for anyone interested in how Shogun typemaps work. Check out `

[2018-01-20 18:53] #4071 closed

[2018-01-21 03:34] prashanthduvvada commented on #4094
Will take up the issue

[2018-01-21 18:23] karlnapf opened #4097 "Where does Shogun suck in benchmarks?"
This task is to find a systematic way to figure out the cases for which a library in the [automated benchmarking system](https://github.com/mlpack/benchmarks) performs badly

* very slow (ranked last, or far from median)
* very memory intensive
* fails
* the focus here is (obviously) on Shogun, but a script that does that should be general (and contributed back to their project)

Contact @zoq and

[2018-01-21 18:23] karlnapf commented on #4097
#4046

[2018-01-21 18:24] rcurtin commented on #4097
I would say a good place to start is to check out the benchmarking system, run it on a small dataset, and then produce an SQL query on the results that gives the desired information.  After that we can figure out the right way to put this together into something that can be merged.

[2018-01-21 18:41] zoq commented on #4097
If somebody likes to work on the latests results, we can also provide an SQL dump.

[2018-01-21 19:14] karlnapf commented on #4097
(18:34:58) zoq: We could provide some simple scripts apart from the HTML/JS interface for the most common tasks.
(18:35:12) zoq: I guess you could also write a simple Jupiter notebook? I think you could provide some input on that?

[2018-01-22 07:17] awild82 opened #4098 "Compile error with json-c 0.13"
I am compiling Shogun on Arch with gcc 7.2.1, cmake 3.10.1, swig 3.0.12, and json-c 0.13-1.
My cmake flags are `-DINTERFACE_PYTHON=ON -DBUILD_META_EXAMPLES=ON`

When I compile with make, I get the error:

/home/awild/Projects/shogun/src/shogun/io/NeuralNetworkFileReader.cpp: In member function ‘virtual shogun::CNeuralNetwork* shogun::CNeuralNetworkFileReader::read_file(const char*)’:
/home/awild/P

[2018-01-22 08:57] karlnapf commented on #4098
Thanks for reporting!
Want to send a patch?

[2018-01-22 09:41] salonirk11 commented on #4088
It’s probably due to encoding we have to enforce utf 8 here.
I am having troubles in recreating it locally. Could u help me out here?

[2018-01-22 14:39] karlnapf commented on #3732
Should be done in a similar way to https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/base/trained_model_serialization_unittest.cc.jinja2

[2018-01-22 17:28] karlnapf opened #4101 "EASY: tag-register all raw arrays"
See #4100

This is in order to fully transition to the new parameter framework.
Simple entrance task. We want to register all raw array parameters with the tags framework.

1. Grep for `add_vector` in all of Shogun's code base
2. For every parameter registration, add a `watch_param` as in the example PR #4100
3. Run tests (should be fine, but better check)
4. Send PR

[2018-01-22 17:54] ChristosHadoulos opened #4102 "Problem with R interface"
Hello,
i have built Shogun 6.1.3 from source with interfaces to Python and R. Although the Python interface is working perfectly fine, i have some issues with the R one. For example, i run the following dummy example:

`library(shogun)`
`mat <- replicate(1000,rnorm(10))`
`feat_vec <- RealFeatures(mat)`

and i get this error:

The library is loading without problems. My R version is 3.4.3 -- "Kite-

[2018-01-23 03:39] awild82 commented on #4098
Yep, I'll send one up in a few hours.

[2018-01-23 10:18] karlnapf commented on #4102
Sounds like a type error. I'll check what's going on...

In the meantime, could you try the thing outlined in `examples/meta/r/meta_api/matrix_types.R`
[code]

[2018-01-23 10:25] karlnapf opened #4105 "Write cookbook for passing vectors/matrices to features"
As this is a common source of confusion.
Very good entrance task for all GSoC'ers as everyone will have to touch those cookbooks/examples.

We already have `meta_api/vector_types.sg` and `matrix_types.sg` meta examples.

This (simple) task is to create a new "Getting started" section in the cookbook, and to add a first page that shows how to create a vector/matrix, and then pass it to a features o

[2018-01-23 10:38] geektoni opened #4106 "Apply premature stopping features to iterative algorithms."
This is a good entrance task for GSoC's students who want to tackle the [Inside that black box](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2018_project_inside_blackbox) project. This issue is good also to understand how Shogun's internals works and how we generate the [cookbook](http://www.shogun-toolbox.org/examples/latest/index.html).

First of all, take an algorithm which is trained ite

[2018-01-23 10:43] vigsterkr commented on #4102
@xristos91 can you try the same thing but using the `feature/meta_example_r_fix` branch... there are many R related fixes there.

[2018-01-23 10:55] karlnapf commented on #2084
This is still the case with version 6.1.3

[code]
used `-DCMAKE_INSTALL_PREFIX=/home/heiko/bla`

[2018-01-23 10:55] karlnapf commented on #2084
Good first issue for people interested in cmake

[2018-01-23 10:58] karlnapf opened #4107 "Write cookbook for cross-validation"
Very good entrance task for all GSoC'ers as everyone will have to touch those cookbooks/examples.

First read: https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/EXAMPLES.md

[2018-01-23 11:03] karlnapf opened #4108 "Try to enable help in R"
What we want is that the R command

`??RealFeatures` shows the class docs, just like `help(RealFeatures)` does in Python.

This needs some SWIG homework.

Nontrivial entrance task, though still not too hard. Good for people interested in the Shogun interfaces

[2018-01-23 11:04] karlnapf commented on #4102
I can confirm this is happening, as well for my suggestion above

[2018-01-23 11:05] karlnapf commented on #4102
actually
[code]
This is develop, not the feature branch @vigsterkr mentioned

[2018-01-23 14:27] karlnapf opened #4110 "tag-register all raw matrices"
This is just like #4101 but for `add_matrix`

See 79d91811fda816d116d150840fad647eda50c37e for an example.

[2018-01-23 14:34] karlnapf opened #4111 "finish BSD license header transition"
See #4032

[2018-01-24 13:35] karlnapf opened #4117 "Make sure tag parameters cover exactly all old registered parameters"

[2018-01-24 13:52] guruhegde opened #4118 "check_format script fails to run"
I faced an issue with check_format script.

It gives the following error:

I found a workaround by modifying script as follows:

After this, style check passes.
Has anyone faced this issue? How to fix this without modifying the script?

My system: arch-linux, installed clang from source.

[2018-01-24 13:57] karlnapf commented on #4050
Closed via #4055

[2018-01-24 13:57] #4050 closed

[2018-01-24 14:58] geektoni commented on #4118
This error is likely to be caused by not having installed the package ```clang-format-3.8``` in your system as advised [here](https://github.com/shogun-toolbox/shogun/wiki/Code-style). Clang alone is not enough to make `check_format.sh` work.

[2018-01-24 15:02] karlnapf commented on #1972
This is way outdated

[2018-01-24 15:02] #1972 closed

[2018-01-24 15:13] #4118 closed

[2018-01-24 20:25] yashdusing commented on #4105
Can I take this up ?

[2018-01-25 13:59] #4111 closed

[2018-01-25 14:03] #4101 closed

[2018-01-25 15:59] dhelekal opened #4120 "Using DirectorKernel with CrossValidation crashes in python"
OS family: Linux
Python 3.5 / Shogun 6.1.3 (Both conda)

Attempting to run CrossValidation on an mkl-svm containing a DirectorKernel throws:
`RecursionError: maximum recursion depth exceeded while calling a Python object`

Minimal working example:
[code]
[code]

Finally, running x-validation causes a crash:

[code]

[2018-01-25 17:19] prashanthduvvada commented on #4107
Will take up the issue

[2018-01-25 17:25] prashanthduvvada commented on #4106
Will take up the issue

[2018-01-25 17:52] #4098 closed

[2018-01-25 17:52] vigsterkr commented on #4093
fixed with b4e9249003d1ba1320ec726b9e133489b46833da

[2018-01-25 17:52] #4093 closed

[2018-01-25 21:20] grg121 opened #4122 "compilation under archlinux 64b (fPIC issue)"
Hi there! I'm trying to compile the project from source code, when execute cmake I got no missing required packages but when trying to compile:
[code]
someone here: #2822 added COMPILE_FLAGS "-fPIC" to the properties of libshogun (src/shogun/CMakeLists.txt) to make it work.  I've read that it should be solved in the current version but it seems something havent been configured propertly...

I'm co

[2018-01-26 07:39] syashakash commented on #4117
I am taking this up.

[2018-01-26 09:38] guruhegde commented on #4117
@syashakash Hi, I started addressing this issue in #4123. sorry for the confusion:)

[2018-01-26 12:09] syashakash opened #4124 "Error during installation. unrecognised ctags option."
During installation, `make` throws error :

`
[ 85%] Generating tags
/usr/bin/ctags: unrecognized option '--c++-kinds=cgp'
	Try `/usr/bin/ctags --help' for a complete list of options.
src/shogun/CMakeFiles/ctags.dir/build.make:60: recipe for target 'src/shogun/tags' failed
make[2]: *** [src/shogun/tags] Error 1
CMakeFiles/Makefile2:206: recipe for target 'src/shogun/CMakeFiles/ctags.dir/all' faile

[2018-01-26 15:24] #4122 closed

[2018-01-27 11:19] karlnapf commented on #4122
Problem solved?

[2018-01-27 11:19] karlnapf commented on #4124
What is your `ctags` version? Is it exuberant-ctags?

You can always disable the meta examples via `-DBUILD_META_EXAMPLES=Off` to side-step.

[2018-01-27 14:17] grg121 commented on #4122
no, sorry. I got troubles with my installlation with arch so I've decided to stop trying to solve the problem and trying again with ubuntu, I forget to comment

[2018-01-27 15:13] karlnapf commented on #4124
It is probably this version doesn’t support the argument that it moaned about.
This is something we should check in cmake, ie find out in which version the flag was introduced and then make sure that cmake checks for at least this version

Good entrance task that will involve using google to find out details

[2018-01-28 17:14] grg121 opened #4133 "Problem running tests 126 - unit-GPUMatrix (Failed)"
Hi there! I've just compiled shogun from source with only the python interface (and default c++) and I'm executing tests in order to see is everything is fine and I have one test that isn't working appropriately and I have no idea why...

I have found that some test failed because of missing python packages and I solved it just installing these packages but with this test (126, unit-GPUMatrix) the

[2018-01-28 18:36] grg121 commented on #4133
Hi! I've solved that...

I decided to find the test code, I used:

[code]

in the test folder and the output was:

[code]

So I went to that file (unit/lib/GPUMatrix_unittest.cc) and I see that the multiplication is done with 	CGPUMatrix<float64_t> so I googled "cgpumatrix" and I see that that was a R class... Then I realiced that I didn't have R-base package installed in this machine so I install

[2018-01-28 18:36] #4133 closed

[2018-01-28 18:38] grg121 commented on #4133
ps: I don't have R interface actived so I'm not sure why that have solved this problem but I would swear that I haven't installed anything else and I have not change the code so... if someone know what happened I would be pleased to know it :/

[2018-01-29 09:24] #3612 closed

[2018-01-29 12:47] #2553 closed

[2018-01-30 14:58] vigsterkr opened #4136 "Accelerate.framework is not being properly set"
on osx the accelerate framework should not only be a linker flag but as well be part of the header flags... `target_link_libraries` should solve this issue, but it actually does not.

[2018-01-30 15:56] vigsterkr commented on #4136
still an issue... the above fix is still not good enough, see:
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/17517/version=sierra/console

[2018-01-30 18:33] #4136 closed

[2018-02-02 09:37] laurazh opened #4141 "KNN error message cleanup"
I try to train a distance with LMNN and use it in KNN. However I get an error when I try to see the predicted labels.

 `from shogun import KNN, EuclideanDistance, LMNN, RealFeatures, MulticlassLabels`
 `knn.set_k(4)`
 `knn = KNN(k, EuclideanDistance(features, features), labels)`
 `knn.set_distance(lmnn.get_distance())`
 `labels_predict = knn.apply_multiclass(features)`

I don't understand the err

[2018-02-02 14:12] karlnapf commented on #4141
The error is not good. I'll make it an entrance task to put a better message in there.

[2018-02-02 14:13] karlnapf commented on #4141
@laurazh there is something wrong with you labels. Can you post the output of
`labels.get_values()`

[2018-02-02 14:56] karlnapf commented on #4133
@grg121 Have a look at the file `GPUMatrix.h`. You will find its definition in Shogun. This has nothing to do with the R matrix ;)

[code]

[2018-02-02 15:02] karlnapf commented on #4120
Is this still a problem with your other fix in?

[2018-02-02 15:16] laurazh commented on #4141
@karlnapf Indeed, the labels are wrong
`array([], dtype=float64)`

To get the labels, I have :
`labels= MulticlassLabels(X.astype(numpy.float64))`

where X is a numpy.ndarray, so  X.astype(numpy.float64) is like `array([0., 0., 0., ..., 3., 3., 3.])`

I don't understand, what the MulticlassLabels function need as input ?

[2018-02-02 16:52] grg121 commented on #4133
Oh... I didn't check that.. You're right. Actually.. yesterday I was doing some test and I got this failure again... but I execute the test again and then it work, I didn't changed anything. So... I'm lost ahaha, I can't imagine why that happens.

[2018-02-02 17:04] grg121 commented on #3555
I have write a [post in my blog](https://grg121.github.io/2018/01/First-path-to-shogun.html) commenting things I've seen while creating the example I've just submitted. If someone trying to add samples can find it useful I would be delighted :)

[2018-02-02 17:06] karlnapf commented on #4141
Sorry, I meant, `get_labels()`. i.e.
`sg.MulticlassLabels(np.arange(4).astype(np.float64)).get_labels()`

[2018-02-02 17:08] karlnapf commented on #4141
I just realised that you simply forget to train the knn instance. Add `knn.train()`

[2018-02-02 17:09] karlnapf commented on #4141
The task here (for GSoC applicants) is to add a meaningful error message.

[2018-02-02 17:15] karlnapf commented on #3555
Great! :)

Keep in mind also that `make meta_examples` parses and translates all meta examples found by cmake (if you added a new one you have to rerun cmake), and that `build_cpp_meta_examples` builds the cpp versions of them, and finally, `ctest -R generated_cpp-binary-linear_support_vector_machine` runs your example. If you want more details on how it is executed, append a `-V`

[2018-02-03 09:41] prashanthduvvada commented on #4107
@karlnapf
Isn't cookbook for cross validation already available?
shogun/doc/cookbook/source/examples/evaluation
Do I have to make changes or create a new one?

[2018-02-03 12:26] karlnapf commented on #4107
You could write one for a linear svm or a random forest?

[2018-02-03 22:19] grg121 opened #4147 "Doubts loading data to shogun."
Hi there! Here a student trying to start using Shogun in real-world problems...

I've started using shogun toolbox with the [kaggle's titanic problem](https://www.kaggle.com/c/titanic/data) and, trying not to get stucked, I'm also followin the [shogun introduction notebook](http://www.shogun-toolbox.org/notebook/latest/Introduction.html)... but I have some doubts about loading data in shogun-way.

[2018-02-03 23:32] karlnapf commented on #4147
This is not a github issue, but a topic for the mailing list. Pls post it there

[2018-02-03 23:32] #4147 closed

[2018-02-03 23:32] karlnapf commented on #4147
Or StackOverflow

[2018-02-04 10:35] grg121 commented on #4147
Sorry, didn't know there are a mailing list :/ I should have found it... I'll post it there, thanks :)

[2018-02-04 20:08] kumarnitj commented on #4141
Hey what is meant by adding meaningful error message here, please do elaborate it. I want to do it

[2018-02-05 11:07] laurazh commented on #4141
@karlnapf , you were right, I forgot to train the KNN.
It works now, thks!

[2018-02-06 19:20] kumarnitj opened #4156 "Ubuntu 17.04 while adding ppa got 404"
While "sudo apt-get update", I encountered 404 error. Can someone help me installing shogun?
. . .
Ign:22 http://ppa.launchpad.net/shogun-toolbox/nightly/ubuntu zesty/main i386 Packages
Ign:23 http://ppa.launchpad.net/shogun-toolbox/nightly/ubuntu zesty/main all Packages
Ign:24 http://ppa.launchpad.net/shogun-toolbox/nightly/ubuntu zesty/main amd64 Packages
Ign:25 http://ppa.launchpad.net/shogun-t

[2018-02-06 19:23] Rajiv2605 commented on #3204
Hey @karlnapf ! This is the first time I'm contributing to Shogun and this is my first issue! Could you help me out in this?

[2018-02-06 19:39] karlnapf commented on #3204
This task is a good entrance task, but not the easiest, it requires some c++ experience

[2018-02-06 19:54] Rajiv2605 commented on #3204
@karlnapf I have contributed to mlpack in the past, so I think I can give a shot to this  😄 . So, how exactly should I go about it? It would be great if you could help me out :)

[2018-02-06 21:57] karlnapf commented on #3204
There is a number of points mentioned above. Also make sure to read the "getting started" guide on the wiki

[2018-02-07 09:48] bmurauer opened #4157 "SIGSEGV on MulticlassLibSVM with SubsequenceStringKernel"
Hi, i was playing around with the python API of shogun, my goal is to use SubsequenceStringKernel for multiclass text document classification. Therefore, i wrote this code:

[code]

Which causes as SIGSEGV.

[2018-02-07 09:51] vigsterkr commented on #4157
@bmurauer thnx for reporting! which version are you using?

[2018-02-07 09:53] bmurauer commented on #4157
Sorry, forgot to mention. Latest from GIT, the NEWS file says 6.2.0

[2018-02-07 11:29] Rajiv2605 commented on #3204
I am getting this error while building Shogun:
`Could NOT find ViennaCL (missing: VIENNACL_INCLUDE_DIR VIENNACL_ENCODED_VERSION) (Required is at least version "1.5.0")`

I have built `ViennaCL-1.7.1` and also copied it to `/usr/include` and in `/usr/local/include/`

[2018-02-07 23:55] vigsterkr commented on #4157
@bmurauer just checkd with python 2.7 + shogun and i'm getting a nicer
[code]

lemme check why do you have a sigsegv with py36 :(
still of course this doesn't solve your problem :(

[2018-02-09 11:39] durovo opened #4164 "Create method to learn softmax parameters"
The OneVsAll softmax probability calibration method in shogun currently uses parameters learnt on a sigmoid. A method is needed that can be used to learn parameters for a softmax function instead.

The current `fit_sigmoid` call https://github.com/shogun-toolbox/shogun/blob/d1763b83fbc029bae1487201ef56977efdfe43a0/src/shogun/machine/MulticlassMachine.cpp#L132
should be replaced by some method usin