[2016-04-14 10:33] cfjhallgren commented on #3058
Interesting seminar at gatsby yesterday.

I have finished a first implementation of the solve_krr_system method. It compiles and runs.

My code does the following:
- Add tau to the original kernel matrix (had to make m_tau protected instead of private in base class)
- Create random vector through SGVector::random(0,n-1)
- Sort vector
- Picks out these columns/(rows) from the original kernel matrix

[2016-04-14 11:27] karlnapf commented on #3058
Good news!

Yes, the solve_krr should be virtual! :)

Could you send a PR? I am not sure I 100% get what you are doing there. I think we can do this without an (expensive) Eigenvalue decomposition, but just via LLT solving the K_mm.
What dimension does alpha have in your code? The Nystrom basically restricts optimization over the regressor so the space of functions \sum_i a_i k(x_i, .) where i=1..

[2016-04-14 19:18] cfjhallgren commented on #3058
Thanks for your comments.

Will do some minor cleanup then send a PR :)

My alpha vector currently has dimenstion n.

[2016-04-15 05:16] OXPHOS commented on #3164
Thank you and thanks for the comments : )  I got your point about piling up extra copies and I agree with you.
Sorry that I read the post a while ago and kinda forgot about it. If I understand it correctly, the API elaborates like:

[code]
But this easy implement leads to repeated creating-destroy of class instance for the same matrix `m`.

Alternatives are:
1) Save the most recent (last) instance

[2016-04-15 16:53] karlnapf commented on #2987
This is now solved

[2016-04-15 16:53] #2987 closed

[2016-04-15 20:41] yorkerlin commented on #3155
@karlnapf
done!
I will send PRs to address this issue.

[2016-04-15 20:41] yorkerlin commented on #3154
@karlnapf
done!
I will send PRs to address this issue.

[2016-04-15 20:50] yorkerlin commented on #3161
done!
I will send PRs to address this issue.

[2016-04-16 00:34] yorkerlin commented on #3154
https://github.com/shogun-toolbox/shogun/pull/3168

[2016-04-16 12:54] #3154 closed

[2016-04-16 13:03] yorkerlin commented on #3155
https://github.com/shogun-toolbox/shogun/pull/3169/files

[2016-04-16 15:02] #3155 closed

[2016-04-16 15:11] lambday commented on #3164
Hi @OXPHOS, glad to hear your thoughts on this. Sorry for replying late.

Yes you're right, this class `ElementwiseCalculation` is exactly what I had in mind. However, before discussing that, I would like to just share my thoughts on a few things in general

- Our `linalg` API should only deal with Shogun matrix/vector types (`SG` and `CGPU`). It shouldn't take with `Eigen3` matrices. If someone i

[2016-04-17 04:15] yorkerlin commented on #2650
It is solved.

[2016-04-17 04:15] #2650 closed

[2016-04-17 04:19] yorkerlin commented on #2375
Done

[2016-04-17 04:19] #2375 closed

[2016-04-17 04:22] yorkerlin commented on #2247
Done

[2016-04-17 04:22] #2247 closed

[2016-04-17 04:22] yorkerlin commented on #2853
Done

[2016-04-17 04:22] #2853 closed

[2016-04-17 15:03] cfjhallgren commented on #3058
Hey I made a PR (don't know if I should connect it to this issue somehow).

To comment on your previous comment I am attempting to create an approximation to the entire original kernel matrix through an adjusted eigendecomposition of the reduced matrix, and then solve the system with all y's.

I haven't looked in detail yet at the other article by Rudi et al but was mostly using Seeger & Williams.

[2016-04-17 22:36] yorkerlin opened #3173 "implementing stochastic inference for sparse GP using StreamingDenseFeatures"
reference:
Gaussian Process for Big Data
Scalable Variational Gaussian Process Classification

[2016-04-18 06:30] OXPHOS commented on #3164
Thanks for sharing the thoughts! I was enjoying the weekend and working on some other stuff. I will read and digest the words above ASAP.

[2016-04-18 08:46] lambday commented on #3164
Hi @OXPHOS, don't worry. It is just as important to blow off some steam, especially on the weekends :)

Good thing is, since this is the discussion phase, we don't have to jump to the implementation right away. It's better that we take time, think about pros and cons and finalize the exact tasks to be done in the coding phase :)

Also, I am discussing a few design decisions with others. Will let y

[2016-04-18 13:19] karlnapf commented on #3058
Thanks for the patch #3172
Looks good, don't get scared by the number of iteration we have to do -- that is totally normal :)

[2016-04-18 18:06] cfjhallgren commented on #3058
Thanks for the comments :) I'll look at it tonight.

[2016-04-18 21:48] yorkerlin opened #3174 "one issue about using Shogun's optimizers in target languages"
@karlnapf
In `CInference` class
[code]
In `Minimizer` class
[code]

Note that
* `CInference` is a sub-class of `SGObject`
* `LBFGSMinimizer` class is a sub-class of Minimizer
* `CSingleLaplaceInferenceMethod` is a sub-class of CInference
* `Minimizer` is `NOT` a sub-class of `CSGObject`

The following lines of C++ code work.

[code]

However, the following lines of Python code do not work
[code]
E

[2016-04-18 22:03] yorkerlin commented on #3174
In `src/interfaces/modular/Minimizer.i`
[code]

In `src/interfaces/modular/Minimizer_includes.i`
[code]

[2016-04-19 04:49] OXPHOS commented on #3164
@lambday I agree with you. Yes I saw your passionate discussions in the e-mail archive. Thanks for keeping me updated. So I'll slow down steps and do more research on C++ Primer.

[2016-04-19 08:09] karlnapf commented on #3174
You can only pass sub-classes of SGObject through swig

[2016-04-19 08:09] #3174 closed

[2016-04-19 10:23] yorkerlin commented on #3174
@karlnapf
Why can I pass the minimizer to a non-SGObject through swig?

the following lines of Python code works!
[code]

[code]

[2016-04-19 10:32] karlnapf commented on #3174
I think this has to do with the way the typemaps work. Can't you make the minimizer an SGObject? With the soon to arrive plugins, this should be fine

[2016-04-19 10:37] yorkerlin commented on #3174
Last time you suggested that minimizers should not be a sub-class of
SG-Object since the minimizers will "copy" the 100+ lines of
the serialization code.

On Tuesday, April 19, 2016, Heiko Strathmann <notifications@github.com>
wrote:

--
best,

wu lin

[2016-04-19 10:40] yorkerlin commented on #3174
Should I make a minimizer as a sub-class of SGObject now ?

[2016-04-19 11:38] karlnapf commented on #3174
Yes I said that since we have the problem that there are too many shogun
classes which mess with the build. However with the plugin project soon
hopefully being done, we might do it now. See what I mean?

On Tuesday, 19 April 2016, Wu Lin <notifications@github.com> wrote:

[2016-04-20 10:27] iglesias commented on #3174
Hi @yorkerlin. I am wondering whether the cause may be something different to passing a non-SGObject to an SGObject via swig. CSingleLaplaceInferenceMethod extends the abstract class CInference, while Dummy does not extend an abstract class.

What about changing your experiment so that Dummy extends an abstract class? The method register_minimizer would be the pure virtual in the parent class.

I

[2016-04-20 14:05] yorkerlin commented on #3174
@iglesias
The following lines of Python code work!
[code]

//C++
[code]

[2016-04-20 15:35] iglesias commented on #3174
Shame, I found it worth trying :-S

It may be interesting to find out why this happens though. Is it something we have configured on purpose for some reason? A bug? Etc.

[2016-04-20 15:38] yorkerlin commented on #3174
@iglesias
I am doing experiments. I will post them soon.

[2016-04-20 16:38] yorkerlin commented on #3174
@karlnapf  @iglesias
Some findings which may be not related to this issue
The script which generates `class_list.cpp`, will include a sub-class of SGObject in class_list.cpp  only if:
* 1. class name must begin with "C" (for example, CDummy4)
* 2. must have a `cpp` file where there is implementation of CDummy4  (header file is not enough)
* 3. have "rename" in the i file (for example, %rename(Dumm

[2016-04-20 16:45] yorkerlin commented on #3174
[code]
[code]
[code]

[2016-04-20 16:46] yorkerlin commented on #3174
[code]

[2016-04-20 16:48] yorkerlin commented on #3174
[code]

[2016-04-20 17:12] iglesias commented on #3174
Hey @yorkerlin, nice analysis. So, if I have interpreted correctly your results, the trigger is overriding `register_minimizer`. With the classes that do not override it we get the TypeError. Agree?

[2016-04-20 17:13] yorkerlin commented on #3174
@iglesias
yes

[2016-04-20 17:15] yorkerlin commented on #3174
However,  `CExactInferenceMethod` does override the method.
The error does appear.
[code]

[2016-04-20 17:15] iglesias commented on #3174
Yeah, I agree. I was just checking exactly that :-)

[2016-04-20 17:17] iglesias commented on #3174
My question now is, is `CExactInferenceMethod` overriding all the pure virtual methods of `CInference`?

[2016-04-20 17:20] iglesias commented on #3174
I think it does indeed. Otherwise, it should not be possible to instantiate it. So that makes sense at least.

[2016-04-20 17:21] yorkerlin commented on #3174
@iglesias
yes, `CExactInferenceMethod` is actual inference method. It must override all the pure virtual methods

[2016-04-20 17:26] iglesias commented on #3174
@yorkerlin, does taking a look at the file generated by swig help? How does the code for `register_minimizer` for the different classes look like?

[2016-04-20 17:33] yorkerlin commented on #3174
@iglesias
is it possible that some customized swig script do not include the `optimization` folder?

[2016-04-20 17:36] yorkerlin commented on #3174
@iglesias
I think I know the reason.

[2016-04-20 17:38] iglesias commented on #3174
Looking forward to hear, @yorkerlin ;-)

[2016-04-20 17:38] yorkerlin commented on #3174
If I move the `Dummy.h` from `src/shogun/optimization` to `src/shogun/machine/gp`, the error will happen for `Dummy4` and `Dummy3`.

[2016-04-20 17:39] iglesias commented on #3174
Something related to inclusion of headers?

[2016-04-20 17:42] yorkerlin commented on #3174
@iglesias
for example
//at src/shogun/machine/gp/Dummy2.h
[code]

at src/shogun/optimization/Dummy.h
[code]

These two classes are the same expect for their names.
However, the error will occur if Dummy8 is used.
Dummy7 is fine.

[2016-04-20 17:45] yorkerlin commented on #3174
@iglesias
do you know how to fix the issue?
I think this is a bug. We should fix it.

[2016-04-20 17:46] yorkerlin commented on #3174
@iglesias
my guess is:
Some customized swig script try to rename shogun's class.
However, the script ignore the `optimization` folder?

[2016-04-20 17:48] vigsterkr commented on #3174
i dont see anywhere swig definitions defined for `src/shogun/optimization` in `shogun/src/interfaces/modular`

[2016-04-20 17:58] yorkerlin commented on #3174
@vigsterkr
are there some swig definitions defined for `src/shogun/machine/gp/*`  in `shogun/src/interfaces/modular` ?

[2016-04-20 18:01] iglesias commented on #3174
I think so, @yorkerlin. Have a look at `interfaces/modular/GaussianProcess_includes.i` and `interface/modular/GaussianProcess.i`.

[2016-04-20 18:02] vigsterkr commented on #3174
according to `git grep machine/gp` in `shogun/src/interfaces/modular`, yes it's defined in `GaussianProcess.i` and `GaussianProcess_includes.i`...
anyways if you wanna have classes defined in `src/shogun/optimization` available via swig interfaces, please create a `shogun/src/interfaces/modular/Optimization.i` and `shogun/src/interfaces/modular/Optimization_includes.i` and follow the pattern that

[2016-04-20 18:06] iglesias commented on #3174
I think those in the recently included `Minimizer.i` and `Minimizer_includes.i`.

[2016-04-20 18:48] yorkerlin commented on #3174
Hi all, let me summarize my findings.
You can reproduce the bug locally.
at src/shogun/machine/gp/Dummy2.h
[code]
at src/interfaces/modular/GaussianProcess.i
[code]

at src/interfaces/modular/GaussianProcess_includes.i
[code]

[2016-04-20 18:51] yorkerlin commented on #3174
at src/shogun/optimization/Dummy.h
[code]

at src/interfaces/modular/Minimizer.i
[code]

at src/interfaces/modular/Minimizer_includes.i
[code]

[2016-04-20 18:54] yorkerlin commented on #3174
Note that I have to manually add the following lines at src/shogun/base/class_list.cpp
[code]
Python code
[code]

[code]

[2016-04-20 19:06] yorkerlin commented on #3174
@vigsterkr
I added these i files ( src/interfaces/modular/Minimizer.i and src/interfaces/modular/Minimizer_includes.i)  in my laptop.

@iglesias
No. These i files are in my local branch. I do not send a PR for adding these i files due to this issue/bug.

[2016-04-20 19:08] iglesias commented on #3174
It looks like they are in develop

https://github.com/shogun-toolbox/shogun/commit/e36cae74867969986776199178d821941748aa0f

[2016-04-20 19:10] yorkerlin commented on #3174
@iglesias
Oh. I forgot that.

[2016-04-20 19:13] yorkerlin commented on #3174
@vigsterkr
You can checkout the i files that are used locally.

https://gist.github.com/yorkerlin/bb2a9dc1dc8684dae4cb2913a702f657

[2016-04-20 19:53] yorkerlin commented on #3174
@karlnapf
Due to this issue, I cannot update the GPC notebook.
Hopefully, you can help me fix this issue.

[2016-04-20 23:05] yorkerlin commented on #3174
@karlnapf
should we reopen this issue?

[2016-04-22 16:31] yorkerlin commented on #3174
@karlnapf
@iglesias
I know how to fix this issue now.

[2016-04-22 18:03] yorkerlin commented on #3174
see
https://github.com/shogun-toolbox/shogun/pull/3175

I will soon send a PR about the GPC notebook

[2016-04-23 02:44] yorkerlin commented on #3161
see
https://github.com/shogun-toolbox/shogun/pull/3177

[2016-04-23 02:44] yorkerlin commented on #3161
done!

[2016-04-23 02:44] #3161 closed

[2016-04-23 05:16] yorkerlin commented on #2982
step one:
https://github.com/shogun-toolbox/shogun/pull/2818

[2016-04-23 05:17] yorkerlin commented on #2982
reference:
http://www.gaussianprocess.org/gpml/code/matlab/inf/infGrid.m
http://www.gaussianprocess.org/gpml/code/matlab/inf/infGrid_Laplace.m

[2016-04-23 16:21] kludikovsky opened #3178 "Documentation not accessible"
The documentation on the Homepage leads to 404-Error

e.g. http://www.shogun-toolbox.org/doc/en/current/installation.html

[2016-04-28 09:28] karlnapf commented on #3178
@vigsterkr any clues? I thought we had fixed this

[2016-04-28 12:50] vigsterkr commented on #3178
@karlnapf ok so the problem is that at the time of `4.1.0` release there was a bug in doxygen config, hence it is 404. as you can see in case of latest it's fixed:
http://www.shogun-toolbox.org/doc/en/latest/installation.html

[2016-04-28 13:02] vigsterkr commented on #3178
@karlnapf should we maybe port back that fix into current master?

[2016-04-28 16:21] karlnapf commented on #3178
Ah yes, thanks for explaining. I think it might be a good idea to at least fix the docs online.
On the other hand, we can also just release ASAP and the 4.1 gets outdated anyways?
What do you think is better?

[2016-04-28 17:15] vigsterkr commented on #3178
i'd say let's concentrate on the new release... :)

[2016-04-29 10:43] vigsterkr commented on #2538
ok this is actually fixed a longer time ago :)

[2016-04-29 10:43] #2538 closed

[2016-04-29 10:47] vigsterkr commented on #3088
@karlnapf is this fixed or what else needs to be done?

[2016-04-29 10:52] vigsterkr commented on #2690
fixed

[2016-04-29 10:52] #2690 closed

[2016-04-29 10:54] vigsterkr commented on #2516
fixed

[2016-04-29 10:54] #2516 closed

[2016-04-29 11:09] karlnapf commented on #3088
Just checked, that is done

[2016-04-29 11:09] #3088 closed

[2016-04-29 11:20] karlnapf commented on #3178
Ok so this will be fixed once we release

[2016-04-29 11:20] karlnapf commented on #3141
@arianepaola are you interested in fixing this for the release?

[2016-04-29 11:21] karlnapf commented on #3140
@arianepaola same here, want to go and fix this for the release

[2016-04-29 11:21] karlnapf commented on #3134
@lisitsyn can you comment?

[2016-04-29 11:23] karlnapf commented on #3132
@arianepaola another one for you, you could in fact build things on the gist above
@Eejya I don't really get the error you are having there. Does this also occur when you compile Shogun normally?

[2016-04-29 11:23] karlnapf commented on #3131
@arianepaola and another one for you :)

[2016-04-29 11:24] karlnapf commented on #2460
Is this still active?

[2016-04-29 11:25] karlnapf commented on #1991
Hehe, so this is still around......
@OXPHOS @vigsterkr this is yours I think

[2016-04-29 11:26] gsomix commented on #1991
.__.

[2016-04-29 14:38] yorkerlin commented on #3173
@karlnapf
The idea is to adapt `vowpal wabbit` as a distributed stochastic minimizer.
The minimizer will be used in sparse GP.
My goal is to extract useful lines of code from the recent `vw` and import them to Shogun's optimization.

The `vw` code in shogun is from vw `5.1`. It is old.
Note that this issue is not about updating the `vw` modular in shogun.

Road map (`start from something you are f

[2016-04-29 18:58] OXPHOS commented on #1991
Is this supposed to be fixed before 23rd (the release)?

[2016-04-29 20:35] karlnapf commented on #1991
Yes, @vigsterkr put it on the [milestone](https://github.com/shogun-toolbox/shogun/milestones/Shogun%204.2.0%20-%20Takechi%20Hanpeita)
He can comment on his own fixes there. But if we had this in, it would be great. You should catch him in IRC to push :)

[2016-04-30 14:42] arianepaola commented on #3141
@karlnapf yes

[2016-04-30 14:43] arianepaola commented on #3140
@karlnapf yes

[2016-04-30 14:46] arianepaola commented on #3132
@karlnapf ok, I will have a look.

[2016-04-30 14:47] arianepaola commented on #3131
@karlnapf sure :-)

[2016-05-03 05:33] OXPHOS commented on #1991
Update:
When reading in a 12.3M int16 matrix (2e6 * 1) the line count is correct (returns 2000000).
However, reading in a 12.2M int32 matrix (1.664e6 * 1) the line count returns 1664001.

I suspect it's the issue with class `CCircularBuffer`, because in `if` clause of `CLineReader::has_next()`, `!m_buffer->has_next()` return 0 when line count reaches 1664000. It should return 1 to end the reading.

[2016-05-03 05:47] vigsterkr commented on #1991
@oxphos dont waste your time on this i'll push tonight some major changes in a branch

[2016-05-03 15:47] OXPHOS commented on #1991
@vigsterkr Got it!

[2016-05-04 19:58] yorkerlin opened #3182 "parallelizing random forest in shogun"
@karlnapf
see
http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html

The internal implementation of sklearn's random forest uses `joblib`, which is for embarrassingly parallelism.

[2016-05-04 20:03] yorkerlin commented on #3182
@karlnapf
We may need a framework for `embarrassingly parallelism`.
The framework can be used for `grid search`, random forest, and other ML models.
We can parallelize Shogun's ML models if we can the same model in sklearn which is the `n_job` parameter.

[2016-05-04 20:09] yorkerlin commented on #3182
see
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/BaggingMachine.cpp#L133

[2016-05-04 20:10] yorkerlin commented on #3182
@Saurabh7

[2016-05-05 02:46] Saurabh7 commented on #3182
@yorkerlin  Looks really interesting. I will look in detail soon.
So you think we should make it a part of some framework so we can use it at multiple places in similar manner?

[2016-05-12 16:45] yorkerlin commented on #3182
@Saurabh7 @karlnapf
I think random forest is one of useful ML tools used in industry.
Sklearn uses `joblib` to parallelize random forest.
It will be nice to have parallelized `GridSearchCV` in shogun. ( http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html)

[2016-05-12 16:57] yorkerlin commented on #3182
Sparse linear models (with L1 plenty) is too :)
I will work on sparse linear models with L1 plenty since it is mainly about optimization.
When `n >> p`, we should use sgd in primal form. (eg, vowpal wabbit)
When `p >> n`, (stochastic) coordinate descend in dual form may be used.
where
`p` is the # of features
`n` is the # of training points

[2016-05-13 06:32] karlnapf commented on #1991
gogogogo! :)

[2016-05-13 07:05] karlnapf commented on #3182
This is *definitely* something we should look into. And we can do much better on single machines that with joblib.

We need some thread safety here. @Saurabh7 model selection should be part of your project. Can you come up with some plans there?

[2016-05-13 07:06] karlnapf commented on #3173
Yes, this update would be very useful. I don't know who did the VW port back then.
But you can definitely talk to John Langford, who is interestewd in these bindings to work. cc me in if you do

[2016-05-13 07:06] karlnapf commented on #3173
And yes, we should use it as an optimizer

[2016-05-14 05:24] yorkerlin commented on #3182
It will be cool to have `RandomizedSearchCV` in Shogun.

http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.RandomizedSearchCV.html#sklearn.grid_search.RandomizedSearchCV

[2016-05-14 10:35] karlnapf commented on #3182
Yep definitely.
This is pretty straight forward to implement in the same way as the grid search works

[2016-05-15 13:00] NightFantomJ2 opened #3188 "homepage 404 links"
A lot of links on http://www.shogun-toolbox.org/ are giving 404 errors, e.g. http://www.shogun-toolbox.org/page/documentation/information -> click english installation gives a 404 here http://www.shogun-toolbox.org/doc/en/current/installation.html

[2016-05-15 14:26] ialong commented on #3043
@karlnapf
Hey Heiko!
Just having a go at this (finally), and was wondering what is the most appropriate way to do the subtraction (especially to have parallelisations occur). Should I use CDotFeatures? Couldn't find a built-in feature subtraction method anywhere, but not sure if doing it by hand (either with Eigen or with a for loop) is the way to go.

What are the ways you see this as parallelisa

[2016-05-17 11:37] vigsterkr commented on #2844
@hrw hi! any ideas how i could quickly debug it? shall i use qemu or do you have maybe better suggestion?

[2016-05-17 11:43] vigsterkr opened #3190 "fix meta integration tests on Fedora"
see:
http://buildbot.shogun-toolbox.org/builders/FC22%20-%20libshogun
http://buildbot.shogun-toolbox.org/builders/FC23%20-%20libshogun

[2016-05-17 11:49] vigsterkr commented on #2460
@karlnapf i've just did a `git grep eigen3.h` and the only headers that include eigen are headers of `src/shogun/mathematics/linalg` which are not part of the public interface.... am i right @lambday ?

[2016-05-17 11:59] hrw commented on #2844
qemu is one way. Getting access to AArch64 or Power machine is other - but I do not know any publically accessible ways now.

[2016-05-17 12:00] hrw commented on #2844
https://www.linaro.cloud/ is one way. But I do not know how long you would wait.

[2016-05-17 12:01] vigsterkr commented on #2844
@hrw i had once access to linaro, but it took a long time to get access :) so qemu it is :P

[2016-05-17 12:53] lambday commented on #2460
@vigsterkr yes you're right! linalg headers shouldn't pose a problem. I guess we can close this issue.

[2016-05-17 12:53] vigsterkr commented on #2460
@lambday thnx closing...

[2016-05-17 12:53] #2460 closed

[2016-05-17 14:43] #3190 closed

[2016-05-17 15:20] lambday opened #3191 "Add some more C++11 keywords check in cmake"
- `using foo = bar` where bar is a type
- `override` keyword

[2016-05-17 19:34] #2476 closed

[2016-05-17 20:15] #3178 closed

[2016-05-18 02:59] #3134 closed

[2016-05-18 03:00] #2619 closed

[2016-05-18 03:02] vigsterkr commented on #3188
duplicate of #3178

[2016-05-18 03:02] #3188 closed

[2016-05-18 05:18] vigsterkr opened #3192 "EigenMatrixXtMap is a private type"
`SGMatrix.EigenMatrixXtMap()` (see https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/SGMatrix.h#L99) is public but the `typedef` of `EigenMatrixXtMap` is private... this way the operator will not work...

@lambday should we make the typedef public (i second this one) or the operator private?

[2016-05-18 07:57] vigsterkr opened #3193 "Support for conditional meta example generation"
`linear_ridge_regression` meta example depends on `CLinearRidgeRegression` which requires `HAVE_LAPACK`. We need a way to not to generate the `cpp` example if a given library (that is required for the meta example) is not available.

@karlnapf

[2016-05-18 08:10] vigsterkr commented on #3140
this is actually a regression in Eigen 3.3+: http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1229

[2016-05-18 10:12] #3140 closed

[2016-05-18 10:12] #3141 closed

[2016-05-18 11:23] vigsterkr opened #3194 "FLDATest.CLASSIC_FLDA_Unit_test fails with eigen 3.3"
see: http://buildbot.shogun-toolbox.org/builders/xenial%20-%20libshogun/builds/4/steps/test/logs/stdio

the value is the opposite i.e. `-1.0*expected_output` of the expected output

[2016-05-18 12:01] ilovejs opened #3195 "Cmake error on Ubuntu 14"
I have thses installed:

sudo apt-get install cmake build-essential swig2.0 python-numpy libeigen3-dev libatlas3-base libblas-dev liblapack-dev ccache gcc g++ python2.7-dev

[code]

[2016-05-18 12:02] ilovejs commented on #3195
[code]

[2016-05-18 12:03] vigsterkr commented on #3195
@ilovejs which version are you trying to compile?

[2016-05-18 12:58] #3022 closed

[2016-05-18 13:36] karlnapf commented on #3193
This mechanic is already in place, though hacky.
See https://github.com/shogun-toolbox/shogun/blob/develop/cmake/FindMetaExamples.cmake

[2016-05-18 13:36] karlnapf commented on #3193
I can send a fix later ...

[2016-05-18 13:42] karlnapf commented on #3193
Should be fixed in de9735a662eba90388f052ddf34c5d6ca6867a8d

[2016-05-18 13:42] #3193 closed

[2016-05-18 13:46] karlnapf commented on #3043
1.) Design
We need
 * base class computes distance
 * offers way to precompute matrix of distances
 * stores it efficiently (distance is symmetric)
All this is a merge of `CCustomDistance, CCustomKernel, CDistanceKernel`

2.) All current kernel should be put in this framework
3.) There should be no performance penalties (benchmarking needed)

DotFeatures is for dot products. The substraction you n

[2016-05-18 23:24] ilovejs commented on #3195
the latest release on github v4.1.0

since ubuntu 14 don't have compiled package. I was trying to compile.

I think there are some problems with that sample:
`examples/undocumented/libshogun/balanced_conditional_probability_tree`

so, is there a way to have shogun core, shogun example binary in separate files ?

[2016-05-19 06:03] #3083 closed

[2016-05-19 09:24] vigsterkr commented on #3195
@ilovejs please clone the git repository and check out the develop branch as that one is confirmed to compile on ubuntu 14.04, see the output of the buildbot:
http://buildbot.shogun-toolbox.org/builders/trusty%20-%20libshogun

[2016-05-20 01:18] yorkerlin opened #3196 "refactor API for black-box users"
@karlnapf  @Saurabh7
Currently, the API design in GP modular is similar to GPML.
The API is flexible for researchers but not for black-box users.
For example, users have to choose inference methods/optimizers/likelihoods.

We may need an unified API for most of ML models (including GP) in shogun.
We can learn from sklearn. (eg, `fit` and `predict`)

[2016-05-20 04:00] yorkerlin commented on #3196
@lisitsyn

[2016-05-20 04:02] yorkerlin commented on #3173
I am working this from now on.
I will comment some existing codes in shogun's VW modular.

[2016-05-22 11:53] lambday commented on #3192
@vigsterkr yeah totally that makes much more sense! I guess at present this operator is not being used anywhere, that's why we haven't caught this yet!

BTW could you please have a look at the gist discussion that Pan started?(https://gist.github.com/OXPHOS/a9b79a995b75a0972811f634e80ff632)

[2016-05-22 11:56] vigsterkr commented on #3192
@lambday i did comment in the beginning :)

[2016-05-22 12:44] lambday commented on #3192
@vigsterkr yeah maybe share some thoughts about the latest discussion there?

[2016-05-22 14:49] yorkerlin commented on #3196
Ref: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.base

[2016-05-22 17:36] yorkerlin commented on #3196
@sanuj

[2016-05-22 19:15] yorkerlin commented on #3182
@Saurabh7
You can be interested in this.

Doc:
http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LSHForest.html#sklearn.neighbors.LSHForest

Code:
https://github.com/scikit-learn/scikit-learn/blob/5676ed2b42ea4d6e6c7e5fcb9fd72053d4cdb156/sklearn/neighbors/approximate.py

[2016-05-22 19:26] yorkerlin commented on #3182
LSH in sklearn is only for cos distance.
You can extend it to general distances.
Ref:
http://i.stanford.edu/~ullman/cs246slides/LSH-1.pdf
http://i.stanford.edu/~ullman/cs246slides/LSH-2.pdf
http://infolab.stanford.edu/~ullman/mmds/ch3.pdf

[2016-05-23 03:46] #3164 closed

[2016-05-23 08:15] karlnapf commented on #3196
Absolutely!
We dont really have  GSoC project related to this. Maybe @Saurabh7 finds time, it is closest to his.
Otherwise, you can also add these convenience wrapper classes easily

[2016-05-23 08:16] karlnapf commented on #3182
We have some low level things that have to be sorted out first. @Saurabh7 is working on it, and RF are definitely in the scope of his project

[2016-05-23 20:16] arianepaola opened #3200 "Docker missing package error."
Running Docker (configs/Dockerfile) crashes due to a missing software-properties-common package error.

[2016-05-25 13:14] #3192 closed

[2016-05-25 13:41] #3115 closed

[2016-05-25 14:21] karlnapf opened #3204 "clean up splitting strategies"
* the base class should not take CLabels, but just "number of data", "number of folds"
 * sub-classes can take "number of classes", i.e. stratified splitting. This avoids checking label type etc
 * Maybe a different data structure should be used for the index vectors
 * If the index vectors are precomputed anyways, why not just return them?
 * the "inverse" vector methods should be called train/te

[2016-05-26 15:16] vigsterkr commented on #2844
@hrw ok so finally i've managed to put together a qemu env for this ! \o/ so yeah i can confirm this.... it puzzles me a bit why those specific errors, but looking into it :)

[2016-05-26 15:18] vigsterkr commented on #2844
@hrw btw what are the cmake/compiler flags you are using to compile shogun for aarch64 as i've just seen that `Release` had `-mfpmath=sse` which is a no-go for anything none x86 :P

[2016-05-27 16:05] arianepaola opened #3211 "Invalid use of incomplete type ‘struct shogun::TParameter’"
Latest develop, building on Ubuntu 16.04

 Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/class_list.cpp.o
FAILED: /usr/bin/ccache /usr/bin/c++   -I../src -I../src/shogun -Isrc -Isrc/shogun -isystem /usr/include/eigen3 -I/usr/include/atlas -I/usr/include/libxml2 -I/usr/include/hdf5/serial -std=c++11 -Wall -Wno-unused-parameter -Wformat -Wformat-security -Wparentheses -Wshadow -Wno-un

[2016-05-27 16:07] vigsterkr commented on #3211
this is interesting.... as the buildbot is working. compiler version?

[2016-05-27 16:09] arianepaola commented on #3211
Ubuntu 16.04
g++ --version
g++ (Ubuntu 5.3.1-14ubuntu2) 5.3.1 20160413

[2016-05-27 16:10] vigsterkr commented on #3211
do you see any differences:
http://buildbot.shogun-toolbox.org/builders/xenial%20-%20libshogun/builds/15/steps/configure/logs/stdio

[2016-05-27 16:15] arianepaola commented on #3211
Python modular is turned on.

cmake -GNinja -DENABLE_TESTING=ON -DPythonModular=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="./install" ..
ninja GoogleMock && ninja all && ninja install && ninja test

[2016-05-27 17:01] arianepaola opened #3213 "Lapack linking error"
Linking error (git develop) using:
cmake -GNinja -DENABLE_TESTING=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="./install" ..

ninja GoogleMock && ninja all && ninja install && ninja test

[688/1170] Linking CXX executable tests/meta/meta_example_integration_tester
FAILED: : && /usr/bin/ccache /usr/bin/c++  -std=c++11 -Wall -Wno-unused-parameter -Wformat -Wformat-security -Wparentheses -Ws

[2016-05-27 19:20] vigsterkr commented on #3213
this is waaaay tooo weird :) lemme reproduce this in a docker with ninja :)

[2016-05-27 20:53] arianepaola commented on #3213
I have also tried to use -DUSE_ORIGINAL_LAPACK=ON
This gives an error that -llapack_atlas is required.

Adding manually -llapack as work around seemed to work.

The installed libraries and tools on Ubuntu 16.04 are:
sudo apt-get install git gcc g++ cmake ccache ninja-build doxygen swig python-dev python-numpy python-jinja2 libblas-dev libatlas-base-dev libglpk-dev libeigen3-dev libcolpack-dev libv

[2016-05-27 22:09] hrw commented on #2844
http://arm.koji.fedoraproject.org/koji/buildinfo?buildID=362126 has build logs.

[2016-05-27 22:17] arianepaola opened #3214 "UAIFile unittest comparison between signed and unsigned integer expressions"
Building CXX object tests/unit/CMakeFiles/shogun-unit-test.dir/io/UAIFile_unittest.cc.o
In file included from ../tests/unit/io/UAIFile_unittest.cc:4:0:
GoogleMock/src/GoogleMock/gtest/include/gtest/gtest.h: In instantiation of ‘testing::AssertionResult testing::internal::CmpHelperEQ(const char_, const char_, const T1&, const T2&) [with T1 = int; T2 = long unsigned int]’:
GoogleMock/src/GoogleMock/

[2016-05-28 00:30] Kavignon opened #3216 "Implement a solver for the KKT System"
Looking at the GSOC project description, I feel hyped. I have some knowledge of C++ and I feel like this project could be a nice way to deep-dive in C++. What would be the starting point(s) of the project? How would one even start something like this ? This feels like a strong contender for a final capstone project for my software engineering undergrad that I have to do in the fall this year. Plea

[2016-05-28 11:43] karlnapf opened #3218 "Clean up QDA"
* use `SGVector` everywhere rather than the old pointer, vlen approach
 * use eigen3/linalg
 * document
 * remove the `#ifdef` for debugging

[2016-05-28 12:11] karlnapf commented on #3216
We would *love* to see this done. An efficient KKT solver would be such a blast to have in Shogun.

Currently, however, we are quite busy with the (just started) GSoC...So supervision is currently limited.

This doesnt hold you back from getting into it yourself. You can also send PRs and get comments from us, just expect delays ;)
I think @vigsterkr has some code (more or less working as I unders

[2016-05-28 13:11] Kavignon commented on #3216
I'd be more than happy to have at least something to get me started. If you
guys come again at the next gsoc program,  if I'm able to implement an
efficient solver,  I could maybe work on the lp/qp framework or the
gaussien processes with the solver by it side. If I understood correctly,
all those things are quite necessary for Shogun. Are there any
documentation you could refer me to? What should

[2016-05-29 16:06] karlnapf commented on #3216
Yep you are right :)
I am not sure about documentation, but you can browse the source a bit to see where such a solver could be used. Our class list is here:
http://www.shogun-toolbox.org/doc/en/latest/namespaceshogun.html

In terms of optimization theory, you just need to know the basics of the method.
In terms of c++ optimization, it would be good to know how to make things fast ;) Maybe have a

[2016-05-29 21:38] #3211 closed

[2016-05-29 21:41] #3200 closed

[2016-05-30 17:00] arianepaola opened #3231 "Cookbook generation error using Sphinx from PyPI"
The current cmake configuration does not find Sphinx installed from PyPI,
as sphinx-build resides in /usr/local/bin

[code]

[2016-06-01 16:08] deepakkandasamy opened #3238 "cmake not turning off USE_HDF5"
When I did't have HDF5 installed, in ccmake, the HDF5_DIR was set to NOTFOUND but the USE_HDF5 was set to ON. Once I install HDF5, the HDF5_DIR was still NOTFOUND. I used the code from Git.
My system info:
Ubuntu 15.04
memory 5.7 GiB
Processor Intel® Core™ i5-4200U CPU @ 1.60GHz × 4

[2016-06-01 22:49] karlnapf commented on #3238
Can you provide explicit cmake command and post gists of the the output?

[2016-06-02 13:12] deepakkandasamy commented on #3238
[https://gist.github.com/deepakkandasamy/54c2b00148c6115a652855ffffdfaec8](url)
Here is the output of the cmake I ran

[2016-06-05 01:36] AngryMouser opened #3245 "Python interface works only partly"
Hi, I have a problem while trying to use your toolbox:
I call from modshogun import * in python 2.7 and its OK.
However, things like PCA, Isomap, LMNN are not recognized ("cannot import name ...")
How to call cmake properly in such case?

[2016-06-06 15:14] karlnapf commented on #3245
This is most likely due to a missing eigen3.
The latest development version includes it by default, you could try that.
or run cmake with `-DBUNDLE_EIGEN` (or similar).

Always, when reporting errors, messages and your configuration are helpful to solve them

[2016-06-06 15:14] #3245 closed

[2016-06-06 15:19] AngryMouser commented on #3245
I have tried `-DBUNDLE_EIGEN` with no effect.

[2016-06-06 15:33] AngryMouser commented on #3245
I have tried` -DBULNDE_EIGEN` with no effect.
I have downloaded the development version and tried to run `cmake -DPythonModular=ON ..` and got errors (attached in file "out"). I also attach 2 other files that were mentioned.

[files.zip](https://github.com/shogun-toolbox/shogun/files/300731/files.zip)

[2016-06-06 15:37] karlnapf commented on #3245
Can you please put these on github gist rather than attached a zipfile?
Also, what *exact* command did you use to build shogun, and what is your system spec.
Thanks!

[2016-06-08 11:16] arianepaola opened #3253 "Cookbook generation failure missing responsible file indicator"
Currently cookbook generation does not provide any debug information. Therefore erroneous translation files are hard to track down.

[code]

[2016-06-08 11:20] arianepaola opened #3254 "Cookbook generation crashes using empty meta example files"
Currently, when an empty meta example file is referenced for a cookbook the generation process crashes.

``Generating LALR tables
Generating LALR tables
Generating LALR tables
Generating LALR tables
Translating clustering/hierarchical.sg
Translating clustering/gmm.sg
Translating gaussian_processes/gaussian_process_regression.sg
Translating distance/tanimoto_distance.sg
Traceback (most recent call

[2016-06-08 12:13] arianepaola opened #3261 "Error in LaTeX formula for TanimotoDistance"
When creating a cookbook entry for Tanimoto Distance, I have noticed an error in the LaTeX formula, which will cause it not to render properly for the documentation (e.g. doxygen).

[2016-06-08 14:19] arianepaola commented on #3213
@vigsterkr @karlnapf @lgoetz

Any update on this? I have tried a few workarounds, but the error still occurs.

[2016-06-08 14:23] arianepaola commented on #3231
@vigsterkr @karlnapf @lgoetz

Any update on this? Can my change be merged?
I talked with @karlnapf about the change on IRC and it does not impact finding Sphinx on the system.

Shogun requires a newer sphinx version for the templates, which is not found in the default location. For example on Ubuntu 14.04, shogun requires a Sphinx install from PyPI.

[2016-06-08 14:30] arianepaola commented on #3254
@vigsterkr @karlnapf @lgoetz

Please review and merge.

[2016-06-08 14:31] arianepaola commented on #3253
@vigsterkr @karlnapf @lgoetz

Please review and merge.

[2016-06-08 17:59] #3261 closed

[2016-06-08 18:14] karlnapf commented on #3231
Fine to merge from my side then

[2016-06-08 18:14] #3231 closed

[2016-06-08 18:16] #3254 closed

[2016-06-08 18:17] karlnapf commented on #3253
BTW you can better paste code snippets using three "`" then it is displayed nicer

[2016-06-08 18:20] arianepaola commented on #3253
@karlnapf Hmm, I am using "`". Don't know why the output looks strange.

[2016-06-08 18:24] karlnapf commented on #3253
Its meant for single line code. Try use "``` [newline] [code] [newline]```"

[2016-06-08 18:36] arianepaola commented on #3253
this worked: "```" [code] "```"

[2016-06-08 18:38] arianepaola commented on #3253
@karlnapf note on IRC:
what about you put a try around it
and in case of an exception, you print
and then print the usual stack trace
keeping the output cleaner

[2016-06-13 23:02] #3253 closed

[2016-06-14 16:39] karlnapf commented on #3238
The link is 404

[2016-06-16 03:59] vigsterkr opened #3292 "implement viennacl based linalg::mean"
it's missing as an implementation hence when using viennacl backend we'll fail:
http://buildbot.shogun-toolbox.org/builders/trusty%20-%20libshogun%20-%20viennacl/builds/724/steps/compile/logs/stdio

[2016-06-20 09:25] #2890 closed

[2016-06-21 15:59] lambday opened #3308 "put CDistance kernel as a subclass in the CShiftInvariantKernel"

[2016-06-21 15:59] lambday opened #3309 "add CLaplaceKernel as a subclass in the CShiftInvariantKernel"

[2016-06-28 02:11] yorkerlin opened #3316 "refactor the OPT framework using C++11 and openMP"
Project https://github.com/yorkerlin/TMAC is our starting point.
This project is written in C++11 using template.
What is more, coordinate descend methods are missing in the existing shogun's OPT framework.

[2016-06-28 15:29] karlnapf commented on #3316
Great!

[2016-06-29 16:27] karlnapf opened #3323 "Meta example integration for all targets"
This task is to enable the integration testing of meta examples for all target languages. Currently it only is enabled for cpp. That is, only the cpp meta examples contain will contain code that serialises results and compares them to a reference file. This involves
- enabling the `storeVars` flag in the `generator.py` file other more languages, one by one
- This enables the generated listing to c

[2016-06-29 16:59] karlnapf opened #3324 "PythonLibs not found"
Running cmake with `PythonModular=On` recently started giving me
[code]

I am on ubuntu trusty with cmake 3.2.2.

[2016-06-29 17:26] karlnapf commented on #3324
Doing
[code]

[2016-06-29 17:33] karlnapf commented on #3324
I think it is because ubuntu changed the path
`-DPYTHON_LIBRARY=/usr/lib/python2.7/config-x86_64-linux-gnu/libpython2.7.so`

[2016-06-29 17:36] karlnapf commented on #3324
This solved it:
`heiko@heiko-ThinkPad-T440s:/usr/lib/python2.7$ sudo ln -s config-x86_64-linux-gnu/ config`

I think we might want to update our find python lib cmake module to adjust the path

[2016-06-29 17:43] karlnapf commented on #3324
See also https://github.com/symengine/symengine/issues/291

[2016-06-30 17:57] macumber commented on #2544
Is it possible to build Shogun on Windows?

[2016-06-30 19:46] karlnapf commented on #2544
I think it is possible if you know what you are doing and are ready to spend a few nights hacking cmake. Otherwise, sadly, no. We want to change this but the priority compared to other features is dropping .... sorry

[2016-06-30 20:04] macumber commented on #2544
I have experience with SWIG and Cmake but I can't get a starting build of the non-Ruby components.  I tried initializing a build environment using Ruby's DevKit then generating Unix Makefiles but the build failed right away on Eigen.

[2016-06-30 20:52] karlnapf commented on #2544
The first big step would be to build libshogun without any plugins. THAT would already be giant step forward. Interested? We can definitely help!

[2016-06-30 21:28] macumber commented on #2544
Here is what I did to set up my environment:

[code]

Here is summary of configuration:

[code]

Here is the build error I get:

[code]

Seems like there is some code generation happening and the paths are messed up on windows:

`**[  1%] Generating E;c:\DevKit\shogun\src\shogun\base\class_list.cpp**`

What is the right channel for communication if I work on this further?  Make a fork of shogun an

[2016-06-30 22:17] karlnapf commented on #2544
* channel of communication: irc and github
 * way of sharing information, github gist
 * yeah fork shogun, and send pull requests against our develop branch, we can then discuss your suggestions there
 * @vigsterkr might have some comments on the particular errors you have there
 * messed up path  names should be easy to fix actually

[2016-06-30 22:43] macumber commented on #2544
Cool thanks, I tried building with MSVC and saw some totally different errors.  Code referencing a dead repo 'http://msinttypes.googlecode.com/svn/trunk' and other errors.  Do you have any idea how out of state MSVC builds are?  Is it best to try cross-compiling with gcc?

[2016-06-30 23:29] macumber commented on #2544
Taking a crack at it https://github.com/macumber/shogun/tree/build_windows

[2016-07-01 10:12] karlnapf commented on #2544
I think we had a cygwin build running previously http://buildbot.shogun-toolbox.org/waterfall
I did not do that, but @sonney2k maybe he has ideas.
Come say hello in irc

[2016-07-01 11:37] karlnapf opened #3328 "Tests / illustration for meta language"
This task to to add a few meta language examples that serve the purpose of
 * testing the possible language constructs (like the ones I put for vectors)
 * illustrating what the meta language can do

In that sense it is both test and language illustration.

 * rename `tests` folder to `example` or `syntax_examples`
 * put in files with tests for everything we do in the meta langauge
  * enums
  *

[2016-07-07 00:30] yorkerlin opened #3354 "integrating vowpal_wabbit's optimizers"
The existing vw modular in shogun is outdated and partially buggy :(.
As suggested by @karlnapf , we should do another round of integration.

In my opinion, there are two main components of vw to be integrated into shogun.
* distributed communication and IO
* stochastic optimizers

Due to time constraint, I am mainly working on these optimizers. I assume that data can be completely loaded into mem

[2016-07-07 00:33] yorkerlin commented on #3354
this is also related to issue
https://github.com/shogun-toolbox/shogun/issues/3316

[2016-07-08 13:35] karlnapf commented on #3354
Absolutely,
I think focussing on the optimizers first is fine!

[2016-07-10 17:14] yorkerlin commented on #3316
any comment about using openMP 4.0 since openMP 4.0 supports GPU?

[2016-07-10 17:17] yorkerlin commented on #3316
or c++ build-in thread lib since the lib is provided in c++11

[2016-07-11 06:34] karlnapf commented on #3316
we want to use linalg for gpu stuff.
c++11 should happen, but not before end of GSoC 2016 please.

[2016-07-13 15:40] yorkerlin commented on #3316
should we use openMP or C++11 for `task based concurrency` ?

[2016-07-13 15:44] yorkerlin commented on #3316
`pthread` and `openMP` are used in existing code base.
We may use the built-in thread lib in C++11 to replace `pthread` if we want to support for windows in the long run.

[2016-07-14 15:38] karlnapf commented on #3316
I guess that since we are now switching to c++11, we can make use of the in built parallel of the language.
omp doesnt work for windows?

[2016-07-14 15:42] yorkerlin commented on #3316
`openMP` should be fine for windows.
I am not sure whether `pthread` is  supported in windows without `cygwin`.

[2016-07-14 15:45] karlnapf commented on #3316
Not sure either. omp is the easiest thing to use. But we cannot stop threads with it.
C++11 might be better there, maybe send a patch using it?

[2016-07-14 15:53] yorkerlin commented on #3316
`openMP` should be fine if thread does not throw exception.
My plan is to replace `pthread` in GP with the thread lib in `C++11`

[2016-07-15 10:12] karlnapf commented on #3316
yeah do it! BTW I also talked to Michaelis Titsias and he said he would have a look at our code and check where it can be improved, will write an email

[2016-07-15 10:14] vigsterkr commented on #3316
but openmp actually uses `pthreads` so.....? :)

[2016-07-15 14:06] yorkerlin opened #3371 "smart pointers in shogun"
@karlnapf  @vigsterkr  @lisitsyn  @lambday
Hi all,
Do we plan to use  smart pointers in c++11?
Do you know how to deal with circular reference using shogun's smart pointers?
How to deal with circular reference when it comes to serialization?

[2016-07-15 17:19] karlnapf commented on #3371
Yes we do plan to use them eventually. We in fact aim for a pointer free interface ....
Internally, we can do whatever we like.

Serialisation is currently being worked on, come to irc to discuss.
I will close this issue for now, let's do sch discussions somewhere else, issues should be kept for more concrete stuff.

[2016-07-15 17:19] #3371 closed

[2016-07-17 09:57] sanuj commented on #3328
@karlnapf Can you please link to your vectors test, I can't seem to find it.  Which `tests` folder has to be renamed to `example` or `syntax_examples`? Were you talking about `shogun/examples/meta/generator/tests`?

[2016-07-17 11:12] karlnapf commented on #3328
It is here. I put some tests already but need to make things work with travis before merging them.
You can also send PRs here to increase passing tests

https://travis-ci.org/shogun-toolbox/shogun/builds/145334402
https://github.com/shogun-toolbox/shogun/compare/develop...738612febb82

[2016-07-18 14:38] karlnapf opened #3378 "cmake meta example organisation"
Currently, we run a script that translates all meta examples (single cmake command), outputting something as

[code]

Instead, it would be better to have every of those translated examples as a single cmake command (which is parallelised, handled by the progress bar, etc etc)

Easy cmake refactoring.

@sorig

[2016-07-18 14:57] karlnapf opened #3379 "Systematically test typemaps using meta examples"
Related to #3378

The goal is to build a shogun class that has methods whose parameters are every single possible datatype in Shogun. The methods should just implement the identity operation (i.e. copy inside and return)

Then, create meta example tests (just like in #3378), and pass those types to the method, collect the return, and call the equals method to make sure it is the same (i.e. typemap

[2016-07-20 15:24] yorkerlin opened #3386 "build failure when LICENSE_GPL_SHOGUN is OFF"
I use the following arguments in CMake
[code]

Error log is
[code]

[2016-07-20 15:24] yorkerlin commented on #3386
@karlnapf

[2016-07-22 23:51] yorkerlin commented on #3316
@karlnapf
some empirical results about  large scale kernel learning using coordinate descent
http://arxiv.org/abs/1602.05310

[2016-07-22 23:57] yorkerlin commented on #3316
@vigsterkr
Well, if a openMP compiler choose to use pthread, it should be fine. :)
My point is we should use openMP or/and the thread lib in c++11 at least in new projects.

[2016-07-23 08:35] karlnapf commented on #3386
This is a build bug, thanks for spotting. You need to guard the meta example in `cmake/FindMetaExamples.cmake', which is an easy fix. Wanna do it?

[2016-07-26 03:33] yorkerlin commented on #3386
done

[2016-07-26 05:14] #3386 closed

[2016-08-01 22:39] yorkerlin opened #3407 "refactor EP inference in GP"
@karlnapf
The existing EP inference is not scalable.
This issue is about refactoring existing EP inference in Shogun and extend it to [FITC EP](http://www.gaussianprocess.org/gpml/code/matlab/inf/infFITC_EP.m) inference.

[2016-08-01 22:40] yorkerlin commented on #3407
I will do it soon. Hopefully, the method will be added in this week.

[2016-08-01 23:16] yorkerlin commented on #3407
It is also important to check whether there is a bug in the existing EP inference when it comes to non-zero mean function. The existing unit tests only cover cases of zero mean.

[2016-08-02 15:28] karlnapf commented on #3407
Great, is there a benchmark? Not scalable in what sense?

[2016-08-02 15:29] karlnapf commented on #3407
Will be away for some time but answer when back in Sept

[2016-08-02 15:33] yorkerlin commented on #3407
The existing EP implementation is for `full` GP.
EP under FITC approximation is for sparse GP.

[2016-08-02 15:41] karlnapf commented on #3407
Ah I see...so we dont have these fancy stochastic EP updates for large scale sparse classification

[2016-08-02 16:09] yorkerlin commented on #3407
No, it is about `batch` EP inference under FITC approximation.

[2016-08-02 16:16] yorkerlin commented on #3407
For stochastic inference, determining convergence is the main issue.
Users have to select right step sizes or learning rate.

For black box usage, (hold-out) evaluation data set is used to determine convergence. It is also true in deep neural network. For black box usage, It is hard to determine convergence without using evaluation data set.

[2016-08-12 11:22] sudk1896 opened #3424 "Linking CXX executable modelselection_combined_kernel_sub_parameters Error."
I have been trying to compile Shogun on Linux Mint 18 (based on Xenial). This is the error I get,

[code]

I am following the process given here - [https://github.com/shogun-toolbox/shogun/wiki/INSTALL#specific-build-instructions-for-modular-interfaces](url) for installing a python interface.
My gcc version is `gcc (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609`
My cmake version is `cmake version

[2016-08-12 14:11] gdkrmr opened #3425 "compilation of octave interface fails"
The compilation of the octave interface fails, here is the cmake config:

[code]

And here is the error:

[code]

[2016-08-15 08:11] Saurabh7 opened #3428 "Add elkan kmeans"
http://users.cecs.anu.edu.au/~daa/courses/GSAC6017/kmeansicml03.pdf

[2016-08-17 07:38] shogun-tester-AT opened #3430 "StringFileFeatures.cpp: unreachable code"
When compiling shogun-4.1.0  (and earlier version(s)) using the usual `cmake` and `make` commands,
the following warning occurs:

_shogun-4.1.0/src/shogun/features/StringFileFeatures.cpp: In instantiation of_
`ST* shogun::CStringFileFeatures<ST>::get_line(uint64_t&, uint64_t&, int32_t&, uint64_t) [with ST = bool; uint64_t = long unsigned int; int32_t = int]:`
_shogun-4.1.0/src/shogun/features/Stri

[2016-08-17 07:50] shogun-tester-AT opened #3431 "SVM classifier: can user control cross-validation strategy ?"
Taking the  _**GMNPSVM classifier** example_ with Gaussian kernel  (tested with R and from shogun command line)  as an example:  there seems to be no obvious _user option_ or _parameter_ to select
the **cross-validation method**.

Can you give any advice on the subject ?

[2016-08-17 07:50] vigsterkr commented on #3430
@shogun-tester-AT any chance you've tested whether this bug occurs in `develop` branch of the git repo?

[2016-08-17 07:55] shogun-tester-AT commented on #3430
No, I just downloaded the latest release 4.1.0 (and previous) and compiled it on my computer.

[2016-08-19 08:24] entalent opened #3432 "make with DJavaModular=ON fails"
when 'Generating preprocessor_kernelpca_modular.class' there is an error:
shogun-develop/examples/undocumented/java_modular/preprocessor_kernelpca_modular.java:19: error: cannot find symbol
		KernelPCA preprocessor = new KernelPCA(kernel);
		^
  symbol:   class KernelPCA
  location: class preprocessor_kernelpca_modular
/home/entalent/shogun-develop/examples/undocumented/java_modular/preprocessor_k

[2016-08-19 08:28] vigsterkr commented on #3432
@entalent could you share the following details:
 * which version of shogun you are using
 * which version is the JDK you are having on your system

[2016-08-19 11:35] b-schubert commented on #2539
Has this bug been fixed?

[2016-08-20 14:16] souravsingh commented on #2751
@karlnapf Is the prototype manual ready?

[2016-08-23 07:38] entalent commented on #3432
- The version info printed by Version::print_version function is v4.2.0_2016-8-15_21:39262656
- I'm using Oracle JDK 8u101 on Ubuntu 14.04, the output of "java -version" is
[code]

[2016-08-23 08:07] vigsterkr commented on #3432
mmm based on the version you are using the git repo...? is it the develop branch?
it's just weird because with the very same properties (jdk, ubuntu etc.) the java modular interface builds and tests successfully, see:
https://travis-ci.org/shogun-toolbox/shogun/jobs/152507031

[2016-08-23 18:55] bhanratt opened #3436 "Make fileson build target libshogun with Error 1 and Error 2"
This is driving me nuts. After spending hours installing all the dependencies I can't finish compiling. I have tried the stable release on the main website and also from cloning the development repository. I get this exact error every time:

[ 87%] Built target libshogun
Scanning dependencies of target shogun
Linking CXX shared library libshogun.so
/usr/bin/ld: /usr/local/lib/libnlopt.a(optimize.o

[2016-08-23 18:57] vigsterkr commented on #3436
@bhanratt could you please tell us your OS (and version).... and how did you install/get `libnlopt`?

[2016-08-23 19:02] vigsterkr commented on #3436
basically the problem is rather with nlopt than shogun.... although i wonder why id doesn't try to link with the shared library of nlopt, i.e. `libnlopt.so` or `libnlopt.dylib`

[2016-08-23 19:27] bhanratt commented on #3436
OS: Ubuntu 14.04 x86_64

[2016-08-23 20:30] bhanratt commented on #3436
I have all the following installed from apt-get:
libnlopt-dev
libnlopt-guile0
libnlopt-guile0-dbgs
libnlopt0
libnlopt0-dbgsym
octave-nlopt
octave-nlopt-dbgsym
python-nlopt
python-nlopt-dbgsym

[2016-08-24 01:15] vigsterkr commented on #3436
@bhanratt ok so first of all can you remove the manually built NLOPT or build it with `-fPIC` CFLAGS/CXXFLAGS as currently that's your problem that shogun is trying to use that manually built library that has not compiled with `-fPIC`.

btw this is a docker image (ubuntu 14.04) which has *all* the required/optional dependencies for shogun that we use for travis-ci. if in case you just wanna test s

[2016-08-24 01:16] vigsterkr commented on #3436
@bhanratt if you dont mind i'll close this bug as it's really unrelated to shogun. but feel free to open it again if the problem remains after you've fixed the problem with nlopt.

[2016-08-24 01:16] #3436 closed

[2016-08-25 11:35] vigsterkr commented on #2550
mmm this has been encountered just now by somebody else... :S looking into it, but interestingly enough travis-ci builds are done with ubuntu 14.04 docker images and have not encountered this before there :(

[2016-08-25 11:51] #2550 closed

[2016-08-25 12:47] vigsterkr commented on #352
closing this in favour for `feature/windows` branch with appveyor :)

[2016-08-25 12:47] #352 closed

[2016-08-26 08:46] Corllll opened #3437 "Failed to install DPythonModular on Ubuntu 14.04 with shogun-4.1.0"
i have Ubuntu 14.04
swig 2.0.11
python 2.7.6
numpy 1:1.8.1
gcc 4.8.2

i ran cmake .. -DPythonModular=On -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_LIBRARY=/usr/lib/python2.7/config/libpython2.7.so

then i ran make

[  0%] Generating /root/shogun-4.1.0/src/shogun/base/class_list.cpp
[  0%] Built target class_list
[  1%] Generating version header
[  1%] Built target version
Scanning depend

[2016-08-26 08:48] vigsterkr commented on #3437
oh this is rather interesting! could you please provide the full cmake output as well (when you ran it the first time). thnks

[2016-08-26 08:53] Corllll commented on #3437
i follow this https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART
$ cd "$HOME/shogun-4.1.0"

$ mkdir build
$ cd build
$ cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..

$ make -j5 all
$ make install

[2016-08-26 08:55] vigsterkr commented on #3437
wait i thought you ran:
```cmake .. -DPythonModular=On -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_LIBRARY=/usr/lib/python2.7/config/libpython2.7.so``` (see your first message).

but anyhow i would need the full output of what you get on your screen after running `cmake`.

[2016-08-26 08:58] Corllll commented on #3437
oh i see like this？

root@cory-virtual-machine:~/shogun-4.1.0/build# cmake .. -DPythonModular=On -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_LIBRARY=/usr/lib/python2.7/config/libpython2.7.so
-- Using system's malloc
-- Could NOT find MOSEK (missing:  MOSEK_DIR MOSEK_INCLUDE_DIR MOSEK_LIBRARY)
-- A library with BLAS API found.
-- A library with LAPACK API found.
-- Could NOT find GLPK (mis

[2016-08-26 09:02] vigsterkr commented on #3437
yep this is the one!
i suppose you are using all the default packages of ubuntu. in that case could you please just do the following:
[code]

[2016-08-26 09:08] Corllll commented on #3437
ok i did,but i have error:

root@cory-virtual-machine:~/shogun-4.1.0# cmake -DPythonModular=ON ..
CMake Error: The source directory "/root" does not appear to contain CMakeLists.txt.
Specify --help for usage, or press the help button on the CMake GUI.
root@cory-virtual-machine:~/shogun-4.1.0# cd build
root@cory-virtual-machine:~/shogun-4.1.0/build# cmake -DPythonModular=ON ..
-- The C compiler ide

[2016-08-26 09:14] vigsterkr commented on #3437
@Corllll oh ok great! lemme look into it and get back to...

[2016-08-26 09:17] Corllll commented on #3437
＠vigsterkr thanks to your help,and answer quickly.

[2016-08-27 00:46] elmasee opened #3438 "Octave interface doesn't function properly"
I compiled the Shogun for static Octave interface without any error, but the interface file "sg.oct" is never generated, and I cannot locate any shogun packages to call in octave.

How can I make sure the interface is properly setup?

[2016-08-27 00:52] elmasee opened #3439 "Floating point exception (core dumped)"
I am using standalone Shogun with some toy data:

   shogun classifier_gmnpsvm.sg

I am receiving this error regardless of the input data I use:

   "Floating point exception (core dumped)"

Any ideas?

[2016-08-27 22:17] Kavignon commented on #3216
@karlnapf  @vigsterkr  If I were to start working on this, say January 2017, how much time of support per week could you give me ? 1-2 h max ?

[2016-08-28 03:46] fysong86 commented on #2790
ask for help, errors occured in compiling shogou on ubuntu 12.04 and also 14.04

sfy@nnu:~/downloads/shogun-4.1.0/build$ cmake -DPythonStatic=ON ..
-- The C compiler identification is GNU 4.8.1
-- The CXX compiler identification is GNU 4.8.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler AB

[2016-08-28 03:49] fysong86 opened #3440 "errors occur while installing shogou (3.0, and 4.1) on ubuntu(12.04,and 14.04)"
sfy@nnu:~/downloads/shogun-4.1.0/build$ cmake -DPythonStatic=ON ..
-- The C compiler identification is GNU 4.8.1
-- The CXX compiler identification is GNU 4.8.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - d

[2016-08-28 03:51] fysong86 commented on #3440
main error information in CMakeError.log are as follows:

CheckSymbolExists.c:(.text+0x16): undefined reference to `pthread_create'
collect2: error: ld returned 1 exit status
make[1]: Leaving directory `/home/sfy/downloads/shogun-3.0.0/build/CMakeFiles/CMakeTmp'
make[1]: *** [cmTryCompileExec1709034626] Error 1
make: *** [cmTryCompileExec1709034626/fast] Error 2

/usr/bin/ld: cannot find -lpthread

[2016-08-29 04:01] vigsterkr commented on #3440
@fysong86 thanks for reporting but we are not supporting shogun 3.0 anymore...
can you paste the errors that happens with shogun 4.1 on either of the ubuntu versions?

[2016-08-29 04:02] vigsterkr commented on #3439
@elmasee any particular reason you wanna use the old static command line interface?

[2016-08-29 04:05] vigsterkr commented on #3432
@entalent could you maybe provide the full cmake output please?

[2016-08-29 04:06] vigsterkr commented on #3438
mmmm @elmasee i would really suggest to use the octave_modular interface instead of the static one.

[2016-08-29 06:21] vigsterkr commented on #3425
could you please provide the OS and octave version you are using in this case?

[2016-08-29 08:38] gdkrmr commented on #3425
that was ubuntu 14.04 with octave from `ppa:octave/stable` v 4.0.2.
I will not be able to try things out, because I upgraded to Ubuntu 16.04 since. I am trying to compile it, but currently I have some trouble with OpenCV.

[2016-08-29 08:56] fysong86 commented on #3440
@vigsterkr thanks for your reply.  I want to use shogun with python interface, Python 2.7.12 |Anaconda 4.1.1 (64-bit) on Ubuntu 12.04.  I can not get the "sg.so" after compile.
The following is the information in CMakeError.log.

Determining if the isfinite exist failed with the following output:
Change Dir: /home/sfy/downloads/shogun-4.1.0/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/ma

[2016-08-29 08:59] vigsterkr commented on #3440
ok this is not what i meant.
so when you run the first time cmake there's quite some output on stdout. i would need that to be able to tell what could be the problem.
btw: is there any particular reason why you wanna use the python static interface?
if not the please try it with python modular interface: `cmake -DPythonModular=ON ..`

[2016-08-29 12:44] vigsterkr commented on #3424
@sudk1896 do you know if there's a linux mint docker image out there somewhere so i could test it for you and see what could be the problem? (tried looking around in hub.docker.com but couldn't find anything)

[2016-08-30 01:10] fysong86 commented on #3440
@vigsterkr   as you pointed out, i  run cmake -DPythonModular=ON ..       with Python 2.7.3  ubuntu 12.04, and get the following information, thanks for your help.  By the way, the first time i know about shogun toolbox when i read the code of DAP algorithm distributed at http://attributes.kyb.tuebingen.mpg.de/AwA-code.tar.bz2  where the implementation in attributes.py  directly recalled sg modula

[2016-08-30 02:48] vigsterkr commented on #3440
@fysong86 please look at the python modular examples how to use the modular interface:
https://github.com/shogun-toolbox/shogun/tree/develop/examples/undocumented/python_modular

[2016-08-30 02:48] #3440 closed

[2016-08-31 22:45] souravsingh commented on #2751
Ping @karlnapf

[2016-08-31 22:54] souravsingh commented on #2720
@karlnapf With the introduction of conda-forge, cobra recipe for Shogun would be nice and easy. I can work on making a recipe for conda-forge

[2016-09-01 05:54] souravsingh commented on #865
I would like to work on the issue. How do I start?

[2016-09-02 20:06] souravsingh commented on #3139
I would like to work on the issue. How do I start?

[2016-09-02 20:50] yorkerlin commented on #3139
@souravsingh
(1) The first step is to be familiar with these kernels at https://github.com/jmetzen/gp_extras and scikit-learn.
It will be great if you know the math behind the implementation.
For starters, you should focus on  `WhiteKernel` or `Matern Kernel` or `ExpSineSquared Kernel`.
`ManifoldKernel`, `LocalLengthScalesKernel` and `HeteroscedasticKernel` are more complicated.

(2) The second st

[2016-09-02 20:56] yorkerlin commented on #3407
There are two EP methods for sparse GP. I will add them this year.

[2016-09-02 20:57] yorkerlin commented on #3407
I and Emt are working on a paper related to EP.

[2016-09-03 01:04] yorkerlin commented on #3139
Also take a look at https://github.com/shogun-toolbox/shogun/wiki/README_linalg

[2016-09-07 02:13] yorkerlin commented on #3407
For reference:
* method one from paper, https://papers.nips.cc/paper/3351-the-generalized-fitc-approximation.pdf
* method two from paper, https://arxiv.org/abs/1507.04513

[2016-09-07 15:29] karlnapf commented on #2720
@souravsingh That would be amazing++ please send a patch and we can iterate on the PR

[2016-09-07 15:32] karlnapf commented on #2751
Sorry for the delay, I was away.

I just deleted my demo repo mentioned above.

We have a growing manual (aka cookbook) in develop now, [here](http://shogun.ml/cookbook/latest) is the latest version:
Note this is *all* executable code which is part of our test build, it is pretty easy to contribute new entries to this. We also want to pimp the visuals -- any help welcome. I close the issue for now

[2016-09-07 15:32] #2751 closed

[2016-09-07 15:52] karlnapf commented on #3424
This seems to be some LAPACK linking issue. Is you configuration of LAPACK up to speed?

[2016-09-07 15:54] karlnapf commented on #3438
static interfaces are deprecated and will probably be removed very soon

[2016-09-07 15:54] #3438 closed

[2016-09-07 15:55] karlnapf commented on #3432
This is likely to be an eigen3 caused problem (i.e. KernelPCA is guarded)
Can we have some more output?

[2016-09-07 15:56] karlnapf commented on #3439
We don't support the old command line interface anymore (even though the test-suite passed largely)

[2016-09-07 15:56] #3439 closed

[2016-09-07 15:57] karlnapf commented on #2790
Seems like a cmake problem.
Can you put your system specs and this log into a new issue?

[2016-09-07 15:58] karlnapf commented on #3216
yeah definitely that

[2016-09-07 15:59] karlnapf commented on #3437
Check your python setup

[2016-09-07 16:44] elmasee commented on #3438
used the octave_modular interface, works fine, thanks.

[2016-09-07 21:56] yorkerlin opened #3444 "add Prox-Grad method in GP"
@karlnapf
Emt and I are working on an extension of this method.
https://github.com/emtiyaz/prox-grad-svi
I will add our method soon.

[2016-09-07 22:05] yorkerlin commented on #2923
done

[2016-09-07 22:05] #2923 closed

[2016-09-07 22:09] yorkerlin commented on #2614
done

[2016-09-07 22:09] #2614 closed

[2016-09-07 22:11] yorkerlin commented on #2387
done

[2016-09-07 22:11] #2387 closed

[2016-09-07 22:23] yorkerlin commented on #1901
this PR is partially solved at https://github.com/shogun-toolbox/shogun/pull/2484

TODO: implicit gradient wrt hyper-parameter

[2016-09-07 22:24] yorkerlin commented on #1900
done at https://github.com/shogun-toolbox/shogun/pull/2484

[2016-09-07 22:24] #1900 closed

[2016-09-07 23:11] yorkerlin commented on #1923
@karlnapf
This is related to deep GP.

[2016-09-07 23:15] yorkerlin commented on #1106
@karlnapf ?

[2016-09-07 23:27] yorkerlin commented on #2903
done

[2016-09-07 23:28] #2903 closed

[2016-09-07 23:39] yorkerlin commented on #3135
Add a notebook/cookbook about http://people.seas.harvard.edu/~dduvenaud/cookbook/ using the Shogun's GP.

[2016-09-07 23:55] yorkerlin commented on #3316
reference:
https://github.com/mlpack/mlpack/tree/master/src/mlpack/core/optimizers

[2016-09-08 05:46] Corllll commented on #3437
@karlnapf  what's your mean?

[2016-09-08 17:18] souravsingh opened #3445 "Additional Links to Documentation do not work"
After accessing the link here-http://www.shogun-toolbox.org/page/documentation/information
I try to access the links in the English and Chinese sections.Sadly, none of the links work.

[2016-09-08 17:27] souravsingh commented on #2720
@karlnapf Should I wait until #3132 is finished before writing the conda-forge recipe or start right away?

[2016-09-08 21:29] yorkerlin commented on #3445
@vigsterkr
this should be fixed.

@souravsingh
All links which begin with `http://www.shogun-toolbox.org/doc/en/current/` are broken.
If you should to read the doc, please use links which begin with `http://www.shogun-toolbox.org/doc/en/latest/`

[2016-09-09 13:52] Corllll commented on #3437
@vigsterkr @karlnapf ok i got that thanks.

[2016-09-12 12:55] karlnapf commented on #3437
Ill close this for now. If any problems, let us know!

[2016-09-12 12:55] #3437 closed

[2016-09-12 13:04] karlnapf opened #3446 "get new website online"
Which is here: https://github.com/shogun-toolbox/shogun-web2

[2016-09-12 13:04] karlnapf commented on #3445
This is part of #3446 so closing.
Thanks for the reporting

[2016-09-12 13:04] #3445 closed

[2016-09-12 13:06] karlnapf commented on #3132
Done since 2151b9c8cce2aca068a421460e580d8c5d398293

[2016-09-12 13:06] karlnapf commented on #2720
Actually, we have a setup.py now, so go for it! :)

[2016-09-12 13:15] karlnapf commented on #1106
It references [this one](https://github.com/shogun-toolbox/shogun/blob/develop/examples/undocumented/libshogun/regression_gaussian_process_sum.cpp) Does the program work for you? It doesnt seem to be blacklisted anymore. I will close for now. If there are problems, feel free to re-open

[2016-09-12 13:15] #1106 closed

[2016-09-12 13:16] karlnapf commented on #1923
yep

[2016-09-13 07:51] souravsingh commented on #2720
I have written the conda-forge recipe here- https://github.com/souravsingh/staged-recipes/blob/recipe_shogun/recipes/Shogun/meta.yaml
It is a work in progress.Any suggestions welcome!

[2016-09-13 20:32] beew commented on #3425
You need to build octave from source with a patch. Ubuntu's binary (including ppa) is not built with the patch so it won't work . See my post on June 4 2015 here https://github.com/shogun-toolbox/shogun/issues/2850

[2016-09-13 22:09] yorkerlin opened #3447 "add models from glm-ie"
@karlnapf
the toolbox for `generalized linear models`
http://hannes.nickisch.org/code/glm-ie/doc/index.html
Most of existing methods in the GP modular can be reused.
However, we have to refactor the GP modular.

Anyone is welcome to do this. I will add some models/methods if I have time.

[2016-09-14 10:54] lkuchenb opened #3448 "CStringFeatures<char>::clone() fails"
When running this example

[code]

I get the following error:

[code]

This occurred to me when running x-val on a machine without data lock. The parallelization of x-val then clone()s the data, which is when i encountered this error.

[2016-09-16 12:11] amwink opened #3449 "test script for octave/swig interface missing?"
After compiling Shogun using the instructions in [INSTALL] (https://github.com/shogun-toolbox/shogun/wiki/INSTALL), and completing the section for octave/swig and using `-DPythonModular=ON -DRModular=ON -DOpenCV=ON -DOctaveModular=ON -DJavaModular=ON` I tried to test it with the suggested command

    octave examples/documented/octave_modular/libsvm.m
but that file does not exist any more. Does th

[2016-09-19 15:38] yorkerlin opened #3450 "add t distribution and robust EP"
@karlnapf
It will be great to add t distribution and robust EP for GP regression.
Note that the existing t distribution does not support EP inference.

reference
paper: http://www.jmlr.org/papers/volume12/jylanki11a/jylanki11a.pdf
code:  http://research.cs.aalto.fi/pml/software/gpstuff/

[2016-09-20 11:47] karlnapf commented on #1904
done

[2016-09-20 11:47] #1904 closed

[2016-09-20 11:47] karlnapf commented on #3450
Yep, this also depends on finally tackling a proper base class for distributions, #1998, #1929

[2016-09-20 11:48] karlnapf commented on #3449
try the examples in `octave_modular` --- the ones you are running are outdated. Ill close this for now, let me know if you still have problems

[2016-09-20 11:48] #3449 closed

[2016-09-20 11:50] karlnapf commented on #3448
That seems a bug, thanks for reporting.
Just to confirm, you run **the above code** ? Because the error message seems to have other things in it?

[2016-09-20 11:51] karlnapf commented on #3425
Thanks for clarifying @beew !

[2016-09-20 11:51] #3425 closed

[2016-09-20 11:51] karlnapf commented on #2720
@vigsterkr ?

[2016-09-20 12:19] lkuchenb commented on #3448
I ran the above code in `lldb`, the output is the backtrace produced by `lldb`.

[2016-09-21 03:35] yorkerlin commented on #3450
I took a close look at the implementation in gpstuff.
Note that the EP implementation in shogun does not pay much attention to negative covariance.

[2016-09-21 03:54] yorkerlin commented on #3450
this issue is related to issue https://github.com/shogun-toolbox/shogun/issues/1832

[2016-09-22 13:21] karlnapf commented on #3448
Thanks. I just realised the strings you put are uninitialized. Is that maybe cause of the error?

[2016-09-28 15:32] karlnapf opened #3452 "C# has no bool vector/matrix typemap"
Found this while looking into the first problem described in #3282

The issue is that if I add
[code]
to the `csharp_modular/swig_typemaps.i`, then I get (when compiling the csharp interface)
[code]

Any ideas? This blocks us from using boolean vectors in the meta examples

[2016-09-30 03:12] HuaChung opened #3453 "libshogun.so.17: cannot open shared object file: No such file or directory"
I use the matlab interface to run the example, but I get the following output:
[code]
Then, I add the " libshogun.so.17" path to the LD_LIBRARY_PATH, but I get other error:
[code]
How to solve this issue?
Thx.

[2016-09-30 06:43] HuaChung commented on #3453
I have solved this issues.
If you get the above issue, you can fix it by the following steps.
[code]
You can get the system 'libstdc++.so.6'.
`$ sudo ln -s /usr/lib/x86_64-linux-gnu/libstdc++.so.6 /usr/local/MATLAB/R2012b/sys/os/glnxa64/libstdc++.so.6`
This issue can fix successful.

[2016-09-30 19:20] #3453 closed

[2016-10-01 07:55] HuaChung opened #3454 "Unknown command 'use_mkl'; Unknown solver type, GLPK"
Hi.
I run the example of 'test_regression_mkl', but I get the following output:
[code]
And when I run the example of 'mkl_regression_sine', I get the similar issue.
[code]
How to fix these error?
Thx.

[2016-10-01 11:38] souravsingh commented on #2419
Should the tests be excluded from the list or should we document the users to install ``liblzma-dev`` to solve the issue?

[2016-10-01 11:48] souravsingh commented on #1328
Recommend Closing the issue

[2016-10-03 15:07] karlnapf commented on #2419
It depends on the error message and the particular reason why this fails (can you post it here?)
One way is to blacklist the example when the depenency is not met (cmake).
The meta examples doe this via `FindMetaExamples`. There is not systematic way for the old examples so far, so you could either translate the example to the meta examples, or just put a try catch around the line that makes the e

[2016-10-03 15:09] karlnapf commented on #1328
This is cleaner, so Ill leave this open for now, ....and also it should be checked whether this is faster compiling. Otherwise it still has style preference

[2016-10-03 15:11] karlnapf commented on #3218
the debug code was removed in #3455

[2016-10-03 15:12] karlnapf commented on #3454
You are using a deprecated shogun interface, please use the modular interfaces.
For your error, this might be caused by GLPK not being installed when you compiled shogun.
If the error persists in modular interfaces, please reopen another issue

[2016-10-03 15:12] #3454 closed

[2016-10-03 15:13] karlnapf commented on #3453
Thanks for reporting.
BTW: The(static) matlab interface is deprecated. We plan to do a SWIG based on as well at some point

[2016-10-03 16:28] elmasee opened #3456 "SSL-Algorithm terminated without reaching optimum"

[2016-10-03 23:27] #3456 closed

[2016-10-04 07:25] souravsingh opened #3457 ""pip install shogun-ml" does not work."
On Running the command `pip install shogun-ml`, this is the error report which is shown-

`$ pip install shogun-ml`
`Collecting shogun-ml`
`Could not find a version that satisfies the requirement shogun-ml (from versions: )`
`No matching distribution found for shogun-ml`

[2016-10-04 07:45] vigsterkr commented on #3457
@souravsingh until we dont release a new version you'll have to check out the src from github and then run within the directory the `setup.py`

[2016-10-04 07:45] #3457 closed

[2016-10-04 14:37] souravsingh commented on #3218
@karlnapf I would like to work on fixing the other three issues. How do I do it?

[2016-10-08 20:52] souravsingh commented on #3323
@karlnapf I would like to work on the issue. How do I start?

[2016-10-09 04:56] yorkerlin commented on #3450
reference:
https://arxiv.org/abs/1412.4869

[2016-10-10 10:13] karlnapf commented on #3218
You could work on any of the points I mentioned on top, e.g. replace all pointers to vectors with SGVector

[2016-10-10 10:26] karlnapf commented on #3323
This one is tricky, I recomend you start understanding our meta example system first, for example via adding a new example (picky any python modular one and translate it to meta example, check [this](https://github.com/shogun-toolbox/shogun/tree/develop/doc/cookbook) Readme

[2016-10-10 13:55] jgomezlopez opened #3459 "Compilation error with g++ 6.1"
I'm trying to compile Shogun 4.1.0 in Debian Testing with cmake 3.6.2, g++ 6.1.1, octave 4.0.3, swig 3.0.7. I type the following commands in build directory I have just created.
$cmake .. -DoctaveModular=ON -DGENERATE_EXAMPLES=ON
$make
I get a compilation error when try to build class_list.cpp.o
In file included from /home/jose/software/shogun-4.1.0/src/shogun/kernel/normailizer/KernelNormalizer.h

[2016-10-12 06:58] rekado opened #3460 "Rmodular cannot be built"
I'm trying to build shogun with the Rmodular interface with GCC 4.9.3 and R 3.3.0 but I get this error:

error: conflicting declaration of C function ‘long long int std::abs(long long int)’
in gcc-4.9.3/include/c++/cstdlib

In file included from
         /gnu/store/pbz6h59l4c4y77j5ik45krlvp4xq79qq-r-3.3.0/lib/R/include/R.h:40:0,
                  from
         /tmp/guix-build-shogun-4.1.0.drv-0/sh

[2016-10-12 14:38] rekado commented on #3460
What follows are the cmake flags and the logs starting from the first error:

[code]

[code]

[2016-10-17 12:20] lkuchenb opened #3462 "Add WeightedDegreeRBFKernel parameters for model selection"
Please expose the WD-RBF kernel parameters `width` and `degree` to model selection.

[2016-10-17 12:41] lkuchenb commented on #3448
RAWBYTE string features allow for every possible byte value. I just wanted to keep the example minimal by not putting random or hard coded values. The error is unrelated to that.

[2016-10-17 17:02] karlnapf commented on #3462
should be solved with your patch #3463

[2016-10-17 17:05] karlnapf commented on #3460
Can you please remove the long log here and paste a link to a gist instead? Otherwise chances that somebody reads it go to zero.
Next, could you post your system specs?

[2016-10-17 19:43] rekado commented on #3460
I moved the error log from the previous comment to a gist.
My system is an x86_64 machine with 8GB RAM but this doesn't seem to be related to the error which is about conflicting declarations in included files.

I'm building shogun in a chroot where only declared packages are available (that's a feature of GNU Guix).  There were no problems with the modular R interface in version 4.0.0.

[2016-10-17 21:37] #3462 closed

[2016-10-22 08:51] karlnapf commented on #3452
Shouhd be fixed in #3461 and the subsequent https://github.com/shogun-toolbox/shogun/commit/a39e8e4da4f3a71c1360b76c47e194548851326e

[2016-10-22 08:52] karlnapf commented on #3452
But we should still add the typemap -- even the build now has a workaround

[2016-10-22 08:52] karlnapf commented on #3452
Typemap force @vigsterkr @sperka

[2016-10-22 21:36] vigsterkr opened #3465 "fix multithreaded xval"
currently the unit test fails on native windows build, i.e. goes into infinite loop

[2016-10-23 08:16] karlnapf commented on #3378
This will also allow to enable the '-DTRAVIS_DISABLE_META_CPP' flag on the modular travis builds to save time

[2016-10-23 08:16] karlnapf commented on #3379
this is now working as in 9447bf50070984a5d9c89cf46e26fdb76c7a47e9 (or slightly before as well)

[2016-10-23 08:16] #3379 closed

[2016-10-23 08:17] karlnapf commented on #3328
@sorig do we have all meta language constructs covered, or do we need more?

[2016-10-23 08:18] karlnapf commented on #3109
fixed long time ago

[2016-10-23 08:18] #3109 closed

[2016-10-23 08:18] karlnapf commented on #1883
Solved by @sorig last year

[2016-10-23 08:18] #1883 closed

[2016-10-23 08:19] karlnapf commented on #1601
This is not up to date anymore as we have the cookbook now

[2016-10-23 08:19] #1601 closed

[2016-10-23 08:23] karlnapf opened #3466 "Fix and enable R meta examples (and tests)"
According to source code comments, this had to do with static calls which are not working.
I think I fixed that (when?), so enable the meta example and integration tests and see if travis likes it

[2016-10-23 08:48] karlnapf opened #3467 "Add scalar cases to WrappedObjectArray"
We need methods like 'add_wrapped_real_vector(float64_t data, ...)'
There is already one, this task is to make them a macro just like above the example in the file

'WrappedObjectArray.h'

[2016-10-23 09:00] #3328 closed

[2016-10-24 01:43] yorkerlin opened #3470 "add Non-parametric variational inference (kernel embedding)"
@karlnapf
Reference
http://jonathan-huang.org/research/pubs/icml09/icml09.pdf
http://www.cc.gatech.edu/%7Elsong/papers/lesong_thesis.pdf
https://arxiv.org/abs/1506.03101
https://arxiv.org/abs/1407.5599
https://arxiv.org/abs/1608.04471
Incremental Learning for Variational Sparse Gaussian Process Regression (NIPS 2016)

[2016-10-25 17:05] souravsingh commented on #3466
@karlnapf I would like to work on the issue. How do I start?

[2016-10-25 17:07] souravsingh commented on #3466
@karlnapf I would like to work on the issue.How do I start?

[2016-10-26 06:27] karlnapf opened #3478 "vectorize CLDA"
There are many loops in there that can be replaced with direct linear algebra calls using say eigen

[2016-10-26 12:49] lkuchenb opened #3479 "Parallel crossvalidation for locked data"
Crossvalidation is currently not parallel if the machine is locked

[2016-10-26 18:56] karlnapf commented on #3479
We actually disabled the feature in develop as there are problems with
deadlocks which we need to look into.
You can always activate it back and play with it. Tell us what you do and
if it works and we can put it back in
The locked thing is on my list as well

H

On Wednesday, 26 October 2016, Leon Kuchenbecker <notifications@github.com>
wrote:

--
Sent from my phone

[2016-10-26 18:58] karlnapf commented on #3466
Cool!
Currently, doing static calls via the swig r interface doesn't work. If
they would work this is solved. So check swig and r and how it works in
shogun. Nontrivial so only attempt if you know what you're doing

On Tuesday, 25 October 2016, Sourav Singh <notifications@github.com> wrote:

--
Sent from my phone

[2016-10-26 19:18] souravsingh commented on #3466
@karlnapf I found the patch which fixed the static calls here-https://github.com/shogun-toolbox/shogun/pull/3251 So I believe I need to enable meta examples one by one and check if they pass

[2016-10-26 20:03] karlnapf commented on #3466
Nope
I activated them in this commit in a feature branch
https://github.com/shogun-toolbox/shogun/commit/e9c079b91a134de642c3cbdf61b52e1ae0dc81e5

As you can see, travis and the r build failed.
You can check this out locally, enable r interface, and run the tests to
reproduce the error locally

On Wednesday, 26 October 2016, Sourav Singh <notifications@github.com>
wrote:

--
Sent from my phone

[2016-10-28 09:14] lkuchenb commented on #3479
You mean parallel X-val has been disabled alltogether?

[2016-10-28 11:39] tt83 opened #3481 "CCARTree serialization/deserialization error"
I'm trying to serialize/deserialize a CCARTree object in C++, but when I call load_serializable I'm getting an error:
In file ~/Library/shogun-develop/src/shogun/base/Parameter.cpp line 2212: TParameter::new_sgserial(): Class `CBinaryTreeMachineNode' was not listed during compiling Shogun :( ...  Can not construct it for `m_root'!
Fragment of code:
[code]

[2016-10-29 06:15] karlnapf opened #3482 "join FisherLDA and LDA"
These two classes currently have a lot of duplicate code

[2016-10-29 06:52] amarlearning commented on #3482
@karlnapf i would like to resolve this issue ?

[2016-10-29 10:57] souravsingh commented on #3139
@yorkerlin Where will the kernels come under? Do we need to create a separate folder for the Gaussian Processes in case of Matern kernel or do I put it somewhere?

[2016-10-29 11:10] souravsingh commented on #2999
@karlnapf Can I know about the classes that need serialization? I believe SGVector, SGMatrix and SGVector are serialized

[2016-10-29 21:27] karlnapf opened #3485 "add scala interface to docs and tests"
# Which is easy, since it uses the java jar. No swig additions needed, just the build and the docs
- meta examples
- integration testing in the above
- cookbook
- installation page
- INTERFACES.MD how to run

[2016-10-30 01:13] karlnapf opened #3486 "eigen3 operator bug workaround fix"
See file https://github.com/shogun-toolbox/shogun/blob/769a56112ad34738c7fd0e949124cfaef96de6ff/src/shogun/classifier/LDA.cpp#L176

Replace the line

[code]

with

[code]

fixes the eigen3 operator bug (TODO needs to be reported) that is currently fixed in via bundling eigen3 in the main `CMakeLists.txt`.
The issue is caused by eigen3 putting zeros only in the left hand side if the statement is do

[2016-10-30 01:22] karlnapf commented on #3486
See #3487 for an example of one fix. There are a few more

[2016-10-30 01:36] karlnapf commented on #2975
This script is deleted now, so closing

[2016-10-30 01:36] #2975 closed

[2016-10-30 03:37] yorkerlin commented on #3139
@souravsingh
All kernels should be in   folder `src/shogun/kernel`. (e.g. `GaussianARDKernel`)
One exception: if your implementation supports the sparse approximation (ref: http://www.jmlr.org/papers/volume6/quinonero-candela05a/quinonero-candela05a.pdf), folder `src/shogun/machine/gp/` may be better. (e.g. `GaussianARDSparseKernel`)

[2016-10-30 18:38] karlnapf commented on #3446
done

[2016-10-30 18:38] #3446 closed

[2016-10-30 18:39] karlnapf opened #3489 "fix modular interface make install with custom install prefix"
Currently, setting a custom install prefix causes make install (without sudo) to fail for at least ruby and octave. Needs some cmake hacking

[2016-10-30 18:42] karlnapf commented on #3452
We currently have a workaround that avoids problems with this, but still would be good to fix

[2016-10-30 18:43] karlnapf commented on #3378
Solved

[2016-10-30 18:43] #3378 closed

[2016-10-30 18:43] karlnapf commented on #3323
I solved this at the GSoC 2016 mentor summit

[2016-10-30 18:43] #3323 closed

[2016-10-30 18:46] karlnapf commented on #1882
Done and online

[2016-10-30 18:46] #1882 closed

[2016-10-30 18:47] #3432 closed

[2016-10-30 18:47] karlnapf commented on #3131
@besser82 we have new updated nightly binaries now, any way we can include fedora in there?
@vigsterkr

[2016-10-30 18:48] karlnapf commented on #3194
There is a partial fix, and doing this properly is now in #3486

[2016-10-30 18:48] #3194 closed

[2016-10-30 18:51] karlnapf opened #3490 "Add the D language interface"
* swig typemaps
 * meta example updates
 * cookbook updates
 * INSTALL.md and INTERFACES.MD

[2016-10-30 18:53] karlnapf opened #3491 "make install treatment for meta examples"
Installation should include any generated meta example listing and also the binaries of compiled meta examples (cpp, java, csharp)

[2016-10-30 19:08] karlnapf opened #3492 "rename interface cmake switches"
PythonModular -> INTERFACE_PYTHON

etc

[2016-10-30 19:09] karlnapf opened #3493 "add java script as swig interface"
see #3490 for a list of things to do

There is a feature branch:

[2016-10-30 19:11] karlnapf commented on #2999
We have something as a result of pan's gsoc2016 project

[2016-10-30 19:11] #2999 closed

[2016-10-30 19:11] karlnapf opened #3494 "merge cereal feature branch of gsoc 2016"
Depends on #3495

[2016-10-30 19:12] karlnapf opened #3495 "Integrate tags gsoc 2016 project"
This requires to somehow hack `SG_ADD` to also register parameters in new framework

[2016-10-30 19:14] karlnapf opened #3496 "include binary installation in INSTALL.md"
Rather than on website, copy paste otherwise

[2016-10-30 19:16] karlnapf commented on #3495
@lisitsyn will have something here

[2016-10-30 19:21] karlnapf opened #3497 "make cookbook fails on guarded meta examples"
cmake configuration error. Cookbook page should not be generated when it is guarded

[2016-10-30 20:06] karlnapf opened #3498 "fix and merge windows build branch"
https://github.com/shogun-toolbox/shogun/tree/feature/windows

Only few things left to do

[2016-10-30 20:07] karlnapf opened #3499 "merge bigtest branch"
Big feature addition. Needs to be documented
@lambday thats yours

https://github.com/shogun-toolbox/shogun/tree/feature/bigtest

[2016-10-30 20:09] karlnapf opened #3500 "integrate linalg gsoc2016 work"
Feature branch:
https://github.com/shogun-toolbox/shogun/tree/feature/linalg_refactor

This requires:
- removing all old linalg code
- using the new parts, all tests need to pass
- big cmake cleanup as linalg is not compile time anymore

@OXPHOS you could have a go at this to wrap up the project. No? :)

[2016-10-30 20:15] karlnapf opened #3501 "merge all gsoc2016 PRs"
#3429 #3427 #3418 #3414 #3389 #3352 #3342 #3342 #3303 #3300 #3284 #3282 #3272 #3250 #3248 #3234 #3233 #3228 #3215 #2963 #2961

[2016-10-30 22:43] karlnapf commented on #3482
Nope go for it

[2016-10-30 22:44] karlnapf commented on #3481
Thanks for reporting this
I will investigate and get back to you

[2016-10-30 22:47] karlnapf commented on #3479
For now in develop, yes.
As said you can keep on using it locally if it works
There currently is some problem with memory when parallelising this

[2016-10-31 03:31] souravsingh commented on #3485
@karlnapf I would like to know about how it needs to be done.

[2016-10-31 03:32] souravsingh commented on #3485
@karlnapf I would like to know about how it needs to be done.

[2016-10-31 03:41] souravsingh commented on #3485
@karlnapf I would like to know About how it needs to be done. I am quite beginner to Shogun contribution but am enthusiastic about contributing to it.

[2016-10-31 04:45] OXPHOS commented on #3500
Sure np!

[2016-10-31 06:45] karlnapf commented on #3485
Here is some start:
 * run cmake with enabling the meta examples being built
 * run `make meta_examples` and figure out what it does (you need to follow the cmake configuration files for that, best to google for a tutorial
 * run `make test` (need cmake switch for that) and figure out how the meta examples are executed

Once you have understood all that, you can check the `examples/meta` folder an

[2016-10-31 07:05] karlnapf opened #3503 "Resolve all swig warnings"
And then turn fucking `-Werror` on to avoid that we accumulate these all the time! Both on travis and buildbot

Resolving the warnings is an extremely *easy* task

[2016-10-31 07:06] karlnapf commented on #3503
@souravsingh this might be a good one to start with for you

[2016-10-31 07:28] lambday commented on #3499
Yeah.. I'm on it.

[2016-10-31 07:31] lambday commented on #2495
Done in feature/bigtest. Closing.

[2016-10-31 07:31] #2495 closed

[2016-10-31 07:32] lambday commented on #3100
Done by @OXPHOS in GSoC16. Closing.

[2016-10-31 07:32] #3100 closed

[2016-10-31 11:57] c4goldsw commented on #3482
@karlnapf I submitted a PR on Friday for templating LDA, so there could be some conflict between our work (if @amarlearning has already started merging the two together).

[2016-10-31 19:22] karlnapf opened #3504 "fix kernel normaliser friend class"
Recenty @lambday refactored the `GaussianKernel` to inherit from a new `ShiftInvariantKernel` abstract class which holds a `Distance` to compute kernel values.

The problem is that currently, kernel normalizers directly modify the `lhs/rhs` of the `Kernel` they are working on. This is implemented via a `friend class` concept. If the kernel is of the above  `ShiftInvariantKernel`, the `lhs/rhs` of

[2016-10-31 20:04] karlnapf opened #3505 "fix all ipython notebooks"
See the logs of our buildbot http://buildbot.shogun-toolbox.org/builders/nightly_default

After this, add a github hook, so that buildbot runs notebooks and reports back to github so that we can avoid merging changes that break notebooks. Ping me or @vigsterkr for that

[2016-11-01 02:00] karlnapf commented on #3482
Btw send a patch for the news file of your other change during gsoc

On Monday, 31 October 2016, Chris Goldsworthy <notifications@github.com>
wrote:

--
Sent from my phone

[2016-11-01 16:24] karlnapf commented on #3496
fixed in 49e7d26 and 382265abd4f2f0989bdd246938c621445bf4e2fd

[2016-11-01 16:24] #3496 closed

[2016-11-02 13:28] karlnapf opened #3506 "fix cross-validation in native windows build"
@vigsterkr can you put details?

[2016-11-02 13:29] vigsterkr commented on #3506
https://ci.appveyor.com/project/vigsterkr/shogun/history

[2016-11-02 16:45] karlnapf opened #3507 "clean up KNN"
Currently, there are multiple solvers used in KNN.
All of this is done in a flat structure in a single implementation file.
This task is to build a version that respects the object oriented paradigm, i.e. each implementation is done in a different (sub)class. This will increase code readability, cleanliness, and ease of debugging.

This is mostly copy paste plus some minimal standard design decisi

[2016-11-02 21:05] karlnapf commented on #3507
Another nice task is to clean up all the old code in there (use SGVector rather than pointers), and make use of linalg or eigen3 rather than all these loops.
Finally, replace pthreads with C++11 threads or openmp

[2016-11-02 21:09] karlnapf opened #3508 "Make use of CSignal"
All major outer loops in Shogun should implement CSignal. In particular those ones that implement solver calls that converge at some point.

There needs to be some thought on openmp loops as these cannot be cancelled easily ... maybe c++11 threads can be? pthreads can definitely.
However, for non-parallel loops, this is an easy task. See e.g. KNN

[2016-11-02 21:10] karlnapf opened #3509 "Implement a nice progress bar"
We currently have SG_PROGRESS in Shogun.

This task is to:

 * implement progress in all main outer loops
 * think about multi-core cases
 * implement with interactive modular langauges, e.g. https://github.com/tqdm/tqdm

First figure out how SG_PROGRESS works, try to use it, and then go from there....
*All* methods in the docs should have a progress...

[2016-11-02 21:12] vigsterkr commented on #3508
a graceful way to break out from openmp loop
http://www.thinkingparallel.com/2007/06/29/breaking-out-of-loops-in-openmp/

[2016-11-02 22:04] karlnapf opened #3510 "Investigate and fix docstrings generated by swig"
Ruby doesnt seem to work, do the others? If no, can we fix them

A docstring is the thing that shows our c++ doxygen comments for example when you type in Python

[code]

[2016-11-04 15:31] yorkerlin commented on #3508
@karlnapf
could we use tag `performance improvement` instead of `numerical optimization` ?

[2016-11-04 15:33] yorkerlin commented on #3508
I will change the tag now. Please let me know if you think tag `numerical optimization` is better.

[2016-11-05 05:14] karlnapf opened #3513 "extend KNN notebook"
Put in speed comparisons with all the different solvers that Shogun has

[2016-11-05 05:21] karlnapf opened #3514 "Investigate MKL usage"
Shogun once was able to take advantage of the (super fast) Intel MKL math library.
This task is to integrate this into the build (if present), and particular tell eigen3 about it.
Also, Shoguns number of threads should be forwarded to MKL.

Then, so dome some benchmarks. MKL has parallelised Eigensolvers etc, so many algorithms should be *much* faster when enabled.

Note MKL is proprietory softwar

[2016-11-05 19:37] yorkerlin opened #3516 "refactor inference methods in GP"
@karlnapf
Inference methods in the latest GPML toolkit `http://www.gaussianprocess.org/gpml/code/matlab/doc/README` are unified. It will be great if we can unify inference methods in shogun.

[2016-11-07 07:24] sudk1896 commented on #3513
@karlnapf : Seems like the perfect task for me. I will do this. I saw the kNN notebook in the docs. In it, it only does a speed comparison between `KNN_BRUTE` and `KNN_COVER_TREE`. I am assuming you also want me to add a speed comparison between `KNN_KDTREE` and the rest ? Is that what is required here ?
Also, when you meant the kNN notebook that would be the IPython notebook [here](http://shogun-

[2016-11-07 10:44] karlnapf commented on #3513
All yes :)
Generally dop more comparisons, and make the notebook nicer overall. You can browse the web a bit for more inspiration of where KNN is useful and where a fast KNN is useful

[2016-11-07 15:38] karlnapf commented on #3516
Absolutely! :)
Nice entrance task as well

[2016-11-07 15:47] karlnapf commented on #3508
This is not about improving performance. This is about outputting the state of optimization algorithms.

[2016-11-07 22:28] karlnapf opened #3517 "clean up Notebook description"
See http://shogun.ml/showroom

Some notebooks have nice descriptions (they follow our template), some are not.
This task is to put a nice description into the right place in the notebook, (see template), or to move the existing one to the right place.

[2016-11-07 22:29] karlnapf commented on #3505
@vigsterkr so right now the nightly build is green even though the opencv notebook still fails. I guess in terms of keeping things passing, we should make it fail if a notebook fails, no?

[2016-11-07 22:31] vigsterkr commented on #3505
oh damn that generate notebook script needs fixing... as now the codebook generator's return value is shadowed by the png extractor.... hence it became green, since the html extractor runs without errors... and that overwrites the return value :(

[2016-11-08 07:57] amarlearning commented on #3517
@karlnapf please mention the sample template url ?

[2016-11-08 08:23] amarlearning commented on #3517
@karlnapf  It would be great if you could mention the link to this website http://shogun.ml/showroom

[2016-11-08 17:18] sudk1896 commented on #3513
@karlnapf : I did investigate usage of `KNN_KDTREE`, after some Googling I found that it is faster than the others only on low dimensional data. In fact when I ran the tests on the `usps` dataset, The results were -
`Standard KNN took 1.9s
Covertree KNN took 1.0s
KDTree KNN took 3.7s`
How do I make changes to the notebook (the multiclass KNN one in doc folder) ? It has a very weird format and I do

[2016-11-08 18:04] karlnapf commented on #3513
You directly can open the notebook in your browser. Google for ipython notebook and how to use it. Then you send a standard patch on via github pull request. Please clear all output of the notebook before sending it. And also please provide an html link to a fully rendered version (say on gist)

[2016-11-08 18:07] karlnapf commented on #3517
the template is in the notebooks folder `doc/ipython-notebooks` -- as well as all the notebooks

[2016-11-08 18:08] karlnapf opened #3519 "write a NOTEBOOKS.md readme"
That briefly explains what is going on.

See confusion in See https://github.com/shogun-toolbox/shogun/issues/3517 and also issue https://github.com/shogun-toolbox/shogun-web2/issues/36

[2016-11-08 18:11] karlnapf opened #3520 "`make cookbook` fails when certain cookbooks are guarded"
See http://pastebin.com/sDjUi3bb

[2016-11-08 18:16] karlnapf commented on #3520
This comes since `FindMetaExamples.cmake` sometimes removes certain meta examples.
The cookbook should still build fine, just ignoring that particular page....

[2016-11-08 19:42] IOcodegeass commented on #3520
I faced this problem. And installing **nlopt** solved it.
Thanks :)

[2016-11-09 08:31] sudk1896 commented on #3513
@karlnapf : [Here](https://gist.github.com/sudk1896/1074c6c74ea6cfceac0d975b94cd19f5) is the gist. It will open as an ipython notebook. I have added some text and the code for time comparison for `KDTREE`. Let me know what else you want.

[2016-11-09 16:14] karlnapf opened #3522 "fix links in introduction notebook"
http://www.shogun-toolbox.org/notebook/latest/Introduction.html

Also its description should read "Introduction to Machine Learning"

Super easy entrance task

[2016-11-09 16:18] karlnapf commented on #3520
Yeah, it is not really a solve but rather a workaround :) We should deal with this properly....

[2016-11-09 16:19] karlnapf commented on #3513
Can we moive the discussion about your changes into a PR?

[2016-11-09 16:20] sudk1896 commented on #3513
Sure, I will submit the `ipynb` file and we can edit them as we go. Assuming you want me to commit the `ipynb` file. Right ?

[2016-11-09 16:21] karlnapf commented on #3513
Yes

[2016-11-09 16:34] sudk1896 commented on #3513
@karlnapf : It says conflicting file. I replaced the `KNN.ipynb` file in `/doc/ipython-notebooks/multiclass`. I assumed that was the right thing to do.

[2016-11-09 17:04] karlnapf commented on #3513
Google on how to submit pull requests on github

[2016-11-09 17:30] souravsingh commented on #3503
@karlnapf Sorry for the noob question but where can I see the swig warnings?

[2016-11-09 17:32] karlnapf commented on #3503
On our buildbot page, the python modular build for example
http://buildbot.shogun-toolbox.org/waterfall

[2016-11-09 17:36] karlnapf commented on #3522
In fact I just realised all notebooks will have broken links.

The best solve would be to use our shortcuts, like this
[CGaussianKernel](shogun.ml/CGaussianKernel)

Use grep to replace and correct in all notebooks at once. Single commit

[2016-11-09 18:03] souravsingh commented on #3514
MKL is also available for community [here](https://registrationcenter.intel.com/en/forms/?productid=2558&licensetype=2). We can perhaps make use of it.

[2016-11-09 18:05] vigsterkr commented on #3514
just need to test it.

current cmake should be able to detect/use it :)

[2016-11-09 18:37] souravsingh commented on #2791
We can make use of GLPK or dlib. I am assuming shogun already makes use of GLPK.

[2016-11-09 18:48] sudk1896 commented on #3513
@karlnapf : I submitted a new PR (the old one was getting too cumbersome).

[2016-11-09 19:01] souravsingh commented on #1875
@karlnapf Would the project still be relevant for shogun right now?

[2016-11-10 13:45] sudk1896 commented on #3514
@karlnapf @vigsterkr : I have downloaded and installed the MKL library. Could you suggest some entrance tasks that I could do ? Thanks.

[2016-11-11 14:59] karlnapf commented on #3514
Make Shogun's eigen3 use it. If that doesnt make it clear (nontrivial task, will require solving lots of subproblems using the Google-it approach), better pick another entrance task

[2016-11-11 15:01] karlnapf commented on #1875
Definitely, but this is a big undertaking. Better start smaller

[2016-11-11 15:02] karlnapf commented on #3513
BTW you can always update old PRs, no need to open new ones allt he time

[2016-11-11 20:20] ceerobins opened #3531 "BigInput branch testing and integration"
We have found amazing benefit/robustness to scaling 'hyper plane cutting algorithms" over wide sparse noisy data, demonstrated this over scale up in sample and dimensionality (we are now at a solution space around 2.037... x10^90 and want to keep pushing).  We followed this from the human genome side of things and initially using the COFFIN framework outside of shogun.

Vicktor, being the rad dude

[2016-11-11 21:12] sudk1896 commented on #2674
@karlnapf : I recreated one of the listed tutorials here using SHOGUN (in python). I used the `USPS` dataset and created an analog of the scikit tutorial. More specifically on `Hessian LLE` given [here](http://scikit-learn.org/stable/auto_examples/manifold/plot_lle_digits.html#sphx-glr-auto-examples-manifold-plot-lle-digits-py).

Thing is how do I know if this is correct/accurate. I can't find the

[2016-11-14 15:30] sudk1896 commented on #2748
@iglesias : I looked at the tests. One test which **wasn't** there was, `transposing` a square matrix. The case where `number_of_feats > number_of_vectors` and vice-versa is covered.
Also, I am working on this and would add the suggested tests you mentioned. Anything else that you might've missed, please suggest those as well.
Thanks.

[2016-11-14 17:03] karlnapf opened #3535 "Propper error message when meta-testsuite doesnt exist"
See
http://pastebin.com/yQXbN8N2

It should tell to update the git submodule, so people don't need to ask what this error is about.

This is an extremely minimal cmake related entrance task, one line

[2016-11-14 20:11] karlnapf commented on #2674
Nice in principle. Can you send a PR then I can give comments.
Please always paste a link of the notebook with outputs in the PR.
The PR itself should be without outputs.
Looking forward to reviewing it

@lisitsyn any ideas on the reconstruction error? If we dont have it, would be good to add that to shogun, it is easy

[2016-11-14 20:13] karlnapf commented on #3531
Thanks for the feedback :)
So what is this issue about, getting things merged?
@vigsterkr seems like there is only one commit in there?

[2016-11-14 20:16] karlnapf opened #3537 "Systematically test serialization of trained models"
We need to make sure that *all* Shogun can dump trained models to disc!

Basically, every learning algorithm in shogun, that is based on training/test (so starting with CMachine), should be trained on a (small) exampe dataset, then serialized, then de-serialized and made sure that it can be applied to test data.

This task is to automate that.

[2016-11-14 20:16] karlnapf commented on #3481
#3537

[2016-11-14 20:29] karlnapf commented on #3460
Sorry about the delay. This unfortunately is a bug. Will look into it and adding to 5.1 milestone

[2016-11-14 20:47] karlnapf commented on #3460
I locally have the same errors on ubuntu 16.04 with latest develop and standard packages

[2016-11-14 20:47] rekado commented on #3460
It might be sufficient to `#define NO_C_HEADERS` before including `R.h`.  The R NEWS file says that `R.h` should not be included from within `extern C` blocks, but that's what swig appears to do.  With R 3.3.0 C headers are included when `R.h` is included.  This can be avoided by defining `NO_C_HEADERS`.

I haven't tested this with Shogun yet, but it worked for SPAMS, which also includes bindings

[2016-11-14 20:48] karlnapf commented on #3460
Cool, thanks for the hint!

[2016-11-14 20:52] karlnapf commented on #3460
Just for the record, adding `define NO_C_HEADERS` in the `sg_print_functions.cpp (manually, after it was generated by SWIG), results in different compilation errors

https://gist.github.com/karlnapf/9538ea56ead65bc1c470543ff6c3bd95

[2016-11-14 20:56] karlnapf commented on #3460
So the NEWS entry for 3.3.0 you refer to says:

    When R headers such as ‘R.h’ and ‘Rmath.h’ are called from C++ code in packages they include the C++ versions of system headers such as ‘<cmath>’ rather than the legacy headers such as ‘<math.h>’. (Headers ‘Rinternals.h’ and ‘Rinterface.h’ already did, and inclusion of system headers can still be circumvented by defining NO_C_HEADERS, including a

[2016-11-14 21:11] karlnapf commented on #3460
Same error with R 3.3.2

[2016-11-14 21:28] karlnapf commented on #3466
This has high priority as we are currently not executing any R bindings in any test (removed the modular examples)
@vigsterkr

[2016-11-15 01:33] frawha commented on #3457
I tried downloading from src from github and running setup.py, got the following error report:

`$ sudo python setup.py install
Conversion of long_description from markdown to reStructuredText failed, skipping...
Retrieving Shogun version
Verifying Shogun preconditions
Shogun build environment completed tasks: cmake: [False] -  make: [False] - make install: [False]
Bootstrapping Shogun
Running CMa

[2016-11-15 01:33] frawha opened #3539 "Can't install using setup.py"
I tried downloading src from github and running setup.py, got the following error report:

`$ sudo python setup.py install
Conversion of long_description from markdown to reStructuredText failed, skipping...
Retrieving Shogun version
Verifying Shogun preconditions
Shogun build environment completed tasks: cmake: [False] - make: [False] - make install: [False]
Bootstrapping Shogun
Running CMake
CMa

[2016-11-15 13:48] hongguangguo opened #3541 "When I `cmake cmake -DENABLE_TESTING=on ..`, It occurs some error"
[code]
I google it, but now it doesn't work.
Would some one explains, Thank you!

[2016-11-15 13:59] hongguangguo commented on #3541
I works, I didn't update submodule `data`

[2016-11-15 13:59] #3541 closed

[2016-11-15 14:06] hongguangguo opened #3542 "How to develop shogun in a easy way."
I'm  a newbie. If I want to add a new feature, ex:MyClass. How to compile it, and test directly. I'm very confused.

Would some one illustrate some detail development about shogun ?

for example I want to add a class.
[code]
how to compile it, and test.
Can I write a main fun so as to test it?  is It ok?

[2016-11-15 14:19] karlnapf commented on #3542
Hi!

We currently have no readme for this. Any contribution is very welcome.

*However*, Shogun does all this in a very standard way

 * Add your class
 * Run `make` to compile Shogun (it is automatically added, you might have to start a fresh build)
 * enable `-DENABLE_TESTING=On` in cmake
 * `make test` runs unit tests, you can add a unit test based on the existing ones
 * you can run a single s

[2016-11-15 14:19] #3542 closed

[2016-11-15 14:28] karlnapf commented on #3541
A patch for the readme would be appreciated here as well :)

[2016-11-15 14:43] hongguangguo commented on #3542
Thank your reply @karlnapf , I will try it.

[2016-11-15 14:57] karlnapf commented on #3542
I just commented on a PR in the shogun-wiki repo. You can join efforts in there.

[2016-11-15 16:20] karlnapf commented on #3539
I guess the error message tells you what is wrong: you need ctags for this particular build configuration.
You can pass `-DBUILD_META_EXAMPLES=OFF` as an option to the cmake to avoid this.
You just wont have the examples then

[2016-11-15 16:20] #3539 closed

[2016-11-15 18:27] karlnapf commented on #3459
Is this still happening?

[2016-11-15 19:23] sudk1896 commented on #3535
@karlnapf: I obviously know how to solve this :)
Which file should I be editing here ?

[2016-11-15 22:54] karlnapf commented on #3535
Grep is your friend here

[2016-11-15 22:54] karlnapf commented on #3535
It should be in install already

[2016-11-16 02:14] hongguangguo commented on #3541
yes, I would. But, I don't know which readme file to patch.

[2016-11-16 07:40] sudk1896 commented on #3535
@karlnapf: The instruction for git init submodule is already given  [here](https://github.com/shogun-toolbox/docs/blob/master/INSTALL.md#basics-). It says whenever yo've trouble to do `git submodule update --init`. Should I still add something to the `INSTALL` Readme.

[2016-11-16 18:25] sudk1896 commented on #2526
@karlnapf @OXPHOS : I see that (@OXPHOS) your summer work was with linalg. I also checked your repo and saw your WIP with regards to `Cholesky` Decomposition. I would like to get started with `QR Decompostion`, since no one else is working with it. Could you give me some pointers/general rules, guidelines etc on how I should go about adding it. Thanks.

[2016-11-16 23:33] karlnapf commented on #2526
@sudk1896 I don't think it is a good idea to get involved here. We will merge linalg soon and then there will be tons of stuff (easy) to do, but currently things a bit more complicated and not really good for getting involved in Shogun

[2016-11-16 23:42] karlnapf commented on #3535
This is not about changing readmes, but the cmake error message that you get when the data module is not present.

[2016-11-16 23:43] karlnapf commented on #3541
#3535

[2016-11-17 01:11] TianShengLi opened #3545 "Remove msinttypes dependency"
Google Code has closed
msinttypes only two files, remove this dependency should not be difficult

CMakeLists.txt (361)

[code]

[2016-11-17 01:13] vigsterkr commented on #3545
@TianShengLi check feature/windows branch for windows build.... currently there are couple of issues that needs fixing. but there this hole story of MSIntTypes is fixed....

[2016-11-17 01:13] #3545 closed

[2016-11-17 06:18] sudk1896 commented on #2526
@karlnapf : Okay, no harm done. I haven't looked into it anyway.

[2016-11-17 16:50] karlnapf opened #3548 "Make `meta_examples` make target depend on generator jsons"
I.e. on `examples/meta/generators/*.json` (all jsons in that dir)
Furthermore, it should depend on all python files, and in general everything that is used to generate the code listings. This way, we avoid weird errors when people modify the meta generator code (or data), and then the listings are not updated.

Easy task, requires a bit of cmake hacking. The file to start with is the `CMakeLists.t

[2016-11-18 13:26] karlnapf opened #3549 "changes in SWIG interface requires make clean"
When adding a new method to a Shogun class that is exposed via SWIG, a simple make (where shogun was first compiled before the method was added), will not cause the new method to be in the SWIG interface afterwards.

This needs fix, it will have to do with cmake dependencies, potentially the class_list.cpp. Should not be too hard to fix, but is a bit messy.

[2016-11-18 15:31] karlnapf opened #3552 "Octave interface doesnt have boolean arrays"
The typemap needs fixing. This is a task for someone interested in (reverse engineering) the SWIG typemaps and extend it for bool

[2016-11-18 16:12] karlnapf commented on #3552
related to #3452

[2016-11-18 17:17] karlnapf opened #3553 "Fix meta example when ´-DENABLE_TESTING=OFF`"
Since the `WrappedObjectArray` class is guarded and only available when testing is turned on, the meta examples which explicitly import that class will not compile (java, cpp).

Solution:
If variable storing is turned off in meta example `generator.py` (`storeVars` or so), then the includes for `WrappedObjectArray` also have to be omitted.

Nice non trivial entrance task and crucial for any furthe

[2016-11-18 17:18] karlnapf commented on #3553
For now, the workaround is to compile Shogun with the cmake siwtch `-DENABLE_TESTING`

[2016-11-18 17:43] karlnapf opened #3554 "Investigate and update jblas matrix library for java"
The fact that jblas cannot support boolean arrays causes all sorts of problems. We need to use a library that can deal with matrices/arrays in a better way.
These have to be worked around in particular in the meta examples at the moment, see e.g. #3550
Requires to change the typemaps....

[2016-11-18 18:02] karlnapf opened #3555 "Port all existing (python, libshogun) examples to meta examples"
#3000 is the full thing, example and cookbook page

This task is simple copy paste: Just take any of the existing python examples `examples/uncodcumented/python_modular` and create a meta example that does the same thing.

Remove the old example afterwards

This is a great task to get started with Shogun's examples, very easy.

There are a few hundred examples, so lots to do :)

[2016-11-18 18:05] karlnapf opened #3556 "`make build_java_meta_examples` always re-compiles all java examples"
It should rather, just like the cpp meta examples, only re-compile when a dependency was changes.

The `CMakeLists.txt` in `examples/meta/cpp` will serve as inspiration to do that.

Relatively easy entrance cmake hacking task.

[2016-11-18 18:15] IOcodegeass commented on #3553
Yes this workaround worked for cpp interface.
Just by compiling using  **cmake switch -DJavaModular=ON -DENABLE_TESTING=ON ..**

[2016-11-18 18:41] karlnapf opened #3557 "`make build_csharp_meta_examples` always re-compiles all java examples"
Same as for #3556

[2016-11-19 18:09] souravsingh commented on #3555
@karlnapf I would like to take a stab at the issue.

[2016-11-20 20:25] ljw3351639 commented on #3213
@arianepaola  hello, i also got the problem, ../../../src/shogun/libshogun.so.17.2：对‘dsyev_’未定义的引用
../../../src/shogun/libshogun.so.17.2：对‘dorgqr_’未定义的引用
../../../src/shogun/libshogun.so.17.2：对‘dstemr_’未定义的引用
../../../src/shogun/libshogun.so.17.2：对‘dsyevr_’未定义的引用
../../../src/shogun/libshogun.so.17.2：对‘dsygvx_’未定义的引用
../../../src/shogun/libshogun.so.17.2：对‘dgesvd_’未定义的引用
and what did "Adding manua

[2016-11-20 22:04] vigsterkr commented on #3213
@ljw3351639 could you tell me the specs of your OS?

[2016-11-21 08:45] hongguangguo opened #3558 "I want a mini_shogun, if I only need tree model, how to extract source code related tree."
is There  some easy way to compile only source code I want?

[2016-11-21 09:32] vigsterkr commented on #3558
@hongguangguo this is currently not possible only with manual hacks. it's on the roadmap, but i am afraid only for 7.0. of course if you wanna help out to speed up the process i could point you to some of the pre-requirments for it.

[2016-11-21 10:59] hongguangguo commented on #3558
yes, I would like to do it. So as to I know  the project building details.  Than you a lot

[2016-11-21 14:22] karlnapf commented on #3558
There is some hack script written by @tklein23 but it is old and unlikely to work.
https://github.com/tklein23/shogun-partial-build

For now `ccache` effectively avoiding to re-compile things that haven't changed ... not optimal

[2016-11-21 14:22] #3558 closed

[2016-11-21 14:25] karlnapf commented on #3555
Yeah sure, as said, there is hundreds

[2016-11-21 19:17] Pazaak opened #3560 "SVMLight.h missing"
Hi,
I'm trying to work with MKL, but I am running into a common problem all the times I try to install shogun, SVMLight.h is missing in the usr/include/shogun/classifier/svm folder. This happens to me by installing it in Debian 8 via apt-get libshogun-dev and by compiling from source in Ubuntu 16.04. I can see the file in the source files, but in the installation it seems to be missing. Cmake says

[2016-11-21 19:57] vigsterkr commented on #3560
@Pazaak we had to remove the svmlight from teh debian package due to licensing issues. if you wanna use svmlight, you'll have to compile libshogun manuall.

[2016-11-21 19:57] #3560 closed

[2016-11-24 22:04] karlnapf commented on #3460
Fixed via #3538

[2016-11-24 22:04] #3460 closed

[2016-11-25 10:26] rekado commented on #3460
Nice, thank you!

[2016-11-25 15:02] karlnapf commented on #2600
We now have the new API cookbook

[2016-11-25 15:02] #2600 closed

[2016-11-25 16:56] hongguangguo opened #3565 "Awesome new Wiki, Thanks. But I don't know where the details about SG_REF"
the old wiki illustrated the details about init shogun, SG_REF.  But in new wiki I didn't find.

[2016-11-25 17:28] karlnapf commented on #3460
Let me know if it worked :)

[2016-11-25 17:29] karlnapf commented on #3565
Adding back ... thanks for letting us know

[2016-11-25 17:29] #3565 closed

[2016-11-25 17:44] karlnapf commented on #3565
https://github.com/shogun-toolbox/shogun/wiki/Minimal-library-usage

[2016-11-25 17:52] karlnapf commented on #1251
This should rather be fixed with the new tags done in GSoC 2016
https://github.com/shogun-toolbox/shogun/wiki/GSoC-follow-up-blog-posts

[2016-11-25 17:52] #1251 closed

[2016-11-26 14:52] Kavignon commented on #3216
Kevin would like to stay in touch on LinkedIn.

Kevin Avignon
Senior Software Engineer Student
Montreal, Canada Area

View profile https://www.linkedin.com/e/v2?e=0-ivzc610u-ts&a=publicProfile&tracking=eml-guest-invite-pprofile-link-cta&ek=invite_guest&vanityName=kevinavignon

Confirm that you know Kevin https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Uz8ENitQ&invitationId=62082909

[2016-11-26 15:57] karlnapf commented on #3216
Deleting comment as linked in spam

[2016-11-27 07:25] ljw3351639 commented on #3213
@vigsterkr ，I just delet the part about FIND_PACKAGE(Atlas) in the markelist.txt,  and  only used FIND_PACKAGE(CBLAS), it will fine. So maybe the problem is about the Atlas libs

[2016-11-27 09:12] vigsterkr commented on #3213
@ljw3351639 i see... still would be good to know what is your setup so i could reproduce and possibly fix this error :) thnx

[2016-11-29 16:16] jgomezlopez commented on #3459
Yes it is still happening. I tried to compile version 5.0 and the error is the same

In file included from /home/jose/software/shogun-shogun_5.0.0/src/shogun/kernel/normalizer/KernelNormalizer.h:16:0,
                 from /home/jose/software/shogun-shogun_5.0.0/src/shogun/transfer/multitask/MultitaskKernelMaskPairNormalizer.h:16,
                 from /home/jose/software/shogun-shogun_5.0.0/src/s

[2016-12-01 21:14] Kavignon commented on #3216
Kevin Avignon would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=Uz8ENitQ&invitationId=6208290943662125057&trk=eml-first_guest_reminder_01-hero-121-accept_text&trkEmail=eml-first_guest_reminder_01-hero-121-accept_text-null-%7Etutnck%7Eiw6msfjg%7El0

View Kevin Avignon&#39;s profile: https://www.linkedin.com/com

[2016-12-08 13:12] hrushikesht opened #3576 "Unable to install package on Ubuntu 16.04"
The ppa gets successfully added. But after doing `sudo apt-get update` I get  [this](https://gist.github.com/hrushikesht/89ccf3983de3801570958defd811b076).
Do I have to compile from the source?

[2016-12-08 13:14] vigsterkr commented on #3576
@hrushikesht for the time being we are only generating trusty packages nightly. but i can setup a ppa to create xenial as well.. but till then you should compile from src.

[2016-12-12 04:37] beew opened #3578 "Modular octave interface does not build with octave 4.2.0"
It builds with octave 4.0.3 but build fails with 4.2.0

[code]
Shogun from latest master, OS is Ubuntu 16.04 64 bit, swig 3.010

[2016-12-12 14:05] karlnapf commented on #3578
Thanks for reporting. Looks like some octave include file changes cause this.

[2016-12-12 17:51] karlnapf opened #3580 "Add integration testing data for all uncovered meta examples"
Some meta examples do not have testing data, e.g. the nystrom regression one.

This (super easy) entrance task is to add such integration testing data. See the wiki develop readme for details how to do this.

Workflow
1.) Send PR and merge to data repo
2.) Update data submodule commit hash in develop branch and send a second PR

Potentially, this can be done for more than a single example at a tim

[2016-12-13 16:02] mitakas commented on #3576
@vigsterkr Can you also setup the ppa to generate stable packages for xenial?

[2016-12-14 15:37] karlnapf commented on #3576
This will have to wait until after the xmas break ;)

[2016-12-17 01:53] MikeLing commented on #3507
Hey @karlnapf, I would like to work on this issue, is that about to separate https://github.com/shogun-toolbox/shogun/blob/9a73256357e356cc661852874c2c3ff09ffb6d6b/src/shogun/multiclass/KNN.cpp into different files(subclasses)?   Should I still put them into shogun/src/shogun/multiclass or I should  put them into a new path like shogun/src/shogun/KNN folder?

[2016-12-17 01:55] MikeLing commented on #3507
Oh furthermore, I found PR #3544 is closed rather than merged. So, Do we still need replace pointer and use linalg instead of loops in KNN?

Thank you :)

[2016-12-17 15:36] MikeLing commented on #1889
@karlnapf I would like to work on this issue if it's ok. Basically, I will start my work based on #2092. Is that ok?

[2016-12-17 21:51] OXPHOS commented on #3500
Needs to migrate:
- `Apply`
- `Convolve`
- `ElementSqaure` (Not sure about this one as it's just a specialization of `ElementProduct`)
- `ElementUnary`
- `MatrixProduct`
- `SpecialPurpose` (elementwise logistic function)
Can add:
- `Transpose` (Currently in `SGMatrix`)
Optimization
- `ASSERT` in unit-tests
- Integrate `in-place` methods and the not in-place methods

[2016-12-18 09:54] MikeLing commented on #1889
@karlnapf I just add some code for this issue, but when I try to use CMath::fequals like CMath::fequals<T>(vector[i], other.vector[i], accuracy, tolerant), the compiler tells me **cannot convert 'const std::__1::complex<double>' to 'float64_t' (aka 'double') without a conversion operato**.
But it will pass if I change **T** to specific type like "float" or "double"

[2016-12-18 11:23] MikeLing commented on #1901
Hi @karlnapf and @yorkerlin , I would like to work on this and #1902 issue. But I haven't too much knowledge about GPs, so could I learn GPs from now and try to fix them by reading codes in Shogun and read relative documents? I do know some basic ideas about ML, so I think the whole process(learn and commit some workable code ) will spend one or two months? Is that ok? Thank you :)

[2016-12-19 16:40] Thuva4 opened #3583 "Installation error"
I can not able to install shogun toolbox in Linux mint 18 . I got following error message.

'This PPA does not support xenial'
Cannot add PPA: ''This PPA does not support xenial''.

[2016-12-21 17:51] karlnapf commented on #3583
Want to contribute one?
We might work on this early next year

[2016-12-26 09:01] karlnapf commented on #1901
Yes contributions are welcome here. Let us know if you need help. Reading existing codes, examples, and the gp book by Rasmussen is probably the best start

[2016-12-26 09:03] karlnapf commented on #1889
This task is low priority, better find something else. Please discuss technical issues as the above in separate threads to keep this one clean

[2016-12-26 09:05] karlnapf commented on #3507
Yes that's all still useful to clean up. Start with something simple.... not everything at once

[2016-12-26 13:40] abhinavrai44 commented on #3580
Hi @karlnapf ,
I am new to Shogun and I would like to take up this task.

[2016-12-28 13:51] cfjhallgren commented on #3580
Added a PR with integration testing data for KRR Nyström in shogun-data

[2016-12-28 13:52] prakhar2b commented on #3129
Hello, I would like to work on this @yorkerlin  @karlnapf

Could somebody get me started with the code base and current status of this project. Thanks

[2016-12-28 15:06] cfjhallgren commented on #3580
Sorry didn't see you did it already

[2016-12-29 20:43] iarroyof commented on #3129
Thank you for sharing this paper..

[2016-12-30 11:44] MikeLing commented on #3507
A small question in here, why we don't use semicolon after `ASSERT()`(e.g. https://github.com/shogun-toolbox/shogun/blob/9a73256357e356cc661852874c2c3ff09ffb6d6b/src/shogun/multiclass/KNN.cpp#L47)

[2016-12-30 14:11] markroxor opened #3587 "generating showroom page"
Hello all,
I know this is not the right place to ask this but I have tried the IRC already.
But can someone please tell me how Shogun generates their showroom page - http://www.shogun-toolbox.org/showroom with all the notebooks?
Thanks.

[2016-12-31 13:18] MikeLing commented on #3507
what's the exactly meaning of **lhs** and **rhs** feature in KNN code?

[2017-01-05 13:48] ivmarkp opened #3589 "Fix outdated/broken links in Shogun Wiki"
Hi -- just getting started with Shogun and as I was going through the Shogun wiki, I came across some outdated links. A quick grep revealed the same issue in multiple places. I've updated the links and pushed the commit to this [repo](https://github.com/ivmarkp/Shogun-Wiki).

There seems to be no way for me to open a PR with the changes in wiki because apparently GitHub doesn't support pull reques

[2017-01-07 11:35] MikeLing commented on #3507
@karlnapf could you give me some hits about  lhs and rhs feature in shogun ? Thank you :)

[2017-01-09 11:27] karlnapf commented on #3507
Let's discuss such questions in IRC and keep the thread clean of them.

[2017-01-09 11:32] karlnapf commented on #3589
Thanks for that!

[2017-01-09 11:44] karlnapf commented on #3587
Check https://github.com/shogun-toolbox/shogun-web2

[2017-01-09 11:44] #3587 closed

[2017-01-09 11:44] karlnapf commented on #3587
In paticular https://github.com/shogun-toolbox/shogun-web2/blob/master/templates/showroom.html and the main flask python script

[2017-01-09 11:46] karlnapf commented on #3129
Check the code for the other embeddings (the converters ported from tapkee). This is probably a bit more tricky than the other entrance tasks we  have.

[2017-01-09 16:26] markroxor commented on #3587
Thanks a lot :)

[2017-01-10 04:09] yorkerlin commented on #3129
You can have a look at this paper about exponential family embedding.
https://arxiv.org/abs/1608.00778

[2017-01-13 06:07] abhinavrai44 commented on #3485
Hi @karlnapf ,
I would like to solve this issue

[2017-01-15 18:15] vikrantvm opened #3594 "Question on python interface after installing with homebrew"
I did a homebrew install using `brew install shogun-ml`
From here how can I link it to be able to use it in the python interpreter?
I am not able to use `import modshogun`
The installation page does not state how to get the python interface running using the homebrew installation.

[2017-01-16 16:56] karlnapf commented on #3594
You need to expose the modshogun.py (either the one that was installed to your system or the one in the build folder) to your `PYTHONPATH` environmental variable. Then Python will be able to see them and you can `import modshogun`

[2017-01-16 16:56] #3594 closed

[2017-01-16 17:00] karlnapf commented on #3485
Its a not too hard (also not too easy) cmake / build issue. Only attempt if you know what you are doing, requires backwards-engineering of the existing build

[2017-01-16 17:28] abhinavrai44 commented on #3485
I have been looking into the issue. I am able to generate scala meta examples if you pass -DScalaModular=ON. This is what that need to be done, right ?

[2017-01-17 13:34] besser82 opened #3596 "make doc fails when building from release-tarball…"
[code]

The files from the external repo should be located into the release-tarball…

[2017-01-17 15:27] besser82 commented on #3596
After putting the missing files in place manually:

[code]

[2017-01-17 15:42] karlnapf commented on #3596
Thanks for reporting, should definitely be fixed

[2017-01-17 15:45] karlnapf commented on #3485
That is step 1. Step2 would be to make them part of the build (i.e. they are executed when running `make test`)
Can you send a pull request so we can discuss there? This will take a few iterations

[2017-01-17 15:50] karlnapf commented on #3535
Fixed by #3551

[2017-01-17 15:50] #3535 closed

[2017-01-17 18:58] vikrantvm commented on #3594
Yes I understand that and was able to use it by building from source. However it would be great if you could point out where to find modshogun.py when installed with homebrew. I was not able to locate it in the Cellar where homebrew installs the binaries. I would ideally like to use homebrew instead of building from source(takes up more space?). Thanks

[2017-01-17 21:12] besser82 commented on #3578
That's an issue with SWIG itself.  See https://github.com/swig/swig/pull/875.  So we cannot fix it directly, but Octave 4.2 will be supported by SWIG 3.0.12.

Either apply the patch from the linked PR to SWIG or stick with Octave 4.0.X until the next SWIG-release…  Sry.

[2017-01-17 21:12] #3578 closed

[2017-01-17 21:15] besser82 commented on #3554
I can ask Mikio Braun, if he'd intend to update JBLAS supporting boolean arrays…

[2017-01-17 21:20] besser82 commented on #3503
@karlnapf Silencing the compiler-warnings issued by SWIG-generated code would need to change the code-templates SWIG uses to generate the wrappers.  It's not our code, that causes these; it's just the way SWIG generates the code…

There's nothing we can do about it, but contributing to SWIG directly…

[2017-01-18 20:22] besser82 commented on #3018
It's not our code…  It's a simple limitation of LUA itself…  See:  http://www.swig.org/Doc3.0/Lua.html#Lua_nn17

[2017-01-18 20:35] besser82 commented on #3510
Know limitation of SWIG…  See:  http://www.swig.org/Doc3.0/Ruby.html#Ruby_nn65

[2017-01-19 09:00] besser82 commented on #3459
Well, this happenes radomly…  Have seen this in various builds, when (re-)building Shogun for Fedora.  I'm currently trying to build 5.0.0 for Fedora and I cannot get a successful build, because at least one out of six different arches fails due to this problem and makes the package-build fail in whole.

Afaik, we need class_list.cpp for the SWIG'ed bindings…

[2017-01-19 17:59] karlnapf commented on #3510
What about other languages?

[2017-01-19 18:00] karlnapf commented on #3018
This kills lua as an interface as most things cannot be used :(
We can make it usable via renaming automatically, but it also is a mess to test this automatically with the meta examples.
I still tend to do automatic renaming because it is better than removing the interface

[2017-01-19 18:02] karlnapf commented on #3503
I See

Many warnings are resolvable though, the python warning at some point were al resolved (undocumented interface parts)

[2017-01-19 18:04] karlnapf commented on #3554
That is an idea.
Though I don't Like the fact that jblas is turning everything into a double..... there must be an ndarray implementation for java no?

[2017-01-19 20:22] lisitsyn commented on #3018
Future get/set stuff would be totally broken. My take on that is dropping Lua interface is a sane choice. It was a bit more relevant as there was Torch but there is PyTorch now.

[2017-01-19 20:26] besser82 commented on #3018
@lisitsyn Will it be?  I mean, `Any my_data = get(char *);` or `set(char*, const any&)` would still be no problem…

[2017-01-19 20:34] lisitsyn commented on #3018
Yeah you're right may be we can overcome it with something. But again not sure if it is worth.

[2017-01-19 20:39] besser82 commented on #3018
Well, there is no real problem with Lua; the only thing is:  Using the Lua-Interface will be slower then others, just because Lua-typemapping will always use the widest type of the underlying atomic type, e.g bool or int will be int64_t, float will use double.

Implementation-wise there is no real problem with Lua…

[2017-01-19 21:01] besser82 commented on #3018
Anyways…  If we really go down the road to a more modular approach, SWIG-interfaces need to be re-written from scratch - No way around it…

[2017-01-21 17:42] besser82 commented on #3459
The madness continues…  :(

[code]

[2017-01-21 18:41] besser82 commented on #3459
This intercircular-header dependency-mess is so hard to fix…  -_-

[2017-01-22 04:33] mohit9727 commented on #3583
@karlnapf
I want to take up this issue, any guidelines/roadmap that I should follow?

[2017-01-22 15:11] sudk1896 opened #3602 "cmake error on Ubuntu 16.04, shogun unable to call protobuf."
I am trying to build shogun on Ubuntu 16.04. I have gcc and g++ (both are 5.4.0) installed. I also removed and re-installed google's protobuf but have been unable to build shogun. The error output is -
[code]
Help would be much appreciated.

[2017-01-23 14:27] piyushgoel997 commented on #3522
Hi, I'm new here and wish to take up this issue. So, kindly guide me through.

[2017-01-23 14:27] piyushgoel997 commented on #3537
Hi, I'm new here and wish to take up this issue. So, kindly guide me through.

[2017-01-23 15:55] karlnapf commented on #3537
Well, write something that trains a models, serializes it, deserializes it, and then applying it to test data gives the same results. Then automatically make this happen for all models

[2017-01-23 15:57] karlnapf commented on #3602
The `dsyev_` errors are LAPACK.
The other one is google protobuf, you can deactivate both in cmake I think.
But it would be good if we investigated what is going on here

[2017-01-23 16:01] #3589 closed

[2017-01-23 16:04] karlnapf commented on #3583
Google is your friend here
@vigsterkr can also point to our current ppa configuation files

[2017-01-23 16:28] karlnapf commented on #3018
I suggest to disable and then work around at some point (i.e. to drop it :D)

[2017-01-24 02:38] vigsterkr commented on #3576
https://launchpad.net/~shogun-toolbox/+archive/ubuntu/nightly

now has xenial builds...
and https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable will contain the stable builds for xenial as well

[2017-01-24 02:38] #3576 closed

[2017-01-24 02:53] vigsterkr commented on #3583
duplicate of #3576

[2017-01-24 02:53] #3583 closed

[2017-01-24 09:55] zhenyisong commented on #3457
I used the same protocol:  src/setup.py
and these were complains:
Verifying Shogun preconditions
Shogun build environment completed tasks: cmake: [True] -  make: [True] - make install: [True]
Setting Shogun Python packages location
Traceback (most recent call last):
  File "setup.py", line 299, in <module>
    version = get_shogun_version(),
  File "setup.py", line 205, in get_shogun_version
    i

[2017-01-24 11:41] karlnapf commented on #3457
The error message tells you what is going on
[code]
Either install ctags or disable meta examples

[2017-01-24 13:45] sudk1896 commented on #3602
@karlnapf: Do you require google protobuf and LAPACK for compiling SHOGUN ? I will edit the CmakeCache.txt file and switch both these options off.

[2017-01-24 15:05] mohit9727 commented on #2534
@karlnapf I would like to take this issue, how to start working ?

[2017-01-24 15:30] karlnapf commented on #2534
This is nontrivial, please only attempt if you have an idea what you are doing.
Googling libraries for this is the first step. Note that we want just memory management of such structures, math operations will be done via `linalg`

[2017-01-24 15:31] karlnapf commented on #3602
You can use `ccmake` to see all options.
LAPACK should be there (but I think it works without, many things will be unavailable). Protobuf is not so important

[2017-01-24 15:31] #3602 closed

[2017-01-24 16:30] piyushgoel997 commented on #3537
Actually I'm new to Open Source and know only the basics Machine Learning(with no experience in any project) so can you please explain to me in detail or assign me to an easier issue. I want to be involved in this project, so please guide me.

[2017-01-25 07:30] palashahuja opened #3604 "shogun installation error"
I have tried installing shogun on ubuntu 16.04 but I am receiving the following error
usr/local/lib/libbz2.a(bzlib.o): relocation R_X86_64_32S against `BZ2_crc32Table

'The compiler shows to use the fPIC flag, so I tried adding the fPIC flag in the CMakeLists.txt,, CMakeCache.txt and the Makefile but it doesn't work please help

[2017-01-25 07:51] besser82 commented on #3604
You are trying to link against a custom compiled static-archive of bzip2…  That's relly odd somehow…  Try to remove `usr/local/lib/libbz2.a` and install your system's `libbz2-dev`.  Then rebuild Shogun in a fresh build-tree and all should go fine.

Unfortunately I cannot assist you linking Shogun against a custom-built bzip2, since I do not know how it was compiled and all…

Please report, if your

[2017-01-25 10:10] karlnapf commented on #3537
Please read the "getting involved" guide in the wiki, about starting with Shogun. We can't hold your hands unfortunately. I suggest you pick something simpler if you don't know how to start here.

[2017-01-25 12:49] palashahuja commented on #3604
@besser82 That worked, thanks !

[2017-01-25 12:49] #3604 closed

[2017-01-26 02:35] vigsterkr opened #3605 "port parallel code using pthread"
There are several parts of the code that uses `pthread` for implementing parallel execution of the algorithms. These should be ported to use either `OpenMP` or C++11 `std::thread` (preferably openmp).

some examples:
 * https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/external/shogun_libsvm.cpp#L270
 * https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/distance/Di

[2017-01-26 13:39] piyushgoel997 commented on #3605
hi, I'm new to this and would like to take up this issue.

[2017-01-26 13:40] vigsterkr commented on #3605
@piyushgoel997 sure, PRs are welcome!

[2017-01-27 08:31] piyushgoel997 commented on #3605
Can you help me a bit in doing it since I'm also new to Open Source and Machine Learning? Like I found HAVE_PTHREAD at
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/classifier/svm/SVM.cpp#L22
then what do i need to do next?

[2017-01-27 08:34] vigsterkr commented on #3605
@piyushgoel997 in that case nothing. in the other case you can see that pthread is being used to run parallel code. you should convert that using OpenMP. all these are well documented libraries, so please read about them and then try to convert the code and send a PR. it's not a problem if it's not working 100%, but without an attempt on the code it's really hard to help.

[2017-01-27 09:32] piyushgoel997 commented on #3605
I made changes in Distance.cpp but I don't know if it's correct or not, so should I get it checked by you.

[2017-01-27 09:34] vigsterkr commented on #3605
@piyushgoel997 create a PR and it's gonna get tested and i can review it as well

[2017-01-27 09:51] piyushgoel997 commented on #3605
Made the pull request. Kindly review it.
https://github.com/shogun-toolbox/shogun/pull/3607
Thanks.

[2017-01-27 21:34] geektoni opened #3609 "Linking errors with ATLAS library"
Possible issue regarding some linking errors that appear when compiling shogun using ATLAS libraries.

Here the gists with the errors and the CMakeCache that does not work:
* **Errors** https://gist.github.com/geektoni/9ec823a1b05085f33f0c561053a705a9
* **CMakeCache** https://gist.github.com/geektoni/bcdbc9e15fc541d4430ee1eec7522357

The packages that I have installed through apt-get are:
* `libla

[2017-01-28 09:35] vigsterkr commented on #3498
done in 8fdf278dca78f98d4e06058a5ce3defd560d697d \o/

[2017-01-28 09:35] #3498 closed

[2017-01-28 09:35] vigsterkr commented on #1769
this should be fixed in latest develop after 8fdf278dca78f98d4e06058a5ce3defd560d697d

[2017-01-28 09:35] #1769 closed

[2017-01-28 09:36] vigsterkr commented on #3506
this was actually just a side-effect of not correctly guarding multithreaded code using pthreads

[2017-01-28 09:36] #3506 closed

[2017-01-28 09:39] vigsterkr commented on #2544
we should resurrect this bug as starting with 8fdf278dca78f98d4e06058a5ce3defd560d697d we natively support MS Windows build.
i reckon we should create a package and publish it on (nuget)[https://www.nuget.org] using appveyor

[2017-01-28 15:47] vigsterkr commented on #775
done via creating ppas

[2017-01-28 15:47] #775 closed

[2017-01-31 10:16] github-ssi opened #3612 "Stratified Cross Validation with Combined Kernels using Custom Kernels"
Hello,

I use libshogun 5.1.0 with gcc 4.9.2 on Debian 8, and have the following issue: I am training a CMKLMulticlass machine using a CCombinedKernel. This combined kernel contains several linear/Gaussian kernels and one CCustomKernel which I am constructing from an SGMatrix.

I have 100 feature vectors. Hence the Kernel Matrix of my custom kernel is 100x100, and an initial training on the whole

[2017-01-31 10:27] vigsterkr commented on #3612
this should definitely work, we'll look into it!

[2017-02-01 11:58] mohammadAdnan opened #3614 "Deep RBM using shogun?"
Hello,

I want to apply deep Restricted Boltzmann Machines using shogun for doing recommendation? Is it possible?

Thanks

[2017-02-01 12:08] vigsterkr commented on #3614
@mohammadAdnan for these type of questions the mailing list is more appropriate as an issue (hence i'm closing this). currently there's no example showing how to use RBM for recommendation, but certainly you can use it... depends how you actually formulate your problem.
here's a paper that talks about how to use RBM for CF:
http://www.machinelearning.org/proceedings/icml2007/papers/407.pdf

[2017-02-01 12:08] #3614 closed

[2017-02-01 12:36] mohammadAdnan commented on #3614
Thanks, vigsterkr i know about that paper, but i am asking about deep version of that paper (i wanna to do it), for doing recommendation. So can i do that using shogun?

[2017-02-01 12:46] vigsterkr commented on #3614
what do you exactly mean by deep version... but again subscribe to the mailing list and ask your question there.

[2017-02-01 12:47] vigsterkr commented on #3614
ah yeah i guess it could be... max it requires some patching in worst case :)

[2017-02-01 12:49] mohammadAdnan commented on #3614
Yeah i mean deep RBM for doing recommendation, i could also combine auto encoder for the same purpose? I am not quite sure which kind of library is suitable for my problem. I have limited time; 3 month!

[2017-02-03 12:36] sudk1896 opened #3615 "Unable to make due to svm_sgd error."
The following is the error I get while doing
[code]

[code]

Help would be much appreciated.

[2017-02-03 12:44] sudk1896 commented on #3615
Never mind, I solved it by commenting out ```svmsgd->set_epochs(num_iter);```. Could someone reproduce this bug, to see if it actually is a bug or not ? Thanks. If it is, might be an easy fix.

[2017-02-06 00:44] MikeLing commented on #3513
@karlnapf @sudk1896 , I would like to keep working on this issue, due to I just working on the KNN refactoring job. Is that ok?

[2017-02-06 08:34] sudk1896 commented on #3513
@MikeLing: Go ahead. I'm not working on it anymore.

[2017-02-07 02:34] MikeLing commented on #3513
Hi @karlnapf , I create a gist[1] for this issue, please tell me if I need to address it. BTW, I found the KD-Tree is more slower than cover tree and plaint knn, and plain knn. Is that ok to put it into the "Accelerating KNN" session?

[1] https://gist.github.com/MikeLing/6c08b1d5eaebc385c2a63fa1314b13b1

[2017-02-08 18:11] karlnapf commented on #2113
This will all be better with tags, once merged

[2017-02-08 18:11] #2113 closed

[2017-02-08 18:12] karlnapf commented on #2824
This is still open I guess?

[2017-02-08 18:28] #1031 closed

[2017-02-08 18:28] #869 closed

[2017-02-08 22:30] karlnapf commented on #2584
Closing as the meta example tests actually do cover this

[2017-02-08 22:30] #2584 closed

[2017-02-08 22:31] karlnapf commented on #2592
Swig and matlab is the way to go, see https://github.com/shogun-toolbox/shogun/wiki/GSoC_2017_project_swig

[2017-02-09 18:49] karlnapf commented on #3500
What is the minimal set of things that we need in order to merge the feature branch?
Is that feasible before say april?

[2017-02-09 18:49] vigsterkr commented on #3500
rebase :D

[2017-02-09 19:28] karlnapf commented on #3615
Lets investigate what is going on here

[2017-02-09 19:28] karlnapf commented on #3615
See my comments in #3617

[2017-02-09 19:33] karlnapf commented on #3513
Hi @MikeLing
It is hard to see from a gist what you changed/added. Can you send a PR, it will show me the diff. For that, pls remove the output of the notebook. Then **in addition** post a gist like the one above, so I can see how it looks.
Then we can discuss in the PR

[2017-02-09 19:46] karlnapf commented on #3500
That will take some time. Let me know @OXPHOS if you need help with that. Otherwise I might just do it

[2017-02-10 13:03] micmn commented on #3605
I've started working on this issue to get familiar with shogun's codebase and I've made a PR, I'd like to receive some feedback if this is the right way to port code to OpenMP (removing helper methods and thread params structs).
#3621

Also I think I've found a problem in CHashedWDFeaturesTransposed: in the else branch of dense_dot_range_helper sub_index is null. https://github.com/shogun-toolbox/

[2017-02-10 13:14] vigsterkr commented on #3605
@micmn cool stuff. i've added there some comments.
it very well be that there's a bug in the code fixes are more than appreciated.

[2017-02-11 01:19] vigsterkr commented on #3609
@geektoni i've just tried to reproduce this under 16.04. i have all those packages installed you've mentioned, but i cannot get the error.... could you do a `dpkg -l > package.list` and send it to me?

[2017-02-11 08:41] palashahuja opened #3624 "Unable to build shogun"
I was trying to do a clean vm _make_ of shogun, using this [Dockerfile](https://hub.docker.com/r/shogun/shogun-dev/~/dockerfile/)

The make procedure gets **stuck** after this line.
[  2%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/classifier/LDA.cpp.o

I also tried running shogun installation using the same docker file, but I am getting the same error.

[2017-02-11 12:43] geektoni commented on #3609
@vigsterkr made a gist. If you prefer by email let me know.
https://gist.github.com/geektoni/295b9e165630428509cb78428a3228df

[2017-02-12 05:25] MikeLing commented on #3513
@karlnapf here is the PR https://github.com/shogun-toolbox/shogun/pull/3620, please give me some feedback, thank you! :)

[2017-02-12 13:33] vigsterkr commented on #3459
started to pop up on our ppa builds: https://launchpadlibrarian.net/306118784/buildlog_ubuntu-xenial-amd64.shogun_5.1.0+1SNAPSHOT201702120915_BUILDING.txt.gz

[2017-02-12 13:40] vigsterkr commented on #3459
i'm wondering whether an `os.walk` is always alphabetical - couldn't find out in the manual - or the output is actually not fixed and it's maybe even using inode to do the traversing?
i'm referring to this bit in `class_list.cpp.py`:
[code]

i reckon an alphabetical sort on `result` wouldn't hurt... that way we are sure that the include order is *always* the same.

[2017-02-12 13:48] vigsterkr commented on #3459
BINGO: http://stackoverflow.com/a/5667552/2798875

[2017-02-12 14:40] vigsterkr commented on #3459
okey, the sorting of that `result` array solved the problem in the ppa build... any of you want to confirm if that's the case on your side as well?

[2017-02-13 09:05] #3491 closed

[2017-02-13 17:19] Nicolas99-9 opened #3625 "Installation failed"
I tried to install shogun in several ways : pip, ubuntu ppa and Compiling manually  but everything fail :

pip install shogun-ml
Collecting shogun-ml
Could not find a version that satisfies the requirement shogun-ml (from versions: )
No matching distribution found for shogun-ml

-----------------------------------------------------------------------------------------------
_~$ sudo add-apt-reposit

[2017-02-13 17:29] vigsterkr commented on #3625
@Nicolas99-9 xenial packages in ppa has been only added just recently and we have not released shogun since then. try the nightly ppa, it has the precompiled python package of shogun as well:
https://launchpad.net/~shogun-toolbox/+archive/ubuntu/nightly/

[2017-02-13 17:29] #3625 closed

[2017-02-13 17:38] Nicolas99-9 commented on #3625
now there is no more problem with the installation :
nicolas~# apt-get install libshogun17Lecture des listes de paquets... Fait
Construction de l'arbre des dépendances
Lecture des informations d'état... Fait
libshogun17 is already the newest version (5.1.0+1SNAPSHOT201702130606).
0 mis à jour, 0 nouvellement installés, 0 à enlever et 52 non mis à jour.

**but the python import doesn't work :
Impor

[2017-02-13 17:39] vigsterkr commented on #3625
```import modshogun```

[2017-02-13 17:40] vigsterkr commented on #3625
and have you actually done:
[code]
?

[2017-02-13 17:41] Nicolas99-9 commented on #3625
yes I did :
apt-get install python-shogun

import modshogun works but the code uses :
from sg import sg
sg('loglevel', 'WARN')

[2017-02-13 17:42] vigsterkr commented on #3625
which code?

[2017-02-13 17:43] vigsterkr commented on #3625
should be
[code]

here are some examples: http://shogun.ml/examples/nightly/index.html

[2017-02-13 17:44] Nicolas99-9 commented on #3625
A code that I'm supposed to run  for an assignment => http://attributes.kyb.tuebingen.mpg.de/

[2017-02-13 17:46] Nicolas99-9 commented on #3625
I tried  : from modshogun import sg
but :
ImportError: cannot import name sg

[2017-02-13 17:47] vigsterkr commented on #3625
mmm that `sg()` is quite old, but most of the code here should work if you replace `shogun` with `modshogun`:
http://attributes.kyb.tuebingen.mpg.de/new-attributes.py

[2017-02-13 17:51] Nicolas99-9 commented on #3625
Thanks you, I'm going to try to run the code.

[2017-02-13 17:52] vigsterkr commented on #3625
have fun... let us know if you have any problems!

[2017-02-13 18:38] Nicolas99-9 commented on #3625
labels_trn = Features.Labels(Lplatt_trn)

TypeError: Cannot create new instances of type 'modshogun.Labels'

What does this error means?

[2017-02-13 22:50] Nicolas99-9 commented on #3625
Could you help me (again) ? =)
AttributeError: 'modshogun.LibSVM' object has no attribute 'classify'
prediction=s.classify().get_labels()

[2017-02-14 00:48] vigsterkr commented on #3625
@Nicolas99-9 here's an example how `LibSVM` works:
http://shogun.ml/examples/nightly/examples/binary_classifier/kernel_svm.html

but please check the examples here as well:
https://github.com/shogun-toolbox/shogun/tree/develop/examples/undocumented/python_modular

and of course here's the whole API documentation:
http://shogun.ml/api/latest/index.html

[2017-02-14 02:46] vigsterkr commented on #3624
@palashahuja would really need more information than this...
like are you building yourself the docker image?
or just launching a docker container based on shogun/shogun-dev and try to compile shogun in it?

[2017-02-14 02:47] vigsterkr commented on #3609
@geektoni could you try to reproduce this with the latest develop?

[2017-02-14 04:27] palashahuja commented on #3624
@vigsterkr  I am actually running a docker container based on shogun/shogun-dev, cloned that repo and ran the installation process. The installation seems to stop at that particular line.

[2017-02-14 16:36] geektoni commented on #3609
@vigsterkr it seems to work! I don't get any linker errors when compiling now.

[2017-02-14 23:02] vigsterkr commented on #3609
great! then i'm closing this

[2017-02-14 23:02] #3609 closed

[2017-02-14 23:24] vigsterkr commented on #3624
ok so can you check your cpu load?

[2017-02-15 00:56] vigsterkr opened #3626 "Add"
Currently all the tree implementations, C4.5, CHAID, CART, requires the input feature to be in `CDenseFeatures<float64_t>`, which is... well not that optimal to say the least. :)

it'd be great that we at least add support for:
 * http://shogun.ml/api/latest/singletonshogun_1_1CStringFeatures.html
 * http://shogun.ml/api/latest/classshogun_1_1CCombinedFeatures.html

but as well would be great that

[2017-02-15 00:58] vigsterkr commented on #3556
ok i think this can be now closed \o/
thnx a lot @geektoni

[2017-02-15 00:58] #3556 closed

[2017-02-15 00:58] vigsterkr commented on #3557
closing since we got this with the help of @geektoni

[2017-02-15 00:58] #3557 closed

[2017-02-15 04:48] palashahuja commented on #3624
![cpu_load_usage](https://cloud.githubusercontent.com/assets/8504351/22960902/a836a88a-f367-11e6-8796-b533b9b0c225.PNG)

The _make_ process that is running with PID **5089** is taking the maximum cpu usage.

[2017-02-15 11:53] hao555sky commented on #3149
Sorry for interrupting, I met the issue "Python module ply required for meta examples.  Disable meta examples or install python-ply" even if I installed the python-ply. What does the "meta example" mean?

[2017-02-15 12:26] karlnapf commented on #3626
See #3313 for an example for such a patch

[2017-02-15 12:38] karlnapf commented on #3149
It is these guys: shogun.ml/examples

If you want to generate the code for those locally, you need ply. If you have it installed and it is not detected, please send a report with details of your setup in a new issue.

[2017-02-15 13:17] karlnapf opened #3628 "Surpress "unused variable" warnings in compiled meta examples"
I.e.

 * java
 * csharp
 * cpp (was done [here](https://github.com/shogun-toolbox/shogun/pull/3611))

This involves adding a flag to the compile command in the corresponding cmake file. Nice minor task to get used to the cmake meta example setup we have

[2017-02-15 15:24] karlnapf commented on #3612
Hi Bert,

can you post some code that lets us reproduce your error?
Thanks!

[2017-02-15 18:50] karlnapf commented on #1415
Static interfaces dont exist anymore

[2017-02-15 18:50] #1415 closed

[2017-02-15 21:08] djokester commented on #3626
Can I take this up?

[2017-02-15 21:23] karlnapf commented on #3626
Yeah do it !

[2017-02-16 08:20] github-ssi commented on #3612
Hi karlnapf,

the following code just generates a combined kernel from one custom kernel (from SGMatrix) and one Gaussian kernel. MKL is used on 10 input vectors, 10 dimensions each. Training on the full dataset works, but cross validation with 2 folds produces the following error:

    [DEBUG] entering CKernel::remove_lhs_and_rhs
    [DEBUG] leaving CKernel::remove_lhs_and_rhs
    [DEBUG] enterin

[2017-02-16 12:26] karlnapf opened #3629 "Polish class API documentation"
Many of Shogun's classes do not have proper class documentation, i.e. they

 * are written in bad English (spelling, punctuation, etc)
 * are written without or wiht bad math (not use Latex, messy)
 * do not explain what the class can do, or how it is implemented
 * do not talk about the computational load to be expected when running it
 * do not give appropriate references to the papers describin

[2017-02-16 12:36] karlnapf commented on #3612
Thanks! Will check soon!

[2017-02-16 15:13] palashahuja commented on #3624
@vigsterkr, I am unable to understand why is this exactly happening ?

[2017-02-16 16:48] ahmedmazari opened #3630 "Shogun error in compilation at 68% What's wrong ?"
In ubuntu 16.04  :

cmake -DPythonModular=ON ../

make
then l get  :
[ 67%] Building C object src/shogun/CMakeFiles/libshogun.dir/lib/external/PMurHash.c.o
[ 68%] Building C object src/shogun/CMakeFiles/libshogun.dir/lib/external/dSFMT/dSFMT.c.o
[ 68%] Building C object src/shogun/CMakeFiles/libshogun.dir/lib/external/SFMT/SFMT.c.o
[ 68%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/bas

[2017-02-16 17:38] kris-singh commented on #3537
@karlnapf i want to take this up.
Is serialisation module implemented or not. Or should we only implement the testing part of it.

[2017-02-16 17:57] karlnapf commented on #3630
* Can you please put this in a gist and delete the super long message?
 * Wat happens if you disable nlopt in cmake?
 * Can you link other applications against your system's nlopt?

[2017-02-16 18:05] karlnapf commented on #3537
We have serialization working at the moment (at least in theory). The details under the hood will soon be replaced, but that doesn't matter for this task.

Try to come up with a simple way to test serialization / de-serialization of all models.

Algorithm for supervised methods (`CMachine` subclasses)

1. Load training data
2. Train model on training data
3. Serialize model to file
4. De-serialize

[2017-02-16 18:26] ahmedmazari commented on #3630
cmake  nlopt=OFF   in that way ?

Can you link other applications against your system's nlopt?
actually it's the only error l get

[2017-02-16 19:00] karlnapf commented on #3630
the docs tell you `cmake -DENABLE_NLOPT=OFF`
`ccmake` is a good tool for such things

Did you actually try 3)?

[2017-02-16 19:02] ahmedmazari commented on #3630
l didn't understand what did you mean by  Can you link other applications against your system's nlopt?

[2017-02-16 19:20] besser82 commented on #3459
@vigsterkr I can confirm the patch works:  https://koji.fedoraproject.org/koji/buildinfo?buildID=859674

[2017-02-16 19:21] vigsterkr commented on #3459
ok great thnx, closing!

[2017-02-16 19:21] #3459 closed

[2017-02-16 19:40] ahmedmazari opened #3631 "How to import shogun in python ?"
Hello,
after installing shogun correctly (cmake, make install ..)

l created a new file python file.py  where  l tried to import shogun as follow
`from shogun import * `
or
`from sg import * `

of
`from modshogun import *`

it doesn't work

how can l import shogun package so  ?

[2017-02-16 20:45] OXPHOS commented on #3500
@karlnapf @vigsterkr Sorry I missed this thread.
The things can be done pretty soon:
- `Cholesky`
- `Sum`
- Clean up interfaces (in-place and non in-place methods)
- Thread-safe GPU transfer methods
Can we aim for Mar 1st for the rebasing?

Most of the `linalg` methods are transfered except `ElementUnary` and `SpecialPurpose`.

[2017-02-16 23:51] karlnapf commented on #3631
import modshogun or
from modshogun import *

See the examples and the readmes

[2017-02-16 23:51] #3631 closed

[2017-02-16 23:53] #3630 closed

[2017-02-17 01:20] ahmedmazari commented on #3630
when l tried everything from scratch l got this compilation error

[code]

[2017-02-17 02:08] ahmedmazari opened #3632 "shogun error in compilation related to nlopt"
after setting
[code]
l even  removed nlopt  :
`sudo apt-get remove python-nlopt`

if the problem comes from nlopt how to solve that

[  1%] Generating version header
[  1%] Built target version
[  1%] Built target class_list
**[ 68%] Built target libshogun
[ 68%] Linking CXX shared library libshogun.so**
**/usr/bin/ld.gold: error: /usr/local/lib/liblzo2.a(lzo1x_1o.o): requires dynamic R_X86_64_PC3

[2017-02-17 02:09] vigsterkr commented on #3632
please stop pasting here huge debug content, use public services like pastebin.com

[2017-02-17 02:11] ahmedmazari commented on #3632
sorry for that i though it s the right way to give further detail about the result of my compilation

[2017-02-17 02:11] vigsterkr commented on #3632
this is obviously would not ever run currently:
[code]

before you continue this, please remove the created `build` directory and just run
[code]

[2017-02-17 02:12] vigsterkr commented on #3632
and btw why do you want to build it from the source? if you just want on your ubuntu/debian system python modular interface use the ppa: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/nightly

[2017-02-17 02:27] ahmedmazari commented on #3632
thank you for your response. But when l execute `cmake -DENABLE_NLOPT=OFF -DPythonModular=ON .. `outside of build directory (l mean in shogun directory) l got this error
`CMake Error: The source directory "/home/anelmad" does not appear to contain CMakeLists.txt.`
such that my path to shogun is `"/home/anelmad/shogun/ "`
and to build is `"/home/anelmad/shogun/build"`

2) you l should just use the

[2017-02-17 02:29] vigsterkr commented on #3632
ok so my apologies it should have been:
[code]

[2017-02-17 02:30] vigsterkr commented on #3632
yes just add the nightly, and it's not related to your 68% but in case you just want to test shogun with python then that's more than enough for you....

[2017-02-17 02:31] ahmedmazari commented on #3632
after executing `make` l got this error  now :
`make: *** No targets specified and no makefile found.  Stop.`

[2017-02-17 02:33] vigsterkr commented on #3632
[code]
if that's the output then you are clearly doing something very wrong sorry.... and i really cannot help you as this has nothing to do with shogun or cmake...

[2017-02-17 02:37] ahmedmazari commented on #3632
actually it works. thus l come back to my origin error after 68 % compilation

[2017-02-17 02:39] vigsterkr commented on #3632
can you copy the content of this file somewhere:
```/home/anelmad/shogun/build/src/shogun/lib/config.h```

[2017-02-17 02:40] vigsterkr commented on #3632
btw you hand compiled and installed that nlopt..
either remove it or fix it... you have not compiled that nlopt adequately...
your nlopt is in `/usr/local/` prefix...

[2017-02-17 02:47] ahmedmazari commented on #3632
l have in `/usr/local/include   nlopt.f  nlopt.h nlopt.hpp `
and in `/usr/local/lib  libnlopt.a libnlopt.la liblzo2.la`
can l remove them ?
2)
can you copy the content of this file somewhere:
`/home/anelmad/shogun/build/src/shogun/lib/config.h`
what do you mean by that ? for which purpose ? then l call that file ?

[2017-02-17 02:48] vigsterkr commented on #3632
you can remove it or not as you wish.
clearly this is not a bug of shogun but your system - as state from the errors:
[code]

until you dont fix this error of your custom nlopt shogun will not be able to compile.

i'm closing this issues as it is clearly not shogun's error

[2017-02-17 02:48] #3632 closed

[2017-02-17 02:51] ahmedmazari commented on #3632
thank you alot for your valuable help

[2017-02-17 03:21] ahmedmazari opened #3634 "shogun compilation errror : Linking CXX executable transfer_multitaskleastsquaresregression"
After fixing th problem with nlopt l got another error of compilation which is a bit strange , l can't figure it out
[code]

[2017-02-17 03:22] ahmedmazari commented on #3634
l don't understand these lines  :
[code]

[2017-02-17 12:20] karlnapf commented on #3634
Can you please stop opening issues around you not being able to compile Shogun. Rather ask on the mailing list or on IRC. This is likely to be an issue with your local lapack installation. Check the Lapack setup and whether cmake detects things properly.

Also consider using a precompiled package ...

[2017-02-17 12:20] #3634 closed

[2017-02-18 08:05] hao555sky opened #3640 "error when I run "cmake ..""
A library with BLAS API not found. Please specify library location.
-- LAPACK requires BLAS
-- A library with LAPACK API not found. Please specify library location.
-- Could NOT find GLPK (missing:  GLPK_LIBRARY GLPK_INCLUDE_DIR GLPK_PROPER_VERSION_FOUND)
-- Could NOT find CPLEX (missing:  CPLEX_LIBRARY CPLEX_INCLUDE_DIR)
-- Could NOT find Eigen3 (missing:  EIGEN_INCLUDE_DIR) (Required is at least

[2017-02-18 08:32] palashahuja commented on #3640
@hao555sky, you need to install lapack or blas to make shogun work
Try running this
[code]
Or you could even consult this [Dockerfile](https://hub.docker.com/r/shogun/shogun-dev/~/dockerfile/)
in case you need help for installing shogun

[2017-02-18 09:12] hao555sky commented on #3640
Sorry for error again, same error.
I want to ask several questions:
* Should I `cd shogun` and run the cmd `git submodule update --init`
* what is the specific cmd about `cmake` when I `cd build`? I always think I use the `cmake` wrong.
Sorry again for these tedious quesions.

[2017-02-18 11:56] karlnapf commented on #3640
There are detailed instructions in the installation readme.

The error message says to install ctags (or disable meta examples)

Closing as the issues here are not related to Shogun or cmake itself.
If you have trouble using cmake and related, please consider using the precompiled ppa

[2017-02-18 11:56] #3640 closed

[2017-02-18 12:00] karlnapf commented on #3640
I added a more informative error message in 1a3b9d71c2daf48818e4ce1466a83aca5735b07a

[2017-02-18 13:20] yorkerlin opened #3643 "unify FITC and varDTC in Shogun"
These two methods are closely related. It will be great if we unify these two methods. I will post my Matlab code soon.

[2017-02-18 13:28] yorkerlin commented on #2779
All methods are implemented in Matlab. I will add the method in [3].

[2017-02-19 13:25] karlnapf commented on #3624
Closing as this seems to be unrelated to Shogun

[2017-02-19 13:25] #3624 closed

[2017-02-19 13:30] #3615 closed

[2017-02-19 22:48] yorkerlin commented on #3643
See also this https://arxiv.org/abs/1606.04820

[2017-02-20 01:44] OXPHOS opened #3644 "New Linalg library cannot compile with Eigen 3.3.x"
Eigen 3.3.x casts the sum of two boolean vectors/matrices from `bool` to `int`, and results in mixed type error in `linalg::sum(SGVector<bool> op1, SGVector<bool> op2, SGVector<bool> result)`. Though I am not sure whether it is intended or actually a bug.

For example, in method:
[code]
While  `a = b = [true, false, true, true]`, `sum` equals `[1, 0, 1, 1]` in `Eigen 3.2.x` but `[2, 0, 2, 2] `in `

[2017-02-20 01:46] vigsterkr commented on #3644
@OXPHOS how about following up on this with eigen developers first? maybe it's a bug and then they'll fix it in upcoming eigen 3.3.x release. they are quite responsive :)

[2017-02-20 01:49] OXPHOS commented on #3644
@vigsterkr Doubt they'll be as responsive as you! :) Working on that.

[2017-02-20 10:40] karlnapf opened #3645 "replace `new_sgserializable` with c++11 magic"
This way we can get rid of `class_list.cpp` hacks

It will involve changing the creation of empty `SGObject` instances in `SGObject::clone` and  `SGObject::load_serializable`, and some other places

This is a nice non-trivial entrance task for GSoC projects like the detox

[2017-02-20 10:41] vigsterkr commented on #3645
one could use c++11 feature for this:
http://en.cppreference.com/w/cpp/types#Runtime_type_identification

[2017-02-20 18:53] lkuchenb opened #3647 "Build fails"
@lambday Currently, shogun fails to build for me:

[code]

[2017-02-20 19:02] karlnapf commented on #3647
setup is mac and gcc 6.3 iirc?

[2017-02-20 19:19] lkuchenb commented on #3647
Yep.

- Mac OS 10.11.6
- Xcode 8.2.1
- cmake flags `-DCMAKE_BUILD_TYPE=Debug -DENABLE_TESTING=ON -DPythonModular=ON -DBUILD_DASHBOARD_REPORTS=OFF -DBUILD_META_EXAMPLES=OFF -DENABLE_COLPACK=OFF -DENABLE_PROTOBUF=OFF`
- GCC 6.3 (Homebrew build)

[2017-02-21 06:30] OXPHOS commented on #3644
@vigsterkr @karlnapf Known for sure that `Vector<bool> + Vector<bool>` is gone in `Eigen` as stated [here](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=426)

[2017-02-21 11:54] karlnapf commented on #3647
We're on it in https://github.com/shogun-toolbox/shogun/tree/feature/Cpp11

[2017-02-21 16:50] karlnapf commented on #1265
This is solved by tags

[2017-02-21 16:50] #1265 closed

[2017-02-21 20:44] mcavdar opened #3651 "LibSVM train() error. (with BinaryLabels)"
I run this [file](https://drive.google.com/file/d/0BzzIxGxNPHK4SFBZT1J5c2RjQ0k/view?usp=sharing) and get the following error:

Traceback (most recent call last):
  File "./attributes.py", line 214, in <module>
    pred,prob,Ltst = train_attribute(attribute_id,C,split)
  File "./attributes.py", line 136, in train_attribute
    s.train()
SystemError: [ERROR] In file /build/shogun-B7ywaa/shogun-5.1.0

[2017-02-22 10:16] karlnapf opened #3652 "investigate XGBoost"
* are there any external libraries that we can use
 * if not, are there nice reference implementation, c.f. http://xgboost.readthedocs.io/
 * how hard is it to re-implemented it in Shogun?
 * what is a good API to use this, how can it be embedded into Shogun
 * can we draft a prototype?

Great entrance task for GSoC, in particular the [pipeline project](https://github.com/shogun-toolbox/shogun/wik

[2017-02-22 10:49] lisitsyn commented on #3652
I am pretty sure it is hard to re-implement 😄

[2017-02-23 03:13] MikeLing commented on #3626
Hi @djokester , are you working on it right now? I would like to add this feature to kd-tree and cover-tree if it's ok due to I'm working on the KNN right now. However, I'm totally ok to forget this issue if you had already have some progress on it. Thank you :)

[2017-02-23 11:30] karlnapf opened #3653 "avoid re-generating meta examples on `make`"
Currently, typing `make` (with meta examples enabled) generated output like
[code]

And then typing `make` again after the first one has finished, all meta examples are generated (and compiled) again. This issue is to stop that happening. This used to be working, so part of the solution will be to investigate why it does not work anymore. Note this will also affect all the other compiled target la

[2017-02-24 17:53] karlnapf commented on #3651
The variable you asked about simply is assigned as `problem.l=m_labels->get_num_labels()`

So what is the output of
[code]
?

[2017-02-25 14:02] yorkerlin opened #3655 "investiage tensorflow"
@karlnapf @vigsterkr  @lisitsyn
It seems that tensorflow now supports to build a computational graph in c++.
https://www.tensorflow.org/api_guides/cc/guide

Do we create a tensorflow backend for the linear algebra lib or GP?

[2017-02-25 14:17] yorkerlin commented on #3655
Alternatively, we could also make use of this project, https://github.com/dmlc/nnvm.

[2017-02-25 14:47] lisitsyn commented on #3655
The most important is Tensoflow Serving (https://tensorflow.github.io/serving/) that would enable us to use trained models within Shogun.

[2017-02-25 14:48] vigsterkr commented on #3655
XLA https://haosdent.gitbooks.io/tensorflow-document/content/resources/xla_prerelease.html

[2017-02-26 13:12] mcavdar commented on #3651
Actually they are both equals 21866.

[2017-02-26 20:28] OXPHOS commented on #3644
#3656

[2017-02-26 20:28] #3644 closed

[2017-02-27 05:55] yorkerlin commented on #3655
Nice! I will wait for XLA.

[2017-02-27 10:47] karlnapf commented on #3655
Step one: Prototype a Shogun kernel that uses tensorflow to do computations. There is 1000 things to figure out and this covers quite a few of them.
Step two: Compute the kernel gradients with tensorflow
Step three: think about how we can apply this shogun - wide.

Questions:
 * Is `linalg` the right place in Shogun to integrate this into?
 * Do we want yet another API for graph computations?
 * X

[2017-02-27 10:48] vigsterkr commented on #3655
@karlnapf started a gluing lib with tf serving, i guess later using the same idea one can do tighter integration with tf.

[2017-02-27 12:57] karlnapf commented on #3653
fixed in #3659

[2017-02-27 12:57] #3653 closed

[2017-02-27 16:32] karlnapf commented on #3005
Meta examples should run fast as well.
But there are still some very slow unit tests (especially in debug mode)

[2017-02-27 19:03] dracarys09 commented on #3645
I would like to work on this... please assign this issue to me

[2017-02-27 19:06] vigsterkr commented on #3645
@dracarys09 just start working on it and send a pr....

[2017-02-28 07:45] yorkerlin commented on #3655
@karlnapf  Yes. One approach is to read code from https://github.com/GPflow/GPflow and get some ideas from the project.

[2017-02-28 07:48] yorkerlin commented on #3655
BTW, there is a benchmark for GPs in python. https://github.com/GPflow/GPflowBenchmarks

[2017-02-28 07:57] vigsterkr opened #3663 "Implement InputParser and ParseBuffer lock-free"
currently for synchronisation mutex and conditional vars are being used, which is a waste of resources. use atomic types to implement a lock-free InputParser and ParseBuffer

[2017-02-28 12:17] karlnapf commented on #3655
Should be done using the benchmarking framework by mlpack: https://github.com/zoq/benchmarks

[2017-02-28 12:22] #3492 closed

[2017-02-28 15:46] lkuchenb commented on #3647
Cpp11 merged, build succeeds now

[2017-02-28 15:46] #3647 closed

[2017-03-01 22:55] lkuchenb opened #3668 "CrossValidation_multithread unit test fails"
The parallel X-val unit tests fails (occasionally). Apparently data races occur.

I attempted to resolve the issues that I could track down, see PR #3667. The fix doesn't entirely resolve the problem of the test failing occasionally.

Some observations:

 * Modifying the test to use a LinearKernel instead of a GaussianKernel made it (so far) impossible for me to trigger the test failure (5000+ tes

[2017-03-02 16:08] karlnapf commented on #3520
Fixed in #3665
Thanks!

[2017-03-02 16:08] #3520 closed

[2017-03-03 16:54] beew opened #3672 "octave-modular build failed again"
Hi, compiling shogun master on Ubuntu 16.04 and Octave 4.0.3

[code]
same problem with octave 4.2.1 and shogun-5.0.0 release

[2017-03-03 17:28] beew commented on #3672
Got these errors with Octave 4.2.1 and shogun master

[code]

[2017-03-04 16:59] tdjogi010 commented on #3663
@vigsterkr I would like to work on this.

[2017-03-04 17:55] tdjogi010 commented on #3663
@vigsterkr  I would like to work on this.

[2017-03-05 03:52] cullengao commented on #3629
Aha, I'm working through the codebase these days, so this might be a great start of contrib.
I'm on it. :)

[2017-03-05 03:53] vigsterkr commented on #3663
@tdjogi010 sure thing, just send a PR when you have something

[2017-03-05 05:54] cullengao opened #3677 "No libshogun.so found after build, only libshogun.dylib"
Hi,

I was building shogun following the tutorials, however I cannot find libshogun.so as indicated in INTERFACE.md.

My procedures are like:
[code]

and my `build/src/shogun` directory is something like:
[code]

Any thoughts? I'll really appreciate that.

[2017-03-05 14:02] tdjogi010 commented on #3663
Even though I am working on it, if anyone wishes to take this one up, please do so. Not sure if I can implement it correctly.

[2017-03-05 14:45] vigsterkr commented on #3677
@cullengao i guess you are using osx... which is completely normal. .so is for linux.

[2017-03-05 14:45] #3677 closed

[2017-03-06 06:09] cullengao opened #3678 "LD_LIBRARY_PATH failed in finding .dylib with macOS 10.12"
Hi all,

I was recently building shogun down in my mac (with macOS 10.12).

When I ran this command
[code]
I encountered a problem when setting `LD_LIBRARY_PATH` failed in finding the linker (`-lshogun`)

I finally solved it by export `LIBRARY_PATH` instead referred to [here](http://stackoverflow.com/questions/13292261/ld-library-path-doesnt-seem-to-work).

Don't know why, but seems worth to repor

[2017-03-06 06:18] cullengao commented on #3663
@vigsterkr @tdjogi010 Interesting. Thanks being so generous about the task, would have a stub on it.

[2017-03-06 06:21] vigsterkr commented on #3678
@cullengao this is very basic compiler flags. and i would rather suggest you to use `-L<path to the lib folder where you installed shogun>` instead of LIBRARY_PATH....

but anyhow if you feel that this is something that is missing there's the https://github.com/shogun-toolbox/docs repo and send in a PR

[2017-03-06 06:21] #3678 closed

[2017-03-06 06:22] vigsterkr commented on #3678
and btw on mac there is no `LD_LIBRARY_PATH`... it is `DYLD_LIBRARY_PATH`

[2017-03-06 06:33] cullengao commented on #3678
@vigsterkr Thanks for being so swift to reply. To be honest, I used to work mostly on Python and rather new to compiler stuffs.

Glad you bring up `DYLD_LIBRARY_PATH`. I've actually tried but got no luck. Any thoughts? Would be happy to learn.

[2017-03-06 06:36] vigsterkr commented on #3678
@cullengao http://lmgtfy.com/?q=gcc+library+flags

[2017-03-06 09:58] micmn commented on #3537
@karlnapf I've made a prototype for `LinearMachine` subclasses both for binary classification and regression using jinja2 which follows the steps listed above (and it checks if the predictions pre and post serialization are equal, don't know if it's useful).
https://github.com/micmn/shogun/blob/feature/serialization-test/tests/unit/io/LinearMachineSerialization_unittest.cc.jinja2
Generates: https:

[2017-03-06 12:07] amit309b commented on #2701
Hello, I would like to work on this issue, @lisitsyn  can you please guide me how to start. My language preference is Python.

[2017-03-06 12:11] vigsterkr commented on #3537
@micmn this is a great start! i'd love to have that fixture class actually be implemented somewhere else and that everybody could use it withing the unit tests as currently every unit test uses/implements their own data generators... @karlnapf ?

[2017-03-06 12:12] vigsterkr commented on #3537
@micmn i guess i just answered your question implicitly... no we dont have.. but i believe now that we are talking about we would need such functionality i believe within the library.. @karlnapf ?

[2017-03-06 12:23] amit309b commented on #2701
I would like to work on this issue. I understand the architecture of neural nets and also read the paper given below. Please @lisitsyn give me guidelines what to do next.

[2017-03-06 14:00] karlnapf commented on #3678
I just added some clarifications, https://github.com/shogun-toolbox/docs/commit/619946795202190b35385888754325dca48e7a79

[2017-03-06 14:02] karlnapf commented on #2701
@amit309b there wont be any guidelines what to do next, we require self-initiative. Also see above discussion

[2017-03-06 14:04] karlnapf commented on #3537
The data should definitely be generated elsewhere. But in fact, we don't we just use the available datasets we have? See the meta examples, I  made sure that all datasets used in there do actually make some sense

[2017-03-06 14:08] karlnapf commented on #3537
I dont think you need to distinguish in the code between classification and regression. If you just used `apply` rather than say `apply_regression`, then you get a `CLabels` pointer, but serializing it actually should work.

[2017-03-06 14:12] karlnapf commented on #3537
While the explicit list of things to be tested at the end of the file is great, I wonder whether we could apply this to *all* `CMachine` instances by default, and have a blacklist instead? For that, we need some code that works on generic `CMachine` pointers first (maybe using the data generation trick I mentioned above)

[2017-03-06 14:12] karlnapf commented on #3537
Great start indeed, this is exactly what I had in mind. Want to send a PR for further discussion?

[2017-03-06 14:15] karlnapf commented on #3537
BTW I think we want a travis option to disable this thing as well, like `-DTRAVIS_DISABLE_SERIALIZATION_TESTS`

[2017-03-06 14:26] micmn commented on #3537
Yeah, which name and folder are more appropriate for the template?

[2017-03-06 14:30] karlnapf commented on #3537
I would put it as `tests/unit/base/trained_model_serialization_unittest.cc.jinja2`

[2017-03-06 14:35] vigsterkr commented on #3537
btw i'm not sure if we wanna have this at all part of the unit testing framework....

[2017-03-06 14:38] karlnapf commented on #3537
Yeah I was thinking that, but then I decided I think it should. Because this should work for all models. Dataset should be tiny though...

[2017-03-06 18:34] karlnapf opened #3680 "Clean up old style error messages"
We have many instances of something that looks like

[code]

This task is to remove the `%s` and subsequent `get_name()`, as we can now use an internal loglevel to autogenerate this context, i.e. change it to

[code]

Grep for `%s::` to find them. Super easy entrance task

Also, this particular error message is an example of a bad error message. They can also be cleaned up to something like

[code

[2017-03-06 19:19] aby0 commented on #3680
Can I work on this issue?

[2017-03-06 19:57] karlnapf commented on #3680
Sure no need to ask

[2017-03-07 06:36] yangliangquanyoung opened #3681 "Headfile "shogun/lib/config.h" not exist"
There is no  headfile "shogun/lib/config.h" , but there is "shogun/lib/config.h.in" ,are they equals,please?

[2017-03-07 07:34] cullengao commented on #3681
Hi yang,

I was encountering same problem which I successfully solved by using `find` tool in terminal. You may have a try before getting any short answers, 'cuz you may have similar path trouble otherwise.

Now, the short answer: `-I/build/src/`

[2017-03-07 08:06] yangliangquanyoung commented on #3681
@cullengao Thanks. I did that before like you said, but I can't find this file in 'shogun' project.

[2017-03-07 08:11] vigsterkr commented on #3681
@yangliangquanyoung `shogun/lib/config.h` is generated based on your system using `shogun/lib/config.h.in`. the config.h will be installed along with the rest of the headers of shogun to prefix location you've supplied

[2017-03-07 08:11] #3681 closed

[2017-03-07 08:13] cullengao commented on #3681
@yangliangquanyoung So what is your cmake flags and would you share your making procedure?

[2017-03-09 05:53] OXPHOS commented on #3605
an easy one:
https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/base/RefCount_unittest.cc#L11

[2017-03-09 15:28] geektoni commented on #3509
@karlnapf
About this one, would it be better a new implementation that will substitute SG_PROGRESS or an "upgrade" of SG_PROGRESS to make it also show a progress bar?

Btw, the current ```SGIO::progress``` implementation is faulty because in some cases it will display completely wrong timing information (I tried to use it with the cpp KNN meta example and the results were somewhat surprising ;) )

[2017-03-09 18:05] skn123 commented on #2958
Has this change been effected ?

[2017-03-09 22:29] karlnapf commented on #2958
We are more than 50%
If it is if interest for you we can push this pretty sokn

[2017-03-10 09:58] skn123 commented on #2958
absolutely. If there is anything I can do to help please let me know.

[2017-03-10 12:37] karlnapf commented on #2958
You can see some of the code is guarded via `USE_GPL_SHOGUN`.
All guarded files will eventually be moved to a separate repository (see `feature/gpl` branch).

The rule is:
 * We got all Shogun devs accepted to move their code to BSD.
 * There is some external code that is GPL and so do the Shogun classes that depend on it
 * If you find any GPL code file in Shogun that is not guarded, sending a PR

[2017-03-10 12:56] karlnapf commented on #3509
Steps:

1. Use SG_PROGRESS in cases where it is not used, i.e. all outer loops where it makes sense. This is more a task of identifying methods that dont have any progress at all (x-validation, grid-search, gradient model selection, etc)
2. Fix behaviour of SG_PROGRESS if wrong
3. If there are design short-comings in SG_PROGRESS, discuss/suggest an improvement. Investigate how other libs do this,

[2017-03-10 16:20] lambday opened #3683 "Memcheck KMeans"
When ran locally, doing a memcheck on the KMeans unit test suite results the following
[code]
Here is some more details
[code]

This task is to
- reproduce this error in respective local machines, report here if not reproducible
- find a fix, if one needed

A nice entrance task to work on for the [Shogun Detox II](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2017_detox) GSoC project :)

[2017-03-11 12:11] karlnapf opened #3686 "Multiclass machines should work with binary labels"
Currently, it is often not possible to pass `CBinaryLabels` (taking values in {-1,1}) to `CMulticlassClassifier`, which only accepts {0,1,2,3,4....}. But what if you want to use a multi-class methods on binary labels? Currently, you have to convert your labels manually. It would be better to do this automatically.

For example, the `CGaussianNaiveBayes` does the worst possible for the user, as ass

[2017-03-11 12:16] karlnapf opened #3687 "Remove `apply_locked*` methods from SWIG interfaces"
E.g. `CGaussianNaiveBayes::apply_locked_binary (SGVector< index_t > indices)`

Locked evaluation is an internal speedup hack for cross-validation is never used from SWIG interfaces.

Simply surround by (c.f. `SGVector` for example)

[code]

Nice and simple entrance task for GSoC

[2017-03-11 14:31] lisitsyn opened #3688 "Get rid of direct access of fields"
Just like in #3674 we want to avoid accessing fields of classes directly. We should use get and set instead. This is the first step to start using [tags](https://github.com/shogun-toolbox/shogun/wiki/README_tags).

This involves a lot of code changes so this should not be done by one person in one pull request. A good pull request for this issue would change one class or one base class (like in #3

[2017-03-12 10:48] micmn commented on #3683
I reproduced the error and I think it is caused by `rhs_mus->set_feature_matrix(mus)`
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/clustering/KMeansMiniBatch.cpp#L84
The call doesn't imply the recomputation of `EuclideanDistance.m_rhs_squared_norms`, hence
`result=m_lhs_squared_norms[idx_a]+m_rhs_squared_norms[idx_b]-2*result`
in `EuclideanDistance.compute()` causes the memory

[2017-03-12 13:33] lambday commented on #3683
@micmn Sounds reasonable to me. Could you please open the PR and refer this issue in your PR comment :) Please make sure that the issue is fixed with your patch applied locally.

[2017-03-12 16:21] karlnapf commented on #3688
Entrance task for detox project for sure :)

[2017-03-13 06:38] tdjogi010 commented on #3663
Hi @vigsterkr , as far as I have understood, InputParser uses the ParseBuffer(which is a ring buffer) to hold the data and does the parsing(with the help of StreamingFile classes) in a separate thread when started. Now the StreamingFeatures fetches example objects one by one through a InputParser object. So there is only one parsing thread(producer) and only one streaming*feature thread(consumer)

[2017-03-13 06:43] vigsterkr commented on #3663
yeah pretty much that's the story there.

[2017-03-13 06:46] tdjogi010 commented on #3663
Thanks!

[2017-03-14 02:27] MikeLing commented on #3688
Hi @lisitsyn and @karlnapf , I would like to work on this :)

[2017-03-14 02:31] vigsterkr commented on #3688
@MikeLing as previously, just start wokring and sending prs :)

[2017-03-14 11:19] vigsterkr opened #3697 "replace relative paths to data dir in notebooks"
currently in all of our ipython notebooks the data files are referenced by a simple `../../../data/<filename>` relative path, like for example this:
[code]
this is causing a lot of trouble if you copy the notebook somewhere else.

in this entrance task, one should replace all these relative paths with an environment variable called `SHOGUN_DATA_DIR`, which then would have a default value if it's n

[2017-03-14 18:55] iRmantou commented on #3686
@karlnapf Hi, I have read Wiki including `Assertions and REQUIRE` and `DEVELOPING.md`, and I have some ideas about this issue, but I don't know whether my ideas have some problems:

* For the first, I think I should use `REQUIRE` to replace some `ASSERT` used to judge label_type in every `CMulticlassClassifier` which only accepts {0,1,2,3....}. And I notice that some `CMulticlassClassifier` just u

[2017-03-14 22:45] OXPHOS commented on #3500
I wanna keep some notes here and maybe we could discuss further on irc.

- `linalg::special_purpose()`:
    - Needs to be refactored to get rid of `CGPU*` classes.
    - Defined 7 methods, **none** of which is currently used in develop branch.
    - (So this should be a good entrance task if we still want to keep the methods)

- `linalg::ElementUnaryOperation()`:
    - Needs to be refactored to ge

[2017-03-15 02:50] MikeLing commented on #3688
#3698

[2017-03-15 06:17] lambday opened #3700 "Refactoring for `shogun::memcpy`"
We recently introduced a wrapper `shogun::memcpy` in `shogun/lib/memory.h` to be used instead of `memcpy` calls in Shogun. This method in turn calls `std::memcpy` as of now. But the goal was to be able to change this to a different implementation later, if possible, that instantly applies Shogun-wise without touching the rest of Shogun.

So, the task is to replace all existing `memcpy` calls with

[2017-03-15 09:31] kirstymcnaught opened #3702 "Broken links in notebooks."
A few notebooks have web links that are not parsed correctly. Links missing _http[s]://www._ are opened as paths relative to the notebook server. Emails need 'mailto:' if they are intended to be a clickable link.

The following is a list of notebook files and 'bad' links.

doc/ipython-notebooks/clustering/GMM.ipynb
github.com/karlnapf
herrstrathmann.de

doc/ipython-notebooks/clustering/.ipynb_chec

[2017-03-15 09:34] lambday commented on #3683
Fixed by #3691, closing.

[2017-03-15 09:34] #3683 closed

[2017-03-15 09:37] lambday commented on #2719
Already resolved. Closing.

[2017-03-15 09:37] #2719 closed

[2017-03-15 09:42] lambday commented on #3499
Done. Closing.

[2017-03-15 09:42] #3499 closed

[2017-03-15 09:43] lambday commented on #2919
Done. Closing.

[2017-03-15 09:43] #2919 closed

[2017-03-15 09:45] lambday commented on #2527
@OXPHOS  are these already in? Would it be okay if I assign this to you? You can close it then.

[2017-03-15 10:48] karlnapf commented on #3686
I think the best idea here would be to explore overload the c++ cast operator so that `CBinaryLabels` can just be casted to `CMulticlassLabels`. And then rather than checking this label type enum, you do a dynamic cast of the `CLabels` pointer

The solution you suggest is really cumbersome to apply. Try to see whether you can make sense of what I wrote

[2017-03-15 10:49] karlnapf commented on #3500
This is merged so I am closing this one.
@OXPHOS can you update the project for the stuff you think that should be done and potentially open additional issues if there are things that other people also could do?

[2017-03-15 10:49] #3500 closed

[2017-03-15 10:54] #3687 closed

[2017-03-15 10:58] karlnapf commented on #3702
Thanks for reporting.
Nice entrance task for GSoC students

[2017-03-15 10:59] karlnapf commented on #2527
Should go into the project.
Only Cholesky is in yet, we definitely need the others as well

[2017-03-15 11:27] karlnapf opened #3703 "Automate coobkook version"
See here:
https://github.com/shogun-toolbox/shogun/blob/develop/doc/cookbook/source/conf.py#L66

This should not be hard-written in there (we don't want to manually update this every release) but rather be filled in via cmake.

Nice little entrance task to get familiar with the cookbook build mechanics

[2017-03-15 13:08] OXPHOS commented on #3108
close it?  :)

[2017-03-15 13:11] OXPHOS commented on #2527
Kinda wanna keep the work to myself :>
But they should be pretty easy now since Cholesky is in.
I'll open an issue.

[2017-03-15 13:58] lambday commented on #2527
@OXPHOS is **is** assigned to you :P you don't need to open another issue I think, as long as this thread is updated :)

[2017-03-15 14:01] lambday commented on #3108
Done. Closing :)

[2017-03-15 14:37] karlnapf commented on #3108
This is not there yet. AFAIK `LARS` uses such operations.

[2017-03-15 15:14] deveshnag1 commented on #3702
@karlnapf I would like to work on this. I'm planning to apply for real world applications project. This doesn't come under entrance for any other project right?

[2017-03-15 15:20] karlnapf opened #3704 "USE_GPL_SHOGUN=OFF build error"
Caused by this here:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/statistical_testing/kernelselection/internals/OptimizationSolver.cpp#L21

[2017-03-15 16:11] lambday opened #3706 "GradientModelSelection.select_model_ep_inference test fails on buildbot"
Logs can be found [here](http://buildbot.shogun-toolbox.org/builders/deb1%20-%20libshogun/builds/153/steps/test/logs/stdio).

[2017-03-15 16:28] OXPHOS commented on #3108
I grepped `cholesky` (and `choleksy` - it is actually present in `gp/MatrixOpertions` lol). Many ML methods defined their own cholesky and cholesky-derived methods. It's gonna be a huge refactoring to replace them all :)

[2017-03-15 17:41] karlnapf commented on #3108
Yep, and this is why it is an entrance task :)

[2017-03-15 17:50] lambday commented on #3706
[Next build](http://buildbot.shogun-toolbox.org/builders/deb1%20-%20libshogun/builds/154) was successful.

[2017-03-15 17:55] karlnapf commented on #3702
The entrance tasks are not really project related, especially not those easy ones

[2017-03-15 18:24] OXPHOS commented on #2527
@lambday I wanna leave this for the GSoC applicants..I doubt any of them will see this issue since it's kinda old

[2017-03-16 09:20] micmn commented on #3645
Can you expand a bit on this? As I can't understand what you have in mind,
I mean: you want something like
`CSGObject* CSGObject::clone() { CSGObject* copy=new object of the same type of this; ... }` ?
But as far as I know this is not possibile even in c++11.

One alternative is to override `clone()` in every subclass of `SGObject`, but this isn't very practical i think. If you want to get rid of

[2017-03-16 10:45] karlnapf opened #3712 "statistical testing module not present in Python bindings"
Each folder has its own module. `modshogun.StatisticalTesting` is missing

[2017-03-16 11:08] karlnapf commented on #3706
This is a random error that is caused by an ill posed optimization problem so NLOPT reaches floating point epsilon. This should not cause an error but simply a warning...thats the fix

[2017-03-16 11:09] karlnapf commented on #2527
You could open a new one for every solver type and reference this one to "advertise" it

[2017-03-16 11:40] karlnapf opened #3713 "statistical testing build error when USE_REF_COUNTING=OFF"
[code]

Disabling ref counting results in a build error for the merged branch

[2017-03-16 11:40] amalad commented on #3697
Hi! Can I take up this issue?

[2017-03-16 11:41] karlnapf commented on #3713
Not sure if that was recently fixed, my build is a week old dev branch

[2017-03-16 11:41] karlnapf commented on #3713
More care is needed!

[2017-03-16 11:41] karlnapf commented on #3713
`/nfs/nhome/live/ucabhst/git/shogun/shogun_develop/shogun/src/shogun/statistical_testing/internals/DataManager.cpp:388`

[2017-03-16 12:53] karlnapf commented on #3697
No need to ask :)

[2017-03-16 13:57] lambday commented on #3713
@karlnapf we merged the fix yesterday :)

[2017-03-16 14:01] karlnapf commented on #3713
ok so I need to rebase. :)

[2017-03-16 14:01] #3713 closed

[2017-03-16 17:03] amit309b commented on #2701
@lisitsyn
I tried to reproduce above given paper in ipython notebook and my code is below:

first i convert alphabet data into 1 of m encoding according to written in the `paper.
In my code i skip the data-augmentation part and it look like the ipython notebook of neural_nets_digit .
for implementation purpose i use the small frame and my dataset is from AG_corpus_news_articles.
`
from modshogun i