[2018-02-11 20:57] nggih commented on #4110
Hey, I would like to work on this, but I am new here, so I might ask a lot of questions

[2018-02-11 21:08] nggih commented on #4110
Is this right?
For example: shogun/src/shogun/distance/AttenuatedEuclideanDistance.cpp
this code below needs to be changed:
`void CAttenuatedEuclideanDistance::init()
{
	disable_sqrt=false;

	m_parameters->add(&disable_sqrt, "disable_sqrt", "If sqrt shall not be applied.");
}`

Into this :
`void CAttenuatedEuclideanDistance::init()
{
	disable_sqrt=false;

	watch_param("disable_sqrt", &disable_sqrt

[2018-02-12 01:31] luisffranca commented on #4124
I've used '--c++-kinds=cgp' with Exuberant Ctags 5.8 and it worked.

@syashakash Could you, please, show us the output for `ctags --version` in your OS?

[2018-02-12 04:26] DhruvThakker commented on #4094
Can I work in this issue if it is still open?

[2018-02-12 04:56] prashanthduvvada commented on #4094
@DhruvThakker I'm still working on it and send the PR soon

[2018-02-12 07:00] naoa opened #4169 "Failed xvalidation with CRandomFourierDotFeatures"
## Issue
CrossValidation with ``CRandomFourierDotFeatures`` causes error by unmatching # of vectors and # of label.

## Error message
[code]

## Which version
Master version d1763b83fbc029bae1487201ef56977efdfe43a0
## Reproducible code

The following code just changes to use ``CRandomFourierDotFeatures`` from https://github.com/shogun-toolbox/shogun/blob/develop/examples/undocumented/libshogun/mod

[2018-02-12 08:01] vigsterkr opened #4170 "Add Go support for meta-examples"
feature/golang branch has the initial support for a Go interface of shogun. it'd be great to have Go support added to our meta-example generator.

[2018-02-12 08:17] vigsterkr commented on #4169
@naoa thnx for the report and the example code, we'll look into it!

[2018-02-12 08:20] naoa commented on #4169
I have not yet understood out the all class composition, but the reason why seems to be `` CDenseFeature`` supports `` CSubSetStack``, but  `` CRandomKitchenSinksDotFeatures`` does not support `` CusbSetStack``.

https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/features/DenseFeatures.cpp#L437

https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/features/RandomKitchenSi

[2018-02-12 10:30] karlnapf commented on #3204
This is not the right place to discuss such build problems. Pls do in irc or the mailing list

[2018-02-12 13:34] serendipity5497 commented on #3114
Hello, I am new to open source community. I would like to work on this as my first issue

[2018-02-12 16:12] vigsterkr commented on #4157
@bmurauer ok so i've managed to fix the problem in py27... currently the kernel blew up my memory :)
i'll try to test it with a smaller dataset to first see what could be the problem then i'll check what's the problem on py3

[2018-02-12 16:18] vigsterkr commented on #4157
btw for the record there's a bug in your code:
[code]

should be:
[code]

[2018-02-12 16:35] vigsterkr commented on #4157
ok i've managed to reproduce the error finally... lemme see if i can get a fix for it today

[2018-02-12 18:51] vigsterkr commented on #4157
ok so it's basically because of this in the typemaps:
[code]
one of the strings fails with `PyUnicode_AsASCIIString` and since there's not return value check (sic!)
the `PyBytes_AsString(NULL)` will cause a SIGSEGV :) i think we should just simply convert it to UTF8 string and use that as feature. :)

[2018-02-12 21:14] vigsterkr commented on #4157
@bmurauer feature/numpy1.7 branch should have a fix for your problem.. i'll see if travis CI jobs passes in case yes i'll merge this into develop. if you could test is - as i haven't tested yet the python3 version - i would really appreciate it.

[2018-02-12 21:15] vigsterkr commented on #4157
ps: the plz don't try with on the whole dataset as that'll just take all your ram in the machine :)

[2018-02-13 08:10] bmurauer commented on #4157
Hi, thanks for your responses!
i just cloned a fresh version and checked out the `feature/numpy1.7` branch and tried to build it with:
[code]
which unfortunately yielded this error message at the end of the build:
[code]
Do I have to specify some other make flags for this branch?

[2018-02-13 09:47] vigsterkr commented on #4157
@bmurauer sorry about it i was coding blindly as i really haven't tested it on py3. i'll do it now and force push. once tested/done i'll ping u here :)

[2018-02-13 10:12] vigsterkr commented on #4157
@bmurauer ok now the HEAD of the feature branch (note i've force pushed) contains the fix that worked for me with python35. lemme know how does it work for you.

[2018-02-13 10:41] bmurauer commented on #4157
Thank you, no more SIGSEGV :) However, i seem to have another issue with the multiclass-ity, which i will post in a separate thread since I don't think it is related.

[2018-02-13 10:42] vigsterkr commented on #4157
@bmurauer cool thnx for testing! let's keep the issue open until i merge the feature branch into develop :)

[2018-02-13 10:47] bmurauer opened #4173 "Error message on multiclass SVM with more than 2 classes"
The following code fails with an error message `SystemError: [ERROR] In file /opt/shogun/src/shogun/multiclass/MulticlassLibSVM.cpp line 200: SVM set failed`:

[code]

however, if I change the y array to [1,1,2,2,1,1], no such error occurs. If i put four different classes in y (e.g. `[1,1,2,2,3,4]`), the error occurs as well. I dug into the code of MulticlassLibSVM a little bit, I suspect the line

[2018-02-13 10:47] #4141 closed

[2018-02-13 12:15] vigsterkr commented on #4173
@bmurauer thnx for the bug report, indeed bug is coming from somewhere there :) it's a bit painful to look at that code, lemme try if it's easy to fix.

[2018-02-13 12:56] vigsterkr commented on #4173
@bmurauer ok so a very quick fix is that you change the labeling to 0 base 💃
but yeah this shoudl work with any arbitrary labeling... i'm working on it but that'll take a bit longer to get in.

[2018-02-13 14:14] vigsterkr commented on #4157
fix merged, we can close

[2018-02-13 14:14] #4157 closed

[2018-02-14 09:58] krishnaw14 opened #4174 "Error building shogun: no matching function for call to 'PyUnicode_AsUTF8AndSize'"
I am trying to manually compile shogun as per the instructions given in this link https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual

Here is my terminal output on running make:

`$make -j4

    [100%] Building CXX object src/interfaces/python/CMakeFiles/_interface_python.dir/sg_print_functions.cpp.o
    In file included from /Users/krishna/shogun/build/src/interfac

[2018-02-14 09:59] vigsterkr commented on #4174
@krishnaw14  could you give details about your setup? like the version of the python you are using?

[2018-02-14 10:02] krishnaw14 commented on #4174
python 3.6.0.
MacOS 10.13.2

[2018-02-14 10:03] vigsterkr commented on #4174
@krishnaw14 if you just wanna use shogun there's a homebrew package available that has the latest stable version of shogun (6.1.3). it's weird that your python does not have PyUnicode_AsUTF8AndSize but maybe just an include missing somewhere. have you installed that python via brew or?

[2018-02-14 10:07] krishnaw14 commented on #4174
I am using edm created python environment

[2018-02-14 10:10] vigsterkr commented on #4174
mmm i've just realised what's the problem... i'll need 10 minutes to see if i can get a fix for it

[2018-02-14 10:15] #4174 closed

[2018-02-14 10:16] vigsterkr commented on #4174
@krishnaw14 i've just pushed the fix to develop... so you should pull the latest changes from git and it shoudl work

[2018-02-14 10:37] krishnaw14 commented on #4174
@vigsterkr It worked..Thank you

[2018-02-14 10:47] naoa opened #4175 "Segmentation fault on CrossValidation with SparseFeatures"
## Issue
CrossValidation with SparseFeatures causes Segmentation fault.

## Error message
Segmentation fault

## Which version
Master version 1a314a6ee6a060a8bb0c531a18732ea0104c541b 2/12/2018

## Environments
CentOS7

## Reproducible code

[code]

[2018-02-14 13:51] vigsterkr commented on #4175
@naoa thnx for the great bug description. unfortunately neither SparseFeatures nor  CRandomFourierDotFeatures (#4169 that you reported as well) has support for subsets; that's why the error. of course it should be a none critical error;

[2018-02-14 13:53] #4156 closed

[2018-02-14 18:49] luisffranca commented on #4049
Hi @karlnapf !

By "make the splitting strategy an iterator" you mean creating a method (like _split_ on sklearn's example) that would return iterators for the training (and test) set indices for that subset index? Such a method would internally call generate_subset_indices and generate_subset_inverse (with their new names as you suggested). Is my understanding correct?

[2018-02-15 15:53] karlnapf opened #4177 "ruby typemaps bugs for SGMatrix"
Problems:

Passing matrices to methods that expect vectors makes typemap match and leads to type error
[code]
results in `TypeError: can't convert Array into Float`

Passing matrices to methods that expect vectors makes typemap match
[code]
resulting in `TypeError: no implicit conversion of nil into String`

In both cases, the error arises since SWIG will call a conversion method after the typemap

[2018-02-15 16:01] karlnapf commented on #4177
blocks new `put`

[2018-02-16 16:03] karlnapf opened #4178 "Remove NArray from ruby typemap"
Ruby these days supports matrices natively, so no need to do this with the unmaintained narray.

This task is to re-write the typemap such that the new in-built matrices/vectors are used.

The meta example integration tests serve as a reference -- they can only pass if the typemap works correctly. The task is quite nontrivial, but there is a lot of existing code to guide the way, so still a good f

[2018-02-17 06:38] krishnaw14 opened #4179 "Error when trying to build with meta examples"
I successfully built shogun without the examples (#4174 ) but now when I am trying to do the same with meta examples, I am getting an error as follows:
`$ cmake -DSWIG_EXECUTABLE=/usr/local/bin/swig -DINTERFACE_PYTHON=ON -DBUILD_META_EXAMPLES=ON ..
-- Could NOT find CCache (missing: CCACHE CCACHE_VERSION)
-- Using system's malloc
CMake Error at src/shogun/CMakeLists.txt:49 (MESSAGE):
  Shogun can

[2018-02-17 09:06] vigsterkr commented on #4179
as the error suggest you either checkout the GPL code (`git submodule update --init`) or simply disable to compilation of the GPL part with `-DLICENSE_GPL_SHOGUN=OFF`.

please next time read more carefully the error message before firing an issue

[2018-02-17 09:06] #4179 closed

[2018-02-19 20:36] karlnapf commented on #4049
An iterator would be a next step, much cleaner, yes

[2018-02-20 10:32] goldturtle opened #4182 "Compilation error"
I am using Ubuntu 16.04 and did the following:

git clone https://github.com/shogun-toolbox/shogun.git
cd shogun
git submodule update --init
mkdir build; cd build; cmake ..; make -j 8 ; make install

I got the following error:

[ 71%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/class_list.cpp.o
In file included from /shogun/src/shogun/kernel/normalizer/KernelNormalizer.h:12:0,

[2018-02-20 10:40] vigsterkr commented on #4182
@goldturtle in case you just want to use shogun out of box you can simply use the conda-forge package or the ppa from here: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable

otherwise i'll try to reproduce this error but based on our buildbot 16.04 build should be working:
http://buildbot.shogun-toolbox.org:8080/#/builders/16

[2018-02-20 11:18] goldturtle commented on #4182
Looks like this happened to other people too:

https://github.com/shogun-toolbox/shogun/issues/2841

Reading the last comment, though, I wouldn't know how to change the include path in a proper way.

[2018-02-20 11:37] vigsterkr commented on #4182
Do you have somewhere else shogun already installed?

[2018-02-20 11:38] goldturtle commented on #4182
No. I'd like to compile it from scratch because I want to play around.

[2018-02-21 04:21] armgong opened #4184 "build on windows with csharp interface failed"
cmake -G"Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=Release -DBUILD_META_EXAMPLES=OFF -DENABLE_TESTING=OFF -DINTERFACE_CSHARP=ON ..

the cmake out is

[code]

[2018-02-23 15:53] karlnapf opened #4186 "drop CMath class"
Large entrance task. The goal is to stop using `CMath` in the shogun codebase and use the C++ standard library instead, e.g. `std::log` rather than `CMath::log` or `std::sort` rather than `CMath::qsort`.

Once a method is not used anymore, it should be dropped from the `CMath` class entirely.

PRs should be sent method by method pls.

Good entrance task if you want to work on modernizing shogun

[2018-02-25 12:27] Yashs744 commented on #4186
Hello,
I tried doing this and updated DynArray.h but when I sent PR, it didn't pass the first test and I'm not getting what went wrong. Can you help?

[2018-02-26 02:17] luisffranca commented on #4088
Hi @vigsterkr !

I've tried a few things but couldn't reproduce this issue. I'm using Python 3.5.2 on Ubuntu 16.04.

I've built shogun using the following cmake options:

`cmake -DPYTHON_INCLUDE_DIR=/usr/include/python3.5m -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 -DPYTHON_PACKAGES_PATH=/usr/local/lib/python3.5/dist-packages -DINTERFACE_PYTHON=ON -DCMAKE_BUILD_TYPE=Debug -DENABLE_TESTING=ON -D

[2018-02-28 10:40] vigsterkr commented on #4184
oh we never tried C# on windows. would be great to get it working. as far as i can see our .NET cmake script is waaaaay too old. lemme look into it a bit.

[2018-02-28 14:07] karlnapf opened #4191 "remove deprecated warnings"
When compiling shogun at the moment (e.g. meta examples), there are a lot of deprecation warnings.

[code]

This task is to remove those via stopping to use `obtain_from_generic` and replace it by `as<T>`

[2018-02-28 14:08] karlnapf commented on #1058
We don't want to do this anymore

[2018-02-28 14:08] #1058 closed

[2018-02-28 14:10] karlnapf commented on #1348
This is now done via `.as<T>`
#4191

[2018-02-28 17:07] shubham808 commented on #4186
@karlnapf I am ready with a PR to get rid of ```CMath::log``` but the ```gpl``` submodule needs to be updated as well..... should i make a PR against shogun-gpl ? (Its causing build to break on Travis)

[2018-03-01 09:46] karlnapf commented on #4186
Yes, exactly

[2018-03-03 13:53] armgong commented on #4184
I make a manual build C# on windows ,but the procedure is ugly mod ,comment out a few line code in cmake script.
it will be great if  you can modify the  .NET cmake script .

[2018-03-03 14:02] armgong commented on #4184
this is my mod ,
[code]
after these mod ,run
[code]
it will generated makefile successfully  ,but  still can't build the .net dll , need manually execute:
[code]

[2018-03-04 07:30] Yashs744 commented on #4191
Sir, something like this ```static CMKLClassification* as<T>(CMachine* machine);``` ??

[2018-03-04 14:58] yyanwcy521 opened #4197 "install shogun fail."
the error:
src/interfaces/python/CMakeFiles/_interface_python.dir/build.make:73: recipe for target 'src/interfaces/python/CMakeFiles/_interface_python.dir/shogunPYTHON_wrap.cxx.o' failed
make[2]: *** [src/interfaces/python/CMakeFiles/_interface_python.dir/shogunPYTHON_wrap.cxx.o] Error 1
CMakeFiles/Makefile2:465: recipe for target 'src/interfaces/python/CMakeFiles/_interface_python.dir/all' failed

[2018-03-04 14:59] yyanwcy521 commented on #4197
i install at ubuntu 16.04

[2018-03-05 18:31] karlnapf commented on #4197
We would either need a full error message (use a github gist), or you can install the binary version of shogun if you have trouble compiling it from scratch. There is both a ppa and a conda package

[2018-03-07 07:30] yyanwcy521 commented on #4197
Thank you very much!
I reinstall my system and only install ppa,then according to the steps:
   cmake  -DINTERFACE_PYTHON=ON ..
   make
   sudo make install
the  progress bar is 100% ,like this:
 [100%] Linking CXX executable converter/cpp-converter-independent_component_analysis_fast
[100%] Built target cpp-converter-independent_component_analysis_fast
Scanning dependencies of target cpp-binary-a

[2018-03-07 21:56] grg121 opened #4199 "Can't compile with gcc/g++ 4.8"
I've been working in shogun-toolbox project few weeks ago and I could compile it fine in Ubuntu17 with gcc and g++ 7.

Today I was going to compile it again and I get error when execute "make"

I've realiced I had enabled gcc and g++ 4.8 (which I need to do days ago in order to compile certain software).

I've just replace gcc and g++ with version 7 and I can compile without get any troubles but I

[2018-03-07 22:00] vigsterkr commented on #4199
what's your cmake version?
could you copy-paste `src/shogun/lib/versionstring.h` content? it's in the build directory...

[2018-03-07 22:01] grg121 commented on #4197
Are you using python 2 or python 3 (?) In Ubuntu17 I had that problem: When installing shogun in the way you do, I could import it in python2 but no in python 3... I had to execute cmake in this way:

`cmake -DINTERFACE_PYTHON=ON BUILD_META_EXAMPLES=ON -DENABLE_TESTING=ON -DCMAKE_BUILD_TYPE=Debug -DBUILD_DASHBOARD_REPORTS=ON DPYTHON_INCLUDE_DIR=/usr/include/python3.6m -DPYTHON_EXECUTABLE:FILEPATH=

[2018-03-07 22:02] grg121 commented on #4197
ps: -BUILD_META_EXAMPLES,  -DBUILD_DASHBOARD_REPORTS=ON , -DCMAKE_BUILD_TYPE=Debug and -DENABLE_TESTING=ON are not necessary.

[2018-03-07 22:15] grg121 commented on #4199
I have cmake version 3.9.1 and the content of the mentioned file:

#define VERSION_EXTRA ""
#define VERSION_REVISION 0xfa7728a73
#define VERSION_RELEASE "git_fa7728a73_2018-2-3_13:13"
#define VERSION_YEAR 2018
#define VERSION_MONTH 2
#define VERSION_DAY 3
#define VERSION_HOUR 13
#define VERSION_MINUTE 13
#define VERSION_PARAMETER

[2018-03-07 22:35] vigsterkr commented on #4199
could you pull as this is a develop branch from beginning of 3rd of February and test it again, please

[2018-03-08 04:58] vigsterkr commented on #4197
@yyanwcy521 if you just want to use shogun from python why dont you use either the ppa package or the conda package?

[2018-03-08 05:01] vigsterkr commented on #4197
@yyanwcy521 on the other hand can you paste the content of the `build/src/shogun/lib/versionstring.h` file here

[2018-03-08 09:53] vigsterkr opened #4200 "CrossValidation with Kernel and LibLinear uterly broken"
import pandas as pd
import numpy as np
from shogun import BinaryLabels
from shogun import CrossValidation
from shogun import ROCEvaluation, PRCEvaluation, F1Measure
from shogun import RealFeatures, CrossValidationSplitting, LibSVM, LibLinear
from shogun import LinearKernel
[code]

[2018-03-08 09:54] vigsterkr opened #4201 "cannot kill a running task"
try any long running python example and try to ctrl-c.... only `kill -9 <PID>` works.

[2018-03-08 10:45] geektoni commented on #4201
I think this may be caused by the premature stopping feature. I believe this line https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/base/init.cpp#L101 is causing the problem you are running into. I'll have a closer look later today.

[2018-03-08 13:10] vigsterkr opened #4202 "Typemap for string list that is an np.ndarray does not work."
[code]

[2018-03-08 19:51] grg121 commented on #4199
Ups, sorry I had fetched my fork but I forgot to pull...

Now:

#define MAINVERSION "6.2.0"

#define VERSION_EXTRA ""
#define VERSION_REVISION 0xfc9d43cd5
#define VERSION_RELEASE "git_fc9d43cd5_2018-3-8_20:42"
#define VERSION_YEAR 2018
#define VERSION_MONTH 3
#define VERSION_DAY 8
#define VERSION_HOUR 20
#define VERSION_MINUTE 42
#define VERSION_PARAMETER 1

Buy I'm getting the same error :/  (wel

[2018-03-08 22:59] iglesias commented on #3975
@vinx13, since you have already touched LMNN and are at least a bit familiar with it, would you like to pick this one up? :-)

[2018-03-09 02:53] vinx13 commented on #3975
sure, I will pick it up

[2018-03-12 11:04] karlnapf commented on #3058
Done for regression

[2018-03-12 11:04] #3058 closed

[2018-03-13 06:22] FaroukY opened #4204 "Default Tests Failing on Ubuntu 16.04"
I manually compiled the library and ran make test and I got the following results:

[code]

I haven't changed anything in the Library. Are these tests supposed to fail?

[2018-03-13 07:50] vigsterkr commented on #4204
@FaroukY could you paste here the output of this command:
```ctest -R integration_meta_cpp-clustering-gaussian_mixture_models```

[2018-03-13 14:02] vigsterkr commented on #4201
@geektoni so i'm guessing the reason it is currently not doing anything is because of this:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/Signal.cpp#L17

since in the handler:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/Signal.cpp#L36

do you know why it is by default turned off? :)

[2018-03-13 14:16] FaroukY commented on #4204
@vigsterkr Here:

[code]

[2018-03-13 14:19] vigsterkr commented on #4204
oh this is rather interesting :)

could you maybe paste here the output of your cmake ?
just create another directory (instead of build) and run cmake the same way the way you did before and paste here the full output... i guess you are running this on x86 arch right ? :)

[2018-03-13 14:29] vigsterkr commented on #4204
mmm i can get the very same problem with `integration_meta_cpp-clustering-gaussian_mixture_models` on freebsd where there's not lapack/blas backend. i'm thinking that actually maybe we are currently having some very different results from eigen for the eigenvectors/values when it's not having a LAPACK backend.

still would be great if you could get us your cmake so i can confirm this, i'll look in

[2018-03-13 14:50] geektoni commented on #4201
I think we wanted to let the user decide what behaviour Ctrl+C to use. In fact, here https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/Signal.h#L76 there is the method to enable the custom signal handler.

Anyway, this line https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/Signal.cpp#L37 is clearly wrong, it should have an exit call instead of return. I'll pro

[2018-03-13 14:53] vigsterkr commented on #4201
@geektoni i would rather have it by default active as currently if you run a model and wanna cancel it the only way to do is to kill the process :) which is not the most user friendly behaviour :P

[2018-03-13 15:25] FaroukY commented on #4204
@vigsterkr  I think you're right. I didn't have lapack/blas installed. But I thought it was an optional library no?

Here is the output of cmake:
[code]

[2018-03-13 15:29] vigsterkr commented on #4204
yes yes it's options and it seems this is a bug.

[2018-03-13 16:09] FaroukY commented on #4204
@vigsterkr Okay so I install lapack/blas and did make then make test and now they're down to 2 failed test cases:

[code]
Do you recommend just installing all the Optional Libraries for now as a work around?

[2018-03-14 20:51] FaroukY commented on #4178
@karlnapf I am interested in this issue.

For array, we can replace NArray.sint($arguments) for example with Array.new($arguments){0}, is that okay?

I also had a look at Ruby's Matrix library (The one in std-lib now) and it looks like the matrix is actually immutable, so once it is initialized, it can't be assigned since the [] operator is private. (The author of Ruby said he will make it mutable

[2018-03-15 15:47] karlnapf commented on #4178
Hey.
Before you check out the meta examples, you will have to look into the typemaps.
I suggest you modify one of the generated meta example code listings by hand and then execute them by hand to see how you will have to modify the grammar. But the meta examples are not the problem here, it is easy to update that once the typemaps use the native ruby matrix lib.
Check  `swig_typemaps.i` in `interf

[2018-03-16 10:29] karlnapf opened #4207 "Use fixtures / templates in LibLinear unit test"
The unit tests for `CLibLinear` are highly redundant copy paste style code -- hard to maintain/read/change.
https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/classifier/svm/LibLinear_unittest.cc

This easy entrance task is to use googletest's fixture concept to reduce the number of lines of code in this test. It should be possible to reduce things down to 1-2 explicitly coded out te

[2018-03-19 08:38] #4201 closed

[2018-03-19 09:02] vigsterkr opened #4210 "GMM fails without LAPACK"
it seems not having LAPACK backend for eigen some of our tests are broken (see #4204), one of which is GMM.

[2018-03-21 01:14] songxujing commented on #4178
@FaroukY
Hello, I'm a shogun beginner and I want to use this tool to do multiple kernel learning. But when I use SVMLight, I get an error. Later I learned that I needed to compile manually, but I encountered a lot of errors in the compilation process. I hope you can help me and write a detailed compilation step for me. I am ubuntu16.04+python2.7+shogun

[2018-03-21 01:15] songxujing commented on #4204
@vigsterkr
Hello, I'm a shogun beginner and I want to use this tool to do multiple kernel learning. But when I use SVMLight, I get an error. Later I learned that I needed to compile manually, but I encountered a lot of errors in the compilation process. I hope you can help me and write a detailed compilation step for me. I am ubuntu16.04+python2.7+shogun

[2018-03-21 01:34] songxujing opened #4211 "multiple kernel learning SVMLight error"
Traceback (most recent call last):
  File "mul_kernel_learn.py", line 42, in <module>
    binary_svm_solver = sg.SVMLight()
AttributeError: 'module' object has no attribute 'SVMLight'

I'm a shogun beginner and I want to use this tool to do multiple kernel learning. But when I use SVMLight, I get an error. Later I learned that I needed to compile manually, but I encountered a lot of mistakes in th

[2018-03-21 01:38] songxujing commented on #436
hello @karlnapf
I'm a shogun beginner and I want to use this tool to do multiple kernel learning. But when I use SVMLight, I get an error. Later I learned that I needed to compile manually, but I encountered a lot of mistakes in the compilation process. I hope everyone can help me and write a detailed compilation step for me. Also, besides manual compilation, is there a more convenient way to use

[2018-03-21 02:19] FaroukY commented on #4211
Can you add your code here please. It would help to know the problem in more details. You don't need to compile manually to use the tool, so I don't see why you would wanna compile manually. Post a snippet of your code.

[2018-03-21 02:24] FaroukY commented on #4211
Its really hard to read your code. Can you format it by clicking on the Code icon?

[2018-03-21 02:29] songxujing commented on #4211
@FaroukY
`import shogun as sg
import numpy as np
from shogun import *
f = open('ionosphere.data')
mat = []
labels = []
# read data from file
for line in f:
    words = line.rstrip().split(',')
    mat.append([float(i) for i in words[0:-1]])
    if str(words[-1]) == 'g':
        labels.append(1)
    else:
        labels.append(-1)
f.close()
mat_train = mat[:30]
mat_test = mat[30:110]

lab_train = s

[2018-03-21 02:31] songxujing commented on #4211
`import shogun as sg
import numpy as np
from shogun import *
f = open('ionosphere.data')
mat = []
labels = []
for line in f:
    words = line.rstrip().split(',')
    mat.append([float(i) for i in words[0:-1]])
    if str(words[-1]) == 'g':
        labels.append(1)
    else:
        labels.append(-1)

f.close()
mat_train = mat[:30]
mat_test = mat[30:110]
lab_train = sg.BinaryLabels(np.array(labels[

[2018-03-21 02:54] FaroukY commented on #4211
I am away from a computer right now so I can't test  it right now on my build. Have you tried following the build instructions at:

http://www.shogun-toolbox.org/install#manual

and if so, what kind of errors did you get during the build?

[2018-03-21 03:00] songxujing commented on #4211
I built it according to the steps of this website. When I did cmake .., it gave me an error.
xujing@xujing-PC:~/shogun/build$ cmake ..
-- Could NOT find CCache (missing:  CCACHE CCACHE_VERSION)
CMake Error at /usr/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find SWIG: Found unsuitable version "3.0.8", but required is at
  least "3.0.12" (found /usr/bin/sw

[2018-03-21 03:04] FaroukY commented on #4211
Is it possible to do a full cleanup of SWIG? Uninstall everything SWIG related (purge) then reinstall it, but follow the official installation guide for installing SWIG3.0.12. This isn't really Shogun related (Since SWIG>=3.0.12 is required) so I am not sure I can help you with that.

[2018-03-21 03:08] songxujing commented on #4211
I will reconstruct it according to your suggestion. I wonder if it can be successful. If there are any more problems, I will need your help again. Thank you very much!

[2018-03-21 07:00] songxujing commented on #4211
@FaroukY
I have successfully installed SWIG3.0.12, but when I rebuild it, I get this error:
CMake Warning at src/shogun/CMakeLists.txt:257 (FIND_PACKAGE):
xujing@xujing-PC:~/shogun/build$ guration file provided by "TFLogger"
   (requested version 0.1.0) with any of the following names:

     TFLoggerConfig.cmake
     tflogger-config.cmake

   Add the installation prefix of "TFLogger" to CMAKE_PREF

[2018-03-21 08:50] songxujing commented on #4211
@ @FaroukY
Currently, I have successfully built shogun. But when I use it, I get an error:

xujing@xujing-PC:~$ python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/shogun.py",

[2018-03-21 09:12] songxujing commented on #3879
@Galaxy-Fish
I have encountered the same problem with you now. How did you solve it?

[2018-03-21 09:24] songxujing commented on #3879
@vigsterkr

Traceback (most recent call last):
File "python.py", line 7, in
from shogun import *
File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 32, in
_shogun = swig_import_helper()
File "/usr/local/lib/python2.7/dist-packages/shogun.py", line 28, in swig_import_helper
_mod = imp.load_module('_shogun', fp, pathname, description)
ImportError: /usr/local/lib/python2.7/dist-packages/_s

[2018-03-21 11:18] karlnapf commented on #4178
@songxujing pls dont spam this thread which is about something else. Pls use the mailing list or open a new issue.

[2018-03-21 11:19] karlnapf commented on #436
Mate, pls dont post the same message 5 times at random locations, use the mailing list

[2018-03-21 11:20] karlnapf commented on #4211
Check the readme how to set the LD_LIBRARY_PATH

[2018-03-22 07:21] songxujing opened #4212 "from shogun import svmlight error"
I have already compiled shogun manually, but when I use svmlight, it give me an error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name SVMlight
 So, how to solve it?
Thank you!

[2018-03-22 07:56] songxujing commented on #4212
@ @vigsterkr

[2018-03-22 08:12] songxujing commented on #4211
@karlnapf

I have already compiled shogun manually, but when I use svmlight, it give me an error:

from shogun import SVMlight
Traceback (most recent call last):
File "", line 1, in
ImportError: cannot import name SVMlight
So, how to solve it?
Thank you!

[2018-03-22 23:11] grig-guz opened #4214 "When training neural nets, is there a way to freeze training on certain layers?"
As title. I  want to provide a small  demo for my transfer learning project for GSoC.

[2018-03-23 01:49] songxujing commented on #3811
@ghzhaole

I've encountered the same error with you now, and manually compiled shogun6.0, but I can't use SVMLight, so what if I want to use it? I need your help！
Thank you very much !

[2018-03-23 14:19] geektoni commented on #4212
@songxujing It appears that you've written ```SVMlight``` instead of ```SVMLight```. If that won't solve your problem you will need to give us more details to enable us to actually help you in a constructive way.

[2018-03-23 16:04] karlnapf commented on #4214
I guess currently no, but feel free to send a PR for this. Shouldnt be too hard.

[2018-03-23 16:04] #4214 closed

[2018-03-24 22:23] FaroukY opened #4215 "New develop branch broke build"
I just rebased against the new develop branch and built but got:

[code]

The build had no problems before the rebase, but it seems there is a problem after the rebase. Any ideas?

[2018-03-25 01:05] karlnapf commented on #4215
Seems like a typo in the example to me. Sure you have the same listing as
in the develop branch?

On Sat, 24 Mar 2018 at 23:23, Elfarouk Yasser <notifications@github.com>
wrote:

--
Sent from my phone

[2018-03-25 05:17] FaroukY commented on #4215
A bit strange, but I removed the build folder, redid cmake/make and it worked. So it's on my end.

[2018-03-25 05:17] #4215 closed

[2018-03-25 15:22] fyoda opened #4217 "Build on windows msvc 2015 fails on Eigen including pthread.h"
I'm trying to build shogun 6.1.3 on windows with msvc 2015 using cmake. Here is the log of the configuration generated by cmake:

[https://gist.github.com/fyoda/fca418aa6be771b9c9da5b4193326945](url)

When I build the solution generated for MSVC 2015 I have problems with eigen3. The Eigen3 has downloaded automatically but then it fails to build. Here there is a portion of the MSVC log:

[https://g

[2018-03-27 09:23] fyoda opened #4219 "Linker error 2019 when using shogun on windows"
Hello,

I'm trying to use shogun on windows. I built the library with msvc 2015 64bit. In the following there is the cmake report:

[code]
The library build successfully but when I try to build the following example code:

[code]
I get the following error:

`
link /NOLOGO /DYNAMICBASE /NXCOMPAT /INCREMENTAL:NO /SUBSYSTEM:CONSOLE "/MANIFESTDEPENDENCY:type='win32' name='Microsoft.Windows.Common-Cont

[2018-03-30 14:14] beew commented on #3672
It has been more than a year, still not fixed?? Yet the wiki says octave interface has no problem. I wonder how many interface of shogun actually works.

[2018-03-31 03:40] vigsterkr commented on #3672
:) thnx for the constructive feedback. Please note that we are an opensource project, i.e. we just dont have the resources to handle every request, but as you can see we build and test all modular interfaces that we support on travis and our buildbot farm as well (including octave)

[2018-03-31 03:44] vigsterkr commented on #3672
@beew on the same note i would highly suggest to read this: https://opensource.guide/how-to-contribute/#communicating-effectively

[2018-03-31 22:51] fyoda commented on #4219
Nobody can help me?

[2018-04-01 13:35] owlbowl opened #4222 "BUG in Get_support_vectors"
I use MKLRegression or MKLBinaryClassification & Crossvalidation, and I need weights for every feature. To this end, I obtain alphas and support_vectors for every machine.

The machine here was obtained according to this website:
http://www.shogun-toolbox.org/examples/latest/examples/evaluation/cross_validation_mkl_weights_storage.html#
Code:
    obs = mkl_obs.get_observation(0)
    fold = obs.get

[2018-04-02 00:37] owlbowl commented on #4222
In terms of MKLBinaryClassification:
For example, when I used the "machine.get_svm().get_support_vectors()", I got the right support vectors (11 elements) like:
array([ 0,  1,  3,  5,  9, 11, 12, 13,  2,  6,  7,  8], dtype=int32)

However, when I used the "machine.get_support_vectors()" in the same data set, I just got an array with 11 consecutive numbers, like this:
array([ 0,  1,  2,  3,  4,  5,

[2018-04-02 10:22] FaroukY opened #4223 "CRandom::set_seed in python interface doesn't work"
In python, the following code fails:
[code]
The error is:
[code]
I am not sure how to set the seed in the python interface would be. And the example in my Cookbook needs to fix the random seed before it runs. Any ideas?

[2018-04-02 15:59] karlnapf commented on #4044
This is now possible to do, using the new put/get API
See https://github.com/shogun-toolbox/shogun/blob/7513cd68101ef3541390303aadadbc1ddfa5cbe1/examples/meta/src/base_api/put_get.sg or https://github.com/shogun-toolbox/shogun/blob/7513cd68101ef3541390303aadadbc1ddfa5cbe1/examples/meta/src/meta_api/kwargs.sg

[2018-04-02 16:16] karlnapf commented on #4223
[code]
This will change but for now works

[2018-04-02 16:17] #4223 closed

[2018-04-02 16:19] karlnapf commented on #4222
Sorry, I dont understand what exactly your problem is. Could you make a minimal example where you state what you expect and contrast it with what you get?

[2018-04-02 16:21] karlnapf commented on #4219
Sorry! As of now, you will have to check how we build shogun in appveyor and try to replicate that.
Any patches fixing potential problems are more than welcome

[2018-04-02 16:28] karlnapf commented on #4217
None of the above links work

[2018-04-02 16:31] karlnapf commented on #4217
Thanks for reporting.
The windows build is quite experimental.
There definitely is a problem with eigen not being able to detect your blas setup (second gist)

[2018-04-02 16:43] iglesias commented on #3975
How is it going with this one, @vinx13? I wonder, no chase ;-)

[2018-04-02 17:00] fyoda commented on #4219
Is it possible to get the release and debug version of shogun binaries built with AppVeyor?
For would be enough. I need to start a project using shogun, but I'm stuck at the moment.

[2018-04-03 01:01] grig-guz opened #4225 "Compilation error Ubuntu 16.04"
I get the following error (Ubuntu 16.04)

[code]

How to fix that?

[2018-04-03 01:44] grig-guz commented on #4225
#3988 helped, used `-DENABLE_PROTOBUF=Off`with cmake.
Without this, I tried to reinstall install protobuf, but still got the same error. What to do here?

[2018-04-03 02:02] vinx13 commented on #3975
I have tried locally. When I set a K greater than num classes, the program crashed, which I think it is a issue related to KNN. However, I haven't reproduce the error above.

[2018-04-03 02:25] owlbowl commented on #4222
Sorry, I will try and clear this up a bit.

My ultimate goal is to obtain the weight for each feature. When a linear kernel is applied, I can achieve it by using the feature set & support_vectors & alphas, right?
For example, I applied a SVR to a toy data set provided by Shogun, the code is:
[code]
In the above example, W is the one that I want, and I verify its correctness by the formula:
Predict

[2018-04-03 08:29] ypic opened #4226 "Shogun install - Java compilation error (UnsatisfiedLinkError)"
Hi there,
I just installed Shogun (Mac OS X - 10.13.3) and tried to compile my first Java Class using the example from the website.
Nothing special to report from the install itself, activated the Java Interface and that's pretty much it.

I'm using Eclipse to run my Java project and I get the following error
_Exception in thread "main" java.lang.UnsatisfiedLinkError: org.shogun.shogunJNI.new_Real

[2018-04-03 08:44] vigsterkr commented on #4226
@ypic honestly i have never used shogun from eclipse, i can provide you a CLI for how to use shogun from JVM

[2018-04-03 08:48] ypic commented on #4226
@vigsterkr could be good yep, better then nothing ;) thanks for the prompt reply

[2018-04-03 08:52] vigsterkr commented on #4226
ok so here's an example from our buildbot:
```/usr/bin/java "-Xmx1024m" "-cp" "/usr/share/java/jblas.jar:/home/buildslave/deb3_-_interfaces/build/build/src/interfaces/java/shogun.jar:/home/buildslave/deb3_-_interfaces/build/build/examples/meta/java:/home/buildslave/deb3_-_interfaces/build/build/examples/meta/java/binary" "-Djava.library.path=/home/buildslave/deb3_-_interfaces/build/build/src/inter

[2018-04-03 08:52] vigsterkr commented on #4226
you can actually test this yourself whether it works or not if you enable `BUILD_META_EXAMPLES` cmake flag

[2018-04-03 11:31] karlnapf commented on #4219
Shogun is part of vcpkg

https://github.com/Microsoft/vcpkg/pull/2977#issuecomment-371225760

You could try that and let us know how it went

[2018-04-03 11:45] karlnapf commented on #4225
your protobuf setup is broken. You will need to investigate whether the library is in your dynamic linker path. The error is a standard error, so pls ask google. It could also be that shoguns cmake setup has to be fixed, in which case we can reopen this issue. Let me know

[2018-04-03 11:45] #4225 closed

[2018-04-03 11:48] karlnapf commented on #3975
Ill make this an entrance task:

* put graceful error messages if users have set wrong paramerters or provide data that doesnt make sense
* fix the k=1 error
* make sure than LMNN works

[2018-04-03 13:42] sunalbert commented on #3889
Hi, @karlnapf , sorry to disturb you again. I am working on adding progress bar to CRBM. Is there any standard code/template I can follow to test the whether the progress bar works well?

[2018-04-03 13:58] karlnapf commented on #3889
check `git grep progress(range` to find the places it is used and how

[2018-04-03 20:53] grig-guz commented on #4225
@karlnapf the problem was indeed my protobuf setup, thanks.

[2018-04-04 07:28] ypic commented on #4226
I tried with one of the examples (multiple_kernel_learning):
/usr/bin/java -Xmx1024m -verbose -cp /Users/home/Downloads/jblas-1.2.4.jar:/Users/home/shogun/build/src/interfaces/java/shogun.jar:/usr/local/Cellar/shogun/6.1.3/share/shogun/examples/java/regression -Djava.library.path=/usr/local/lib multiple_kernel_learning

- I have the binary in the same folder .../examples/java/regression
- libshogu

[2018-04-04 09:47] karlnapf commented on #4074
Done via #4103

[2018-04-04 09:47] #4074 closed

[2018-04-04 09:54] #3889 closed

[2018-04-04 10:18] fyoda commented on #4219
Thanks for your reply. I just cloned vcpkg from git repository and tried but I got the following error:

[code]

[2018-04-04 10:24] fyoda commented on #4219
The msvc version is: 14.0.23107.178

[2018-04-04 12:30] ypic commented on #4226
Just to add, I've also tried to change the environmental variable $DYLD_LIBRARY_PATH but no changes unfortunately :(

[2018-04-04 12:50] fyoda commented on #4219
I have tried using conda, but it generates a lot a linker errors when I try to link shogun lib to the sample code posted above.

[2018-04-04 14:07] karlnapf commented on #4226
I googled a bit and found
http://www.swig.org/Doc2.0/Java.html#Java_dynamic_linking_problems

It seems that the Shogun java lib is not visible to your java executable.

what happens if you run the tests locally using cmake, i.e.
`ctest -R generated_java-binary-multiple_kernel_learning -V`

[2018-04-04 15:11] fyoda commented on #4219
I have re-tried with vcpkg on another PC but I get the following error:

[code]

[2018-04-04 15:15] ypic commented on #4226
@karlnapf  and @vigsterkr thanks for your help Gentlemen. It is working now ! I have other small problems (only related to the jvm itself but no big deal)
Actually I got confused initially with the repository I had to point to as I was pointing on the folder with the *.dylib till the beginning (following instructions on the website). Then I changed it to the folder with the *.JNILIB and got it wor

[2018-04-04 15:15] #4226 closed

[2018-04-04 17:56] karlnapf commented on #3786
Files that need guard or need to be moved
[code]

[2018-04-04 18:59] vigsterkr commented on #4219
@fyoda could you actually post the linker errors as that seems to be pretty strange...  since you the python module (shogun package in conda) itself is linked to that .lib... so i guess you are missing some linker flags.

on the other hand i'm not so sure what command yields you to the output of:
```[657/659] cmd.exe ```

[2018-04-04 19:05] vigsterkr commented on #4217
@karlnapf :D

@fyoda i cannot open any of the linked gists... but as you can see on appveyor MSVC 2015 + shogun with bundled eigen just works fine... so unless you can give me some logs i'll close this bug as this seems to be your error

[2018-04-04 20:53] fyoda commented on #4217
The error doesn’t appear if use the x64 build

[2018-04-05 10:31] fyoda commented on #4219
I'm sorry the [657/659] is my fault, comes from copy/paste.

@vigsterkr I added set VCPKG_DEFAULT_TRIPLET=x64-windows before building.
Then I get the following error in the vpckg window:

[code]
In the following I report the last portion of log file install-x64-windows-dbg-out.log:

[code]

[2018-04-05 12:37] vigsterkr commented on #4217
@fyoda i'm closing this one as this is really some local setup problem.... in case you think that it's not then plz post the ***full*** cmake output not just a part of it.

[2018-04-05 12:37] #4217 closed

[2018-04-05 12:39] vigsterkr commented on #4219
mmm you are building an octave interface? :)
or this is an error of nlopt that for some reason is trying to build something with octave?

[2018-04-05 12:46] fyoda commented on #4217
The error appears when I generated the msvc solution for x86. I doesn’t appear when generation for Win64. Later I will report the cmake log

[2018-04-05 12:47] vigsterkr commented on #4217
@fyoda oh! x86 build was ***never*** tested... hence it was never intended to work. buuuuuut even in that case this seems to be an eigen related problem actually, not shogun

[2018-04-05 12:47] vigsterkr commented on #4217
@fyoda if you jump in gitter or irc we could get your problems fixed quicker :)

[2018-04-05 13:44] fyoda commented on #4219
I just did:

I think something strange happens when nlopt is built..

[2018-04-05 17:09] fyoda opened #4231 "Linker error 2038 msvc 2015 debug build"
Hello everyone,

I'm going to use shogun on windows. I'm having a problem installing it with vcpkg. But I have already opened an issue for that.
In the meanwhile, I'm trying to use CMAKE to generate the MSVC 2015 Win64 solution and generate the debug and release build.
The release build works fine. I have tried it with the minimal usage examples [here reported](https://github.com/shogun-toolbox/sh

[2018-04-05 17:54] grig-guz opened #4232 "Update NeuralLayer classes and tests with linalg"
Multiple NeuralLayer functions and tests use Eigen/vanilla  linear algebra operations. For example,
in NeuralLinearLayer:
https://github.com/shogun-toolbox/shogun/blob/c8c66e61ebc8b6e90cbe726df7557c7291310cab/src/shogun/neuralnets/NeuralLinearLayer.cpp#L97

or in NeuralRectifiedLinearLayer_unittest:
https://github.com/shogun-toolbox/shogun/blob/c8c66e61ebc8b6e90cbe726df7557c7291310cab/tests/unit/n

[2018-04-05 18:00] grig-guz opened #4233 "Redundant code in tests for Neural******Layer classes"
A lot of code gets repeated over and over in some tests, see
https://github.com/shogun-toolbox/shogun/blob/c8c66e61ebc8b6e90cbe726df7557c7291310cab/tests/unit/neuralnets/NeuralRectifiedLinearLayer_unittest.cc#L52

https://github.com/shogun-toolbox/shogun/blob/c8c66e61ebc8b6e90cbe726df7557c7291310cab/tests/unit/neuralnets/NeuralRectifiedLinearLayer_unittest.cc#L111

This needs to be updated with te

[2018-04-09 07:07] fyoda commented on #4231
Nobody can help me solving this issue with the debug version of the library obtained with CMAKE and MSVC 2015?

[2018-04-09 10:09] vigsterkr commented on #4231
@fyoda i'm not so sure how do you end up here.... could you maaaybe reproduce the commands of appveyor or what's in the manual for windows, namely:

[code]

[2018-04-09 10:16] fyoda commented on #4231
The cmake command you reported cannot work as is. When, executed from command line you get the error about the GPL and SVM flag. Only the following command works for me:

`cmake -G"Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Debug -DBUILD_META_EXAMPLES=OFF -DENABLE_TESTING=ON -DLICENSE_GPL_SHOGUN=OFF -DUSE_SVMLIGHT=OFF ..`

[2018-04-09 10:17] vigsterkr commented on #4231
@fyoda what? :) i mean if you do not want GPL sure thing that you can disable it... but that work as it works on appveyor. you are missing the submodules:
[code]

[2018-04-09 11:39] fyoda commented on #4231
I'm sorry, I forgot the submodules. Now your CMAKE command works fine.
I built the solution with MSVC in Debug configuration.

`msbuild "C:\projects\shogun\build\shogun.sln" /verbosity:minimal /t:Clean /p:Configuration=Debug /p:Platform=x64`

 However I'm getting errors LNK2038 when I'm using the .dll generated on the with the sample code posted [here](https://github.com/shogun-toolbox/shogun/wiki

[2018-04-09 11:47] vigsterkr commented on #4231
@fyoda i'm not so sure that DLL should be linkable as is to a simple example - like the minimal code. for that you should compile with the static lib... if you want to use the dll you need to load it into memory with `LoadLibrary`; but correct me if i'm wrong. it's not the same as in case of *NIX systems shared libraries....

[2018-04-09 12:42] vigsterkr commented on #4231
@fyoda modifying direct.h? you mean dirent.h? none the less you have to actually use the right include flags for shogun (check exported target) before you wanna compile against the lib.... otherwise of course you are going have troubles compiling your code.

on the other hand i'd actually link with the static lib, which i dont get why wouldn't has any of those symbols in case of a Debug mode.... t

[2018-04-09 14:28] fyoda commented on #4231
@vigsterkr I meant dirent.h, sorry for the typo.

I don't understand. What do you mean with proper flag? I would try to link shogun statically to the example, but at the end of the build process I don't see any shogun.a file.

[2018-04-09 14:29] vigsterkr commented on #4231
there's no such thing as shogun.a in windows... it's `shogun.lib`

[2018-04-09 14:36] fyoda commented on #4231
@vigsterkr I'm sorry, I got confused. Even if I use static linking against the example I get the same LNK2019 errors reported above, both in release and debug mode:

[2018-04-09 14:37] vigsterkr commented on #4231
@fyoda but the libshogun (c++ examples) compiles fine?

[2018-04-09 15:29] fyoda commented on #4231
@vigsterkr  If compiles fine, but I get an error in the unit test configuration of Eigen library 3.3.4 and it is not able to find BLAS:

[code]

[2018-04-09 15:30] vigsterkr commented on #4231
can you run the tests? meaning `ctest`? because those errors are just warning you taht no BLAS/LAPACK is found, but that should still work - eigen does not *require* to have lapack/blas, it's optional..

[2018-04-09 15:38] fyoda commented on #4231
@vigsterkr In which solution can I find ctest?

[2018-04-09 15:40] vigsterkr commented on #4231
mmm it's not a solution.. .it's part of `cmake`.... as you have ran cmake with `-DENABLE_TESTING=ON` that will enable tests including unit tests and some other c++ examples.

[2018-04-09 15:43] vigsterkr commented on #4231
please read this before further questions:
https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md

[2018-04-10 08:51] vigsterkr commented on #4231
@fyoda if unit tests are passing that it definitely managed to link with `shogun.lib`.
`BUILD_EXAMPLES` cmake flag is by default turned on that means all the libshogun examples ought to be compiled&linked as well, i.e. if you run `ctest -R libshogun` you should have some test that pass.

[2018-04-10 10:56] fyoda commented on #4231
@vigsterkr Ok the test runs correctly. I have tried linking statically the library to the example and it works only with Release library.
In the debug I get the same error. I think there is some problem with the generation of the MSVC solution in debug mode.

[2018-04-10 11:16] fyoda commented on #4231
@vigsterkr  in my opinion, the problem is that, when in MSVC the user switches from Debug to Release configuration the Runtime Library is not updated properly. It should be:
For shared library in Release: Multi-threaded DLL should be set automatically
For shared library in Debug: Multi-threaded Debug DLL should be set

Instead, in the shogun solution... Even if I select the Debug configuration, th

[2018-04-10 12:09] fyoda commented on #4231
@vigsterkr I just changed manually the Runtime Lib in all submodules and worked out. So, there is a problem with the generation of the MSVC solution using CMAKE. It works with dynamic and static linking.

[2018-04-10 12:53] vigsterkr commented on #4231
@fyoda submodules? i'm not so sure if i follow... moreover, if the libshogun examples are successfully compiles and linked then it means that your custom linking/compilation is broken...
meaning if you compile it with:

[code]

or

[code]

if you are referring to the fact that when you run once in the cmake say with `-DCMAKE_BUILD_TYPE=Release` and then switch in your MSVC application the type to

[2018-04-10 13:05] fyoda commented on #4231
@vigsterkr I meant subprojects within the generated MSVC solution.
Summarizing, the shogun library as is, works only in release mode. Because if you try to run:

[code]

And you link the generated library against an example in debug configuration you experience the Runtime library errors I posted above.

This is fully supported by CMAKE to switch between debug and release build within MSVC.
As an

[2018-04-10 13:35] vigsterkr commented on #4231
mmmm i have to check with `dirent.h` but io.h won't work... it needs maaaybe some fixing.... lemme make an issue about that.

i'm not so sure if i understand why would this happen - Debug not working in case of MSVC & shogun. i'm using cmake to generate the solution files, so i dont understand what's missing or how. ideas?

[2018-04-10 13:36] vigsterkr opened #4238 "dirent.h is missing when installed"
it came out in #4231 that we are not shipping the `dirent.h` just have it when we compile... which makes compilation of dll and static lib successful but compiling against an installed libshogun will not be possible as we dont ship this dirent.h :(

[2018-04-10 13:40] vigsterkr commented on #4231
@fyoda have you maybe checked whether adding

[code]

to https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/Time.cpp#L92

[2018-04-10 13:42] fyoda commented on #4231
@vigsterkr I didn't try. I just added

`#pragma comment(lib, "winmm")`

to my main.cpp example to solve the issue. I can try to add it to Time.cpp and I'll let you know.

[2018-04-10 13:43] vigsterkr commented on #4231
if you could add & test that'd be really great thnx!

[2018-04-10 13:54] vigsterkr commented on #4238
@fyoda actually i've just checked, MSDirent is being installed to `shogun/lib/external/MSDirent` so there should be no problem with `dirent.h`.

[2018-04-10 13:55] vigsterkr commented on #4238
can you actually paste me a compile command and the corresponding error when you observe problems with `dirent.h`?

[2018-04-11 06:30] fyoda commented on #4238
@vigsterkr

[code]

[2018-04-11 07:46] fyoda commented on #4231
@vigsterkr Adding
`#pragma comment(lib, "winmm")`

in Time.cpp solved the issue when building the c++ example.

[2018-04-12 07:39] vigsterkr opened #4241 "unit-MixtureModel is flaky"
fails every now and then....

[2018-04-12 07:40] vigsterkr commented on #4241
although it always fails on zesty and yakkety builds: http://buildbot.shogun-toolbox.org:8080/#/console

[2018-04-12 07:53] fyoda commented on #4238
@vigsterkr I simply add the shogun's include path to my project, then link the .dll against the main.cpp.

[2018-04-12 07:54] vigsterkr commented on #4238
@fyoda yeah unfortunately that's not enough :) you use qmake? in case of cmake i could tell you how to use shogun, but i'm not so sure yet how to that with Qt build framework

[2018-04-12 07:57] fyoda commented on #4238
I'm sorry @vigsterkr :), yes I use qmake. I'll send you more information when I go back to my PC.

[2018-04-12 08:07] fyoda commented on #4238
I'm that the problem is that there is no path specified when `dirent.h` is included

[2018-04-12 08:38] zrlkau commented on #3481
Hi @karlnapf,

I ran into the same issue with 6.0.0 (shogun-6.0.0-4.fc26) and with the latest git code (d8c84e90df99757aef7ebd43ade332dad5bbc8e7) while I was trying to load a CARTree in C++ that I trained and serialized in Python. Do you have an outlook on when this might be fixed (or a workaround for now, since I'm working towards a looming paper submission deadline).

thanks,
Michael

[2018-04-12 09:01] karlnapf commented on #3481
Ah yes this one.
I’ll try to have a look later today.
Pls ping again next week if nothing happened.
This is definitely something that needs fixing asap

[2018-04-12 09:53] vigsterkr commented on #4238
@fyoda yes that's the problem,... but that's actually specified in the target cmake, i.e. ShogunTarget.cmake if you'd include shogun like that into your project.

[2018-04-12 12:33] fyoda commented on #4238
@vigsterkr I understand the point but I don't know how to include the generated ShogunTarget.cmake in my Qt project.

[2018-04-12 12:52] fyoda commented on #4238
Adding those paths to my .pro file solve the issue.

[2018-04-12 15:05] karlnapf commented on #3481
Just briefly looked into this.
Unfortunately there is some deeper issues causing this.
I give it a shot fixing later.

If it takes too much time: this issue will be resolved once we have the new
Parameter/serialisation framework in place which is high priority it also a
lot of work.

On Thu, 12 Apr 2018 at 12:22, zrlkau <notifications@github.com> wrote:

--
Sent from my phone

[2018-04-12 16:00] zrlkau commented on #3481
Hi @karlnapf ,

thanks for looking into it. I was afraid that it's something more fundamental since that case isn't covered in any templated class. If you can find a fix, it'd really appreciate it but I understand that it's not a simple problem.

thanks,
Michael

[2018-04-13 10:55] karlnapf commented on #3481
The reason is not that this case is not covered in templated classes (or at least that is easy to fix), but the problem is that the tree implementations were never written in a way that they can be serialized (which is our bad for having not enforced that back when the GSoC student wrote this).

I will open an issue that suggests a workaround.

[2018-04-13 11:12] karlnapf opened #4242 "Refactor tree algorithms to be serializable"
## Problem
The current implementation of tree algorithms are based on a class `CTreeMachineNode`, which is templated, with a templated field `T data` to carry tree node data for the various algorithms The template argument is then set to custom data structures, like `CARTreeNodeData` for the `CARTree` algorithm.

While this is reasonable design, unfortunately, Shogun template classes only can be s

[2018-04-13 11:13] karlnapf commented on #3481
We might pick this up at this weekend's hackathon, or maybe delegate it to a GSoC student, as it is a cool task to learn more about shogun's internals.

[2018-04-13 11:15] karlnapf opened #4243 "Clean up tree algorithm code"
* use `linalg`
* replace the many loops with `std::` calls (and `linalg`)
* Make sure missing parameters  (labels, features, weights) dont cause segfaults

[2018-04-13 11:25] karlnapf opened #4244 "move GP codes back into main repository and remove GPL guards"
GP = Gaussian Process

This task to to move all GP classes in https://github.com/shogun-toolbox/shogun-gpl back to to the main repository. The library NLOpt is in fact LGPL, which means we can use it from the main repository without licensing problems.

Double check all the class comments for potential further license issues (some of the integrators might be GPL).

Of course the build should remai

[2018-04-13 21:17] vigsterkr commented on #4238
@

[2018-04-13 21:17] #4238 closed

[2018-04-13 21:48] #4043 closed

[2018-04-13 21:52] karlnapf opened #4247 "port meta examples to new API"
All meta examples should

* use the generic `put` and `get` methods rather than custom getters setters
* use factory methods, instead of parametrised  constructors, to create new objects, load files, etc (and subsequent put/get calls). Pls use the kwargs feature (see `meta_api/kwargs.sg`
* dont use types apart from the base types: `Machine, Kernel, Labels (not RegressionLabels, etc), Features`

Se

[2018-04-13 22:34] karlnapf opened #4248 "remove SGString"
Since it has almost identical functionality as SGVector, we should use SGVector instead.

Bigger refactoring task, good for gsoc students, but maybe not that trivial

[2018-04-14 12:39] karlnapf commented on #4242
Actually this is quite high priority, so we will try to get this fixed asap

[2018-04-16 10:00] karlnapf opened #4258 "Make use of inheritance in class API docs"
There are many methods that are well documented in the base class (doxygen docs).
Then the subclass often doesnt provide any comments at all or, even worse, copy-pased from the baseclass.

But doxygen can in fact automatically use base class doc strings if subclasses do not provide one:

This depends on the INHERIT_DOCS configuration setting. When setting INHERIT_DOCS to YES the documentation will

[2018-04-16 10:09] karlnapf opened #4259 "remove num_lhs field in CKernel"
The field only causes problems. This is a refactoring exercise to remove the fiels, and instead query the underlying features.

Special cases might be `CCustomKernel` where no features are set. However, the base class should always query the underlying features.

The member function
[code]
would be changed to
virtual int32_t get_num_vec_lhs()
		{
			return lhs->get_num_vectors();
		}
[code]

[2018-04-17 18:26] iglesias commented on #3975
Thanks a lot for reporting @ealtamir.

The fix above explains both issues (including the one with k=1). You were using a data set where one class had only 1 example, this is too few for the method's implementation. As an anecdote, I checked in the other public implementations of LMNN that I know of and they also have this "bug". At least now our implementation stops gracefully and points you at th

[2018-04-17 18:26] #3975 closed

[2018-04-24 09:29] #4241 closed

[2018-04-30 11:02] fyoda opened #4265 "C1083: Cannot open include file: 'Eigen/Eigen': No such file or directory"
Hello,

I'm just writing some test code using shogun lib on windows. I'm using dynamic linking against my executable.
However, I get an error when I include:

`#include <shogun/mathematics/eigen3.h>`

The error is:

`C1083: Cannot open include file: 'Eigen/Eigen': No such file or directory`

Where should be located the eigen library within the installation folder? Because I couldn't find them.
I c

[2018-04-30 13:50] fyoda opened #4267 "Problem with FastICA algorithm"
Hello,

I'm having problem when using the FastICA algorithm available within shogun.
I'm elaborating the same data and compare shogun results with the matlab implementation available here: https://research.ics.aalto.fi/ica/fastica/code/dlcode.shtml

The test data I use are: https://www.dropbox.com/s/2j7diqad2zx7t77/test_data.txt?dl=0

Here is the sample code, `X` contains 16x30000 samples:
[code]

[2018-05-02 11:14] vigsterkr commented on #4265
@fyoda indeed this was an error in the previous release... now it's fixed in `develop`, basically any third party library will be available under `shogun/third_party` folder. for the time being you either start using the latest version of shogun or add the eigen headers under `shogun/lib/external/eigen` manually

[2018-05-02 11:15] vigsterkr commented on #4267
@fyoda have you made sure that the X is column oriented?

[2018-05-02 11:25] vigsterkr commented on #4265
@fyoda you should be able to use eigen 3.3.4 and put there manually.. .note that you should use `-isystem` gcc/clang flags when you compile shogun

[2018-05-02 11:25] vigsterkr commented on #4265
btw which header includes `#include <shogun/mathematics/eigen3.h>`

[2018-05-02 11:33] fyoda commented on #4265
@vigsterkr I'm building the lib with MSVC 2015, the ` -isystem` should be set by CMAKE when generating the MSVC solution (I think).
` #include <shogun/mathematics/eigen3.h>` includes:

[code]

[2018-05-02 11:34] vigsterkr commented on #4265
@fyoda oh so you are having this error while you are building shogun? i thought when you are using it. if it's build time problem, then there's a bug indeed

[2018-05-02 11:36] fyoda commented on #4265
I'm getting this error in both cases, when I build shogun but also when I'm using it.
However, even if I get the many of those errors during the build phase, the .lib is genered.

[2018-05-02 11:40] vigsterkr commented on #4265
i'm just checking the headers and none of the external headers include the mentioned eigen3.h so you shouldn't have this problem while using shogun externally. but of course the build problem (when you try to build the library) should still be fixed... i remember that you were having some custom build mechanism. note the generated MSVC 2015 works by default - see our appveyor builds.

[2018-05-02 11:44] fyoda commented on #4265
@vigsterkr I don't have standard MSVC 2015 build mechanism. The problem with me was the debug and release build. I solve by changing manually the Runtime lib used for the debug, because it doesn't switch automatically in visual studio.

[2018-05-02 11:45] vigsterkr commented on #4265
@fyoda can you provide me the compiler flags for the shogun.sln?

[2018-05-02 11:53] fyoda commented on #4265
@vigsterkr In the following you can find all options for the libshogun solution:

`/GS /TP /W1 /Zc:wchar_t /I"C:\Users\myUser\Downloads\shogun\src" /I"C:\Users\myUser\Downloads\shogun\build\src" /I"C:\Users\myUser\Downloads\shogun\src\gpl" /I"C:\Users\myUser\Downloads\shogun\build\MSDirent\src\MSDirent\include" /I"C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\eigen" /I"C:\Users\my

[2018-05-02 11:55] vigsterkr commented on #4265
ok so basically this:

```C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\eigen```

should make sure that eigen is available. that dir is being created by cmake and by adding eigen to your project. check if eigen is actually there.

[2018-05-02 12:00] fyoda commented on #4265
@vigsterkr No there is no eigen folder there. The build process downloads the 3.3.4 but then it's not copied there automatically. I try rebuilding shogun putting the eigen in that folder.

[2018-05-02 12:01] vigsterkr commented on #4265
mmm that's weird as this should be autogenerated by cmake. are you sure you are checking it under `build` dir and not the root of the repo?

[2018-05-02 12:03] fyoda commented on #4265
I'm sure, in `C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external` there is no `eigen` folder

[2018-05-02 12:04] vigsterkr commented on #4265
for the sake of argument, could you create a new build directory, say `build-test` and run cmake and try to build shogun.sln

[2018-05-02 12:30] fyoda commented on #4265
Ok, I created a new `build-test`, build again the lib but I still get the error mentioned before.

`Error	C1083	Cannot open include file: 'Eigen/Eigen': No such file or directory	libshogun	C:\Users\myUser\Downloads\shogun\src\shogun\mathematics\eigen3.h	14	`

[2018-05-02 13:09] vigsterkr commented on #4265
mmm that is super interesting.... so then i guess this is a bug - that i couldn't reproduce yet... could you put there (`C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\eigen`) manually the eigen 3.3.4? it should fix it.

[2018-05-02 13:32] fyoda commented on #4265
By putting `eigen` files manually in `C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\` the Eigen includes within eigen3.h are not underlined in read anymore.
I'll let you know at the end of the build process.

[2018-05-02 14:11] fyoda commented on #4265
@vigsterkr Now the build process fails. Here is the error list of visual studio:

[code]

[2018-05-02 14:30] vigsterkr commented on #4265
@fyoda this should be in C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\eigen

[2018-05-02 14:58] fyoda commented on #4265
@vigsterkr I'm sorry I forgot to copy that folder. C1083 solved. I still get the other errors LNK1181.

[2018-05-02 14:59] vigsterkr commented on #4265
mmm i'm not so sure where the linking error is coming from :(

[2018-05-03 06:58] fyoda commented on #4265
@vigsterkr By manually adding eigen folder in `C:\Users\myUser\Downloads\shogun\build\src\shogun\lib\external\` the C1038 got fixed.
Now I have the shogun.lib.

I  still have a problem when using the lib. I cannot use Eigen within my code. If I include `#include <Eigen/Eigen>` I get again the C1038 error posted above.
I have included all paths specified within ShogunTargets.cmake:

[code]

[2018-05-03 07:33] fyoda commented on #4265
Fixed, the problem is that in `shogun\include\shogun\lib\external\eigen\Eigen` only the src folder is copied within the install directory.

[2018-05-03 10:02] fyoda commented on #4267
@vigsterkr X has 16 signals, one for each row.

[2018-05-03 16:17] vigsterkr commented on #4265
@fyoda if you wanna use yourself Eigen for some reason in your code you need to provide the eigen for yourself. meaning: if you just simply use shogun classes you should not have problems of finding eigen, as it's actually only used during compile time of the library...

ok so basically the problem here is mostly about things that got already fixed imo - in develop. i'll test it during the weekend

[2018-05-03 16:27] fyoda commented on #4265
Ok, thanks!

[2018-05-04 09:11] karlnapf opened #4274 "Drop CLabelsFactory class"
1. Replace all `cLabelsFactory` calls with
`binary_labels`
`multiclass_labels`

(note that those methods return `Some`)

or alternatively with `obj->as<CBinaryLabels>()` etc

2. Remove the `as_binary` from the `CLabelsFactory`
3. Once all methods are removed, remove the class itself

@vinx13 @shubham808 @FaroukY those are another good candidate for you

[2018-05-04 09:45] vigsterkr commented on #4267
@fyoda ok so i've downloaded the test file you've provided and there's a little problem with the file.
if i do the following:

[code]

then i get: `30000x17`, which is causes an error... because you have some a trailing tab in that file. after removing the trailing tab (`sed -i -e 's/\t*\r*$//g' test_data.txt` ) i get `30000x16` and the mixing matrix is:

[code]

[2018-05-04 09:50] fyoda commented on #4267
@vigsterkr I'm sorry for the problem with the test file.
However, there is a big difference between the mixing matrix (A) obtained with shogun and the one obtained with the matlab script I reported. I don't understand why...

[2018-05-04 09:55] vigsterkr commented on #4267
@fyoda could you provide the mixing matrix of the matlab script?

[2018-05-04 10:06] vigsterkr commented on #4267
@fyoda note that FastICA has a random initialization step of the mixing matrix, so if you remove the setting the seed of the prng, you would get different mixing matrix each time you run train. say this is a mixing matrix from FastICA on the same data you have provided:

[code]

[2018-05-04 10:09] vigsterkr commented on #4267
see https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/converter/ica/FastICA.cpp#L116-L125

[2018-05-04 10:14] fyoda commented on #4267
This is the mixing matrix obtained with matlab script:
[code]

[2018-05-04 10:32] vigsterkr commented on #4267
here's some example matrix if you turn off whitening (it's on by default):

[code]

[code]

[2018-05-07 12:09] vigsterkr commented on #4204
@FaroukY @vinx13 @shubham808 these errors are actually blockers for the new release. the only way to reproduce this is actually to disable the LAPACK backend to be used by eigen (`ENABLE_EIGEN_LAPACK`) and compile shogun with it... it'd be great if you could somehow figure out why this happens and help in fixing these tests

[2018-05-07 12:14] fyoda commented on #4267
@vigsterkr I'm sorry I missed the whitening flag. I compared both matrices and the extracted independent components with the matlab one and they look very different.

[2018-05-07 12:15] vigsterkr commented on #4267
@fyoda ? what do you mean very different exactly? i mean note that FastICA is randomized so every time you run it if you dont set the seed you will get different results....

[2018-05-07 12:25] vigsterkr commented on #4267
@fyoda on the other hand if you are definitely sure that there's some bug, unfortunately there's no way around but debug and compare the two implementations.

[2018-05-07 12:45] fyoda commented on #4267
@vigsterkr I tried a simple example in matlab. Generate 4 known signals:
- sinusoid
- saw-tooth
- impulsive noise
- random curve

Then I multiply the signal matrix with a random mixing matrix (A).
I give the same mixed 4 signals to Matlab fastica and shogun fastica and:
- with the matlab fastica I get back the unmixed signals
- with shogun I get something strange

See the picture at the following

[2018-05-07 12:47] vigsterkr commented on #4267
@fyoda can you provide code/data for the shogun test? that way debugging it would be simpler

[2018-05-07 12:52] fyoda commented on #4267
Data are:
https://www.dropbox.com/s/brg6d3tk0xqznwe/shoguntest.txt?dl=0

The shogun code is similar to the one posted above. X contains the (4,500) parsed elements.

[code]

The matlab fastICA implementation used is the one posted above. My script using it is:

[code]

[2018-05-08 09:04] vigsterkr commented on #4267
@fyoda the interesting thing that the unit test of FastICA actually does something similar:
https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/converter/ica/FastICA_unittest.cc#L25-L30

and it seems to be passing :)

[2018-05-08 09:42] fyoda commented on #4267
@vigsterkr how it's possible... Have you tried the Data I provided? Did you get the independent signals?

[2018-05-08 09:49] vigsterkr commented on #4267
@fyoda i'm just testing atm the data you've provided. with whitening turned on i'm getting this:
<img width="657" alt="screen shot 2018-05-08 at 11 49 16 am" src="https://user-images.githubusercontent.com/30353/39750589-e0c0c1f0-52b5-11e8-8333-ef0449d580fb.png">

[2018-05-08 09:51] vigsterkr commented on #4267
@fyoda i reckon this is the expected signal no?

[2018-05-08 10:01] fyoda commented on #4267
Yes.... how it's possible that you get the signals by enabling whitening?
I did the same now and I get this:
![untitled](https://user-images.githubusercontent.com/37776179/39751151-91221c78-52b7-11e8-9b30-d8eb807c1112.jpg)

[2018-05-08 12:41] vigsterkr commented on #4267
@fyoda ok so i'm closing this ticket then :)

[2018-05-08 15:07] fyoda commented on #4267
@vigsterkr ok, :) even if the extracted components have a different scaling factor with respect to the original signals and among them.

[2018-05-13 13:16] fyoda commented on #4267
@vigsterkr do you have some suggestion?

[2018-05-13 20:51] rayrapetyan opened #4282 "CCARTree::CARTtrain crashes on certain data input"
Tested on 6.1.3 branch. With attached data process crashes on:
SGVector<index_t> subsetr(num_vecs-count_left);
trying to allocate -1401 bytes of memory.

There is some logical error before this point which I'm not able to determine.

Note:
- if you remove  random lines from input (e.g. last line), it works fine.
- if you set feature types (ft[i]) to "false", it works fine.

[code]

[2018-05-14 09:33] shubham808 opened #4283 "Subscription to a handler in derivatives of CMachine"
Currently only [CMachine::train](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/Machine.cpp#L60) is subscribing to a handler.
Due to this we are not able to write ```on_pause_impl()``` of our own in derivatives of for example [CLinearMachine](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/LinearMachine.cpp#L184).

[2018-05-14 09:43] vigsterkr commented on #4274
i reckon this can be closed because of 02ee9a54554a8b6a50f502f58ffe1c05a0a66a32 right @shubham808 ?

[2018-05-14 09:46] vigsterkr commented on #4267
@fyoda that's a good question. the negative coefficient is probably coming from the different eigen solver - namely that the eigenvectors are pointing to the opposite direction..... the amplitude difference is a good question though.... is the amplitude difference is consistent? i mean it looks like, meaning they are all scaled with the same factor, or?

[2018-05-14 09:57] shubham808 commented on #4274
yes sure :+1:

[2018-05-14 09:58] vigsterkr opened #4284 "drop HAVE_CXX11 macro"
there's still some places where we have an `ifdef HAVE_CXX11`, but since 6.1.0 release shogun requires that your compile actually supports c++11.

just do a `git grep HAVE_CXX11` and eliminate those macro checks.

[2018-05-14 09:59] #4274 closed

[2018-05-14 12:38] vigsterkr commented on #4282
@rayrapetyan ok i can reproduce this error on linux... interesting enough the same is not true on OSX :( i'll get back to you ASAP when i figured out what's going wrong.

[2018-05-14 17:27] rayrapetyan commented on #4282
Thanks! Mine was FreeBSD. It could be on OSX allocator just returns max avail memory instead of a crash or something like that... I've also noticed that on another data sets training can take incredibly high amount of time (e.g. about 4 seconds for < 100 rows of data, or hours for few thousands of rows). It could be the same issue as described here. Let's see.

[2018-05-14 17:28] vigsterkr commented on #4282
@rayrapetyan i've already found out what's the root cause of the error.... there's a buffer overflow, so whatever osx returns is garbage, or it should be. currently i'm figuring out where's the logic error with the buffer overflow.

[2018-05-14 17:31] vigsterkr commented on #4282
@rayrapetyan note that row = feature in case of shogun, i.e. that's it column oriented (each column is an example)

[2018-05-14 17:36] rayrapetyan commented on #4282
Yeah, I've struggled with that already. But in my example there are 3 "vectors of features" with 25 features in each. I've double-checked cycle:
for (auto i = 0; i < vectors; ++i) {
        ft[i] = true;
    }
It fills 3 values as it should, so no overflow there...

[2018-05-14 17:36] vigsterkr commented on #4282
@rayrapetyan ah yeah, no the overflow is in CARTree itself. your code is fine.

[2018-05-15 06:29] vigsterkr commented on #4282
@rayrapetyan btw regarding the runtime: do you have categoricals? i.e. where you set `ft[i] = true;`? because if so, then its slow because of this: https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/multiclass/tree/CARTree.cpp#L683

in case your problem is a binary classification or regression, today i'll push a patch that'll speed-up things significantly... if it's multiclass i am a

[2018-05-16 13:25] abhishek-1991 commented on #4284
Hi Viktor,

I would like to take up this task.

Thanks and Regards,
Abhishek.

[2018-05-16 14:15] vigsterkr commented on #4284
@abhishek-1991 sure thing, since this is a rather large effort, just start with a file where you find this macro and send in patches.

[2018-05-17 11:15] micmn opened #4288 "Can't compile with Eigen < 3.3.3"
Stan's perceptron unit test fails to compile with Eigen 3.2.92:
`StanMath/stan/math/rev/mat/fun/Eigen_NumTraits.hpp:297:54: error: wrong number of template arguments (6, should be at least 8)` ([full log](https://gist.github.com/micmn/726006db073949e9751152c318ae79e4))
I guess it's due to the fact that Stan requires Eigen 3.3.3 whereas Shogun's minimum requirements is 3.1.2

[2018-05-17 11:54] vigsterkr commented on #4288
miju :) since we can bundle eigen and afaik Stan actually has a 3.3.3 bundled eigen, i reckon the best would be just to drop as is the whole system detection of eigen and use Stan's eigen bundled.... @FaroukY

[2018-05-17 12:31] #4282 closed

[2018-05-17 12:36] vigsterkr opened #4289 "CARTree split strategy for nominal values is way too vanilla"
factor out split strategy and allow the following heuristics:
 * in case of regression or binary classification: reduce the number of split candidates to M−1
by ordering the categorical feature values by the average label.
 * for multiclass:
       - Pull Left By Purity
       - PCA Partitioning
       - One Versus All By Class

[2018-05-18 13:45] #4288 closed

[2018-05-22 14:28] vigsterkr commented on #4207
closing as this has been fixed

[2018-05-22 14:28] #4207 closed

[2018-05-22 14:39] vigsterkr opened #4296 "fix ubuntu bionic compilation"
http://buildbot.shogun-toolbox.org:8080/#/builders/41/builds/12

there's probably some bug in the lapack/blas detection...

[2018-05-23 11:26] vigsterkr commented on #3495
@karlnapf in general this could be closed, or?

[2018-05-23 13:03] karlnapf commented on #3495
indeed

[2018-05-23 13:03] #3495 closed

[2018-05-23 15:06] karlnapf opened #4298 "Systematically test all machines on all types of features/labels"
Just like for trained models and x-validation

[2018-05-23 15:14] micmn commented on #3537
These are the classes that are tested so far: ```CLinearMachine, CKernelMachine, CLinearMulticlassMachine, CKernelMulticlassMachine, CNativeMulticlassMachine```

[2018-05-23 16:36] micmn commented on #3537
Yeah in the python script instead of calling jinja we could generate an header that lists all the machines  and then use a typed test, it should be doable.

Missing: for sure we talked about GPs.

[2018-05-23 17:38] FaroukY opened #4299 "Problem with new API (StatisfiedCrossValidation)"
It seems there is a problem with the new API in StratisfiedCrossValidation. The following example fails with error:

`[ERROR] In file /tmp/src/shogun/src/shogun/evaluation/StratifiedCrossValidationSplitting.cpp line 44: Multiclass or binary labels required for stratified crossvalidation`

Example.sg:

[code]

Changing this to the following runs fine:

[code]

[2018-05-24 01:32] vigsterkr opened #4300 "add stanmath archive into release archive"
for offline compilation

[2018-05-24 06:54] vigsterkr opened #4303 "Systematically test models with different feature types"
currently there's a lot of models where the input feature type (Sparse, Dense, Streaming etc.) is just assumed without actual proper checks and warnings, which results in a bad user experience.

the way to clean up this would be to actually systematically test all the models with various input types and see what happens, and then later have the proper exceptions to be thrown etc.

a good starting

[2018-05-24 07:07] vigsterkr opened #4304 "add to CMachine an API that returns the model's supported feature types"
currently a CMachine can expose what sort of problem it can solve with `EProblemType get_machine_problem_type()` API, e.g. `PT_BINARY`, `PT_REGRESSION` etc. but it doesn't say anything about what type of features it would support (`EFeatureClass`), namely dense (`C_DENSE`), sparse (`C_SPARSE`), both (dense and sparse), string `C_STRING` etc. Either the user herself knows what sort of feature the m

[2018-05-24 09:52] karlnapf commented on #3537
Tree Machines as well (they dont even serialize atm)

[2018-05-24 09:55] karlnapf commented on #4299
Yep, that is to be expected. You will need to use the conversion methods in there for now.
See #4297 for example

[2018-05-24 09:55] #4299 closed

[2018-05-25 08:04] vigsterkr commented on #3505
as of today these are the currently failing notebooks:
 * Scene_classification.ipynb
 * DecisionTrees.ipynb
 * variational_classifier.ipynb
 * Classification.ipynb

[2018-05-25 13:35] vigsterkr opened #4306 "does not compile with gcc 4.8.5"
which is both in CentOS7 and as well in conda, so this is a mustfix. the reason is because of a c++14 feature we use `enable_it_t`

[2018-05-25 14:48] vigsterkr opened #4308 "when generating includes/imports of modules use a set to do that"
otherwise you'll end up with such set of includes (see the multiple includes of `CrossValidation` and `factory`

[code]

[2018-05-28 14:04] vinx13 commented on #4210
Haven checked locally, `LinalgBackendEigen::eigen_solver_symmetric_impl` returns negated eigen vectors when LAPACK backend is used

[2018-05-29 08:32] vigsterkr commented on #4210
@vinx13 great! thnx for checking this! so yeah then our unit test for GMM is not invariant for such case... which it should be as they are actually the same eigenvector

[2018-05-29 08:36] vigsterkr opened #4311 "kNN and nearest neighbours"
Current design of kNN is a bit broken as even though we have various kNN engines that can solve the classification problem itself, but when just simply trying to query the nearest neighbors of a given set of points with `nearest_neighbors` then it simply does a brute-force check for that...

[2018-05-30 10:35] karlnapf opened #4315 "clean up stratified xvalidation splitting code"
* remove the use of Shoguns dynamic array (use std::vector or no dynamic structures at all
* use `std::` functions rather than vanilla loops
* might be worth to check sklearn's or mlpacks implementation for how to do this efficiently

[2018-05-30 13:43] karlnapf commented on #4210
in #4204 the integration tests fail (i.e. the mean of the mixture component), not the unit test.

I am not sure whether the cluster centres might be permuted if the sign changes, or if the results are simply different. Did anyone check whether some unit tests fail as well?

[2018-05-30 13:48] vigsterkr commented on #4210
different EVs = opposite direction

[2018-05-30 13:54] karlnapf commented on #4210
Ill dig into the GMM code and see whether we can make it invariant to the sign in GMM itself

[2018-05-30 14:08] karlnapf commented on #4210
Maybe it would make sense to do some postprocessing after the backend call.
We can enforce all eigenvalues have positive sign for example (moving the minus into eigenvector, or just drop if both are negative). Thoughs?

[2018-05-30 14:17] vigsterkr commented on #4210
fyi here's the generated output when LAPACK isn't available

[code]

[2018-05-30 14:19] karlnapf commented on #4210
Alternative is to do that in the GMM .... and all the other algorithms where such problems appear

[2018-05-30 14:20] vigsterkr commented on #4210
@karlnapf even more so ----

[2018-05-30 14:27] karlnapf commented on #4210
in this case ... good luck solving it :)

[2018-05-30 14:28] vigsterkr commented on #4210
in this case imo this shows how some of our integration tests are actually not the best. :)

[2018-05-30 14:28] vigsterkr commented on #4210
same story comes up with the randoms

[2018-05-31 20:19] vigsterkr opened #4321 "Factory methods should be registered as %newobject in SWIG interface"
see http://www.swig.org/Doc3.0/Customization.html `12.2 Object ownership and %newobject`

[2018-06-01 08:43] vigsterkr commented on #4321
@karlnapf maybe @shubham808 could take a go on this. this is a blocker for 6.2.0

[2018-06-01 08:49] shubham808 commented on #4321
sure :) I am looking into it

[2018-06-01 09:07] karlnapf commented on #4321
ah yes very good point. @shubham808 put it on your todo list. But dont do it this week pls, there is too many other things that need attention first. This can count as a "meta example patch" so just do it instead of porting an example next week or so

[2018-06-01 10:30] #4283 closed

[2018-06-02 12:58] sahilbansal17 commented on #4315
@karlnapf Hi, I want to work on this issue, please help me in getting started.

[2018-06-04 09:37] #4308 closed

[2018-06-04 14:09] karlnapf commented on #4315
@sahilbansal17 check https://github.com/shogun-toolbox/shogun/wiki/Getting-involved and the [code](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/evaluation/StratifiedCrossValidationSplitting.cpp)

[2018-06-04 14:57] vigsterkr opened #4328 "fix the shadowing warnings in the generated SWIG interface file"
there are tons of warnings like this lately when compiling the SWIG generated source file

[code]

would be good to have this fixed, as this 'contaminates' the CI jobs stdout :(

[2018-06-07 12:29] karlnapf opened #4334 "Towards better xvalidation"
- [ ] Introduce iterator interface for pairs of train/validation indices in `CSplittingStrategy`
- [ ] Remove `CFeatures` training data from `CMachine` state
- [ ] Remove `CLabels` training data from `CMachine` state
- [ ] While the above two are being worked on, we could have a `CMachine::clone_without_data` that allows to clone a machine without cloning the data as well, to be used in xvalidatio

[2018-06-07 12:29] karlnapf commented on #4334
@vinx13 this is for you

[2018-06-20 09:13] daifeng2016 opened #4341 "Fail to run the example of Multiple Kernel Learning"
I have installed the shogun library using python command "conda install -c conda-forge shogun", and some examples can work well.  However, when I test the example of  "Multiple Kernel Learning", some errors arise, such as:
 1) NameError: name 'SVRLight' is not defined
 2)  SystemError: [ERROR] In file C:\bld\shogun-cpp_1512689666832\work\shogun-shogun_6.1.3\src\shogun\classifier\mkl\MKL.cpp line 4

[2018-06-20 11:05] karlnapf commented on #4341
Hi!
This is due to the licensing of SVMLight (we cannot change that). You will have to compile shogun yourself if you want to use svmlight.

What is the error for GMM? There is a LAPACK dependency there. @dougalsutherland is lapack enabled in the conda build?

[2018-06-20 12:05] daifeng2016 commented on #4341
Thank you for your explanation @karlnapf , the error for GMM is "name 'GMM' is not defined ".

[2018-06-20 12:18] karlnapf commented on #4341
This is due to a LAPACK dependency. We got rid of this in the latest development version, and this will be in conda with the next release.

Though still it seems weird that lapack is not active in conda, will check that

[2018-06-20 13:28] daifeng2016 commented on #4341
@vigsterkr  Yes, I am using shogun with python version on windows 10 system, and many problems happend.

[2018-06-20 13:30] vigsterkr commented on #4341
@daifeng2016 yeah unfortunately the windows version has no lapack backend... :( as said by @karlnapf this particular error is fixed in develop, but has not been released yet

[2018-06-20 13:33] daifeng2016 commented on #4341
@vigsterkr Thank you, wishing to see the latest version.

[2018-06-25 10:40] geektoni opened #4344 "Build fails when trying to build the benchmarks"
I tried to build Shogun's benchmarks on Hedonism by configuring everything with these parameters (I used the current `develop` branch):
[code]
### Problem
However, the build process fails with these two error messages:
[code]
and
[code]
I have no idea why it is happening

I was still able to build the remaining benchmarks by commenting the lines 580 and 578 inside https://github.com/shogun-toolbox

[2018-06-25 16:13] dougalsutherland commented on #4341
Sorry I didn't see this last week (my github notifications are an endless swamp). Yes, there's no lapack backend on the Windows build yet (https://github.com/conda-forge/shogun-cpp-feedstock/issues/13).

[2018-07-04 14:38] karlnapf opened #4353 "Clean up CFeatures::dense_dot implementations"
Currently, there is a ton of copy pasted code in `CFeatures::dense_dot` (in the `.cpp`).

This task is to use C++ (11) features to replace this with a templated version that avoids the heavily redundant code.
Or even use linalg as that will be faster.

Ask if you need a pointer to get started

[2018-07-05 15:31] karlnapf opened #4354 "start hiding Machines from SWIG"
As we now use `p = machine("Perceptron")`, we do not need to expose `CPerceptron` to swig anymore.
This task is to check which machines are solely used in the meta examples, and not in the old undocumented examples or the ipython notebooks.
Then, remove those classes from the corresponding `.i` files.

E.g. in `Classifier.i`, remove
[code]
and in `Classifier_includes.i`, remove
[code]

Make sure t

[2018-07-05 15:31] karlnapf commented on #4354
This is a good weekly task regarding examples, @shubham808 @vinx13 @FaroukY

[2018-07-07 13:47] karlnapf opened #4362 "make CGDSVM and CSVMLin inherict from SVM"
or find out why they don't at the moment.

These machines are SVM, and there is a lot of redundant code (like registering the SVM C parameter) that could be avoided. But maybe there is a reason why this is done as it is ...

[2018-07-12 12:12] #3977 closed

[2018-07-12 16:33] #4328 closed

[2018-07-12 18:02] shubham808 opened #4368 "Refactor linalg::svd to also compute V"
Any ```m x n``` matrix A can be factored into ```A = USVt```. Currently [linalg::svd](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgNamespace.h#L1635) only computes U and s. There should also be some API for computing V matrix to cover all use cases(see [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/backend/eig

[2018-07-16 03:55] csitaula opened #4374 "About problem in installing Shogun in R (windows)"
How to install Shogun on R (windows)? Could anyone please help me to install this toolbox. I need to implement MKL for the feature fusion. Cheers!

[2018-07-16 20:58] karlnapf commented on #4374
I think that the MKL solvers are not available on windows atm.
But you could try [vcpkg](https://github.com/Microsoft/vcpkg) or conda

[2018-07-16 20:58] #4374 closed

[2018-07-18 15:58] abhishek-1991 commented on #4284
Hi Victor,

Sorry for returning after long time. I was busy else where. I pulled the latest build today but it is giving compilation error for file "LaRank.cpp". I am using g++ 5.4.0

Thanks and Regards,
Abhishek.

[2018-07-23 11:08] karlnapf opened #4382 "LibLibearRegression with bias crashes"
Seems to be a minor dimensional issue.

Investigate and fix, add a meta example with integration data so we have coverage

[2018-07-23 12:51] karlnapf opened #4383 "clean up linalg unittest"
E.g. the `Eigen3_operations_unittest.cc` only tests for float64_t.

Make the tests typed so they are executed for every shogun type! See e.g. `SGObjectAll_unittest.cc` for how to do that.

Next, use fixtures to define the necessary matrix objects to avoid the huge amount of redundant code in there

[2018-07-25 17:04] karlnapf opened #4385 "fix linalg::dger which is way to inefficient"
the lapack routine does this better.
At naive loop implementation would be better than allocating a new matrix here

@vinx13 I assign you, as you started using this, I know it is not your fault but maybe you can make this a bit cleaner?  https://github.com/shogun-toolbox/shogun/commit/ce8c9b009b0d04f4866b0f0e62b2c514ac6f9176#diff-b59cfc6c549dd52160d0ce73b6356b04R589

[2018-07-25 17:13] karlnapf commented on #4385
At least a bit better:
[code]

[2018-07-25 17:14] karlnapf commented on #4385
Actually nevermind @vinx13 I'll include that in my latest PR

[2018-07-31 13:06] vinx13 opened #4388 "Set lhs of distance to cluster centers in Hierarchical clustering in store_model_features"
every [`CDistanceMachine`](https://github.com/shogun-toolbox/shogun/blob/58b914a6b326cd5f799727e39737bc4b4b11b286/src/shogun/machine/DistanceMachine.h#L105) has to make sure that cluster centers are in lhs of distance variable, the task is to fix the todo in https://github.com/shogun-toolbox/shogun/blob/58b914a6b326cd5f799727e39737bc4b4b11b286/src/shogun/clustering/Hierarchical.h#L122

see [KMeans

[2018-07-31 14:03] karlnapf commented on #4388
as if you need details

[2018-08-08 06:09] muhannad35990 opened #4391 "how to install shogun for mingw on windows using qt c++"
hi all
I'm trying to use shogun in qt project but I cant compile shogun for mingw on windows
please help

[2018-08-08 10:28] karlnapf commented on #4391
Shogun natively compiles under windows, see our [appveyor config](https://github.com/shogun-toolbox/shogun/blob/develop/appveyor.yml) and [build](https://ci.appveyor.com/project/vigsterkr/shogun/branch/develop)
Whether Minigw works is unclear to me. @vigsterkr ?

[2018-08-08 10:29] #4391 closed

[2018-08-14 05:40] muhannad35990 commented on #4391
thanx for reply
I'm stuck for two weeks on compiling shogun toolbox
I'm working on project in master letter using qt creater and minGW (
www.mingw.org/) for c++ GUI
I want shogun toolbox to be compiled using and can use it as ".a" or ".lib"
file to be added to qt project configuration
please help me

On Wed, Aug 8, 2018 at 1:29 PM Heiko Strathmann <notifications@github.com>
wrote:

[2018-08-15 11:06] karlnapf commented on #4391
As said, the project compiles  *natively* without having to use mingw and that is the recommended solution here. All the information you need for that is above. Using anaconda, there are also windows binaries available (only the c++ core, no interfaces as of now AFAIK, patch welcome) https://anaconda.org/conda-forge/shogun

[2018-08-17 06:57] muhannad35990 commented on #4391
thank you very mach that's exactly what I needed
thanks alot

On Wed, Aug 15, 2018 at 2:06 PM Heiko Strathmann <notifications@github.com>
wrote:

[2018-08-19 13:25] admanero commented on #3977
I have pretty much the same issue. In Fedora 28  I run the following cmake command from the build directory.

 cmake -DPYTHON_INCLUDE_DIR=/usr/include/python3.6m -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 -DPYTHON_PACKAGES_PATH=/usr/local/lib/python3.6/site-packages/ -DINTERFACE_PYTHON=ON -DINTERFACE_OCTAVE=ON -DLICENSE_GPL_SHOGUN=OFF -DUSE_SVMLIGHT=OFF -DOpenCV=ON ..

  during make there were

[2018-08-19 13:44] admanero opened #4393 "Error while linking CXX shared library libshogun.so"
I pulled shogun from github.  In Fedora28

Followed the instruction here [http://shogun.ml/install#manual](url)
I used the following cmake command
(14:15 admanero@Yoga2Pro-Fedora28 build) > cmake -DPYTHON_INCLUDE_DIR=/usr/include/python3.6m -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 -DPYTHON_PACKAGES_PATH=/usr/local/lib/python3.6/site-packages/ -DINTERFACE_PYTHON=ON -DINTERFACE_OCTAVE=ON -DLICE

[2018-08-25 09:55] Chetank99 commented on #3988
For the installation process,
after the  git submodule update --init
I have this problem,

Cloning into 'data'...
fatal: unable to connect to github.com:
github.com[0: 192.30.253.113]: errno=Connection timed out
github.com[1: 192.30.253.112]: errno=Connection timed out

fatal: clone of 'git://github.com/shogun-toolbox/shogun-data.git' into submodule path 'data' failed

I don't get it... My network

[2018-08-25 15:27] karlnapf commented on #3988
@Chetank99 this has nothing to do with shogun or git, but it is, as you reckoned, your network connection

[2018-08-25 18:13] Chetank99 commented on #3988
@karlnapf I tried it again after checking my Internet speed too, which was good. Do you think there might be some other problem? Because my network connection turns out to be just fine.

[2018-08-25 21:49] karlnapf commented on #3988
Well the error message is that git cannot connect to the internet. You will have to check your setup. BTW if you just want to use shogun, just use conda

[2018-08-26 08:56] Chetank99 commented on #3988
@karlnapf Sorry for being a total noob but after I used conda to install it, it's showing:

fatal error: shogun/lib/config.h: No such file or directory
compilation terminated.

[2018-08-26 13:44] karlnapf commented on #3988
This is not the place to discuss this. Come join the IRC if you need help on those things. I am unsure of what you actually are trying to do there ...

[2018-08-26 15:30] Chetank99 commented on #3988
@karlnapf My bad.. I'll join the IRC

[2018-08-29 09:36] fyoda opened #4394 "Stuck compilation in debug mode MSVC 2015"
Hello,

I'm have built shogun both in debug and release mode using visual studio 2015, properly changing the  RT library for the debug build.
After importing the dll in my project I'm experiencing a super slow compilation in debug mode. The build process get stuck at linking phase without generating the final .exe.

Some else experienced the same problem? Can it be related to the large size of the

[2018-09-06 20:05] carbonox-infernox commented on #3988
I have tried 4 different ways to install Shogun without success.

First I tried installing on windows but I couldn't get visual studio to execute git commands despite installing the git extension.

Then I tried following this website http://bpg.utoledo.edu/svmlab/ for windows, but I got stuck on ./configure for Shogun because it kept saying that it couldn't find a C++ compiler. I tried moving gcc.

[2018-09-07 14:10] carbonox-infernox commented on #1805
@iglesias How do you get those working? I installed those, but octave is not finding shogun's libraries.

[2018-09-07 17:16] carbonox-infernox opened #4396 "With Octave on Ubuntu 16.04: Stuck in installation at cmake"
I am following the instructions here: http://www.shogun-toolbox.org/install#manual-basics

When i do `cmake .. -DINTERFACE_OCTAVE=ON`

I get the error
`CMake Error at /usr/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find Octave (missing: OCTAVE_ROOT_DIR) (found suitable version
  "4.4.1", minimum required is "3.6")
Call Stack (most recent call first):
  /

[2018-09-07 20:02] lisitsyn commented on #4396
I checked this thing and the reason is that `OCTAVE_ROOT_DIR` is detected via `octave-config -p PREFIX` which is not supported anymore. I didn't find any mentions of that in CHANGELOG of Octave but I guess we should adapt `FindOctave`. Luckily, this directory seems to be unused. This means deleting it from the argument list of `find_package_handle_standard_args` should help.

[2018-09-16 07:17] iglesias commented on #1805
@carbonox-infernox did you set up the "search path" in Octave so that it knows where its Shogun target is?

[2018-09-16 07:17] #1805 closed

[2018-09-16 21:22] geektoni opened #4397 "Add 6.2.0 version to the Release page"
I'm currently updating the scripts used in the [mlpack/benchmarks](https://github.com/mlpack/benchmarks) to the new Shogun's release. Shogun's actual version is the 6.2.0, but the [releases](https://github.com/shogun-toolbox/shogun/releases) page shows only until the 6.1.3. Could it be possible to add the new release (since it is also mentioned into the NEWS file)? @vigsterkr what do you think?

[2018-09-17 15:18] vigsterkr opened #4398 "Python classes miss __module__ property"
The SWIG generated wrappers are missing the `__module__` property, currently the only way to get this info is by `object.__class__.__module__`, for example:

[code]

[2018-09-18 10:02] geektoni commented on #4397
The NEWS file contains on the top line the version of Shogun which will be released next and not the current stable release. Therefore, the Release page is actually correct. Closing.

[2018-09-18 10:02] #4397 closed

[2018-09-23 17:06] cyberyu opened #4399 "sklearn and shogun's multiclass SVC produce different result"
I had this problem similar to someone else reported on Github

https://gist.github.com/olinguyen/7fd3bf7642ae952a7803579cb9561b5b

Also, I added the Multi-class SVM from shogun and compared three classifiers.  I didn't really benchmark C and epsilon, but I assumed that C value should not be that different across packages.

The reason led me to investigate was: I had some other real work using MKL

[2018-09-23 17:28] vigsterkr commented on #4399
mmm the random (seeds etc) is for sure different so that for sure will end in slightly different results.

afaik in case of sklearn the default is L2 reg with l1-loss right? and it's solving the dual? just because that's the default for LibLinear in case of shogun... i.e. make sure that they are the same solvers.

but again PRNG should give you different results - as expected.

[2018-09-23 17:32] cyberyu commented on #4399
Thanks for the reply.  The real problem is Shogun performance on this is very poor: it always give me naive predictions.  I doubted my code may not construct the kernels correctly, but since I am using Linear kernel and the data set is very popular, I wonder where did I do wrong.  I searched around and didn't find enough materials on how to correctly initialize this in Python.  (I am an experience

[2018-09-23 19:58] vigsterkr commented on #4399
@cyberyu thnx heaps for your detailed issue description! i'll try to look at it and get back to you ASAP

[2018-09-28 00:15] marscrazy opened #4401 "Error in compiling manually"
Thanks for your attention and please help me. I was trying to compile shogun manually. However, there was an error.

First, I ran the following command.

`cmake -DPYTHON_INCLUDE_DIR=/home/123/anaconda3/include/python3.6m  -DPYTHON_LIBRARY=/home/123/anaconda3/lib/python3.6/ -DPYTHON_PACKAGES_PATH=/home/123/anaconda3/lib/python3.6/site-packages/ -DINTERFACE_PYTHON=ON -DCMAKE_INSTALL_PREFIX=/home/123

[2018-09-28 08:59] geektoni commented on #4401
Hi @marscrazy! Currently, the 6.1.3 version of Shogun has a bug caused by some new functionalities introduced into the Shogun's GPL code. If you do not have any particular reason to use specifically the 6.1.3 release, I suggest you to try to build against the latest development version.

[2018-09-29 12:33] marscrazy commented on #4401
Thanks for noticing. I successfully compiled with the old version (4.0.0). The MKL toolkit inside Shogun is very helpful to me. I hope that the development of the new version will go smoothly.

[2018-09-29 12:33] #4401 closed

[2018-10-03 15:41] geektoni opened #4402 "Shogun 6.1.3 does not compile against the latest Shogun's GPL code."
Currently, trying to compile the 6.1.3 version of Shogun with the GPL code won't work, since the GPL code contains some new features which are not compatible with the 6.1.3 release (see the error below). It is not possible to disable the GPL code either because it will result in a cmake error (this will be fixed by #4400). At the moment, these two problems make impossible to compile the 6.1.3 with

[2018-10-03 16:32] vigsterkr commented on #4402
mmm wait, the submodule is being tagged... so in master branch the right commit should be marked from the gpl repo, so in a way it's tagged.. but you are right it would be more clear if we would have a tag.. which we actually should be a do now, as we know the exact commit hash that is for 6.1.3.

btw how do you get this error? :) when you checkout master branch do you do `git submodule update`?

[2018-10-03 20:55] geektoni commented on #4402
This error can be generate by running this script here (taken from mlpack benchmark system):
[https://github.com/mlpack/benchmarks/blob/af93c85c107e5d26a4b32ff5c454b525e53dd942/libraries/shogun_install.sh](https://github.com/mlpack/benchmarks/blob/af93c85c107e5d26a4b32ff5c454b525e53dd942/libraries/shogun_install.sh) where shogun.tar.gz and shogun-gpl.tar.gz are taken from these links (I cannot use

[2018-10-03 21:28] vigsterkr commented on #4402
ok just pushed a tag: https://github.com/shogun-toolbox/shogun-gpl/archive/v6.1.3.tar.gz this should make things work ;)

[2018-10-03 21:28] #4402 closed

[2018-10-04 12:32] geektoni commented on #4402
Thanks! It is compilable now! :)

[2018-10-06 12:55] zym-wade commented on #3811
you can restart the compilation from scratch

[2018-10-07 02:57] zym-wade commented on #4211
hello！Now I am also compiling shogun manually,and I have encountered the same problem as you, I would like to ask you how to solve this problem?
Thank you!

[2018-10-09 09:27] karlnapf commented on #3988
As the error message states, you need to init or update the data submodule, which is explained extensively in the docs.

[code]

[2018-10-09 09:29] karlnapf commented on #4211
`pip install ply`
or compile with `-DBUILD_META_EXAMPLES=Off`

[2018-10-09 09:29] #4211 closed

[2018-10-11 08:16] yoyouitikon opened #4403 "problem when install Shogun on window7 with Python3.7"
Hi, I want to install shogun in my computer. My computer in Window7 and i installed Anaconda firstly. Then under Anaconda Prompt,  run " conda install -c conda-forge shogun".  I got the following error information:

Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(502): An error occurred while installing package
'conda-forge::auto

[2018-10-11 08:40] geektoni commented on #4403
Hello @yoyouitikon. From what I can see I think it is an error more related to your Anaconda installation than to Shogun itself. We can be of little use in this case. The best thing you can do now is to google the error and try to fix it before trying to install Shogun.

[2018-10-12 06:50] yoyouitikon commented on #4403
Dear Giovanni De Toni,

  Thanks a lot for your kind answer. I did google a lot to solve this problem, however, nothing can be successfully. Besides intalling Anaconda, is there any other way to install Shogun in Python?

  Thank you very much for your kind help!

  Best regards,
  @yoyouitikon
-----"Giovanni De Toni" <notifications@github.com> wrote: -----
To: "shogun-toolbox/shogun" <shogun@nore

[2018-10-12 12:33] karlnapf commented on #4403
shogun is also part of vcpkg
https://github.com/Microsoft/vcpkg/blob/master/CHANGELOG.md

[2018-10-12 12:33] #4403 closed

[2018-10-12 13:55] gf712 commented on #4383
Hi!
Do you still need help with this issue? I just started having a look at how the typed tests work in LDA_unittest.cc. It's pretty neat!

For the linalg tests would you test it just with floats, so it would be a refactor of `Eigen3_operations_unittest.cc`, i.e. the tests are written with floats, so just need to extend to `float32_t` and `floatmax_t` using `TYPED_TEST`. Or, also perform tests wit

[2018-10-12 20:29] karlnapf commented on #4383
Welcome! :)
Yes totally, this is a good way to get involved with our testing system!
We would want to test the operations for all types that they are supported with. Sometimes that is only floats (some solvers for example), sometimes it is more (add) You can see the definitions [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/LinalgBackendBase.h), `DEFINE_

[2018-10-12 20:30] karlnapf commented on #4383
The best thing would be to globally define the types for googletest to match things like all shogun ptypes, all floating point ptypes, all numerical ptypes, etc

[2018-10-15 09:49] gf712 commented on #4383
OK! Thank you. For now I am defining the test case types locally. I agree that it is a bit messy to rewrite the types each time.
I will send a PR when that is done, and then can have a look at how to clean up the code a bit!

[2018-10-16 15:19] gf712 commented on #4382
Hi!
I am trying to reproduce this error. Do you see this issue when setting `use_bias` to `true`?

If this is the case I found a couple of issues:
* the `prob` instance is never set to `use_bias`, e.g. `prob.use_bias = get_use_bias();`
* there is dimensionality problem, because `w` is assigned size=`num_features`:
https://github.com/shogun-toolbox/shogun/blob/e338426fc5777386b30eb0adee9e63bf61076e

[2018-10-17 10:13] karlnapf commented on #4383
No idea. In fact, we have been moving towards getting rid of `CMath::` functions recently, in favour of using `std::` directly. So there should be no need for `powl` anymore.
@vigsterkr do you know why `pow` is still there, we have removed most others
@vinx13 maybe you know?

[2018-10-17 10:32] vinx13 commented on #4383
i have no idea. but here i think it is ok to rename `powl` to `pow`

[2018-10-17 10:37] karlnapf commented on #4382
* Yes, this is how to reproduce the error!
* Yes, the dimensionality changing is the issue, i.e. `w` contains one more component (this bias)

I thought about the solution, and it seems to solve the problem.
Can I suggest we have a PR, along with a unit test that compares this exact solver and bias configuration with say the one interfaced by sklearn? On a minimal problem (we have environments set

[2018-10-17 10:37] karlnapf commented on #4382
Nice catch! :)

[2018-10-17 10:38] karlnapf commented on #4383
Thanks!

[2018-10-17 11:28] gf712 commented on #4382
I will submit PR now!

I also had to add a line after training to set the bias. There was an issue with setting the train labels to `prob.y`, the memory was allocated but then the values were never assigned..

I wrote a test based on `shogun/tests/unit/regression/LibSVR_unittest.cc` with a simple equation (`y = 3x + 2`).

[2018-10-22 09:00] gf712 opened #4408 "Travis bug generating trained_model_serialization_test.h"
There is currently an issue building in one of the Travis environments ([example](https://travis-ci.org/shogun-toolbox/shogun/jobs/443619544#L2902)). The issue gives an error like this:
[code]
This is because the `examples/meta/tags` file is not passed to trained_model_serialization_test.cc.py, and there are only two out of the three expected args.

The issue is that `CTAGS_FILE` is defined in `sh

[2018-10-22 16:57] karlnapf commented on #4408
Yes that seems to be the fix. Great! Thanks for looking into it

On Mon, 22 Oct 2018 at 10:38, Gil <notifications@github.com> wrote:

--
Sent from my phone

[2018-10-26 09:53] #4408 closed

[2018-10-29 17:32] Naba7 commented on #3519
Hey! actually I am newcomer,so what I have to do in here? @karlnapf

[2018-10-30 10:07] karlnapf commented on #3519
Well, this is to document the ipython notebooks that shogun has: how to run / change / add new ones / what style they are in. Probably not the best thing to start with if you have to ask what we want there

[2018-11-01 02:59] zqfang commented on #4306
I can't build shogun on CentOS7 too. Is this bug fixed now?

[2018-11-04 13:33] zym-wade opened #4410 "The sum of the weights of the core is not 1？"
I use two-category MKL training, why always there is a segmentation error, and the sum of the weights of the core is not 1？

[2018-11-05 09:39] karlnapf commented on #4410
Thanks for the report
Could you post a stand-alone example to reproduce this, minimally if possible. Thanks

[2018-11-05 14:31] zym-wade commented on #4410
print('Using mkl vector machine')
import shogun as sg

try:
	from shogun import SVMLight
except ImportError:
	print("SVMLight not available")
	exit(0)

# create combined train features
feats_train = sg.CombinedFeatures()
feats_train.append_feature_obj( sg.RealFeatures(sg.LongIntFeatures(x_tr.T )))
feats_test = sg.CombinedFeatures()
feats_test.append_feature_obj( sg.RealFeatures(sg.LongIntFeatures(

[2018-11-07 08:38] chamberSccc opened #4411 "multiple kernel learning for feature"
How can I put one kernel for one feature?

[2018-11-07 09:57] karlnapf commented on #4411
What exactly do you mean by feature? A feature object? If so, the combined kernel has exactly that: one kernel per feature object. This is best discussed on stackoverflow or on irc, but not here.

[2018-11-07 09:57] #4411 closed

[2018-11-07 09:59] karlnapf commented on #4410
It seems like a recently introduced bug. I will try to fix it

[2018-11-08 01:52] zym-wade commented on #4410
And this segment error is only after the end of the program run, is there no free space?

[2018-11-08 11:17] karlnapf commented on #4410
No this has to do with a recent re-factoring and comes from a missed reference counter increase ...

[2018-11-08 11:38] avramidis commented on #2713
Hello @karlnapf
Is this issue still valid? I checked for CHMM unit test and could not find. If it's ok with you I would like to work on this.
Thanks

[2018-11-08 12:01] karlnapf commented on #2713
The issue is still open, yes, and the file/class is still in the source tree.

[2018-11-08 12:01] avramidis commented on #2713
Great, thanks!

[2018-11-08 12:49] zym-wade commented on #4410
I also want to ask, it takes a long time to save and download the svm model. Is there any way to improve it?

[2018-11-09 18:14] karlnapf commented on #4410
That is more for a discussion on the mailing list or IRC, rather than here. But short answer: this is probably because the whole training set is stored (downside of kernel methods). You could try calling `store_model_features` which prunes all data that have zero coefficients. Not sure that works for MKL, feel free to issue a feature request

[2018-11-10 10:40] karlnapf commented on #4410
Your code snippet is incomplete. Could you provide a minimal stand-alone example that I can just copy paste to run? I need to fill so many gaps here that it is not clear what the error would be

[2018-11-10 15:05] zym-wade commented on #4410
ok，I will sort it out on Monday, thank you.

[2018-11-11 02:52] zym-wade commented on #4410
What is your email address, I also need to send the data set to you together.

[2018-11-11 10:44] karlnapf commented on #4410
Does it also crash with minimal random data?
Like `x_tr = np.random.randn(100,10)` etc? email is on our website

[2018-11-14 19:38] mariiavasileva opened #4413 "Make: GPL class_list.cpp.o failed"
Hello,
I have a problem similar to this closed issue - https://github.com/shogun-toolbox/shogun/issues/2841.

I am trying to use cmake -DCMAKE_BUILD_TYPE=release -DPythonModular=ON   -DLICENSE_GPL_SHOGUN=ON -DBUILD_DASHBOARD_REPORTS=ON -DBUILD_META_EXAMPLES=ON -DENABLE_TESTING=OFF ..

Because as I understand DLICENSE_GPL_SHOGUN=ON is necessary for Gaussian Classification.

So I have the next cmake

[2018-11-14 19:47] mariiavasileva commented on #4413
In general: Is it possible to run this example - http://www.shogun-toolbox.org/examples/latest/examples/gaussian_processes/gaussian_process_classifier.html without GPL?

[2018-11-15 10:05] karlnapf commented on #4413
No, as of now,  you will get a runtime error you you haven't got the GPL modules installed.
This is coming from `brent.cpp`, an optimization library that is included within Shogun's (GPL) source tree that is needed for inference. Note that brent is LGPL, so if you put that as an external dependency that is dynamically linked against, it would be OK. Some refactoring work ....

[2018-11-15 10:05] karlnapf commented on #4413
your build errors are probably coming from an outdated build directory after changing the license options in cmake.... Try to build from scratch

[2018-11-15 10:07] karlnapf commented on #4413
Ill close this for now, feel free to re-open if the above doesnt work

[2018-11-15 10:07] #4413 closed

[2018-11-15 15:33] mariiavasileva commented on #4413
It helps, thank you.) Just one more question related to the classifier.cpp example. I can run it successfully now, but I don't really understand how can I look at the results? Because standard cout returns : output 0xe85f00)?

[2018-11-15 16:36] karlnapf commented on #4413
as the example states you can look at the predictions
[code]
You can extract the probabilities via `gp_classifier.get_probabilities(features_train)`

[2018-11-15 18:42] karlnapf commented on #4410
Ok I figured there is a memory bug in `CombinedKernel` that is at least contributing to your problem.

Reproducible with
[code]

[2018-11-15 18:45] karlnapf opened #4416 "Ref-counting / memory error in CombinedKernel"
The following listing illustrates the problem. If the last statement is remove, Python segfaults on exit as it tries to destroy the already de-allocated `f` object
[code]

See also #4410 for the first report

[2018-11-15 18:45] karlnapf commented on #4416
Interestingly, the above listing doesnt segfault when only one kernel is added to the combined kernel

[2018-11-16 03:05] nan-galad commented on #4353
I'll bite. Totally new to making open-source contributions and looking to start getting involved in the community. Any pointers would be appreciated!

[2018-11-16 11:29] karlnapf commented on #4353
This task requires a bit of C++ experience. First have a look at the code and see if you can find things you don't like. Then we can discuss

[2018-11-17 00:07] nan-galad commented on #4353
It's entirely possible that I'm not totally qualified for this fix as most of my experience lies outside of C++. It's a language I'd like to get more experience with, but at the same time I don't want to waste everyone's time floundering with an issue.

[2018-11-19 07:20] zym-wade commented on #4416
I am sorry, I just came back to school. This problem is still not solved. I tried your demo and it will display the following error.

[GCDEBUG] unref() refcount 3 obj DenseFeatures (0x16034f0) decreased
[GCDEBUG] unref() refcount 0, obj CombinedKernel (0x1bea950) destroying
[GCDEBUG] ref() refcount 2 obj GaussianKernel (0x1bee9c0) increased
[GCDEBUG] unref() refcount 2 obj DenseFeatures (0x16034f0

[2018-11-19 18:38] karlnapf commented on #4416
Yes the bug is still open.

[2018-11-20 11:58] avramidis opened #4418 "For loop for examples meta-language"
I am in the process of converting the shogun/examples/undocumented/python/distribution_hmm.py to a meta example. I am stuck at the lines with the for loops.

I checked the meta language files and could not find any mechanism for loops. I am happy to implement it if that is the case.

Thanks!

[2018-11-20 15:15] karlnapf commented on #4418
Hi!

Thanks for getting involved here.
There currently is neither a LOOP or a WHILE construct in the meta language... the language is supposed to be very simple and only just expressive enough for API examples.

We might change this at some point, but it is unlikely for now. What we usually do is to load datasets from files in case you want to generate training data. Have a look at the other examp

[2018-11-20 15:15] #4418 closed

[2018-11-22 07:15] HaoZeke opened #4419 "Error creating examples (C++)"
# Bug Report
- [x] No similar issues exist
- [x] Replicated on similar systems
## Description
I am not able to build shogun with the examples. Without the examples it builds alright.

## Configuration
[code]

## Error

[code]

## System Details
### Architecture and OS
![image](https://user-images.githubusercontent.com/4336207/48886840-693b7280-ee53-11e8-9913-e0d748b702ea.png)

### Shogun
Git versi

[2018-11-22 07:36] HaoZeke opened #4420 "Broken APREC Support"
# Bug Report
- [x] No similar issues exist
- [x] Replicated on similar systems

## Description
The `make` step fails if ARPREC is installed.

## Configuration

[code]

Where examples are turned off due to https://github.com/shogun-toolbox/shogun/issues/4419.

## Error
[code]

The `make` step works if ARPREC is uninstalled.

## System Details
### Architecture and OS
![image](https://user-images.git

[2018-11-22 09:32] gf712 commented on #4419
Hey, I think I have seen that error before in a build when compiling with gcc 8. Which compiler are you using?

[2018-11-22 09:36] gf712 commented on #4419
From your other [issue](https://github.com/shogun-toolbox/shogun/issues/4420) you seem to be using gcc-8. Could you try compiling with gcc-7 or lower? I am not sure what causes this issue though..

[2018-11-22 20:34] karlnapf commented on #4416
This example doesnt work?
http://www.shogun-toolbox.org/examples/latest/examples/regression/multiple_kernel_learning.html
It might be excluded of our test build due to license issues...but it should still work

And then there is:
http://www.shogun-toolbox.org/notebook/latest/MKL.html

[2018-11-22 20:48] karlnapf commented on #4419
I saw this error before with an outdated build folder. If you start form scratch, it still happens?

[2018-11-22 20:53] karlnapf commented on #4420
Thanks for the report. This should have been fixed a while ago so I dont understand why this appears. We dont have a test build for archlinux though
Do you desperately need ARPREC? That is only used by a few modules within shogun ...

[2018-11-23 00:57] HaoZeke commented on #4420
I don't actually need ARPREC, so I can make do without it when #4419 works out..

On a side note, would a pull request adding an ArchLinux setup to the CI system be useful?

I can also provide more debugging information if required..

[2018-11-23 01:10] HaoZeke commented on #4419
@gf712, I am indeed using gcc8

[code]

I will test with a lower version.

@karlnapf, unfortunately I have replicated this on 2 machines (one shown here and the other described in #4420) with clean builds (deleting the whole folder)

[2018-11-23 10:48] karlnapf commented on #4420
Thanks for the offer, I think long term maintenance of such a build would be most useful. @vigsterkr I'll leave replying to you.

As for the example problem. You could try turning them off using `-DBUILD_META_EXAMPLES=Off`, or, if you just want to disable the cpp meta examples `-DTRAVIS_DISABLE_META_CPP=Off`

[2018-11-23 10:51] karlnapf commented on #4419
We would have to dig a bit to replicate this error. I remember seeing it on some of our builds, but I dont know how or whether it was resolved. I think @vigsterkr might know more

[2018-11-23 14:13] HaoZeke commented on #4420
Sure I'd love to maintain one..

Currently I have moved on to Shark but I will switch back if I don't get the eigen errors in my code.

[2018-11-24 12:03] karlnapf commented on #4233
go for it!

[2018-12-02 04:16] saatvikshah1994 commented on #4232
Could I work on this simultaneously with #4233

[2018-12-02 10:02] karlnapf commented on #4232
@saatvikshah1994 go for it! :) Looking forward to seeing a patch here

[2018-12-03 13:47] gf712 opened #4428 "License file"
I just noticed that in all license headers we have `(see LICENSE file)` but in the whole project there is no such file (only `COPYING`). And in the [wiki](https://github.com/shogun-toolbox/shogun/wiki/LICENSE) the LICENSE file is for GPL.. Doesn't this need updating?

[2018-12-03 16:07] karlnapf commented on #4428
Definitely :)
I thought we had updated the file ...
Wanna go ahead and clean this up a bit?

[2018-12-03 17:14] gf712 commented on #4428
Done!

[2018-12-03 18:01] #4428 closed

[2018-12-05 08:50] luoagnes commented on #3539
I also meet the error：Please make sure that you have cmake and make installed. And there is a message is:
Shogun build environment completed tasks: cmake: [True] - make: [False] - make install: [False]
so, how to install make? I can not find a make package for python, need help.

[2018-12-06 02:35] saatvikshah1994 opened #4430 "Random matrix Generation"
As discussed with @karlnapf in #4424, there are several improvements/additions that could be made to the random number generation(RNG) API for SGMatrix/SGVector. Neither take advantage of the `CRandom::fill_array` vectorized RNGs. SGMatrix does not support RNG while SGVector simply loops over the entire legnth calling `CMath::random` per index. In summary the proposal is to add the following for b

[2018-12-06 20:37] karlnapf commented on #3539
The setup.py is oudated. Pls install shogun using anaconda.
If you cannot make sense of the build messages, it might make more sense to install a binary version of shogun (see again anaconda)

[2018-12-06 20:44] karlnapf commented on #4430
Really nice write-up!

One comment, 3. we can definitely change the api here ... towards a more standard `random` and `random_normal`, or even better: `rand()`, and `randn()`

[2018-12-07 07:40] ck244 commented on #4353
Thinking of taking a crack at this. @karlnapf did you mean the code in DenseFeatures.cpp, starting line 633?

[2018-12-07 12:21] karlnapf commented on #4353
yes, please go for it

* try to use SIMD where possible (linalg)
* avoid redundant code
* templates are powerful

[2018-12-13 06:50] saatvikshah1994 commented on #4430
I'd like to work on this as my next issue. One thing I realized while looking at the Random.h is that [0, 1] is not available within [dSFMT](http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/SFMT/) used for vectorized double generation. So would have to do [0, 1) instead.

[2018-12-13 10:11] gf712 opened #4431 "When should we prioritise using the STL algorithms?"
I am currently writing some new print functions for SGObjects and I need to iterate over a map. There are several ways to do this now. The two ways I would use is a range iterator in a for loop or `std::for_each` with a lambda. In my case this would look like this:
- For loop:
[code]
- `std::for_each`
[code]
They are both the same, but the lambda has its own scope which is a bit awkward, as we nee

[2018-12-13 12:07] karlnapf commented on #4430
That should be fine imo as the boundaries are a set of zero measure i.e. `P(x=1)=0` almost surely

[2018-12-13 12:09] karlnapf commented on #4431
bringing the io in is awekward indeed. I think this issue is just for printing though, so despite the fact that we usually try to stick to the STL recently, I think you can do an explicit loop here. Or you just bring the io into the scope.
BTW why do you want to print? This should not be necessary as most user API should just return strings (which is supported by swig)

[2018-12-13 12:13] gf712 commented on #4431
This would be a way to replace `print_modsel_params` with something more generic like `print_params(ParameterProperties pprop)`, since we would now have implement a `print_gradient_params` and so on, no?

[2018-12-13 12:16] karlnapf commented on #4431
Just drop this. We can have the string returning method with a filter and potentially some ready packaged cases for things like hyperparamters

[2018-12-13 12:33] karlnapf commented on #4431
I think it is best if the caller prints for himself. Think IPython/swig where this happens anyways, and in C++ the caller can then choose where and how to print. Could even use `sg_io` but the point is that there is choice and we don't need to manage this so less code

[2018-12-13 15:03] gf712 commented on #4431
I am just thinking where else I can easyly see the description of the args/params? For example if I want to know what `log_width` is I can right now check it by typing `sg.GaussianKernel().print_modsel_params()` and see `log_width (Kernel width in log domain): float64`. That is the only way (other than going to the docs), right?

[2018-12-13 20:41] karlnapf commented on #4431
Yes. I guess it would be the above, and then
[code]

[2018-12-13 20:42] karlnapf commented on #4431
Or Pythonic: `[myobj.help(param) for param in myobj.hyperparameters()]`

[2018-12-13 22:09] ChrisTX commented on #4420
The Arch AUR package only builds the static ARPREC library, and that without PIC. As of such, it cannot be linked into `libshogun.so`, as that would require PIC. I've contacted the AUR maintainer with a fixed version of the package, that would enroll ARPREC as a shared library, which is how it should be on Arch.

With the fixed version of the package, I've been able to compile shogun with ARPREC s

[2018-12-13 22:24] ChrisTX opened #4434 "Octave interface cannot be built with Octave 4.4"
The Octave interface cannot be built with the current Octave 4.4, since `<octave/config.h>` does not exist any longer and was replaced by `<octave/octave-config.h>`. Even after changing that, there's some undeclared symbol errors, and a huge number of deprecated declaration warnings being generated.

[2018-12-13 23:12] ChrisTX opened #4435 "Perl interfaces cannot be built"
The Perl interfaces depend on an erroneous CMake call here https://github.com/shogun-toolbox/shogun/blob/develop/CMakeLists.txt#L461 It should be just `find_package(PerlLibs)`.

[2018-12-14 09:14] avramidis opened #4436 "Use of auto in cpp meta examples"
This issue is relevant to #4423 In this PR the aim was to convert [this python script](https://github.com/shogun-toolbox/shogun/blob/develop/examples/undocumented/python/features_string_char.py) to a meta example.

When using the factory method to create a CStringFeatures object it is returned as CFeatures. This is fine, however, in the case of generating the meta examples that use this functional

[2018-12-17 06:32] saatvikshah1994 opened #4439 "Valgrind errors in multiple unit tests"
On the current latest `develop` branch, when running ` valgrind --leak-check=full  ./shogun-unit-test --gtest_filter=*NeuralInputLayer*`(or other filters) Im getting thousands of errors all of which seem to be complaining `Conditional jump or move depends on uninitialised value(s)`.

When running the same on a version from one month back(commit hash `f6efd89467a7016be8a50bf3f7c0fdf32b075369`) ther

[2018-12-17 12:13] gf712 commented on #4439
Hi, which compiler did you use to compile shogun? I just did the same check and did not get any errors.

[2018-12-18 03:02] saatvikshah1994 commented on #4439
I basically setup a CLion project on my Ubuntu 18.04 machine and tested it on the executable generated there. In that case the above errors show.
But when I build it in a separate build directory there are no errors.
The CXX compiler used seems to be the same. Since Im not able to reproduce it - I guess it can be closed?

[2018-12-18 09:03] gf712 commented on #4439
What are the compile flags passed by your CLion via cmake? I think it might be worth investigating it now, considering it is a recent change that causes that error and we can narrow it down.

[2018-12-18 10:59] kikish opened #4443 "Windows Compilation : error C2783: 'void shogun::sg_generic_free(T *)': could not deduce template argument for '__formal'"
Hello,

I have a problem when I try to compile shogun under Windows and Visual Studio 2015.
Within Visual Studio, I launch the Build process on the "shogun" project and I have the following error:
[code]

Do have an idea on what is going wrong ? Or what I missed ?

Regards,

Arezki.

[2018-12-18 11:04] karlnapf commented on #4436
As discussed, I think this is possible with `put` `get`, and potentially registering a lazy executed function with `get`, as done [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/clustering/KMeansBase.cpp#L367) and the corresponding example

[2018-12-18 11:31] #4436 closed

[2018-12-18 11:32] karlnapf commented on #4420
That is great news. Patches would be very welcome here!
Let us know if you need any help

[2018-12-18 11:33] karlnapf commented on #4434
Thanks a lot for reporting!
Patches welcome as this should be fixed before a release

[2018-12-18 11:34] karlnapf commented on #4435
Thanks for reporting!
Perl is super experimental, but we would love to see this fixed. It is not part of our CI for some reasons, but it would be nice to put some work in that direction. If you are keen, I can give some pointers on how to start this.

[2018-12-18 11:44] karlnapf commented on #4439
Many thanks for reporting. Can you track down the exact change that started causing this?

[2018-12-18 16:19] gf712 commented on #4443
Hi,
That seems to be due to a bug with `constrexpr` in VS2015, according to [this](https://stackoverflow.com/a/42811804). Apparently it can be fixed by upgrading to VS2017 (or using another compiler).

[2018-12-18 16:32] gf712 commented on #4443
Ah, nevermind that expression should give a `static const`, not a `constexpr`, so that should work fine.. It might still be worth trying out on VS2017 if you have it?

[2018-12-18 16:32] gf712 commented on #4431
Closing this issue because the main question has been answered

[2018-12-18 16:32] #4431 closed

[2018-12-19 03:46] saatvikshah1994 commented on #4439
I thought might be a one off thing, but after deleting and rebuilding valgrind still reports the errors. That said, here is what the cmake configuration step looks like with the CLion build:
[cmake-build-out.txt](https://github.com/shogun-toolbox/shogun/files/2693183/cmake-build-out.txt)

[2018-12-20 16:13] karlnapf commented on #4439
again, if we want to find out what is going on here, it might be best to find out what commit (or even better line changed) started causing those issues ... whether they are real issues, and what the best solution would be

[2018-12-21 01:00] joy1314 opened #4445 "install shogun failed"
I met the error like this when I run the 'make'
/usr/bin/cmake: /usr/local/lib/libcurl.so.4: no version information available (required by /usr/bin/cmake)
-- downloading...
     src='https://github.com/ReactiveX/RxCpp/archive/4.1.0.tar.gz'
     dst='/home/joy1314bubian/文档/shogun/third_party/rxcpp/4.1.0.tar.gz'
     timeout='none'
CMake Error at /home/joy1314bubian/文档/shogun/build/rxcpp/src/rxcpp-s

[2018-12-21 01:07] joy1314 opened #4446 "the MKLClassification can't be trained"
I have installed the shogun by "conda install -c conda-forge shogun"
I have written codes like this

def Bin_MKLClassficataion(f_feats_train,f_labels_train,f_feats_test,f_labels_test):
    features_train = RealFeatures(f_feats_train)
    labels_train = BinaryLabels(f_labels_train)
    features_test = RealFeatures(f_feats_test)
    labels_test = BinaryLabels(f_labels_test)

    poly_kernel = PolyKe

[2018-12-21 01:16] joy1314 opened #4447 "A Problem of Cross Validation on Multiple Kernel Learning"
I have installed shogun by conda install -c conda-forge shogun
I have written codes to make Cross Validation on Multiple Kernel Learning.

   `def Bin_MKLClassficataion(f_feats_train,f_labels_train):
    features_train = RealFeatures(f_feats_train)
    labels_train = BinaryLabels(f_labels_train)

    poly_kernel = PolyKernel(10, 2)
    gauss_kernel_1 = GaussianKernel(2.0)
    gauss_kernel_2 = Gaus

[2018-12-21 22:49] saatvikshah1994 commented on #4439
Sure, I can try to find out where its failing - Regarding whether its a real issue I'm not sure how to figure out. It does seem awkward that the error only occurs when building with CLion.
A few other observations:
1. This warning always creeps up right at the start: `==25464== Warning: set address range perms: large range [0x8f21000, 0x24c75000) (defined)`.
2. I'm running `valgrind` from a Parall

[2018-12-21 22:51] saatvikshah1994 commented on #4233
I think this issue can be closed now.

[2018-12-21 22:51] saatvikshah1994 commented on #4232
I think this issue can be closed now.

[2018-12-22 22:30] saatvikshah1994 commented on #4439
Another update, so I've figured out when Valgrind reports the error - its when I build with `cmake -DCMAKE_BUILD_TYPE=Debug -DENABLE_TESTING=ON -DBUILD_META_EXAMPLES=ON -DENABLE_ASAN=ON -DENABLE_MSAN=ON -DENABLE_TSAN=ON -DENABLE_UBSAN=ON ..
`. There are no errors showing up if the address sanitizers are disabled. Apologies for the cluttered/slow approach but my main OS is a Mac which doesnt suppor

[2018-12-23 09:39] karlnapf commented on #4232
well done :)

[2018-12-23 09:39] #4232 closed

[2018-12-23 09:39] karlnapf commented on #4232
ah well, actually we also want to linalg-ize the code itself, not just the tests

[2018-12-23 09:39] karlnapf commented on #4233
Definitely.

[2018-12-23 09:39] #4233 closed

[2018-12-23 09:42] karlnapf commented on #4439
very interesting! This is a great investigation, appreciated.

@gf712 is away for a week and a bit so it might take a while to fix it. But I will have a look at the commit and check/think a bit

[2018-12-23 09:46] karlnapf commented on #4445
this has to do with your local setup not liking https connections
you could download the archive yourself and place it at the mentioned folder to skip the step

[2018-12-23 09:46] #4445 closed

[2018-12-23 09:48] karlnapf commented on #4446
Nothing seems to be wrong on first sight. But you would need to post a fully stand-alone example that we can run to reproduce the error (use toy data)

[2018-12-23 09:48] karlnapf commented on #4447
This looks fine. In order to help you, we would need a fully stand-alone example that isolates the error

[2018-12-23 09:55] karlnapf opened #4449 "clean up explicit template specializations"
Entrance task for C++ ninjas.

There is a lot of code where templated methods behave slightly differently, based on the template argument. A lot of older shogun code solves this via explicitly specializing the template code, often with macros. This leads to a lot of hard to maintain and generally not so elegant code. This task is to clean this up and push towards a more modern approach.

@saatviks

[2018-12-26 00:02] joy1314 commented on #4447
@karlnapf I use the data from examples to have a try. But I have the same error. The codes is like this
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.model_selection import KFold

from shogun import RealFeatures
from shogun import BinaryLabels
from shogun import MKLClassification
from shogun import C

[2018-12-26 00:11] joy1314 commented on #4446
@karlnapf I use the data from examples, but I got the same error. The complete code is like this.

import numpy as np
import pandas as pd

from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.model_selection import KFold

from shogun import RealFeatures
from shogun import BinaryLabels
from shogun import MKLClassification
from shogun import Combin

[2019-01-01 11:33] gf712 commented on #4439
Just had a better look, and it seems like the default constructor of AnyParameterProperties does not set the old class member values which then causes issues when the copy constructor is called. I’ll fix it! I’m not sure what the large range is about though.

[2019-01-03 17:42] karlnapf commented on #4446
I am closing this due to a lack of a proper error report. Our CI indicates that all examples work. Feel free to re-open with a minimal, standalone example where you clearly highlight code, error messages, etc. Thanks

[2019-01-03 17:42] #4446 closed

[2019-01-03 17:42] karlnapf commented on #4447
Same as for #4446

[2019-01-03 17:42] #4447 closed

[2019-01-04 10:37] vigsterkr opened #4450 "does not compile with Visual Studio 2017"
while trying to add windows build to our CI i've encountered the following errors:

[code]

https://dev.azure.com/shogunml/shogun/_build/results?buildId=185

the first one is due to this bug in Visual Studio:
https://developercommunity.visualstudio.com/content/problem/246969/msconnect-3134345-cannot-use-decltype-to-get-the-t.html

as one can see there's a fix for it in 2019, but i wonder if we cou

[2019-01-04 14:21] gf712 commented on #4439
OK, should be fixed.
@saatvikshah1994 if you used MacOS and need valgrind with the newest OS update you should use Docker instead of VM (it should be quicker). I wrote a python script that runs cmake configs with the shogun docker image (https://github.com/gf712/shogun-docker) and then runs valgrind

[2019-01-04 14:59] #4439 closed

[2019-01-04 15:39] karlnapf commented on #4450
sigh ....

[2019-01-04 15:39] karlnapf commented on #4450
Ah the commit does it? :D

[2019-01-04 15:41] vigsterkr commented on #4450
noup

[2019-01-04 16:04] gf712 commented on #4450
Oh that’s annoying. Can remove that check and the static asserts tbh if they just cause issues

[2019-01-04 16:07] gf712 commented on #4450
That thing was already a bit hacky to make clang and gcc work, the auto in the lambda makes it harder to determine the number of arguments required

[2019-01-04 16:14] vigsterkr commented on #4450
If u have ideas for a fix send me patches and i can check it locally on a windows machine... the azure job takes 1hour 20 mins to check any changes...

[2019-01-05 07:08] saatvikshah1994 commented on #4439
@gf712 thanks for the suggestion, I'll try it out!

[2019-01-05 07:15] saatvikshah1994 commented on #4439
Also, isnt it a bit surprising that the problem only reveals itself when running valgrind with sanitizers. I read up more and apparently running [valgrind with sanitizers leads to problems at times](https://stackoverflow.com/a/42082653/3656081). That said, it still looks like this wasnt a false positive. Im curious about others thoughts on this? What should be the correct way to run valgrind/sanit

[2019-01-07 07:16] saatvikshah1994 opened #4452 "MacOS compatibility issues"
Listing out some issues I've faced when trying to work with shogun on Mac(10.14.1):
1. Sanitizer Support: When building with `-DASAN=On`, I get a ton of undefined symbol errors. A regular C++ program built with `g++ -fsanitize=address` works. I'm pretty sure this happens for all sanitizer variants on MacOSX.
2. Formatter Script: `script/check-format.sh` - 2 problems here - (1) Enforcement of `clan

[2019-01-08 16:02] vigsterkr commented on #4452
@saatvikshah1994 mmm the 3rd part is a bit interesting as i've added the benchmarking part to the codebase and i did actually wrote that and tested it on a mac :)

[2019-01-08 17:50] saatvikshah1994 commented on #4452
@vigsterkr any suggestions about what I might have done wrong? I basically did a `sudo make install` on the latest Google benchmark and ran the sample benchmark they had provided with `-lbenchmark` which worked.

[2019-01-08 18:52] CoderINusE commented on #4416
I can work on that. Maybe you already have some idea where the problem comes from @karlnapf @zym-wade ?

[2019-01-08 20:22] CoderINusE opened #4454 "Python.h: No such file or directory"
It seems like I can't build shogun on my machine, exception thrown while compiling: ```*/shogun/src/interfaces/python/shogunPYTHON_wrap.cxx:176:21: fatal error: Python.h: No such file or directory```

I'm running `make` from `conda env` and `python-dev` should automatically come with conda, so  I think there is no need to manually do `apt install python-dev` (still it says it is the newest version

[2019-01-08 20:48] #4450 closed

[2019-01-09 00:32] iglesias opened #4455 "Introducing Concepts"
Concepts can help reducing code complexity in templated generic programming, as well as producing simple compiler error messages. In addition, with a slightly long-term view in mind, producing a Concepts library for machine learning could become useful for the C++ community.

The goal of this task is getting hands-on and start playing with Concepts in Shogun.

As a first simple use case, we could

[2019-01-09 08:59] gf712 commented on #4454
Hi,
That might be because you didn't define `-DPYTHON_INCLUDE_DIR`, I think I had that issue too. If that doesn't help could you attach the `CMakeCache.txt` file?

[2019-01-09 09:12] CoderINusE commented on #4454
Checking it, hope it works.

[2019-01-09 09:43] gf712 commented on #4452
I had a look at the benchmarks issue on linux and I managed to compile them manually by switching from the gold linker to the default gcc linker

[2019-01-09 11:02] vigsterkr commented on #4452
ok so i've just ran this:
[code]

worked fine.

i've tried `make RandomFourierDotFeatures_benchmark` and worked as well.

could you please give more info about your macos setup?

btw i know that i should compile with `-DCMAKE_BUILD_TYPE=Release` to get the right results of the benchmark, but i dont have ccache for that and didn't want to wait that long to get you the results.

[2019-01-09 11:54] gf712 commented on #4452
The linux issue is caused by the fact that the gold linker does not have the usual default paths of the default linker. That could be fixed by adding the path to where the benchmark library is located. As a temporary fix you can just use the default linker `-DENABLE_LDGOLD=OFF` instead.

[2019-01-09 14:14] CoderINusE commented on #4454
@gf712 it works, thanks.

[2019-01-09 14:14] #4454 closed

[2019-01-10 06:19] saatvikshah1994 commented on #4452
@vigsterkr Im running on OSX(10.14.1) and XCode Developer Tools 10.1.
I checked `ld -v -lbenchmark` which does have `/usr/local/lib` as a search path and `/usr/local/lib/libbenchmark.a` exists - which makes the error a bit weird. Even still I added `/usr/local/lib` to `LD_LIBRARY_PATH` but the error persists.
@gf712 yes, this does work! I guess I'll set it up on Ubuntu then.

[2019-01-10 06:39] saatvikshah1994 commented on #4452
Sure, here it it: [cmake_out.txt](https://github.com/shogun-toolbox/shogun/files/2743944/cmake_out.txt)
I've tried the latest stable version from https://github.com/google/benchmark and from https://formulae.brew.sh/formula/google-benchmark - Both seem to v1.4.1.

[2019-01-12 10:17] saatvikshah1994 commented on #4452
With respect to the sanitizers, one thing to try could be https://github.com/arsenm/sanitizers-cmake?
This also prevents things like trying to run incompatible sanitizers together.

[2019-01-12 10:19] vigsterkr commented on #4452
Oh this looks nice! PR is welcome to replace our internal solution ;)

[2019-01-12 11:55] braceletboy commented on #4388
Hi @karlnapf ,
I was looking at the Hierarchical.cpp file while trying to look into this issue. I think there is something wrong with this [line](https://github.com/shogun-toolbox/shogun/blob/58b914a6b326cd5f799727e39737bc4b4b11b286/src/shogun/clustering/Hierarchical.cpp#L129).
I think the condition should be `for(; l<num && l<=merges && k<num_pairs-1; l++)`. I tried it out on a small example manu

[2019-01-12 17:58] karlnapf commented on #4388
This seems very reasonable to me.
Would you like to send a PR with an update.
In addition, we should maybe test some results against another library on a very simple example?

[2019-01-12 17:59] karlnapf commented on #4388
@braceletboy this is unrelated to this issue though, so pls let's communicate in another issue, or even better, in a PR from your side

[2019-01-12 21:10] braceletboy commented on #4388
@karlnapf Sure. I am on it.

[2019-01-13 09:45] karlnapf commented on #4416
You are more than welcome to do.... the above snippet will reproduce the error. We don't know more atm

[2019-01-13 11:28] karlnapf opened #4461 "Add kwargs style factories in Python"

[2019-01-13 11:31] karlnapf commented on #4247
This is still open, there are still some

* constructor calls ( to be replaced by factory calls)
* specialized method calls (should be refactored to `put/get` or otherwise)

[2019-01-13 11:34] karlnapf opened #4463 "Remove old API from SWIG"

[2019-01-13 11:34] karlnapf commented on #4354
This is still relevant and a subset of #4463

[2019-01-13 11:35] karlnapf commented on #4463
@avramidis

[2019-01-13 11:36] CoderINusE commented on #4416
@karlnapf ok, tho I've checked that for C snippet like:

[code]
error is not raised. It is obvious that C++ internal object is destroyed and python just don't see it. I don't know internals quite good for now so I need more time to analyze it.

[2019-01-13 11:41] karlnapf commented on #4463
#4462 is an example that requires some more work as the gaussian kernel is used all over shogun's history, other classes (such as machines) should be much smaller diffs

The main thing to keep the build intact is
* meta eamples
* undocumented python examples
* ipython notebooks

I have ignored for now (as not part of the build)
* applications
* graphical python examples

[2019-01-13 11:51] karlnapf commented on #4416
no need to delete when you use `some`

[2019-01-13 11:51] karlnapf commented on #4416
But yeah, this will be interface related probably, not c++ lib related

[2019-01-13 12:02] karlnapf opened #4464 "Add support for negative numeric literals in meta examples"
Currently, doing something as
```Real log_width = -1.0```
results in
[code]

Something that should be relatively easy to add?

[2019-01-13 12:02] karlnapf commented on #4464
@sorig let me know if you can do that, otherwise Ill add it as entrance task

[2019-01-13 12:11] karlnapf commented on #4455
Would be cool to start playing with this, at least to develop some intuition for what we can do here.
As this didnt make it into C++17, we could maybe (as per suggestion by @gf712 ) use this  google lib that implements some 17/20 features in a c+11 compatible way ...

[2019-01-13 20:36] karlnapf commented on #3555
There are still more examples to port as of early 2019: see `examples/undocumented/python`

[2019-01-13 20:39] karlnapf commented on #3688
This is still an open issue: to make algorithms observable, algorithms should only modify their members using `put`

[2019-01-13 20:40] karlnapf commented on #4044
I am closing this as it is part of transitioning to the new API and we have lots of examples here already

[2019-01-13 20:40] #4044 closed

[2019-01-13 20:42] prateek246 opened #4466 "GDB not found ;Compiling shogun from source on windows"
I tried installing GDB from MinGW but it is not working.Can somebody tell me how to properly do it?

[2019-01-13 20:50] karlnapf commented on #2747
There are still many loops who wait to be replaced with linalg calls

[2019-01-13 20:54] karlnapf commented on #3000
#4047

[2019-01-13 21:05] karlnapf commented on #4466
Pls ask in irc or write a proper question on stackoverflow. Closing as not really an issue.

[2019-01-13 21:05] #4466 closed

[2019-01-14 11:53] gf712 commented on #4463
I'll start working a bit on this. Btw what exactly are the undocumented python examples? I can start translating them to .sg files?

[2019-01-14 12:06] vigsterkr commented on #4443
closing as adding support for 2015 in develop would be way too much work.
@kikish if you want to compile with VS 2015, please try using master branch (latest release)

[2019-01-14 12:06] #4443 closed

[2019-01-14 12:06] avramidis commented on #4463
Yes, the idea is to convert all undocumented python examples to .sg files.

[2019-01-14 12:16] vigsterkr commented on #4394
see #4443
plz try with VS 2017 or later

[2019-01-14 12:16] #4394 closed

[2019-01-14 12:32] gf712 commented on #4455
Ah yes, it's https://github.com/abseil/abseil-cpp. But I don't think concepts is something that has been or will be implemented there. This library is more to add C++14/17/(20) STL to C++11 onwards!

[2019-01-14 12:39] gf712 commented on #4463
How do you handle the GPL only classes? Is there a way to hide .sg files from the compiler/test with GPL only implementations?

[2019-01-14 12:40] vigsterkr commented on #4463
Its in cmake...

[2019-01-14 13:18] iglesias commented on #4455
All right, it was abseil, sure.

I suggest that at this moment we don't worry too much about this aspect* as this is really an investigation for us to start getting our hands dirty playing with concepts.

* C++ standard support for concepts and the version of it used in Shogun.

[2019-01-14 13:18] gf712 commented on #4463
Also need to come up with a way to get to the solvers when LibLinear.h is removed from Classifier.i
https://github.com/shogun-toolbox/shogun/blob/f8a120b25ccd32bdefb47a2e9170f04647050fd8/src/shogun/classifier/svm/LibLinear.h#L21-L38

[2019-01-14 14:11] karlnapf commented on #4463
`examples/undocumented/python`

[2019-01-14 14:13] karlnapf commented on #4463
Check `cmake/FindMetaExamples.cmake`, where you can blacklist things based on their dependencies

[2019-01-14 14:14] karlnapf commented on #4463
That is a good point .... will need to continue to expose those to swig with the current design (could change later). Might need to think about this ...

[2019-01-14 14:44] sorig commented on #4464
Fixed in #4469

I have no idea how I missed that!

[2019-01-14 15:04] #4464 closed

[2019-01-14 16:36] gf712 commented on #4463
I find that a lot undocumented examples are just slight variations of one another.. for example the svms are very similar in terms of API

[2019-01-14 17:12] karlnapf commented on #4463
That is true
We still want to port them all (at least every class), keep in mind the
examples also serve as integration tests (if you add re data file, see
readme) so wenincrease coverage a lot (this has been helpful when
refactoring classes that have no unit tests.

What you are saying is true though for the cookbooks: we don’t need one for
every svm if they all have the same api. Just one well w

[2019-01-14 20:14] karlnapf commented on #4461
@sorig Check it out we now have shogun API for `my_kernel = sg.kernel("GaussianKernel", log_width=1.0)`. One thing that would be really awesome was if the meta language examples would make use of this. Currently, it is not possible to modify say `python.json` in order to produce the correct output. E.g.
[code]
produces things like
[code]
Any change you could also have a quick hack on that?

Obviou

[2019-01-14 20:51] gf712 commented on #4461
Maybe could add a hardcoded list of keywords to ignore?
I was thinking maybe with a comment in front of the statement in the .sg file (e.g. `//ignore_kwargs:python`), but that would probably make it harder to implement and probably more tedious to maintain?

[2019-01-14 21:23] karlnapf commented on #4461
I think this is a simple matter of changing the generator a bit so that it can generate the python style kwargs .... let's see what esben makes of it :)

[2019-01-17 09:06] inglada opened #4471 "ISO C++ study group on machine learning"
A study group on machine learning has been created by the ISO C++
committee. There are interesting discussions about the features and
tools needed for efficiently implement ML algorithms in C++ and I am
sure that shogun developers will have very interesting things to say.

The goals of the SG are outlined in this paper http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p1360r0.pdf

There is a

[2019-01-17 15:54] born-2learn opened #4472 "Issue with importing shogun when manually compiled in Ubuntu."
HI
I tried to compile shogun manually in ubuntu by following the instructions given in `doc/readme/INSTALL.md` file using the cmake command(for python3):

[code]

The log files are:
[CMakeError.log](https://github.com/shogun-toolbox/shogun/files/2769322/CMakeError.log)
[CMakeOutput.log](https://github.com/shogun-toolbox/shogun/files/2769323/CMakeOutput.log)

The build was successful.

I added `sho

[2019-01-17 15:56] vigsterkr commented on #4472
```export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"```

as it's a variable that holds paths and not filenames.

[2019-01-17 15:56] #4472 closed

[2019-01-18 10:44] born-2learn commented on #4472
It worked, thanks @vigsterkr

[2019-01-18 14:32] karlnapf commented on #4461
Cool stuff, I should have thought that you did that :) thanks!

[2019-01-18 16:32] karlnapf opened #4474 "Add "random" content for registered parameters"
We want to have the possibility to systematically generate some random content for shogun object parameters so that we can systematically test clone and equals for non-empty instances that have been created with the default ctor.

@lisitsyn will have some thoughts on API and where to start doing this, or whether we have some kind of range restriction, which also will relate to model selection upda

[2019-01-18 16:35] gf712 opened #4475 "Suggest class name in factory instantiation"
## Intro
Instead of using directly the classes from C++, we use factories (see [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/util/factory.h)). So for example in Python, instead of
[code]
we have
[code]
To find out what all possible names you can have a look at `src/shogun/base/class_list.cpp`, after compiling shogun.
The issue with this approach is that it is easy to mist

[2019-01-18 16:38] karlnapf commented on #4475
Note: this should not be implemented in a standard c++ shogun source, but in the swig extension. E.g. see https://github.com/shogun-toolbox/shogun/blob/develop/src/interfaces/swig/shogun.i

[2019-01-19 10:47] braceletboy commented on #4388
@karlnapf , I was trying to use the `set_feature_vector()` function in the `CDenseFeatures` class. Which is documented [here](http://www.shogun-toolbox.org/api/latest/classshogun_1_1CDenseFeatures.html#affd56f6e718d53ead36a9b67e53055cc)

But, I couldn't find it in the source code. Refer [DenseFeatures.h](https://github.com/shogun-toolbox/shogun/blob/58b914a6b326cd5f799727e39737bc4b4b11b286/src/sho

[2019-01-19 11:07] gf712 commented on #4388
@braceletboy it seems like it was removed [here](
https://github.com/shogun-toolbox/shogun/commit/f10f3ef2b28b7a5f0e137b3e4a7f8abf80a64201#diff-0a19a445c0877308de5ae341f137cc17).

[2019-01-19 11:37] vinx13 commented on #4388
@braceletboy Yes we removed it because we are making features immutable.

[2019-01-19 11:46] gf712 opened #4476 "(I)Python tab completion"
The default Python shell can be extended with tab completion using pyreadline and IPython uses it's own implementation now for tab completion. (Tab completion refers to completing an object name with `<TAB>`, so for example when you `import shogun as sg` you can do `sg.ma<press TAB>`  and you would probably get `sg.machine`).
It would be useful to have something like that for all the strings that

[2019-01-20 10:02] AnirudhDagar commented on #4476
Looks like an interesting problem to solve.
It would be nice if you could explain the last three lines of the issue. What do you mean by overriding default behavior specifically?
Also, any pointers to start with would be really helpful as this will be my first issue.

[2019-01-20 11:32] gf712 commented on #4476
Hey, sure I can help out. I have a somewhat stable solution, but it's not very elegant. Also need @karlnapf's input, as I am not sure if this is a direction we want to go in (or at least right now).

Sorry, it's a bit hard to explain. When you add completions in IPython with quick_completer you tell it that from that point on only those completions should be shown after the given pattern. Before c

[2019-01-20 15:19] karlnapf commented on #4388
Yep, just confirming that we don't want to allow modification of features. You can of course get a pointer to the matrix and modify memory directly, but we don't want to encourage that via the API

[2019-01-20 16:15] karlnapf commented on #4476
Completely overriding the default behaviour is tricky indeed.
In the perfect world we would have `sg.kernel("G...` only suggest from the kernel names. This would require some kind of nested namespacing though. But OK, let's maybe start with all shogun objects for now. There are other way to achieve this, e.g. via defining (string) constants with the `sg` module
```sg.kernel(sg.Gaus<TAB>```

@lisit

[2019-01-20 16:32] karlnapf commented on #4476
Well anything that works nicely is more than nothing :)

[2019-01-20 16:47] gf712 commented on #4476
True, I personally really like the tab completion, it has already helped me a bit when testing out shogun python code, but I am also biased because I wrote that snippet :)

[2019-01-20 16:53] karlnapf commented on #4476
Me too. I am all for adding this and then improve it, go with the flow. Python changes all the time anyways and some smart kid will come along with a better solution in the future I am sure ... :)

[2019-01-20 17:09] gf712 commented on #4476
@AnirudhDagar do you want to have a go at it? Maybe you can come up with something better? There is also the Jedi python package which is now used in IPython, and might work better, but I have never used it.

[2019-01-21 14:15] vinx13 opened #4478 "Use custom exception types"
Throwing custom exceptions instead of `ShogunException` can provide more information. We should replace `ASSERT`, `SG_ERROR`, `REQUIRE` with `REQUIRE_E` or `SG_THROW` to throw custom exceptions. See [`Pipeline`](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/Pipeline.cpp) for example usage of these macros.

[2019-01-22 02:39] saatvikshah1994 commented on #4455
Adding some more reference materials here(apart from what @iglesias recommended) in case anyone is interested:
1. Rough notes I've written up: [ConceptsBasics.pdf](https://github.com/shogun-toolbox/shogun/files/2781073/ConceptsBasics.pdf)
2. [Concepts as She is Spoke](https://www.youtube.com/watch?v=CXn02MPkn8Y)
3. [Concepts in 60](https://www.youtube.com/watch?v=ZeU6OPaGxwM)

One thing more to no

[2019-01-23 13:52] braceletboy commented on #4388
@karlnapf  Yeah. Finally I had to use a pointer. Thanks

[2019-01-23 14:50] vigsterkr opened #4482 "remove EMachineType and related functions"
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/Machine.h#L32

this enum needs to go because this will not be used (or usable when the plugin framework is in place).

[2019-01-24 19:24] muhannad35990 opened #4484 "errors using ananconda shogun lib in windows"
I want to use shogun toolbox in QT Mingw c++ environment on windows 7
I installed anaconda and extracted shogun.lib and shogun.dll form it and  imported the library to QT using this
 win32:CONFIG(release, debug|release): LIBS += -LC:/ProgramData/Miniconda3/pkgs/shogun-cpp-6.1.3-hccc669c_1002/Library/lib/ -lshogun

now I can include anything in the library and QT idintify it but when compile the pr

[2019-01-25 17:18] shubham808 opened #4488 "Use iterative machine mixin in more algorithms"
This is a very good issue for those who want to be involved in the project [inside the black box II](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2019_inside_the_black_box-II)

In order to make algorithms stoppable, we need to execute each iteration and then save the state in member variables. If a user decides to stop the process at any iteration, control is returned back. This means the us

[2019-01-26 17:00] karlnapf commented on #4484
We would need some more detailed description of what you are doing. Not sure this is even a shogun related problem here....

[2019-01-26 17:44] karlnapf opened #4490 "individual parameters in method call replacements in meta examples"
Curently, the meta language generator allows to replace methods by string matching, for example
[code]

It would be very useful to be able to access the parameters individually in the replacement, to be able to do things as
[code]

[2019-01-26 17:48] karlnapf commented on #4490
In C++, this is not necessary in this case as this would suffice
[code]

[2019-01-26 17:59] karlnapf commented on #3688
@lisitsyn I think we do not need this anymore, right?

[2019-01-26 17:59] #3688 closed

[2019-01-26 18:00] #2717 closed

[2019-01-26 18:01] #3431 closed

[2019-01-26 18:02] #1147 closed

[2019-01-26 18:03] karlnapf commented on #2136
We have views now

[2019-01-26 18:11] #2136 closed, assigned to nobody

[2019-01-27 07:42] muhannad35990 commented on #4484
I want to use shogun in QT mingw, I tried to compile it using cmake and mingw on windows7 and fail,so I found pre-compiled shogun.lib in anaconda and wanted to link it to my project to use it but the error above is occurs!
I want to use shogun for implement MKL for my project ,could I use the source of MKL only without using the whole library? if not ,is there any precompiled static shogun.a to li

[2019-01-29 08:03] braceletboy commented on #4388
@vinx13 Are we also supposed to add the get_cluster_centers and get_radiuses functions? I see that these functions were implemented in the [CKmeans](http://shogun.ml/api/latest/classshogun_1_1CKMeansBase.html#a5d8a09aeadada018747786a5470d3653) class and that they were used in the meta examples

[2019-01-29 08:06] vinx13 commented on #4388
@braceletboy They should be registered using tag framework https://github.com/shogun-toolbox/shogun/blob/58b914a6b326cd5f799727e39737bc4b4b11b286/src/shogun/clustering/KMeansBase.cpp#L365 and then we can get them using `get`. The getter functions should be removed in the future.

[2019-01-29 08:36] braceletboy commented on #4388
Umm okay. I don't know if this is a good question. If they are to be removed in the future, why are they being written now? Also I used the get_feature_vector function of CDenseFeatures will this cause a problem in the future?

[2019-01-29 08:41] braceletboy commented on #4388
Okay. I will have a look at it and change my code. Thanks

[2019-01-29 11:14] karlnapf commented on #4388
Note that in KMeansBase, the function does something rather than just returning the cluster centres. In this case it is rather pointless as it just extracts the feature matrix of the lhs features.

What we eventually want is a way to extract/compute the cluster centres from the `put/get` API. The classes KMeans and Hierarchical will eventually be hidden from the interfaces so no methods will be av

[2019-01-29 20:52] muhannad35990 commented on #1767
is there anyone compiled shogun in windows and mingw??
I need it but fail to compile ,any precompiled library for mingw?

[2019-01-30 11:18] Kolkir opened #4497 "Incorrect data coping in SGVector class"
There is an incorrect call of ``std::copy`` algorithm in [SGVector.h:132](https://github.com/shogun-toolbox/shogun/blob/2cab19a30bb4405e9bb1f6177488969b1a36a1ef/src/shogun/lib/SGVector.h#L132) file. The code on specified line clears original data and return wrong result. For example this issue makes impossible to use ``SGVector`` objects as labels for ``CLinearRidgeRegression`` class, because it u

[2019-01-30 12:15] karlnapf commented on #4497
Thanks for the report!
Wanna send a patch for this? Preferably with a unit test?

[2019-01-30 12:50] Kolkir commented on #4497
I can make a PR with fix and test. Am I understand right that I should use this [guide](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md) for this?

[2019-01-30 12:56] karlnapf commented on #4497
yes, though since the fix is simple, I don't expect any major headaches there.
Have a look at the other unit tests for SGVector::as (if any) and then just add the case that was broken before

[2019-01-30 18:40] muhannad35990 commented on #4484
I tried to compile shogun using mingw/windows7 but there is errors
cmake log is:
`Could NOT find CCache (missing: CCACHE CCACHE_VERSION)
Using system's malloc
Could NOT find GDB (missing: GDB_VERSION)
dir='E:/shogun/shogun-shogun_6.1.3/shogun-shogun_6.1.3/src'
dir='E:/shogun/shogun-shogun_6.1.3/shogun-shogun_6.1.3/build/src'
dir='E:/shogun/shogun-shogun_6.1.3/shogun-shogun_6.1.3/src/gpl'
Found Ope

[2019-01-31 11:13] vigsterkr commented on #4484
@muhannad35990 you should stick with the precompiled anaconda version... today i'll test the import of the shared libs into a qt project... note it's gonna be on linux, but one would hope that it shouldn't be such a big difference....

and actually could you create the output of qmake (errors) and paste it on http://pastebin.com and provide the link here. thnx!

[2019-01-31 15:18] utkarsh1508 opened #4499 "Ubuntu 18.04 while adding ppa got error"
Builds of stable releases
 More info: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable
Press [ENTER] to continue or Ctrl-c to cancel adding it.

Ign:1 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu wheezy InRelease
Hit:2 http://in.archive.ubuntu.com/ubuntu bionic InRelease
Ign:3 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu bionic InRelease
Ign:4 http://ppa.launchpad.net

[2019-01-31 15:26] utkarsh1508 opened #4501 "libshogun18 package not found"
sudo apt-get install libshogun18
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libshogun18

[2019-01-31 17:09] karlnapf opened #4502 "meta example imports do not work for kwargs"
Something like
[code]
will miss the import of `as_svm` in the python examples, requiring to currently split those conversions into two lines,
[code]
which results in `as_svm` being imported.

[2019-01-31 17:10] karlnapf commented on #4502
Sorry @sorig to pester you with all the meta example issues :)

[2019-01-31 17:10] karlnapf commented on #4502
using it in #4494

[2019-02-01 08:50] braceletboy commented on #4388
@karlnapf In the `get_cluster_centers` of [KMeansBase](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/clustering/KMeansBase.cpp#L222) also, we are extracting the feature matrix of lhs features.

[2019-02-01 10:45] muhannad35990 commented on #4484
anaconda version is not working for mingw so I tried to compile it with mingw and get alot of errors

[2019-02-01 16:53] #3672 closed

[2019-02-01 16:53] #4434 closed

[2019-02-01 16:54] #4396 closed

[2019-02-03 17:40] braceletboy commented on #4388
#4510

[2019-02-03 18:03] braceletboy commented on #4388
@karlnapf  @vinx13  Referencing the pull request I sent here: #4510

[2019-02-03 18:37] souvik3333 commented on #4488
Hi @shubham808, I am new here. I read the wiki for inside the black box II project and I am really interested to work on it. This issue would be a great introduction to the project. So, Can I work on this?

[2019-02-04 08:36] indranilbiswas7 opened #4511 "Installation Issue"
The documentation of shogun contains _libshogun18_  , which after the Ubuntu ppa , says ' E: Unable to locate package libshogun19 '

here are the whole terminal interface messages :

saphire@saphire-GL553VE:~$ sudo add-apt-repository ppa:shogun-toolbox/stable
 Builds of stable releases
 More info: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable
Press [ENTER] to continue or Ctrl-c to c

[2019-02-04 08:46] shubham808 commented on #4488
Yes go ahead :)

[2019-02-04 09:34] indranilbiswas7 commented on #4511
I tried to manually compile the code , as per the instruction ,

git submodule update --init

But it has been past 25min since it's stuck , is it bad internet ? Because
rest of the operations were  completed pretty fast , and the the net
measures showed the connection was of 10Mbps

On Mon, Feb 4, 2019, 2:59 PM Gil <notifications@github.com wrote:

[2019-02-04 09:38] gf712 commented on #4511
Hmm I have had issues with submodule updates even when I have a 100mbps connection. Unfortunately that is an issue with git(hub) and I don't think we can do much about it. Maybe try it a couple of times? Does it timeout and throw an error? If it is an error you might be able to get some help in stack overflow.

[2019-02-04 09:46] indranilbiswas7 commented on #4511
Sure thing ! No , it doesn't show any of errors or timeout , I terminated
it after 40mins of running , thinking of my systems fault .
I have left it to run for next 3hrs (while I am in classes for college )
will share the status after I get back to my PC .
:)

On Mon, Feb 4, 2019, 3:08 PM Gil <notifications@github.com wrote:

[2019-02-04 11:31] gf712 commented on #4511
Sure, what issues do you have?

[2019-02-04 11:49] indranilbiswas7 commented on #4511
what should options do I have to mention following cmake ?

On Mon, Feb 4, 2019 at 5:01 PM Gil <notifications@github.com> wrote:

--
<https://about.me/indranilbiswas?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Indranil Biswas
about.me/indranilbiswas
<https://about.me/indranilbiswas?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_cam

[2019-02-04 11:56] gf712 commented on #4511
I am not sure what your question is. The cmake options are there to specialise your installation, for example, if you just want libshogun.so you don't need to add anything, if you want the python interface you pass -DINTERFACE_PYTHON=ON, and so on...

[2019-02-04 12:11] indranilbiswas7 commented on #4511
Apology for being confusing, Sir!
all I meant was  " I don't know how to use cmake " , neither did I get any
particular help from online forums.
but thankfully I have run cmake with the mentioned option:
-DINTERFACE_PYTHON=ON only.
[image: image.png]

and on running
*$ mak**e*
I am getting this :
*make: *** No targets specified and no makefile found.  Stop.*

On Mon, Feb 4, 2019 at 5:26 PM Gil <no

[2019-02-04 12:15] gf712 commented on #4511
Ah ok. That looks like you didn't run cmake in the same directory as you are calling make? Or cmake didn't run successfully. Just run `cmake ..` from the `build/` directory like it is explained [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual-basics).

[2019-02-04 12:23] indranilbiswas7 commented on #4511
Yes , I am following the guidelines mentioned in
https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md
and running cmake on the the same

~/shogun/build$

path , as mentioned and evident from the snapshot in the previous comment

But cmake has produced some error :

-- Configuring incomplete, errors occurred!
See also "/home/saphire/shogun/build/CMakeFiles/CMakeOutput.log".

[2019-02-04 12:32] indranilbiswas7 commented on #4511
Sure thing !

CMakeOutput.log
The system is: Linux - 4.15.0-43-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c"
succeeded.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c"
produced "a.out"

The C compiler identification is GNU, found in
"/home/saphire/shogun/build/CMake

[2019-02-04 12:40] gf712 commented on #4511
It seems to be incomplete or at least I can't find any issue. Can you not upload the file? Or maybe create a gist with it, otherwise I can't really help sorry!

[2019-02-04 12:47] indranilbiswas7 commented on #4511
[CMakeOutput.log](https://github.com/shogun-toolbox/shogun/files/2827999/CMakeOutput.log)
this is all i have got , the screenshot shows all the content
:(
![screenshot from 2019-02-04 18-15-36](https://user-images.githubusercontent.com/26926571/52209187-24977300-28a9-11e9-92cc-13b36f2abc8d.png)

[2019-02-04 12:48] indranilbiswas7 commented on #4511
if it's not solvable ... can i start fresh deleting the build dir ?

[2019-02-04 12:49] gf712 commented on #4511
Ah thank you, that is helpful. You need to install [swig](https://github.com/swig/swig)!

[2019-02-04 12:50] gf712 commented on #4511
Btw if you are planning on developing shogun or any c++ project you should install ccache, which I think you can install with `apt`

[2019-02-04 12:50] indranilbiswas7 commented on #4511
@gf712 Thanks a lot , SIR !! will rebuild and report , ASAP.

[2019-02-04 12:50] indranilbiswas7 commented on #4511
sure thing , will note that !

[2019-02-04 12:52] gf712 commented on #4511
OK, I will close this issue then and if you find other errors open a new issue. If you need more help you can ask in https://webchat.freenode.net in the #shogun channel

[2019-02-04 12:52] #4511 closed

[2019-02-04 12:52] indranilbiswas7 commented on #4511
yes sir !

[2019-02-04 13:33] heytitle opened #4512 "Cleanup web pages"
Hi Shogun Team,

I'm Pat, I'm  a student from TU Berlin. I plan to participate in GSoC 2019 under Shogun. While reading pages on shogun.ml, I've found several problems on the web pages. These problems include dead links, outdated commands, and improper rendering.

I'll take a look on these problems and prepare PRs, and please let me know if you have comments or know other related issues.

## Page

[2019-02-05 16:47] karlnapf commented on #4499
https://github.com/shogun-toolbox/shogun/wiki/Getting-involved

[2019-02-05 16:48] karlnapf commented on #4501
Hi!
Please read this how to get involved: https://github.com/shogun-toolbox/shogun/wiki/Getting-involved
Come and ask us in IRC if you have any specific questions

[2019-02-05 16:48] #4501 closed

[2019-02-05 16:53] karlnapf commented on #4259
it involves doing these changes and then checking whether they break anything. This involves reading the code, thinking, and running the tests. Please check here how to get started: https://github.com/shogun-toolbox/shogun/wiki/Getting-involved

[2019-02-05 16:58] avramidis commented on #4419
@karlnapf I believe this issue was solved with #4506

[2019-02-05 17:52] karlnapf commented on #4511
btw this is all in our readmes :D

[2019-02-05 17:54] karlnapf commented on #4512
Thanks for reporting those. We are more than happy for direct edits to the wiki (it is public), PRs for the examples/cookbooks, and PRs to the website repository

[2019-02-05 18:06] karlnapf commented on #4419
@HaoZeke can you confirm?

[2019-02-05 18:14] indranilbiswas7 commented on #4511
it would be really helpful if all the dependencies were listed in some manner , i guess ?
:/

[2019-02-05 18:16] karlnapf commented on #4419
@avramidis awesome! :)

[2019-02-05 18:38] divyanshu132 commented on #4259
@karlnapf I'm not able to perform all the tests, can you please help me out!!

[2019-02-05 18:47] karlnapf commented on #4511
From the installation readme
[code]

[2019-02-05 18:51] indranilbiswas7 commented on #4511
$ cmake ..
-- dir='/home/saphire/shogun/src'
-- dir='/home/saphire/shogun/build/src'
-- dir='/home/saphire/shogun/src/gpl'
-- Using system's malloc
-- Could NOT find rxcpp (missing: rxcpp_INCLUDE_DIR)
-- Could NOT find TFLogger (missing: TFLogger_DIR)
-- A library with BLAS API not found. Please specify library location.
-- LAPACK requires BLAS
-- Could NOT find GLPK (missing: GLPK_LIBRARY GLPK_IN

[2019-02-05 18:51] indranilbiswas7 commented on #4511
this is all i got to after 24hrs , i guess i will check the docker config file then

[2019-02-05 19:16] karlnapf commented on #4511
The error message is pretty clear:
"Ctags required for meta examples. Install or set BUILD_META_EXAMPLES=OFF."

[2019-02-05 20:12] vishal3410 commented on #4259
Hello @divyanshu132 I am working on this issue if u don't mind can you please leave this issue to me , i will let u know if i am not able to fix this

[2019-02-05 22:14] muhannad35990 commented on #4484
finally I successfully compiled shogun using MinGw on windows after some modification in the source code of shogun and I get the static library: 3 files:: libshogun.a,libshogun.dll,libshogun.dll.a
and here is it in the link below if anybody wanted to test it:
https://github.com/muhannad35990/muhannad-shogun

[2019-02-06 09:44] divyanshu132 commented on #4259
@vishal3410 no problem, it's completely fine!!

[2019-02-06 16:30] vigsterkr opened #4514 "CKernelNormalizer cannot be set via put"
should we add CKernelNormalizer to the base interface?

[2019-02-06 20:13] HaoZeke commented on #4419
Yup this is now fixed! Thanks @karnapf and @avramidis!

[2019-02-06 20:13] #4419 closed

[2019-02-07 05:37] braceletboy commented on #4511
@indranilbiswas17 Using `ccmake ..` will make your life much more easy (Of course you need to install ccmake first). My suggestion is that you try it out once.

[2019-02-07 05:55] indranilbiswas7 commented on #4511
@braceletboy I did start to use ccmake after @gf712  's suggestions and have a successfully built the project except for some missing dependencies, the problem has been solved, but there are new ones for python interface

[2019-02-07 13:51] heytitle commented on #4512
@karlnapf I've created a PR (#4516 ) containing patches for these issues.
Noting, I haven't updated the Debian installation yet because I'm not sure whether Shogun still has its own APT server. Could you please confirm? Otherwise, I'll just update the section with information from https://packages.debian.org.

I'll create create two new issues for fixing showroom pages and https as they might requ

[2019-02-07 14:59] heytitle commented on #4046
I'm taking a look at this issue. I've created a spreadsheet for the current coverage at https://goo.gl/Qv9vxU.

I'll start go down the list, adding methods that are implemented in Shogun but aren't included in the benchmark.

<img width="759" alt="image" src="https://user-images.githubusercontent.com/1214890/52419768-0b810300-2af1-11e9-9b1b-e964b7a794a2.png">

[2019-02-07 15:17] heytitle commented on #4097
Hi,

I've figured out a way to get the results through the mysql_wrapper.php.

[code]

And <QUERY> is
[code]

[2019-02-08 09:38] indranilbiswas7 opened #4517 "Problem while adding python path for shogun : python interface"
As mentioned in https://github.com/shogun-toolbox/docs/blob/master/INTERFACES.md :
The package support to python for shogun is to be enabled by
export PYTHONPATH="path/to/modshogun.py:$PYTHONPATH"

following up to which , I did was :
export PYTHONPATH="/home/saphire/shogun/build/src/interfaces/python/shogun.py:$PYTHONPATH";

but still I get :
Traceback (most recent call last):
  File "random_fores

[2019-02-08 10:24] karlnapf commented on #4517
This is a standard python path problem. You need to make sure the .py file of the shogun interface in your build folder is in the pythonpath. Best is to print it and compare

[2019-02-08 10:24] #4517 closed

[2019-02-08 12:08] zoq commented on #4097
Actually, I was surprised you could send a query; only a specific IP should be able to do that. Do you think, that could be sufficient?

[2019-02-08 12:27] heytitle commented on #4097
I was surprised too!

Can you elaborate a bit about your approach? If I understood correctly, you would allow only certain IPs to send the POST request to the server. If that's the case, the benchmark page will be functional on for those IPs, right?

[2019-02-08 12:32] zoq commented on #4097
Right, only the build/webserver would be able to send the POST, I think this is already the case, but since a user is able to run the php script the IP is correct, so I guess we could adapt the script.

[2019-02-08 18:14] karlnapf commented on #4046
This is really useful info. Thanks for that! Curious to see what this leads to performance wise

[2019-02-08 18:25] karlnapf commented on #4512
no own apt server
debian packages are not up to the latest iirc....need to check. We have some ubuntu packages but not the latest....we always struggle to find people helping with the packaging in fact if you are looking for something to help :)
I would leave the showroom for now as we are in the progress of updating the website again, so this should change soon

[2019-02-08 18:29] karlnapf commented on #4514
yes

[2019-02-08 18:35] karlnapf commented on #4353
and please no manual template spezialization for different types of the dot products.

[2019-02-08 18:40] karlnapf commented on #4484
Hi! Thanks for putting this up. Note that shogun does compile natively under windows.
This is interesting for others as well, so some thoughts on how to share what you did

* if you put up the source code, rather fork the repository, and locally push your changes in a single commit. Then people can see what you actually did. As of now, with the .rar file, I cannot without having to download it, th

[2019-02-11 08:19] fyoda opened #4520 "Problems building on windows MSVC 2015"
Hello,

I have just cloned the develop branch (hash a043624b0) and tried to build it with MSVC 2015.
I have used cmake to generate the MSVC project. When building I get the followings errors:

``
7>C:\Users\myUser\Desktop\shogun\src\shogun/io/streaming/ParseBuffer.h(274): error C2783: 'void shogun::sg_generic_free(T *)': could not deduce template argument for '__formal'
7>  C:\Users\myUser\Desktop

[2019-02-11 13:29] heytitle commented on #4512
@karlnapf I can help you with Debian and Ubuntu packaging.

[2019-02-12 12:54] heytitle commented on #4097
Hi @zoq & @karlnapf,

Given the command I provided previously and current coverage in https://github.com/shogun-toolbox/shogun/issues/4046#issuecomment-461455849, I think we basically have everything we need for this issue.

What else should we do for this issue?

[2019-02-12 13:09] vigsterkr commented on #4520
@fyoda in develop we dropped support for MSVC 2015 :( try 2017

[2019-02-12 13:10] #4520 closed

[2019-02-12 13:10] #4497 closed

[2019-02-12 13:11] fyoda commented on #4520
@vigsterkr Thanks for your reply. Which is the latest that supports MSVC 2015?

[2019-02-12 13:14] vigsterkr commented on #4520
@fyoda that's a good question i think sometime before this commit: b45243cf5afadcea5dee1df21284c2442ee01e98

[2019-02-12 13:15] vigsterkr commented on #4520
@fyoda but you could use the conda artifacts

[2019-02-13 04:26] mrkarna commented on #4243
Hey!,
Although I'm a newbie, but this issue seems interesting to start with. Should I go ahead with this?

[2019-02-13 04:47] mrkarna commented on #4482
Hi Viktor,
Should I take up this task of removing all enum data types with their integer value?
Thanks

[2019-02-13 08:30] vigsterkr commented on #4482
@mrkarna try to give it a go and send in a pr

[2019-02-13 10:38] fyoda commented on #4520
Thanks

[2019-02-13 11:08] mrkarna commented on #4482
@vigsterkr Do I need to remove only EMachineType or all the three enums (EMachineType, ESolverType and EProblemType).
Thanks

[2019-02-13 20:57] karlnapf commented on #4097
But some shogun algos are uncovered, so how can we know how it performs?

[2019-02-13 21:54] zoq commented on #4097
It would be interesting to see in which case shogun is leading or is behind. The second case, could be a good starting point for further analysis.

[2019-02-13 21:54] zoq commented on #4046
Agreed, this is really nice.

[2019-02-13 22:01] heytitle commented on #4097
I've also created an issue at mlpack's benchmarks (https://github.com/mlpack/benchmarks/issues/133). It seems Shogun has an DTC algorithm but the   benchmark report doesn't have the the result.

@zoq  do you have any idea why that happens?

[2019-02-14 02:22] luoagnes commented on #3988
root@dffb24029d7c:/cmake-3.13.4/build# cmake -DPYTHON_INCLUDE_DIR=/usr/include/python3.5 -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3 -DPYTHON_PACKAGES_PATH=/usr/local/lib/python3.5/dist-packages -DINTERFACE_PYTHON=ON ..
-- Checking support for ARCHIVE_CRYPTO_MD5_LIBMD
-- Checking support for ARCHIVE_CRYPTO_MD5_LIBMD -- not found
-- Checking support for ARCHIVE_CRYPTO_RMD160_LIBMD
-- Checking sup

[2019-02-14 02:25] luoagnes commented on #3988
Did your problem have been solved ? how to do it ?

[2019-02-14 04:06] luoagnes opened #4526 "how to use shogun images"

[2019-02-14 04:06] #4526 closed

[2019-02-14 04:16] luoagnes opened #4527 "cannot find shogun package in shogun docker image"

[2019-02-14 04:22] luoagnes commented on #4527
I pull shogun docker image from according to installation instruction, and in its bash ,  I print "python" to python shell, but when import shogun, there is "import error"

``
baobeiwangwangdeMacBook-Air:~ luowang$ sudo docker run -it vigsterkr/shogun-dev bash
Password:
root@a7737bb1e387:/# python
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credit

[2019-02-16 11:36] vigsterkr commented on #3992
fixed in #4529

[2019-02-16 11:36] #3992 closed

[2019-02-16 11:45] Saurabh7 commented on #4311
I will take a look at this ..

[2019-02-16 21:40] karlnapf commented on #4527
it looks like you are on the dev version, which doesnt have the compiled lib installed. Use the other version https://hub.docker.com/u/shogun

[2019-02-16 21:40] #4527 closed

[2019-02-16 21:43] karlnapf commented on #3988
There seems to be a missing cblas.h, but your error report doesn't really allow us to help you as it is a bit confusing

[2019-02-16 21:47] #4512 closed

[2019-02-21 03:44] luoagnes opened #4536 "Installation successful, but import shogun error"
I pull shogun docker image from according to installation instruction, and in its bash , I print "python" to python shell, but when import shogun, there is "import error"

root@a7737bb1e387:/# python
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

**### The content of dockerfile is:**
FROM ubuntu:16.04 AS b

[2019-02-21 03:45] luoagnes commented on #4536
I installed the environment from the Dockerfile

[2019-02-21 06:24] luoagnes commented on #4536
As mentioned in https://github.com/shogun-toolbox/docs/blob/master/INTERFACES.md :
The package support to python for shogun is to be enabled by
export PYTHONPATH="path/to/shogun.py:$PYTHONPATH"

following up to which , I did was :
export PYTHONPATH="path/to/shogun.py:$PYTHONPATH"
but still I get :
Traceback (most recent call last):
File "random_forest_regression.py", line 2, in
import shogun
Modul

[2019-02-21 12:31] karlnapf commented on #4536
Hi! It is quite unclear what you did, so it is hard to help you. Make sure to read up on how to ask for help, and provide details of what exactly you did

[2019-02-21 12:33] karlnapf commented on #4536
I’m closing this for now as it seems a generic python setup issue. Best to google/understand what PYTHONPATH is

[2019-02-21 12:33] #4536 closed

[2019-02-22 08:39] saeidnp opened #4539 "Importing shogun makes python irresponsive to KeyboardInterrupt"
As soon as I import shogun in python, it does not respond to Ctrl+c any more.
I am testing it with this simple code:
[code]

[2019-02-22 09:57] geektoni commented on #4539
Which version of Shogun are you using? This was a known issue (see https://github.com/shogun-toolbox/shogun/issues/4201) and it is was fixed in the most recent versions of Shogun. I suggest you to try to use the current development branch (`develop`) which will have the fix.

[2019-02-22 15:41] ARAVINDSEGAR commented on #2907
i have installed shogun in windows  using conda. so i have anaconda with python 3.6, i can import shogun, but i can not import modshogun, if i try this command *import modshogun* it shows *no module named modshogun*. could anyone help please ???

[2019-02-22 17:13] saeidnp commented on #4539
I was using the latest release (6.1.3), which did not include the fix.
I tried using the latest commit from `develop` branch and it does not ignore KeyboardInterrupt anymore and prints this:
[code]
Which is expected. But is there a way to recover the normal behavior of KeyboardInterrupt i.e. not being handled by shogun?

[2019-02-22 17:44] geektoni commented on #4539
Yes, it is possible to use the standard handler. In order to do that, you just need to add to your file the following line:
[code]

[2019-02-22 19:46] saeidnp commented on #4539
It worked. Thanks.

[2019-02-22 21:25] karlnapf commented on #2907
modshogun was renamed to just shogun

[2019-02-22 21:55] #4539 closed

[2019-02-26 10:02] luoagnes opened #4542 "Make error during compile libshogun by hand"
I compile shogun by hand, and when i execute the command "make",  there happened some error , the error content is:

Scanning dependencies of target libshogun
[  1%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/Parallel.cpp.o
In file included from /shogun/src/shogun/lib/common.h:80:0,
                 from /shogun/src/shogun/base/Parallel.h:13,
                 from /shogun/src/sho

[2019-02-26 10:07] luoagnes commented on #4542
my cmake command content is:

cmake -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 \
            -DPYTHON_LIBRARIES= /usr/lib/python2.7/config-x86_64-linux-gnu/libpython2.7.so \
            -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python2 \
            -DPYTHON_PACKAGES_PATH=/usr/local/lib/python2.7/dist-packages \
            -DINTERFACE_PYTHON=ON ..

[2019-02-26 10:24] luoagnes commented on #3988
when I execute the command "make", there is some error, that is：

Scanning dependencies of target libshogun
[  1%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/Parallel.cpp.o
In file included from /shogun/src/shogun/lib/common.h:80:0,
                 from /shogun/src/shogun/base/Parallel.h:13,
                 from /shogun/src/shogun/base/Parallel.cpp:8:
/shogun/src/shogun/lib/mem

[2019-02-26 10:25] luoagnes commented on #3988
my cmake command is:

cmake -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 \
           -DPYTHON_LIBRARIES= /usr/lib/python2.7/config-x86_64-linux-gnu/libpython2.7.so \
           -DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python2 \
           -DPYTHON_PACKAGES_PATH=/usr/local/lib/python2.7/dist-packages \
           -DINTERFACE_PYTHON=ON ..

[2019-02-26 10:26] luoagnes commented on #3988
the cmake command execute result is:

-- ===================================================================================================================
-- To compile shogun type
--   make
--
-- To install shogun to /usr/local type
--   make install
--
-- or to install to a custom directory
--   make install DESTDIR=/my/special/path
--   (or rerun cmake with -DCMAKE_INSTALL_PREFIX=/my/special/

[2019-02-26 10:28] luoagnes commented on #3988
What's wrong with the compilation process ? How do i solve it ?

[2019-02-26 12:31] luoagnes commented on #4393
I met the same problem, the error info is:

Scanning dependencies of target libshogun
[  1%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/Parallel.cpp.o
In file included from /shogun/src/shogun/lib/common.h:80:0,
                 from /shogun/src/shogun/base/Parallel.h:13,
                 from /shogun/src/shogun/base/Parallel.cpp:8:
/shogun/src/shogun/lib/memory.h:106:25: error: ‘

[2019-02-27 09:18] gf712 commented on #4399
Hey @cyberyu
I don't think it's a bug, you are just using the wrong getter. `y_pred.get_multiclass_confidences` gets you the confidence values for each example, i.e. `y_pred.get_multiclass_confidences(0)` for the first row in the prediction set. @vigsterkr I am not sure if `get_values` should return a matrix with these values? If so it can be fixed quite easily.

[2019-02-27 18:17] karlnapf commented on #4393
@besser82

[2019-02-28 01:54] luoagnes commented on #4341
I compile shogun by hand in ubuntu:14.04 according to INSTALL.md.  in python command line environment, "import shogun" is right, but "from shogun import SVMLight" error and name 'CombinedKernel' is not defined, Why? And how to solve it ?

[2019-02-28 02:28] vinx13 commented on #4341
hi @luoagnes , we are moving to factory methods, you can use `kernel('CombinedKernel')` and `machine('SVMLight')` to create them

[2019-02-28 05:46] luoagnes opened #4545 "mkl"

[2019-02-28 05:47] #4545 closed

[2019-03-01 13:17] karlnapf commented on #4341
(also need to compile shogun using the GPL compatible submodules if you want to use SVMLIGHT

[2019-03-01 13:17] #4341 closed

[2019-03-03 12:01] karlnapf commented on #4399
@gf712 it would be good to update the examples to extract the right values in a sensible way. Mind doing that?

[2019-03-03 13:07] gf712 commented on #4399
@karlnapf I just realised that the issue is actually something else, I was just looking at the way the confidence values were extracted and everything was always zero..
But I'll have a look at the confidence values extraction anyway.

[2019-03-04 10:16] geektoni opened #4556 "Meta examples are built multiple times during the build process."
Shogun's meta examples are generated/built every time we call `make`. This should only happen when those `*.sg` files are modified. This behaviour is reproducible using the latest develop branch and by doing:
[code]

[2019-03-04 12:32] abnerzyx commented on #4399
@cyberyu
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm, datasets

# import some data to play with
iris = datasets.load_iris()

num_samples = len(iris.data)

np.random.seed(seed=42)

idx = np.arange(num_samples)
np.random.shuffle(idx)

spl = int(num_samples * 0.70)

X_train = iris.data[idx][:spl, :2]
y_train = iris.target[idx][:spl]
X_test = iris.data[idx][spl:, :2]
y_t

[2019-03-04 20:50] karlnapf commented on #4556
Yes! That’s annoying me as well

Also you can avoid building them via using the other make targets (libshogun, _interface_python, cpp-features-string, etc)

[2019-03-05 04:33] taichi-yagami commented on #4107
@karlnapf Hello Sir, I am novice programmer in ML field, I guess writing cookbook would be great start for getting started with shogun library. If there are any cookbook that needs to be created yet please let me know.

[2019-03-05 04:39] vinx13 commented on #4556
Even if .sg files are the same, meta examples still need to be rebuilt if libshogun is updated.

[2019-03-05 08:19] vigsterkr commented on #4556
@vinx13 afaik by using `target_link_libraries` that should be taken care via cmake....

[2019-03-05 09:51] karlnapf commented on #4107
Xvalidation cookbook exists

I suggest you start with porting an undocumented example from python to meta example, without a cookbook yet. There are dozens. Start with a simple one, eg kernel

[2019-03-05 09:51] #4107 closed

[2019-03-05 10:15] geektoni commented on #4556
@vinx13 The problem is mainly caused by the fact that when I'm modifying a .cpp file, I just need the examples to be linked again against the new libshogun, but currently, the make process also rebuilds them every time.

[2019-03-06 04:21] taichi-yagami commented on #3555
@karlnapf I wish to work on making meta examples for remaining py files mentioned in examples/uncodcumented/python directory, I wanted to know that whether there are any documentation / tutorial/ blogs on how to convert those py file into and meta example, and how it works.

[2019-03-06 05:42] glitch401 commented on #3513
Hi , I am interested in working on this issue , as entrance task for GSOC 19 , do I have a green light ?

[2019-03-06 05:45] glitch401 commented on #3507
Hey @karlnapf , can I solve this problem along with issue #3513

[2019-03-06 05:55] vigsterkr commented on #3513
@glitch401 you can work on any issue of your preference, no need to ask for our permission. the best course of action is that you send in a PR as soon as possible - doesn't need to be the final solution, and now even can send in a PR draft....