[2019-03-06 09:53] glitch401 commented on #3513
@vigsterkr Thank you for the cinfirmation . sending PR ASAP .

[2019-03-06 11:37] karlnapf commented on #3555
There is a readme

[2019-03-06 16:11] matloob1191 commented on #4476
We load, haul, and dispose of your junk while offering the LOWEST POSSIBLE junk removal RATES and service around. kindly visit www.dubaijunkremoval.com

[2019-03-06 16:13] karlnapf commented on #4476
Reported as abuse with github

[2019-03-06 17:07] karlnapf commented on #4556
you can just build one
`make cpp-features-string`. It generates all of them (that is the problem to be fixed), but it only compiles one.

[2019-03-06 17:16] karlnapf commented on #4399
So was there a problem in the end that needs fixing?

[2019-03-06 17:18] karlnapf commented on #3988
Looks like your compiler doesnt support C++14, or the compiler flag hasnt been set for a reason. You could have seen that via googling the error msg `error: ‘std::enable_if_t’ has not been declared`

[2019-03-06 17:19] AbhishekSinghDhadwal commented on #4474
I'd like to help with this issue. May I get more information ?

[2019-03-06 17:25] AbhishekSinghDhadwal commented on #4315
Is the issue still open, if so, I'd like to help

[2019-03-06 17:28] karlnapf commented on #4474
We want something like this to work.
[code]

It requires some diving deep into the parameter framework, so maybe not the best first issue if you are not familiar with C++

[2019-03-07 07:28] vigsterkr opened #4561 "fix liblinearregression tests"
the unit test of LibLinearRegression fails every now and then, that causes false alarms in our CI

[2019-03-07 07:49] abnerzyx commented on #4399
@karlnapf No need to fix, this is a parameter setting problem.The result of my code is consistent.

[2019-03-07 12:56] #4399 closed

[2019-03-08 05:59] taichi-yagami commented on #3555
@karlnapf  Ok I will take this task of building meta example for remaining python files.

[2019-03-08 14:03] jyotirmoy1997 opened #4563 "facing issue in Configuring cmake"
**```
cd build
cmake [options] ..
[code]

[2019-03-08 14:04] vigsterkr commented on #4563
@jyotirmoy1997 you are trying to build with MSVC 2015... that won't work... other than that you seem to have some permission errors

[2019-03-08 14:04] #4563 closed

[2019-03-08 14:05] jyotirmoy1997 commented on #4563
MSVC 2015. so should i upgrade it to 2017

[2019-03-08 14:05] vigsterkr commented on #4563
yes

[2019-03-08 14:07] jyotirmoy1997 commented on #4563
"you seem to have some permission errors" can you elaborate it plz

[2019-03-08 14:08] vigsterkr commented on #4563
```CMake Error: Could not open file for write in copy operation C:/Users/nEW u/Desk                                                                                            top/shogun_stable/shogun/build/CMakeFiles/3.13.4/CMakeSystem.cmake.tmp```

[2019-03-08 14:12] jyotirmoy1997 commented on #4563
so any kind of solution. i don' t think there is a error in  setting up the  environment variable

[2019-03-08 14:14] vigsterkr commented on #4563
sorry but this is your dev env... and clearly you have a problem with permissions... i cannot help you more than this

[2019-03-08 14:17] jyotirmoy1997 commented on #4563
ok thank you

[2019-03-09 08:03] han0305 commented on #4488
I am new to open source and I will like to work on this issue.

[2019-03-10 16:43] glitch401 commented on #3513
Hi! @vigsterkr , sorry for a delay in communication. I was going through the previous comments on this issue.
Time and Arrucary comparison for: `KNN_BRUTE` , `KNN_COVER_TREE` and `KNN_KDTREE` has already been worked on and has been patched in PR  #3620  .
So what should I work on in this issue?

[2019-03-11 15:07] avramidis commented on #4561
Can we have artifacts if it's possible to see why it fails? I cannot make it fail locally.

[2019-03-11 15:15] gf712 commented on #4561
the weights learnt go off quite a bit sometimes. It seems to be an issue with something related to RNG. I tested for UB, but couldn't find anything.

It's also just an issue with clang, which makes it even weirder. If you have clang compile shogun with it and run the test a few times and it will very likely fail occasionally..

I think the algorithm expects it to be monotonically decreasing, but s

[2019-03-11 15:20] avramidis commented on #4561
Thank you! I will try with clang.

[2019-03-11 21:48] theartful commented on #4416
@karlnapf If this is bug is not resolved yet, I would like to work on it on the weekend.

[2019-03-12 13:28] jyotirmoy1997 commented on #4563
victor still facing this issue
-- Building for: Visual Studio 15 2017
CMake Error at C:/Program Files/CMake/share/cmake-3.13/Modules/CMakeDetermineSys                                                                                            tem.cmake:174 (file):
  file failed to open for writing (No such file or directory):

    C:/Users/nEW u/Desktop/shogun_stable/shogun/build/CMakeFiles/CMakeOu

[2019-03-12 13:54] jyotirmoy1997 opened #4569 "victor still facing this issue"
victor still facing this issue
-- Building for: Visual Studio 15 2017
CMake Error at C:/Program Files/CMake/share/cmake-3.13/Modules/CMakeDetermineSys                                                                                            tem.cmake:174 (file):
  file failed to open for writing (No such file or directory):

    C:/Users/nEW u/Desktop/shogun_stable/shogun/build/CMakeFiles/CMakeOu

[2019-03-12 13:56] karlnapf commented on #4569
please stop spamming our issue list via opening new issues @jyotirmoy1997 there is the other thread to discuss this (which I believe contained some clear hints on how to solve this problem)

[2019-03-12 13:56] #4569 closed

[2019-03-12 14:12] jyotirmoy1997 opened #4570 "MSVC 2015. so should i upgrade it to 2017"
MSVC 2015. so should i upgrade it to 2017

_Originally posted by @jyotirmoy1997 in https://github.com/shogun-toolbox/shogun/issues/4563#issuecomment-470939299_

[2019-03-12 14:13] jyotirmoy1997 commented on #4570
i think upgrading does not help me

$ cmake --help
Usage

  cmake [options] <path-to-source>
  cmake [options] <path-to-existing-build>
  cmake [options] -S <path-to-source> -B <path-to-build>

Specify a source directory to (re-)generate a build system for it in the
current working directory.  Specify an existing build directory to
re-generate its build system.

Options
  -S <path-to-source>

[2019-03-12 14:36] #4570 closed

[2019-03-12 14:57] #4284 closed

[2019-03-13 06:01] #4353 closed

[2019-03-14 17:21] #1348 closed

[2019-03-14 17:22] karlnapf opened #4574 "Remove `obtain_from_generic` from all classes"
We now have `.as<T>` which does the job. Easy entrance task

[2019-03-15 16:40] karlnapf commented on #3555
We will need to port all examples in `examples/undocumented/python/*.py` to the new meta example system, using factories and base types rather than specialised types (i.e. using `Machine m = machine("LibSVM")` rather than `LibSVM m = LibSVM()`, and using `m.apply().get("labels")` rather than `m.apply_binary().get_labels()`

[2019-03-15 17:10] Macr0Nerd commented on #4574
Do you just want it deleted or replaced with anything? I can take this on and most likely be done by Monday should my schedule permit.

[2019-03-15 17:13] vigsterkr commented on #4574
@Macr0Nerd remove the functions and wherever it is being used use the mentioned .as<T> function

[2019-03-15 17:15] Macr0Nerd commented on #4574
I’ll get on that ASAP!

[2019-03-15 17:23] Macr0Nerd commented on #4574
@vigsterkr where could I find the .as<T>? I just want to make sure I use it right

[2019-03-15 17:34] vigsterkr commented on #4574
it's part of SGObject

[2019-03-16 18:20] braceletboy opened #4578 "Unable to build shogun's python interface"
Hi, I have been trying to build shogun's python interface from source code. But, I always get the following error message (I have turned on verbose for the make command. Hence the lengthy messages):
[code]
I have looked at the 612 line of the `shogun_doxygen.i` file but I am not sure I understand the error generated. I am also posting the [shogun_doxygen.i][1] file as a gist.

Thanks in advance fo

[2019-03-16 18:28] gf712 commented on #4578
Hi, are you using the latest develop? This issue should have been fixed a few commits ago..

[2019-03-16 18:30] braceletboy commented on #4578
I was not. Thank you. Will rebase to the newest commit and try again.

[2019-03-16 20:38] braceletboy commented on #4578
Thanks alot @gf712 . I am closing this issue.

[2019-03-17 17:24] j-petit commented on #4258
I am looking into this.

[2019-03-17 19:50] Macr0Nerd commented on #4574
@vigsterkr I apologize but I will not be able to help with the issue. I have had some things come up and i don't want to leave the issue where it goes unsolved.

[2019-03-17 20:08] karlnapf commented on #4574
Thanks for letting us know :D

[2019-03-19 10:49] vigsterkr opened #4580 "create unit tests for utils::safe_convert function"
create all the possible combination for primitive type conversion to check that utils::safe_convert is acting as it should

[2019-03-20 19:21] lisamartin72 opened #4583 "Updated NumFOCUS donation link"
Hi, I am a new staff member at NumFOCUS. We have updated our donation provider from Flipcause to Salsa. The new link is:

https://numfocus.salsalabs.org/donate-to-shogun

Please update your website accordingly. : )

Thanks,

Lisa Martin
NumFOCUS

[2019-03-22 16:53] vigsterkr commented on #4583
@lisamartin72 thnx, i've just updated the website!

[2019-03-22 16:53] #4583 closed

[2019-03-22 16:53] #4561 closed

[2019-03-24 09:12] jianhongwu opened #4587 "Wrong instructions in INTERFACES.md"
when I compiled shogun under ubuntu from sources, I followed this instructions:
[code]
in my case, it was:
[code]
after that it didn't work, cuz LD_LIBRARY_PATH should be a path, not a file.
I succeeded by doing:
[code]
other instructions seems to have the same problem, plz check that.

[2019-03-24 15:24] vinx13 commented on #4587
`path/to/libshogun.so` means the directory of libshogun.so

[2019-03-24 16:06] #4587 closed

[2019-03-24 18:21] remyabel commented on #4574
Hi, I'm working on this. What would be the proper syntax for the meta examples? Neither of these work:

[code]

The first statement is not valid syntax, the second spits out:

[code]

[2019-03-24 18:31] lisitsyn commented on #4587
I think the issue is reasonable. I did mention it is a directory in 1551d2a.

[2019-03-24 21:50] karlnapf commented on #4574
as_kernel, as_features, etc...

[2019-03-24 21:51] karlnapf commented on #4574
Not sure you need that in the example above though..... get/put work on the base class

[2019-03-24 22:03] remyabel commented on #4574
After removing all instances of `obtain_from_generic` there are only a few cases where it's being used. The meta examples is one of them. Are there additional changes I need to make before `as_CombinedKernel` can work as intended?

[2019-03-25 06:47] LifangHe opened #4589 "How to fix mkl.train() error in multiple kernel learning?"
When I call mkl.train(), it comes out "Interleaved MKL optimization is currently only supported with SVMlight". How should I fix this error? Any help or suggestions would be appreciated.

[2019-03-25 13:39] karlnapf commented on #4574
You would use as_kernel

But actually not even that as you can use get on the sgobject. What calls do you want to make on the object ?

[2019-03-25 13:50] remyabel commented on #4574
That seems to have worked, thanks. I apologize for not being clear earlier. I was trying to fix these two files (the meta language files):

[code]

and your suggestion did the trick:

[code]

[2019-03-25 14:14] karlnapf commented on #4589
Mkl has a weird license so we cannot ship it in binaries easily. You need to compile shogun by hand with the gpl submodule enabled. See the readme.

[2019-03-25 14:14] karlnapf commented on #4589
(The mkl algorithm currently only works with svmlight)

[2019-03-25 14:17] karlnapf commented on #4574
That won’t compile I think you need to change the type to Kernel

[2019-03-25 14:18] karlnapf commented on #4574
Also see #4581 where I am refactoring some stuff related

[2019-03-25 14:19] karlnapf commented on #4574
you  in fact just exclude the meta example for statistical testing in this pr. I will be done with the other one soon and then you can rebate against it

[2019-03-25 14:24] remyabel commented on #4574
How so? I made sure it compiled before I created the PR.

I will rebase and fix any conflicts after that, then.

[2019-03-25 15:03] karlnapf commented on #4574
You cannot implicitly convert CKernel* so CConbinedKernel* but your example effectively does that.
Make build_cpp_meta_examples should fail

[2019-03-26 00:53] LifangHe commented on #4589
Thanks for your reply and clarification.

Best regards,
Lifang

On Mon, Mar 25, 2019 at 10:15 AM Heiko Strathmann <notifications@github.com>
wrote:

--
Lifang He (何丽芳)
University of Pennsylvania
Department of Biostatistics and Epidemiology
423 Guardian Drive, Blockley Hall 634
Philadelphia, PA 19104
Primary Phone: (312) 692-9728
Second Phone: (86) 159-0207-1767
Email: lifanghescut@gmail.com

[2019-03-27 10:00] mazzma12 opened #4593 "p and q dimension reversed in Traceback"
Hi,
I am reporting a minor confusion, my traceback rshowed a SystemError when I called `mmd.compute_p_value(statistic)` with
`mmd.set_null_approximation_method(sg.NAM_MMD2_GAMMA)` :

[code]

But the dimensions are reversed, p is of shape 2654 and q 1204. I doubled check using `mmd.get_p()` method

[2019-03-27 21:43] karlnapf commented on #4593
Thanks for the report!

[2019-03-29 01:40] saeidnp opened #4595 "MMD unbiased estimate issue"
I run the following code which computes MMD unbiased estimate multiple times. Since both the distributions are Normal(0,1) and the estimate is unbiased, I expect the average output to be 0. However, it always prints the exact same number (-0.6577018139068969)

[code]

[2019-03-29 11:26] lambday commented on #4595
Hi @saeidnp. Thanks for letting us know. I'll check and get back to you on this.

[2019-04-03 14:23] neroangelo296 commented on #4574
Hi,
When you said remove " 'obtain_from_generic' from all classes " which classes are you referring to.
Preferably could you provide a link.
Thanks!

[2019-04-04 06:09] vinx13 commented on #4574
@neroangelo296 you can `git grep obtain_from_generic`

[2019-04-04 06:26] neroangelo296 commented on #4574
@vinx13 Thanks

[2019-04-04 06:49] neroangelo296 commented on #4574
Just to confirm, is this the change we're looking for?
[code]
to
[code]

[2019-04-04 06:51] vinx13 commented on #4574
@neroangelo296 you will replace  `obtain_from_generic` call with  `.as<CMKLClassification>()`, and finally remove `obtain_from_generic` definition

[2019-04-04 06:57] neroangelo296 commented on #4574
So its
[code]

[2019-04-04 07:14] vinx13 commented on #4574
@neroangelo296 yes, `as` is a template method that we have already defined in https://github.com/shogun-toolbox/shogun/blob/9537f595679993bd56a833629cba832c97165c5c/src/shogun/base/SGObject.h#L668

[2019-04-04 07:25] neroangelo296 commented on #4574
I've made a pull request.
Thanks for putting up with me.

[2019-04-05 14:58] voldemoriarty opened #4599 "Strange if statement"
Browsing the code in `src/shogun/neuralnets/NeuralNetworks.cpp` I noticed a strange if statement

https://github.com/shogun-toolbox/shogun/blob/9537f595679993bd56a833629cba832c97165c5c/src/shogun/neuralnets/NeuralNetwork.cpp#L395

I think the `|| 1` is redundant here

[2019-04-05 15:03] voldemoriarty opened #4600 "Inconsistent casts"
https://github.com/shogun-toolbox/shogun/blob/9537f595679993bd56a833629cba832c97165c5c/src/shogun/neuralnets/NeuralNetwork.cpp#L435-L436

I think both of them should be `static_cast`s

[2019-04-06 09:41] neroangelo296 opened #4601 "Performance Improvement in mathematics/Cplex.cpp"
I was wondering if we could change
[code]
To something like this
[code]
I'm assuming that num_dim is a subset of num_variables, and by making two seperate for blocks we avoid making comparisons on the second time around which improves speed.

[2019-04-07 02:44] yinhaosen commented on #4599
I think so the statement always evaluates to true.

[2019-04-07 05:46] vinx13 commented on #4599
@voldemoriarty I think `|| 1` should be removed. Would you like to check the value of `result` and send a PR?

[2019-04-08 14:10] novate commented on #4020
I would like to do this in my GSoC project, here are my initial ideas:
1. Enclose the unclosured initial meta example `.sg` code with `#![initial_code]`. This work could be done automatically with python.
2. Modify all `.rst` files. Add `.. sgexample:: something.sg:initial_code`. This work could also be done automatically with python.
3. To show full code, we could add `. sgexample:: something.sg`

[2019-04-10 23:24] ambodi opened #4605 "SystemError: Out of memory error when computing mmd.compute_statistic()"
I am following http://shogun-toolbox.org/notebook/latest/mmd_two_sample_testing.html to run a Kernel MMD test. I am hitting a memory error when calling compute_statistic on my data, since it is a dense vector of (100, 19666):

I am using

[code]

error message:
[code]

I assume that the problem is somewhere else since Shogun should work with high dimensional data, no?

[2019-04-11 19:00] muhannad35990 opened #4607 "MKL with SVM for Multiclass face Recognition"
I want to implement MKL with SVM on face Recognition to fuse multiple features
in openCV Library I use this code for train :
[code]
and for prediction of new Data use:
` response1=svm->predict(bowDescriptor1);`

but OpenCv doesn't support custom kernel for SVM so I'm using shogun to do the fusion using MKL , I use this code :

[code]

to test on the same train data I use this Line:

[code]
but the

[2019-04-12 08:50] karlnapf commented on #4605
It should bit you may have spotted a problem.
@lambday any ideas?
I’ll try to check this within the next days
Thanks for the report

[2019-04-13 15:54] karlnapf commented on #4607
Hi @muhannad35990 thanks for reporting this. It is very hard to tell what is the problem from the information you provided. If you could provide a stand-alone minimal example that reproduces the behaviour your describe, I can have a look.

[2019-04-13 16:21] karlnapf commented on #4605
Just looking at this again. The line `sg.RealFeatures(X.reshape(1, 98330000))` creates 98330000 vectors of dimension 1. Building the kernel matrix for that many data is hopeless. Try transposing :)

[2019-04-13 16:49] karlnapf commented on #4020
Hi thanks for taking this up!

1. is not really necessary. We do explicitly extract code in `sgexample.py` so we can just extract all there.
2. modifying the `.rst` files is not really a good idea since it requires so many changes. Rather we want to change how the page is generated in the python script mentioned above
3. same as above

I think the best way to change things is to start playing with

[2019-04-13 16:51] karlnapf commented on #4599
yep can be removed, == has higher priority than ||, https://en.cppreference.com/w/cpp/language/operator_precedence

[2019-04-13 16:52] karlnapf commented on #4601
Probably :) Seem reasonably what you are saying. But numbers are better....
The way to do this would be to write a little benchmark on a reasonable problem (see `benchmarks` folder how to use the framework for that), and then try before and after, make sure the results are the same and execution time is faster. Wanna go ahead? :)

[2019-04-13 16:52] karlnapf commented on #4600
PR welcome :)

[2019-04-13 16:54] karlnapf commented on #4595
any updates @lambday ?

[2019-04-13 16:59] karlnapf commented on #4595
I just tried and I get
[code]
I guess there is an issue with your random number generator?

[2019-04-14 08:44] vigsterkr opened #4609 "get("labels") is broken"
[code]

the last command will fail... this is consistent with c++ api

[2019-04-14 08:46] vigsterkr commented on #4609
same is true for LibSVM

[2019-04-14 09:34] gf712 commented on #4609
The issue is probably because the function in https://github.com/shogun-toolbox/shogun/commit/9537f595679993bd56a833629cba832c97165c5c#diff-1689b0bd3ceb28355cc3c05ed7ffe4f0R1100 doesnt have CLabels (or CDistance) in it

[2019-04-14 09:59] muhannad35990 commented on #4607
here is a modifed one with comments on each line
`//svm_training_data is the first feature matrix that when train using it with opencv lib the results is very good
//matAngles is the second feature matrix that when train using it with opencv lib the results is very good
//now we want to fuse the two featue matrixes using MKL and shogun
//first convert each form cv::mat to SGMatrix
//svm_training_d

[2019-04-14 10:13] vigsterkr commented on #4609
Ah marvelous... thnx for the quick reply... although it doesnt explain why a deser svm fails with not having labels :s (get_labels do returns the labels)

[2019-04-14 10:51] gf712 commented on #4609
what do you mean? What error do you get?

[2019-04-14 16:06] vigsterkr commented on #4609
That labels are not set (when trying to run train), but as said gat_labels returns a correct binarylabels obj

[2019-04-16 07:44] wang8297161 opened #4610 "[Error]:Cannot convert MulticlassLabels to binary labels:"
It can run successfully when i test the example (cross_validation_support_vector_machine.py), which is an official example about binary classification using SVM  and cross validation.
However, when i replace the input feature and label with my own data, which is multilabel.

The error comes as :
result = cross.evaluate()
Traceback (most recent call last):
  File "/home/zzz/pycharm-community-2019.1

[2019-04-16 18:17] vigsterkr commented on #4609
i'll leave this one open until the getter is not added to the interface

[2019-04-16 21:17] karlnapf commented on #4610
SMVs are for binary label problems. If you want to run SVMs for multiple classes you need to use that corresponsing interface, see e.g. [here](http://shogun.ml/examples/latest/examples/multiclass_classifier/multiclass_linearmachine.html)

[2019-04-16 21:19] karlnapf commented on #4610
Or you can also use native multiclass SVM implementations. In any case, check out this as well:
http://shogun.ml/api/latest/classshogun_1_1CMulticlassSVM.html

[2019-04-17 01:29] wang8297161 commented on #4610
Thank you for helping me in solving this error. It runs successfully when i rewrite the code, replacing the `svm = machine("LibLinear", liblinear_solver_type="L2R_L2LOSS_SVC") `  with `svm = machine("MulticlassLibSVM", C=C, kernel=gauss_kernel, labels=labs)`, then `svm.train(feats)`.

However ,the same error still comes when using crossvalidation.

strategy = splitting_strategy("StratifiedCrossVal

[2019-04-17 08:42] karlnapf commented on #4610
That is a bug then.
Could you post your code as a github gist or via pastebin instead of a zip file please?

[2019-04-17 09:32] wang8297161 commented on #4610
OK, no problem.
[gist](https://gist.github.com/wang8297161/69e3b72d1495d81a3a65b308624d17ca)

[2019-04-18 11:01] karlnapf commented on #4610
I reproduced the error locally, will check what is going on and then get back to you

[2019-04-18 11:44] wang8297161 commented on #4610
Thanks man, hoping to receive the solution.

[2019-04-19 01:43] saeidnp commented on #4595
@karlnapf in your code less samples are used than mine.
When I run your code, I get the expected output. But I tried your code with `N = 7000` and got that magic number (-0.6577018139068969) again!

[2019-04-19 13:13] karlnapf commented on #4020
Hey, any updates or questions here?

[2019-04-19 16:06] ambodi commented on #4605
Yes very true. I got misinformed because in one of your tutorials they were represented as column vectors, so I assumed that's the formation you need to fit them.

Thanks for the help

[2019-04-19 16:07] #4605 closed

[2019-04-20 07:52] karlnapf commented on #4595
That seems strange to me but I’ll check!

[2019-04-20 07:54] karlnapf commented on #4605
Yes, all shogun vectors are in column major format, so number of rows is the dimension and number of Cols is the number of vectors

[2019-04-23 12:58] novate commented on #4020
Yes, I do have some updates:
1. I agree that we'd better modify `.rst` file as few as we could, while I think that the `.rst` file may still be modified, for we want to show full code, however `.rst` files haven't contain all of them yet. Such a modification could be easy if we write a automated snippet. We could discuss on how to make the modification less and easy to be done.
2. I agree that the

[2019-04-23 13:32] karlnapf commented on #4020
Yeah exactly this is what we want, the `>>>`-style button that just shows all of the code in the file

[2019-04-23 13:39] novate commented on #4020
Here's a question: Do we have another code for our `sphinx` doc pages, or all we have is a python `sphinx` generator `sgexample.py`? If the latter is right, how can we do to add `js` snippets in it?

[2019-04-23 13:40] karlnapf commented on #4595
I get exactly the same magic number. Crazy! This is a bug and I will dig deeper once I have a moment. @lambday might also be able to help

[2019-04-23 13:43] karlnapf commented on #4020
I am not exactly sure what you mean, but the `sgexample.py` is pretty much all that generates the cookbook pages along with the `.rst` and the `.py`, `.cpp`, `.java`, etc

[2019-04-23 13:45] vinx13 commented on #4020
@novate We have some static files and the html template in https://github.com/shogun-toolbox/shogun/tree/develop/doc/cookbook/source

[2019-04-23 13:49] novate commented on #4020
Thanks! I get it. Now I know that we have other code for the cookbook pages, and all static things like js snippets could be placed at [here](https://github.com/shogun-toolbox/shogun/tree/develop/doc/cookbook/source/static).

[2019-04-23 13:51] karlnapf commented on #4020
Ah yes and it’s bootstrap!

[2019-04-27 14:11] LiYaoooo opened #4622 "Multi-kernel learning problem-SVMLight"
Hello, there is a  problem when I ran the example of mkl-ninclass function in shogun toolbox using python 3.5 of windows10.
1. when run these code:

try:
   from shogun import SVMLight
except ImportError:
   print("SVMLight not available")
   exit(0)

it occured "SVMLight not available".

 So can you tell me  how to slove this problem?  I have been load Libvim package into python 3.5.Thank you so

[2019-04-28 16:21] karlnapf commented on #4622
You will have to compile Shogun by hand with `-DUSE_SVMLLIGHT=On` (which will only work if you also set `-DLICENSE_GPL_SHOGUN=On`

[2019-04-28 16:21] #4622 closed

[2019-04-29 13:28] Godxxxx opened #4623 "Compile issues_Configuring incomplete"
Hello, I do multi-kernel using shogun, but I meet the issue when compile manually.

$ cmake [options] ..
-- Could NOT find CCache (missing: CCACHE CCACHE_VERSION)
-- Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE) (Required is at least version "1.8.6")
CMake Error at src/shogun/CMakeLists.txt:57 (MESSAGE):
  Shogun can only be built with GPL codes if the source files are in
  /home/guodongxi/

[2019-04-29 13:56] #4623 closed

[2019-04-30 09:01] LiYaoooo commented on #4622
Thank your reply. I met a error when compiled Shogun by hand according to installing Shogun .
when I input
cmake -G"Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release -DBUILD_META_EXAMPLES=OFF -DENABLE_TESTING=ON ..
,(I have installed Visual Studio 14 2015), it occurs following errors：
C:\Users\LY\shogun\build>cmake -G"Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYP
E=Release -DBUILD_META_EXAM

[2019-04-30 09:04] LiYaoooo commented on #4622
And I didn't see -DUSE_SVMLLIGHT=On and -DLICENSE_GPL_SHOGUN=On, and only saw -USE_SVMLLIGHT=On and -LICENSE_GPL_SHOGUN=On. Do -DUSE_SVMLLIGHT=On and -DLICENSE_GPL_SHOGUN=On occur afer compiling shougun (that is, after cmake compiling)?

[2019-04-30 14:27] karlnapf commented on #4622
Sorry I am not sure I follow. But I reccommend to read our readmes for compiling. They cover the whole cmake process and compiling

[2019-04-30 18:29] karlnapf commented on #4595
This is an overflow issue caused by a `.sum()` call of an Eigen3 block. Will fix it next

[2019-05-06 14:11] #4595 closed

[2019-05-10 11:43] gbaydin commented on #4595
@saeidnp can you please confirm whether this closed issue fixed the "magic number" problem? The issue is closed but I don't see a message here saying that the bug is fixed.

[2019-05-10 12:20] karlnapf commented on #4595
@gbaydin yes it is solved via my hotfix. Could you confirm if you are using it?

It (unfortunately) will now a tiny bit slower than before due to the lack of low level vectorization in Eigen3 when summing the kernel matrix, now a c++ loop rather than SIMD summations of the columns. But that should only be noticeable when sampling from the null distribution (repeated computation of the test). We wi

[2019-05-10 15:42] jamiesnape opened #4629 "Segmentation fault when compiling Python bindings with SWIG 4"
[code]

[2019-05-10 18:36] saeidnp commented on #4595
@gbaydin @karlnapf yes it passes my tests.

[2019-05-11 07:15] vigsterkr commented on #4629
@jamiesnape ooooh thnx for reporting! i dont think any of us tested swig 4.0 yet! will take a look at it and get back to you ASAP

[2019-05-11 10:50] cseas opened #4630 "Security warning for website on Mozilla Firefox"
Mozilla Firefox displays a security warning when visiting the Shogun website: https://shogun.ml/

Screenshot:
![Selection_028](https://user-images.githubusercontent.com/29686866/57568691-8f0c0200-7408-11e9-80d3-d32aa8eba4eb.png)

This warning is not displayed when visiting the site without https:
http://shogun.ml
The https link is mentioned [here](https://github.com/shogun-toolbox/shogun/wiki/Goog

[2019-05-12 08:19] ambodi opened #4631 "MMD two sample tests with 1 instance in one sample"
I noticed that when I run a Quadratic time MMD two sample tests, in a case on the sample has a single instance, the samples will all return nan. Now, this could be due to the assumption in MMD itself, but I was wondering if I still can interpret ```mmd.perform_test(alpha)``` still or not?

[2019-05-12 12:47] karlnapf commented on #4631
Thanks for reporting! I think this should raise an assertion error, @lambday ?

@ambodi it won't return anything sensible. The test statistic might be OK (depending on whether or not you use biased/unbiased), but the p-value will be nonsense (permutation test makes no sense with one sample, the other approximations also will fail). Just curious, why are you interested in this case?

[2019-05-12 12:57] karlnapf commented on #4595
Great, thanks

[2019-05-12 19:10] lisitsyn commented on #4630
Thanks for reporting. I can reproduce that. It looks like the certificate has expired long ago.

@vigsterkr didn't you add let's encrypt for that? I have some vague memory of that..

[2019-05-13 14:08] ambodi commented on #4631
@karlnapf it does not raise an error but returns nans.

Great question, I have this case: I have a function that outputs one vector and another function that outputs 5000 vectors. I wanted to evaluate the divergence between these two functions. Now I can definitely run the functions over a range of values, let's say 700, but then the problem is that shogun memory overflows for 5000*700 samples.

A

[2019-05-14 03:12] lambday commented on #4631
@karlnapf yeah maybe there should be an assertion, but we've left it up to the user. For the unbiased case we should at least have that check.

@ambodi The NaN values come because of how we scale the MMD^2 estimates for performing the test in the unbiased case (see http://shogun.ml/api/latest/classshogun_1_1CMMD.html). It's the (n-1) term in the denominator which is messing up. The unbiased one is

[2019-05-14 12:46] karlnapf commented on #4631
statistically, this problem seems pretty much impossible to solve with a test. You might want to try an outlier detection algorithm, like a one-class SVM, and train it on the 5000 vectors and then apply to the single vector to see whether it is similar-enough or not

[2019-05-15 09:11] gf712 commented on #4629
I can't reproduce the error locally (with latest develop). There are issues with SWIG 4.0.0 to compile the generated cxx file, but I don't get the segfault during generation of `shogunPYTHON_wrap.cxx`.

[2019-05-16 08:15] geektoni opened #4638 "put() with custom constraints."
When I remove getters/setters in favour of the new `get()`/`put()` utilities, it happens to me to find these kinds of methods:
[code]
This setter can be removed easily, the only issue is caused by the `REQUIRE`. As far as I know, the `put()` mechanism does not allow to specify those kinds on preconditions on the input.

I was wondering if it could make sense to extend the `get()`/`put()` framework

[2019-05-16 08:29] karlnapf commented on #4638
Yes, very good points.

As of now, we have moved these kind of checks into the `train` method, or similar. So that everything is checked before committing to computation. So when you remove setters with those checks, pls move the checks to appropriate places.

A better way to do this would be to add domain checks as some kind of property of the variable. @vigsterkr and me had discussed this many t

[2019-05-16 09:11] lisitsyn commented on #4638
I think AnyParameter should have a list of requirements/constraints and once we declare the variable we also add the constraints in a builder-like syntax.

[2019-05-16 09:51] karlnapf opened #4639 "Implement Levenstein string distance algorithm"
To be used in #4473

First standalone against `std::string`, and then also embedded in a `CDistance` specialization.

[2019-05-16 13:46] assignment6 commented on #4639
Hello,
Does this have to be in Python?  I can do in C ;-)

[2019-05-16 13:48] gf712 commented on #4639
Hey @assignment6, no, the idea is to have it in C++ so that it can be exposed to the other languages!

[2019-05-16 13:49] assignment6 commented on #4639
Ol.  But the other languages are based on C ;-), just sayin'

[2019-05-17 19:20] muhannad35990 commented on #4607
I finally found the error was in preparing the train data I used the following code to build the feature vector:
[code]

I trained the MKL with this line :
`mkl->train();`
and it is work good but I want to enhance the result using cross validation ,I used this code:
//corss validation
[code]
but it gives this error:
[code]

what is the wrong I'm doing, please help!

[2019-05-23 08:08] geektoni opened #4644 "Cross Validation leaks memory."
Cross-Validation leaks memory when used both in the `locked` and `unlocked` mode. This can be easily reproduced using the develop branch and by running `valgrind` on any of the meta examples we have about cross-validation.

Example (`generated_cpp-evaluation-cross_validation`):
[code]

[2019-05-23 08:11] gf712 commented on #4644
I think this is solved in the smart pointer PR #4619

[2019-05-27 12:39] theartful opened #4648 "Test fails on MacOS with Intel MKL"
I managed to reproduce the problem locally with gcc. It seems that using the Single Dynamic Library to build the tests causes problems. This is a sinppet that shows the problem:
[code]
This piece of code when compiled using
[code]
or with
[code]
produces different wrong results on each run. And it works fine when compiled using:
[code]
Replacing the single dynamic mkl library to build the tests se

[2019-05-27 21:48] theartful commented on #4648
Nvm what I said. The problem was solved locally by compiling against Intel OpenMP, instead of GNU OpenMP. Apparently MKL and gomp don't work together well. https://stackoverflow.com/questions/25986091/telling-gcc-to-not-link-libgomp-so-it-links-libiomp5-instead

[2019-05-30 09:03] geektoni opened #4654 "GMM segfaults when calling train_smem()."
Shogun's Gaussian Mixture Models model fails with a segfault if we try to call `gmm.train_em()` and `gmm.train_smem()` one after the other without adding `gmm.sample()` between them (?!). This happens with the current `develop` branch.

Minimal example:
[code]

[2019-05-30 09:07] geektoni commented on #4654
Actually, this bug happens also when calling directly `train_smem()`. Therefore, I would say that `train_smem()` is atm broken.

[2019-05-31 09:28] #4648 closed

[2019-05-31 10:48] geektoni commented on #4648
Fixed by #4656.

[2019-05-31 15:28] karlnapf commented on #4654
which one is called in ::train()?

[2019-06-03 03:13] sancica-github opened #4657 "recipe for target 'src/shogun/CMakeFiles/StanMath.dir/all' failed"
sancica@sancica-machine:~/Downloads/shogun/build$ make
[  0%] Performing download step (download, verify and extract) for 'StanMath'
CMake Error at StanMath-stamp/StanMath-download.cmake:16 (message):
  Command failed: 1

   '/usr/local/bin/cmake' '-Dmake=' '-Dconfig=' '-P' '/home/sancica/Downloads/shogun/build/StanMath/src/StanMath-stamp/StanMath-download-impl.cmake'

  See also

    /home/sancic

[2019-06-03 03:21] sancica-github commented on #4657
I check the log file, I found the link, download the zip file and put it in the directory mentioned above. works.

[2019-06-03 03:21] #4657 closed

[2019-06-03 12:07] geektoni commented on #4654
The `train()` method only sets the feature needed. In order to train the `GMM` you need to call `train_em()` or `train_smem()`.

[2019-06-04 15:04] sancica-github opened #4660 "name 'CombinedKernel' is not defined"
I succeed install the shogun by manually In order to use  MKL,  cmake -DUSE_SVMLIGHT=ON.
I first open the doc/ipynb-notebooks,and test the MKL.ipynb，but this code can't run as follows:
kernel = CombinedKernel()
NameError: name 'CombinedKernel' is not defined.
I need your helps.

[2019-06-04 15:05] sancica-github commented on #4660
where can I find the python api?

[2019-06-04 15:15] gf712 commented on #4660
Hi @sancica-github did you compile shogun with the develop branch? If so it should be:
[code]

[2019-06-05 01:38] sancica-github commented on #4660
@gf712 Thank you for your reply，It's work. Do you know where can I find the latest examples or the cookbook, the examples from the official website are outdated. This project is no longer update?

[2019-06-05 06:27] karlnapf commented on #4660
The examples in the website are for the latest release. The development branch is not released yet. However you can build the examples/cookbook locally, see the readme.

[2019-06-05 06:27] #4660 closed

[2019-06-05 10:47] theartful opened #4663 "SGVector::resize_vector is broken"
The current implementation of resize_vector is
[code]
It reallocates new memory segment and deallocates the previous one, without taking into account other SGVectors pointing at the same area. A possible solution is not to deallocate the previous data, and make the `ReferencedData` detach, thus effectively creating a new SGVector.

[2019-06-05 11:12] vigsterkr commented on #4663
@theartful realloc will try to actually extend the existing memory region, so the pointer should not change actually only the size....
```The realloc() function changes the size of the memory block pointed to by ptr to size bytes. The contents will be unchanged in the range from the start of the region up to the minimum of the old and new sizes```

or i'm not so sure what you mean here...?

[2019-06-05 11:14] theartful commented on #4663
`SG_REALLOC` actually doesn't use realloc. This is the implementation:
[code]
Also I believe that realloc might move the data to a new place if it couldn't extend.

[2019-06-05 11:16] vigsterkr commented on #4663
that's for memory that has been allocated with new operator.... not with SG_MALLOC/CALLOC

[2019-06-05 11:17] vigsterkr commented on #4663
the corresponding code piece is this:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/memory.cpp#L289-L335

[2019-06-05 11:24] vigsterkr commented on #4663
the corresponding code piece is this:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/memory.cpp#L289-L335

[2019-06-05 11:24] #4663 closed

[2019-06-05 15:12] gf712 opened #4664 "C# get_word_string_list memory issue"
When I run the C# tests with the compiled develop branch I get this error randomly, i.e. not all the time:
[code]

and sometimes this one:
[code]

In #4647 I get this error with the CI.

Does anyone know what is happening? The machine I am running this on is definitely not running low on memory, definitely not for a small string vector...
The issue seems to be caused by this line in the meta examp

[2019-06-08 16:36] #4600 closed

[2019-06-08 23:59] voldemoriarty commented on #4601
http://quick-bench.com/TqRobxA8AGtgG8bf6gZhSjbJXq4

[2019-06-10 05:34] scpeters opened #4680 "Website is down"
Your website appears to be down:

* https://www.shogun.ml
* https://www.shogun-toolbox.org

[2019-06-10 06:59] karlnapf commented on #4680
Yes! We are doing some work on it. Thanks!

[2019-06-10 06:59] #4680 closed

[2019-06-10 10:13] karlnapf commented on #4601
amazing, let's have a PR with this, seems very useful :)

[2019-06-10 10:29] karlnapf commented on #4664
The reason will be in the typemaps for csharp. I edited them recently .... can have a look

[2019-06-10 13:24] voldemoriarty commented on #4601
can also use `std::fill`, produces equivalent performance and can also be parallelized in C++17 if the compiler supports it (MSVC does afaik)

http://quick-bench.com/w0nEo51PIU3QEivWmUWvqyiLgPU

[2019-06-10 22:21] karlnapf commented on #4601
Yes that’s preferred actually
Also we just moved to 17 yesterday

[2019-06-15 04:12] skn123 opened #4691 "Compilation error"
Fresh checkout from Master

/home/naths/srcs/shogun/src/shogun/lib/tapkee/neighbors/neighbors.hpp:83:10: error: no template named 'CoverTreePoint'
        typedef CoverTreePoint<RandomAccessIterator> TreePoint;
                ^
/home/naths/srcs/shogun/src/shogun/lib/tapkee/neighbors/neighbors.hpp:84:2: error: use of undeclared identifier 'v_array'
        v_array<TreePoint> points;
        ^
/hom

[2019-06-15 09:41] infinidoko commented on #4639
Hi, please i would like to work on this if the issue is still available. I can implement the algorithm in c++.

[2019-06-15 12:37] karlnapf commented on #4691
can you try this on develop?

[2019-06-15 12:45] karlnapf commented on #4639
please go ahead

[2019-06-20 07:42] pcaiyappa opened #4694 "server restart"
Hi Shogun developers

Thanks for your toolbox. I'm looking to download it and use the Oligo kernel in an SVM for some sequence analysis. Looks like your server is down, can you please restart it? I wanted to get access to the docs.

Thanks
PC

[2019-06-20 12:54] karlnapf commented on #4694
Yes, we are doing some work on it. If you want to access the docs, you can build it yourself:

`make doc`, or
`make cookbook`
`make doxygen`

There are also various readmes in `doc/readme`

[2019-06-20 20:50] pcaiyappa commented on #4694
Got it. Thank you!

[2019-06-20 20:50] #4694 closed

[2019-06-25 08:23] elbaraim commented on #4499
I am getting the same error. Could someone fix this?

 Builds of stable releases
 More info: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable
Press [ENTER] to continue or Ctrl-c to cancel adding it.

Ign:1 http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu cosmic InRelease
Ign:2 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:3 http://be.archive.ubuntu.com/ubuntu cosmic I

[2019-06-27 07:18] scpeters commented on #4630
I think this has been fixed

[2019-06-27 07:23] scpeters opened #4696 "Hosting tarballs on website?"
The homebrew-core formula for shogun references a tarball on your website, but it is not accessible at the moment.

* http://shogun-toolbox.org/archives/shogun/releases/6.1/sources/shogun-6.1.3.tar.bz2
* https://github.com/Homebrew/homebrew-core/blob/master/Formula/shogun.rb#L4

Do you intend to host tarballs on your website for stable releases or should they be accessed directly from GitHub?

[2019-06-28 07:24] hariduttt commented on #4639
Has it been implemented or I would like to work on it.

[2019-06-28 11:39] karlnapf commented on #4499
we dont have a ppa for this version yet, patch welcome!

[2019-06-28 11:42] karlnapf commented on #4696
yes we intend to host those ... but the website is nonfunctional atm. The tarballs will be back once the website runs again, in the meantime, please use github

[2019-06-28 12:38] elbaraim commented on #4499
also installation via pip fails...

if I search for the package appears:
`~$ pip3 search shogun`
`shogun-ml (5.0.0)  - The Shogun Machine Learning Toolbox`
`shogun (0.1)       - Threat Intelligence Module`

however if I try to install I get an error
`~$ pip3 install --user shogun-ml`
`Collecting shogun-ml`
`ERROR: Could not find a version that satisfies the requirement shogun-ml (from versions: no

[2019-06-28 12:39] vigsterkr commented on #4499
@elbaraim plz use conda for this:
[code]

[2019-06-28 13:47] elbaraim commented on #4499
Thank you for the tip! @vigsterkr
However I now get the following error...

`~$ conda install --channel conda-forge shogun`
`Collecting package metadata (current_repodata.json): done`
`Solving environment: failed`
`Collecting package metadata (repodata.json): done`
`Solving environment: failed`

`UnsatisfiableError: The following specifications were found to be incompatible with each other:`

`  -

[2019-06-28 13:48] elbaraim commented on #4499
i am using python3.7 in Ubuntu 18.04

[2019-06-28 15:38] voldemoriarty commented on #4639
https://bitbucket.org/clearer/iosifovich/src/master/

[2019-06-28 15:57] karlnapf commented on #4639
We sometimes copy paste import code of license permits, it is standalone and minimal, and very specific to what we need (contains nothing else).

[2019-07-03 06:54] elbaraim commented on #4499
any help please?

[2019-07-03 08:21] karlnapf opened #4705 "remove CFeatures::list_feature_obj"
This can now be done via to_string. Easy-peasy entrance task (just remove all occurrences of code and make build work)

[2019-07-03 18:12] scpeters commented on #4696
Is there a difference between your hosted tarballs and the github tarball? I tried switching to use the github tarball in https://github.com/Homebrew/homebrew-core/pull/41561 and the homebrew CI build fails:

* https://gist.github.com/scpeters/1dd17bae16915321d21e1aca55e01a0e

[code]

[2019-07-03 22:37] scpeters commented on #4696
maybe this is related to #4402 ?

[2019-07-04 17:18] #4630 closed

[2019-07-04 17:32] vigsterkr commented on #4499
@elbaraim can you come around on our IRC channel one of these days?

[2019-07-04 17:33] vigsterkr commented on #4499
but this env file should get you a working conda env working env: https://github.com/shogun-toolbox/shogun/blob/develop/environment.yml

[2019-07-05 08:04] vigsterkr opened #4707 "dont use repetitively string literals in c++ code"
due to the new tags framework we started to put string literals repetitively all around the code., hence the whole codebase starts to looks like a script code...
see for example:
 * https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/regression/GaussianProcessRegression.cpp#L60
  https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/regression/GaussianProcessRegression.cpp#

[2019-07-05 08:17] gf712 commented on #4707
Yup, static tag would be good, or we use https://github.com/hogliux/semimap to have a compile/runtime time map in SGObject::Self, but would have to change things to make thread safe...

[2019-07-05 08:51] karlnapf commented on #4707
I had a discussion with @geektoni on this when we has working on the observer stuff and started removing getters/setters. I actually think we should just stick to those (e.g. `set_variance_vector`)....the put/get stuff imo should be solely for users.

On the other hand, if we can do compile time evaluated string-based tag access, I am fine with that as well, but I am not sure that is currently wit

[2019-07-05 12:10] iglesias commented on #4707
Me gusta, @vigsterkr.

Only, shall we
[code]
iso
[code]
for extra 💃 ?

[2019-07-05 12:17] #4556 closed

[2019-07-05 12:22] karlnapf opened #4709 "Properly exclude meta examples from build"
Certain meta examples are excluded from the build, if they have optional dependencies that are not met (e.g. GPL, NLOPT, etc). This is done here: https://github.com/shogun-toolbox/shogun/blob/develop/cmake/FindMetaExamples.cmake#L18

Currently, we do not even generate the code listings of excluded examples. This is bad since when generating documentation, sphinx will complain about missing code li

[2019-07-05 13:59] gf712 commented on #4707
This is good to ensure that we have a compile time error if we access something in the parameter map that doesn’t exist but we still have the runtime lookup..

[2019-07-05 19:32] lisitsyn commented on #4707
I don't think we should have these values as const strings. It would be better to have them as const Tags. In the best case these Tags should be constexpr evaluated into a number (hash) so that map access is really fast.

I see that as something like the following snippet:

Header:
[code]

Implementation:
[code]

[2019-07-05 19:45] vigsterkr commented on #4707
@lisitsyn yeah that was kind of the idea... that to use static variables instead of spreading around string literals.

[2019-07-06 07:42] vigsterkr opened #4710 "refactor SGObject hacks"
SGObject::dispatch_array_type SGObject::get_dispatch_all_base_types and related methods are all hacks that should be implemented using visitor patterns.

[2019-07-07 09:22] samdbrice commented on #4696
@karlnapf is there a benefit to using shogun-toolbox.org as opposed to [GitHub Releases](https://help.github.com/en/articles/creating-releases)?

[2019-07-07 14:14] karlnapf commented on #4696
Afaik this has historic reasons — github releases weren’t a thing back a while ago at least
I don’t see any reason not to transition, apart from maybe potential issues with submodules. @vigsterkr ?

[2019-07-07 14:15] karlnapf commented on #4696
The gpl error above surely is exactly that

[2019-07-07 14:16] karlnapf commented on #4696
Unfortunately: https://github.community/t5/How-to-use-Git-and-GitHub/Create-Release-that-contains-submodule/td-p/12073

[2019-07-09 16:28] samdbrice commented on #4488
I this issue closed as per the Merge on Mar 2?

[2019-07-09 18:12] karlnapf commented on #4488
Nope, still lots of iterative algorithms/machines to port

[2019-07-09 21:21] samdbrice commented on #4488
Ah ok, so this is akin to a Milestone/Sticky issue - not a one-off item. This is indeed a good first issue, I'll see if I can implement one.

[2019-07-09 22:34] karlnapf commented on #4488
Just checked a few machines that are iterative and realised that most low hanging fruits have been taken. There are quite a few algorithms to port left but the changes will be slightly more nontrivial. Everything that is based on (stochastic) gradient descent is worth looking into here

[2019-07-10 22:24] scpeters commented on #4696
Ok, do you have a plan for fixing the website or hosting the tarballs somewhere else?

[2019-07-11 10:33] karlnapf commented on #4696
I tend to think we will make those available on the website again (we have infrastructure to automate that). Probably will the next release, which hopefully will happen soon (we are pushing the technical bits necessary for that, which is why some of the website/hosting didnt get looked after that well)

[2019-07-15 15:41] #4212 closed

[2019-07-16 10:34] amir-rahnama opened #4721 "NotImplementedError: Wrong number or type of arguments for overloaded function 'new_GaussianKernel'."
I have two set of images each having 50 images with shape (299 , 299, 3). So basically two vectors with (50, 299 , 299, 3).

Since I am interested of running a two sample MMD test for them, I reshape them to two vectors of (50, 268203) and run the following:

[code]

In which the ```rbf_mmd_test``` is the following:

[code]

I am receiving the following error:

[code]

What can cause this? I am us

[2019-07-16 10:49] gf712 commented on #4721
@ambodi could you check that cache_size and kernel_width are of type int and float respectively?

[2019-07-16 11:55] h-sigma commented on #4639
[levenshtein.txt](https://github.com/shogun-toolbox/shogun/files/3396916/levenshtein.txt)
Would this suffice? I can rewrite it to not use standard library classes.

[2019-07-16 12:08] vigsterkr commented on #4639
@h-sigma great start but for being able to review and give you feedback we would actually would like to have a pull request sent in with the changes you propose. for how to go further: https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md

[2019-07-17 09:32] samdbrice opened #4723 "AppVeyor build url returns error"
The [AppVeyor build url](https://ci.appveyor.com/project/vigsterkr/shogun) in the [Windows section](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual-windows) of the INSTALL docs return an error.

The url is currently: https://ci.appveyor.com/project/vigsterkr/shogun

<img width="1153" alt="Screen Shot 2019-07-17 at 2 21 49 AM" src="https://user-images.githubuserco

[2019-07-17 09:33] vigsterkr commented on #4723
indeed that should be updated as we've dropped appveyor in favour of azure pipelines

[2019-07-17 09:36] samdbrice opened #4724 "Update Fedora Package url in INSTALL docs"
INSTALL docs [Fedora section](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#fedora-) - package url needs to be updated...

**From:** https://admin.fedoraproject.org/pkgdb/package/rpms/shogun/

**To:** https://apps.fedoraproject.org/packages/shogun

[2019-07-17 09:38] vigsterkr opened #4725 "fix all the undocumented c++ examples to use ShogunEnv"
for example: https://github.com/shogun-toolbox/shogun/blob/develop/examples/undocumented/libshogun/classifier_minimal_svm.cpp#L5

[2019-07-17 09:39] vigsterkr commented on #4725
@theartful you've missed those and me too :(

[2019-07-17 10:17] ghost commented on #4725
Ouch, sorry about that! Will fix them.

[2019-07-17 13:33] vigsterkr opened #4727 "force disable USE_SWIG_DIRECTORS in case of SWIG 4.0.0"
swig 4.0 uses std::unexpected_handler when directors are enabled, which is removed in c++17  (https://en.cppreference.com/w/cpp/error/unexpected_handler). So if SWIG 4.0.0 is used we need to forcefully disable USE_SWIG_DIRECTORS cmake setting.

this will be fixed in 4.0.1 and later (see: https://github.com/swig/swig/blob/master/CHANGES.current#L37) so the check should be only for swig 4.0.0.

[2019-07-17 20:27] #4725 closed, assigned to nobody

[2019-07-20 15:33] #4461 closed

[2019-07-22 18:19] karlnapf commented on #4724
@besser82

[2019-07-23 00:29] samdbrice commented on #4724
This is super easy I can just take care of it

[2019-07-23 08:02] #4724 closed, assigned to nobody

[2019-07-25 13:26] ktiefe commented on #4705
I can take care of that issue.

[2019-07-25 23:23] ghost commented on #4654
The problem is these lines
https://github.com/shogun-toolbox/shogun/blob/46129dab22ec734937602467b7d5c2b7d0fc248e/src/shogun/clustering/GMM.cpp#L328-L334
Components of candidate are "SG_UNREF"ed, then candidate is deleted, thus double "SG_UNREF" because of the destructor.
Don't know if sending a batch is worth it, since viktor's PR solves these memory problems.

[2019-07-26 15:31] karlnapf commented on #4654
I think it is worth :) but only if it takes you a few mins only.... but since you basically solved the problem already, why not put it in...

[2019-07-28 21:24] ghost commented on #4727
was this fixed? I installed swig 4.0.0 and the python interface was built without problems. build fails however with other interfaces but for different reason.

[2019-07-29 12:12] ktiefe commented on #4705
@karlnapf how to get permission to push pull request with the solution for this case?

[2019-07-29 13:37] karlnapf commented on #4705
you might want to read about how to contribute code via github. In short: you push to your fork and send a pull request. But please read our developer readme before doing that, it has lots of tips. Looking forward to your PR

[2019-07-30 10:05] #4654 closed

[2019-07-30 20:15] samdbrice opened #4740 "Development workflow points to "GitHub Flow" not "Git Flow""
https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md#devcycle

Actually points to **GitHub Flow**: https://guides.github.com/introduction/flow/

The original **Git Flow** is here: https://nvie.com/posts/a-successful-git-branching-model/

It's possible GitHub changed from "Git Flow" to "GitHub Flow" from under us - which would be quite funny considering our most recent dis

[2019-07-31 11:14] ktiefe commented on #4705
Hi,

PR done:
https://github.com/shogun-toolbox/shogun/pull/4739

how to add reviwers?

br,KG

On Mon, Jul 29, 2019 at 3:37 PM Heiko Strathmann <notifications@github.com>
wrote:

[2019-07-31 13:05] AlexB79 opened #4741 "shogun 6.1.4 does not compile with shogun's gpl code"
Hi all,

i need to use for a code to reproduce results svm light. cmake tells me that i must enable GPL shogun and download the gpl code.

Done, then:

[ 74%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/__/gpl/shogun/classifier/svm/QPBSVMLib.cpp.o
/home/binder/experiments/2019_exp/20072019_buildeclipse/shogunbuild/shogun-shogun_6.1.4/src/gpl/shogun/classifier/FeatureBlockLogisticRegres

[2019-07-31 13:43] ghost commented on #4741
Did you change the code by mistake?
This is line 37 in FeatureBlockLogisticRegression.cpp `set_features(train_features->as<CDotFeatures>());`, which differs from the one in the error message `set_features(train_features->as());`

If so, please go to shogun/src/gpl/ and run `git reset --hard`, and then go to shogun/ and run `git submodule --init --recursive`

[2019-07-31 15:37] AlexB79 commented on #4741
Hi Ahmed,

no it is more serious.

the code is from the zip from shogun-gpl
https://github.com/shogun-toolbox/shogun-gpl/

the github has it in its code:
CFeatureBlockLogisticRegression::CFeatureBlockLogisticRegression(
float64_t z, CFeatures* train_features,
CLabels* train_labels, CIndexBlockRelation* feature_relation) :
CLinearMachine()
{
init();
set_feature_relation(feature_relation);
set_z(z);

[2019-07-31 16:41] ghost commented on #4741
The master branch of shogun-gpl submodule is following the develop branch of shogun, and not the releases. Try acquiring the gpl code from this link https://github.com/shogun-toolbox/shogun-gpl/releases or https://github.com/shogun-toolbox/shogun-gpl/tree/29ca2ff930cd5d963b3a78e79160cc04d48970c2.

[2019-07-31 20:30] AlexB79 commented on #4741
Hi Ahmed, that fixes the error, but ...

now it creates during linking an unrelated one:

[100%[100%] Linking CXX executable minimal
../../src/shogun/libshogun.so.18.0: undefined reference to `dsyev_'
../../src/shogun/libshogun.so.18.0: undefined reference to `dorgqr_'
../../src/shogun/libshogun.so.18.0: undefined reference to `dstemr_'
../../src/shogun/libshogun.so.18.0: undefined reference to `d

[2019-07-31 21:24] ghost commented on #4741
Yes it seems related to lapack, and it might be a bug in the way we detect blas and lapack.
Installing libopenblas `apt install libopenblas-base` might solve the problem, but before you do that, please go to a clean build directory, run `cmake <shogun directory>`, and send the output.

[2019-07-31 21:56] AlexB79 commented on #4741
Hi Ahmed,

its a purely linking issue.
what fixed for me was just to install liblapacke-dev -- the e-appended
version of it.  its 5am in Vietnam now, i go to sleep :) thank you for the
help.

Regards, Alex

On Wed, Jul 31, 2019 at 11:24 PM Ahmed Essam <notifications@github.com>
wrote:

[2019-08-01 11:17] karlnapf commented on #4741
Thanks for sorting this out @theartful

I wonder whether our cmake lapack detection needs update?

[2019-08-01 11:17] #4741 closed, assigned to nobody

[2019-08-01 13:19] karlnapf commented on #4705
We get notified when you send a PR, we will review once we have free time (usually we are a bit slow in summer). Thanks a lot for the PR :)

[2019-08-03 07:27] ghost opened #4742 "Cross validation examples occasionally segfaults"
This happened to me locally multiple times. They either segfault, or hang indefinitely. Specifically: cross_validation_support_vector_machine and cross_validation_pipeline.

[2019-08-03 13:04] MaxGreil commented on #4593
I can pick this issue up.
@karlnapf can you please explain what needs to be done here?

[2019-08-05 09:54] karlnapf commented on #4593
* Read the developer readme
* find the place where the error message is raised
* revert the numbers
* send a PR

[2019-08-05 09:55] karlnapf commented on #4742
whoops, that is probably my recent changes.
Is this a segfault due to double free (i.e. missing `SG_REF`) or something else?

[2019-08-05 09:56] #4727 closed, assigned to nobody

[2019-08-05 11:09] samdbrice opened #4744 "Add 'GSoC' label to GSoC related PRs and issues"
Use the wiki etc as a lookup

[2019-08-05 15:18] ghost commented on #4742
I believe yes, it's mostly related to wrongly placed `SG_REF/SG_UNREF`, you shouldn't bother. Should be solved with Viktor's PR.
I managed to reproduce a case causing segfault in code like this
[code]
with idx_train being an SGVector defined outside the loop. The segfault happens inside SubsetStack , so it might also be solved when we replace it.

[2019-08-05 15:53] ghost commented on #4744
I think you need write-access to the repo to be able to do that.

[2019-08-06 09:24] karlnapf commented on #4593
Fixed via #4745

Many thanks!

[2019-08-06 09:24] #4593 closed

[2019-08-06 09:28] karlnapf commented on #4742
Ok, let's keep this open anyways. If there is no movement with the smart pointer PR and the subset stack, I will look into fixing this ...

[2019-08-06 18:04] MaxGreil commented on #2713
@karlnapf is this issue still open?

[2019-08-06 18:10] MaxGreil commented on #3800
@vigsterkr is this issue still open?

[2019-08-07 11:52] karlnapf commented on #2713
as you will see when checking the unit test directory, there are not tests for HMM, yes :)

[2019-08-07 11:53] karlnapf commented on #3800
yes

[2019-08-08 16:29] MaxGreil commented on #2713
@karlnapf I have an additional question:
I found the existing modular example for HMM under https://github.com/shogun-toolbox/shogun/blob/a5926c3363440a36bab796b4162f2a0dd6699dd3/examples/descriptions/modular/distribution_hmm.txt but I could not find the static example for HMM. Can you please tell me where I can find it?

[2019-08-12 06:03] scpeters commented on #4696
It's been a month now and I don't see any working tarballs. Would it be possible to manually upload a working tarball to the GitHub release page for the 6.1.3 or 6.1.4 release since the default GitHub tarballs don't include the submodule code? Otherwise I will suggest that we remove shogun from homebrew-core until a suitable tarball is made publicly available.

[2019-08-12 07:06] vigsterkr commented on #4696
@scpeters thank you for tracking this issue! due to summer holidays this has not been handled properly. i'll make sure that this will be addressed during this week and will update this issue once the proper tarballs are available (again).

[2019-08-12 13:48] karlnapf commented on #2713
`shogun/examples/undocumented/python/distribution_hmm.py`

[2019-08-17 12:07] vigsterkr commented on #4696
@scpeters just an update: currently refactoring our microservices and the tarballs should be back online within the next 12h

[2019-08-17 12:34] vigsterkr commented on #4696
@scpeters ok the old archives are back alive. i'm closing this issue... the 6.1.4 release archive will be available shortly

[2019-08-17 12:34] #4696 closed

[2019-08-17 17:38] scpeters commented on #4696
thanks!

[2019-08-22 10:44] ghost opened #4750 "Problem in documentation"
## ISSUE

The commnad
`sudo apt-get install libshogun18
`
is not working fine.
## Expected
There should not be any error

[2019-08-24 09:27] karlnapf commented on #4750
closing due to incomplete information.

[2019-08-24 09:27] #4750 closed, assigned to nobody

[2019-08-27 08:45] ghost opened #4752 "C# SGMatrix and SGVectorList typemaps leak memory"
In the `out` typemaps for both `SGMatrix` and `std::vector<SGVector>`, memory is allocated using malloc, but it's not freed.

https://github.com/shogun-toolbox/shogun/blob/c948611b1e075b731d92c109d22abe79279b0a77/src/interfaces/csharp/swig_typemaps.i#L37-L53

https://github.com/shogun-toolbox/shogun/blob/c948611b1e075b731d92c109d22abe79279b0a77/src/interfaces/csharp/swig_typemaps.i#L231-L256

Thes

[2019-08-28 01:57] drbeco opened #4753 "Debian latest ships with cmake 3.7.2 and gcc without constexpr"
But shogun insists in cmake

[code]

Is this dependency really necessary? I don't want to break Debians stability by adding new version of packages by hand, and as so now I can't install the toolbox.

Maybe there is some workaround here? If I changing cmake dependency to 3.7, will it break the toolbox?

Thanks.

[2019-08-28 02:08] drbeco commented on #4753
Edited subject:

Also, gcc has no `constexpr` support, nor clang.

So maybe it is impossible to install this toolbox in a fresh debian OS.

I hope I'm wrong. Please, if you have workarounds that doesn't involve changing the OS installation, I'll be glad to try.

[2019-08-28 04:17] drbeco commented on #4753
**Solution:**

[code]

This release works fine with debian 10

[2019-08-28 04:17] #4753 closed, assigned to nobody

[2019-08-28 12:11] drbeco commented on #3772
I'm interested in this topic. Still no solution? Thanks

[2019-09-02 15:31] karlnapf commented on #3772
Not that we know of :(
But nobody really investigated this since we first found the error (see logs)

[2019-09-06 08:44] samdbrice commented on #4744
https://github.com/shogun-toolbox/shogun/issues?q=label%3A%22Tag%3A+GSoC%22&utf8=%E2%9C%93

Not exactly comprehensive but a good start.

[2019-09-06 08:45] #4744 closed, assigned to samdbrice

[2019-09-06 12:17] samdbrice opened #4759 "Refactor wiki structure"
Make it easier for new dev/contributors to navigate.

This is just a first pass at reorganizing the order and headings. Changes to content or efforts to fill-in any gaps can be discussed in a subsequent issue/pass.

I'll add proposed structure here and we can discuss before I implement.

[2019-09-11 02:10] kurtamohler opened #4762 "Can CMake switch -DENABLE_TESTING=ON be set by default?"
Hey there, I was following the instructions in DEVELOPING.md because I want to make a contribution. When I got to the "Testing" step, I saw that I had to enable the -DENABLE_TESTING=ON CMake switch. So I did that, but then I had to rebuild everything, because changing a cmake flag requires a rebuild.

On my machine, shogun takes more than an hour to build. (I know about "make -j <number>", which w

[2019-09-11 09:34] gf712 commented on #4762
Hi!

You should install ccache if you want to develop shogun (or any other project) and need to recompile several times. This will speed up the process massively. The reason your computer froze is probably when compiling the linalg operations.. I am surprised -j 2 still caused issues though.

I think the reason is just that most people do not need to run the tests for the whole code base and they

[2019-09-11 09:35] vigsterkr commented on #4762
second what @gf712 just wrote. plz use cchace, that'll speed up a lot your compilation time (after the first compile)

[2019-09-11 09:35] #4762 closed, assigned to nobody

[2019-09-11 12:26] karlnapf commented on #4762
Compiling in debug mode also makes things much faster

[2019-09-13 05:43] vigsterkr opened #4765 "SGIO.custom_stderr_sink test fails randomly"
[code]

[2019-09-13 06:29] vigsterkr opened #4766 "Fix clcache on Windows CI"
seems clcache is having some serious issues as windows CI builds started to be very very long regardless the size of changes in the source code: https://dev.azure.com/shogunml/shogun/_build/results?buildId=2185

[2019-09-16 06:49] vigsterkr commented on #4766
the changes in 14b3397da4473060c278249bb32c9097997516f9 seems to have fixed it, see https://dev.azure.com/shogunml/shogun/_build/results?buildId=2263

keeping it open, just to have it here as a reminder to check some more PRs and non complex changes to develop

[2019-09-17 06:43] VisintZJ commented on #4578
Hey, I met the same error when I run 'make' after 'cmake'. How did you solve it?

[2019-09-17 06:50] VisintZJ opened #4768 "Swig source error when run 'make' command after run 'cmake' command"
I met this error when I run 'make' command after 'cmake', below is the total error message.

[  1%] Built target StanMath
[  2%] Built target bitsery
[  3%] Built target rxcpp
[  4%] Generating version header
[  4%] Built target version
[  4%] Built target class_list
[  5%] Built target spdlog
[  5%] Built target RapidJSON
[ 70%] Built target libshogun
[ 70%] Built target shogun
[ 70%] Built targe

[2019-09-17 06:50] gf712 commented on #4578
Hi, doxygen doesn't seem to support all modern c++ syntax and we don't test it in the CI.. so maybe at some point someone introduced a "bug" after this issue was fixed.
You could disable doxygen. I'll have a look into it.

[2019-09-17 06:57] VisintZJ commented on #4578
Thanks a lot @gf712 ! I will have a try.

[2019-09-17 07:28] VisintZJ commented on #4578
By the way, how can I disable doxygen? @gf712 I uninstall doxygen and 'cmake' command said it need doxygen.

[2019-09-17 08:42] gf712 commented on #4578
If you uninstalled it now you need to remove CMakeCache.txt in the build folder and run cmake again. Then cmake should run fine!

[2019-09-17 09:21] VisintZJ commented on #4578
@gf712 Thanks! This problem was solved. But I met a new error when I run 'make' command, here is the error message about new problem:

[ 91%] Built target cpp-kernel-auc
[ 91%] Linking CXX executable distance/cpp-distance-manhattan
[ 91%] Built target cpp-distance-manhattan
[ 91%] Linking CXX executable kernel/cpp-kernel-anova
[ 91%] Built target cpp-kernel-anova
[ 91%] Linking CXX executable kern

[2019-09-17 09:23] vigsterkr commented on #4578
@VisintZJ unfortunately this is "known" as in that specific meta example cpp no headers are included that contains the `shogun::io` namespace, hence the error. The are several ways to fix this in your case the easiest temporary solution is that simply remove the specific line from `examples/meta/cpp/meta_api/literals.cpp` and do a make again

[2019-09-17 09:30] vigsterkr opened #4770 "Fix meta examples cpp codegen"
The codegen for cpp meta examples is currently a 'bit' broken as literals.cpp has a compilation errors, as namespaces are hard-coded in the generated code, namely:
[code]

but in case of `literals.cpp` since no headers are included that contains the `shogun::io` namespace, compilation fails.

[2019-09-17 09:31] vigsterkr commented on #4578
@VisintZJ for the `literals.cpp` i've created a separate bug #4770

[2019-09-17 10:06] VisintZJ commented on #4578
@vigsterkr Thank you very much! The problem has been solved after I remove that line and I have ‘make’ successfully. Thanks for your patient answers！ @gf712

[2019-09-18 06:21] #4578 closed

[2019-09-18 06:21] #4768 closed, assigned to nobody

[2019-09-18 10:03] gf712 commented on #4770
can we just hard code the relevant header for all examples?

[2019-09-18 13:33] VisintZJ opened #4773 "Can't find 'LibSVM' or 'LibLinear' in shogun packages"
I have 'make install' shogun successfully. I try to run 'from shogun import LibSVM' or 'from shogun import LibLinear' according to official document(https://www.shogun-toolbox.org/examples/latest/examples/binary_classifier/linear_svm.html) but pycharm told me it didn't find functions. I can normaly import CustomKernel and BinaryLabels. So, what do I need to write if I want to use 'LibSVM' and 'Lib

[2019-09-18 14:30] gf712 commented on #4773
Hi, those docs are out of date relative to the develop branch.
Now you should do something like:
[code]

[2019-09-19 01:31] VisintZJ commented on #4773
@gf712 Oh, thanks! By the way, is there a new ducument for develop branch？

[2019-09-19 04:08] #4773 closed, assigned to nobody

[2019-09-19 20:30] tthebst commented on #4639
Hi, I want to try this. Anything special I need to know?

[2019-09-20 04:47] vigsterkr commented on #4770
@gf712 that's one option... including some basic header that defines `shogun::io` should work, like Serializer.h

[2019-09-20 07:27] gf712 commented on #4773
i think you should be able to generate it yourself using `make doc`?

[2019-09-20 11:40] karlnapf commented on #4773
`make cookbook` will do the trick, check `build/doc/cookbook/` afterwards

[2019-09-20 14:00] ktiefe commented on #4710
First draft
https://github.com/shogun-toolbox/shogun/pull/4775

please check if it is a right way to resolve it.

[2019-09-20 14:03] ktiefe commented on #4710
probably i will need to use this:
https://www.etlcpp.com/blog/2017/11/12/templated-implementation-of-the-visitor-pattern/

for next step.

[2019-10-03 16:51] darelover commented on #4639
Hi, I would like to work on this issue but I have few doubts:

1. Where should I put the file in the project?
2. Should i make it a header file or not?
3. Is there any header file that i need to include?

[2019-10-03 19:16] mjarosie opened #4776 "cmake_minimum_required called after project(shogun) in CMakeLists.txt"
[The latest commit at the time of creating this issue](https://github.com/shogun-toolbox/shogun/blob/e509f8c57f47dc74b3f791d450a70b770d11582a/CMakeLists.txt#L28) on 'develop' branch calls `cmake_minimum_required` after `project(shogun)`.

The current order leads to some warnings (for example by rxcpp, see part of build log below) which, by looking at comments in `CMakeLists.txt` saying that "Polic

[2019-10-04 09:46] gf712 commented on #4639
You could probably put it in shogun/distance

Check out other distance implementations, such as EuclideanDistance.[h](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/distance/EuclideanDistance.h)/[cpp](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/distance/EuclideanDistance.cpp)

see above, and also checkout https://github.com/shogun-toolbox/shogun/blob/develop/

[2019-10-04 09:50] gf712 commented on #4776
Hi, thanks for reporting this! Could you start a PR with a fix please?

[2019-10-04 13:06] mjarosie commented on #4776
Hi, sure, I'll submit it later today! : )

[2019-10-04 22:30] devramx commented on #4639
Requesting review :)
[PR#4778](https://github.com/shogun-toolbox/shogun/pull/4778)

[2019-10-05 05:20] Arpit2601 commented on #4601
Is this issue still open ?
I would like to work on it.

[2019-10-07 16:45] aghinsa commented on #1901
Is this issue still open?

[2019-10-14 22:33] sdcpk commented on #4639
Is this issue this available to work on?

[2019-10-17 01:41] lemonpy commented on #866
that link is broken, I think this is the new one http://marcocuturi.net/GA.html

[2019-10-22 04:54] TinaLuan opened #4781 "Cannot import from shogun after PYTHONPATH has been set"
I installed shogun by conda. using `conda install -c conda-forge shogun`
I've done this step `export PYTHONPATH="path/to/shogun.py:$PYTHONPATH"` as well.

When I print out the PYTHONPATH, here is what my terminal shows:
[code]

I can import shogun **but cannot import functions or classes from shogun**

![Screen Shot 2019-10-22 at 15 51 46](https://user-images.githubusercontent.com/21965763/6725986

[2019-10-22 06:03] #4781 closed, assigned to nobody

[2019-10-23 11:27] vigsterkr opened #4783 "why do we create twice the CrossvalidationSplitting objects"
https://github.com/shogun-toolbox/shogun/blob/40f40f08b31b6cc73851201a4e1adf0ae7c39698/src/shogun/statistical_testing/internals/mmd/CrossValidationMMD.h#L198-L206

[2019-10-23 11:37] vigsterkr commented on #4783
ok i've just realised that the second time it is just wrapped by a unique_ptr (i read it for some reason `std::make_unique`), still i'm not so sure why do we seed it twice? :)

[2019-10-23 11:40] vigsterkr commented on #4783
@theartful why do we seed there twice the same object?

[2019-10-23 12:22] ghost commented on #4783
@vigsterkr It's a mistake on my part. Using `std::make_unique` and seeding once is enough.

[2019-10-23 12:23] vigsterkr commented on #4783
@theartful ok thnx for confirming!
@lambday seems we need to update unit tests for xval mmd

[2019-10-25 08:26] vigsterkr opened #4785 "use swig's native doxygen option 4.0 and later"
currently we have our own script to convert c++ doxygen comment to SWIG target language documentation.

Since SWIG 4.0 there's a `-doxygen` option that essentially does the same. for details see: http://www.swig.org/Doc4.0/Doxygen.html#Doxygen

(note this is only supported currently for python and java)

[2019-10-26 15:29] progmatic-99 commented on #4488
I would like to contribute. Is there any work left to be done in this issue?

[2019-10-28 16:11] Gerry051992 opened #4788 "Shogun and Anaconda not working"
Hello,
I am new to this and I sincerely hope this has not been solved already and I just have not been able to find the solution.

I did use the shogun toolbox with anaconda and jupyter notebooks before, but since I reinstalled Anaconda a while ago, I cannot get shogun to work anymore.
The error message seems to be telling me, that shogun does not work with Python 3.7, but I believe that I did use

[2019-11-04 19:10] ed-aka-yaboi opened #4790 "manual build fails on WSL"
I'm running on WSL (ubuntu) and am trying to build manually. Directory structure is like so:
~/shogun
~/shogunBuild
I run ccmake ../shogun from ~shogunBuild and configure. After installing whatever I'm prompted to, I run make in ~/shogunBuild. this leads to the following error:

/home/me/shogunBuild/examples/meta/cpp/meta_api/literals.cpp:5:25: error: ‘io’ is not a namespace-name
 using namespace

[2019-11-04 19:15] vigsterkr commented on #4790
@blakat360 mmm the literals error is known actually... it's a bug that should be easy to fix. but that's only an example so you should already have the library compiled as well as other examples. lemme see if i can fix this quickly

[2019-11-04 19:19] karlnapf commented on #4790
had this error as well recently...after deleting/recreating my build dir (for other reasons), it didnt happen again. Not sure why but might work for you too

[2019-11-04 19:21] karlnapf commented on #4790
You could also disable the meta examples using `-DBUILD_META_EXAMPLES=Off` if you dont need them...they are only built once the lib is already done as @vigsterkr mentioned above

[2019-11-04 19:21] #4790 closed, assigned to nobody

[2019-11-04 19:21] vigsterkr commented on #4790
@blakat360 pull the latest develop that has the fix for this

[2019-11-04 19:38] vigsterkr commented on #4770
fixed in 580a3b3

[2019-11-04 19:38] #4770 closed, assigned to nobody

[2019-11-04 19:38] #4766 closed, assigned to nobody

[2019-11-04 19:40] vigsterkr commented on #4629
on azure we use swig 4.0.1 to generate the interfaces and all tests pass, so i'm closing this as fixed

[2019-11-04 19:40] #4629 closed

[2019-11-05 11:06] ed-aka-yaboi commented on #4790
Can confirm it works

[2019-11-07 01:55] yanmi1995 commented on #4788
I also meet this problem, and I am sure I used it before on anaconda-python3.7

[2019-11-07 11:38] vigsterkr commented on #4788
mmm. this is weird i'll try to check on it, but usually in past i had some problems with protobuf. i needed to force that the protobuf package is installed from conda-forge, instead of conda

[2019-11-07 16:22] ghost commented on #4765
I believe this is due to out of order execution:
[code]
I assumed that if `counter++` is called, then the string stream is flushed `ostream_.flush();`, but in reality it depends on the compiler (and cpu) reshuffling commands, and kernel thread scheduling (since it's an async logger).
I will fix it tomorrow.

[2019-11-08 06:50] #4765 closed, assigned to nobody

[2019-11-11 17:18] lejeunel opened #4794 "compile error OpenMP"
Compile error here.
Using g++ 9.1.0 on Arch Linux

Commit 84175ba7c8c73dd4028f217daf7a5f4c25c2adaf

[code]

[2019-11-13 09:04] lejeunel opened #4795 "DenseSubSamplesFeatures to DenseFeatures conversion"
While training a random forest, I generate a DenseSubSamplesFeatures<double> from a DenseFeatures<double>.
Compilation works.
At runtime, I get:
[code]

I'm working on commit 84175ba7c8c73dd4028f217daf7a5f4c25c2adaf.
I compile with g++ 9.1.0 on Arch Linux.

Here's the code that generates the DenseSubSamplesFeatures
https://github.com/lejeunel/glia/blob/itk-5.0.1/src/shogun_helpers.hxx#L83

[2019-11-14 07:53] vigsterkr commented on #4795
this issue here is this:
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/multiclass/tree/CARTree.cpp#L112

most of that code could be ported to use DotIterator so basically then having any DotFeatures (like DenseSubSamplesFeatures) could be passed... the only problem is this
https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/RandomForest.cpp#L180

as it actua

[2019-11-14 20:15] karlnapf commented on #4795
A simple workaround would be to manually do the subset into a matrix and then pass that to dense features.....Good issue for ongoing GSoC students to add this.

[2019-11-16 13:28] Gerry051992 commented on #4788
Thank you for looking into it!
Any news?

[2019-11-20 10:18] digantamisra98 opened #4797 "Feature Request: Add Mish Activation"
Mish is a new novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

- [TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)
- [SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)
- [Thinc - SpaCy's official NLP based ML libr

[2019-11-20 10:19] vigsterkr commented on #4788
@Gerry051992 hello haven't got around to test it yet... i'll do it in the next 48h! sorry about this

[2019-11-20 10:21] vigsterkr commented on #4797
@digantamisra98 thnx for letting us know! we are eagerly waiting for a PR to have this in!

[2019-11-20 10:33] digantamisra98 commented on #4797
@vigsterkr sure. Thanks. I or my colleague will try to put up a PR in the next few days. Thanks for the consideration.

[2019-11-21 13:40] ArtemSkrebkov commented on #4580
Just to confirm: is this still relevant?
I would be glad to help and assign the issue to myself.

[2019-11-21 14:56] vigsterkr commented on #4580
yep still relevant. eagerly waiting for PR to fix this!

[2019-11-21 17:24] ArtemSkrebkov commented on #4580
Amazing :) Looks like I don't have rights to assign the issue so I am just leaving a comment that I am going to work on it.

[2019-11-22 02:12] vigsterkr commented on #4580
Just go ahead and send in a draft pr and in the commit refer to this issue number.

[2019-11-24 12:39] meierfra commented on #4794
same problem here with gcc-9.2.0 on gentoo linux while trying to compile tag shogun_6.1.4

[2019-11-24 12:45] meierfra commented on #4098
any reason the fix #4104 was never merged to master (after 2 years)? I just tried to compile shogun 6.1.4 and stumbled into this issue

[2019-11-27 09:13] HarlanZhou opened #4798 "installation question"
win 10 , i add classpath and can't run run_test.py

[2019-11-28 11:29] hasnain2808 opened #4799 "folding expression issue while installing"
I am getting this error while running cmake ../ from the build directory

`-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile feat

[2019-11-28 13:43] vigsterkr commented on #4799
@hasnain2808 you would need newer version of gcc compiler that actually supports folding expression. if you just wanna use shogun you could try to use the conda precompiled package

[2019-11-28 13:43] #4799 closed, assigned to nobody

[2019-11-28 13:44] hasnain2808 commented on #4799
Okay will try installing it

[2019-11-28 13:46] vigsterkr commented on #4799
https://anaconda.org/conda-forge/shogun

[2019-11-28 13:47] hasnain2808 commented on #4799
I want to build it from source

[2019-11-28 13:48] vigsterkr commented on #4799
gcc7 should work or a newer clang..

[2019-11-28 13:49] hasnain2808 commented on #4799
Yeah installing clang now

[2019-11-28 14:15] hasnain2808 commented on #4799
Installed clang still it gives me the same error
C++ 17 tests are working

[2019-11-28 14:30] gf712 commented on #4799
fold expressions are supported from gcc 6 and clang 3.6, so you need to check that you are compiling with one of those two. Check https://en.cppreference.com/w/cpp/compiler_support#cpp17 for C++17 compiler support

[2019-11-28 14:31] hasnain2808 commented on #4799
Just now did some name linking which resolved the issue

[2019-11-28 16:24] hasnain2808 commented on #4799
now getting this error
yes I have installed python3.6-dev

`/home/moha/projects/shogunn/shogun/build/src/interfaces/python/shogunPYTHON_wrap.cxx:180:11: fatal error: Python.h: No such file or directory
 # include <Python.h>
           ^~~~~~~~~~
compilation terminated.
src/interfaces/python/CMakeFiles/_interface_python.dir/build.make:73: recipe for target 'src/interfaces/python/CMakeFiles/_interfa

[2019-11-28 17:01] gf712 commented on #4799
that means your python header file is not in the include paths. checkout https://www.shogun-toolbox.org/install#manual-python to see how to add the paths required for custom python installation

[2019-11-28 17:03] gf712 commented on #4799
btw, if you don't have ccache rerunning cmake will probably require you to wait for another hour I think

[2019-11-28 17:04] hasnain2808 commented on #4799
I did include those dpython paths
And yeah cache is running so I won't have to wait for another hour

[2019-11-28 17:06] hasnain2808 commented on #4799
Used miniconda and venv both fail with the same error

[2019-11-29 02:24] hasnain2808 opened #4800 "undefined symbol: _ZNK6shogun8SGObject12shallow_copyEv"
I successfully built shogun for ubuntu 16.04 with python3. 6 and installed it systemwide for python3.6 but i get this error while trying to import shogun

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/shogun.py", line 17, in <module>
    from _shogun import *
ImportError: /usr/local/lib/python3.6/dist-packages/_shogun.so: u

[2019-11-29 06:15] hasnain2808 commented on #4799
I successfully built shogun for ubuntu 16.04 with python3. 6 and installed it systemwide for python3.6 but I get this error while trying to import shogun

Traceback (most recent call last): File "<stdin>", line 1, in <module> File "/usr/local/lib/python3.6/dist-packages/shogun.py", line 17, in <module> from _shogun import * ImportError: /usr/local/lib/python3.6/dist-packages/_shogun.so: undefined

[2019-11-29 06:15] hasnain2808 commented on #4799
#4800

[2019-11-29 15:33] gf712 commented on #4800
that seems like you have an older version of libshogun in your library path.. You should make sure that you `make install` and that the path of libshogun is in PATH or LD_LIBRARY_PATH. Did you install shogun with anaconda before? you are probably loading that dynamic library instead of the one you compiled..

[2019-11-29 15:35] hasnain2808 commented on #4800
Dumb question but can you give me an example of adding shogun to ld library path i tried but it is not working out

[2019-11-29 15:36] hasnain2808 commented on #4800
I have shogun build at
/home/sdl/projects/shogunn/shogun/build

[2019-11-29 16:04] gf712 commented on #4800
you should run make install, so that it is available from something like /usr/local/lib, or even ~/anaconda3 if you have it. If you keep it in the build folder just do `export LD_LIBRARY_PATH= /home/sdl/projects/shogunn/shogun/build/src/shogun` and that should work

[2019-11-29 16:05] gf712 commented on #4800
or append it with `export LD_LIBRARY_PATH= /home/sdl/projects/shogunn/shogun/build/src/shogun:$LD_LIBRARY_PATH` if you already have that env variable defined

[2019-11-29 16:05] hasnain2808 commented on #4800
I did make install

[2019-11-29 16:06] gf712 commented on #4800
ah ok, where did it install it to?

[2019-11-29 16:06] hasnain2808 commented on #4800
That i don't know
I had given it python directories while doing make

[2019-11-29 16:07] hasnain2808 commented on #4800
So it should get installed there directly?

[2019-11-29 16:07] gf712 commented on #4800
did you pass `-DCMAKE_INSTALL_PREFIX` to cmake?

[2019-11-29 16:10] hasnain2808 commented on #4800
Actually i am not sure about it because i used the commands from interfaces.md
I guess i will re make and rebuild?

[2019-11-29 16:14] hasnain2808 commented on #4800
Should i remake?
Btw shogun.py was there somewhere in ubuntu lib

[2019-11-29 16:24] hasnain2808 commented on #4800
Ohh thanks a lot
Import export ld library path worked

[2019-11-29 16:24] hasnain2808 commented on #4800
I am able to import shogun

[2019-12-02 12:22] gf712 commented on #4800
Good!

[2019-12-02 12:22] #4800 closed, assigned to nobody

[2019-12-02 12:22] gf712 commented on #4798
You need to add more details than that for us to help!

[2019-12-03 11:04] ivan-v-kush opened #4803 "[bug, SEGSEGV] func deserialize: return internal ptr of deleted smart_ptr"
**Solution:**
maybe `shogun::io::deserialize` will return smart ptr? If OK, I'll make a PR

**Problem:**

files:
`/src/shogun/io/serialization/Deserializer.cpp`
 `/src/shogun/base/some.h`
`/src/shogun/base/SGObject.cpp`

method returns a pointer:
[code]

but `read_object` returns smart pointer  `Some`:
[code]

when `deserialize` is finished this smart ptr is deleted, so also deleted ptr, returned

[2019-12-03 11:07] ivan-v-kush commented on #4803
maybe `deserialize` will return smart ptr? If OK, I'll make a PR

[2019-12-03 14:01] HarlanZhou commented on #4798
i try to use anaconda to install shogun,but i doesn't work.Then i set the system classpath for shogun, and also doesn't work.Finally , i move shogun fold to python3.6/Libs/site-package, and it still doesn't work, what should i do .Thanks for u help

[2019-12-03 14:17] vigsterkr commented on #4803
Update the develop branch to the latest commit. It uses shared_ptr smart pointer

[2019-12-03 14:46] #4803 closed, assigned to nobody

[2019-12-09 21:11] Caynosadler commented on #4639
@karlnapf is this issue still open, i'll like to work on it

[2019-12-11 20:26] Gerry051992 commented on #4788
@vigsterkr Would just like to let you know that the issue doesn't seem to be solved. Thank you for your help!

[2019-12-20 14:59] SaurusXI opened #4805 "Installation issue - make throws error while building tapkee_shogun.cpp.o"
Building shogun from source (development branch).
First the following command is passed to cmake:

`cmake -DINTERFACE_PYTHON=ON -DBUILD_META_EXAMPLES=ON -DCMAKE_INSTALL_PREFIX=/home/zeus/shogun_stuff ..`

Then, on running `make`

`[ 37%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/lib/tapkee/tapkee_shogun.cpp.o
In file included from /home/zeus/shogun/src/shogun/lib/tapkee/methods.hpp:1

[2019-12-20 15:03] vigsterkr commented on #4805
@SaurusXI could you plz share more details of your runtime env? like version and type of your compiler, OS etc.

[2019-12-20 15:12] SaurusXI commented on #4805
build uses gcc/g++ right?
Running GCC v9.2.0 on Arch Linux
Please let me know if any other specific info is needed

[2019-12-20 15:15] vigsterkr commented on #4805
@SaurusXI well you can use gcc, clang and VC++ (these are tested) for building. i'll quickly try to reproduce this in a docker image of arch linux. would this docker image of archlinux be a good resembles of your env: https://hub.docker.com/_/archlinux

[2019-12-20 15:17] SaurusXI commented on #4805
Not too sure, since most packages in the base group have been removed in this image. Then again, not sure that that is relevant to the problem at hand, so give it a shot maybe?

[2019-12-20 15:20] SaurusXI commented on #4805
Also, I'd like to point out that most errors are associated with types and variable parameters. For instance, the first error happens at the constructor call `DenseMatrix gram_matrix = DenseMatrix::Zero(k,k);` and mentions some problem with 'k'. Other errors are similar.

[2019-12-24 10:58] souvik3333 commented on #4795
Hi, Can I work on this?

[2019-12-24 12:53] vigsterkr commented on #4795
@souvik3333 of course, just send in a PR and we'll take it from there

[2019-12-29 01:15] Data-drone opened #4807 "shogun website expired cert"
Your website has a cert that has been expired for a cpl weeks?

[2019-12-29 09:29] vigsterkr commented on #4807
thnx fixed

[2019-12-29 09:29] #4807 closed, assigned to nobody

[2019-12-29 09:35] #4580 closed

[2019-12-29 14:33] ArtemSkrebkov opened #4808 "Links on the main page are unavailable"
If I go to https://www.shogun-toolbox.org/showroom I get "Internal Server Error".
If I go to https://cloud.shogun.ml/ I get "This site can’t be reached"

Sounds like something exciting should be there. Would be nice to make those links accessible again.

[2019-12-29 14:35] vigsterkr commented on #4808
cloud is killed i'll look into the showroom thnx for reportint

[2019-12-29 14:53] ArtemSkrebkov commented on #4808
If cloud is killed I would suggest to remove the link not to confuse anyone. Please see the picture below
![Screenshot_2019-12-29_17-50-12](https://user-images.githubusercontent.com/4955453/71558405-02c85100-2a64-11ea-99b0-24934d773cd5.png)
Thanks for such a quick response!

[2019-12-29 15:44] ArtemSkrebkov commented on #4247
I think I can help to finalize it. Is it still relevant?

[2020-01-05 08:18] #4794 closed, assigned to nobody

[2020-01-08 12:28] lyhyl commented on #4219
Hi @fyoda, do you solve your problem? I met a similar problem today. [vcpkg#9588](https://github.com/microsoft/vcpkg/issues/9588)
btw, @vigsterkr, Is it normal for `libshogun.lib` to be so huge?

[2020-01-08 13:10] vigsterkr commented on #4219
@lyhyl as you can see there's a pr to try to fix this: https://github.com/vigsterkr/shogun/commit/0f959a60b54227d0d2efca17eec7fc352604a6ba

it certainly solves all the unresolved external symbols but i had a problem of actually running the tests... if you happen to have windows on your desk and happy to help maybe we can finally find a final solution for this

[2020-01-08 13:31] lyhyl commented on #4219
I'm glad you're still working on it @vigsterkr. I'll try to solve it based on your pr. I'm just curious why the project will generate such a huge static link library. Really unfriendly to linker😂.

[2020-01-08 13:41] lyhyl commented on #4219
I noted that you added [CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS](https://github.com/vigsterkr/shogun/commit/0f959a60b54227d0d2efca17eec7fc352604a6ba#diff-af3b638bc2a3e6c650974192a53c7291R51).
but according to [vcpkg maintainer-guide](https://vcpkg.readthedocs.io/en/latest/maintainers/maintainer-guide/):
[code]
would that be a good idea?

[2020-01-08 14:19] vigsterkr commented on #4219
@lyhyl as you can see there was an error how the dll was generated.. unfortunately until #4792 is not merged the static library of shogun is huge... :(

[2020-01-08 14:20] vigsterkr commented on #4219
i mean i had a branch where i've manually set all the SHOGUN_EXPORT things... but i've dropped that in favour of `CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS`

[2020-01-09 12:57] Gerry051992 commented on #4788
@vigsterkr are you still panning to look into it? The problem still doesn't seem solved...

[2020-01-16 16:30] anis-agwan commented on #4482
is this issue fixed or needs to be done?

[2020-01-16 16:49] anis-agwan commented on #4639
Is this issue fixed or still open?

[2020-01-17 04:55] ashutosh-b-b commented on #4488
Hi. If this is still open can I take up this one?

[2020-01-17 06:01] ashutosh-b-b commented on #4311
Is this still open? Can I take up this?

[2020-01-17 06:06] ashutosh-b-b commented on #4797
Hi. Is this still open?

[2020-01-17 06:09] digantamisra98 commented on #4797
@ashutosh-b-b yes, the PR is up - https://github.com/shogun-toolbox/shogun/pull/4812

[2020-01-17 16:41] sbrice commented on #4488
Sure, go for it. Thanks!

[2020-01-21 11:19] vigsterkr commented on #4311
@ashutosh-b-b sure go ahead!

[2020-01-22 20:23] ashutosh-b-b commented on #4488
@samdbrice I did started to read the blog and understand it. Which algorithm should I go with knowing that I am a beginner here?

[2020-01-23 06:28] ashutosh-b-b commented on #4488
I was thinking to start with Brute KNN can anyone guide me?

[2020-01-23 09:52] vigsterkr commented on #4488
@ashutosh-b-b you could start with that or with https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/metric/LMNN.cpp basically the idea is that you follow the CRTP pattern with IterativeMachine and move an iteration to logic into `iteration` function

[2020-01-24 03:48] ashutosh-b-b commented on #4488
Thanks!

[2020-01-30 14:52] Shekharrajak opened #4814 "[Discussion] Let's colaborate with SciRuby for Ruby wrapper"
Hi,

Thanks for the amazing library for machine learning. I think it is one of best machine learning tool which provide Ruby wrapper.

Since GSoC Org application has been opened and deadline is close. I hope Shogun will be participating in GSoC 2020 and have project idea list ready.

Please let me know the Ruby wrapper ideas and enhancement plan. Also let me know if Shogun community can collaborat

[2020-01-30 16:08] vigsterkr commented on #4814
@Shekharrajak we are planning to apply for GSoC 2020!

indeed we wanted for a time to switch from nmatrix (or whatever the library we use at the moment) for ruby type maps to something more modern, as that project seems to be abandoned, or not that well maintained anymore. if you are interested working on this project, plz outline your idea and you can already start sending in some preliminary PRs

[2020-01-30 16:13] vigsterkr commented on #4814
i guess a gem would be nice to have of the shogun ruby interface for starters :)

[2020-01-30 16:16] Shekharrajak commented on #4814
Thanks @vigsterkr for the response. Can you please share some links or discussion about Ruby wrapper, so that I can understand the current status of the project and any plans you have in mind. it will be helpful.

[2020-01-30 16:21] vigsterkr commented on #4814
@Shekharrajak basically you can just build manually the ruby wrapper like this:
[code]

this should actually build all the example for ruby. although now that i'm talking about this there's a bug currently against ruby interface:
https://github.com/shogun-toolbox/shogun/issues/4177

needs to be checked whether there's an easy workaround for this.

[2020-01-30 16:23] vigsterkr commented on #4814
in order to reproduce the error you should enable this: https://github.com/shogun-toolbox/shogun/blob/develop/tests/meta/CMakeLists.txt#L60

[2020-01-30 16:36] vigsterkr commented on #4814
and comment out this one https://github.com/shogun-toolbox/shogun/blob/develop/examples/meta/CMakeLists.txt#L136

you'll see currently these tests are failing:
[code]

[2020-01-30 16:42] iglesias commented on #4814
We use swig to generate interfaces between the C++ core of Shogun and Ruby (along with other languages).

[2020-01-30 17:35] Shekharrajak commented on #4814
Okay! So currently Ruby wrapper is not functional. I will check!

[2020-01-30 17:38] vigsterkr commented on #4814
well to be honest it mostly is, there are couple of function calls that will fail, but most of the library is usable from ruby

[2020-01-30 17:47] Shekharrajak commented on #4814
Okay! So can anyone please make a TODO list to make it usable again?

[2020-01-30 17:59] vigsterkr commented on #4814
i've just written you above what needs to be done

[2020-01-30 18:02] vigsterkr commented on #4814
here you go a project https://github.com/shogun-toolbox/shogun/projects/13

[2020-01-31 16:22] Shekharrajak commented on #4814
Thanks @vigsterkr !  Should we add idea in SciRuby Idea page also and let's see if we find good student who can work on this?
The idea is to make it usable and functional(compatible) with SciRuby gems as well.

What do you think?

[2020-01-31 16:29] vigsterkr commented on #4814
@Shekharrajak sure thing... i mean imo since SciRuby is using nmatrix as far as i can understand, shogun should be usable without any trouble.

[2020-01-31 16:30] vigsterkr commented on #4814
fyi: i'll add somewhere a gist with a simple ruby based jupyter notebook just to test it out.

[2020-01-31 22:27] vigsterkr commented on #4814
@Shekharrajak i've managed to export a `daru` df to nmatrix with `to_nmatrix` method (once, nmatrix is installed)... is there a plan to support https://github.com/ruby-numo/numo-narray as well?

[2020-02-01 05:15] Shekharrajak commented on #4814
Thanks, @vigsterkr ! SciRuby team is working on [NumRuby](https://github.com/SciRuby/sciruby/wiki/Google-Summer-of-Code-2020-Ideas#numruby-projects) project: https://github.com/SciRuby/numruby . If you find numo-narray useful then it should be compatible as well.

[2020-02-01 05:34] Shekharrajak commented on #4814
@vigsterkr, You can have your gist or wiki page where this idea will be added for the GSoC 2020, I have added the idea at SciRuby idea page for this GSoC: https://github.com/SciRuby/sciruby/wiki/Google-Summer-of-Code-2020-Ideas#shogun, feel free to edit/update it and add yourself as mentor.

Thanks!

[2020-02-01 09:09] vigsterkr commented on #4814
@Shekharrajak here's a working example shogunML with SciRuby stack: https://gist.github.com/vigsterkr/48a5f0523528bbab85bec04464ca2b6c

[2020-02-01 09:20] vigsterkr commented on #4321
this is not needed anymore since shared_ptr...

[2020-02-01 09:20] #4321 closed

[2020-02-01 10:38] vigsterkr commented on #4177
i've just created a possible fix for this bug in swig, see swig/swig#1717

[2020-02-06 10:32] iglesias commented on #4248
Done #4735.

[2020-02-06 10:32] #4248 closed

[2020-02-08 23:00] #2965 closed

[2020-02-10 15:43] mhangaard opened #4817 "include and import snippets in examples"
In https://www.shogun-toolbox.org/examples/latest/index.html all tutorials begin with setting up some features and labels types, but all includes and imports are skipped. It would be convenient for the reader if include and import snippets were added at the beginning of each tutorial.

[2020-02-10 21:41] karlnapf commented on #4817
Yes, this is "planned" for some time, but we never got around to doing it. Thought we had an issue for it already but couldnt find it....
Anyways, the ideal would be to have a button "show full lusting" that takes the reader to exactly that. It should not be too tricky to modify our sphinx plugin to generate that. Nice entrance task.

[2020-02-13 15:14] thealphacod3r commented on #4817
@karlnapf would love to work on this!
can you guide me a little bit through this??

[2020-02-21 05:49] skn123 opened #4833 "Compilation errors - Fresh checkout from repo"
In file included from /home/naths/srcs/shogun/src/shogun/base/Version.cpp:12:
/home/naths/srcs/shogun/src/shogun/io/SGIO.h:286:14: error: no type named 'string_view' in namespace 'fmt'; did you mean 'std::string_view'?
                            const fmt::string_view& msg) const;
                                  ^~~~~~~~~~~~~~~~
                                  std::string_view
/usr/bin/../lib

[2020-02-21 07:44] gf712 commented on #4833
Are you building in a separate directory, e.g build/?

[2020-02-22 03:02] skn123 commented on #4833
Yes....

[2020-02-22 09:14] gf712 commented on #4833
Which branch are you on?

[2020-02-22 16:28] jonpsy opened #4836 "make: *** No rule to make target 'cookbook'. Stop."
I was able to use make doc but make cookbook isn't working.

make: *** No rule to make target 'cookbook'.  Stop.

Hence in my build/doc/, cookbook is missing.

I also have all the things required for cookbook rendering,
i.e.
pandoc==1.0.0b2
sphinx
sphinxcontrib-bibtex
sphinx_bootstrap_theme

As per EXAMPLES.md

[2020-02-22 16:39] vigsterkr commented on #4836
could you please include your cmake output? just fyi if you wanna work with shogun out of box you could try the docker sdk: https://hub.docker.com/r/shogun/shogun-dev

[2020-02-22 17:30] jonpsy commented on #4836
Thanks, cmake output works just fine.
[code]

When I do make doc , at path-to-shogun/ , I get
```make: Nothing to be done for 'doc'.```
However, if I do make cookbook
``` make: *** No rule to make target 'cookbook'.  Stop. ```

[2020-02-22 17:42] vigsterkr commented on #4836
sorry but without having the full cmake output i cannot tell you what were the thing cmake missed to detect, hence you are not having the make target...

[2020-02-22 18:03] jonpsy commented on #4836
Ok, is there any log or something which I could paste here? I ran
Build : all , the output is very big. Should I post?

[2020-02-22 18:05] vigsterkr commented on #4836
i'm not interested in the build output but the first time you ran cmake... i guess there are somewhere logs (see cmake help) but worst case you can make another directory for build (say build2) and run again only the cmake command that you've ran before and copy that on pastebin.com and put the link here

[2020-02-22 18:24] jonpsy commented on #4836
Hey there,
I got an a log like file in CMakeFiles/CMakeOutput.log I'll post here

[code]

If this doesn't suffice I'll just make a new build folder :)

[2020-02-23 06:43] skn123 commented on #4833
The master branch from git. Is there any specific branch I should be working on?

[2020-02-23 09:45] gf712 commented on #4833
depends what you want to do. To just use shogun use the master branch, if you want to develop go to the develop branch. Also see [this](https://github.com/shogun-toolbox/docs/blob/master/DEVELOPING.md) to make sure you setup everything correctly..

[2020-02-23 15:38] skn123 commented on #4833
Allright, I tried with the "latest git repo"

``commit 88ce47a7043710b0dd93c2350e8d76e9a53c1e53 (HEAD -> develop, origin/develop, origin/HEAD)
Author: zwasd <f.yue.lim@gmail.com>
Date:   Wed Feb 19 05:26:51 2020 +0800

    Update Classification notebook with new API (#4825)

    * Update Classification notebook with new API
``
and the errors persist.

Build environment:
Ubuntu 18.0.4 LTS - 64Bit
C

[2020-02-24 11:27] Hephaestus12 commented on #3000
I would like to give this a shot. Any suggestions on which example I should choose first?

[2020-02-25 16:19] naruarjun commented on #4795
Does this issue still need to be worked on? Or has it been resolved?

[2020-02-25 18:17] naruarjun opened #4840 "Fundamental ML algorithms: Linear Latent Gaussian Models"
This is a project idea every year but I haven't seen this being selected once, I know this wasn't a high priority before. I am excited by this idea and was targeting this as my GSOC project. But I wanted to know what is the priority status of this project and what is the proficiency level that you are looking for in the applicant. I have some statistics knowledge, but I am not familiar with half t

[2020-02-25 21:43] jonpsy commented on #4840
Hey naruarjun,
I think by this issue you are trying to give a brief introduction about yourself and your interest in a specific GSOC idea.
The correct way is to go to [here](https://groups.google.com/a/numfocus.org/forum/#!forum/gsoc) and subscribe to the mailing list and send a mail to introduce yourself as Shogun comes under NumFocus.

Then you could chat with the [shogun community](https://riot

[2020-02-25 22:54] krutikabapat opened #4842 "Missing Hyperlink in Multi-class Support Vector Machine Page"
Missing hyperlink for **kernel_svm** at https://www.shogun-toolbox.org/examples/latest/examples/multiclass_classifier/svm.html. It should redirect to
https://www.shogun-toolbox.org/examples/latest/examples/binary_classifier/kernel_svm.html

[2020-02-26 02:50] tanaymeh commented on #4842
I would like to fix this up!

[2020-02-26 03:02] naruarjun commented on #4840
Alright, thanks for the help.

[2020-02-26 03:02] #4840 closed, assigned to nobody

[2020-02-26 03:12] naruarjun commented on #4842
Looking at the code in the repo, I think it should be linked to the Kernel Support Vector Machine page in the binary classifier docs. It is already linked to that in the repo, the change is not reflected in the website.

[2020-02-26 05:51] krutikabapat opened #4843 "Typo In Bray Curtis Distance"
When I open https://www.shogun-toolbox.org/examples/latest/examples/distance/braycurtis.html
there is a typo in the hyperlink of **BrayCurtis Distance**
 < http://people.revoledu.com/kardi/tutorial/Similarity/BrayCurtisDistance.html >
It should be replaced with [BrayCurtis Distance](http://people.revoledu.com/kardi/tutorial/Similarity/BrayCurtisDistance.html). Hyperlink should be added in the name

[2020-02-26 06:15] krutikabapat commented on #4639
Is this issue still open?

[2020-02-26 06:51] krutikabapat commented on #4817
@karlnapf Can you please elaborate what exactly is expected by show full lusting so that I can work on it.

[2020-02-26 06:52] vigsterkr commented on #4843
it's ok just to send in a PR for this not necessary to create an issue. and yes the hyperlink should be fixed in the references section

[2020-02-26 06:53] vigsterkr commented on #4817
@krutikabapat the full source of the generated metaexample of a given language

[2020-02-26 07:08] krutikabapat commented on #4843
Okay, I will do that! Thanks!

[2020-02-26 07:17] vigsterkr opened #4844 "Automatic copy of the selected code snippet to clipboard"
there are several code snippets at https://www.shogun.ml/examples/latest/index.html and it would be great that if a codesnippet is selected it would be automagically copied to the user's clipboard.

this is basically a jquery hack

[2020-02-26 09:29] naruarjun commented on #4836
Hey,
I am getting the same error, has anyone solved it?

[2020-02-26 09:37] gf712 commented on #4836
I am not sure why you have this issue, it should work fine. Also check that you have the python requirements with the python version you are using to build shogun. If this is not the case specify the python executable with ` -DPYTHON_EXECUTABLE:FILEPATH=...` when running cmake.

[2020-02-26 09:45] vigsterkr commented on #4836
plz check your cmake output and make sure that SPHINX_EXECUTABLE is found. if not then you could add to your cmake line `-DSPHINX_EXECUTABLE=<absolute path of sphinx-build>`

[2020-02-26 09:45] #4843 closed, assigned to nobody

[2020-02-26 09:51] vigsterkr commented on #4836
in other words you should have something like this in your cmake output:
[code]

[code]

you can check for this value in `CMakeCache.txt` where `SPHINX_EXECUTABLE` should have a valid path

[2020-02-26 09:55] vigsterkr opened #4845 "add a section to EXAMPLE.md to solve sphinx-build detection"
many people had problems having the cookbook target available that is due to not detecting the sphinx-build path in cmake.

we should have in https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/EXAMPLES.md#rendering-locally a small part describing how to tell cmake where sphinx-build is actually residing, i.e. `-DSPHINX_EXECUTABLE=<absolute path to sphinx-build>`

[2020-02-26 09:55] vigsterkr commented on #4836
closing this as this is really about having some issues with local env, but none the less some small description about how to circumvent this should be added to the docs, see #4845

[2020-02-26 09:55] #4836 closed, assigned to nobody

[2020-02-26 10:03] krutikabapat commented on #4842
@naruarjun What is the location of binary classifier docs?

[2020-02-26 10:18] naruarjun commented on #4842
shogun/doc/cookbook/source/binary/kernel_support_vector_machine.rst

[2020-02-26 11:06] krutikabapat commented on #4844
@vigsterkr Would it be fine If we add a copy button near every code snippet and If the user clicks on it, the code snippet is copied?

[2020-02-26 11:07] vigsterkr commented on #4844
@krutikabapat i mean that's necessary for sure, but there are way to solve this with JS that the selection gets copied on your clipboard....

[2020-02-26 11:13] krutikabapat commented on #4844
Okay, got it :)

[2020-02-26 11:17] krutikabapat commented on #4842
@naruarjun Thankyou!

[2020-02-26 12:35] gf712 opened #4847 "Change KMeans "mus" parameter to something more user friendly"
Right now "cluster centres" in KMeansBase is a parameter called "mus". This is probably not a good name, at least for user facing code. This should be changed in KMeansBase.cpp. Should be straightforward, but will probably require some test/example code refactoring.

[2020-02-26 13:16] gf712 opened #4848 "MacOS MKL undefined behaviour"
Right now there is undefined behaviour when running the tests. It's probably a coincidence that this only happens in MacOS test. What is probably happening is that a class member somewhere in `CrossValidationFoldStorage`, or it's base classes, is not being initialised and the comparison between two instances fails. To find the bug either look manually for what's wrong or use a sanitizer, or even a

[2020-02-26 13:31] zwasd commented on #4847
Is `initial_centers` a good name?

[2020-02-26 13:39] gf712 commented on #4847
Well it's not initial_centers though, it's the cluster centres right? If you look at KMeansBase::get_cluster_centers() that returns mus. I think you'll need to register `mus_initial` and name that `initial_centers` and then remove `mus`. `mus` is already registered using `watch_method("cluster_centers", &KMeansBase::get_cluster_centers);`

[2020-02-26 13:41] gf712 commented on #4847
and then you'll need to add a callback function that checks the shape of the provided cluster centres (like in set_initial_centers), but that we can have a look at once a PR is started.

[2020-02-26 15:14] gf712 commented on #4609
is this fixed?

[2020-02-26 15:15] gf712 commented on #4542
@luoagnes  do you still have this issue?

[2020-02-26 15:17] gf712 commented on #4383
I think this issue has been addressed

[2020-02-26 15:17] #4383 closed

[2020-02-26 15:18] gf712 commented on #4354
I think all machines have been hidden from SWIG now

[2020-02-26 15:18] #4354 closed

[2020-02-26 16:23] gf712 commented on #4638
This has already been implemented

[2020-02-26 16:23] #4638 closed

[2020-02-26 16:27] gf712 commented on #4599
Not sure if this has been fixed, but if not it's an easy first issue

[2020-02-26 16:33] gf712 commented on #4502
@karlnapf I think this is working fine now, no?

[2020-02-26 16:41] gf712 commented on #4398
@vigsterkr is this still relevant? I think we can go around this. Just need to finish the C++ openml integration i started

[2020-02-26 16:42] gf712 commented on #4368
This should be done with the new linalg API

[2020-02-26 16:46] gf712 commented on #4334
@karlnapf do you know how much of this is still relevant?

[2020-02-26 16:54] vigsterkr commented on #4089
this done

[2020-02-26 16:54] #4089 closed

[2020-02-26 17:01] gf712 commented on #4300
no longer relevant as we won't be using stan math anymore

[2020-02-26 17:01] #4300 closed

[2020-02-26 17:03] #4265 closed

[2020-02-26 17:04] gf712 commented on #4231
@vigsterkr still relevant? Should be addressed in the windows fixes?

[2020-02-26 17:06] gf712 commented on #4242
@karlnapf @vigsterkr  is this still an issue with the new serialisation framework?

[2020-02-26 17:08] gf712 commented on #3490
@karlnapf @vigsterkr not sure this is worth working on? I mean D seems to be a great language but it isn't used much?

[2020-02-26 17:10] gf712 commented on #2590
@vigsterkr will we replace these calls with the graph stuff? might be overkill? Then again the overhead might not be massive, mostly if there is JIT happening in the background...

[2020-02-26 17:11] gf712 commented on #3494
closing because serialisation has already been merged

[2020-02-26 17:11] #3494 closed

[2020-02-26 17:11] vigsterkr commented on #4231
this should be autoclosed once #4719 is merged. i've marked there this issue

[2020-02-26 17:11] vigsterkr commented on #4242
it's done

[2020-02-26 17:11] #4242 closed

[2020-02-26 17:12] gf712 commented on #4170
this could be a cool GSoC project

[2020-02-26 17:12] gf712 commented on #4102
R interface is not working currently but due to other problems

[2020-02-26 17:12] #4102 closed

[2020-02-26 17:13] gf712 commented on #4197
seems like we will never know what happened here!

[2020-02-26 17:13] #4197 closed

[2020-02-26 17:14] gf712 commented on #4182
I'm guessing this can be closed

[2020-02-26 17:14] #4182 closed

[2020-02-26 17:15] gf712 commented on #4120
user hasn't replied in two years, closing for now

[2020-02-26 17:15] #4120 closed

[2020-02-26 17:16] gf712 commented on #4199
can't compile shogun with gcc4.8 anyway because we require c++17

[2020-02-26 17:16] #4199 closed

[2020-02-26 17:17] gf712 commented on #4306
gcc 4.8 doesn't support C++17

[2020-02-26 17:17] #4306 closed

[2020-02-26 17:43] ghost commented on #4752
I have a simple solution in mind. I will attend to this issue this weekend.

[2020-02-26 17:45] gf712 commented on #4752
No rush! I just added this bot to clean up the repo

[2020-02-26 17:49] vigsterkr commented on #4084
use the SGObject::serialize, deserialize interface. they are exposed via the SWIG interface as well

[2020-02-26 17:49] #4084 closed

[2020-02-26 17:50] #3991 closed

[2020-02-26 17:51] vigsterkr commented on #3985
this is fixed

[2020-02-26 17:51] #3985 closed

[2020-02-26 18:11] vigsterkr commented on #779
hahahah DONE!

[2020-02-26 18:11] #779 closed

[2020-02-26 18:22] vigsterkr commented on #3769
sort of done... still needs some work

[2020-02-26 18:22] #3769 closed

[2020-02-26 18:27] hrw commented on #2844
@vigsterkr nowadays you can use Travis CI to have tests built on !x86.

[2020-02-26 19:15] #2546 closed

[2020-02-26 19:53] vigsterkr commented on #1573
not relevant anymore

[2020-02-26 19:53] #1573 closed

[2020-02-26 19:57] elfring commented on #969
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoiding undefined behaviour?")?

[2020-02-26 20:13] vigsterkr commented on #1571
irrelevant...

[2020-02-26 20:13] #1571 closed

[2020-02-26 20:14] vigsterkr commented on #1572
solved with rapidjson

[2020-02-26 20:14] #1572 closed

[2020-02-26 20:14] vigsterkr commented on #1623
this is basically being handled by the graph computational fw effort

[2020-02-26 20:14] #1623 closed

[2020-02-26 20:15] vigsterkr commented on #1779
closing since we are now about to release 7.0.0

[2020-02-26 20:15] #1779 closed

[2020-02-26 20:16] vigsterkr commented on #1976
we are currently well beyond this point

[2020-02-26 20:16] #1976 closed

[2020-02-26 20:18] elfring commented on #1884
How do you think about to [recheck data processing for CMake lists](https://cmake.org/cmake/help/v3.17/manual/cmake-language.7.html#lists "Description for CMake lists")?

[2020-02-26 20:21] vigsterkr commented on #2562
this is being taken care of the new api

[2020-02-26 20:21] #2562 closed

[2020-02-26 20:22] vigsterkr commented on #2564
obsolete

[2020-02-26 20:22] #2564 closed

[2020-02-26 20:24] vigsterkr commented on #2789
obsolete...

[2020-02-26 20:24] #2789 closed

[2020-02-26 20:25] vigsterkr commented on #3292
obsolete

[2020-02-26 20:25] #3292 closed

[2020-02-26 21:45] javiermaldonadoc opened #4851 "Feat. Importance and Feat. Count"
Hello,

I'm working with tree based algorithm, such Random Forest, CART or C4.5. But i need to analyze which features and how often the algorithm uses to separate the data.

Could you please implement those methods or functions that calculate the feature importance and feature count on those algorithms?

Thanks!

[2020-02-26 22:11] vigsterkr opened #4852 "remove Stan dependence"
and add eigen3 dependency

[2020-02-27 00:55] #2854 closed

[2020-02-27 09:17] #4848 closed, assigned to nobody

[2020-02-27 10:52] #1633 closed

[2020-02-27 10:53] #1351 closed

[2020-02-27 11:39] jonpsy commented on #4852
Can I take up this issue?? :)

[2020-02-27 11:44] vigsterkr commented on #4852
it's done... so closing

[2020-02-27 11:44] #4852 closed, assigned to nobody

[2020-02-27 11:47] jonpsy commented on #4845
May I take up this issue, Im facing this problem too so it would be much helpful from user perspective ☺

[2020-02-27 11:57] vigsterkr commented on #4845
go ahead no need to ask just send in a pr

[2020-02-27 12:53] iglesias commented on #4455
Playground ready #4477

I am going to try to close that PR soon merging it into a feature/concepts branch or so.

[2020-02-27 12:53] #4455 closed

[2020-02-27 13:06] heytanay commented on #4851
I would like to take this up.

[2020-02-27 19:42] skymatte opened #4857 "Some of .md file dosen't have proper hyperlinking"
For example in https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INTERFACES.md, proper hyperlinking to install.md is not there.

[2020-02-27 19:57] vigsterkr commented on #4857
just send in a PR :) thnx!

[2020-02-27 20:11] krutikabapat commented on #4723
@vigsterkr what is the new url for it?

[2020-02-27 20:15] vigsterkr commented on #4723
it's not appveyor anymore. it's azure pipelines... https://dev.azure.com/shogunml/shogun/_build?definitionId=2

but maybe it'd be better actually to write a bit more about windows compilation based on this content: https://github.com/shogun-toolbox/shogun/blob/develop/.ci/windows-steps.yml#L42

[2020-02-27 20:58] skymatte commented on #4857
I sent a PR in #4859 (https://github.com/shogun-toolbox/shogun/pull/4859/commits/b0c9a4889d4bbed9f0daa8bace62d55456827ddb). Please verify it.

[2020-02-27 21:05] skymatte commented on #4857
I sent a PR in #4859 . Please verify it.

[2020-02-28 11:41] gf712 commented on #4833
Do you still have issues? If so can you send the exact commands you ran on your terminal to build shogun?

[2020-02-28 11:44] gf712 commented on #4805
@SaurusXI are you still trying to compile shogun?

[2020-02-28 11:45] gf712 commented on #4798
@HarlanZhou do you still have issues?

[2020-02-28 21:57] #4857 closed, assigned to nobody

[2020-03-01 06:17] vigsterkr opened #4865 "Refactor meta examples relative paths to absolute paths"
Currently the meta examples are failing on windows build do the the fact that the relative path is not correct in all the meta examples, see for example:
https://github.com/shogun-toolbox/shogun/blob/develop/examples/meta/src/binary/averaged_perceptron.sg#L1

on windows this should be:
[code]

there's two way to solve this:
 1) change the meta example generator that basically fixes this relative p

[2020-03-01 06:19] #4845 closed, assigned to nobody

[2020-03-01 08:39] gf712 commented on #4865
Could we not use cmake for this: `@SHOGUN_DATA@/file.dat`?

[2020-03-01 08:56] vigsterkr commented on #4865
and all of the sg files are configured files? doable, this way we dont need to touch any meta stuff.

[2020-03-01 08:57] gf712 commented on #4865
yes, automatically configure_file in cmake for each file

[2020-03-01 08:58] vigsterkr commented on #4865
that's a quite easy patch imo... lets do that.

[2020-03-01 11:25] vigsterkr opened #4867 "CARTree leaks"
simply valgrind one of the metaexamples, i.e.:
[code]

[2020-03-01 21:00] ana-simionescu commented on #4847
How can I test the functionality after making my changes?

[2020-03-01 21:53] gf712 commented on #4847
Hi, you could either write a unittest or a meta example! There is information about both [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/DEVELOPING.md#testing) :)

[2020-03-02 13:18] neeravjain24 commented on #4867
Can you please provide the link to where should we do this I am having trouble getting the location of file

[2020-03-02 13:21] #4865 closed, assigned to karlnapf, sorig

[2020-03-02 13:23] gf712 commented on #4867
@neeravjain24 `./cpp-regression-cartree` is located in the build directory: `build/examples/meta/cpp/regression`. you should be able to find files using `find` on linux :)

[2020-03-02 13:25] neeravjain24 commented on #4867
Thanks for the help @gf712 but I am currently using windows but still thanks for letting me know the file path

[2020-03-02 13:26] gf712 commented on #4867
@neeravjain24 the windows bulld is work in process right now. I would recommend using docker for windows or switch to linux if you can.
If you want to build in windows with visual studio and msvc you'll have to wait until this is merged #4719

[2020-03-02 15:05] gf712 opened #4870 "Compile time error with latest Eigen (3.3.90)"
When compiling with the latest Eigen version (3.3.90, which I think has not made it to release yet) I get a compile time error (see below). I am not sure if this is an error in our end or there is a bug in the eigen master branch. Someone needs to have a look. Should be fairly straight forward.

[code]

[2020-03-02 17:30] vigsterkr opened #4871 "cleanup memory allocator/deallocator inconsistencies"
In many cases in shogun there are still plain SG_MALLOC/CALLOC calls that allocates a memory region then that region is either passed to SGVector or SGMatrix but not only to wrap that region for interface conformity but as well to pass that memory region to be managed by SGMatrix/SGVector... i.e. when you see something like this:
[code]
in this case the SGVector will call a deallocator on the mem

[2020-03-02 19:13] #4842 closed, assigned to nobody

[2020-03-03 13:17] #4723 closed, assigned to nobody

[2020-03-04 16:29] #4344 closed

[2020-03-04 16:29] #4420 closed

[2020-03-04 16:29] #4452 closed

[2020-03-04 16:29] #4471 closed

[2020-03-04 16:29] #4484 closed

[2020-03-04 16:29] #4393 closed

[2020-03-04 16:29] #4589 closed

[2020-03-04 16:29] #4610 closed

[2020-03-04 16:29] #4607 closed

[2020-03-04 16:29] #4644 closed

[2020-03-04 16:30] #4664 closed

[2020-03-04 16:30] #4691 closed

[2020-03-04 16:30] #4499 closed

[2020-03-04 16:30] #4707 closed

[2020-03-04 16:30] #4721 closed, assigned to nobody

[2020-03-04 16:30] #4740 closed, assigned to samdbrice

[2020-03-04 16:30] #4742 closed, assigned to nobody

[2020-03-04 17:29] #4222 closed

[2020-03-04 17:29] #4267 closed

[2020-03-04 17:29] #4204 closed

[2020-03-04 17:29] #4296 closed

[2020-03-04 18:29] #2976 closed

[2020-03-04 18:29] #2986 closed

[2020-03-04 18:29] #3105 closed

[2020-03-04 18:29] #2634 closed

[2020-03-04 18:29] #3156 closed

[2020-03-04 18:29] #3214 closed

[2020-03-04 18:29] #3428 closed

[2020-03-04 18:29] #3430 closed

[2020-03-04 18:29] #3424 closed

[2020-03-04 18:29] #3465 closed

[2020-03-04 18:29] #3531 closed

[2020-03-04 18:29] #2534 closed

[2020-03-04 18:29] #3479 closed

[2020-03-04 18:29] #3725 closed

[2020-03-04 18:29] #3754 closed

[2020-03-04 18:29] #3770 closed

[2020-03-04 18:29] #3817 closed

[2020-03-04 18:29] #3820 closed

[2020-03-04 18:29] #3651 closed

[2020-03-04 18:29] #3950 closed

[2020-03-04 18:29] #3979 closed

[2020-03-04 18:29] #3984 closed

[2020-03-04 18:29] #3976 closed

[2020-03-04 18:29] #3983 closed

[2020-03-04 19:29] #2257 closed

[2020-03-04 19:29] #2262 closed

[2020-03-04 19:29] #2283 closed

[2020-03-04 19:29] #2300 closed

[2020-03-04 19:29] #2013 closed

[2020-03-04 19:29] #2377 closed

[2020-03-04 19:29] #2547 closed

[2020-03-04 19:29] #2548 closed

[2020-03-04 19:29] #2556 closed

[2020-03-04 19:29] #2458 closed

[2020-03-04 19:29] #2681 closed

[2020-03-04 19:29] #2370 closed

[2020-03-04 19:29] #2380 closed

[2020-03-04 19:29] #2728 closed

[2020-03-04 19:29] #2735 closed

[2020-03-04 19:29] #2765 closed

[2020-03-04 19:29] #2769 closed

[2020-03-04 19:29] #2758 closed

[2020-03-04 19:29] #2801 closed

[2020-03-04 19:29] #2827 closed

[2020-03-04 19:29] #2851 closed

[2020-03-04 19:29] #2859 closed

[2020-03-04 19:29] #2889 closed

[2020-03-04 19:29] #2922 closed

[2020-03-04 19:30] #2957 closed

[2020-03-04 20:29] #1884 closed

[2020-03-04 20:29] #651 closed

[2020-03-04 20:29] #688 closed

[2020-03-04 20:29] #715 closed

[2020-03-04 20:29] #1327 closed

[2020-03-04 20:29] #468 closed

[2020-03-04 20:29] #1455 closed

[2020-03-04 20:29] #1603 closed

[2020-03-04 20:29] #1620 closed

[2020-03-04 20:29] #1686 closed

[2020-03-04 20:29] #1609 closed

[2020-03-04 20:29] #1634 closed

[2020-03-04 20:29] #1720 closed

[2020-03-04 20:29] #886 closed

[2020-03-04 20:29] #1825 closed

[2020-03-04 20:29] #1828 closed

[2020-03-04 20:29] #1411 closed

[2020-03-04 20:29] #2030 closed

[2020-03-04 20:29] #1733 closed

[2020-03-04 20:29] #1916 closed

[2020-03-04 20:29] #2065 closed

[2020-03-04 21:29] #400 closed

[2020-03-05 08:07] #4851 closed, assigned to nobody

[2020-03-05 14:01] tanaymeh commented on #4871
I would like to fix a few of these throughout the codebase.
I will get back with PR as soon as I have done some work!

[2020-03-06 14:21] #4867 closed, assigned to nobody

[2020-03-06 17:14] #4599 closed

[2020-03-06 17:29] vigsterkr commented on #4871
currently failing tests are:
KMeans.minibatch_fixed_centers
MeanRule.combine_matrix
MalsarTraceTest.train
MalsarClusteredTest.train
MalsarL12Test.train
NormOneTest.apply_to_vector
RandomForestTest.score_compare_sklearn_toydata
CARTree.comparable_with_sklearn
MulticlassLibLinearTest.train_and_apply
BaggingMachineTest.output_binary
Math.linspace_test
SGSparseMatrix.io_libsvm
ROCEvaluation.one

these

[2020-03-06 19:37] Khalifa1997 commented on #4847
Can I still work on this :D

[2020-03-07 10:53] krutikabapat commented on #4847
@gf712 Basically we want the name of the parameter mus to be cluster_centers and mus_initial as initial_clusters. Right?

[2020-03-07 12:17] skn123 commented on #4833
Apparently, the issue was related with spdlog. I had an external spdlog which screwed up the compilation. Now, having fixed that (sudo apt purge ...), I am facing a different issue:
This is coming from tapkee

``In file included from /home/naths/srcs/shogun/src/shogun/machine/gp/MultiLaplaceInferenceMethod.cpp:44:
In file included from /home/naths/srcs/shogun/src/shogun/mathematics/eigen3.h:20:
In

[2020-03-07 12:20] gf712 commented on #4833
This seems to be related to this #4870. Could you install the latest stable Eigen release instead, 3.3.7?

[2020-03-07 14:15] krutikabapat opened #4890 "Error while compiling C++ files using local spdlog"
Compilation errors while compiling C++ examples in ```shogun/src/shogun/any c++example file``` while using local installation of spdlog.
The following errors are displayed:
[code]

[2020-03-07 18:40] gf712 commented on #4890
Which version of spdlog did you use? Is this from the spdlog master branch?

[2020-03-08 00:51] Khalifa1997 opened #4892 "random_matrix not yet implemented"
So I have been skimming through the API docs, I came across the SGVector implementation of random_vector, however, I couldn't find anything at all about generating a random matrix, if that's the case I would love to work on this issue. My thought process is that I would make use of the current SGVector implementation and SGMatrix's constructor `SGMatrix (SGVector< T > vec, index_t nrows, index_t n

[2020-03-08 01:04] eadwu commented on #4870
Bisected Eigen and got the offending commit as https://gitlab.com/libeigen/eigen/-/commit/f8bc5cb39e2814d171901e45c1d0ebfeaec49e65. Though I'm not sure whether it's a bug upstream since it seems to fixing something that was wrong originally. Not really used to Eigen/Shogun and it's codebase so not sure how to fix either but dumped the commit in case anyone was picking this up.

[2020-03-08 06:34] #1328 closed

[2020-03-08 10:44] vigsterkr opened #4894 "bundled RapidJSON breaks after re-running cmake"

[2020-03-08 10:46] vigsterkr commented on #4892
could you please give a use-case for SGMatrix random?

note: https://www.shogun.ml/api/latest/classshogun_1_1CDataGenerator.html

[2020-03-08 16:24] Khalifa1997 commented on #4892
Hmm I guess one would argue consistency between the two or to have the same functionality numpy has, I have googled abit and I read a few things about "Random Matrix theory" but that seems abit further down the line. What do you think @vigsterkr

[2020-03-08 16:27] vigsterkr commented on #4892
mmm, i would suggest go ahead with other already existing issues ;)
in fact there was already a push to have cleared up all the SG containers (vector matrix etc) from specialized methods, like random, as the idea is that SG containers are only used for typemapping between various languages... but operations over them should be done by other methods.

[2020-03-08 16:27] #4892 closed, assigned to nobody

[2020-03-08 21:08] eadwu commented on #4870
Linked issue: https://gitlab.com/libeigen/eigen/-/issues/1664

[2020-03-09 05:28] krutikabapat commented on #4890
@gf712 Yes it is from the spdlog master branch. I am using spdlog version 1.5.0

[2020-03-09 08:55] gf712 commented on #4870
Hmm ok, so I think that either we add a `#ifdef` block checking the Eigen version around the code that is causing issues or we don't allow users to compile with Eigen later than 3.3.7, and then we see if it needs fixing once Eigen has an official release. What do you think @vigsterkr?

[2020-03-09 09:04] vigsterkr commented on #4870
agree, yeah that’s the only sensible solution atm

[2020-03-09 10:17] gf712 commented on #4870
@eadwu do you want to update CMakeLists.txt to throw an error if the user version is above `3.3.7`? Just grep `FIND_PACKAGE(Eigen3` and you'll see where you need to make the change :)
There is also already some version check going on there, so you'll see how to do this if you don't know how to!

[2020-03-09 13:38] javiermaldonadoc opened #4900 "Add feature importance calculation to Random Forest and C4.5"
Hello!

Please could you add a feature importance calculation to ramdom forest and C4.5?

Thanks

[2020-03-09 13:44] gf712 commented on #4900
@javiermaldonadoc i think this is currently in progress in #4899

[2020-03-10 15:24] bhavukkalra commented on #4631
hello @karlnapf i am using  this sklearn model to do this outlier detection task
https://scikit-learn.org/stable/modules/outlier_detection.html
could you please guide to which 5000 vectors were you refering to above? so that i could use them in the training process. and we could use try blocks for detecting the ones which interfere with (n-1) term in the denominator.
what do you suggest?

[2020-03-10 15:59] bhavukkalra commented on #3702
Were all the links verified?
Could you please provide the list of broken links above. It doesn't seems to be opening(might be a broken link)
i.e
https://gist.github.com/Red-devilz/67dee8c8afc2502202b16466ff6da225
(list of broken links)(not opening)

[2020-03-10 16:05] vigsterkr commented on #3702
@bhavukkalra the easiest is that you open the notebooks and try to open the links... of course there's a smarter way to do it. basically do a regex (for http://....) on the notebooks, get out the links and try to fetch them with curl or wget or any other command line tool, and if the status code is not 200 then it's a broken link

[2020-03-10 16:07] vigsterkr commented on #3702
and in fact if you write that shell script then could you please share it to this issue, coz then we can actually integrate that check into our CI ;)

[2020-03-10 16:18] gf712 opened #4909 "USE_HMMPARALLEL causes compiler errors"
Currently there are compilation errors when compiling with `-DUSE_HMMPARALLEL=ON`. See for example [here](https://buildbot.shogun.ml/#/builders/22/builds/47/steps/5/logs/stdio).
I have not tried to compile locally and there could be a lot that has to be fixed in that code. Ideally all of this would be replaced with `std::thread`.

[2020-03-10 16:25] bhavukkalra commented on #3702
Sure.
A script that extracts link from notebooks in a file.
Run curl command on them and check if the links are broken(by printing links also conveying if it is broken or not).
Could you please confirm..
also can i do this with a python script instead of a shell script?
or is it a necessity?

[2020-03-10 16:32] vigsterkr commented on #3702
@bhavukkalra yes... but no need to generate a file. just parse the notebooks, get the links, test them and print the ones that are broken. and of course you can use python for this, whichever is the easiest for you

[2020-03-10 17:23] GiannisProkopiou commented on #4478
I would really like to take this up since i am very intrested in the usability project.Is there any other informacion or specific steps?

[2020-03-10 17:31] vigsterkr commented on #4478
the only additional information regarding this that since this issue was created those macros has been changed to function calls; see for example `REQUIRE` is `require`. for more details about this changes check the SGIO.h

other than that as it is described the problem is that we are using one specific exception type to throw mark errors, and these should be actually distinguished a bit better by

[2020-03-10 18:03] gf712 commented on #4890
@krutikabapat did it work with the 1.5.0 version then?

[2020-03-10 18:05] gf712 commented on #4833
Closing as the latest error was fixed in #4908

[2020-03-10 18:05] #4833 closed, assigned to nobody

[2020-03-11 03:27] Khalifa1997 commented on #4474
I am interested in working on this issue where do you suggest I would start? :) @karlnapf @lisitsyn

[2020-03-11 12:38] #4759 closed, assigned to samdbrice

[2020-03-11 13:40] bhavukkalra opened #4913 "Installation issue(Building from source code)"
I am using MacOs X mojave 10.14.15
anaconda as a virtual enviroment,
i installed all dependencies with homebrew
but after ruuning make i am getting this build error

-- Standard libraries to link to explicitly: none
-- Found unsuitable Qt version "5.9.7" from /opt/anaconda3/envs/QA/bin/qmake
-- The Fortran compiler identification is unknown
-- A cache variable, namely BLAS_DIR, has been set to spe

[2020-03-11 17:04] vigsterkr commented on #4913
@bhavukkalra plz check how we build the macos version of shogun in our CI: https://github.com/shogun-toolbox/shogun/blob/develop/.ci/macos-steps.yml

[2020-03-11 17:04] #4913 closed, assigned to nobody

[2020-03-11 18:12] bhavukkalra commented on #3702
I was successfully  able to extract links from a ipython file.
but the curl command seems to be working on made up(broken links) as well and not giving satisfactory results.
for example for the link --- https://www.shoguntoolbox.org/api/latest/classshogun_1_1DenseFatures.htm
should we use external libraries for this for example
https://pypi.org/project/LinkChecker/
or do we want to restrict using

[2020-03-12 14:42] gf712 commented on #4900
feature added in #4899

[2020-03-12 16:30] gf712 opened #4917 "Test HMM"
Currently there are only two python tests for HMM (distribution_mm.py and kernel_fisher.py) and there are no unit tests. Someone needs to write unit tests (and compare with some other library, preferably) and port the python examples to shogun's meta language!

Also would be good to remove and replace -DUSE_HMMPARALLEL and have a runtime option to run multiple threads (see how it is done in Random

[2020-03-12 16:34] #4909 closed, assigned to nobody

[2020-03-12 20:00] vinnik-dmitry07 commented on #4870
A temporary solution was provided:
https://github.com/shogun-toolbox/shogun/commit/428f1b9fbb4e84dc7f5e7bee18ee60edfaaf70a6

[2020-03-13 06:49] mukhituly commented on #4847
I want to work on it. Can you guide me?

[2020-03-13 06:56] vigsterkr commented on #4847
there are already several PRs open about this... although none of them actually finished.

[2020-03-13 07:14] gf712 commented on #4900
C4.5 is being added in #4918

[2020-03-13 10:16] vinnik-dmitry07 commented on #4917
I am working on it.

[2020-03-13 12:57] gf712 commented on #4917
Thanks!

[2020-03-13 21:11] Aakash1822 opened #4925 "problem on installation of shogun with python 3.7 in conda"
I got an issue with the installment of shogun in conda environment.
Which python version is more compatible for Shogun

[2020-03-13 22:24] vinnik-dmitry07 commented on #4925
The buildbout is configured using Python 3.6.8.

[2020-03-13 22:25] vinnik-dmitry07 commented on #4925
Provide the issue, please

[2020-03-14 10:36] Khalifa1997 commented on #4368
@gf712 I'd like to work on this, any suggestions where I should start^^

[2020-03-14 10:40] gf712 commented on #4368
@Khalifa1997 this is not a priority atm as we are looking into porting all of this to a new API which is under heavy development. I also don't know if there is any use case currently.

[2020-03-14 10:45] Khalifa1997 commented on #4368
@gf712  Interesting, would you recommend any issues that maybe related to using the new linalg, I haven't worked on it and maybe this could be a good start to me to dive deeper into it

[2020-03-14 10:54] gf712 commented on #4368
The new linalg module is still being built, so there is not much that can be done there.
I am not sure about specific issues, but you can have a look through the library and find several places where we use raw pointers and do operations on that. But ideally it should all be done using SGVector/SGMatrix together with the operations provided by the current linalg module. That will be helpful, becau

[2020-03-14 10:55] Khalifa1997 commented on #4368
@gf712 Great! thanks I will look into it more tomorrow

[2020-03-14 20:27] Aakash1822 commented on #4871
Interested to work on it @vigsterkr. Please guide me

[2020-03-14 20:30] Aakash1822 commented on #4925
okay, I will try with the mentioned version

[2020-03-14 20:35] vigsterkr commented on #4871
@Aakash1822 i've given example in the description and there's the list of the errors failing. you need to find similar (like in the example) the classes that are being used in those tests

[2020-03-15 06:33] bhavukkalra commented on #3785
@lisitsyn @karlnapf is this fixed?
could you guide me to the code files that the above reference txt file is referencing to i.e
https://gist.github.com/lisitsyn/a6d8ff6e8690431f967c5318c3750919
also is that the case with each algorithm implemented or could you guide me to specific one's..
would be really helpful.
Thanks.

[2020-03-15 06:35] vigsterkr commented on #3785
@bhavukkalra it's not fixed in the whole codebase. you can `git grep DotIterator` and see how it is used in some parts of the code.

[2020-03-15 07:15] bhavukkalra opened #4931 "Documentation link for API examples(404 not found)"
The API examples link in the README.md on the homepage of repository i.e
https://github.com/shogun-toolbox/shogun
 seems to be not working(error code 404 not found) i.e
https://www.shogun.ml/examples/latest/index.html
 and needs to be changed.

[2020-03-15 07:20] bhavukkalra commented on #3785
Yup, I found them.
could you please guide me to the API that you were suggesting @vigsterkr .
also just for clarification about the problem statement
We need to store the iterator variable in a temporary variable and iterate through it in the algorithm code(not touching the features) , just iterating.

[2020-03-15 07:22] vigsterkr commented on #3785
i'm not so sure what you are looking for. there's an api description of DotIterator as well as if you have found where it is being used you'll see how that api is actually being used in a working code

[2020-03-15 07:37] bhavukkalra commented on #3785
shogun/src/shogun/features/iterators/DotIterator.h
shogun/src/shogun/features/iterators/DotIterator.cpp
these ones?
Sorry, My bad,got confused with the term API above thought there might a query that could be made to get iterator features.
got it now

[2020-03-15 17:28] alaanousir opened #4932 "PPA repository does not have a release file"
**OS used:**
Kubuntu 18.04

**Problem description:**
Following the installation instructions in the [INSTALL.md](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md) file, the command

`sudo add-apt-repository ppa:shogun-toolbox/stable
`

gives me the following error:

[code]

From what I understand, there is currently no package for Ubuntu 18.04 release. Is a new package g

[2020-03-15 17:34] vigsterkr commented on #4932
unfortunately as the error says ppa for 18.04 is not available :(

[2020-03-15 17:34] #4932 closed, assigned to nobody

[2020-03-15 17:38] Khalifa1997 commented on #4449
@gf712 Hey Gil, I was wondering which type of Template function overload resolution are you using, Tag Dispatch or SFINAE

[2020-03-15 17:51] alaanousir commented on #4932
That is what I thought. Wouldn't it be a good idea to add the verison in the installation instructions to be more specific? Also, I was wondering if a new package is going to be released for 18.04 any time soon.

[2020-03-15 17:53] vigsterkr commented on #4932
we haven't released for a while - working on it.... ppa is not something that is easy to maintain :(

[2020-03-15 20:26] Khalifa1997 commented on #4449
@vigsterkr @gf712 @karlnapf I'd like to work on this. I assume I would use -for example- `template<class T, std::enable_if_t<!is_sg_referenced<T>::value, T>* = nullptr>` to stay consistent with the SFINAEs used in the codebase, where I basically would use the SFINAE call inside the template itself. Correct?

[2020-03-15 23:44] vinnik-dmitry07 commented on #4894
Actually, I do not know the reason you change these lines  https://github.com/shogun-toolbox/shogun/blame/develop/src/shogun/CMakeLists.txt#L430, but they make RAPIDJSON_INCLUDE_DIRS not set by _RapidJSON.cmake_ and thus next time a crash happens.

[2020-03-15 23:47] vinnik-dmitry07 commented on #4894
I have tested the old version and it builds two times, so consider backing it.

[2020-03-16 05:35] ghost commented on #4931
i'd like to solve this but there is no file existing as index.html

[2020-03-16 05:44] bhavukkalra commented on #4931
Shogun comes with automatically generated API examples. How to use them is provided here
https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/EXAMPLES.md#meta_examples.
Should we just remove that API examples link from README.md or we can replace it with the above link.
@vigsterkr @gf712 thoughts?

[2020-03-16 05:53] ghost commented on #4931
Yes even on the official website [https://www.shogun-toolbox.org/](url)
 "examples"  button in navigation bar doesn't work and gives out a 404 error.

[2020-03-16 05:56] vigsterkr commented on #4931
fixed

[2020-03-16 05:56] #4931 closed, assigned to nobody

[2020-03-16 11:45] krutikabapat commented on #4890
@gf712 I tried it with 1.5.0 only but It did not work. :'(

[2020-03-16 12:21] gf712 commented on #4890
@krutikabapat I seem to be able to compile it with a local 1.5.0 version. What error do you get with 1.5.0? If it is a linking issue, you need recompile your local spdlog with `-fPIC` (`cmake -DCMAKE_POSITION_INDEPENDENT_CODE=ON`)

[2020-03-16 13:17] ghost opened #4936 "setup.py file in source code has a syntax error"
setup.py file in [https://github.com/shogun-toolbox/shogun/releases/latest](url) source code have a syntax error and need to be resolved.
![synta](https://user-images.githubusercontent.com/59612338/76761985-6f770000-67b6-11ea-9866-f9ee10e8d28f.png)

[2020-03-16 13:21] vigsterkr commented on #4936
@its-crypted even if you resolve that there's a lot more things to do about that to get this finally working....

[2020-03-16 13:36] ghost commented on #4936
Sorry but I'm new here so I didn't knew about it that much I tried to eliminate it but it was proceeding further. Thanks for the review

[2020-03-16 13:36] #4936 closed, assigned to nobody

[2020-03-16 18:27] vigsterkr commented on #4639
fixed in #4806

[2020-03-16 18:27] #4639 closed

[2020-03-16 20:11] #4542 closed

[2020-03-17 09:23] aks-alokraj opened #4939 "Problem Installing Shogun in Ubuntu 16.04"
I'm getting the following error:

_CMake Error at CMakeLists.txt:63 (MESSAGE):
  Compiling shogun requires a compiler with folding expression support!
-- Configuring incomplete, errors occurred!_

[2020-03-17 09:26] vigsterkr commented on #4939
as the error says, your compiler does not support a feature that is required. plz make sure you are using a compiler that supports c++17 standard

[2020-03-17 09:26] #4939 closed, assigned to nobody

[2020-03-17 13:11] #4894 closed, assigned to nobody

[2020-03-18 06:31] Hephaestus12 commented on #3555
Where is this readme available?
Also since we are no longer writing cookbook pages (*.rst) files do we still need to comment sections on the meta example (*.sg) files?

[2020-03-18 06:36] vigsterkr commented on #3555
@Hephaestus12 i'm not so sure where did you read about not writing cookbook pages.... yes you need to comment the sections.
please check out our documentation and you'll find answers to most of your questions; if not please create an issue (https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/EXAMPLES.md#automatically-generated-examples-)

[2020-03-18 06:50] Hephaestus12 commented on #3555
@vigsterkr Sorry, I was referring to the distance examples, it was mentioned here:  https://github.com/shogun-toolbox/shogun/issues/3000#issuecomment-288348746
Anyway, thanks for the help :)

[2020-03-18 06:51] vigsterkr commented on #3555
@Hephaestus12 that's a specific case...

[2020-03-18 11:51] aneesh404 opened #4943 "examples don't compile even after having required libraries."
all examples examples in src/shogun wont compile even after having necessary libraries.

command used:
[code]

which gives the following errors+warning messages:
https://pastebin.com/niiS0tKg

I also tried to compile it with c++17:
[code]

but that gives another different set of errors
https://pastebin.com/JatLrVKX

[2020-03-18 11:53] gf712 commented on #4943
You shouldn't compile the examples manually if you don't know what you are doing. In your second line you haven't added shogun dynamic library, or its path.

[2020-03-18 11:53] #4943 closed, assigned to nobody

[2020-03-18 11:55] gf712 commented on #4943
see https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/EXAMPLES.md

[2020-03-18 12:11] aneesh404 commented on #4943
Thanks @gf712 for quick reply. I had set that in the LD_LIBRARY_PATH.

I'm sorry I forgot to mention here, but I was getting a different error with adding the shogun library too

/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/Scrt1.o: In function `_start':
(.text+0x20): undefined reference to `main'
collect2: error: ld returned 1 exit status

I guess I'm making some error in compiling,

[2020-03-18 12:15] vigsterkr commented on #4943
@aneesh404 use make targets instead of trying to compile it by hand...

[2020-03-18 13:44] aneesh404 commented on #4943
Makes more sense to use targets than compile each file, thanks @vigsterkr and @gf712

[2020-03-19 00:17] boladjivinny commented on #4844
If this is still open, let me work on it

[2020-03-19 07:13] vigsterkr commented on #4844
it is still open

[2020-03-19 08:30] boladjivinny commented on #4844
@vigsterkr Can you direct me on where to find the related source code for the website?

[2020-03-19 08:33] vigsterkr commented on #4844
https://github.com/shogun-toolbox/shogun/tree/develop/doc/cookbook

[2020-03-19 09:53] chinmay81098 commented on #4844
Hey, I have created a PR for this issue please review.

[2020-03-19 17:59] karlnapf commented on #4020
any updates here @novate ?

[2020-03-19 20:10] Hephaestus12 opened #4947 "Add facility to allow for Sparse Features in meta examples"
Currently, none of the meta examples use Sparse features. The` features()` method directly returns a variable of type `CDenseFeatures`.
You have to make some changes to `shogun/src/shogun/util/factory.h` so as to allow for this.

[2020-03-21 05:04] festusojo123 commented on #3555
Wanted to upload .sg and .rst files for the Linear Time MMD [example ](https://www.shogun.ml/examples/latest/examples/statistical_testing/linear_time_mmd.html) but couldn't make a new branch to start the patch. Also, is trying to make files for the exampes on the cookbook site still a good initial patch, or are there any others that you'd recommend that are new from the 2017 "getting started" page

[2020-03-21 06:24] vigsterkr commented on #3555
@festusojo123 plz read about how to submit your first PR on github (search for manual on the internet)

[2020-03-21 22:12] Hephaestus12 commented on #2991
Hi, are there any other regression algorithms left to be analyzed?
As far as I see, Least squares regression, Linear Ridge Regression, Lasso, LARS, and KRR have scripts and notebooks written which benchmark these algorithms against sklearn.

If not regression, what other algorithms can I work on?

[2020-03-21 22:22] Hephaestus12 commented on #2582
I would like to work on this. Shall I start by moving add to CMath?

[2020-03-22 07:10] gf712 commented on #2582
You shouldn’t move to CMath but to linalg instead. However linalg already has add. But it would be good to remove add from SGVector. AFAIK CMath (now Math) should be dropped.

[2020-03-22 11:49] vigsterkr opened #4954 "Fix Eigen::Map to set the correct memory alignment"
there are many places where we use Eigen::Map for wrapping SGVector and SGMatrix in the codebase. These Maps are currently not really constructed the best way, as both SGVector and SGMatrix memory chunk is 16 bytes aligned, but this is not specified to Eigen.

for example
[code]

should be actually:
[code]

or better yet it'd be better to port all those Map definitions to use the
[code]
(or vector

[2020-03-22 11:52] gf712 commented on #4954
I approve :+1:

[2020-03-22 11:56] vigsterkr commented on #4954
https://github.com/shogun-toolbox/shogun/commit/8fb6c23865f7edae90924e8efa6f3fba8add8b3a fixes the mapping definition for alignment

[2020-03-23 07:24] Hephaestus12 commented on #2991
@karlnapf is this issue still relevant? Which algorithms should I pick to analyze next?

[2020-03-23 13:16] Hephaestus12 commented on #2582
This is for the method add() in SGVector.
I don't think simply removing it and replacing its calls with the add method in the Linalg framework will help. For the following reasons:

In file:` src/shogun/mathematics/linalg/backend/eigen/BasicOps.cpp` :
[code]
`add()` calls `add_impl()`

In file:` src/shogun/mathematics/linalg/backend/eigen/BasicOps.cpp` :
[code]
`add_impl()` uses the `operator+`

I

[2020-03-23 13:40] gf712 commented on #2582
hmm, I think you are confusing things. `operator+` in linalg is from Eigen, which uses SIMD instructions where possible.
`result_eig = alpha * a_eig + beta * b_eig;` is written with Eigen types. See the definition of EigenVectorXtMap in SGVector

[2020-03-23 15:41] karlnapf commented on #2991
I am pretty sure there are be algorithms left. For example you could investigate where shogun is slower than other libraries using the benchmark library mentioned above.

[2020-03-24 23:36] Hephaestus12 commented on #2582
Is there a method in linalg to add a dense vector to a sparse vector and/or add two sparse vectors?

[2020-03-24 23:40] Hephaestus12 commented on #2582
Or will we need to write one ourselves?
@gf712

[2020-03-25 12:17] ShankarNara opened #4959 "fatal error: <cblas.h> not found error on MacOS"
OS : MacOS 10.15
python version : 3.7.3

I followed the instructions for compiling Shogun's source code from https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md

everything worked fine until cmake step

When I run "make" I get this error
<img width="1007" alt="Screenshot 2020-03-25 at 5 42 23 PM" src="https://user-images.githubusercontent.com/37106839/77535110-08e19880-6ec0

[2020-03-25 12:41] Abdelrahman350 opened #4960 "Make problem"
My os is Ubuntu 18.04
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Python 2.7.17

[code]

[2020-03-25 12:42] Abdelrahman350 commented on #4960
This is a strange error I found while compiling shogun. What can I do, please?

[2020-03-25 13:08] gf712 commented on #4960
That is not a shogun issue. You have to recompile your local spdlog library with fPIC (you can google this error and you’ll see how to do it)

[2020-03-25 13:08] #4960 closed, assigned to nobody

[2020-03-25 14:29] Abdelrahman350 commented on #4960
Thank you @gf712  your advice helped me a lot. shogun compiled successfully. In case any one runs in the same issue, what I did is:
1. $ git clone https://github.com/gabime/spdlog.git
2. $ cd spdlog && mkdir build && cd build
3. $ cmake -DCMAKE_POSITION_INDEPENDENT_CODE=ON ..
4. $ make -j
5. I copied the cloned spdlog folder in the third party folde in shogun.

[2020-03-25 15:11] #4710 closed, assigned to nobody

[2020-03-25 18:27] karlnapf commented on #2582
don't think there is atm.

[2020-03-27 10:39] Avi-000-Avi opened #4967 "Getting error while installing shogun - E: The repository 'http://ppa.launchpad.net/shogun-toolbox/stable/ubuntu bionic Release' does not have a Release file."
sudo add-apt-repository ppa:shogun-toolbox/stable
 Builds of stable releases
 More info: https://launchpad.net/~shogun-toolbox/+archive/ubuntu/stable
Press [ENTER] to continue or Ctrl-c to cancel adding it.

Ign:1 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:2 http://dl.google.com/linux/chrome/deb stable Release
Hit:3 http://ppa.launchpad.net/linuxuprising/java/ubuntu bionic InReleas

[2020-03-27 14:08] karlnapf commented on #4967
patch welcome!

[2020-03-27 14:08] #4967 closed, assigned to nobody

[2020-03-27 14:08] karlnapf commented on #4967
(shogun isnt released yet for this distro)

[2020-03-27 16:37] karlnapf commented on #4247
I think this should be almost done?

[2020-03-27 16:37] #4247 closed

[2020-03-27 16:39] #1264 closed

[2020-03-27 17:57] Abdelrahman350 opened #4969 "Test gets stuck"
Hello, I am trying to text shogun after compilation. All tests take around 0.05~0.15 sec except for `290: unit-SGMatrixTest`, it takes 2 hours without finishing. Is this normal?

[2020-03-27 18:27] karlnapf commented on #4969
Nope :)
Have a look with gdb that’ll tell you what is going on

[2020-03-28 06:39] Khalifa1997 commented on #3555
@karlnapf There are many cases where labels would be generated using np.random how do you suggest going about those cases

[2020-03-28 09:33] jonpsy opened #4972 "RandomFourierDotFeatures removal"
I noticed we have two implementation of RandomFouierFeatures,
1. ```src/shogun/features/RandomFourierDotFeatures```
2. ```src/shogun/preprocessor/RandomFourierGaussPreproc```

In my opinion RandomFourierDotFeatures should be removed because of the following reasons

1. In the python interface they're "exposed", and hence we can do
[code]
this is in contradiction to our strategy of only using the b

[2020-03-28 10:16] karlnapf commented on #3555
Load a dataset instead. We have many, check the other examples

[2020-03-28 13:51] karlnapf commented on #4972
No, they serve different purposes, one is for on-the-fly, one is for batched projection. This is useful. The design is not the best (see my email to the mailing list on what can be improved).

You could start adding the on the fly features to the new public API, something like a new factory, `rff_feats = rff_features(features('my_csv'), kernel=my_k)`, and then make a meta example where this is pas

[2020-03-28 13:51] karlnapf commented on #4972
I am closing this as we won't delete stuff

[2020-03-28 13:51] #4972 closed, assigned to nobody

[2020-03-28 19:22] vinnik-dmitry07 commented on #4959
Try to do:
`brew install ccache pkg-config arpack eigen glpk hdf5 lapack lzo nlopt snappy libomp spdlog rapidjson`

[2020-03-29 07:53] #4847 closed, assigned to nobody

[2020-03-29 10:24] karlnapf commented on #4959
thanks!

[2020-03-29 10:24] #4959 closed, assigned to nobody

[2020-03-29 10:27] gf712 commented on #4959
Btw for future reference, this can happen when you have mkl through anaconda3 and cmake detects that version. This can be fixed using something like `export CPLUS_INCLUDE_PATH=/path/to/anaconda/include`. I think the cmake script has to be fixed.

[2020-03-29 10:28] gf712 commented on #4959
or see how we force cmake to detect it properly by looking at the macOS CI script that uses MKL!

[2020-03-29 13:11] gf712 opened #4975 "(IPython) notebook log"
Currently I cannot see the log from the function calls when running code in the notebooks. The output is redirected to the `stdout` of the terminal. This can be convenient when there's a lot of logging happening, but a new user might be surprised when nothing is displayed when an algorithm is running.

It should be possible to redirect the stdout to notebook somehow. @theartful do you have any sug

[2020-03-29 13:15] ghost commented on #4975
This is strange, `spdlog` didn't change output stream. Both before and after introducing `spdlog` the output was directed to `stdout`. This might be because of asynchronicity (logging in different thread)?
I will investigate.

[2020-03-29 13:15] gf712 opened #4976 "Expose LeastAngleRegression::get_w_for_var() to interfaces"
The functionality from `LeastAngleRegression::get_w_for_var(int32_t)` is currently hidden from the user. This class function must be wrapped with a `watch_method` call somehow that allows a user to `.get("w_for_var", idx)`. That should be doable with the current framework @karlnapf?

[2020-03-29 13:17] gf712 commented on #4975
I am not sure.. It might have been the case before with `std::cout`? But I saw that there is an option to choose the sink, so it would be good to figure out how to set it to the notebook?

[2020-03-29 13:20] ghost commented on #4975
Before we used `fprintf` with a FILE which was defaulted to stdout as well. So it's equivalent to `std::cout`.
https://github.com/shogun-toolbox/shogun/blob/ab274e7ab6bf24dd598c1daf1e626cb686d6e1cc/src/shogun/io/SGIO.cpp#L55-L60

[2020-03-29 13:31] karlnapf commented on #4976
currently, this is only supported without function arguments
[code]
will not work out of the box. We could add this for functions with an index argument in theory. But I fear that if we keep on adding special cases, this makes the interfaces more and more cluttered. What is wrong with getting all weights at once? and then selecting the appropriate one?

[2020-03-29 14:53] ghost commented on #4975
I reproduced the problem locally. It seems to be a common issue with python and c/c++ libraries, and it becomes obvious when Jupyter is used. Jupyter listens for python's `sys.stdout/sys.stderr` but C and C++ bypasses them to write to the file descriptor directly. This blogpost explains it well https://eli.thegreenplace.net/2015/redirecting-all-kinds-of-stdout-in-python/
I will write a patch and s

[2020-03-29 14:54] ghost commented on #4975
Also I misunderstood your last comment :"D It seems that it is the case before with `std:cout`.

[2020-03-29 15:01] varsha753 commented on #4817
[shogun_doc.pdf](https://github.com/shogun-toolbox/shogun/files/4399081/shogun_doc.pdf)

[2020-03-29 15:13] varsha753 commented on #4817
Here are some example for implementation of Shogun algorithms in python with imports
[shogun_doc.pdf](https://github.com/shogun-toolbox/shogun/files/4399127/shogun_doc.pdf)

[2020-03-29 15:34] ghost commented on #4975
I see two solutions:
1. Either we tamper with python's `sys.stdout` and file descriptors as is done here: https://github.com/minrk/wurlitzer As a consequence, we might need to decorate each function exposed from shogun, or otherwise these file descriptor changes will be global to the python session.
2. Or we change spdlog's sink as you suggested and somehow add a hook from that sink to python's `s

[2020-03-29 15:39] karlnapf commented on #4020
This is still open

[2020-03-29 15:39] karlnapf commented on #4817
Closing as duplicate of #4020

[2020-03-29 15:39] #4817 closed, assigned to nobody

[2020-03-29 15:40] karlnapf commented on #4817
@varsha753 please don't spam our issues in this way

[2020-03-29 16:26] gf712 commented on #4975
@theartful thanks for looking into it so quickly! Just tested out `%load_ext wurlitzer` and it does exactly what I expected. Should write about this somewhere in the wiki. @vigsterkr this should probably also help displaying when using `xeus-cling`

[2020-03-29 16:29] gf712 commented on #4976
@karlnapf the problem is that it isn't that straightforward because it does some processing
[code]
I guess this does some sort of sorting? We could just do this for all  coefficients `[0, ..., N]` and return that matrix?

[2020-03-29 17:48] karlnapf commented on #4976
ah but the dimensionality will be different or?
If not, then the matrix should be fine. If so .... then we could add watch_method for methods with a single index argument ...

[2020-03-29 19:40] YuriYumeYuu commented on #4954
I would like to contribute to shogun. Is this issue still open or is there some work left?

[2020-03-30 06:58] ShankarNara commented on #4959
Thank you for your suggestions ,

I am able to compile it now , I have done everything mentioned in
INSTALL.md and INTERFACE.md
but when I try to run a python interface example (for all examples), I get
this error
I have been stuck on these error for the past 2 days :
[code]
On Sun, 29 Mar 2020 at 15:58, Gil <notifications@github.com> wrote:

[2020-03-30 07:09] gf712 commented on #4959
That seems like you are loading the new shared library you just compiled with the old shogun python distribution you have with conda. You need to put the path to the new `shogun.py` in your build directory at the start of your PYTHONPATH (something like `export PYTHONPATH=/path/to/shogun/build/src/interfaces/python:$PYTHONPATH`). Btw, this is unrelated to the `cblas.h` issue you had.

[2020-03-30 07:17] ShankarNara commented on #4959
I am sorry , You are right , this issue is not related to cblas.h
Should I open a new issue ?

When I ran make install , the shogun.py was added to a folder outside the
build directory (specifically
/usr/local/lib/python3.6/site-packages/shogun.py)
I wasn't able to find shogun.py inside the build

The INTERFACE.md instruction was to set PYTHONPATH to shogun.py

On Mon, 30 Mar 2020 at 12:39, Gil <n

[2020-03-30 07:22] gf712 commented on #4959
That's because you used the default `CMAKE_INSTALL_PREFIX`, what you seem to be expecting is that it goes to the anaconda env `shogun`, so you should `cmake -DCMAKE_INSTALL_PREFIX=Users/shankar99/opt/anaconda3/envs/shogun ..` and then run the install command again. No need for another issue, I think this solution can be found somewhere else..

[2020-03-30 07:58] vinnik-dmitry07 commented on #4959
Open CMakeChache.txt inside the build directory and search variables that contain Python in names, it provides you general knowledge about paths _make_ uses while installing.
Under your conda environment (run `conda activate <path to env>`)
[code]
Run this command and add output of it to your Cmake generation command of build.

[2020-03-30 12:21] nouranali commented on #4258
I want to start in this issue, but i need more clarification, would you help

[2020-03-30 12:56] karlnapf commented on #4258
Not sure what you mean, it is all described above?

[2020-03-30 13:05] karlnapf commented on #4954
if you had checked the above reference yourself, you would have seen that somebody is actively doing this atm

[2020-03-30 23:05] ricardoclandim opened #4982 "Installation error"
When I run make, after cmake .. appears the following error:

[  0%] Generating version header                                                                                        [  0%] Built target version                                                                                             [  0%] Generating /home/ricardoclandim/shogun/build/src/shogun/base/class_list.cpp

[2020-03-31 03:56] LiuYuHui commented on #4982
you can manually download bitsery from this [link](https://github.com/fraillt/bitsery/archive/v4.6.0.tar.gz), and then put it in shogun/third_party/bitsery.

[2020-03-31 07:38] #4982 closed, assigned to nobody

[2020-03-31 18:43] karlnapf opened #4984 "add a meta example for serializing and loading trained models"
The example should be should be under "base_api/serialization" or similar

Related to #3555, and #4463

see e.g. the unit tests on how to save/load:
https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/base/trained_model_serialization_test.cc

Use the "new" API (see e.g. #4463), and it might be necessary to add a bit of base-api for that

[2020-03-31 19:15] Khalifa1997 opened #4985 "Pickle works with the old API not the new one"
Whenever Pickle loads a saved Shogun model, it expects the model to be implemented using the old API this can be demonstrated [here](https://gist.github.com/Khalifa1997/7dd89914977b0887c32526900751862c)

I guess this is related to #4463

[2020-03-31 20:15] karlnapf commented on #4985
Could you post a minimal standalone python example on synthetic trivial data instead of the notebook? Thx

[2020-03-31 20:38] Khalifa1997 commented on #4985
@karlnapf I have updated the link, now it's a python file using Shogun's data however you're going to have to edit the path to point to your shogun dir

[2020-04-01 08:28] Jasmine2612 commented on #4984
Can I look into this issue?

[2020-04-01 09:56] karlnapf commented on #4985
thanks. that does it.
(BTW standalone means no loading of files, or adjustment of paths, but one can run this straight away, but nevermind this is sufficient.)

[2020-04-01 10:20] #4795 closed, assigned to nobody

[2020-04-01 12:09] gf712 commented on #4985
Could you share Traceback if there is one please?

[2020-04-01 12:31] Khalifa1997 commented on #4985
@gf712 I have updated the gist

[2020-04-01 12:35] karlnapf commented on #4985
I think the offender is this hackery in `swig/interfaces/SGBase.i`
[code]

Simple solution would be to replace it with the `create` method, but not sure that works with all cases of templated objects (although machines are rarely templated)

[2020-04-01 12:49] gf712 commented on #4985
Which templated objects are you referring to? The template type is hidden from interfaces no?

[2020-04-01 13:42] karlnapf commented on #4985
Nevermind for now, I thought this could become a problem, but not sure anymore now, as the serialization and the new api have changed the picture. I guess someone will see when trying to fix this

[2020-04-02 12:21] vinnik-dmitry07 opened #4987 "Still have problems with RapidJSON"
After the first build folder generation:
-DCMAKE_FIND_DEBUG_MODE=ON:
[code]
cmake-build-release/RapidJSON/src/RapidJSON-build/RapidJSONConfig.cmake:
[code]
The above file was generated while RapidJSON was being built, using the template:
[code]
A possible solution might be changing external/RapidJSON.cmake, adding `INCLUDE_INSTALL_DIR`:
[code]
But it seems to have been fixed in https://github.com/

[2020-04-02 16:10] karlnapf opened #4990 "pythonic imports of shogun"
We want to replace imports in the lines of

* `from shogun import *`
* `from shogun import features`

with `import shogun as sg`, and then call shogun methods with that handle, i.e. `sg.features` instead of just `features`

This is as the number of names of shogun API objects that clash with potential variable names (features) is growing and we want to avoid confusion.

This needs to be done in (i

[2020-04-03 08:48] karlnapf opened #4993 "renaming factories"
Our factory names are a bit unfortunate, as they don't immediately make clear what these functions are doing, and worse, they cause conflicts when directly imported into the namespace (c.f. #4992 ).

To avoid that, I suggest that we rename them in the lines of `kernel` -> `create<Kernel>` in c++, and `create_kernel` in meta examples, which is much more clear and doesnt have the same potential for

[2020-04-03 09:01] vigsterkr commented on #4993
a possible quicker and more pragmatic approach is to do this:
https://kevinaboos.wordpress.com/2013/07/23/clang-tutorial-part-ii-libtooling-example/

you could take this example https://github.com/kevinaboos/LibToolingExample/blob/master/Example.cpp and amend it for your needs.

note that this will not change anything in the meta examples (or swig related code) so that still needs greping unfortun

[2020-04-03 09:03] vigsterkr commented on #4993
@karlnapf could we use the `create_` prefix instead of `make_`? and this is only affecting SWIG, right? i am for all the unification, but do we need more verbosity in c++ codebase than actually what we have to take already now ? :S namely we could keep these factories in c++ interface and just have a swig wrapper definition in factory.i

[2020-04-03 09:17] karlnapf commented on #4993
++ for "create", (edited above)
I see your point about verbosity, but I would change the c++ name as well as otherwise things diverge and create confusion.

[2020-04-03 09:21] gf712 commented on #4993
But then for C++ that wouldn't be very idiomatic no? What you would have is `make_factory<Kernel>(name);` no (if you were to use factories at all)?

[2020-04-03 09:23] karlnapf commented on #4993
what about `create<Kernel>(name)` ? (This is a bit more tricky to get into the meta examples but possible)

[2020-04-03 09:24] karlnapf commented on #4993
and then `create_kernel` for swig. That is a difference that I think wouldnt be as confusing as say `kernel` and `create_kernel`, and it would also follow our templated `put/get` call patterns/translations

[2020-04-03 09:24] gf712 commented on #4993
I don't mind. I don't have that much experience with runtime libraries, I was just thinking there is make_shared, make_unique, and so..

[2020-04-03 09:25] karlnapf commented on #4993
yep, that's why I suggested "make" in the first place. I like it more, but I do not mind "create"

[2020-04-03 09:28] gf712 commented on #4993
I mean `create` seems to be used in Qt, I guess that is *the reference* for this kind of pattern...

[2020-04-03 09:30] karlnapf commented on #4993
One problem: different factories take different arguments. How to deal with that?

[2020-04-03 09:30] gf712 commented on #4993
what do you mean? We can use a variadic template for that though, and instantiate it in swig.
[code]
and then in swig (not sure about the syntax)
[code]

And then one day when reflection is a thing then we can go to the next level and do some crazy stuff, and just have `create("GaussianKernel")` and it returns a Kernel instance without any template stuff :D

[2020-04-03 10:24] karlnapf commented on #4993
sweet! I'll edit a bit above in the instructions

[2020-04-04 06:27] Hephaestus12 commented on #4311
@vigsterkr Can you have a look at this? :)

[2020-04-04 10:36] karlnapf opened #4996 "port GP code to be compatible with new API"
The goal of this issue is to be able to use the Gaussian Process framework of Shogun from the new API (factories, base classes). I.e. the issue is a sub-issue of #4463

In a nutshell, we want to replace all explicit constructor calls around GP objects `GaussianProcessRegression, ProbitLikelihood, ZeroMeanFunction, ExactInferenceMethod`, etc, with factory calls. And then fix everything downstream f

[2020-04-06 17:31] karlnapf opened #4998 "auto dispatch create methods in python"
We have `get` for python, which automatically returns the correct type, i.e. `get('my_vector')` and `get('my_int')` return a numpy array and an int respectively.

Now, why don't we do the same thing for creating shogun objects via factories? (In Python)

`create_kernel('GaussianKernel')` -> `create('GaussianKernel')`

That should be possible using exactly the same mechanics as in `get`, or do I ge

[2020-04-06 21:39] gf712 commented on #4998
Hmmm, this would be more complicated, because we call get with a visitor pattern, so we have Any to visit on. What you need is a way to dispatch with sgobject to the “base” class. Will have to think about it! Otherwise there is the naive with a try except for loop in Python..

[2020-04-07 07:53] gf712 opened #4999 "replace awkward state changes with free functions"
As we find more and more edge cases of the parameter framework the API has become increasingly awkward. For example, `DeepAutoencoder::convert_to_neural_network(std::shared_ptr<NeuralLayer> output_layer, float64_t sigma)` can be replaced with a class function without parameters by adding the output_layer and sigma to the state, but then the user has to alter the state of the object for all kind of

[2020-04-07 12:45] karlnapf commented on #4999
I agree it is one way to solve the problem without having to twist the put/get/run api too much. For me this would be a temporary solution, where the proper solution would be to refactor/redesign the classes such that these stunts are not necessary. On the other hand, I am pretty sure that there will always be corner cases. So +1 overall from my side.

[2020-04-07 13:32] Khalifa1997 opened #5000 "Add a Poisson regression model to Shogun"
As needed for my GSoC project, it would be quite beneficial for me and future Shogun users aswell to have a possion regression model, especially for count-based problems. If it's possible I'd like to be working on this issue

[2020-04-07 17:03] karlnapf commented on #5000
As said on irc, this is very welcome and useful. You will need to write a new machine class (potentially inheriting from LinearMachine but not necessarily). I think it might be nice to make this modular wrt likelihood (and link) functions, although we can certainly start without that (as long as the likelihood codes inside the class are separate from the rest). As you will need to use gradient des

[2020-04-07 17:23] karlnapf commented on #5000
https://en.wikipedia.org/wiki/Poisson_regression

[2020-04-07 17:28] karlnapf commented on #5000
Here is a list of common link functions and likelihoods: https://www.statsmodels.org/stable/glm.html

[2020-04-07 17:43] geektoni commented on #5000
As I mentioned in the email, also this lib here could be used as an inspiration https://github.com/glm-tools/pyglmnet

[2020-04-07 19:37] Khalifa1997 commented on #5000
![Untitled Diagram](https://user-images.githubusercontent.com/26578518/78711106-bd46da00-7916-11ea-8d73-7549eb294492.jpg)
This is a class-diagram of what I propose, we'd inherit from the `Machine` class since we are using the `train()` and `apply()` functions anyways. I have added a question mark on exposure since I am not sure if its applicable to all GLMs. Also to further add onto that, I don't

[2020-04-07 19:45] vigsterkr commented on #5000
linearmachine?

[2020-04-07 19:50] Khalifa1997 commented on #5000
if you mean inheriting from LinearMachine well the issue comes that it already has things like `bias` that aren't applicable at all -to my knowledge- to GLMs

[2020-04-07 19:58] geektoni commented on #5000
GLMs can have a bias :) they are just another type of "linear model" after all. Try to have a look to this page here http://glm-tools.github.io/pyglmnet/ for the math.

[2020-04-07 20:02] Khalifa1997 commented on #5000
do you mean the epsilon is the bias in this examples?

[2020-04-07 20:06] geektoni commented on #5000
The bias is usually represented by `beta_0`. The epsilon means a noise value.

[2020-04-07 20:20] Khalifa1997 commented on #5000
Ahh this makes sense in my model, I added all betas including the bias to one array, splitting them into one bias variable that would be inherited from LinearMachine and the rest "weights" which would be inherited from LinearMachine aswell would solve things regarding this problem

[2020-04-08 10:34] eyeflap commented on #4999
Hi! I'd like to help with this but i'm not sure how to get started as this would be my first contribution on a git open source project.

[2020-04-08 11:27] karlnapf commented on #5000
* I agree on inheriting from linear machine to reuse weights/bias
* I am not sure about putting the optimizer should be part of the class state, it could (should?) interact from outside, same goes for things like learning rate etc. The model would only specify the gradients.
* link function should also be modular
* no need for get methods, we have them for all parameters, rather be more precise ab

[2020-04-08 15:15] #4776 closed, assigned to nobody

[2020-04-08 19:30] Khalifa1997 commented on #5000
@karlnapf Yea the Distribution class doesn't belong here, I was confused about that part. But I don't understand points 2 and 3 you mentionned, shouldn't there be some gradient update algorithm for poission to update the weights? and for 3 what do you mean with link function being modular?

[2020-04-09 07:15] gf712 commented on #4999
Hi @eyeflap I would recommend starting with another issue labelled as "good first issue", this is more on a case by case basis and would require a bit of familiarity with the framework. A really good starting issue is converting old python examples to meta examples #3555

[2020-04-09 11:11] karlnapf commented on #5000
link function modular -> different link functions possible.

About the optimizer, nevermind for now. I suggest we move into some actual code for discussing this further

[2020-04-10 21:17] #4925 closed, assigned to nobody

[2020-04-11 03:41] Khalifa1997 commented on #5000
Hey @karlnapf
I have made an intial header file but I wanted to take your opinion on it before hand, https://pastebin.com/VbeNDyM2
So those are just some things I had thought of
Since the Link Functions and Distributions/Family are meant to be modular, I thought of using an enum for Link Functions and for Distributions/Families instead of adding an extra layer of un-needed complexity where we'd ha

[2020-04-11 09:54] karlnapf commented on #5000
It is really hard to give feedback from a pastebin because I canot comment inline.

However

* things like learning rate should not be part of the class, as that is part of the inference algorithm/gradient descent and as such should be stored in a class related to that
* I don't like the enums for the modularity, but you can keep it like this for now. We can work on this later
* please check how t

[2020-04-11 21:36] vinnik-dmitry07 opened #5003 "-DENABLE_TESTING=OFF leads to ADD_CUSTOM_COMMAND error"
[code]

[code]

[2020-04-13 11:06] karlnapf commented on #5003
I cannot reproduce this locally, could you post the exact cmake command and cmake version?

[2020-04-13 17:49] vinnik-dmitry07 commented on #5003
It happens when
[code]
are together.

[2020-04-13 20:24] karlnapf commented on #5003
doesnt happen here

[2020-04-14 10:27] Hephaestus12 opened #5005 "Implement Generalized Linear Machine in shogun"
Shogun currently lacks a Generalized Linear Model.

In statistics, the generalized linear model (GLM) is a flexible generalization of ordinary linear regression that allows for response variables that have error distribution models other than a normal distribution. The GLM generalizes linear regression by allowing the linear model to be related to the response variable via a link function and by a

[2020-04-16 06:01] Aakash1822 commented on #4788
@vigsterkr the issue doesn't yet solved. I think we should check protobuf package for installation. Will I try it

[2020-04-16 12:49] vinnik-dmitry07 commented on #5003
[code]
[code]

[2020-04-19 07:24] jonpsy opened #5009 "Refactoring RandomFourierGaussPreproc"
Currently, our implementation of RandomFourierGaussPreproc(RFGP) seems to be very outdated. @karlnapf  recommended some changes to it, in this issue I'm only highlighting how I plan to shorten the LoC and possibly improve the design so that it can be critiqued here itself. The draft is to be posted soon.

**Current map:**
The current architecture supports two ways to get random_coefficients.

1. Y

[2020-04-19 12:37] karlnapf commented on #5009
Good initiative. Though I also don't understand some of the ideas in the snippets. Let's discuss this in PRs, not issues.

BTW here is what I suggested in an email on the list. There are much more immediate things you can to do modernise the code, see the examples below

* using linalg instead of loops
* pulling shared code out instead of having the same operations twice
* have illustrations (note

[2020-04-25 10:37] karlnapf opened #5014 "remove `.clone` in linalg methods"
Linalg methods that return newly allocated vectors sometimes clone an input vector, instead of just allocating empty memory. That is unnecessary and could be changed.

[2020-04-27 06:38] Aakash1822 commented on #5014
where to make this changes

[2020-04-27 09:09] gf712 commented on #5014
@karlnapf maybe we should also add a numpy style `empty_like` constructor to SGVector/Matrix (if there isn't one already?)

[2020-04-27 17:18] karlnapf commented on #5014
IMO vector/matrix shouldnt even be initialized by default (they weren't in the past and I dont know when that changed, might we worth a look), much rather have `zeros` `ones` like in numpy. The problem is that now it will be hard to get rid of this. So maybe having another ctor for that is good yes

[2020-04-29 18:08] kaigu1997 opened #5015 "building error - template issue?"
Hello, I can not successfully compile the source code. My configuration is as following:
[code]
Then when I make, it fails on Building CXX object src/shogun/CMakeFiles/libshogun.dir/classifier/LDA.cpp.o with following errors (yes, more than 1 error):
[code]
I do not know what show I do. This error appears at 2% progress, and I guess there will be similar issues building later on.
I guess it is wro

[2020-04-30 01:42] LiuYuHui commented on #5015
hi @kaigu1997, what is your GCC version? in my side, there is no this error, maybe you should update your compiler?

[2020-04-30 10:32] kaigu1997 commented on #5015
I am using intel compilers, mpicc 19.0.4.243 and mpicxx 19.0.4.243.
I am unable to transfer to gcc, because the manager did not have libfabric.so for gcc (but have that for intel compilers) so that ctags could not work.

[2020-04-30 16:19] gf712 commented on #5015
hi @kaigu1997, unfortunately we don't test for intel compilers so there is no guarantee that shogun will compile with icc (mostly now that we use more and more C++17 features). The only thing I can think of is for you to use a different commit hash prior to the introduction of `zip_iterator`, or use a different compiler. At some point when I get a intel compiler on my machine I can try and find so

[2020-04-30 21:24] kaigu1997 commented on #5015
Thank you all. I retried with gcc+intelmpi and it works... I guess the openmpi on the cluster does not have the libfabric.so while intelmpi has. Anyway now I successfully build the libraries. So, will I face similar issue if I compile my program using intel compiler when linking with the built (shared/static) libraries?

[2020-04-30 21:30] gf712 commented on #5015
I don’t think so. The algorithm header files shouldn’t include the class that is causing issues. It’s all in the compiled library now and won’t cause linking issues.

[2020-04-30 21:36] kaigu1997 commented on #5015
Thank you. I guess I may ask then if I really meet the problem :P

[2020-04-30 21:36] #5015 closed, assigned to nobody

[2020-05-04 03:14] atilla35 opened #5017 "şifre"
ggulsungordesli@gmail.com``

[2020-05-04 03:19] atilla35 opened #5018 "Şifre"
ggulsungordesli@gmail.com

[2020-05-04 03:20] #5018 closed

[2020-05-04 03:48] Ahmetelsemeli commented on #4990
@vigsterkr

[2020-05-04 03:49] atilla35 opened #5019 "Şif"
gulsungordesli@gmail.com

[2020-05-04 07:38] james300dan opened #5021 "linux-nvme/nvme-cli"

[2020-05-04 07:43] gf712 commented on #5021
Spam

[2020-05-04 07:43] #5021 closed, assigned to nobody

[2020-05-04 08:01] mohitmajithia commented on #4990
which files are left?

[2020-05-04 08:02] aattukutti opened #5022 "DBSCAN"
Has the density-based spatial clustering algorithm been implemented? If not, I would like to work on it.

Also, as I am a new contributor, can someone guide me on the general guidelines of the shogun project as I work on the algorithm?

[2020-05-04 10:07] karlnapf commented on #5022
it is not implemented yet. Check out the wiki for how to go about this. I am closing this as not really an issue

[2020-05-04 10:07] #5022 closed, assigned to nobody

[2020-05-04 10:08] karlnapf commented on #4990
please find out yoursef. that is part of the task

[2020-05-04 10:36] gf712 commented on #5019
Spam

[2020-05-04 10:36] #5019 closed

[2020-05-04 10:36] gf712 commented on #5017
Spam

[2020-05-04 10:36] #5017 closed

[2020-05-04 10:40] gf712 commented on #4993
I think this feature has now been fully implemented, or is there something missing?

[2020-05-04 14:49] karlnapf commented on #4993
yes #4995

[2020-05-04 14:49] #4993 closed, assigned to nobody

[2020-05-05 20:59] #5014 closed, assigned to nobody

[2020-05-12 09:42] geektoni opened #5026 "Enable models to emit lambda functions."
We might want to emit some information from a given model which may be costly to compute and it could slow down the training ( see #4655 for an example of such scenario ). This is important because those kinds of information would be computed even if the user wants to observe different parameters.

The solution here would be to emit _lambdas_ instead, which can then be executed to obtain the real

[2020-05-12 11:35] gf712 commented on #5026
You mean this would be like a promise that can the be computed asynchronously? Could you give an example of a lambda you would want to pass please? From the example you give would it be something like:
[code]
And then you tell the observer whether to compute it?
The problem if you store all these lambdas is that you are storing a copy of the object each time. Also if you mean passing a lambda as a

[2020-05-12 14:54] geektoni commented on #5026
@gf712 yes, the example you wrote is exactly what I had in mind :) Then if the user wants to observe the parameter `oob_error`, once the observer captures the lambda, the observer will execute it and it will show to the final user just the result (not the lambda itself). All of this I think will be done asynchronously thanks to RxCpp.

I guess the second solution would be harder to implement becau

[2020-05-12 15:10] karlnapf commented on #5026
We wouldnt want to store the lambda. The class just offers the lambda to the observer, which can decide to call it (and store the information), or not. It shouldnt be valid after the call is over

[2020-05-12 15:11] karlnapf commented on #5026
The use case is that a user has applied a filter to the observer to choose what to store....in that case we dont always want to compute the oob error here

[2020-05-12 15:16] gf712 commented on #5026
so the observe function becomes a blocking call right? Because now there is a synchronisation issue, the main routine either copies the data and lets the observer do what it wants with it (for example call it in a seperate thread), or awaits for the observer to do something (and in this case training is stopped until it is computed)

So the user passes a string? Or is this with the AnyParameter fl

[2020-05-12 15:23] karlnapf commented on #5026
basically we want this semantic (inside the RF)
[code]
as opposed to not having the if statement (i.e. always computing the oob error even if the user doesnt care about it.
Using lambdas was just one idea, another could be to literally ask the observer whether it cares about the value

[2020-05-12 15:23] gf712 commented on #5026
Something that would be more OOP, but quite a shift in design, is that we have `Any` as a swig type, pass that to an Observer, and automagically it registers that the memory inside Any should be emited. But I guess this doesn't help in this case because oob error is not a class parameter.
But we could have predefined Observer classes like ComputeOutOfBagErrorObserver, that can be passed to a baggi

[2020-05-12 15:24] geektoni commented on #5026
The user can pass a list of strings (e.g., `oob_error`) or some AnyParameterProperties (we might want to observe member variables and filter them by type, like HYPER).

[2020-05-12 15:25] gf712 commented on #5026
I would say just pass the function pointer, like watch_method. The lambda here might not bring much benefit, but you can try. Lambdas can be negative cost :)

[2020-05-12 16:11] jonpsy opened #5027 "Allow for multi-line class definitions in class_list.cpp.py"
Currently, our class_list.cpp.py seems to be very sensitive to spaces and new line chars, this causes potential mess-ups when class names tend to get bigger. An immediate example would be
```class RandomFourierGaussPreproc: public RandomMixin<DensePreprocessor<float64_t>>``` , doing a clang-format does
[code]
our python code fails to register this class on ```class_list.cpp```.

[2020-05-12 16:13] karlnapf commented on #5027
thanks for reporting, I have noticed this a few times before as well

[2020-05-12 16:39] karlnapf commented on #5027
Context: `class_list.py` parses the C++ code to extract all class names used in the shogun codebase. We use this in factories to allow creating instances by name.

[2020-05-12 16:45] gf712 commented on #5026
btw, I was just thinking about this and would this condition be declared once? And then when the algorithm adds a new oob index set it computes the oob error?

[2020-05-12 17:02] karlnapf commented on #5026
not sure what you mean

[2020-05-12 17:17] gf712 commented on #5026
[code]

in this case it makes sense to store a function pointer, rather than passing the oob error itself (a scalar)

[2020-05-12 17:26] gf712 commented on #5027
But isn't this an issue with ctags rather than class_list.py?

[2020-05-13 09:19] karlnapf commented on #5026
I see. That seems like more work to me :)
I think being explicit and just passing the function pointer to the observer every time the error would be computed suffices. It also is more in-line with what we do with SGVector etc, where we pass a reference, and the observe might or might not clone that memory block

[2020-05-13 09:24] gf712 commented on #5026
I am just not sure I understand why you need to pass the function pointer in that case?
If you have
[code]
you will achieve the same no? Unless what you want is to compute oob error in a separate thread? And this `compute_oob_error` lambda captures the machine and oob indices?

[2020-05-13 09:37] karlnapf commented on #5026
No need if this is done. But this is just the semantics. In practice, we would like to not have to do this if statement in the train code. Rather, just the observe call. And then the observer decides. Sorry should have been more clear

[2020-05-13 09:40] gf712 commented on #5026
OK, I think in that case we could look into the thing I posted above? It is more effort, but it would be neat that a combination of events triggers the observer. If this is not possible with Rxcpp you could always extend the functionality using [conditional variables](https://en.cppreference.com/w/cpp/thread/condition_variable).

Reread your comment and I think I finally get it. I think that would

[2020-05-13 09:47] gf712 commented on #5026
[code]

[2020-05-13 10:09] geektoni commented on #5026
I am sorry if I go back to the original idea, but why do we have to store twice the information for calling the `get_oob_error()` method? If we store the callback, and then we call it later on, wouldn't be the same as sending directly the lambda through `observe()` in the first place (see below)? There shouldn't be any significant memory/synchronization differences between the two approaches, righ

[2020-05-13 10:35] gf712 commented on #5026
From what I understand this observe call would have to be wrapped by a condition inside a loop right? This is the moment you are telling the observer to emit something right? Or is emitting the value by this observer triggered by something else?

That is why I was thinking that rather than having an `if` there is some conditional variable logic going on that waits for the observed values, in this

[2020-05-13 10:55] karlnapf commented on #5026
Gil, I agree this is neat, but what about a simpler thing where we could just do (not wrapped in if)
`observe("oob", &compute_oob())`
and then inside the observer we could do
[code]

[2020-05-13 10:57] karlnapf commented on #5026
However, if the observer has no way of filtering/selecting values/functions that it receives, all hope is lost anyways, because we either need to always compute the oob, or always store the whole cloned objects ...

[2020-05-13 12:19] geektoni commented on #5026
So, the observer (e.g. `ParameterObserverLogger`) **can** filter observation based on user's preferences. The model (e.g., `BaggingMachine`) which **emits** the observation cannot (that's because of the observer pattern). In our case, the `BaggingMachine` has to emit every time the oob error and then the observer can decide to use it or not.

[2020-05-13 12:21] karlnapf commented on #5026
So then what I wrote above (passing the lambda/pointer) should work right?

[2020-05-13 12:24] geektoni commented on #5026
Yes, it should work perfectly fine (aside from possible issues about copying memory around and synchronization of the various threads). By passing the lambda, we can defer the execution of expensive functions and demand it to the observer (rather than the model) and only if the user has decided to do so.

It is the most viable option imho

[2020-05-13 12:41] gf712 commented on #5026
I guess in terms of sync issues we should just have a helper function for oob error that uses arguments to compute the error rather than using the state of the object (so we store the parameters in the lambda which are just memory management objects (SGVector and std::shared_ptr), so quite cheap to store/copy).

[2020-05-13 14:49] aattukutti opened #5028 "conda installation not working"
According to the [docs](https://www.shogun-toolbox.org/install#binaries), you can install the shogun library using anaconda. However, when I use the 'conda install -c conda-forge shogun' command, the prompt gets stuck on solving environment.

How do I fix this issue?

[2020-05-13 15:07] geektoni commented on #5028
It works quite fine for me. It may be an issue of your local environment rather than shogun. Could you please give us more information about the error you are facing (e.g. OS, error message, etc.)?

[2020-05-13 15:10] gf712 commented on #5028
I think it depends a lot on your environment. If you have a lot of packages there might be conflicts with the shogun required libraries. It also takes me a while to install it, and sometimes it fails. I would recommend installing shogun with conda in a new environment if that is possible.

[2020-05-14 00:53] aattukutti commented on #5028
![image](https://user-images.githubusercontent.com/64346806/81880492-46eb6680-95ab-11ea-987f-ccd0911f7a0e.png)
I am using windows 10. No error message pops up. The installation just gets stuck.

[2020-05-14 05:06] aattukutti commented on #5028
I've uninstalled and reinstalled anaconda. I'm getting the following error now.
![image](https://user-images.githubusercontent.com/64346806/81894977-bc1c6300-95ce-11ea-884e-bae10101578f.png)

[2020-05-14 08:34] gf712 opened #5029 "Clean up Distance classes"
The current design of Distance and its subclasses is not very efficient. Here are some issues:
* Dynamic casts in the inner loops
* We use `Distance::distance(int32_t idx_a, int32_t idx_b)` from inside the kernels but when we are not careful this can lead to a lot of cache misses. I would suggest computing the whole matrix in one pass using eigen/linalg, when possible. Or at least make `Distance::

[2020-05-14 08:47] gf712 opened #5030 "Clean up constructors"
Throughout shogun we have various constructors with lots of repetitions, e.g. calls to `register_params`. We could avoid using `register_params` by using [delegating constructors](https://docs.microsoft.com/en-us/cpp/cpp/delegating-constructors?view=vs-2019) and then only have a single constructor responsible for parameter registration. This would avoid bugs with initialization, which lead to unde

[2020-05-14 09:47] karlnapf commented on #5029
absolutely agree. These things are sometimes tricky to achieve in our messed up codebase ;)

I guess the design initially was for string kernels, which are very expensive to compute. This is why we  had the KernelCache thing, which makes sense in that case. For things like GaussianKernel etc it makes way more sense to compute them using matrix-matrix products and batched element wise operations. S