[2020-05-14 09:48] karlnapf commented on #5029
The pattern of batching operations with matrix operations where possible something that could be applied in many places in shogun actually.

[2020-05-14 09:48] karlnapf commented on #5030
++
Could you maybe post an example PR where this is done, then people have an easier time reproducing it

[2020-05-14 10:53] gf712 commented on #5030
Sure, I'll start a PR where I pick a class and clean up the constructors and tag it here

[2020-05-14 11:13] gf712 commented on #5029
Basically, you would create some lambda function that captures lhs and rhs addresses and then this is stored in an iterator that is sorted in way that is cache friendly and the lambda is executed when the iterator is dereferenced?
[code]
The part with batches I am not sure how to do. I think for EuclideanDistance you would just fill the registers as much as possible by computing the norm of each v

[2020-05-14 13:07] vigsterkr opened #5032 "python 3.8 problem"
it might be that the swig generated wrapper is not working with python 3.8, see https://github.com/conda-forge/shogun-feedstock/pull/23

[2020-05-14 13:08] vigsterkr commented on #5028
windows package is broken for the time being... sorry. there's an effort to fix this see https://github.com/shogun-toolbox/shogun/pull/4927

[2020-05-14 13:08] #5028 closed, assigned to nobody

[2020-05-14 20:47] javiermaldonadoc opened #5034 ""SVM set failed" exception"
Hello,
I'm using a I'm using the MultiClassLibSVM with 5 class dataset. But in the end run throw an exception  "SVM set failed". Also, the process is very slow, about two hours to process a training dataset of 125K rows and 41 columns (NSL-KDD dataset).
As additional information: I'm tried the same dataset with random forest and CART with no problem.

This is the function with the corresponding ou

[2020-05-14 20:56] karlnapf commented on #5034
Hi

Shogun stores data in column major format. This mean your data is
interpreted as 41 vectors of dimension 125k, which probably causes
problems. Try transposing....

Best
H

On Thu, 14 May 2020 at 21:47, javiermaldonadoc <notifications@github.com>
wrote:

--
Sent from my phone

[2020-05-14 20:57] javiermaldonadoc opened #5035 "C4.5 never ends"
Hello,

I'm using C4.5 algorithm to classify a dataset with 41 columns and 125K rows. It has 5 classes (multiclass). When try to train a C4.5 classifier it never ends. Keep running and give no response. This is the code:

    auto C45=std::make_shared<C45ClassifierTree>();
    C45->set_labels(sub_labels_train);
    C45->set_feature_types(subfeaType);

    C45->train(sub_features_train);
    auto C

[2020-05-14 21:33] javiermaldonadoc commented on #5034
Thanks for your response,

I've made the transposition and give me this error:
Created. Training...[05/14/20 17:31:27 info] 125973 trainlabels, 5 classes
[05/14/20 17:31:27 error] Number of training vectors does not match number of labels
terminate called after throwing an instance of 'shogun::ShogunException'
  what():  Number of training vectors does not match number of labels

And when i try to

[2020-05-14 22:06] javiermaldonadoc commented on #5034
By executing
    features_train = create<Features>(f_feats_train);
    cout<<"Features Train: "<<features_train->get_num_vectors()<<endl;
    features_test = create<Features>(f_feats_test);
    cout<<"Features Test: "<<features_test->get_num_vectors()<<endl;

I got these results:
Transposing:
Features Train: 41
Features Test: 41

Without transposing:
Features Train: 125973
Features Test: 22543

Th

[2020-05-15 03:04] jonpsy commented on #5030
I think I can give this a shot ;D

[2020-05-15 07:20] aattukutti commented on #5028
Is there any other way to install on windows? I tried compiling from source but I don’t have several of the dependencies and it would be extremely cumbersome to install of them by hand.

[2020-05-15 09:32] karlnapf commented on #5035
Closing as duplicate of #5034

[2020-05-15 09:32] #5035 closed, assigned to nobody

[2020-05-15 09:33] karlnapf commented on #5034
The error message seems to be pretty clear to me?
`Number of training vectors does not match number of labels`
How many labels do you pass?

[2020-05-15 09:34] karlnapf commented on #5034
@gf712 the error he gets on cart seems to have to do with the fmt lib crashing? :D

[2020-05-15 09:53] gf712 commented on #5034
Yes, seems like there is a formatting error.. @vigsterkr @theartful can we switch on the compile time checks of fmt to avoid this type of error at runtime? I am talking about https://fmt.dev/latest/api.html#format-api

[2020-05-15 09:58] gf712 commented on #5034
@javiermaldonadoc `get_num_vectors` gets you the number of examples, not the feature count (from the docs "get number of examples/vectors, possibly corresponding to the current subset")

[2020-05-15 10:42] ghost commented on #5034
@gf712 `FMT_STRING` requires a constexpr string literal. I don't know how to make it work without either using a macro or changing every format string at call site to call `FMT_STRING`. https://gist.github.com/theartful/01060830399985b72c817f39de8be7ed

[2020-05-15 11:57] gf712 commented on #5034
Hmmm that is annoying.. I guess we just have to look for the bug then. Or we go back to using macros to do these checks. @karlnapf @vigsterkr ?

[2020-05-15 15:26] karlnapf commented on #5034
no macros please :)
I guess this should be relatively easy to debug. I have the feeling it probably is due to a really long sequence being requested or something

[2020-05-17 13:28] javiermaldonadoc commented on #5034
Yes, that's correct and i'm checking that using these function jointly with transpose function. I have 41 features and 125K of examples in training and 22K in testing and is consistent with the given numbers by using this function.

[2020-05-17 13:31] javiermaldonadoc commented on #5034
I checked that those numbers are the same 125K in both cases, labels and vectors.

[2020-05-18 06:45] gf712 commented on #5028
Yes, you can get docker for Windows

[2020-05-18 10:00] karlnapf commented on #5034
strange. Could you post a (preferably minimal standalone with synthetic data) example to reproduce this issue? Maybe there is a problem in the multiclass codes ...

[2020-05-18 14:05] javiermaldonadoc commented on #5034
Thank you!
Here is a link to the used datasets. https://drive.google.com/open?id=1Cz0ju3xfpw70Ve8PJ9AeQcZt_RPR3Ziq
You could use the small one (KDD-Test*), is the smallest of all datasets. An my code https://pastebin.com/HMAS9dEL, here is a full functional example (load data, create features and labels sets, training and testing SVM). As a reference, i'm using the NSL-KDD dataset https://www.unb.c

[2020-05-19 04:01] chrisdembia commented on #4068
I'm fixing this issue in my https://github.com/opensim-org/opensim-core project; thank you for this info! Can you explain why `-undefined dynamic_lookup` flag is necessary?

[2020-05-20 01:22] TusharSariya opened #5039 "Am I missing a requirements list?"
I am clearly missing a bunch of requirements, but where did I miss to do them? this is on a relatively fresh install of ubuntu 20.04:

-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done

[2020-05-20 01:46] TusharSariya commented on #5039
I was able to install eigen 3.1.4 but am still missing a lot of packages, Im not sure If i missed something in the documentation:
-- dir='/home/tushar/Documents/shogun/src'
-- dir='/home/tushar/Documents/shogun/build/src'
-- dir='/home/tushar/Documents/shogun/src/gpl'
-- Using system's malloc
-- Could NOT find OPENCL (missing: OPENCL_LIBRARY OPENCL_INCLUDE_DIR)
-- Could NOT find ViennaCL (missing:

[2020-05-20 04:06] Dawntown opened #5040 "Cpp missing occurred when Shogun was installed manually using `python setup.py install` method."
Hello,
I'd like to install shogun package with Python interface in anaconda env. Given some package deficiencies, especially `SVMLight()` missing, in ready-to-install methods, I determined to install it via compiling by hand. The version I used is v6.1.3 downloaded from the github release page, and, in the activated conda env, it was installed via
[code]

Then the fatal error info showed up as fol

[2020-05-20 06:43] gf712 commented on #5039
I think the error message explains it: "CMake Error at examples/meta/CMakeLists.txt:6 (message):
Python module ply required for meta examples. Install or set
BUILD_META_EXAMPLES=OFF". The other packages are optional.

[2020-05-20 08:42] gf712 commented on #5040
I am not sure where that setup.py file is coming from but there is an explanation on how to build shogun for python [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual-python)

[2020-05-20 09:20] Dawntown commented on #5040
Thank you for your suggestion. I tried it, but it came out the same error.
(PS: The setup.py is located in the root directory, `./shogun-shogun_6.1.3/setup.py`)

[2020-05-20 09:25] #5039 closed, assigned to nobody

[2020-05-20 09:29] karlnapf commented on #5040
@Dawntown `setup.py`is outdated and should not be used to compile shogun. You will need to follow the instructions in the manual and read the error messages.

@gf712 @vigsterkr would you mind if we removed it actually? Causing lots of noise ....

[2020-05-20 09:29] #5040 closed, assigned to nobody

[2020-05-20 10:34] Dawntown opened #5041 "H file missing when compiling shogun"
I follow the [install manual](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#manual) to compile shogun manually. I'd like to install it in anaconda env, so the following steps were taken.
[code]
Then, the [h file missing error info](https://gist.github.com/Dawntown/40be215bf0f27a8486dcdde800f79db3) showed up.
[code]
I have no idea how to fix it. Could you do me a favor

[2020-05-20 11:02] gf712 commented on #5041
This is *probably* because the detected compiler is gcc provided by anaconda, which then doesn't lookup for the files in you root directory (it uses /anaconda as it's root), where I assume you have spdlog installed already. Easiest fix is to clean build directory, `conda deactivate`, rerun cmake and build. If that doesn't work then you should disable the detection of spdlog and let shogun fetch it

[2020-05-20 11:11] gf712 commented on #5041
Actually, even better, set the CC and CXX environment variables. In the bash shell you are compiling (before running cmake):
[code]
And now it should work fine even with the conda environment active

[2020-05-20 12:28] Dawntown commented on #5041
@gf712
The root's gcc and g++ seem very old. Their versions are both v4.8.5, which were reported as broken and disable to compile a simple test program by checking process. You can find the completed log info [here](https://gist.github.com/Dawntown/4a563100415aad6552be016536c98a2b).
[code]
As a normal user, it seems to be hard to modify the root gcc and g++. In fact, I have updated the gcc and g++

[2020-05-20 12:35] gf712 commented on #5041
Do you know if you have spdlog installed? It would be somewhere in /usr/local/include

[2020-05-20 12:42] Dawntown commented on #5041
@gf712 Yes, if you mean in the anaconda env, but perhaps no, if in the root directory, at least I cannot find it.

[2020-05-20 13:01] gf712 commented on #5041
That is odd. I just  tried on my machine to compile with the anaconda spdlog and it worked fine...Did you ` conda install -c conda-forge spdlog ` in the active conda env?

[2020-05-20 14:39] Dawntown commented on #5041
@gf712
I tried `conda install spdlog`, and it returned `# All requested packages already installed` but the same compiling error occurred. Consequently, I determined to create a new environment because of that the previous multiple tries have inevitably brought some latent barriers against compiling correctly. These are the installation steps.
[code]
Now, the compiling moves on successfully but so

[2020-05-20 14:43] gf712 commented on #5041
you should do parallel compilation btw, `make -j NUM_CORES`, where NUM_CORES is the number of cores you can use to compile, with `make -j4` it should take an hour in total on modern laptop. Also if you are just going to train models, rather than develop the tool, make sure you are compiling in release mode with cmake (you can lookup online how to do that)

[2020-05-20 14:45] gf712 commented on #5041
Glad it is working now though!

[2020-05-21 01:42] Dawntown commented on #5041
@gf712 Still, the compiling finally failed... My heart broke...
[code]
I have modified the options of `cmake` and `make` as you mentioned.
[code]
Then, I downgraded the python to v3.6 in `sg` env and tried again. There popped up another error...
[code]

[2020-05-21 06:04] gf712 commented on #5041
You’re going to have to show the actual error. Can you paste the whole output on pastebin please?

[2020-05-21 06:56] Dawntown commented on #5041
[This](https://gist.github.com/Dawntown/22c3079feb56fa0e5e1c7215c7c7180a) is the whole output log I can find in the terminal history buffer.

[2020-05-21 07:23] gf712 commented on #5041
You need to provide the whole output. Just run `make -j8 > output.txt` and share output.txt. The swig generated file is huge so it will emit lots of warnings.

[2020-05-21 08:05] Dawntown commented on #5041
I just rerun `make`, and updated the [link](https://gist.github.com/Dawntown/22c3079feb56fa0e5e1c7215c7c7180a) above. You can see the very whole output [here](https://gist.githubusercontent.com/Dawntown/22c3079feb56fa0e5e1c7215c7c7180a/raw/2a21eac4030ee627b3cf8c4a9d39b19385ca61d6/make_with_py36.log).

[2020-05-21 09:02] karlnapf commented on #5041
Note that if you try to compile shogun in 8 threads, your computer will likely crash ;)

[2020-05-21 09:05] karlnapf commented on #5041
[code]
Seems like your c++ setup is broken.
BTW the error seems to happen when the cpp meta examples are compiled, which happens *after* libshogun itself. Try disabling them `-DDISABLE_META_CPP=ON`. I see you enabled the python interface... the python examples will still be available with the above switch

[2020-05-21 09:17] gf712 commented on #5041
It seems like glibc provided by conda is missing some symbols.. Usually you would use the system library on a linux distro(and have an update that, but @Dawntown says he isn't root on the machine)
Anaconda libstdc++.so symbols:
[code]
I think you have two options: compile glibc and then add that to your LD_LIBRARY_PATH or use shogun's dev docker image to compile the latest shogun.

[2020-05-21 09:26] Dawntown commented on #5041
In fact, I do have these symbols.
[code]

[2020-05-21 09:36] Dawntown commented on #5041
I am compiling it again with `-DDISABLE_META_CPP=ON`. Thanks for your friendly reminding @karlnapf Please don't worry about that, I am using a computing cluster.

[2020-05-21 09:46] gf712 commented on #5041
But you will still need the symbols to link libshogun to the python library _shogun.so, no? If not you are probably going to have a runtime error

[2020-05-21 10:04] Dawntown commented on #5041
Compiling was completed, and it can `make install` smoothly. However, in python, the `SVRLight()` is still missing...
[code]
Does that mean the only solution is to install docker? Or how can I link libshogun to the python library _shogun.so?

[2020-05-21 10:07] gf712 commented on #5041
that is because we use a factory pattern now. `sg.create_machine("SVRLight")`. Hope it works!

[2020-05-21 10:31] Dawntown commented on #5041
Yes! That works! Thank you very much! @karlnapf @gf712  Do you offer the newest tutorial? I realized that [the example I referred to](https://www.shogun-toolbox.org/examples/latest/examples/regression/multiple_kernel_learning.html) very differs with this version. Thank you again!

[2020-05-21 10:35] gf712 commented on #5041
you should be able to build the docs locally. You can also look at the examples generated in your build directory `build/tests/meta/generated_results/python/`

[2020-05-21 12:30] Dawntown commented on #5041
I found it. The examples are located in `build/examples/meta/python/`. They work very well. Thank you :D

[2020-05-21 15:40] gf712 opened #5042 "Add public class members with the parameter names in each SGObject class"
Currently we register parameter names using `SG_ADD(&class_member, "name", "parameter description")`. The problem is that changing the registered name (in this case "name") results in issues everytime we refactor the parameter names. To address this issue the class should register a `static constexpr std::string_view kParam = "name"` that should be used to register the class name.
If we ever need

[2020-05-22 07:43] craftyshark opened #5043 "AppVeyor CI build link for Windows packages not working."
When going the App Veyor CL link (https://ci.appveyor.com/project/vigsterkr/shogun) in INSTALL.md under the windows Ready to Install packages, the page says project not found or access denied.

[2020-05-22 07:45] gf712 commented on #5043
Hi, we don't use AppVeyor anymore. We only use [Azure Pipelines](https://dev.azure.com/shogunml/shogun/_build?definitionId=2) for all the builds.
Someone should fix the documentation.

[2020-05-22 07:52] craftyshark commented on #5043
Well, shoot, I guess I'll take that part out. I guess that'll be my first little contribution. Thanks!

[2020-05-22 07:52] #5043 closed, assigned to nobody

[2020-05-22 07:52] gf712 commented on #5043
Thanks!

[2020-05-22 08:57] #5041 closed, assigned to nobody

[2020-05-23 09:29] gf712 opened #5045 "Should put and get do implicit conversions?"
When we call `put` and `get` we expect the cast types to match exactly:
https://github.com/shogun-toolbox/shogun/blob/93a649bb9bacfd342875eae40115d37e74d1f0f8/tests/unit/base/SGObject_unittest.cc#L486-L487
However, does this make sense? In C++ it is valid for me to call a function with an implicit conversion:
[code]
Similarly, it is valid to implicitly cast a return type (so a getter can return in

[2020-05-24 09:08] JDchaudhary commented on #4563
I'm facing this problem, do you have any solution

[2020-05-24 09:09] JDchaudhary commented on #4563
I'm facing this problem, do you have any solution

[2020-05-24 09:16] JDchaudhary commented on #4563
I'm facing this problem, do you have any solution

[2020-05-27 21:06] karlnapf commented on #5045
I'd prefer if we had a more relaxed typing with the parameter framework. Then we also wouldnt have to do these horrendeous workarounds in swig that I added to avoid problems with this.
E.g. in java everything is a float64, in octave matrices with one element automatically get converted to scalars, 1.0 gets converted to int, etc.
I'd basically expect the same implicit casting as C++ compilers do?

[2020-05-27 21:09] karlnapf commented on #4563
still permission problems ....

[2020-05-28 15:04] gf712 opened #5047 "Chain SGObject::put"
I was wondering if it would make sense for `SGObject::put` to return `this` by reference? That way we could chain various put calls:
[code]

[2020-05-28 15:06] gf712 commented on #5045
I guess that means every arithmetic type can be casted to any other arithmetic type?

[2020-05-28 20:55] karlnapf commented on #5047
yep I think that would be nice

[2020-05-28 20:55] karlnapf commented on #5045
what happens in c if you do `int a = 3.4`?

[2020-05-28 21:18] gf712 commented on #5045
It depends. With -Wconversion you get a warning and I guess if you combined that with -Werror you get a compiler error. Without that warning the floating point type is floored, ie a=3

[2020-05-29 16:14] karlnapf commented on #5045
I see....mmmh. Probably we would want to follow the behaviour that we have in our build, i.e. without those flags?

[2020-05-29 16:32] gf712 commented on #5045
Yes, I agree. I think that at least all integer types should be implicitly converted between them using the safe conversion helpers we already have. The same for floating points. Just from int to float I am not sure about...

[2020-06-01 09:21] LiuYuHui opened #5049 "Class::method need to be refactored"
The current shogun Machine class store the label and the features, this implementation makes the class became stateful, it is great that refactor the Machine class and the derived class to became stateless.
The basic idea is that find all the method that accesses m_labels/m_features and use the parameters passed in instead.
[here](https://pastebin.com/cjNdVKr6) is all the class::method needs to be

[2020-06-01 09:29] karlnapf commented on #5049
This actually doesn't look that bad...everything is in the lines of `train_machine`, `solver`, `objective` and therefore will be easy as the refactor only needs to pass the labels to the method as a parameter. These methods typically don't rely on the machine being stateful but simple read the labels field

[2020-06-01 09:38] karlnapf commented on #5045
What I would do then is to have everything that doesnt loose information automatically. And then the ones which might loose information can simply print a runtime warning from shogun

[2020-06-01 09:57] gf712 commented on #5049
@karlnapf this is just for classifiers, there should be more coming up soon.

[2020-06-01 13:39] gf712 opened #5050 "Add temporary value support for zip_iterator"
Currently zip_iterator can only handle lvalues, but it would be nice to have it work with rvalues.
This would probably require quite a bit of template programming and refactoring `zip_iterator`.

What currently works
[code]

What should also work
[code]

Currently all the iterable objects passed to `zip_iterator` are stored by reference in a tuple to avoid copying them, but this means that `zip_it

[2020-06-01 17:13] karlnapf commented on #5050
Slightly more advanced entrance task for C++ geeks :)

[2020-06-02 13:57] Hephaestus12 opened #5052 "Add a Power Transform preprocessor to Shogun."
Like the [PowerTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PowerTransformer.html) in Scikit-learn or [boxcox](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.boxcox.html) and [yeojohnson](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.yeojohnson.html) in scipy.stats.

[2020-06-02 14:00] karlnapf commented on #5052
This shouldn't be too hard to add right?
You could have a go at this... (but let's first finish the poisson regression of course)

[2020-06-02 14:01] Hephaestus12 commented on #5052
Yes, I plan to start working on this after getting done with GLM. :)

[2020-06-04 11:11] gf712 opened #5054 "Label assertion and mapping in Machine"
Currently some classification algorithms check whether the input Labels are valid, e.g. the class labels are continuous `[0, 1, ..., n_classes-1]`, which leads to a lot of duplicate code.
These checks should be done by the Machine base class when training is performed. The Machine will then store the mapping of any Label input to an internal encoding, e.g. a binary classification task would map {1

[2020-06-04 11:15] karlnapf commented on #5054
a lot of the conversion code is inside the labels classes already, so can be re-used.
E.g. [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/labels/MulticlassLabels.cpp#L210) and [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/labels/MulticlassLabels.cpp#L244)

Also note that some of this code is already used within the old approach, where algorithm cl

[2020-06-06 10:25] #5050 closed, assigned to nobody

[2020-06-06 21:38] mmurrs commented on #873
Is this issue still open for contribution?

[2020-06-06 22:32] karlnapf commented on #873
You could have a go, but it is very low priority. I suggest to pick something else

[2020-06-06 22:42] mmurrs commented on #873
Ok, thanks for the quick response. Do you have a suggestion for a "good first issue" that would be better to work on?

[2020-06-06 23:12] karlnapf commented on #873
sort them by date and pick the most recent one, there are plenty of those ...

[2020-06-07 07:15] gf712 opened #5058 "Write a utility function to make a shallow copy of an SGObject"
Usually `SGObject`s are stored in `shared_ptr`, so when we perform a copy we just increment the control block refcount. We have a clone method to perform deep cloning, but this means we might be copying features, labels and weights, which is not always needed. This can be avoided by passing the respective [ParameterProperties](https://github.com/shogun-toolbox/shogun/blob/78cfc5f4ef6daf196819f9002

[2020-06-07 13:14] LiuYuHui commented on #5058
you mean like this?
[code]

[2020-06-07 13:16] gf712 commented on #5058
yup, and then find places where you can use it. You could also use the `make_clone` function instead, but it would be the same

[2020-06-07 13:21] gf712 commented on #5058
https://github.com/shogun-toolbox/shogun/blob/78cfc5f4ef6daf196819f900234be7d5455bc3a1/src/shogun/multiclass/tree/RelaxedTree.cpp#L299

[2020-06-07 13:22] gf712 commented on #5058
@karlnapf are those the flags you would expect a shallow copy to use?

[2020-06-07 13:31] karlnapf commented on #5058
yes, see in the xvalidation code.
But I would name it differently, it is not really a "shallow" copy, as some of the subobjects would be cloned. It is more like .... mmh not sure what a good name would be. But I think it is good to have this function (shouldnt be part of swig though)

[2020-06-08 07:42] geektoni opened #5060 "RandomForest segfaults once deserialized."
When using the python interface, if we serialize and then deserialize a `RandomForest` object, we will get a `segfault` if we try to call the `apply_regression` method from the deserialized object. See the code below for an example.

[code]

[2020-06-08 07:47] geektoni opened #5061 "RandomForest issue with apply() when using Python interface."
If we train a `RandomForest` object for a regression problem, the `apply()` method won't work as expected and it will throw the error below. If we use `apply_regression()` instead everything works perfectly.
[code]

Code to replicate the issue:
[code]

[2020-06-08 07:49] gf712 commented on #5060
Hmmm, I guess this is why the random forest meta example sometimes fails locally... Have you tried to run it in gdb yet?

[2020-06-08 07:50] gf712 commented on #5061
Hmmm, this should be fixed once someone picks up on #5054

[2020-06-08 07:52] geektoni commented on #5060
Nope, I still need to check properly.

[2020-06-08 09:40] geektoni commented on #5060
The stacktrace is the following:
[code]
It seems like we have some null pointer here...

[2020-06-08 09:49] gf712 commented on #5060
From what I can tell is that `m_root` contains a `nullptr`. It seems like that is the default value in the default constructor. And you can see that it says there that `m_root` has not been added to the parameter framework, so it is not being serialised. I am not sure why it is not being registered as an SGObject though? That should work fine.

[2020-06-08 12:41] geektoni commented on #5060
Thank you @gf712 for the insight!

[2020-06-09 08:55] geektoni commented on #5060
If we add `m_root` as a parameter we will get the following messages once we try to deserialize:
[code]
The issue should be caused by this problem below here (taken from the source code).
[code]

I am not super familiar with the serialization framework, so are there any possible ways to make it work again?

[2020-06-09 08:59] gf712 commented on #5060
Hmm I see, it needs the template parameter. @vigsterkr I guess we need to replace `TreeMachineNode` with non templated version?

[2020-06-09 10:02] karlnapf opened #5062 "delete SGCachedVector.h"
file empty
super easy entrance task

[2020-06-12 09:34] Prishat commented on #5062
I would like to do it

[2020-06-12 09:36] gf712 commented on #5062
@Prishat go for it :)

[2020-06-12 09:46] Prishat commented on #5062
Prishat:patch-1

[2020-06-12 21:45] #5062 closed, assigned to nobody

[2020-06-14 08:29] #4996 closed, assigned to nobody

[2020-06-16 01:55] mr3543 commented on #5047
hey I was having a look at this issue and thought I might be able to help. I was under the impression `create<Kernel>("GaussianKernel")` would return a `std::shared_ptr<Kernel>` so chaining the put calls would have to look something like

`auto k = create<Kernel>("GaussianKernel")
->put("log_width",1)
->put("cache_size",200);`

and `put` would have to return a `shared_ptr`. I just started looking

[2020-06-16 06:01] gf712 commented on #5047
Yup, that’s correct :) so you would probably have to return something like shared_from_this() in put

[2020-06-16 11:40] mr3543 commented on #5047
cool, thanks!

[2020-06-16 20:16] mr3543 commented on #5047
I tried making the change but there are a few test cases (358,432,443,470,476) that make objects without shared pointers and call `put`. These throw a `bad_weak_ptr` exception, see https://stackoverflow.com/questions/27697973/shared-from-this-causing-bad-weak-ptr.

I can try to change the instantiation in these test cases, but wasn't sure if that's something the team is ok with.

[2020-06-16 21:10] gf712 commented on #5047
Hmm, try to get it to run and send a PR and then we can have a look :)

[2020-06-17 10:36] #5003 closed, assigned to nobody

[2020-06-17 11:14] gf712 opened #5070 "Replace Math::fequals with new utility function"
We are in the process of dropping `Math.h` and one of the more commonly used operation there is `fequals`, which checks if the difference between two values is less than the type's `epsilon`. The task is to write this as a free function, probably in a new file in the `util` directory and drop `Math::fequals`.

[2020-06-17 11:18] gf712 commented on #5070
@karlnapf @vigsterkr I am assuming we should also remove `fequals_epsilon` in env in favour of `std::numeric_limits<T>::epsilon`?

[2020-06-17 17:10] karlnapf commented on #5070
there are some issues: CMath is stateful and the `fequals_epsilon`is modified in some testing parts. I am not sure that is still the case (it was basically to decrease accuracy temporarily in the integration testing without having to pass the epsilon down through 10 functions). Given that serialization now works differently (and should be lossless?), the epsilon is never changed. In that case I ag

[2020-06-21 01:47] azev77 opened #5073 "Julia interface"
Hi and thank you for this package.
Is there any chance you will consider implementing a Julia interface?
We'd love to have access to your stuff!

[2020-06-21 06:36] gf712 commented on #5073
Hi, it’s something we want to implement at some point, but there is no timeline. We are working towards a factory pattern API, which makes it much easier to expose shogun to other languages. But until that is complete we will probably not have great support for Julia. If you’re interested have a look at shogun-rust. We would probably use a similar approach.

[2020-06-21 13:23] karlnapf commented on #5073
We tried to connect with the Julia community a few times, propose a joint effort in building a swig backend for julia. But we didn't meet that much interest, presumably because the shogun API is not really julia-nic. It also was a few years back and things might have changed since then.

These days probably the approach that @gf712 mentioned above would be preferred over another swig binding ... b

[2020-06-21 13:24] karlnapf commented on #5073
PS I guess you know that MLPack has a julia interface?

[2020-06-23 06:37] #5009 closed, assigned to nobody

[2020-06-29 08:33] gf712 opened #5085 "Remove SVM from interfaces"
Currently we expose SVM to interfaces, but this is somewhat redundant as we expose `Machine` (and `SVM` is a `Machine` derived class). This was just a hack to make sure that only SVM types can be passed with `put` to objects expecting an `SVM` parameter. But now we can test at runtime if the object being `put` can be casted to the expected type:
https://github.com/shogun-toolbox/shogun/blob/f143ea

[2020-06-30 08:02] karlnapf commented on #5085
That is no problem, we can expose that lazily via `get` and functions that take no arguments (I think).

Note we can also remove the `as_*` functions in the swig interface

[2020-06-30 08:18] gf712 commented on #5085
The issue is that those functions require `Labels` and as we are making `Machine` stateless wrt to `Labels` we will have to pass labels as an argument to these functions? That would not be possible with the current get/put functionality, but could be done with a free function?

[2020-06-30 08:32] karlnapf commented on #5085
ah! crap! :)
TBH I don't think it is such a problem.... I would actually just not expose it for now.
But these cases require a solution eventually ...

[2020-06-30 08:48] gf712 commented on #5085
Would it be possible to just compute those values when `apply` is called or is that too much unnecessary overhead?

[2020-06-30 08:58] karlnapf commented on #5085
they are computed anyways when fitting the model.
But how would you compute them in apply? Would you store them? Dont think that is any different from storing the labels

[2020-06-30 09:10] gf712 commented on #5085
The only use case I found of this in the library is in a notebook, where we get the objective values from training labels, not from new labels. But I guess if you want to compute it for new labels then this should be a metric class with an evaluate method (I know it might not make a lot of sense to call this a metric), or a free function `compute_svm_primal_objective(svm, labels)`?

[2020-06-30 09:29] karlnapf commented on #5085
Just realised, the solution is an observer

[2020-06-30 09:29] karlnapf commented on #5085
@geektoni

[2020-06-30 10:29] geektoni commented on #5085
Just to understand better, do you need to expose just computed values or directly a function which needs to be called by the user? :)

[2020-06-30 11:31] gf712 commented on #5085
@karlnapf I guess the idea is that these values are observed and you emit the observation when calling `train`/`apply`? I guess then it would be the values that are exposed, because a function would require updating the labels in the SVM, which would make it stateful wrt to labels again.

[2020-06-30 13:23] karlnapf commented on #5085
The observer would know that the user wants to access the objective values. It then simply stores them. During training, a needs to be omitted to the observer, which then checks whether it wants to store it, and if so, it calls it. Alternatively (as I think the objective is always computed during the training loop), can just emit it always...
I think this doesnt have priority though, so it shouldn

[2020-07-01 09:14] Hephaestus12 opened #5087 "when compiling: fatal error: Eigen/Eigen: No such file or directory"
This has been there for a week now. I have tried installing Eigen, running CMake again in a new directory, but still, this error persists. When I checkout an older commit and run it, it seems to compile fine.
I am trying some way with symlinks as someone on IRC suggested, but not entirely sure how to proceed. Any suggestions as to what I can do?

[Output](https://pastebin.com/KDM0sKzK) on running

[2020-07-01 09:19] geektoni commented on #5087
To make this issue more informative, we need more information about which steps you have performed (cmake command output) and the complete error message you are getting once you run `make`. It would also be useful to know which is the older commit that still works for you, so we can understand which are the changes that were applied in the meantime.

[2020-07-01 09:20] Hephaestus12 commented on #5087
[Output](https://pastebin.com/KDM0sKzK) on running cmake ..
[Output](https://pastebin.com/7aEYES5T) on running make

[2020-07-01 09:30] geektoni commented on #5087
We need the full cmake output. Namely, create a new build directory and run cmake from there.

[2020-07-01 13:30] Hephaestus12 commented on #5087
[Output when running cmake in fresh directory](https://pastebin.com/7fYqFMM0)
[Output when running make in fresh directory](https://pastebin.com/gdtK3R25)

[2020-07-01 15:41] karlnapf commented on #5087
this is not an eigen error but related to spdlog .... fmt being mentioned.
@gf712 any ideas?

[2020-07-01 15:56] gf712 commented on #5087
Indeed, what version of spdlog do you have locally?

[2020-07-01 16:02] Hephaestus12 commented on #5087
[code]

[This](https://pastebin.com/Y6LK7dri) is the entire log message:

[2020-07-02 07:45] kaigu1997 opened #5088 "model selection?"
I am a beginner to shogun. When I am looking for example of hyperparameter optimization of gaussian process, the cookbook tells me to using gradient model selection. (in meta examples no optimization provided) However, with the newest update, there is no model selection folder, with all the files in it being removed.
So what should I do? I checked all the meta examples but none of them mentioned a

[2020-07-02 08:14] kaigu1997 commented on #5088
I have seen a folder named optimization, but no meta example mentioned about that, so idk if I could use that to do the model selection (i.e. hyperparameter optimization).

[2020-07-02 08:18] gf712 commented on #5088
Hi, we have currently disabled the model selection module in shogun because it was not compatible with some recent changes. We are currently working on bringing it back!

[2020-07-02 08:19] gf712 commented on #5088
If you want to use a stable version of shogun please use a release. The model selection stuff is only disabled in the development branch.

[2020-07-02 08:27] kaigu1997 commented on #5088
Thanks for your reply. I guess I would use the 6.1.4 release now, and hope 7.0.0 could be coming soon :P

[2020-07-02 08:27] #5088 closed, assigned to nobody

[2020-07-03 04:35] 5aumy4 commented on #5070
Hello! I am new to open source contributions.Can I do some help ?

[2020-07-03 05:41] 5aumy4 commented on #5058
I am new to open source development.
Can I do any help?

[2020-07-03 10:26] ritikavar commented on #4990
i am beginner how can i solve my first issue

[2020-07-07 12:33] jonpsy opened #5090 "Refactor Preprocessor"
The preprocessor classes have a few redundant features which need cleanup. I'll list them below for convenience

- ```m_fitted``` is scattered around throughout the code, which could prove to be fatal.
-  The ```cleanup()``` method should be removed as objects are destroyed automatically with smart pointers
-  ```fit()``` method could be split into two, namely, ```fit()``` and ```fit_impl()``` whe

[2020-07-07 14:07] Raghibshams456 commented on #5070
is anybody is doing or done something on this issue .?...

[2020-07-07 14:55] karlnapf commented on #5070
nope :)

[2020-07-08 22:32] javiermaldonadoc opened #5092 "Error in compilation: SG_CONSTRAINT"
I'm trying to compile the latest version (develop) and shows this error:
shogun/src/shogun/preprocessor/RFFPreprocessor.cpp:26:17: error: ‘castable’ was not declared in this scope
   26 |   SG_CONSTRAINT(castable<ShiftInvariantKernel>()));

[2020-07-09 02:32] LiuYuHui commented on #5092
@javiermaldonadoc could you give the complete error message?

[2020-07-10 14:36] javiermaldonadoc commented on #5092
i've solve this issue after erase all my local copy and reinit the local repo. I think my local copy was broken somehow.... Thanks!

[2020-07-10 14:36] #5092 closed, assigned to nobody

[2020-07-11 08:40] gf712 commented on #5087
@Hephaestus12 I think this has been solved right? The problem was that it was using an old shogun installation, and the Eigen config file was still there, but the Eigen directory that it pointed to was gone.

[2020-07-11 08:40] #5087 closed, assigned to nobody

[2020-07-13 15:06] #4219 closed

[2020-07-15 09:17] karlnapf commented on #4797
.

[2020-07-15 20:47] digantamisra98 commented on #4797
Thank you, I'll get back on this.

[2020-07-19 19:18] #5090 closed, assigned to jonpsy

[2020-07-19 19:18] karlnapf commented on #5090
Thx!

[2020-07-28 19:53] Arcane192 opened #5102 "Python Anaconda Manual Installation Shogun"
Hallo i have followed up your instructions to install Shogun manual. Installing it the other way there is a licence issue with SVMLight and i cant import it from python.

So as i read the way to have all packages available is to install it by this way:

[code]

But cmake this gives me this output:
[code]

I have Numpy installed. Any idea how to solve this?

Thanks!

[2020-07-29 10:39] karlnapf commented on #5102
is numpy available as an import within the conda environment you are running from. Try `import numpy` in a Python interpreter

[2020-07-29 19:23] Arcane192 commented on #5102
Hi karlnapf,

[code]

This is my output. I think numpy is installed correctly.

[2020-07-30 09:52] karlnapf commented on #5102
ok, another option you have is to explicitly pass the python environment paths to cmake when confguring shogun. Have a look here: https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#customized-python-environments-

[2020-07-30 12:54] karlnapf commented on #4814
bump

[2020-08-04 18:47] ellikamishra commented on #5030
I can try this!

[2020-08-16 13:00] AvidDrawer commented on #5070
I've looked into math.h and the simplest solution is to lift the fequals function there and add it into a separate function/header file. Doing that will account for the stateful-ness of math.h without diving deep to ascertain the current status of the serialization (presumably lossless).

However, this seems way too simple necessitating my question- would that suffice as a solution? If not, could

[2020-08-24 12:04] spiovesan opened #5115 "Error freeing memory LibSVM when exiting sample application"
I build shogun master on Windows 10 x64, VisualStudio 2019.
I built the sample classifier_minimal_svm, it works but I get this error exiting the application

    Critical error detected c0000374
    classifier_minimal_svm.exe has triggered a breakpoint.

    Exception thrown at 0x00007FFC395DB0B9 (ntdll.dll) in classifier_minimal_svm.exe: 0xC0000374: A heap has been corrupted
    (parameters: 0x00

[2020-08-26 16:45] SaurusXI commented on #4805
Sorry for the late response @gf712 - I have a bad habit of not checking my mail. I have distrohopped a bit sense then, and shogun seems to compile on my current build Arch without any issues. Not sure what the problem was, but I'll close this issue.

[2020-08-26 16:45] #4805 closed, assigned to nobody

[2020-08-27 21:21] spiovesan commented on #5115
I found that it is not a svm issue: every time a SGVector goes out of scope there is this error

[code]
[code]

[2020-08-28 08:42] vigsterkr commented on #5115
sorry for the late reply!
first of all what is the version you are trying to use? because in develop all the `SG_UNREF` calls are gone since we switched to smart pointers, so no need for those...

i had problems in the past to run shogun on windows, could you please share more info about your development environment?

SGVector and SGMatrix are autoreferenced, so if they go out of scope and nobody

[2020-08-28 11:40] karlnapf commented on #4609
idk, but I guess it would be easy to find out ...

[2020-08-28 11:40] karlnapf commented on #4398
bump

[2020-08-28 11:41] karlnapf commented on #4334
I think quite some stuff has been done, so closing.

[2020-08-28 11:41] #4334 closed

[2020-08-28 13:23] spiovesan commented on #5115
I am using Microsoft Visual Studio Enterprise 2019 Version 16.7.1 x64, Windows SDK 10.0.18362.0, using CMAKE generated projects.
Shogun toolbox is the master branch downloaded the 19 august.

Shogun project preprocessor defines are>
`EIGEN_NO_STATIC_ASSERT;DEBUG;CMAKE_INTDIR="Debug";%(PreprocessorDefinitions)`
Sample project:
`WIN32;_WINDOWS;DEBUG;_ENABLE_EXTENDED_ALIGNED_STORAGE;CMAKE_INTDIR="Deb

[2020-08-28 14:11] karlnapf commented on #5115
try the develop branch instead! :)

[2020-08-28 14:30] vigsterkr commented on #5115
@karlnapf unfortunately that will not work....

[2020-08-28 14:30] vigsterkr commented on #5115
@spiovesan i'm a bit puzzled... if you use master, how come you dont have SG_REF/UNREF calls in your code?

[2020-08-28 16:03] spiovesan commented on #5115
Sorry my fault, It was the `develop` branch (I got it with `git clone https://github.com/shogun-toolbox/shogun.git`)

[2020-08-29 06:19] vigsterkr commented on #5115
@spiovesan oh ok that is then rather interesting, coz as said i had trouble running code itself... the `classifier_minimal_svm` exit code error i might have an idea why that actually happens...

in case of the example you've given:
[code]

this is basically a simple function you've created and called? and once the function returns you get that error?

[2020-08-29 07:30] spiovesan commented on #5115
I deleted everything from that sample and wrote these few lines to verify that the issue is not related to anything else:
[code]
When the variables go out of scope leaving the brackets, you get the error in the `free(ptr)` call.

[2020-08-29 07:33] vigsterkr commented on #5115
ooooh 🐙
thnx for this! it's super helpful! are you sure that it's calling `free(ptr)`? because then i know why that is happening :)

[2020-08-29 08:41] shagho opened #5116 "Installation issue - make throws error while building tapkee_shogun.cpp.o"
Hi every body when i'm trying to compile shogun i get this error

my compiler is gcc 9.3.0 and system is ubuntu 20.04

[code]

[2020-08-29 10:23] spiovesan commented on #5115
This is the stack trace
[code]
and the debugger stops here, where line 186 is last brace in `src\shogun\lib\memory.cpp`:
[code]
`USE_JEMALLOC `and `USE_TCMALLOC `are undefined and then` free(ptr) `is used

[2020-08-29 13:49] #5116 closed, assigned to nobody

[2020-08-29 14:21] vigsterkr commented on #5115
so the solution is here: https://github.com/shogun-toolbox/shogun/pull/4927
basically the story is that the free is not the right call to deallocate aligned memory on windows

[2020-08-30 13:44] spiovesan commented on #5115
I manually changed the my cloned develop branch with your 868a7ab commit and it works. Waiting for the merge into the toolbox.

[2020-08-31 10:07] vigsterkr commented on #5115
@spiovesan that's great news! thnx a lot for this feedback!

[2020-08-31 10:45] OrkhanHI opened #5117 "Can not import KNN from shogun"
***import shogun as sg
from shogun import MulticlassLabels, features
from shogun import KNN***

[code]

[2020-08-31 21:54] #2844 closed

[2020-08-31 21:54] #4231 closed

[2020-09-01 10:36] karlnapf commented on #5117
Hi, is this the develop version? If so, you will have to do something like `import sg; knn = sg.machine("KNN")`

[2020-09-02 13:03] #4798 closed, assigned to nobody

[2020-09-04 21:58] ghost opened #5119 "Composite meta example causes memory leak in python"
I noticed while running the meta examples that the output of "composite.py" is
[code]
It seems that swig is unable to delete it for some reason.

[2020-09-05 11:55] theartful commented on #5047
@gf712
We can achieve chaining like effect in dynamic languages by using kwargs.
So
[code]
we can even modify python's put to return the same python object, so we can do
[code]

For C++ we can accept a list of pairs using template parameter packs
[code]
but it's not as attractive.

[2020-09-05 16:13] #5119 closed, assigned to nobody

[2020-09-07 03:18] ghost opened #5121 "OpenMP probably does not work with C++11 features (including std::shared_ptr)"
The example `cross_validation_support_vector_machine` fails with high probability (double free / segfault).
Running valgrind showed that the source of the problem is the function `evaluate_one_run` in CrossValidation. I reported this bug before, suspecting that the problem is `SG_REF` and `SG_UNREF`.
It turns out that openmp does not officially support C++11 features including `std::atomic` and `s

[2020-09-07 06:04] vigsterkr commented on #5121
thnx a lot for looking into this :( it's quite a sad news.... what's the compiler you've testing?

[2020-09-07 07:54] theartful commented on #5121
I'm using gcc version 9.3.0

[2020-09-07 08:35] theartful commented on #5121
Running valgrind on many of the examples reports "possibly lost" memory leaks. One of sources is OpenMP. For example DotFeatures::dot. I really don't get how this is the case, since openmp must use threading primitives, and shared_ptr control block is thread safe.

[2020-09-07 09:02] gf712 commented on #5121
OpenMP also has a lot of false positives in valgrind. That is because memory management is handled by the openmp runtime, which probably has some static initialisation of thread pools and valgrind cannot track all mem allocs/free. I think it is safe to assume that most the warnings related to openmp can be ignored. I think some projects add these OpenMP related warnings to the valgrid suppression

[2020-09-07 09:25] vigsterkr commented on #5121
we do have our suspension file: https://github.com/shogun-toolbox/shogun/blob/develop/configs/valgrind.supp

hasn't been updated in a while though

[2020-09-11 00:22] kaigu1997 opened #5123 "DenseFeature Constructor fails using const Eigen matrix"
I tried to construct a feature using matrix from Eigen, but the compiling fails. The src is
[code]
I am using Ubuntu 9.3.0-10ubuntu2 with the latest release of Shogun (6.1.4). Compiled with `g++ test.cpp -lshogun`, the error is
[code]
I noticed that the `DenseFeatures` class maintains its own matrix, so is there an elegant way to construct a feature from a `Eigen::MatrixXd`?
(I tried with construc

[2020-09-11 00:24] kaigu1997 commented on #5123
And I am curious about why the constructor of `DenseFeatures` uses a copy of `SGMatrix` instead of a const reference.

[2020-09-11 02:23] LiuYuHui commented on #5123
hi @kaigu1997, I think you can just construct a `SGMatrix` from a `Eigen::MatrixXd`, it will not waste extra time and memory, because there is only a shallow copy in here.
https://github.com/shogun-toolbox/shogun/blob/e2e8ae60d506e80251b771d309bae60920cff9af/src/shogun/lib/SGMatrix.cpp#L131-L139

same reason, there is only shallow copy.

[2020-09-11 02:54] kaigu1997 commented on #5123
This constructor of `SGMatrix` requires the matrix to be non-const, while in my case the function get a `const Eigen::MatrixXd&` parameter.
So in my case, I guess I could only make a copy, right?

[2020-09-14 05:39] tkunanuntakij opened #5124 "HTTPs Certificate for https://www.shogun.ml/ has expired"
The https certificate of shogun.ml went expired on Sep 9, 2020. I'm not sure if any maintainers aware of this already.

The screenshot from my browser.

![image](https://user-images.githubusercontent.com/1088880/93047597-10bc1180-f687-11ea-9891-c4077d155505.png)

[2020-09-17 13:50] #4368 closed

[2020-09-18 21:32] yuvraj2701 commented on #5070
Hi! Is anyone working over this issue? I would like to take it up if nobody is.
Thanks!

[2020-09-19 04:14] AvidDrawer commented on #5070
Go ahead. From the looks of it, I don't think anyone else is.

I'm stopped since it looked like a fair bit of work that might end up being unused if I end up in the wrong direction.

[2020-09-19 05:59] yuvraj2701 commented on #5070
Thank you
I am a newbie here. If possible could you please give me some direction/hints to help me get started and move forward with the task?

[2020-09-20 15:37] AvidDrawer commented on #5070
I'm not the best person for this. If you search for mathematics.h, you should be able to find the function that we are trying to replace. One potential solution is as I described/queried on the comment above.

[2020-09-22 22:34] #4947 closed, assigned to nobody

[2020-09-23 09:05] Matthewlliu commented on #4741
Hello,

I am installing the Shogun 6.1.4. When I directly running the cmake, it tells me "Shogun can only be built with GPL codes if the source files are in ~/shogun-shogun_6.1.4/src/gpl.  Please download or disable."

I saw your issue that you have solved the gpl code problem. Currently there is nothing under the /src/gpl folder, so I wonder where to download the gpl code?

Thanks.

[2020-09-26 11:25] AlexBinder commented on #4741
Hi Matthew,

the current develop branch with the current shogun-gpl (https://github.com/shogun-toolbox/shogun-gpl) does not compile for me, however

6.1.4 compiles for me with (from above) https://github.com/shogun-toolbox/shogun-gpl/tree/29ca2ff930cd5d963b3a78e79160cc04d48970c2

that needs some preparations on an ubuntu:

--sudo apt-get install protobuf-compiler libeigen3-dev libjson-c-dev libjso

[2020-09-28 05:55] justdvnsh commented on #5042
Hi @gf712 . I am new to Shogun. I'd  like to start contributing to shogun with this issue. Can I be assigned this issue ?

[2020-09-28 05:58] justdvnsh commented on #5070
@karlnapf @gf712. Hi, I am new in shogun and want to start contributing. Can I be assigned this issue ?

[2020-09-28 08:40] yuvraj2701 commented on #5070
Hey
I am still working over it

[2020-09-29 15:23] spiovesan opened #5128 "Converting code from 6.1.4 to develop branch"
I am using some example written for Shogun 6.1.4 with the develop branch and I am having some issues. I can handle class name changes, use of shared pointers but some functions look disappeared as `SGMatrix<T>::transpose_matrix() `and `SGMatrix<T>::submatrix()`. Is there some documentation how to port the code from 6.1.4 to current branch?

[2020-09-29 21:43] karlnapf commented on #5128
Hi
Yes that’s gone. All languages that you can use shogun from have that functionality. Which one are you using? In c++ this can be done using e.g. eigen3
If you show some snippets we can give pointers
There unfortunately is no guide for porting atm (7.0 not released yet)

[2020-09-29 22:00] spiovesan commented on #5128
Hi,
[this ](https://github.com/PacktPublishing/Hands-On-Machine-Learning-with-CPP/blob/master/Chapter04/shogun/shogun-cluster.cc) is the code sample I am trying to convert:

        auto csv_file = std::make_shared<CSVFile>(dataset_name.string().c_str());
        Matrix data;
        data.load(csv_file);

        // Exclude cluster and index info from data
        // Shogun csv loader loads matrix

[2020-09-30 19:51] #4969 closed, assigned to nobody

[2020-10-02 22:39] #4975 closed, assigned to nobody

[2020-10-04 13:52] gf712 commented on #5042
hi @justdvnsh, go for it!

[2020-10-05 20:10] spiovesan commented on #5115
I found a new issue in the classifier_mklmulticlass.cpp sample.
It gets some weights from here at line 294

    float64_t* weights=tsvm->getsubkernelweights(numweights);
but that function allocates memory data in mkl\MKLMulticlass.cpp at line 436 with a `new`

    float64_t* res=new float64_t[numweights];
then with the changes in SGVector.cpp we did
[code]
the dtor fails to free the `new `allocate

[2020-10-06 18:00] #4987 closed, assigned to nobody

[2020-10-08 15:34] yuvraj2701 commented on #5070
@karlnapf @gf712 can you please tell whether the other methods of Math.h (which are used by fequals function like abs<> ,fequals_abs, etc.) need to be moved to the same new file or to some other file or they should be kept in Math.h itself?

[2020-10-09 07:21] gf712 commented on #5070
Hi, sure, those can be moved as well. Easiest is to start a PR and can take it from there.

[2020-10-09 21:07] theartful commented on #4870
Homebrew on MacOS upgraded to Eigen 3.3.8, so I guess we need to address this issue.
https://formulae.brew.sh/formula/eigen

[2020-10-10 09:59] yuvraj2701 commented on #5070
@gf712  I have started a pr  (#5130) .
Not sure about why the tests are failing. Can you please guide me?

[2020-10-18 12:15] #5005 closed, assigned to nobody

[2020-10-20 12:07] #4788 closed, assigned to nobody

[2020-11-09 00:16] yiransii commented on #5042
Hello! Is this issue still open? If so I would like to work on this issue.
I looked at the latest codebase, and it seems that some of the SG_ADD methods were still using strings rather than static variables.

[2020-11-09 00:20] yiransii commented on #5042
^following my previous comment

If so, could you tell me what places/models need to have a static variable defined as in the example? Thanks!

[2020-11-09 00:25] yiransii commented on #5058
Hello! I looked at the source code, and SGObject is still missing the make_shallow_copy() method. I would like to work on this!

[2020-11-09 01:30] yiransii commented on #5058
^ following the previous comment...

I am trying to run some python example, but I was not able to find shogun.py, as listed in https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INTERFACES.md.
Can anyone help me with this?

thanks!

[2020-11-09 01:34] LiuYuHui commented on #5058
hi @yiransii, you need to enable python interfaces, like this ` cmake -DINTERFACE_PYTHON=ON ..`

[2020-11-09 02:19] devchilll opened #5131 "Eigen3.3.8 is not supported"
Hello, I am trying to build Shogun, but my Mac OS has Eigen3.3.8, and the Checklist has this error checking:
[code]

Any workaround? thanks!

[2020-11-09 03:48] yiransii commented on #5058
@LiuYuHui  Thanks! However, I am still having dependency issues. Namely, my machine has Eigen3.3.8, but seems like shogun only supports version <= 3.3.7 but eigen 3.3.7 source repo is no longer available (https://bitbucket.org/eigen/eigen/get/3.3.7.tar.bz2)

Any workaround this? Thanks!

[2020-11-09 06:01] yiransii commented on #4870
Yes! MacOS is using Eigen 3.3.8 and I cannot build the program. Any workaround? Thanks a lot!

[2020-11-09 07:31] LiuYuHui commented on #5058
@yiransii you can use this link, https://gitlab.com/libeigen/eigen/-/releases/3.3.7

[2020-11-10 15:16] GuoxinYin commented on #5030
Hello, is anyone working on this right now? If no, I can work on this!

[2020-11-10 19:27] GuoxinYin commented on #4913
I am still confused about how to solve this. Could you elaborate more? Thank you!

[2020-11-16 18:45] nalinwadhwa02 commented on #5070
Hello im new here and i would like to start contributing.
Is this thread still open/ not being worked on by anyone ?
If so I would also try to get my fingers wet :)

[2020-11-18 05:00] ahlraf opened #5132 "Python 3.8 not supported (ready-to-install package via conda-forge)"
Hi, I've been trying to install shogun on my Windows 10 via conda-forge

<conda install -c conda-forge shogun>

returns:

<Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadat

[2020-11-21 16:39] #5034 closed, assigned to nobody

[2020-11-26 09:22] ahlraf commented on #5132
Worked on changing environment, I think it's an issue with anaconda itself.

[2020-11-26 09:22] #5132 closed, assigned to nobody

[2020-11-28 13:20] ahlraf commented on #3555
Hi, new here :) I'm halfway through the task and super unfamiliar with Linux, could you give a couple pointers about compiling? Also, has INTERFACES.md been moved? Not sure I'm on the right track. Thanks!

[2020-11-28 15:40] sparkingdark commented on #4984
Is it still open @karlnapf

[2020-11-28 17:45] antoninschrab opened #5133 "Unbiased MMD estimate depends on the kernel matrix diagonal entries"
I am running into issues when trying to compute the unbiased (full) estimate of MMD^2 for a given kernel matrix in Python. The answer provided by shogun does not match the answer I expect to obtain. This might come from the following observation: changing the diagonal entries of the kernel matrix changes the value of the unbiased (full) estimate of MMD^2 returned by shogun which should not be the

[2020-11-28 21:56] karlnapf commented on #5133
Thanks for reporting this. I will try to have a look soon and get back.

Am Sa., 28. Nov. 2020 um 17:46 Uhr schrieb antoninschrab <
notifications@github.com>:

[2020-12-04 04:56] imsiddhant07 opened #5134 "Addition of Docker File"
Hello,
I noticed the repo does not have a 'dockerfile', If needed may I add one to the repo?

[2020-12-04 08:09] gf712 commented on #5134
Hi, there are two Dockerfile files in the repo:
1 - The shogun SDK that is used for testing. The image contains all required libraries to build shogun and most optional libraries.
https://github.com/shogun-toolbox/shogun/blob/develop/configs/shogun-sdk/Dockerfile
2 - The shogun Dockerfile. It contains the last major release of shogun, but this is quite outdated now.

You can also find these on htt

[2020-12-04 08:10] gf712 commented on #5131
Hi, I can try and build shogun with Eigen 3.3.8 and see if it works. If so I will bump the required Eigen version

[2020-12-04 18:23] siddhantjain07 commented on #5134
Thank you @gf712 for clarification.
So is any updating required/expected in point 2?

[2020-12-04 20:22] gf712 commented on #5134
No, it will be updated when we release again

[2020-12-05 04:34] siddhantjain07 commented on #5134
Ok, thank you for looking into it.

[2020-12-05 04:34] #5134 closed, assigned to nobody

[2020-12-05 10:03] imsiddhant07 opened #5135 "Installation issue with Ubuntu 20.04.1 LTS"
I tried installing the shogun ml package on Ubuntu, was following the steps instructed on [install.md](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md) and on the [website](https://www.shogun-toolbox.org/install#ubuntu).
I wanted to install and start working on the codebase, thought I could contribute. But it won't go past the installation step.
It says Shogun does not

[2020-12-07 08:38] gf712 commented on #5135
Hi, there's currently no release for Ubuntu focal. You could either install shogun with anaconda (I think you can install the last release that way) or compile from source.

[2020-12-07 09:43] siddhantjain07 commented on #3129
Hello, may I know the status of the issue?
If open may I work on it?

[2020-12-07 09:46] siddhantjain07 commented on #5052
@karlnapf may I take this up?

[2020-12-07 12:06] gf712 commented on #5052
@siddhantjain07 Go for it :)

[2020-12-07 12:52] siddhantjain07 commented on #5135
Hello @gf712, I tried building it from the [source](https://github.com/shogun-toolbox/docs/blob/master/INSTALL.md#manual) using the commands as it is
The `cmake ../` does not build the, stops with errors.
Then I tried building it from the repository itself but again cmake seems to have some issue.

Also, does shogun have any community forum for interaction with peers I tried communicating on IRC c

[2020-12-07 14:05] siddhantjain07 commented on #5052
Yes thanks, @gf712!
Could you please tell me, whether it should be
1. A class with methods
2. or a function within some preprocessing code.
and should the file be `.cpp` or a `.hpp`
Sorry if the doubts seem silly, but this my first time fixing some issue at something this big. Kindly bear with me :D

[2020-12-07 14:35] gf712 commented on #5052
This should be a class. No problem, have a look at other classes that inherit from Transform in https://github.com/shogun-toolbox/shogun/tree/develop/src/shogun/preprocessor, it should help get you started :)

[2020-12-07 14:53] gf712 commented on #5135
You'll have to see what the error is that cmake is returning. You are likely missing some dependency. The IRC channel is a bit quiet at the moment because all the devs (including myself) are busy with other projects and jobs. If you cannot resolve your issue feel free to open an issue/explain your problem here and someone will have a look and help :)

[2020-12-08 10:46] #5131 closed, assigned to nobody

[2020-12-08 13:39] #4475 closed

[2020-12-08 13:46] gf712 opened #5139 "Machine object should return a reference to themselves"
Machine object should return a reference to themselves (like in sklearn)
[code]
should be simply
[code]

This should be a simple fix in Machine::train signature, but it might break some code..

[2020-12-10 08:39] saurav935 commented on #5139
hi,
this is my first open source project contribution, can anyone please help me get started?

[2020-12-18 12:11] nitkannen commented on #5117
yes

[2020-12-22 11:03] sgayangi commented on #5139
Hey, I would like to work on this issue :) This is my first contribution so would it be ok if I fix one file and commit it just to make sure it doesn't break any code?

[2020-12-23 05:44] bandjhughes opened #5142 "Windows build documentation out of date"
The documentation near the bottom of the[ Installing Shogun page](https://www.shogun.ml/install#manual-windows) states:

 "Please see our [AppVeyor](https://ci.appveyor.com/project/vigsterkr/shogun) build. It is recommended to use "Visual Studio 14 2015" or "MSBuild"...".

However, the [AppVeyor](https://ci.appveyor.com/project/vigsterkr/shogun) link is broke.  Also attempting to configuring build

[2020-12-24 16:22] harshgeek4coder commented on #5032
Hey there, I think it would work better with python 3.7 and using anaconda package manager as an environment,
I guess v 3.8 has some sort of bug probably

[2020-12-28 01:12] LiuYuHui commented on #5142
Hi @bandjhughes, I think you can use this command
https://github.com/shogun-toolbox/shogun/blob/9b8d856971af5a295dd6ad70623ae45647a6334c/.ci/windows-steps.yml#L42
and we recommend using Visual Studio 15 2017 now.

[2020-12-28 08:35] pandeyanuradha commented on #5135
Hey, @gf712 @siddhantjain07 , could you find a workaround for that?
I was able to download it via anaconda, but am still not able to compile it from source, am not able to compile _make_.

[2020-12-28 12:08] siddhantjain07 commented on #5135
Hey @pandeyanuradha,
maybe you could try installing the dependencies that are pointed out when the cmake or make fails.

[2020-12-29 16:17] pandeyanuradha commented on #5135
Thanks for the quick reply.
@siddhantjain07 were you able to resolve it that way? I am still getting cmake errors. Also, I have installed shogun through anaconda, so is that enough?

[2020-12-30 06:09] jonpsy commented on #5139
@gf712 This issue seems stale, shall I take it up? I've already done 80% of the work. Some unit tests and integration tests are failing that's all.

[2020-12-30 07:48] pandeyanuradha commented on #5135
Hi @gf712,
This is the error that I am getting.
 `-- verifying file...
       file='/home/ubuntu/shogun/third_party/Eigen3/3.3.4.tar.bz2'
-- MD5 hash of
    /home/ubuntu/shogun/third_party/Eigen3/3.3.4.tar.bz2
  does not match expected value
    expected: 'a7aab9f758249b86c93221ad417fbe18'
      actual: 'd41d8cd98f00b204e9800998ecf8427e'
-- File already exists but hash mismatch. Removing...
-- Dow

[2020-12-30 08:52] gf712 commented on #5139
@jonpsy great! If you start a PR I can have a look.

[2020-12-30 08:53] gf712 commented on #5135
Hmm I thought I had fixed that error. Is that using the latest commit from the develop branch?

[2020-12-30 10:00] pandeyanuradha commented on #5135
@gf712 Yes. Is this some problem with the version of eigen?

[2021-01-01 04:26] pandeyanuradha commented on #5135
Hi @gf712 ,
I managed to compile shogun, and run the make command. Now, while running the make/ make install command, this is the error that I am getting:
-- Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE) (Required is at least version "1.8.6")
CMake Warning at CMakeLists.txt:411 (MESSAGE):
  Doxygen based documentation generation is enabled, but couldn't find
  doxygen.

  In order to turn o

[2021-01-01 06:10] UmarJ commented on #5135
@pandeyanuradha If you need python interfaces, you need the `python-dev python-numpy` packages on Debian/Ubuntu.

[2021-01-01 15:16] pandeyanuradha commented on #5135
Hey @UmarJ , there was a problem with the anaconda environment that I was using, and I was able to fix that issue. But now when I am trying to compile the .py files, this is the error that I am getting:
`AttributeError: module 'shogun' has no attribute 'read_csv'`
Any idea what's wrong?

[2021-01-02 13:20] UmarJ commented on #5135
@pandeyanuradha No idea, I only built the C++ interface.

[2021-01-03 14:12] pandeyanuradha opened #5146 "Attribute Error when running python scripts"
Hi,
When I am trying to compile the .py files, I am getting attribute errors:
[code]
and a few more, for a couple of functions. Does this mean shogun isn't installed properly? How to fix this?

[2021-01-04 13:36] jonpsy commented on #5123
SGMatrix just contains the pointer to the heap, and hence the pass-by-value.

[2021-01-04 14:16] jonpsy commented on #5058
Sounds fun! (and stale), Imma do it!

[2021-01-05 01:02] jonpsy commented on #5058
Help me out a litlte, so the problem is the current copy method, copies **everything** which may or may not be required. So we'd like to use ParameterProperties as flags to pick and choose what we want to copy?

If that's the case
I think our code should be something like

In the header file
[code]

[2021-01-05 10:44] jonpsy commented on #5047
Smells like #5139. I'll add this to my list. Although, I'm a bit worried about its implications in SWIG interfaces.

[2021-01-05 14:44] braceletboy commented on #4474
@karlnapf @lisitsyn
After going through the codebase I have realized that we have two types of parameters (correct me if I am wrong): Option-based (added using SG_ADD_OPTIONS) and Non-option based (added using SG_ADD). So, I am think of adding a function `randomize_parameter()` which roughly looks as follows - feed back is appreciated:
[code]

But, as you can see I was a bit stuck with the non-opt

[2021-01-06 10:04] hmzhangBio opened #5148 "shogunPYTHON_wrap.cxx.o error when install shogun"
I follow the install manual to compile shogun manually. I installed it in miniconda env. The following steps were taken

shogun_6.1.3 was downloaded

cd shogun-shogun_6.1.3
mkdir build
cd build

cmake -DCMAKE_INSTALL_PREFIX=/data12/hongmei/software/shogun/ -DPYTHON_INCLUDE_DIR=/data12/hongmei/miniconda3/include/python3.6m -DPYTHON_LIBRARY=/data12/hongmei/miniconda3/lib/libpython3.6m.so  -DPYTHON_E

[2021-01-06 18:28] hasini93 commented on #5060
Got a segfault as well deserializing a random forest using c++ (develop version and release 6.1.4). Same issue was presented in previous issues, latter discussed a workaround:

https://github.com/shogun-toolbox/shogun/issues/3481
https://github.com/shogun-toolbox/shogun/issues/4242

Is there any update to this issue?

[2021-01-08 02:01] hmzhangBio opened #5150 "Importing error of shogun installed with conda"
I installed shogun using "conda install -c conda-forge shogun". I can import it successfully in python environment. However, I got the following errors when I imported other classes of shogun

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'sg'

I'm wondering do I use shogun in a wrong way? Are there any examples showing how to use sho

[2021-01-09 14:34] gf712 commented on #5148
Is that the complete output? Are there no compiler errors when building shogunPYTHON_wrap.cxx.o?

[2021-01-11 04:11] pandeyanuradha commented on #5146
@gf712 Please help, I am still not able to fix this.

[2021-01-11 04:16] pandeyanuradha commented on #5150
Hey @hmzhangBio, I am facing the same error, could you get any solution for this?

[2021-01-11 06:04] hmzhangBio commented on #5148
Thanks for the reply!

Here are the whole output.

[  0%] Built target ShogunVersionProtobuf
[  1%] Generating version header
[  1%] Built target version
[  1%] Built target class_list
[  2%] Built target rxcpp
[  2%] Built target ChunksProtobuf
[  2%] Built target HeadersProtobuf
[ 68%] Built target libshogun
[ 68%] Built target shogun
[ 68%] copying SWIG files
[ 68%] Built target interface_pytho

[2021-01-11 08:47] gf712 commented on #5148
It seems like you have added flags to the compiler using environment variables? Which compiler are you using? What is the output of `echo $CPPFLAGS`?

[2021-01-11 08:50] gf712 commented on #5150
Hi, so Features is a class not a module. Features is the base class of all features .But that doesn't seem to be the issue.. What python version are you using?

[2021-01-11 08:59] pandeyanuradha commented on #5150
Hey, so the python version I am using is : Python 3.6.3 :: Anaconda, Inc.

[2021-01-13 03:46] hmzhangBio commented on #5150
@gf712 , Thanks for the reply! I use Python 3.6.7 installed from miniconda3.

[2021-01-13 06:49] hmzhangBio commented on #5148
Thanks a lot for the help.

I used gcc 5.4.0 and cmake 3.17.5 to do the compiling. I got nothing for echo $CPPFLAGS.

The errors were changed after installing swig to system. Please see below.

[ 67%] Generating shogun_doxygen.i
[ 67%] Built target python_doxy2swig
[ 67%] Linking CXX shared module _shogun.so
CMakeFiles/_interface_python.dir/shogunPYTHON_wrap.cxx.o: In function `shogun_CSGObject___

[2021-01-13 15:06] jonpsy commented on #5148
+1 to this, the main build python interface failed on mine as well

[code]

Using ccache compiler develop build

[2021-01-15 12:36] YashowardhanTripathi commented on #4563
just give permission of your cmake folder:-
Terminal command -
$ sudo chown -R username:username foldername

Still prob not resolved then try,

$ sudo chmod -R 777 foldername

Thanks

[2021-01-18 11:32] hmzhangBio commented on #5148
@gf712,  thanks for your patience to answer my questions. I was wondering could you please give me some suggestions to above errors? Thanks in advance!

[2021-01-18 11:48] jonpsy opened #5151 "Move applicable kernels inside Shift Invariant Class"
This issue address a part of my broader aim to add various kernel support inside RFF. The foundation of which is, to have kernels which are Shift Invariant. This repository has several such kernels, however, they don't derive from the SIV class.  My aim, through a series of PR, is to refactor such classes and subsequently add their support to RFF.

Here's a tentative list of kernels  I plan to ref

[2021-01-19 03:16] #4797 closed, assigned to nobody

[2021-01-21 10:41] jbensabat opened #5154 "CMAKE Build with MSVC windows 10 and GPL"
Hello
I am trying to build shogun with CMAKE for MSVC under windows 10
I have place the GPL code as requested in /shogun/src/gpl
but CMAKE does not find it
any help would be appreciated
best
jac

[2021-01-21 17:16] aryangulati commented on #5058
hey I am new to opensource How can I contribute @karlnapf @gf712

[2021-01-24 20:45] jbensabat opened #5155 "shogun c++ MSVC 2019 with eigen"
hello
I managed to build the lib but I See that all the examples depend of the availability of the HAVE_LAPACK define
I don't see that in the CMAKE structure
I have eigen and openblas
how can i make shogun load lapack or how can i make it use eigen instead ?
thanks
jac

[2021-01-26 09:23] jonpsy commented on #5151
@gf712 The repo already has Chi2Kernel, the only difference between AdditiveChi2Kernel and our current implementation is, we take the exponential & divide by width whereas AdditiveChi2 doesn't.

Shogun Chi2Kernel:
![image](https://user-images.githubusercontent.com/45007169/105825697-e3dd1b00-5fe5-11eb-907c-2822ad03fe3b.png)

Sklearn AdditiveChi2Kernel:
k(x, y) = -Sum [(x - y)^2 / (x + y)]

I was t

[2021-01-28 05:36] HarshBamotra commented on #4990
Hello, I tried solving this issue in some of the files which I have found but I don't know why it is not passing the checks in my pull request #5156. Can you help me with that why it is happening?

[2021-01-30 19:07] Shekharrajak commented on #4814
Hi Guys,

We are adding this idea in GSoC 2021 for SciRUby : https://github.com/SciRuby/sciruby/wiki/Google-Summer-of-Code-2021-Ideas

Interested people can reach out to SciRuby mailing list: sciruby-dev

[2021-01-31 05:12] AdityaNikhil opened #5157 "[Help wanted] Issue while installing shogun for windows"
I am trying to install shogun on my windows machine. I'm currently following the instructions as stated [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#windows-build-)

Almost all the steps are successfully executed and I'm especially encountering the problem from here,
![image](https://user-images.githubusercontent.com/30192967/106375220-6a13ab80-63b0-11eb-90e2-

[2021-01-31 06:54] AdityaNikhil opened #5158 "Possible to contribute code to shogun in python?!"
# 2 Questions

- How to contribute my code in python?!
- Are there any shogun libraries written in python, if yes, which are they?!

[2021-02-01 17:08] arya2910 commented on #5157
can you tell me how to install shogun in windows??

[2021-02-01 18:45] AdityaNikhil commented on #5157
@arya2910, just follow the instructions from [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md) according to your OS.

[2021-02-02 01:39] LiuYuHui commented on #5158
Hi @AdityaNikhil, the shogun is written in C++, expose its interface to python by SWIG, So I think we don't have much python code need to write.

[2021-02-02 09:17] arya2910 commented on #5157
@AdityaNikhil ,I got it:)
thankyou

[2021-02-02 11:36] #5102 closed, assigned to nobody

[2021-02-04 05:37] arya2910 opened #5160 "problem with developing.md"
[code]
I was following the steps according to shogun git development cycle but i am getting this output .can anyone help me with this

[2021-02-04 08:55] LiuYuHui commented on #5160
Hi @arya2910, you should first fork the shogun repo, then substitute `arya2910` for `YOUR_USERNAME`.

[2021-02-04 09:03] arya2910 commented on #5160
okay .i did it after this what??

[2021-02-05 04:47] arya2910 commented on #5157
Put these lines into the Anaconda Prompt:

`rem - Records comments (remarks); @rem - do not print command just its result (the rem result is empty)
`
Be careful cmake can search out of the build directory to load libraries thus remove other directories that contain the shogun sources

[code]

@AdityaNikhil can you tell me how to execute these lines.

[2021-02-05 13:56] AdityaNikhil commented on #5157
First of all, I hope you have managed to install a few things as per instructed [here](https://github.com/shogun-toolbox/shogun/blob/develop/doc/readme/INSTALL.md#windows-build-)(lines 1-4)
Now open the **anaconda prompt** and paste the above lines excluding the ones starting with **@rem**.

For example, exclude the first 2 lines and insert the 3rd line - **SET MAIN_DIR=X:\Path\To\Build**
Above, i

[2021-02-05 17:10] arya2910 commented on #5157
[code]
this is the error i got while executing CHDIR `/d %REPO_DIR%` this line

[2021-02-06 05:02] AdityaNikhil commented on #5157
You did not set your **REPO_DIR** location.
What did you set your **REP_DIR** location to?!

[2021-02-06 07:24] arya2910 commented on #5157
now i set my **REPO_DIR** loacation but now also its showing like this

[code]

[2021-02-06 07:31] AdityaNikhil commented on #5157
Not like that,
while you're configuring all the **SET** statements, like these,

- SET REPO_DIR=%MAIN_DIR%\shogun
- SET VENV_DIR=%MAIN_DIR%\envs\shogun
- SET CLCACHE_DIR=%MAIN_DIR%\clcache
- SET SourcesDirectory=%REPO_DIR%\build

You have to give a directory path in place of **%**.
Example,
- SET REPO_DIR=D:\Build\shogun
- SET VENV_DIR=D:\Build\envs\shogun
- SET CLCACHE_DIR=D:\Build\clcache
- SET

[2021-02-07 09:04] arya2910 commented on #5157
how to check that shogun is finally installed?? and how can i use it

[2021-02-07 10:07] AdityaNikhil commented on #5157
Run the shogun virtual environment and run a simple python script that includes **import shogun** statement in it.(Make sure to run the python script with the shogun virtual environment )

[2021-02-07 18:02] arya2910 commented on #5157
i did that only but getting  the same error everytime.

[2021-02-07 18:04] arya2910 commented on #5157
what's shogun virtual environment??

[2021-02-08 12:22] arya2910 commented on #5132
@ahlraf  i am also getting the same error. if you got the answer tell me please.

[2021-02-08 12:42] ahlraf commented on #5132
I think it's specific to anaconda. You could try to downgrade the version  [see here](https://github.com/conda/conda/issues/9004). What worked for me is creating a virtual environment, and installing shogun through conda there.
[code]

[2021-02-11 02:54] Jia1018 commented on #5139
Hello everyone. I am a student at the University of Chinese Academy of Sciences, and I am interested in this project. As a newcomer I would like to do something for the communinty, and I noticed that this issue with a "good first issue" label. I am interested in the current status of this issue. Were there any changes? What can I do for now?

[2021-02-11 02:57] jonpsy commented on #5139
@Jia1018  I've already made the changes in my PR. If you want, you can copy my PR and modify it a bit to answer the build failure. I'll close my PR when you send yours.

[2021-02-11 03:00] Jia1018 commented on #5139
ok, thanks a lot! I'll have a try.

[2021-02-11 03:00] Jia1018 commented on #5139
@jonpsy ok, thanks a lot! I'll have a try.

[2021-02-12 08:01] arya2910 opened #5161 "cmake configuration problem"
[code]

how to solve this error

[2021-02-12 08:02] #5160 closed, assigned to nobody

[2021-02-12 09:29] LiuYuHui commented on #5161
Hi @arya2910 I think the error message already provides you enough information which can help you solve this error, you can set `-DENABLE_DOXYGEN=OFF` and `-DLICENSE_GPL_SHOGUN=OFF` to disable the default setting.

[2021-02-12 09:43] arya2910 commented on #5161
i have done this and solved it. but i am having many more issue.
can you please tell me what are the examples i should run to test whether it is working or not. and how to run that examples and where. because everytime i run the example it gives me same error that you header file path has not included.

[2021-02-12 09:55] arya2910 commented on #5161
[code]

what should i do to this error

[2021-02-12 10:28] LiuYuHui commented on #5161
Could you provide the whole cmake output?

[2021-02-12 10:37] arya2910 commented on #5161
![Screenshot 2021-02-12 160534](https://user-images.githubusercontent.com/56691261/107757959-3d667900-6d4c-11eb-91a7-e3f00afd718d.png)

[code]

[2021-02-12 10:38] arya2910 commented on #5161
this is my output

[2021-02-12 10:41] LiuYuHui commented on #5161
oh, you develop shogun in windows? It seems like that there are some issues when you compile shogun on windows, so I recommend you run shogun on Linux(such as Ubuntu).

[2021-02-12 10:51] arya2910 commented on #5161
is there any other method to develop shogun on windows. should i change my OS from windows to linux??

[2021-02-12 11:01] LiuYuHui commented on #5161
you can use WSL2 which is a subsystem on windows.

[2021-02-12 12:29] arya2910 commented on #5161
if there is issue on c developing shogun with windows then don't you think we should change the install.md windows build??

[2021-02-13 12:27] arya2910 commented on #4514
is this issue still opened?? i want to work on this .as this will be my first contribution can you guide me a little how to start.

[2021-02-20 14:28] rajpratyush commented on #5139
@Jia1018 if this issue is still open I owuld like to give it a shot. I have experience in ml and also practice on Kaggle

[2021-02-20 14:52] rajpratyush commented on #4844
is this issue still open for work?
@vigsterkr

[2021-02-25 18:56] arya2910 commented on #2055
@tklein23 Is still anyone working on this issue. if not i want to take this up??

[2021-02-25 19:03] arya2910 commented on #2054
@tklein23 is anyone still working on this .if not i would like to take this up??

[2021-03-04 22:24] #4609 closed

[2021-03-04 22:24] #4398 closed

[2021-03-05 11:14] arya2910 opened #5164 "install shogun in google colab"
How can i install shogun in google colab because i tried installing shogun in my pc through windows and followed all the instructions but apparently it didn't worked.

[2021-03-05 11:32] arya2910 commented on #4990
can i work on this issue??

[2021-03-09 12:30] arya2910 opened #5166 "python interface error"
[code]

[2021-03-09 17:30] #5161 closed, assigned to nobody

[2021-03-14 13:07] martingkarlssonstudent opened #5167 "Linux fmt error"
Hi, I have made a manual compile to allow shogun to run on Linux Mint, producing an .so file. If I create a class in C++ and add:
#include <shogun/neuralnets/NeuralLayers.h>
I get errors of the type:
___
g++ -g -Wall -std=c++17 -o ann ann.cc -I/usr/local/include/shogun -lshogun -lfmt
In file included from /usr/local/include/shogun/base/constraint.h:10:0,
                 from /usr/local/include/sh

[2021-03-15 07:08] #5121 closed, assigned to nobody

[2021-03-21 04:23] wstutt2000 opened #5168 "https://apt.shogun.ml/ security issue"
I get the following error when visiting https://apt.shogun.ml/ in Firefox:

![image](https://user-images.githubusercontent.com/81062594/111893682-43e1c200-8a69-11eb-91ff-19b891246e24.png)

I get certificate errors when using the command
`conda install -c conda-forge shogun`

I suspect it is caused by the same problem.

[2021-03-22 08:04] #5124 closed, assigned to nobody

[2021-03-23 11:05] LutzWeischerFujitsu opened #5169 "build fails on AArch64, Fedora 33"
(base) [jw@cn05 build]$ make VERBOSE=1 -j1
/usr/bin/cmake -S/home/jw/shogun -B/home/jw/shogun/build --check-build-system CMakeFiles/Makefile.cmake 0
/usr/bin/cmake -E cmake_progress_start /home/jw/shogun/build/CMakeFiles /home/jw/shogun/build//CMakeFiles/progress.marks
make  -f CMakeFiles/Makefile2 all
make[1]: Entering directory '/home/jw/shogun/build'
make  -f src/shogun/CMakeFiles/version.dir/b

[2021-03-28 09:09] wstutt2000 opened #5170 "Trouble with make on Raspberry Pi 4"
I am trying to build shogun on a Raspberry Pi 4 B so I can run it from Python 3.7.3. I installed it with Add/Remove Software but that only installed it for Python 2.7.

Here is the output from`cat /proc/cpuinfo`:
[code]
Here is the output from `uname -a`:
`Linux raspberrypi 5.10.17-v7l+ #1403 SMP Mon Feb 22 11:33:35 GMT 2021 armv7l GNU/Linux`

I used ccmake to generate the make file.

I had proble

[2021-03-28 17:42] wstutt2000 opened #5171 "wstutt2000"

[2021-03-28 17:43] #5171 closed, assigned to nobody

[2021-04-05 16:01] #5128 closed, assigned to nobody

[2021-04-08 05:41] fdciabdul commented on #4563
they use windows

[2021-04-28 02:12] YuliZheng opened #5172 "Make fail on Ubuntu 20.04.1"
WHAT I DO
First thing first, I am not root on this machine, so I cannot use apt get to install shogun.
So I try
`git clone https://github.com/shogun-toolbox/shogun.git;
cd shogun;
git submodule update --init`,
However I got stuck in `git submodule` when it is cloning shogun/data.
I think this is mayby some internet issue (since git clone often fails in China), so I manually download shogun.tar.gz

[2021-05-09 07:24] raorashmi487 commented on #5157
Hi Aditya, were you able to solve this error, it looks like i am stuck at this point too.

[2021-05-30 02:52] anadon opened #5173 "Evaluate new code for inclusion for HMM solving"
Posted in IRC, but that room looks pretty dead.

I have a chunk of code good for computing Hidden Markov Models which may or may not be useful to Shogun.  If someone could take a look and tell me if it would be a good candidate for an addition, it would be much appreciated.  It is header-only, has its requirements and environment fully defined in guix, aims to be as constexpr as possible, builds w

[2021-06-04 08:19] #5133 closed, assigned to nobody

[2021-06-09 15:45] #2998 closed

[2021-06-23 22:03] #5061 closed, assigned to nobody

[2021-06-23 22:03] #5117 closed, assigned to nobody

[2021-06-24 02:00] #5073 closed, assigned to nobody

[2021-06-28 04:06] deto commented on #5135
@pandeyanuradha how did you get it to build?  I'm running into the same issue with the file from eigen bitbucket not existing.

[2021-06-28 08:02] pandeyanuradha commented on #5135
@deto Nope, I couldn't fix it. Unfortunately, this thread became very inactive. You can try degrading your version of Ubuntu from 20.04 to 18.04, that seems like the only feasible option to me.

[2021-06-28 15:52] deto commented on #5135
I don't know how the Ubuntu version would fix this, though, as the file that the build script tries to download just doesn't exist at that bitbucket location anymore.

I ended up using a conda environment to get it to build.  Had to make a separate environment as there are only conda packages for python 3.6 or lower but then it worked fine.

[2021-07-03 09:31] #5142 closed, assigned to nobody

[2021-07-11 13:12] #5123 closed, assigned to nobody

[2021-07-16 08:33] jaskiratsingh2000 commented on #5042
@gf712 I am just a beginner in the coding world but holds a good knowledge of C++ which is required here and am super interested to work on this issue. can this issue be assigned to me? That would really be great.

[2021-07-16 11:06] jaskiratsingh2000 commented on #5042
@gf712 I am on this

[2021-07-16 12:42] jaskiratsingh2000 commented on #5042
@gf712 I just want to know that what to do in the case where we don't have parameter name just like above "kweights"

https://github.com/shogun-toolbox/shogun/blob/9b8d856971af5a295dd6ad70623ae45647a6334c/src/shogun/machine/GLM.cpp#L35

[2021-07-16 12:58] jaskiratsingh2000 commented on #5042
@gf712 Please please assign me on this. That would really be helpful. Thanks!

[2021-07-17 21:58] #5146 closed, assigned to nobody

[2021-07-19 17:34] #5150 closed, assigned to nobody

[2021-07-25 11:53] #5148 closed, assigned to nobody

[2021-07-27 22:39] #5154 closed, assigned to nobody

[2021-07-31 00:40] #5155 closed, assigned to nobody

[2021-08-01 14:01] #5151 closed, assigned to nobody

[2021-08-04 05:01] #4814 closed, assigned to nobody

[2021-08-08 10:05] #5158 closed, assigned to nobody

[2021-09-14 05:56] #5164 closed, assigned to nobody

[2021-09-14 05:56] #5166 closed, assigned to nobody

[2021-09-19 00:51] #5167 closed, assigned to nobody

[2021-09-26 06:52] #5168 closed, assigned to nobody

[2021-09-26 19:00] #5169 closed, assigned to nobody

[2021-10-01 23:07] #5170 closed, assigned to nobody

[2021-10-06 11:51] cenit commented on #4870
any news here?
building shogun with Eigen 3.4 (now released, final version from 3.3.90 cited here), is broken...
I will look for a fix, but any hint would be very appreciated

[2021-11-02 19:33] #5172 closed, assigned to nobody

[2021-11-10 16:58] wave1122 opened #5178 "Build shogun on Windows 10 using Msys2"
I am trying to build Shogun on Windows using Msys2. I configured this build successfully: [https://www.dropbox.com/s/hy155bgj1u38pw5/msys2_a.png?dl=0]

However, the problem started when I typed 'make':  [https://www.dropbox.com/s/drs7aa5ix68vayd/msys2_b.png?dl=0]

I hope that some knowledgeable guy on this forum can point me a way to solve this issue. I would much appreciate it.

[2021-11-16 11:06] #5157 closed, assigned to nobody

[2021-12-08 23:44] #5173 closed, assigned to nobody

[2021-12-13 10:16] ParkSJ-91 opened #5179 "About CombinedFeatures"
Hi,

I want to test benchmark model that built based on Shogun, but actually I cannot find what version they used.

Only a hint is that they made their model based on python 2.6.

I know they used very old version.. but I should use this model.

Anyway, I installed python version 2.7.15 because I cannot access pip from python 2.6.

And I installed many versions of shogun including 5.0.0, 4.1.0, an

[2022-01-02 14:20] #5135 closed, assigned to nobody

[2022-01-11 19:24] mikofski opened #5180 "website certificate is invalid"
Hi,
Thanks so much for Shogun! Really great package! I just thought you should know that when I visit either https://shogun.ml  or https://www.shogun-toolbox.org/I get the following:
![image](https://user-images.githubusercontent.com/1385621/149007603-e08d8b7d-9791-4f42-b4be-6f1bce050768.png)

and this message:

![image](https://user-images.githubusercontent.com/1385621/149007679-0816978a-ba7b-429

[2022-01-20 16:56] Ishvina commented on #5042
Hi! I am in an intro to swe class that is requiring me to work on my first open-source project. I was wondering if this issue is still open and if so could I get help with my first contribution?

[2022-01-26 15:26] EMUL8ER commented on #4785
hi, is this issue open? I am a beginner, it'd be helpful if you elaborate what is in this issue :)

[2022-01-26 15:28] EMUL8ER commented on #4108
Hi  I am A beginer, could u assign this issue to me?

[2022-01-26 15:31] EMUL8ER commented on #3629
Hey want to know if this issue is still open? could you assign it to me?

[2022-03-08 08:47] hs094 opened #5182 "Inquiry about Google Summer of Code Application"
I am a Novice Open Source Programmer, I wanted to Inquire about the Possibilities of Application for Google Summer of Code with this Repo.

[2022-03-08 09:35] geektoni commented on #5182
Dear @iamhardikat11, thank you for your interest in the project! :) The project development is paused for the moment, so most likely we won't be part of GSoC this year.

[2022-03-09 10:58] iamhardikat11 commented on #5182
Ok.

[2022-03-09 10:58] #5182 closed, assigned to nobody

[2022-06-12 11:52] #5178 closed, assigned to nobody

[2022-06-20 03:17] #5179 closed, assigned to nobody

[2022-06-28 18:17] jjYBdx4IL commented on #2544
There is a vcpkg port for Windows. Would be great to have some CI running to make sure examples work fine there.

[2022-06-28 18:35] jjYBdx4IL opened #5183 "Examples are outdated"
Just tried to make the Newton example work against 6.1.4 under Windows. Does not even compile because of API changes all over the place. Would be great to have at least one C/C++ AI/DL package with working examples. Shogun was more or less my last hope as tensorflow's C API is incomplete.

[2022-07-31 13:17] #5180 closed, assigned to nobody

[2022-08-03 21:04] nawazishkhan1-nk commented on #4870
Any updates on this?

[2022-08-04 11:29] cenit commented on #4870
on vcpkg we manually fixed shogun to be compatible with eigen 3.4

[2022-09-02 17:24] droumis opened #5184 "Website Not Secure warning"
using mac os monterey and chrome v 104.0.5112.101

Website linked from github:
https://www.shogun.ml/

<img width="666" alt="image" src="https://user-images.githubusercontent.com/6613202/188205928-545bc904-2732-4dc3-b016-75876f4cd06c.png">

Website linked from [NumFocus](https://numfocus.org/project/shogun)
https://www.shogun-toolbox.org/
<img width="640" alt="image" src="https://user-images.githu

[2022-10-17 05:17] omidnabi opened #5185 "Frustrated with building shogun on RHEL9"
I'm having all sorts of issues building shogun on RHEL9. Is shogun supported on RHEL9?

Also is there a place where you document the version of supported dependencies? I installed the latest  version of eigen3 just to find out it was not compatible with shogun. The gpl stuff is also confusing for anyone building your code for the first time.