[2014-09-12 19:05] flaxter opened #2540 "Is CTensorProductPairKernel wrong?"
Either the documentation or the code or both doesn't match the paper I think it's based on (http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2275314/).

I think it should be:

[code]

Rather than:

[code]

The documentation should probably also cite that, or another appropriate, paper.

[2014-09-16 03:09] lambday opened #2541 "Ensure compile-time type compatibility"
This follows from an earlier discussion with @vigsterkr while designing feature selection framework. Presently in many places we have some specific functionality in the base with `SG_NOTIMPLEMENTED` or some `SG_ERROR` message and override this in _some_ of the subclasses. This leads to runtime errors in applications with incompatible types that has been compiled smoothly without giving any heads u

[2014-09-16 11:51] #1932 closed, assigned to nobody

[2014-09-19 08:04] #2519 closed, assigned to karlnapf

[2014-09-20 13:16] #2533 closed, assigned to nobody

[2014-09-30 08:08] jondo opened #2543 "README.md: Link to Quickstart is broken"
At https://github.com/shogun-toolbox/shogun, the displayed  README.md links to https://github.com/shogun-toolbox/shogun/blob/develop/doc/md/QUICKSTART.md, which is a broken link.

[2014-09-30 08:13] jondo opened #2544 "Provide a Windows installer"

[2014-09-30 08:29] #2543 closed, assigned to nobody

[2014-09-30 08:35] jondo opened #2545 "Remove the Changelog"
I just cloned shogun and got a 5 MB Changlog file, generated from Git. WTF? Please delete this redundant monster :^) Whoever needs this should just use `git log` or [browse/search GitHub](https://github.com/shogun-toolbox/shogun/commits/).

In earlier times (before commit 931e91 in 2011), this file contained hand-edited "What's new" information. This role is now taken by the NEWS file.

[2014-09-30 08:45] jondo opened #2546 "Remove easysvm tarballs from Repository?"
The tarballs in `applications\easysvm\dist` seem to be obsolete,because they became corrupted by commit f9a526 "fix trailing and before tab whitespace" in October 2013, and no one cared since.

[2014-09-30 08:51] jondo opened #2547 "Repair "whitespace-fixed" binary files"
Commit f9a526 "fix trailing and before tab whitespace" was not careful enough: it damaged e.g. the files in `doc\images`.

Maybe also other binary files were damaged.

[2014-10-03 06:35] yangtia1 opened #2548 "the method add_to_dense_vec is not available in CombinedDotFeatures in Python_modular"

[2014-10-13 13:37] AlexBinder opened #2549 "removing -DHAVE_PTHREAD leads to compile time error"
solution:

The solution which worked for me, was:

put in InputParser.h and ParseBuffer.h
# ifdef HAVE_PTHREAD

//pthread_code
# else

[code]
# endif

around the relevant code parts. furthermore ParseBuffer.h required a
# ifdef HAVE_PTHREAD
# endif

around some pointers with naming pthread_\* in the protected: section

This compiles at least, and whoever would use Vowpal wabbit, would get an error

[2014-10-15 06:16] johnny555 opened #2550 "Error compling version.cpp"
When compliling using CMake with python-module switched on under ubuntu 14.04 I get the following error:

[code]

[2014-10-24 07:22] karlnapf opened #2551 "Link wiki team page to website under team"
http://shogun-toolbox.org/page/about/ourteam
would be good to have a link to  https://github.com/shogun-toolbox/shogun/wiki/Developer_profiles

Fernando, I am assigning you, hope thats fine?

[2014-10-24 07:33] karlnapf opened #2552 "notebooks dont render latex in"
http://shogun-toolbox.org/static/notebook/current/Binary_Denoising.html

mathjax seems to be broken. Kevin, could you have a look here?

[2014-10-24 11:41] #2551 closed, assigned to iglesias

[2014-10-24 12:40] c3h3 opened #2553 "building docker image with newest shogun and ipython notebook"
Dear All:

I implemented Multiple Kernel Learning (with SILP approach) in 2009. At the same year, I found this incredible package --- shogun !!!

Since then, I also started to trace the information about shogun.

Later on, I also tried to implement Metric Learning (LMNN and NCA) for using in product maatching system in e-commerce in 2012 and Neural Network Algorithms for using in pattern recogniti

[2014-10-25 07:09] karlnapf opened #2555 "Monitor compile time and memory footprint on buildbot"
It would be great if you could have some statistics of the build process visualised in some form.
I.e. the memory usage of the swig command. And then print/plot this for every commit, which then allows to track major mistakes that blow up either compile time or memory.

Viktor, do you have any feeling for how much work such a thing would be? I mean not the plotting, but rather generating a file wh

[2014-10-25 07:11] karlnapf opened #2556 "Monitor execution time for unit tests"
It might be worth of tracking the runtime of each unit test over time for purposes of checking which commit made caused some code to run really slow. Like continuous performance testing

@vigsterkr I ask you again how much work this would be
@tklein23 is doing this in his company and it helps them a lot according to him

[2014-10-25 07:17] karlnapf opened #2557 "Check for includes in header files"
What about adding a simple check to cmake that scans all Shogun header files for includes that are not coming from Shogun? This way, we could for example avoid to have Eigen3 includes in headers -- Shogun just wont compile in that case. Would maybe save us some trouble

In fact, this is also an entrace task: remove all non-shogun includes from header files and move to implementation .cpp files

[2014-10-25 07:50] karlnapf opened #2558 "Clean up KMeans"
The class is very messy. Since the mini batch extension, things got worse
- Do a proper object oriented distinction between kmeans and mini batch  kmeans rather than handling everything in one class. Its two _different_ algorithms, and therefore should be in different classes (where one inherits from the other and only specialises some internals)
- Fix error messages and requires, see [here](https

[2014-10-25 08:10] karlnapf opened #2559 "CEMMixtureModel::log_sum_exp is redundant"
And already defined in `CMath::log_mean_exp`

Remove and use existing code!

[2014-10-25 08:35] karlnapf opened #2560 "Only compile parts of Shogun"
It would be great to have a command that allows to do
`make CLibSVM CGaussianKernel CDenseFeatures CBinaryLabels`
which would then only compile exactly those classes and its dependencies.
- Find all dependency header and implementation files
- strip examples and unit tests

Advantage would be much faster developing, and also we could think about doing "modules" of Shogun code, where one only compi

[2014-10-25 18:04] tklein23 opened #2562 "SWIG: Reduce number of wrapped methods"
Histogram over classes seen in python wrapper:

[code]

Histogram over methods seen in python wrapper:

[code]

[2014-10-25 19:29] lisitsyn opened #2564 "Reduce complexity of headers with d-pointers and "only declaration" rule"
I propose to change:

[code]

to a better looking (and faster compiling) variant:

[code]

It would involve massive refactoring so should be done once and fast. One thing that comes for free - in our code we will not use member variables w/o getters anymore (which is considered good). ~~Another advantage is that very likely SWIG will compile much faster.~~

I think possible approach involves writi

[2014-10-25 20:59] #2513 closed, assigned to nobody

[2014-10-26 01:39] karlnapf opened #2568 "./regression_cartree_modular.py takes too long"
....to run

@iglesias
@mazumdarparijat

[2014-10-26 02:48] karlnapf opened #2569 "Clean up CFile interface"
Currently, CFile contains a lot of purely virtual methods such as
`virtual void get_vector(int8_t*& vector, int32_t& len)=0;`

Those guarantee these methods being implemented in sub-classes. And it is an example of extremely bad design: Most of the subclasses just overwrite those methods with empty code
`virtual void set_string_list(const SGString<uint8_t>* strings, int32_t num_str) { };`

Fix:
-

[2014-10-26 04:54] karlnapf opened #2571 "Fix more static code analysis errors"
https://scan.coverity.com/projects/1763?tab=overview

[2014-10-26 19:17] karlnapf opened #2576 "some unit/python tests take too long"
They should run in less than a second, as unit tests. Even with debug mode enabled! (Thats mostly when one runs them). Good to get in shape before release
I reference people who might be able to fix them, please update if you do. Thanks
## libshogun

libshogun-neuralnets_deep_belief_network
(and other deep network tests)
@khalednasr

statistics_hsic
@lambday

libshogun-so_multiclass_BMRM
@iglesias

[2014-10-26 21:02] iglesias opened #2577 "Document CMath properly."
Afterwards, remove the `DOXYGEN_SHOULD_SKIP_THIS` guard.

Super simple stuff (might be somewhat boring though). However, going through this code to document will probably lead to cleanups (I bet there are methods in there that are not used at all anywhere and be safely removed).

[2014-10-26 21:23] iglesias opened #2578 "Drop CTwoStateModel::simulate_data."
Since it does not make much sense to have these kind of methods in the C++ core to generate toy data. This is trivial to do  in Python, Octave, or so.

[2014-10-27 06:56] iglesias opened #2582 "SGVector cleanup."
Remove all the methods producing clutter in `SGVector`. This includes (although it is not limited to) math operations like `linspace`, `dot`, and other operations like `find`. The objective is to have an `SGVector` as lean as possible.

Systematically, the work to be done for each method reduced is:
1) Move the method from `SGVector` to another class, like for instance to `CMath` or to whichever i

[2014-10-27 06:59] #2518 closed, assigned to nobody

[2014-10-27 06:59] tklein23 opened #2584 "SWIG: Write simple unit tests for type maps"
Currently the SWIG typemaps are only tested implicitly through integration tests.

But it's very important to directly test these maps (for the different languages) to make sure all interfaces work similar.

[2014-10-29 03:31] abhinavagarwalla opened #2587 "Cmake Error"
When I build using the shogun directory from git, there seems to be some problem with cmake as my build directory is empty after the installation.
Also, when modifying the cmake parameters, the last line that is shown is that: Build have been written to ~/shogun, which is incorrect since they should have been written to ~/shogun/build.

However, when I obtained the code through ftp, everything wor

[2014-10-30 05:48] #2587 closed, assigned to nobody

[2014-10-30 21:26] iglesias opened #2589 "QuadraticTimeMMD error in Travis"
I just restarted a build where I saw:

[code]

Hilarious failure, if you ask me. @karlnapf, I don't even think it is worth having a look, but just in case.

[2014-10-30 21:35] iglesias opened #2590 "Drop CMath."
The class contains a bunch of methods like floor, ceil, sine, and a large etc. that I think we should not be implementing in our own, and rather use the ones that are available in the standard libraries. In this way, we reduce the code to maintain, the amount of methods to export to the interfaces, etc.

Actually, the header of this class contains an includes the standard math.h. It might be inter

[2014-10-31 09:46] karlnapf opened #2592 "Matlab bindings?"
In order to reduce Shogun's complexity, it might be a good idea to drop the static interfaces (they have a long tail of tests, scripts, etc that make Shogun hard to overview). All but a single language are supported via the modular interfaces. The latter are _way_ easier to maintain than the static ones for various reasons.

However, Shogun's Matlab support is only via static interfaces, and since

[2014-10-31 10:11] karlnapf opened #2593 "libshogun.so is too large"
`nm -gC libshogun.so |grep " T shogun::" |cut -d' ' -f3- |cut -d: -f3 |sort | uniq -c |sort -n |tail -n20`

gives

[code]

Some suggestions:
- Get rid of Parameter framework (after removing dependencies on it)
- Clean up CFile interface, it spams libshogun
- Clean up CHMM, a single class should not be in there

[2014-10-31 10:43] #2589 closed, assigned to nobody

[2014-11-01 12:48] #1853 closed, assigned to nobody

[2014-11-06 11:44] karlnapf opened #2599 "Clean up doxygen documentation"
Shogun uses doxygen for documentation purposes, the results are at
http://www.shogun-toolbox.org/doc/en/latest/index.html

The way this documentation is generated is via automatic doxygen, and a number of python scripts (that for example insert examples into the doxygen pages)

There are number of issues here:
 * Most things are horribly outdated (authors, implemented methods, install, etc)
 * The

[2014-11-06 13:11] karlnapf opened #2600 "Shogun (documented & API) examples"
For documented examples, and tutorials, I propose some changes
(This is coming from a discussion at #2489) where @kislayabhi wrote a really nice documented tutorial for his GSoC project. However, it is currently unmaintainable since the code is never executed in our build.

Current system:
- No distinction between API and more complex examples
- Code of all API examples is simply pasted to the dox

[2014-11-06 16:44] karlnapf opened #2602 "Simplifying the documentation"
We currently have documentation cluttered around 3 places
- Readmes
- Doxygen
- Wiki

There are lots of redundant parts in those three, and lots of things are outdated. I suggest we clean this up a little. Main point would be to get rid of redundant parts, structure the remaining things a bit more.
Here are some thoughts:
- Doxygen is the best place for documenting code, i.e. [class interfaces](ht

[2014-11-09 19:18] karlnapf opened #2608 "clean up and structure shogun-data"
We should for example put all UCI datasets in a seperate folder, which I created here:
https://github.com/shogun-toolbox/shogun-data/tree/master/uci

Every dataset should also contain a Readme for licensing, here is how things should look:
https://github.com/shogun-toolbox/shogun-data/commit/9a2e50d95dfebb3d5aead9b032e9d975fbe47581

This involves moving the data and then getting the build to work

[2014-11-13 03:25] vigsterkr opened #2614 "variational classifier notebook"
`variational_classifier.ipynb` notebook fails with the following error:
[code]

and yeah there's no `Gaussian_points` defined anywhere ;P

[2014-11-13 04:01] #2552 closed, assigned to vigsterkr

[2014-11-14 12:43] yalcinm opened #2617 "Installation"
I'm trying to install Shogun on Ubuntu 14.04 LTS.

After:

`$ mkdir build`
`$ cd build`
`$ cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..`

This is what I got:

CMakeError.log

Determining if the isfinite exist failed with the following output:
Change Dir: /home/user/shogun/build/CMakeFiles/CMakeTmp

Run Build Command:/usr/bin/make "cmTryCompileExec2292540202/fast"
/usr/bin/make -f CMakeFi

[2014-11-14 12:50] #2617 closed, assigned to nobody

[2014-11-15 05:41] yalcinm opened #2618 "Shogun Installation Errors"
Dear All,

Please **DO NOT CLOSE** this issue!

I'm trying to install Shogun on **VMWare + Ubuntu 14.04 LTS** (running on **Windows 8.1**) I'm new with linux/Ubuntu environment, so it's very hard to understand what Ubuntu wants from me :)

I've installed all packages: MOSEK, BLAS, LAPACK, ATLAS, CPLEX, ColPack, ARPREC, Doxygen, HDF5, CURL, BZip2, LibLZMA, SNAPPY, etc (the list is really very long)

[2014-11-15 05:59] ak782 opened #2619 "Shogun installation with modular Python support on Mac OS X"
Hello,

I've been having trouble getting Shogun to compile with modular Python support on Mac OS X Yosemite. Shogun configures just fine and the Shogun core builds with no errors. However, _python_modular fails to build with following errors:

/usr/local/shogun/build/src/interfaces/python_modular/modshogunPYTHON_wrap.cxx:7525:17: error: expected member name or ';' after declaration specifiers

[2014-11-15 14:25] #2618 closed, assigned to nobody

[2014-11-16 09:02] yalcinm opened #2620 "Shogun Installation: Cygwin64 Terminal"
**What is wrong?**

![cygwin64 terminal](https://cloud.githubusercontent.com/assets/8990567/5060923/454287b2-6d2c-11e4-8b8f-658a944a1a3e.png)

[2014-11-20 17:17] svle opened #2622 "Problem with shogun-3.2.0 on Ubuntu 14.04"
On Ubuntu 14.04 I run
cmake -DPythonModular=ON ../
make
and then I receive

[ 82%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/base/class_list.cpp.o
[ 83%] Built target libshogun
Scanning dependencies of target shogun
Linking CXX shared library libshogun.so
CMakeFiles/libshogun.dir/kernel/string/OligoStringKernel.cpp.o: file non riconosciuto: File troncato
collect2: error: ld returned

[2014-11-21 12:01] thiagopradi opened #2623 "Problem with Shogun 3.2.0 on Mac OSX"
Hi Folks,

I'm having a problem with Shogun 3.2.0 on Mac OSX. I've installed it normally, but when I try to compile a sample program, I'm getting the following error:

[code]

Here is the source code for the program: https://gist.github.com/tchandy/b0a052b8511d26902014

Any clues on what could be the problem?

Thanks

[2014-11-21 12:21] #2623 closed, assigned to nobody

[2014-11-25 02:16] hippozhu opened #2624 "Compile problem building 3.2.0"
Hi all,

I ran
"ccmake .. -DCMAKE_INSTALL_PREFIX="$HOME/.local" -DPythonModular=ON"

and changed the system's default compiler to newer versions (gcc, g++ 4.9.0) in my home directory.

I got the following error:

In file included from /home/yzhu7/.local/include/c++/4.9.0/complex.h:36:0,
                 from /home/yzhu7/.local/include/openblas_config.h:93,
                 from /home/yzhu7/.local/

[2014-11-25 02:19] #2620 closed, assigned to nobody

[2014-11-25 19:09] #2622 closed, assigned to nobody

[2014-12-01 21:24] beew opened #2626 "Cannot compile with hdf5-openmpi"
Make failed with these outputs for shogun-development
"In file included from /usr/include/hdf5.h:24:0,
                 from /home/bee/Downloads/shogun-develop/src/shogun/io/MLDataHDF5File.cpp:16:
/usr/include/H5public.h:63:20: fatal error: mpi.h: No such file or directory"

It is the same issue on Shogun 3.2  described here back in Feb

https://github.com/shogun-toolbox/shogun/issues/1856

OS is

[2014-12-02 10:40] #2626 closed, assigned to nobody

[2014-12-13 05:30] yalcinm opened #2634 "Shogun Matlab Interface Error"
![shogun-1](https://cloud.githubusercontent.com/assets/8990567/5422672/e246b1fa-8244-11e4-9b3f-4d80d058cf5b.png)
![shogun-2](https://cloud.githubusercontent.com/assets/8990567/5422673/e53c2db8-8244-11e4-8dca-616f959798ed.png)
![shogun-3](https://cloud.githubusercontent.com/assets/8990567/5422674/e69f3ac4-8244-11e4-8481-82dbaf48c6bc.png)
![shogun-4](https://cloud.githubusercontent.com/assets/899056

[2014-12-15 11:04] besser82 opened #2635 "[Mac OSX 10.10] class_list.cpp fails with recent gcc-48 from macports"
When building Shogun on Mac OSX 10.10 with recent gcc-48 from macports the generated `class_list.cpp` fails to build.  See output:

[code]

[2014-12-16 11:18] karlnapf opened #2638 "create unit test for MKLRegression"
With sensible data that makes sure things work as expected

[2014-12-16 18:11] ialong opened #2640 "OS X Python Modular Build Fails"
This error message comes up when I try to build Shogun on my Mac (Yosemite 10.10.1) with Python modular switched on:

https://gist.github.com/Ialong/159ee33c6c3717d75c6d

[2014-12-18 21:42] #2640 closed, assigned to nobody

[2014-12-19 03:52] yorkerlin opened #2650 "suspicious bug in the GP module"
@karlnapf
Currently, computing a gradient of a hyper-parameter in Shogun's GP (such as a hyper-parameter of a likelihood) is based on GPML tool-kits. It means the gradient is in log domain since in Shogun's unit tests, gradients are compared against results in GPML. However, in Shogun at least for likelihoods, hyper-parameter(s) is in natural domain.

For example, sigma in `CGaussianLikelihood (fl

[2014-12-22 02:12] beew opened #2654 "Unable to build R-modular interface"
Hi,

I tried to build the R-modular interface but make failed

Building CXX object src/interfaces/r_modular/CMakeFiles/r_modular.dir/modshogunR_wrap.cxx.o
In file included from /home/bee/opt/hdf5/include/hdf5.h:24:0,
                 from /home/bee/Downloads/shogun-develop/src/shogun/io/HDF5File.h:19,
                 from /home/bee/Downloads/shogun-develop/build/src/interfaces/r_modular/modshogun

[2014-12-23 11:36] #1856 closed, assigned to nobody

[2014-12-27 01:27] #1912 closed, assigned to karlnapf

[2014-12-27 05:43] lambday opened #2663 "Write a proper dev-README for internal linalg lib"
This one is on me. @karlnapf @iglesias will README_developer be the right place for this? Or should we keep it separate?

[2014-12-29 18:23] beew opened #2666 "octave interfaces and openmpi"
Hi,

This is probably related to https://github.com/shogun-toolbox/shogun/issues/1856, which has been closed.

When octave is compiled with libhdf5-openmpi Shogun's octave interfaces (static and modular) don't build even if hdf5 is disabled in shogun (thanks to karlnapf's patch). OS is Ubuntu 14.04. 64 bit. Octave 3.8.2

Here are the errors

/usr/local/include/octave-3.8.2/octave/oct.h:31:20: fata

[2014-12-29 20:03] sanuj opened #2667 "Native implementations in Linalg."
@karlnapf @lambday I would like to work on this. Currently `HAVE_LINALG_LIB` is defined provided `eigen3` & `viennacl` are found, and supported c++11 compiler is used. We can change it to defining `HAVE_LINALG_LIB` only when the supported c++11 compiler is used. This can be achieved by altering `shogun/CMakeLists.txt` alone.

We can give runtime errors for the operations that can't be implemented

[2015-01-02 19:31] sanuj commented on #2638
http://asi.insa-rouen.fr/enseignants/~arakoto/code/mklindex.html
I was planning to use this but it doesn't seem to work.

[2015-01-02 19:43] sanuj commented on #2638
SimpleMKL (the previous one) is a Matlab Toolbox. I will try SMO-MKL now.
http://research.microsoft.com/en-us/um/people/manik/code/smo-mkl/download.html

[2015-01-04 23:06] iglesias commented on #2638
Hey, @sanuj. I just had a look at the unit test and you're definitely right; `labels_test` is not used. If I am not missing anything, the lines filling in the `lab_test` vector and creating the features from it can be removed. This test was probably created from another example where the test labels were used.

@karlnapf will have to tell you about the easy script, I don't know about that one. As

[2015-01-04 23:14] iglesias commented on #2666
This comment does not help to solve your problem; I am going to have a closer look right away and let you know if I can add something which may be helpful. Anyway, why do you want to have both Octave modular **and** static interfaces enabled? If you can afford modular (i.e. having Swig) just use it and ignore static.

[2015-01-05 12:31] beew commented on #2666
Hi,

Thanks for taking a look. No, I am not trying to have both enabled. I have tried one after another, just saying that neither can be enabled.

Cheers.

[2015-01-09 12:48] sanuj commented on #2667
Nice to hear from you @lambday :D. I think not disturbing `HAVE_LINALG_LIB` is a good idea. Looking forward to your modifications.

[2015-01-10 22:10] vipints commented on #2546
@karlnapf I have tested easysvm against shogun stable release version 3.2.0. All tests passed without any error messages. https://github.com/vipints/oqtans/tree/master/oqtans_tools/EasySVM/0.3.3/

I will be pushing this changes to my shogun-dev  soon.,

happy new year!

[2015-01-15 11:57] lambday commented on #2667
@sanuj check PR #2672. I have just added dot to check if the NATIVE backend thing is working. Once this change is merged, you can start working on native implementations for other operations in similar fashion.

Please make sure that everything compiles even in absence of eigen3/viennacl. Unit-tests for NATIVE should work even when we don't have any external libs.

Another cleanup work would be to

[2015-01-16 05:13] lambday commented on #2663
@iglesias I started writing a wiki [here](https://github.com/shogun-toolbox/shogun/wiki/README_linalg). Still WIP.

[2015-01-16 13:37] sanuj commented on #2667
@lambday Great! The PR looks good :) I'll start the clean up work and add more native implementations in a similar fashion as soon as the PR is merged. Loads of functions can be cleaned up and more can be implemented natively (list is in the mailing list, Should I add it here just so we have a record?).

[2015-01-16 21:37] lambday commented on #2667
@sanuj cool. So the key to add native implementation to linalg is that we'll keep those operations (in modules) outside of the `HAVE_LINALG_LIB` guard. No other special tricks required. Please keep in mind that we don't intend to provide native implementation for _everything_ . Just the basic trivial things (most of them were already there in SGVector and SGMatrix). Before you push, you _must_ che

[2015-01-16 21:40] lambday commented on #2667
Oh and please use viennacl 1.5.x and not 1.6. I noticed some compatibility issues with that locally. I'll have to address that later after the release. You need to install opencl as well.

[2015-01-17 05:23] sanuj commented on #2667
Got it :+1:

[2015-01-18 13:11] karlnapf opened #2673 "Document CMultidimensionalScaling"
and other dimensionality reduction methods from Tapkee....

This means:
 * Link to Wikipedia page
 * Basic math
 * Objective function
 * Computational costs

All this should go to the doxygen class documentation

[2015-01-18 13:13] karlnapf opened #2674 "Populate and extend dimensionality reduction notebook"
* Make a list of algorithms that we have
 * Reproduce the common examples (say scikit-learn, Wikipedia)
 * Write about math, objective functions, pros/cons

also related to #2673

[2015-01-19 22:19] iglesias commented on #2673
Part of the content at (tapkee.lisitsyn.me)[http://tapkee.lisitsyn.me/], under Dimension reduction techniques (upper left corner) can be probably recycled for this.

[2015-01-21 15:04] iglesias commented on #1912
But what should we do about the gpl issue with alglib? We must solve it if we are aiming at being completely bsd.

[2015-01-21 15:11] thirdwing commented on #1912
Boost is the best choice I know and boost-math is really light-weight.

[2015-01-21 15:16] iglesias commented on #1912
@thirdwing, it is header-only, right? Does it have any dependencies?

[2015-01-21 15:23] thirdwing commented on #1912
Yes, it is header-only. On ubuntu, all you need is ``libboost-math-dev``. In https://github.com/shogun-toolbox/shogun/pull/2662 all ALGLIB code has been replaced with boost-math. However, it seems you really don't like boost.

[2015-01-21 16:47] iglesias commented on #1912
We are not only supporting Ubuntu (not even only just Linux).

Regarding the dependencies, if you try to do apt-get install libboost-math-dev, you will see that the whole libboost package will be installed as well (in case you don't have it already installed). So it seems that boost math depends on the whole boost library.

[2015-01-21 17:44] thirdwing commented on #1912
I am sorry that my word caused some misunderstanding. ``liboost-math-dev`` is just an example. You can install it easily. You can also checkout any module manually.

https://gist.github.com/thirdwing/4ec69f6a4d938863b37d

[2015-01-21 18:56] iglesias commented on #1912
That would be having the whole boost as dependency (not only boost math),
which is not so light-weight.

On 21 January 2015 at 18:44, Qiang Kou (KK) <notifications@github.com>
wrote:

[2015-01-23 09:28] abinashmeher999 commented on #2602
@karlnapf Has everything been done here?

[2015-01-23 12:30] HAShihab opened #2678 "evaluate multiple metrics during cross validation"
The examples show how to perform cross-validation and evaluate a single metric (e.g. accuracy).  If we want to evaluate multiple metrics, we have to call the cross-validation multiple times (once for each metric).  I think it would be useful for the cross-valiation to give us the option to evaluate multiple metrics at once (e.g. accuracy, precision, AUC etc.) without having to call the cross-valia

[2015-01-23 12:33] abinashmeher999 commented on #2678
@HAShihab can you please refer me to the example? I want to see the code.

[2015-01-23 12:45] HAShihab commented on #2678
@abinashmeher999 sure: taking the Python example from here: http://www.shogun-toolbox.org/static/notebook/current/xval_modelselection.html

[code]

If I want to test a suite of metrics, it seems as though I would have to call CrossValidation and evaluate for each metric.  I think having an all-encompassing metric type that returns as many metrics as possible would be useful, e.g.

[code]

[2015-01-24 12:55] ghalghaz opened #2681 "Segmentation fault (core dumped)"
Hi,

I tried the example in https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART.

I got the following error:

~/shogun-install/share/shogun/examples/libshogun$ sudo chmod +x ./so_multiclass_BMRM && ./so_multiclass_BMRM
Segmentation fault (core dumped)

environment;
shogun 3.2
data 0.8
ubuntu 14.04

thanks for helping

[2015-01-24 13:10] iglesias commented on #2681
Hello, @ghalghaz. I just trieda fresh install with current develop (Shogun 3.2.2) in Ubuntu 14.04 and the example worked fine.

What exact version is the one you are using and what line did you use for cmake exactly?

Small remark: I didn't need to do `sudo chmod +x ./so_multiclass_BMRM` since the file had already executable permissions on. Also, I didn't need to export the LD_LIBRARY_PATH as indi

[2015-01-24 13:41] ghalghaz commented on #2681
I use shogun 3.2.0 and use
cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..
I followed all command in https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART.
You are using shogun 3.2.2, where I can download it?..
in http://shogun-toolbox.org/page/home/ the newest version is still shogun 3.2.0

[2015-01-24 14:10] iglesias commented on #2681
I tried with the current develop branch of the repository. You can get that locally using git.

I am currently trying with the version you mentioned.

[2015-01-24 14:31] iglesias commented on #2681
@ghalghaz, I just tried with version 3.2.0 and the example worked fine as well. I did also a run with valgrind and it didn't detect anything abnormal.

Could you run the program with gdb and provide more information about the crash? Note that in order to get more information from gdb you may need to compile Shogun in debug mode rather than release (which is the default). You can do that by configu

[2015-01-24 15:00] ghalghaz commented on #2681
@iglesias
Here the message:

(gdb) b 1
Note: breakpoint 1 also set at pc 0x401eda.
Breakpoint 2 at 0x401eda: file /home/xxx/shogun-3.2.0/examples/undocumented/libshogun/so_multiclass_BMRM.cpp, line 1.
(gdb) run
Starting program: /home/xxx/shogun-install/share/shogun/examples/libshogun/so_multiclass_BMRM
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linu

[2015-01-25 12:54] iglesias commented on #2380
@jmarrietar, @aveshd, could you try if the commit above by @lisitsyn fixes your problem?

[2015-01-25 13:03] iglesias commented on #2681
Could you also please provide the information given by backtrace (bt). Also, since the logs are starting to get somewhat long, please use either gist or pastebin.

Out of curiosity, why are you setting those two breakpoints?

[2015-01-26 04:54] srgnuclear commented on #2674
List of dimensionality reduction algorithms -
PCA
SPE(Stochastic proximity embedding)
Diffusion Maps
Kernel Locally Linear Embedding
Kernel Local Tangent Space Alignment
Linear Local Tangent Space Alignment
Neighborhood Preserving embedding
Locality Preserving Projections
Locally Linear Embedding (LLE)
Hessian Locally Linear Embedding (HLLE)
Local Tangent Space Alignment (LTSA)
Kernel PCA (kPCA)
M

[2015-01-26 05:10] srgnuclear commented on #2674
By reproduce common examples do you mean various examples coded in python in scikit learn to be recoded in cpp and put in shogun or anything else?

[2015-01-26 09:11] curiousguy13 commented on #2673
Hi, I'm new here and I would like to work on this.
Also the pull requests have to be for the changes in one file at a time , right?

[2015-01-26 09:15] iglesias commented on #2673
Nope. You can submit a pr with changes in several files. It is good though to keep prs small and focussing on one task.

[2015-01-26 09:25] curiousguy13 commented on #2673
Oh, okay. So, for this I need to change the documentation in the source files right? for example, for Isomap, I would need to add the changes in src/shogun/converter/Isomap.h ?

[2015-01-26 09:26] iglesias commented on #2673
Exactly.

[2015-01-27 08:14] abinashmeher999 commented on #2678
@karlnapf @saurabh7 May I work on this? I was wondering if this was designed so by intention or needs work?

[2015-01-27 17:07] aveshd commented on #2380
will try and let you know the results

On Sun, Jan 25, 2015 at 6:54 AM, Fernando Iglesias <notifications@github.com

[2015-01-28 20:29] karlnapf commented on #2678
@abinashmeher999 go ahead.
But let's discuss how to do it first here.

My suggestion: Add another evaluation class which takes a list of evaluation objects, which are then all evaluated. This way, one can still pass a single object to the X-validation. There might be some tricky details, but thats a good first start to think about it. Let me know if that works

[2015-01-28 20:31] karlnapf commented on #2674
Hi, thanks for the list!
I mean to reproduce standard examples in the notebook -- using Shogun
No cpp involved

[2015-01-28 20:32] karlnapf commented on #2602
@abinashmeher999 Not at all! Check the things I listed above and the example patch I referenced
Sorry for late reply

[2015-01-29 22:56] yorkerlin opened #2687 "bug in SGVector"
[code]
Result in my laptop is
[code]

[2015-01-29 22:57] yorkerlin commented on #2687
I guess this bug is related to `SGVector<float64_t> ok=catchbug();`

[2015-01-29 22:57] yorkerlin commented on #2687
@karlnapf
@lisitsyn
take a look at this bug.

[2015-01-29 23:00] yorkerlin commented on #2687
@karlnapf
I spend an hour to find this bug when I refactored the FITC kernels

[2015-01-30 07:21] iglesias commented on #2687
I am not sure I'd say this is a bug. It might be bad usage of SGVector; you are returning a reference to some memory with local scope only in the function `catchbug`.

[2015-01-30 07:25] iglesias commented on #2687
@yorkerlin, can you try with this version?

[code]

[2015-01-30 07:37] yorkerlin commented on #2687
It works! Thanks!
I think the auto ref technique in shogun is class-sensitive.

On Friday, January 30, 2015, Fernando Iglesias <notifications@github.com>
wrote:

--
best,

wu lin

[2015-01-30 07:38] #2687 closed

[2015-01-30 07:44] sanuj commented on #2667
@lambday @iglesias
I'm not sure if `CMath::dot` can be replaced by `linalg::dot<linalg::Backend::NATIVE>` everywhere in shogun since it needs to be surrounded by `if defined(HAVE_CXX0X) || defined(HAVE_CXX11)`. So when `HAVE_CXX0X` or `HAVE_CX11` are not defined then the compiler will throw errors. I was thinking of removing `CMath::dot` entirely but now I'm not sure whether it will work on not. W

[2015-01-30 07:47] iglesias commented on #2687
What do you mean with class-sensitive? :-)

[2015-01-30 07:49] yorkerlin commented on #2687
auto ref counts the reference in a class (eg, SGVector)

[2015-01-30 07:51] yorkerlin commented on #2687
btw @iglesias
In fact, my question is
[code]
If I am not allowed to change the content of `fun()`, can I still this `SGVector<float64_t> tmp(a.matrix, a.num_rows*a.num_cols);` trick? If not, I have to copy the `a` matrix.

[2015-01-30 07:53] iglesias commented on #2667
I think that's actually a very good point, @sanuj.

@lambday, is it possible to refactor linalg so that C++11 is an optional dependency so we can have parts of it (e.g. dot product) that do not depend on it?

[2015-01-30 07:57] iglesias commented on #2687
It doesn't count the reference in a class (that is, m_refcount is not a static member) but above when you are creating the first SGVector it has no way of getting to know the refcount object of SGMatrix.

[2015-01-30 08:20] iglesias commented on #2687
So, in the case you cannot change the content of `fun`, I think the issue is that we would like to share the same RefCount object between a SGMatrix and a SGVector. I don't see how we can do this with the current API. We could introduce a new constructor in SGVector that takes an SGMatrix to do this but I am not sure this might bite us somewhere else.

@lisitsyn, @lambday, what do you guys think?

[2015-01-30 08:29] lisitsyn commented on #2678
The question is what evaluate() returns :D

[2015-01-30 09:13] lambday commented on #2667
@iglesias I guess at present the only c++11 thing that is there in linalg is the enum class thing (rest, variadic templates etc are now removed). I'll see if we really need enum class or just enum will do. hard to test locally since I don't have a compiler that doesn't support c++11 :P

@sanuj well, the idea is to use just `linalg::dot(...);` instead (without specifying any backend). What's the us

[2015-01-30 09:16] lambday commented on #2667
@iglesias why aren't we using a compiler in travis that supports c++11? that's not in our hand? gcc supports c++11 from 4.6.x itself (IIRC). IMO if people still use a compiler that doesn't support c++11 they should be punished :D

[2015-01-30 09:19] sanuj commented on #2667
@lambday Yes indeed. But if we use `linalg::dot(...)` then also we would need to surround the code by `if defined(HAVE_CXX0X) || defined(HAVE_CXX11)`. So I guess for now we shall use `CMath::dot` till c++11 dependency is resolved.

[2015-01-30 09:28] lambday commented on #2667
@sanuj ya I got that. I think just replacing the enum class thing with enum we should be fine (all `linalg::Backend::EIGEN3` [and so...] would also have to be changed by just `EIGEN3` [and so...] as well since enum doesn't have their own scope). if that works then we don't need c++11 for linalg.

[2015-01-30 09:37] iglesias commented on #2667
Yeah, I agree, @lambday. For me it would be fine to make C++11 a compulsory dependency. But I guess there might be some cons with that? @karlnapf @vigsterkr @lisitsyn @sonney2k

[2015-01-30 11:45] lambday commented on #2687
@yorkerlin the trick is, when an SGReferencedData is assigned/copied, it increases the refcount and just copies the pointer, therefore uses the same memory. When it gets destroyed, refcount is reduced, if it reaches 0, then it destroys the memory pointed by it. So, the problem arises because
[code]

I think you can just use vector map with matrix memory because using SGVector you're trying to achi

[2015-01-30 13:43] yorkerlin commented on #2687
@lambday
If we do not change the return types of  `fun()` (SGMatrix) and `catchbug()` (SGVector),  it is not easy to deal with this issue. .

I try to run your solution, the compiler issues the following error.
`error: conversion from ‘shogun::SGVector<double>’ to non-scalar type ‘shogun::SGMatrix<double>’ requested`

[2015-01-30 14:18] lambday commented on #2687
Ah that would totally be SGMatrix. My bad! Also, I edited my answer regarding under the hood refcount. Please check  that also.

[2015-01-30 14:29] yorkerlin commented on #2687
@lambday
Yes, if we can modify the signature of `catchbug()` (that is the return type), the issue is solved.
If we can not modify the signature, for now I have to copy SGMatrix to SGVector.
[code]

[2015-01-30 14:40] lambday commented on #2687
@yorkerlin if serves your purposes, you can disable refcounting in the original matrix and just have refcount from the vector.
[code]

[2015-01-30 14:48] lambday commented on #2687
@iglesias I think having a SGMatrix constructor in SGVector that shares same refcount object won't cost much. It might also be useful to represent just one column of SGMatrix as some SGVector, sharing the same memory.

[2015-01-30 14:54] yorkerlin commented on #2687
@lambday
Your idea is fine if `fun()` is a private method. In my case, `fun()` is a public method in a class and is used in a standard way.

If we disable refcounting,  does it mean that users who use this method have to take good care of it?
eg,in the following example, I do not want to change the exiting code in `fun2()`

[code]

[2015-01-30 15:08] lambday commented on #2687
Actually, yes - depending on what you do inside fun2. You also need to take care of freeing the memory manually, if that memory is not mapped by some already SGReferencedData instance with refcounting turned on (since SGVector shared same memory here with its own refcounting enabled, it took care of freeing that part). If you don't want to do that, I guess that it is safest that you copy.

[2015-01-30 15:11] yorkerlin commented on #2687
@lambday
Thanks, I use `copy` for now until the API supports the following features.
* from SGVector to SGMatrix with auto refcounting
* from SGMatrix to SGVector with auto refcounting

[2015-01-30 15:23] lambday commented on #2687
@yorkerlin yeah these might be useful. Let's see what @sonney2k @karlnapf @lisitsyn @iglesias say regarding this. Even for copying, `std::copy` is pretty fast :)

[2015-01-30 21:46] iglesias commented on #2687
I don't have anything against introducing these convenience methods; but still we should keep it simple and do not add lot of clutter (many methods). Maybe one constructor for SGVector from SGMatrix and vice versa and that's all.

But also, I would like to knowthe use case, @yorkerlin. Why do you need to transform the SGMatrix to SGVector in your algorithm? Is it a nonsense to just keep the data i

[2015-01-30 21:52] yorkerlin commented on #2687
@iglesias
in `./src/shogun/machine/gp/InferenceMethod.cpp`
[code]
SGVector is fine if non-FITC inference.
However, for FITC inference indeed the derivative is a matrix.

[2015-01-30 22:00] yorkerlin commented on #2687
@iglesias
All GP inference methods and unit tests are based on this API.
I cannot change API. Otherwise, I have to modify all GP source codes.

[2015-01-31 15:43] abinashmeher999 commented on #2678
sorry for the late reply. @karlnapf its a nice idea. However with lists, the user might need to memorise the sequence. I think a map might be more suitable.

[2015-01-31 16:13] karlnapf commented on #2678
good point ;) @lisitsyn
@abinashmeher999 we might have to change the interface for this.
I dont see the advantage for a map, but nothing speaks against it either

[2015-01-31 17:51] abinashmeher999 commented on #2678
@karlnapf @lisitsyn What I have understood so far is
`metric` is of type [CEvaluation](http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CEvaluation.html) which is passed to the constructor of class [CCrossValidation](http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CCrossValidation.html#abf4e689ca7b029009a4e785faf915dd8) as a parameter.
`result` which was of type [CEvaluationRe

[2015-02-02 09:21] lambday commented on #2687
@iglesias I agree. BTW we already have a `T* get_column(index_t)` method in SGMatrix. Would it be fine to make it return a SGVector instead? Its safer actually I think.

[2015-02-02 11:53] iglesias commented on #2687
Definitely. That method should return a SGVector instead.

[2015-02-03 03:46] iglesias commented on #2564
@lisitsyn, why is it good not to use member variables w/o getters (and setters too, I guess) within the class where they are members?

[2015-02-03 06:08] lambday commented on #2687
@iglesias alright. Maybe I'll add the things @yorkerlin needed (one constructor in SGVector and SGMatrix each, sharing the refcount) which will spare him the copying - as well as modification to get_column_vector method. the SGVector it would return will also share the refcount with the original matrix.

[2015-02-03 11:48] lambday opened #2690 "Make GPUMatrix compatible with new ViennaCL (1.6.x) matrix_base"
In the new ViennaCL (1.6.x), [matrix_base](http://viennacl.sourceforge.net/doc/classviennacl_1_1matrix__base.html) takes 3 template parameters instead of 4, which makes compilation fail due to its usage [here](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/lib/GPUMatrix.h#L81).

[2015-02-05 10:41] lisitsyn commented on #2564
@iglesias I'd say it is more flexible

[2015-02-05 12:27] iglesias commented on #2564
I am not sure what flexible is here. Can you put an example, @lisitsyn? :-)

[2015-02-05 17:12] abinashmeher999 commented on #2678
@karlnapf @lisitsyn Shall I send a PR implementing the map?

[2015-02-05 22:14] lisitsyn commented on #2678
@abinashmeher999 what would be the key for this map?

[2015-02-06 14:26] abinashmeher999 commented on #2678
@lisitsyn I was thinking of making it a string that is returned by `CEvaluation::get_name()`. This way if the user knows what `CEvaluation` types he has used he can access them directly rather than having to write a loop that searches through the list.

[2015-02-08 14:44] karlnapf commented on #2667
Fine from my side, we should take advantage of all the modern stuff in the language these days anyways.
I much rather prefer a modern code over being compatible to ancient computer systems.

[2015-02-08 15:00] karlnapf commented on #2564
why does this compile faster?

[2015-02-08 15:06] karlnapf commented on #2678
The map thing is quite irrelevant as the number of metric will be small. There should be a method that returns all metrics as a vector. Accessing those via a string is a minor improvement that we could think about after having changed the internals.

What is more important is the changes of member variables you described. I suggest to change to a list internally, while keeping the same interface i

[2015-02-08 15:14] karlnapf commented on #2687
Please support @yorkerlin   with his operations, he writes the most amazing variational GP codes with them :) But of course, too much cluttering is not good either.

[2015-02-08 15:44] lisitsyn commented on #2564
Okay guys a few cases that come into my mind:

1. If we go with generic get/set without specific getters for field adding a new field is free - you just recompile the .cpp file (@iglesias).
2. In the same scenario headers are binary compatible with various versions of shogun (@iglesias).
3. We can remove *all* mentions of std vector/list/.. from headers because they are only in .cpp files so it wi

[2015-02-08 18:13] karlnapf commented on #2564
+1 from my side to all this

[2015-02-09 11:28] iglesias commented on #2667
And also, it is just a matter of saying, Shogun v. x.x.x onwards requires a gcc v. > y.y.y., otherwise use an older version of Shogun. It is not like Shogun would not be usable at all in old systems.

[2015-02-09 18:28] lisitsyn commented on #2667
I believe that as long as we are source-based not distribution-based modern compiler is ok.

[2015-02-11 08:01] iglesias commented on #2564
It sounds pretty awesome!

[2015-02-11 08:01] iglesias commented on #2564
Thanks a lot for the nice description, @lisitsyn :-)

[2015-02-11 17:13] somya-anand commented on #2678
@karlnapf I was going through this issue and I think what @abinashmeher999 has proposed quite relevant except the use of map. I just want to know whether he is still working on this issue ? I just want to try it out.

[2015-02-11 20:06] abinashmeher999 commented on #2678
@somya-anand Yup, I am on it. Sorry for the delay because of my midterm exams. Hey, you can review my PR.

[2015-02-11 20:27] lisitsyn opened #2699 "Add leaky ReLU neural layer"
Good for [Deep learning](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_deep_learning) applicants

[2015-02-11 20:29] lisitsyn opened #2700 "Implement new initializations for neural nets as per MSR paper"
The paper is [here](http://arxiv.org/pdf/1502.01852v1.pdf)

Good for [Deep learning](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_deep_learning) applicants

[2015-02-11 20:31] lisitsyn opened #2701 "Reproduce "Text understanding from scratch" neural model with a notebook"
Paper is [here](http://arxiv.org/abs/1502.01710)

Good for [Deep learning](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_deep_learning) applicants

[2015-02-12 13:58] sanuj commented on #2699
@lisitsyn I am interested in deep learning. I have read about neural nets but never really implemented them. Of what I know, rectifier is an activation function `max(0,x)` and leaky ReLU is when it has some small gradient for x<0. I have used the sigmoid function before but not this(but this should not be a problem I guess). I also had a look at the two papers that you mentioned (text understandin

[2015-02-12 18:55] karlnapf opened #2702 "Get rid of ASSERT macros"
We have lot's of ```ASSERT``` calls in Shogun. In many cases, these can fail due to user input, which is bad, as they don't provide feedback on which part of the user input is wrong and how.

This task is to scan for those ASSERT messages, and replace them by REQUIRE messages with *proper* error messages. See here:
https://github.com/shogun-toolbox/shogun/wiki/Assertions

[2015-02-12 23:09] abinashmeher999 commented on #2678
@karlnapf Shall I use `std::vector` or `shogun::SGVector` to pass the list?

[2015-02-12 23:36] tklein23 commented on #1991
@karlnapf: If you read a file bigger than the ring buffer, then there is an additional feature vector.  The ring buffer defaults to 10MB.

In other words:
* A csv file with 10.000 lines with less than 10MB will produce 10.000 vectors.
* A csv file with 10.000 line with more than 10MB will product 10.001 vectors.

The bug itself seems minor.  But as we're checking dimensions of features and labels

[2015-02-12 23:45] karlnapf commented on #1991
If there are only 10,000 lines, what does this 1 more feature vector contain? junk?

I think its pretty bad to have this, since it means one cannot use Shogun to parse large files (we are calling ourselves large-scale machine learning toolbox)

[2015-02-13 05:26] sanuj commented on #2699
Should we go by adding a new class which inherits `NeuralLinearLayer`? Something like -
`class CNeuralLeakyRectifiedLinearLayer : public CNeuralLinearLayer`

[2015-02-13 08:33] iglesias commented on #2678
If it is going to be exposed to modular interfaces, use a Shogun structure. Maybe DynamicObjectArray or the one you mentioned.

[2015-02-13 13:26] somya-anand commented on #2702
@karlnapf If assertion is for internal variables then is there a reason to convert them into `REQUIRE` messages? I mean for user, these things are a black box and she didn't require a feedback for information which she didn't provided.

Example:
[code]

[2015-02-13 13:29] iglesias commented on #2702
Is `SGVector::operator+` public? I guess it is. Then, if  a user happily tries to add two vectors of different lengths using the method, the assert will say hi.

[2015-02-13 13:42] somya-anand commented on #2702
@iglesias I have quoted the irrelevant example here, but what I was asking is - if something which is not provided by the user then should we change that assertion as well?

[2015-02-13 14:20] iglesias commented on #2702
Then, the answer is no. To find out whether an assert can be evaluated to false due to wrong, unexpected, or user input not contemplated in the code might not be straightforward in every case, though.

[2015-02-13 19:00] lisitsyn opened #2704 "Refactor classes to leverage non-virtual interface pattern"
This issue is quite longstanding and manifests that we probably want to follow the [Non-Virtual Interface](http://en.wikibooks.org/wiki/More_C++_Idioms/Non-Virtual_Interface) pattern.

For example in [CMachine](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/machine/Machine.h) we have:

[code]

That could be replaced with

[code]

This is not a principle to follow in all cases so

[2015-02-14 11:18] curiousguy13 commented on #2582
@iglesias  would it be fine , if I moved range_fill to CMath ?

[2015-02-14 17:54] iglesias commented on #2582
@curiousguy13, it sounds good to me, both range_fill and range_fill_vector should go out of SGVector. Do something nice with them (perhaps, simplifying to only one method) and move to CMath. Keep in mind unit tests. Looking forward to see the pull request.

[2015-02-15 13:23] lisitsyn commented on #2699
@sanuj sorry missed this message somehow.

It is true CNNs are useful for computer vision but this recent paper I mentioned uses it for text understanding quite successfully so it is worth investigating.

As for your mention of sigmoid thing - ReLUs are usually better due to no vanishing gradient effect (it is rather impossible to train a deep net with sigmoids) and the speed of its evaluation.

F

[2015-02-15 13:26] sanuj commented on #2699
Cool @lisitsyn :)

[2015-02-15 15:13] lisitsyn opened #2709 "Support DotFeatures in neural networks"
Currently neural nets require DenseFeatures input which restricts its usage a bit.

There is a good idea by @sonney2k (see [COFFIN](http://cmp.felk.cvut.cz/ftp/articles/franc/Sonnenburg-COFFIN-ICML10.pdf) paper) that most of the things depend on dot product of feature vector with some weight vector. This enables magic training on out-of-core data like local or remote files and even data generated

[2015-02-15 15:47] lisitsyn opened #2710 "Add preprocessor layer for neural network"
We now have all the basic layers like RLU, sigmoid and various output layers but no way to apply some intermediate preprocessing like PCA. This could be useful sometimes so this task suggests to add a layer that applies some CPreprocessor on data (feed-forward step). This layer should have no effect on neural net weights so it should pass gradients through on back-propagation step.

Good for [Deep

[2015-02-16 14:12] ayush2913 commented on #2701
I want to work on the implementation of this paper. @lisitsyn  can you please guide me how to start?

[2015-02-16 15:24] karlnapf opened #2712 "Remove precompiler flags from CHMM"
Both from CMakeLists.txt and the code it self. The corresponding options should be part of the class interface itself, or solved via templating

[2015-02-16 15:27] karlnapf opened #2713 "Write unit tests for CHMM"
Systematically unit-test all methods of CHMM.
In particular, use the existing examples (modular AND static) and transform them into unit-tests.

We will need this to ensure that results do not change when we refactor.

[2015-02-16 15:28] karlnapf opened #2714 "Document HMM interface properly"
As in doxygen interface comments etc. What do the methods do? Give a high level overview of all methods at the beginning of that class.

[2015-02-16 15:29] karlnapf opened #2715 "Clean up parallelisation code in CHMM"
It is currently very convoluted. The goal is to this up, possibly using OpenMP and/or the linalg interface

[2015-02-16 15:34] karlnapf opened #2716 "IPython notebook for CHMM"
* Explain HMM basics
 * Illustrative examples
 * A real world application (we have a static example somewhere that is about fitting sequences of weighted dice rolls)

[2015-02-16 15:39] karlnapf opened #2717 "Add scale and add to linalg"
Search for "bvec.scale(-1.0);" in here
https://github.com/shogun-toolbox/shogun/pull/2676/files#r24749044

Talk to @lambday to get guidance.

[2015-02-16 15:51] karlnapf commented on #2702
Sorry for late reply, but yeah. Everything that can be broken by a user call should be require, otherwise assert (with a comment) is fine. Thanks for taking care

[2015-02-16 18:42] karlnapf opened #2718 "Visually compare multiple classification/regression methods"
We aim to re-produce this plot:
http://scikit-learn.org/stable/_images/plot_classifier_comparison_001.png

This should be super simple within an ipython notebook (for example the one on classification).
Or within a new script.

A similar thing for regression would be nice.

Eternal fame is the reward as this will probably be added to the website ;)

[2015-02-17 05:54] lambday opened #2719 "Make C++11 support mandatory for Shogun 4.x.x"
Let's vote here. Immediate benefits -
- We can use all the cool stuffs in `linalg` without having to worry about `HAVE_CXX11` guards
- @lisitsyn can use `std::shared_ptr` for `Some`
- GSoC students can use cool C++11 things this year only - for_each, lambdas, type traits.

@iglesias and @karlnapf are already on board. @vigsterkr @sonney2k @lisitsyn @besser82 what do you think? We just say that in

[2015-02-17 11:44] lisitsyn commented on #2701
@ayush2913 cool! This could be a kind of challenging thing so lets do some iterations. If you understand the architecture of neural net they used we can go on to details otherwise lets discuss

[2015-02-17 12:17] lisitsyn commented on #2718
We will put your portrait in a postmodern style just to the left of this pic

[2015-02-17 12:50] karlnapf commented on #2718
Haha, WHAT? :)

[2015-02-17 13:23] AnishShah commented on #2718
Hi @karlnapf , I am new and I want to work on this. I want to know on which dataset should I make an IPython Notebook. ?

[2015-02-17 13:33] abinashmeher999 commented on #2718
@karlnapf I am interested in this but I dont know if I will be suitable for this, since I dont know how to use any of those classifiers in shogun yet. At the same time when I am done with this, I would have learnt a lot, all the classifiers and a lot about shogun. I dont think there's any other issue that can teach me as much as this. I am all in for learning this but there are people who already

[2015-02-17 14:17] abinashmeher999 commented on #2718
@AnishShah they have used random sample generators from sklearn. Shogun might have a similar thing like this. Which I found [here](http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CDataGenerator.html).

[2015-02-17 14:33] karlnapf opened #2720 "Work on any of Shogun's binary packages"
See https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_installation

[2015-02-17 15:28] lisitsyn commented on #2718
Use this mask ;)

![699071](https://cloud.githubusercontent.com/assets/424629/6230701/bf9d824c-b6d2-11e4-9a0b-c561bb2789f5.jpeg)

[2015-02-17 15:41] karlnapf commented on #2718
hahaha ;)

[2015-02-17 15:42] lisitsyn commented on #2718
Task one - smooth this picture and use it as a distribution.

[2015-02-17 16:26] karlnapf commented on #2718
@AnishShah check the examples we have, all supervised methods we have are here:
http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CMachine.html

[2015-02-17 18:53] sanuj commented on #2700
@lisitsyn I had a look at the paper. It's about parametric rectified linear units and talks about initialization of weights of rectifiers, training, testing and then compares it with normal ReLU,  GoogleNet etc on ImageNet. Of what I understood, I have to implement the initializations (of weights of rectifier) mentioned in the paper for shogun. Can you tell me if we have some sort of similar imple

[2015-02-18 07:22] lisitsyn commented on #2700
Yeah for example that's the initialization of linear layer we now have: https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/neuralnets/NeuralLinearLayer.cpp#L63

[2015-02-18 07:23] lisitsyn commented on #2700
@sanuj don't bother with initialization/learning of parameteric rectifier, it is more important to get initial weights of rectifiers

[2015-02-18 09:26] lambday commented on #2582
@iglesias I think range_fill, zeros, these are perfect to be shifted to linalg instead.

[2015-02-18 17:11] srgnuclear commented on #2712
hi i would like to take up this issue and subsequently i could complete other issues related to hmm which are listed along with it.
I went through CHMM class in hmm.h. By precompiler flags do u mean inline functions or something else? I would like to know more as to how should i proceed with it.

[2015-02-18 21:26] lisitsyn opened #2723 "Output gradient information in neural nets"
Currently debug output on neural net only reports the current training error. It is also worth to look at gradients information like mean gradient absolute value per layer

[2015-02-19 11:00] ayush2913 commented on #2701
@lisitsyn I gave a read to the paper and watched a video regarding convolution neural networks. I understood that they have used ConvNets in which they are using 1-D convolution and Max pooling to form neural networks. And they have used Stochastic Gradient Descend Algorithm to train it. Further they  have encoded the input into vectors by using 1 of m encoding. I have got an overview of the syste

[2015-02-19 11:14] iglesias commented on #2714
Good for [Fundamental ML algorithms, part 2](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_fundamental) applicants.

[2015-02-19 15:24] iglesias commented on #2716
Good for [Fundamental ML algorithms, part 2](https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_fundamental) applicants.

[2015-02-19 15:32] iglesias commented on #2717
I see both [scale](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/internal/modules/Core.h#L85) and [add](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/internal/modules/Core.h#L69) in linalg that should work for vectors.

@lambday, is that right?

[2015-02-19 15:47] iglesias commented on #2719
+1. See also #2711.

[2015-02-19 16:23] sonney2k commented on #2719
We can do that. I am sure that it will make shogun not compile on some cc's and archs. But we have to name the release that requires it 5.0!

So Ok from my side.

[2015-02-19 17:59] karlnapf commented on #2719
+1 And also on the renaming, which is true.

[2015-02-19 18:47] iglesias commented on #2582
It sounds good!
On 18 Feb 2015 10:26, "Soumyajit De" <notifications@github.com> wrote:

[2015-02-19 18:50] iglesias commented on #2712
I think it is referring to ifdef and other instructions to be taken care
before compilation.
On 18 Feb 2015 18:11, "Saurabh Goyal" <notifications@github.com> wrote:

[2015-02-19 19:00] iglesias commented on #2719
Shall we do a 5.0 release soon then so from pre-gsoc time people can start
using c++11 with no problem?

What does Viktor think?
On 19 Feb 2015 18:59, "Heiko Strathmann" <notifications@github.com> wrote:

[2015-02-19 21:16] lisitsyn commented on #2701
@ayush2913 I'd suggest you to start with some helper functions that encode the text in the same fashion they do. The next step would be to check the notebook on CNNs http://shogun-toolbox.org/static/notebook/current/neuralnets_digits.html and try to build some network. Then you would transform a few texts and try to learn the network to classify them.

[2015-02-20 02:50] srgnuclear commented on #2712
kk. I went through CHMM class and i found the following ifdefs:

#ifdef USE_HMMPARALLEL_STRUCTURES
#ifdef USE_LOGSUMARRAY
#ifdef FIX_POS
#ifdef USE_HMMDEBUG
#ifdef HMM_DEBUG

These are present in config.h.in and cmakelists.txt. I want to know the flow process of how things work.
Like in cmakelists the above flags are either set of or on in option function : so here is the flag is set to of then wh

[2015-02-20 05:36] lambday commented on #2719
@vigsterkr @lisitsyn @besser82 ??
I'll vote for pre-gsoc. Its redundant to write *useful things* from scratch when we *have it there already* in c++11. Of course we can write those on our own but
(1) they need to be properly tested for bugs which is tricky sometimes.
(2) students will feel more comfy with existing c++ stuffs.

[2015-02-20 05:49] lambday commented on #2717
@iglesias yes. The task is then to replace existing SGVector scale calls with linalg one.

[2015-02-20 05:51] lambday commented on #2717
as well as remove scale from SGVector once everything is replaced. Links to SGVector cleanup issue #2582 as well :)

[2015-02-20 08:34] lisitsyn opened #2727 "Add functions to name features"
Currently all the features we use are just indexes like 0 to N but sometimes you don't really want to maintain the index <-> name relation so probably it makes sense to add some functions to name features.

@karlnapf @lambday tell me what you think.

[2015-02-20 08:43] lisitsyn opened #2728 "Human readable output of models"
We can support human readable output of models so user can evaluate what features are important or not. With #2727 it could be quite useful: one would be able to port the trained model to some simple thing (say put learnt linear SVM to your excel spreadsheet).

Suggested by kingsley_ in irc.

@karlnapf @lambday @sonney2k @vigsterkr @kevinhughes27 tell me what you think

[2015-02-20 10:10] iglesias commented on #2728
It sounds quite nice. I see it very useful to use for the output of feature selection algorithms (like LMNN).

[2015-02-20 11:37] lambday opened #2729 "Take `linalg::add` out of `HAVE_LINALG_LIB` guard"
[This method](https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/mathematics/linalg/internal/modules/Core.h#L69) has to be taken out of the `HAVE_LINALG_LIB` guard, now that we have the native implementation. In absence of external linalg lib, this makes the compilation fail in [Add_unittest](https://github.com/shogun-toolbox/shogun/blob/develop/tests/unit/mathematics/linalg/Add_unit

[2015-02-20 13:05] iglesias commented on #2712
Easy solution would be to add attributes with setters.

[2015-02-20 13:29] karlnapf opened #2730 "Update list of methods"
http://shogun-toolbox.org/doc/en/current/methods.html

We have *tons* of stuff in Shogun that is not listed here. This (easy) task is to populate the methods list.
Just go through examples and check whether the method is listed, if not, add.

The page is generated from:
https://github.com/shogun-toolbox/shogun/blob/develop/doc/pages/Methods.mainpage

This will be later used for our user-guide.

H

[2015-02-20 13:30] karlnapf commented on #2730
Super high priority and easy - so go for it!

[2015-02-20 14:18] abinashmeher999 commented on #2720
A small question. Will we be making the packages public by setting up a web server using `reprepro` or using services like Launchpad? because from [this link](https://launchpad.net/distros) it seems like launchpad currently doesn't support Fedora, Arch Linux, etc. However, I came to know there's something else like launchpad for Fedora.

[2015-02-20 15:15] kevinhughes27 commented on #2728
could be cool!

[2015-02-20 15:15] lambday commented on #2729
Done. Closing.

[2015-02-20 15:15] #2729 closed

[2015-02-20 17:57] karlnapf commented on #2727
Cant this be solved with a seperate table where people store their names?

I like it but is it really something we should do from within shogun? Just increases complexity....

[2015-02-20 18:00] karlnapf commented on #2728
Like it, but this is not easily interpreted for example for SVMs.
Good for feature selectors as @iglesias said.

But, this is again something that is super easily done in a target language and increases complexity of our codes. So not sure whether its worth it.

We should rather use some data-storing backend to do such things. Like reading features of a HDF5 frame aka python-pandas. That would be

[2015-02-20 18:01] karlnapf commented on #2720
No own webserver, just packages integrated into standard ways to distribute packages

[2015-02-20 18:02] karlnapf commented on #2712
First step please: Basic unit testing. There are a lot of tests in the static interfaces. Those have to be translated to unit tests before we touch the class, otherwise we dont know what breaks

[2015-02-20 18:08] karlnapf commented on #2719
Lets move soon. But not sure whether we should do another release before GSoC.
5.0 after GSoC is fine.

If you want to release before this switch, also good! But we did not fix too many things since then right?
Releasing as often as possible is a good practice though

[2015-02-20 18:15] lambday commented on #2719
5.0 is a bit too much for just this change I think! :D
major version change should include some *major* modification I think! how about we do it in our next cleaned up version within 4.x.x.?

[2015-02-20 18:53] gittyadi commented on #2723
If i may, I'd like to have a go at this. Could you please point me to the code?

[2015-02-20 21:43] iglesias commented on #2719
In 4.x.x. sounds good to me. Soeren, any reason why it should be 5.0?
On 20 Feb 2015 19:15, "Soumyajit De" <notifications@github.com> wrote:

[2015-02-20 23:23] karlnapf commented on #2719
Requiring a new standard is a major change in my eyes too. But well, it is a matter of taste, just change it in the Dev branch and we can discuss numbers later

[2015-02-21 06:46] sonney2k commented on #2719
@lambday Well just require C++11 from now on but don't do a release until it's ready. So no need to do things twice/cumbersome.

If we have bugfixes - lets make a 4.0.X release.

[2015-02-21 10:29] lisitsyn commented on #2723
@adityaosp95 feel free! The code reporting error can be found at https://github.com/shogun-toolbox/shogun/blob/develop/src/shogun/neuralnets/NeuralNetwork.cpp. See functions `train_bfgs` and `train_gradient_descent`.

I suggest you to use any neural network example to develop and test gradient output.

[2015-02-21 10:31] lisitsyn commented on #2728
@karlnapf I don't see that much complexity in this - all we need is to make features aware of what they store which sounds like a good design anyway

[2015-02-21 13:06] lisitsyn commented on #2727
There is a few pros if we consider feature to be an entity, we could

1) name it
2) disable/enable it
3) use it as label interchangeably

On Friday, February 20, 2015, Heiko Strathmann <notifications@github.com>
wrote:

[2015-02-21 15:13] karlnapf commented on #2727
In my eyes this would be an attempt to reinvent wheels. There are data storage libs which can do this.
Also I dont really see what we get other than convenience?

I mean yeah, might be nice, but given the horrible horrible state the feature classes are in, I would rather do some proper design clean ups before adding to this shaky fundament. Just my two cents

[2015-02-21 18:56] lisitsyn commented on #2727
Say you want to load a csv file and then select one attribute to predict. Currently we have CSV stuff but we can't handle such simple cases. That's why we should either don't work with any io at all or support it better.

[2015-02-22 13:48] karlnapf commented on #2727
Yeah I agree. Good thing to have.

To restate my main point: We don't want to do this by hand but use a lib to do this for us.
And if we do, we should clean up first. The Features code is horrible enough already. Dont you think=

[2015-02-22 23:22] saketkc commented on #2720
I have a pending PR open at `homebrew-science` for shogun 4.0: https://github.com/Homebrew/homebrew-science/pull/1818

I have been a [`linuxbrew`](https://github.com/Homebrew/linuxbrew) user for 6 months now and find it pretty helpful. `homebrew-science` formulae are also [bottled](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Bottles.md) which is essentially an OS, architect

[2015-02-23 00:55] srgnuclear commented on #2712
ohk so i went through static interfaces in src/interfaces so there are various functions implemented in suppose RInterface.cpp so do we have to translate all of them to each unit test and for all the interfaces?

[2015-02-23 11:50] iglesias commented on #2712
@karlnapf, what are exactly the tests you mentioned in the static interfaces? I think you mean the examples in shogun/examples/undocumented/*_static should be translated to unit tests (maybe not one-to-one translation, though).

[2015-02-23 16:03] yorkerlin opened #2735 "implement shallow_copy() and deep_copy()"
Please implement  these `copy()` functions in `CSGObject`.

[2015-02-24 01:32] srgnuclear commented on #2712
i was going through unit tests made till now for distribution folder and there is one for mixturemodel train method. I wanted to know that will all methods of CHMM class be tested by unit tests?. For now i am beginning by train method in CHMM class.

[2015-02-24 06:06] iglesias commented on #2712
It should be like that, yes. Have a look at the other classes that are
properly unit tested to get an idea.
On 24 Feb 2015 02:32, "Saurabh Goyal" <notifications@github.com> wrote:

[2015-02-24 13:40] srgnuclear commented on #2714
As i am going through hmm for making unit tests for its methods i can document it in parallel.
I wanted to ask in hmm.h methods are documented should i start with its .cpp which has very less documentation as compared to high level overview.
And also in hmm.h for commenting three '/' have been used whereas everywhere else its two of '/' which makes the code look cleaner so can i make this small ch

[2015-02-24 13:47] adit-39 commented on #2714
@srgnuclear , I was going through the code as well to document it independently. I've been snooping around the src folder and most of the documentation is always in the header files.
Secondly, doxygen style comments are used, so if you change those three slashes into two, it could fail to generate the documentation

[2015-02-24 18:07] srgnuclear commented on #2714
@adit-39 thanx for doxygen style comments note.
@karlnapf  @iglesias  i would still like to know extensive documentation of the methods should be done in HMM.h or HMM.cpp?

[2015-02-24 20:30] srgnuclear commented on #2712
i went through the examples folder and in it used java_modular implementation, which i den converted to .cc although complete unit test is yet to be implemented i want some review on the approach.
code gist: https://gist.github.com/srgnuclear/f57dfb5f59f518645952
I have commented the load part as i want to know should i be using fstream for it or is there some defined method in shogun?

[2015-02-24 21:28] iglesias commented on #2714
Headers, of course. api documentation is always in the headers (not only in
c++) because the implementation (cpp files in c++) contains the details
that do not belong to the interface.

After, if you plan to understand the implementation, you can improve the
documentation in the cpp file so that it would be easier to understand for
someone who wants to learn from it or needs to change it (e.g. to

[2015-02-24 21:30] iglesias commented on #2712
Unit tests should use simple data so that they are trivial. So no need to
load data files. See how it is done in other unit tests.
On 24 Feb 2015 21:30, "Saurabh Goyal" <notifications@github.com> wrote:

[2015-02-25 01:48] jimsotelo commented on #2730
Has this been taken? I'm trying to get familiar with the shogun toolbox and this looks like a good place to start.

[2015-02-25 07:03] iglesias commented on #2730
Yes. See #2738.
On 25 Feb 2015 02:48, "Jose Sotelo" <notifications@github.com> wrote:

[2015-02-25 10:36] lisitsyn opened #2740 "Non-framework cross validation"
If you compare how you do xval in sklearn and shogun there is a significant difference - sklearn's xval just gives you indices for train/test set while we do it as framework. Probably it would be better if we follow the same principle as it gives much more flexibility (what to evaluate, what to train and how) even though it takes more code to write.

@karlnapf @sonney2k @lambday @vigsterkr discuss

[2015-02-26 13:10] SunilMahendrakar commented on #2526
@karlnapf  @lambday do I start working on this?

[2015-02-26 13:50] karlnapf commented on #2720
@vigsterkr is the expert here.

[2015-02-26 14:12] karlnapf commented on #2735
Deep copy is implemented in ```CSGObject::clone()``` and works for all CSGObject.
Shallow copy does not make any sense to have, we should remove the method and let people do this via copy constructors

[2015-02-26 14:23] karlnapf commented on #2712
Yes @iglesias these static examples are the ones I mean. Many of them work on toy data so can easily be reproduced as unit tests. Certainly, all methods in the static tests should be unit tested. Since we *have* static tests, we can easily write toy examples for unit testing the same methods, using Shogun's current own outputas ground truth (since existing tests somehow guarantee that results are

[2015-02-26 14:24] karlnapf commented on #2730
Great!

But there are way more classes, so I re-open

[2015-02-26 14:26] karlnapf commented on #2740
Our framework also can give indices.

I think we should include the cross-validation of methods within Shogun, it is very useful and easy to get wrong for people who are not familiar.

However, brute force parameter (grid) search should be out, as this can easily be done with a nested loop given that x-validation is implemented.

[2015-02-26 14:55] adit-39 commented on #2730
Will fix that in a couple of hours by taking every file in the src folder
and its subfolders and only after that generate the list with classes
missing unit tests and examples! :)
Every *.h (except for template classes) in src is eligible to make this
list?
On 26 Feb 2015 7:55 pm, "Heiko Strathmann" <notifications@github.com> wrote:

[2015-02-27 06:04] srgnuclear commented on #2712
i think this may be a bug in MixtureModel_unittest.cc where a semicolon is missing at the end SG_UNREF(mix) .
Like does the test run in this case ?

[2015-02-27 12:10] iglesias commented on #2712
You should try running it locally and check it

[2015-02-27 15:41] srgnuclear commented on #2714
should the description of all methods be provided for model class too or only CHMM class?

[2015-02-28 19:37] karlnapf commented on #2714
*all*  public methods (and classes) that are exposed via doxygen should be documented

[2015-02-28 19:40] srgnuclear commented on #2714
ohk.. ill take that into consideration.

On Sun, Mar 1, 2015 at 1:07 AM, Heiko Strathmann <notifications@github.com>
wrote:

[2015-02-28 19:40] karlnapf opened #2746 "Clean up class list"
http://www.shogun-toolbox.org/doc/en/latest/annotated.html

the top level contains all sort of unnecessary structures, there should just be shogun, not

 * CTron
 * block_tree_node_t
 * ...

Also feel free to go though the class list and clean up everything that you find that is "dirty"

[2015-02-28 19:46] karlnapf commented on #2730
Thats a good way to start, but keep in mind the list of methods should not contain every class we have, but every algorithm we implement, with a reference to the class(es) it is implemented in.

You don't need to look for missing unit tests, we have a test coverage script that does this, see buildbot

[2015-02-28 19:50] karlnapf commented on #2526
Go for it. @lambday will guide you.
First step: Linear solves
 * Direct solve (A*x =b ), similar to [numpy.lingalg.solve](http://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.solve.html)
 * Solve via cholesky, triangular solve, pseudo inverse, see also [here](http://docs.scipy.org/doc/scipy/reference/linalg.html)

Second step: Factorisations
 * The three mentioned above, plus eigendeco

[2015-02-28 19:54] karlnapf opened #2747 "make use of linalg within Shogun"
This task is to make Shogun's internal make use of the new [linalg framework](https://github.com/shogun-toolbox/shogun/wiki/README_linalg)

It is pretty simple: Take a method that you want to replace, say some dot product. Then go through Shogun's code and search for appearances of dot products. Those could take a lot of different forms

 * manual loops
 * lapack calls (look up the dot product cal

[2015-02-28 19:55] karlnapf commented on #2747
Useful for the linalg GSoC project. https://github.com/shogun-toolbox/shogun/wiki/GSoC_2015_project_linalg

[2015-02-28 19:56] karlnapf opened #2748 "write unit tests for SGSparseMatrix"
See https://github.com/shogun-toolbox/shogun/pull/2733

[2015-02-28 20:06] karlnapf opened #2749 "investigate the use of google benchmark for Shogun"
https://github.com/google/benchmark

we do have a benchmark folder, but this could maybe be done more systematically?

[2015-02-28 20:08] sanuj commented on #2747
Are we using c++11 everywhere in shogun then?

[2015-02-28 20:17] sanuj commented on #2749
I wrote `hayai benchmarks` to compare `native` and `eigen3` dots. Sharing it if it is helpful for someone :)
https://gist.github.com/sanuj/1099abec85e90b11eb0d

[2015-02-28 20:32] sanuj commented on #2700
@lisitsyn Sorry for the delay. The paper uses zero-mean Gaussian distribution with variance 2/n where n denotes the number of connections of a response `y = Wx + b` for layer L and initializes b=0 (vector of biases). The derivation is for a conv layer.

[2015-02-28 21:01] lisitsyn commented on #2700
@sanuj yeah feel free to implement that then ;)

[2015-02-28 21:09] sanuj commented on #2700
Sure :) Shall I add it in the convolutional layer or somewhere else and shall I edit the `initialize_parameters` function or add a new one?

[2015-02-28 21:11] lisitsyn commented on #2700
@sanuj I'd suggest you to add an other initialization mode that is switched with some enum

[2015-02-28 21:16] sanuj commented on #2700
@lisitsyn in conv layer?

[2015-02-28 22:05] SunilMahendrakar commented on #2747
@karlnapf I have already started on this with scale https://github.com/shogun-toolbox/shogun/issues/2717 pull https://github.com/shogun-toolbox/shogun/pull/2744. I will add more soon.

[2015-02-28 23:14] karlnapf commented on #2749
I like that framework. Is it well maintained? Thats a big plus for the google one ..... in addition to the readme being shorter ;)

[2015-02-28 23:20] karlnapf commented on #2747
@sanuj it is not yet done. @lambday will guide this and merge the requirement patch too ;)

[2015-02-28 23:40] lisitsyn commented on #2749
@karlnapf hayai is header only which is an advantage - we could just take the code once. As it is dead simple we can maintain that by ourselves

[2015-02-28 23:44] karlnapf opened #2750 "remove mktemp warnings in unit tests and libshogun examples"
```CMakeFiles/streaming_onlineliblinear_sparse.dir/streaming_onlineliblinear_sparse.cpp.o: In function `main':
/home/heiko/git/shogun/shogun_develop/shogun/examples/undocumented/libshogun/streaming_onlineliblinear_sparse.cpp:35: warning: the use of `mktemp' is dangerous, better use `mkstemp' or `mkdtemp'```

when building the examples and unit tests

[2015-02-28 23:48] karlnapf commented on #2749
I would like to avoid any overhead and stick to standard things to do that. But if it is that easy, why not

[2015-03-01 00:51] karlnapf opened #2751 "ideas / work towards a new shogun user guide"
See https://github.com/karlnapf/shogun_manual

Any contributions welcome

[2015-03-01 02:43] karlnapf commented on #2600
See also https://github.com/karlnapf/shogun_manual

[2015-03-01 02:43] #2508 closed

[2015-03-01 06:23] yingryic commented on #2748
I would like to take a shot on this problem. What are the essential functions need to be tested (the file loaders?), and where the test file should be placed (under test/unit/base/ ?)

[2015-03-01 12:49] iglesias commented on #2748
Unit tests should pretty much cover all the code of the class. Have a look
at other unit tests to get the idea.

Is SGSparseVector under lib or base?
On 1 Mar 2015 07:23, "Yingrui Chang" <notifications@github.com> wrote:

[2015-03-01 14:25] lisitsyn opened #2752 "Use nested namespaces that resembles directory structure"
Currently it is very hard to navigate through documentation and code completion due to flat namespace structure. I am pretty sure we should have nested namespaces to help with that.

[code]

@karlnapf @vigsterkr @sonney2k @iglesias what do you think?

[2015-03-01 14:27] vigsterkr commented on #2752
i would go for it! :)

[2015-03-01 14:33] iglesias commented on #2752
I like the idea too.

[2015-03-01 15:13] SunilMahendrakar commented on #2526
@karlnapf Okay! :)

[2015-03-01 15:37] lisitsyn commented on #2752
@karlnapf I guess if like it too we should go for it ;)

[2015-03-01 19:36] yingryic commented on #2748
@iglesias there is a SGSparseMatrix test in lib/, it has tests on operator "*", and loading libsvm file. I wil try to add test for the rest member functions.

[2015-03-01 21:10] neutralino opened #2753 "Ruby - error creating Labels object"
Hello,

I have Shogun 4.0.0 installed and I'm using ruby 2.1.5p273.  When testing out a basic Shogun example in ruby, I get an error trying to create a Labels object:
[code]

Thanks for any help.

[2015-03-01 23:21] lisitsyn commented on #2753
Hey @neutralino

I am surprised by this kind of error you get but the reason for this error is simple. Labels itself is an abstract class and you'd have to instantiate something more concrete like BinaryLabels

[2015-03-01 23:57] yingryic commented on #2748
@iglesias the test "access_by_index" for the () operator is probably not very comprehensive, since it only creates a square diagonal matrix. Shall I change that?

[2015-03-02 01:26] neutralino commented on #2753
Thanks @lisitsyn!  That works, turns out I was also following a really old version of the tutorial.

[2015-03-02 08:30] iglesias commented on #2748
It sounds reasonable, yes. Feel free to create a group of similar tests. For instance, `access_by_index_square`, `access_by_index_more_cols`, `access_by_index_more_rows` (or the names you prefer).

[2015-03-02 09:55] iglesias commented on #2753
Where did you find that tutorial, @neutralino?

On 2 March 2015 at 02:26, Don <notifications@github.com> wrote:

[2015-03-02 10:21] karlnapf commented on #2752
Oh yes, please please +1 +1

AND do a little clean up on the fly, some of the structures do not make too much sense

[2015-03-02 13:02] neutralino commented on #2753
Just on someone's old [blog post](http://neovintage.org/2011/12/19/start-using-shogun-toolbox-in-ruby),  who I suppose at that time was using the [1.1.0](http://shogun-toolbox.org/doc/en/1.1.0/ruby_modular_examples.html) version of the shogun examples.

[2015-03-02 20:07] lisitsyn commented on #2753
I am closing now as it seems to be resolved

[2015-03-02 20:07] #2753 closed

[2015-03-03 15:40] lisitsyn opened #2757 "GaussianARD compilation failure without Eigen3"
@yorkerlin

When compiling without eigen3 I get:

[code]

[2015-03-03 15:50] yorkerlin commented on #2757
I will add a guard so that it should the compilation should work.

On Tuesday, March 3, 2015, Sergey Lisitsyn <notifications@github.com> wrote:

--
best,

wu lin

[2015-03-03 16:11] yorkerlin commented on #2757
@lisitsyn
the bug should be fixed at
https://github.com/shogun-toolbox/shogun/pull/2756/files

[2015-03-03 20:51] lisitsyn commented on #2757
Cool, thanks!

[2015-03-03 20:51] #2757 closed

[2015-03-03 22:38] lisitsyn opened #2758 "Store confidences in neural networks output"
There is no notion of confidences in neural networks at the moment which is baad.

[2015-03-06 04:54] AlexLuya commented on #2666
some problem here,any progress?

[2015-03-06 07:51] AlexLuya commented on #2666
(Caution:my octave version is 3.8.1)
I think it may be an octave issue,after modifying two files:
/usr/include/octave-3.8.1/octave/oct.h     line 31:#include <config.h>       ----->   #include "config.h"
/usr/include/octave-3.8.1/octave/oct.h     line 28:#include <base-list.h>   ----->   #include "base-list.h"
compilation passed without error.

[2015-03-06 09:10] AlexLuya opened #2762 "octave modular compile and install succeed but still got:"error: 'init_shogun' undefined..""
I have tried to install shogun 4.0 with octave 3.8.1 from source in my ubuntu 14.04 64bit like this
(By default,compilation will fail,so I modified two header files of octave,please check this:https://github.com/shogun-toolbox/shogun/issues/2666)

    cd shogun-4.0.0
    mkdir build
    cd build
    cmake  -DOctaveModular=ON ..
    make
    sudo make install

I found  a file called:modshogun.oct h

[2015-03-07 17:57] neutralino opened #2765 "Ruby - overloaded initialize error when instantiating NeuralNetwork, RBM"
Hi all,

I'm hitting an error when trying to instantiate an RBM or NeuralNetwork in Ruby.  Ex:

[code]

I believe the issue is that Ruby uses `initialize` as the name of its constructors (which SWIG automatically creates), but there is another initialize() function already defined in these classes.

[2015-03-07 19:20] lisitsyn commented on #2765
Hey @neutralino,

good catch, thanks for pointing this out. Although I have no solution but rename all the 'initialize' member functions.

[2015-03-09 10:13] karlnapf commented on #2762
@vigsterkr ?

[2015-03-09 10:16] karlnapf commented on #2765
Oh wow. Why did we never spot this yet?
I will open an issue for this

[2015-03-09 10:17] karlnapf opened #2766 "Rename all ```initialize``` methods"
They clash with ruby:

See #2765

This is an easy grep exercise

[2015-03-09 10:17] karlnapf commented on #2765
Very interested here in other experiences with using Shogun from ruby

[2015-03-09 10:37] karlnapf commented on #2758
Maybe that is not so bad. NN's notion of confidence is neither calibrated nor stable. Using them to quantify uncertainty usually is dangerous. Or has this changed?

[2015-03-09 14:56] lisitsyn commented on #2758
Well softmax is pretty calibrated.

I met this issue when applied to some classification when ranking is important. SVM outputs some data which is not calibrated as well but you can extract ranking

[2015-03-09 15:34] karalets commented on #2758
Guys,

Feedforward NN do not understand uncertainty on their parameters. The only thing they can do is quantify uncertainty on final output variables, but is is a maximum likelihood or MAP estimate which has previously thrown away all the uncertainty between inputs and that.
As such, the output (i.e. of a softmax or the probability of binary unit for classification or the variance of a gaussian) i

[2015-03-11 08:19] iglesias commented on #2666
In my case (Octave 3.8.2), the second change is in the file comment-list.h, not in oct.h.

[2015-03-11 09:43] iglesias commented on #2762
You should be using `modshogun` rather than `init_shogun` (see octave modular examples).

[2015-03-11 09:43] #2762 closed

[2015-03-11 10:10] iglesias commented on #2666
After making the changes suggested above, you may still run into the trouble

[code]

because it seems that octave sets `HAVE_HDF5` if it finds hdf5 in your system, no matter the dev package is installed or not. Of course, you can solve this by installing the dev hdf5 package.

In any case, this is an Octave issue rather than a Shogun issue.

[2015-03-11 10:10] #2666 closed

[2015-03-11 10:14] iglesias commented on #1805
Shogun 4.0.0 with Octave 3.8.2 works well in Ubuntu 14.04 64 bits. Shall we close this issue?

[2015-03-11 12:07] AlexLuya commented on #2762
thanks

[2015-03-12 11:47] karlnapf opened #2768 "Random fourier features workover"
Shogun has an implementation of the random kitchen sink (aka random fourier features) idea by Rahimi & Recht.

These are an amazing tool to speed up any kernel method via solving a linear problem in an approximate feature space, whose inner product for increasing dimensions converges to the true kernel.

This task is about

 * writing examples
 * demonstrating in a notebook
 * write unit tests
 *

[2015-03-12 13:50] karlnapf commented on #2768
See for example
http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1CRandomKitchenSinksDotFeatures.html

[2015-03-12 21:01] yingryic opened #2769 "make sparse matrix and dense matrix have the same interface"
the current constructors for sparse and dense matrix are matrix(int num_feat, int num_vec), but () operator are implemented differently, denseMatrix(feat_index, vec_index) and sparseMatrix(vec_index, featIndex). Thus we need to change the interface of SGSparseMatrix to make it consistent, and test other related member functions. @karlnapf

[2015-03-13 08:38] iglesias commented on #2769
I even think we should remove the notion of features and vectors from these matrix classes. They should be treated as math objects and use more abstract terms (row and column) than feature and vector. The latter appear when we use matrices to represent feature matrices.

[2015-03-13 08:39] iglesias commented on #2769
And the same for `SGSparseVector`. From my point view, there should be no feature mention there.

[2015-03-13 15:10] yingryic commented on #2769
the variables "num_features" and "num_vectors" are defined as public in the sparsematrix class, as well as "num_feat_entries" and "*features" in the sparsevector class. Every file using those sparse structures are taking advantage of it, i.e, the statement "numFeatures=sparseMatrix.num_features" are everywhere, changing the convention would be problematic.
Just check all the files including the SG

[2015-03-13 15:20] iglesias commented on #2769
Oh, I see. It is understood now. Thanks a lot for the explanation. This makes me wonder whether we should provide after the operator() :D

[2015-03-13 15:38] yingryic commented on #2769
yes, but some of the unit test are still using () operator, getting rid of it would also pose problems.

[2015-03-13 19:07] yingryic commented on #2526
hi, @SunilMahendrakar are you are still working on this problem. If you are interested in the deep learning project, I wonder if you could let me look into this. Thanks

[2015-03-13 19:21] alishir commented on #2701
@lisitsyn As I found in [this blog post](http://www.kdnuggets.com/2015/03/deep-learning-text-understanding-from-scratch.html?utm_content=buffer89b57&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer) @zhangxiangxiao promised to release the Torch sourced code (GPU) in a few weeks.

[2015-03-13 20:16] SunilMahendrakar commented on #2526
@yingryic Hi, I was going to work on this but little bit slowly.. If you want to finish this you can proceed. You may refer to [eigen3 doc](http://eigen.tuxfamily.org/dox/classEigen_1_1LLT.html) to get started.

[2015-03-13 22:02] lisitsyn commented on #2701
@alishir cool! Thanks for the info

[2015-03-13 22:07] yingryic commented on #2526
@SunilMahendrakar Thanks, if you havent started, I guess I could get going.
After checking the linsolver directory, I guess shogun currently only has direct solver for sparse symmetric matrix. So are you interested in a solver of general dense matrix (non sysmmtric) based on LU factorization, or the least square solution using QR decompositon or SVD. (one class for each of the methods?)
All this c

[2015-03-14 13:52] karlnapf commented on #2769
I agree with @iglesias
No features and vectors in a matrix.

As for semantics. Sparse matrices should really only be treated as linear operators that can be applied to vectors or chained. As a data structure, its more a dictionary of (i,j) pairs to a real number.

The () operator is useful for debuggin/construction, but it should never be used in practice. Imagine you iterate over num_rows, num_co

[2015-03-14 17:48] karlnapf commented on #2526
@yingryic
Hi, cool that you are getting involved here.
Let's maybe start with a plain linear solve? I checked what numpy does:

http://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.solve.html
http://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html#numpy.linalg.lstsq

First wraps LAPACK's _gesv, i.e. assuming full rank and then solving exactly
Second does least squar

[2015-03-16 00:05] vishalbelsare opened #2772 "shogun-4.0.0 compilation error(s). Ubuntu 12.04"
I am compiling from the source tarball (SHOGUN Release version 4.0.0 (libshogun 17.0, data 0.9, parameter 1) ) taken from Shogun's website. I am compiling on Ubuntu 12.04. Things seem to go well, until the following shows up :

[ 83%] Building CXX object src/shogun/CMakeFiles/libshogun.dir/io/protobuf/Chunks.pb.cc.o
/home/vishal/Desktop/shogun-4.0.0/src/shogun/io/protobuf/Chunks.pb.cc: In member f

[2015-03-16 08:10] iglesias commented on #2769
They do provide that operator in other implementations (at least, I am somewhat confident Matlab does).

[2015-03-16 08:16] iglesias commented on #2772
What compiler and version are you using?

On 16 March 2015 at 01:05, vishalbelsare <notifications@github.com> wrote:

[2015-03-16 08:25] iglesias commented on #2772
Could you also check if there is #include
<shogun/kernel/normalizer/KernelNormalizer.h> in your
shogun/kernel/Kernel.h? If so, I think it should be possible to remove
safely the forward declaration your compiler is complaining about.

On 16 March 2015 at 09:15, Fernando J. Iglesias García <
fernando.iglesiasg@gmail.com> wrote:

[2015-03-16 08:41] vishalbelsare commented on #2772
Compiler version quite dated at:

vishal@goedel:~/Desktop/shogun-4.0.0/Build$ g++ --version
g++ (Ubuntu/Linaro 4.6.3-1ubuntu5) 4.6.3

Yes, /shogun/kernel/Kernel.h has a include directive for <shogun/kernel/normalizer/KernelNormalizer.h>

Would upgrading the compiler help with this?

[2015-03-16 10:00] iglesias commented on #2772
I know that it works with the gcc version that comes in Ubuntu 14.04.

Have you tried removing the forward declaration I mentioned in the previous
message?

On 16 March 2015 at 09:41, vishalbelsare <notifications@github.com> wrote:

[2015-03-18 16:19] RichardF77 opened #2773 "Shogun 4.0.0 errors in compilation"
Hi,

I have tried to install and compile shogun-4.0.0 without success. I believe my configuration is right.

I am using Ubuntu 14.04.4, gcc and g++ 4.9.2 (c++11 compatible) and have accurately followed the instructions in the Quickstart wiki and installed all the required libraries etc.

The output of my cmake is:

[code]

This is the output of make -j5 all or make install

[code]

Any idea about

[2015-03-21 14:44] karlnapf commented on #2773
Must be something with your system, as Shogun is known to build fine under Ubuntu 14.04

@lisitsyn any ideas?

[2015-03-21 19:34] lisitsyn commented on #2773
@karlnapf @RichardF77 I suspect there is some discrepancy between compiler (or used standard of C++) and stdlib. I am not sure why it is so but I'd check whether C++11 is enabled.

[2015-03-23 00:01] lisitsyn opened #2777 "Build Protofiles in CMake"
We store compiled protobuf wrappers in `io/protobuf` which leads to errors when protobuf is updated. This should be replaced with on-the-go compilation of protofiles in our CMakeLists.

[2015-03-23 00:09] lisitsyn commented on #2777
Oops, my bad

[2015-03-23 00:09] #2777 closed

[2015-03-23 20:12] yorkerlin opened #2779 "implementing inference methods for sparse GP"
Most of methods in the list will be implemented in the order.
* inference for Sparse Gaussian process regression (based on JMLR 2005 "A unifying view of sparse approximate Gaussian process regression")
*  inference for Sparse Gaussian process binary classification. (based on NIPS 2007 "the generalized FITC approximation")
* variational inference for Sparse Gaussian process binary classification an

[2015-03-23 20:15] yorkerlin commented on #2779
@karlnapf
take a look at this.

[2015-03-25 02:56] iml commented on #2619
Any updates regarding compatibility with the latest SWIG? Folks have been trying to get this packaged on Homebrew with clang/libc++. Don't have SWIG 2 available to test. The failures on Yosemite are [here](http://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/1382/version=yosemite/console) starting from:
[code]

[2015-03-25 05:14] tengshaofeng opened #2783 "No rule to make target `all'"
hello ,
     When i run "make -j5 all",it appears " No rule to make target `all'"
what is the problem?

thanks in advance.

[2015-03-25 08:50] lisitsyn commented on #2619
@iml I thought it was fixed in https://github.com/shogun-toolbox/shogun/commit/fef8937d215db7f26e15cdc8b21201ee52e69e1f

[2015-03-25 10:40] karlnapf commented on #2779
Good stuff @yorkerlin

A few comments:
I would for now remove the arixived papers from the list. We do not know yet how well they really work, so we should wait for them to get peer reviewed.

All the additional tools are also very useful. I would also like to suggest another paper, that is very similar, but not specifically GP and variational inference, but general kernel methods. Very good stuff

[2015-03-25 11:13] karlnapf commented on #2783
Could you provide some more information of what you are doing?
Make sure check the readme files, they explain how to use cmake and subsequent make

[2015-03-25 11:14] karlnapf commented on #2783
I close this for now

[2015-03-25 11:14] #2783 closed

[2015-03-25 11:21] iglesias commented on #2783
Just make -j5 should be fine.

[2015-03-25 15:36] iml commented on #2619
Thanks, that fixed it when added to CFLAGS. For some reason the commit as a patch gave the same errors.

[2015-03-27 15:24] karlnapf commented on #1102
any ideas what the motivation for this was?

[2015-03-27 19:08] yorkerlin commented on #2779
@karlnapf
Indeed, the following methods use the same variational bound proposed by MK Titsias

* variational inference for Sparse Gaussian process binary classification and regression (based on AIStats  2009  "Variational learning of inducing variables in sparse Gaussian processes.")
* Stochastic variational inference for Sparse Gaussian process binary classification and regression (based on UAI 2

[2015-03-27 19:14] yorkerlin commented on #2779
@karlnapf
The GPLVM for dimension reduction will be the last implemented method since we may need to warp or use some tricks in kernel objects since we need to compute the `variational expectation` wrt `features` of a `general` kernel matrix.
For ARD kernels, I can get the close-form result.
For other kernels, currently I am not sure whether we can do some numerical integration for multivariate Ga

[2015-03-27 19:14] khalednasr commented on #2758
The outputs of the network can very well be interpreted as confidences in the case of multiclass classification using softmax or logistic units. I guess we could add that, since implementing it would be very easy.

[2015-03-27 19:21] yorkerlin commented on #2779
@karlnapf
As mentioned at `Scalable Variational Gaussian Process Classification`, the variational distribution can be non-Guassian.
See `Automated variational inference for Gaussian process models` NIPS 2014.

We can use a `mixture` of K Gaussian distributions as the variational distribution to gain more accurate approximation, where K is user-defined.

If time permitted, I may implement a simplif

[2015-03-28 14:00] lisitsyn opened #2787 "Add triplet loss as per FaceNet"
Paper is [here](http://arxiv.org/abs/1503.03832)

[2015-03-28 14:08] lisitsyn commented on #1102
@karlnapf is it needed somewhere?

[2015-03-28 17:19] lisitsyn commented on #2773
@RichardF77 did you get any progress on this problem? Need help?

[2015-03-28 21:19] lisitsyn opened #2789 "Use common naming in target languages"
I suggest to adjust naming of methods in target languages so that 'get_num_features' in Python would be 'getNumFeatures()' in Java. I consider this quite important as it looks pretty ugly in Java now.

@karlnapf @vigsterkr @lambday

[2015-03-28 21:30] sonney2k commented on #2789
That is a swig name mangling option.

It will make examples more difficult to maintain though...

On March 28, 2015 11:19:14 PM EET, Sergey Lisitsyn <notifications@github.com> wrote:

--
Sent from Kaiten Mail. Please excuse my brevity.

[2015-03-28 21:32] lisitsyn commented on #2789
@sonney2k with @karlnapf initiative to generate examples from some proto language it shouldn't be a problem

[2015-03-28 21:35] sonney2k commented on #1102
I used this like 10 years ago to alloc memory / know the size of the feature matrix etc. I guess we don't need this anymore.

On March 27, 2015 5:24:18 PM EET, Heiko Strathmann <notifications@github.com> wrote:

--
Sent from Kaiten Mail. Please excuse my brevity.

[2015-03-29 12:22] karlnapf commented on #2779
Ok cool!

[2015-03-29 12:27] karlnapf commented on #2789
Yep, with the automagically generated ones, we can do this quite easily. I dont know about swig though.

To be honest, I dont think this is too important .... we rather should have example documentation as the manual project @lisitsyn and me have been working on

[2015-03-29 12:27] karlnapf commented on #2789
We can always change this, once examples are generated automatically, all easy

[2015-03-29 12:28] karlnapf commented on #1102
ok thanks

[2015-03-30 04:04] tengshaofeng commented on #2783
when i make -j5, it still have error like "/tmp/ccfDSvzN.s:899: Error: no such instruction: `vfmadd312sd 232(%rsp),%xmm4,%xmm14'
/tmp/ccfDSvzN.s:1158: Error: no such instruction: `vfmadd312sd 232(%rsp),%xmm2,%xmm12'
/tmp/ccfDSvzN.s:1182: Error: no such instruction: `vfmadd312sd 240(%rsp),%xmm0,%xmm13'
/tmp/ccfDSvzN.s:1263: Error: no such instruction: `vfmadd312sd 232(%rsp),%xmm2,%xmm1'
/tmp/ccfDSv

[2015-03-30 04:51] tengshaofeng opened #2790 "Configuring incomplete, errors occurred!"
hello ,
when i make -j all, it returns " Configuring incomplete, errors occurred!"

this is the part of CMakeError.log  "parentheses -Wshadow -Wno-unknown-pragmas -Wno-deprecated  -DCHECK_FUNCTION_EXISTS=pthread_create   -o CMakeFiles/cmTryCompileExec1520028041.dir/CheckFunctionExists.c.o   -c /usr/cmake-2.8.12.1-Linux-i386/share/cmake-2.8/Modules/CheckFunctionExists.c
Linking C executable cmTryCo

[2015-03-30 09:53] tengshaofeng commented on #2790
I cmake ,then i face the following error.Sould I install MOSEK,ATLAS and so on?

tbq@tbq-All-Series:~/shogun-4.0.0/build$ cmake -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" / -DMatlabStatic=ON ..
-- Could NOT find CCache (missing:  CCACHE)
-- Found SWIG: /usr/bin/swig2.0 (found suitable version "2.0.4", minimum required is "2.0.4")
-- Using system's malloc
-- Could NOT find MOSEK (missing:  MOSEK

[2015-03-30 10:26] karlnapf opened #2791 "remove CPLEX dependency"
and investigate how we can replace it with another open-source LP solver

Useful:
 * http://www.statistik.tuwien.ac.at/forschung/CS/CS-2012-1complete.pdf
 * http://en.wikipedia.org/wiki/List_of_optimization_software

[2015-03-30 11:17] iglesias commented on #2783
I must admit that looks very weird and unknown to tme :-) @lisitsyn, any idea?

If you can, @tengshaofeng, copy in pastebin, gist, or somewhere else the list of instructions you are doing to download Shogun, configure the build with cmake and trying to build it.

[2015-03-31 10:55] karlnapf commented on #2790
its none of them, but Shognu requires a recent compiler that supports c++11

2015-03-30 10:53 GMT+01:00 tengshaofeng <notifications@github.com>:

[2015-03-31 11:00] karlnapf commented on #2783
This comes from a recent cpu (i7) used with an outdated compiler (such as the one in Ubuntu 12.04)
Could you share your system specs?

[2015-03-31 18:44] RichardF77 commented on #2773
Hi, thanks for the comments.

I guess C++11 is enabled in gcc 4.9.2  by default. Is there any way to check this?

I am trying this in a fresh install of Ubuntu 14.04 LTS. I have only updated the compiler using the official repo.

Thanks,
Richard

[2015-03-31 20:08] iglesias commented on #2773
If I am not mistaken, if cmake finds your compiler suppors C++11, then it will automatically configure the build using C++11 support. A hint that may be useful from cmake's output:

[code]

[2015-04-01 18:53] yorkerlin opened #2794 "Compilation failure when ViennaCL-1.6.2 is used"
@lambday  @karlnapf
The error ocurs at `src/shogun/lib/GPUMatrix.cpp`.
The cmake arguments I used are
`cmake  -DBUNDLE_EIGEN=ON -DENABLE_VIENNACL=ON -DBUILD_DASHBOARD_REPORTS=ON -DENABLE_TESTING=ON -DCMAKE_BUILD_TYPE=Debug ..`

When `ViennaCL-1.5.2` is used, everything works fine.

[2015-04-01 18:55] yorkerlin commented on #2794
[code]

[2015-04-02 03:10] tengshaofeng commented on #2790
@karlnapf   thank you  for your advise . I have complete my installation in another computer which is not i7

[2015-04-02 03:11] #2790 closed

[2015-04-02 12:09] erogol opened #2798 "Shogun python interface raises unimplemented error for any function?"
I installed Shogun by following second answer of this question (http://stackoverflow.com/questions/21680741/shogun-on-ubuntu-12-04 ). However for any function call it raises following error;

NotImplementedError: Wrong number or type of arguments for overloaded function 'new_RealFeatures'.
  Possible C/C++ prototypes are:
    shogun::CDenseFeatures< float64_t >::CDenseFeatures(int32_t)
    shogun:

[2015-04-02 19:08] yorkerlin commented on #2794
same at https://github.com/shogun-toolbox/shogun/issues/2690
I close this.

[2015-04-02 19:15] #2794 closed

[2015-04-04 15:55] karlnapf commented on #2798
How do you call the function? This seems like a type error to me

[2015-04-04 20:17] lisitsyn commented on #2619
@iml can I help you with pushing the new shogun version into brew? We now have some will to make shogun better distributable as this is super important. Please let me know if there are any issues yet to resolve.

[2015-04-04 21:29] erogol commented on #2798
It seems like I give the numpy arrays as float32 to RealFeatures function. This is dummy user fault :)

[2015-04-04 21:29] #2798 closed

[2015-04-04 21:55] karlnapf commented on #2798
Yeah I guess the error message could be more clear, stating the given type as well.
Ill open an issue on this.

[2015-04-04 21:58] karlnapf opened #2799 "modular interface error messages on wrong type usage"
See #2798

If passing a numpy.float32 array to a Shogun function which expects a double vector, an error is thrown. It would be good to print some type information that explains the user that the given type (float32) does not match any of the available methods (float64)

[2015-04-05 16:18] iml commented on #2619
I have a pretty functional formula and have tested the python interface, but one issue there is the result of how the OS X linker works. The path to the python used a buildtime is explicitly linked in the module, so it segfaults if imported from another python. The fix for OpenCV was to set
[code]
with cmake (see https://github.com/Itseez/opencv/pull/3865), which I tried to steal but it didn't see

[2015-04-05 17:48] lisitsyn commented on #2619
@iml we actually spent quite a lot of time trying to understand why python-modular crashed on mac os x. It was the very same issue of linking to wrong libraries.

Thanks for the information I'll check what can I do

[2015-04-05 18:36] erogol commented on #2798
that would be great

[2015-04-05 19:59] yorkerlin opened #2801 "a bug in linalg"
@lambday @karlnapf
the following code can reproduce the bug

[code]

when  `cmake -DENABLE_EIGEN=OFF -DENABLE_VIENNACL=ON`, res is `0.0`

when `cmake -DENABLE_EIGEN=ON -DENABLE_VIENNACL=OFF`, res is `94.53095904500000301596`

[2015-04-05 21:48] lambday commented on #2801
@yorkerlin @karlnapf hey man this seems really weird. I can reproduce this locally. The funny part is, if I replace SG with CGPU counterparts, things work perfectly fine. So, I thought that it must be the constructor `CGPUMatrix<T>::CGPUMatrix(const SGMatrix<T>& cpu_mat)` that gets called when we pass those SGMatrices to matrix_product. I put some debug texts there and I get this
[code]
(params pa

[2015-04-05 21:50] lambday commented on #2801
Oh I see! It stores the result into a temporarily created GPU matrix. So res (which is SGMatrix) is still empty. We need to provide a version that returns the result matrix.

[2015-04-05 21:59] lambday commented on #2801
@yorkerlin back then we added the result parameter in those methods because CPU < --- > GPU data transfer is costly. But we do need the standard versions that would simply return the result. Whenever using a linalg method with global backend (i.e. not specifying any backend), we should use those only. Will ping you when I add that method. Thanks for pointing out this bug! :)

[2015-04-06 09:44] karlnapf commented on #2801
Great interaction guys, well spotted @yorkerlin !
Pleasure to read along this discussion!

[2015-04-06 14:30] lambday commented on #2801
@yorkerlin @karlnapf I will add similar things for other linalg methods. I've got an idea though. I remember discussing something regarding this with Khaled. The key point is, even though this approach makes things work, **but** the back and forth CPU-GPU data transfer really kills the performance. You see what we're doing here is, we're copying two CPU matrices to the GPU, compute the result and

[2015-04-06 15:16] karlnapf commented on #2801
So the idea is that everything happens in GPU memory?

[2015-04-06 15:17] karlnapf commented on #2801
If that works, I love the idea!
I am a bit sceptical whether it is possible to actually do this? Thinking about all the different backends used....i.e. @yorkerlin heavily uses eigen3, but then also some linalg calls....
Maybe we need to give this decision to the programmer? They know best when transfers should be done? And there should be a debug switch which counts the number of such transfers in

[2015-04-06 15:24] karlnapf opened #2803 "remove configure script"
People do get confused since they run ```./configure && make && sudo make install```

I think our take on cmake is mature enough these days

Thoughts? If no-one complains, I will go ahead...

Should be done before next major release

[2015-04-06 15:35] lambday commented on #2801
I agree that this decision should be left to the programmer - choose a particular matrix type and a particular backend if you want anything specific. I was thinking from the use-case that @yorkerlin is doing here. Without any backend specified, these operations will make the CPU-GPU transfer for every linalg call when ViennaCL is global backend.

The way I was thinking of achieving this is to make

[2015-04-06 16:38] yorkerlin commented on #2801
@karlnapf @lambday
Let's `first` test the `linalg` using the FITC inference.

In my opinion, at least for GP modules  without any backend specified, eigen3 should be the default `backend` unless eigen3 is not available.

For kernel modules (eg, GaussianARD kernel), ideally, we may want the following things
* developers use `global` linalg methods without any backend specified
* users pass a parame

[2015-04-06 17:23] lambday commented on #2801
@yorkerlin

- Default is eigen3 for everything. So no problem there
- The flag thing is possible. However, we'll be having to copy the data, CPU to/from GPU. See, the flag you mentioned can very well determine which backend is used for the operations, even at runtime (one can easily write if-else/switch with those with specified backend). But for properly using GPU, one better rely on using a CGPU

[2015-04-06 17:38] yorkerlin commented on #2801
@lambday
Maybe we can do some benchmarks to determine when GPU should be used.
For example, y-axis is the speedup when GPU is used and x-axis is  the size of of matrix (assuming the matrix is `square` first) n for the following cases:
* matrix-by-matrix product
* matrix-by-vector product
* matrix-inverse
* matrix decompositions (LU, QR, Chol and others)
* others operations

[2015-04-06 17:41] lambday commented on #2801
@yorkerlin sounds like a great idea! Not sure about matrix-inverse though. Never used that :D Heiko?

Okay I'll do these benchmarks. Buying one day time.

[2015-04-06 17:50] yorkerlin commented on #2801
@lambday
see the updated comments.
Looking forward to your benchmarks :) !

[2015-04-06 19:27] karlnapf commented on #2801
These benchmarks are super useful. Please document carefully so they are more or less reproducible.
MatrixInverse is forbidden in Shogun. I only allow QR, Cholesky, SVD and their brothers and sisters ;)

I think the "make the programmer decide" approach might be best.
About doing everything on the GPU memory. If the eigen maps still work on GPU memory, then we should do this. I think in fact that

[2015-04-06 19:32] yorkerlin commented on #2801
@karlnapf
matrix-inverse (base on LU?)

[2015-04-06 19:38] yorkerlin commented on #2801
In the case of matrix-inverse-by-vector product matrix-inverse-by-matrix product, matrix-inverse is forbidden.

If we need to compute the matrix-inverse alone, we may need to use LU? (eg, we use `precision matrix` as a permeameter instead of `covariance` matrix)

[2015-04-07 03:48] tengshaofeng opened #2805 "cmake for matlab static interface error"
hello:
when i cmake ,facing the following problem,too much error ,i don not know which matters.

tbq@tbq-System-Product-Name:~/shogun-4.0.0/build$ cmake -DMatlabStatic=ON ..
-- Could NOT find CCache (missing:  CCACHE)
-- Using system's malloc
CMake Warning (dev) at CMakeLists.txt:289 (FILE):
  Policy CMP0053 is not set: Simplify variable reference and escape sequence
  evaluation.  Run "cmake --he

[2015-04-07 19:31] mepatterson opened #2808 "can't build on OS X Yosemite with Ruby binding"
I've tried several times to get Shogun built on OS X Yosemite. Trying to use the Ruby bindings. I've got the narray gem installed for ruby. I have installed all the pre-reqs as far as I can tell. But I'm still getting a bunch of errors on version 4.0 (specifically 16 errors, here are some of them)...

[code]

What am I missing?

[2015-04-07 20:44] rdaniel opened #2810 "Quickstart is for 3.1, not 4.0"
Tried to install on Mac using quickstart instructions at https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART  but then noticed that it's wget was for 3.1, not the new 4.0 release.

[2015-04-07 22:39] lisitsyn commented on #2808
Hey @mepatterson

This is kind of incompatibility of swig and yosemite (in default settings) we didn't know about at the moment of release. I suggest to either build latest shogun or apply this patch: https://github.com/shogun-toolbox/shogun/pull/2694

[2015-04-08 10:48] karlnapf commented on #2805
Matlab is know to have issues currently. We are working on a modular version, but that will take some time. Maybe its easiest for now to either use an older version of Shogun or change to a modular language binding?

@vigsterkr ?

[2015-04-08 10:49] karlnapf commented on #2810
Thanks for reporting. We are currently updating the mac build instructions, and this could be part of it

[2015-04-08 16:16] mepatterson commented on #2808
Okay, so using the latest from develop branch compiled and installed properly to my "shogun-install" directory (created 'include', 'lib', and 'share' directories). I cmake'd it with the ruby modular interface ON. But I'm having a disconnect on how to get the 'modshogun' file available? All of the tutorials and example docs suggest that in ruby I can just do `require 'modshogun'` but that is throwi

[2015-04-08 22:06] lisitsyn commented on #2808
@mepatterson as you're using non-standard directories you're probably missing something like `LD_LIBRARY_PATH` which should be set to the directory with compiled `.so`

[2015-04-09 03:43] iglesias commented on #2805
Actually, in the CMake trace I don't see any error that should be related to using Matlab. Your compiler does not seem to support C++11 (which is a requirement for the latest Shogun, this changed quite recently) and Python -- or some required parts of it -- are not found.

[2015-04-09 04:27] iglesias commented on #2803
Where is the script actually? In current develop:

[code]

It seems it has been gone for some time now 5e2939b0a1dd7651ab18d7991c7ac58710594cac.

[2015-04-09 04:28] #2803 closed

[2015-04-10 03:37] rohit12 commented on #2730
Is this closed? I would like to work on this.

[2015-04-10 07:06] iglesias commented on #2730
@karlnapf can probably elaborate what else needs to be done here. Anyway, what I understand from his comment is that this list should not only be a list of class names but rather of ML methods/algorithms that are implemented by the classes.

[2015-04-14 08:40] karlnapf commented on #2730
I think we can leave this for now as the last update was nice and we soon will switch to the new manual.
If you are keen, you can polish this a bit, many things are unresolved, general feedback is appreciated:

https://github.com/karlnapf/shogun_manual

[2015-04-14 08:40] karlnapf commented on #2730
Closing for now

[2015-04-14 08:40] #2730 closed

[2015-04-14 09:25] lisitsyn commented on #2740
Closing for now.

[2015-04-14 09:25] #2740 closed

[2015-04-14 09:34] lisitsyn opened #2816 "Support Sphinx-based examples"
Inspired by @karlnapf https://github.com/karlnapf/shogun_manual

 * ~~Fix the issue with width of containers~~
 * ~~Put all target languages in one place rather than having them hard-coded in multiple files~~
 * ~~Integrate meta-example generation. Rather than having the different listings in the repository explicit. Only the *.sg files should remain~~
 * ~~Clean up directory structure in a scalla

[2015-04-14 18:40] yorkerlin opened #2817 "make model selection on GP more flexible"
At default, inference methods in GP module will compute gradients wrt model parameters, which is not always necessary.
* Provide users an option to ask inference methods do not compute these gradients.
* (for now) Make the model selection framework work with `FITC inference`
* (suspicious bug, some GP parameters are in natural domain while some gradients wrt parameters are in log domain)

[2015-04-14 18:43] yorkerlin commented on #2817
@karlnapf
will work on this issue once `notebooks` are done

[2015-04-14 19:40] sorig opened #2819 "CParameterCombination prints SGVectors incorrectly"
When training the hyperparameters of the spectral mixture kernel (see #2818) I noticed that SGVectors didn't print correctly when using the `print_tree` method on the `CParameterCombination` class. The SGVector parameter on the kernel object has a container datatype on the `TSGDataType` object set to `CT_VECTOR` instead of `CT_SGVECTOR`. Consequently the SGVector parameter is not being printed cor

[2015-04-14 19:42] sorig commented on #2819
Can anyone tell me if there is an underlying problem with the container datatype or if my fix is adequate?

[2015-04-15 16:13] lisitsyn commented on #2816
@karlnapf current status
![screen shot 2015-04-15 at 19 12 29](https://cloud.githubusercontent.com/assets/424629/7163571/7032e69a-e3a3-11e4-86bc-fbfe906d3263.png)

[2015-04-15 16:34] lisitsyn commented on #2816
30409a71019c3a5b2247f994ff8208c8804b58fa merged that into feature branch feature/sphinxdoc

[2015-04-15 17:28] karlnapf commented on #2816
Great!

Some intermediate things that I noticed:
 * the example files should not be named "knn.sg.py" but rather "knn.py"
 * The example code should not be in the sphinx folder, but rather in the global examples folder
 * Parsing and generating the examples should not happen within python sphinx. I would prefer if cmake would generate examples in target languages, and then sphinx just loads the fi

[2015-04-15 17:31] karlnapf commented on #2816
@sorig check it out and let us know if you have feedback. Might also be nice for your writeup

[2015-04-16 11:55] plata opened #2822 "Compilation on 64bit PIC"
I am not able to compile shogun on my 64bit openSuse. I had to add `COMPILE_FLAGS "-fPIC"` to the properties of libshogun (src/shogun/CMakeLists.txt) to make it work.

I think this should be an issue on every 64bit machine. Solve by making libshogun PIC or build shogun and shogun-static directly from the sources (without libshogun).

[2015-04-16 11:58] lisitsyn commented on #2808
@mepatterson did that help in the end?

[2015-04-16 12:52] lisitsyn commented on #2822
Thanks! Going to commit a fix in a few minutes

[2015-04-16 13:56] mepatterson commented on #2808
Hi lisitsyn... I haven't had a chance to go back and try it yet. I'll let you know once I do.

[2015-04-16 14:53] besser82 commented on #2822
See my comment in https://github.com/shogun-toolbox/shogun/commit/caf0871a8223ae71a6003e84fca14e0140fdfe53

`-fPIC` is already enabled for libshogun.  Can you please paste a log of the cmake-output and build-log of terminal on fpaste.org?  Don't forget to add `DCMAKE_VERBOSE_MAKEFILE:BOOL=ON` to your cmake-invocation…

[2015-04-16 16:54] plata commented on #2822
I compiled shogun 4.0.0 (from http://www.shogun-toolbox.org/) and 3.1.1 (as according to the wiki) because I wanted a stable solution. Did not see that it was enabled on Github already, so sorry for that.
I also tried to POSITION_INDEPENDENT_CODE but it didn't work. I can checkout the current Github sources tomorrow. Not sure if this policy http://www.cmake.org/cmake/help/v3.0/policy/CMP0018.html

[2015-04-18 09:32] karlnapf commented on #2819
As we discussed, this is a bug related to legacy code.
The method itself should probably be removed as the terminal might not be available in modular interfaces.
We should rather return an adequate data structure with the resulting parameters. But well

[2015-04-18 09:33] karlnapf commented on #2819
Fixed in #2820

[2015-04-18 09:33] #2819 closed

[2015-04-18 10:55] karlnapf commented on #2817
* I would actually go to move all GP parameters to log-domain. We can still interface and store them in standard domain, but all dervatives in log-domain would be better for many reasons
 * inducing point model selection would be good to have I agree
 * not computing all gradients definitely is a good thing to have.

 * I would like to add more efficient (GPU, parallel) ways to compute gradients.

[2015-04-18 22:09] karlnapf opened #2824 "Use an external library for reading files"
CSV: https://github.com/ben-strasser/fast-cpp-csv-parser

[2015-04-19 03:18] yorkerlin opened #2826 "users can choose optimizers used in GP inference methods"
The GP module for now uses `lbfgs` (first-order method) and `newton` method (second-order method).
Indeed, many nonlinear optimizers  (eg, `Conjugate Gradient` ) can be used in the module.

Make the GP inference framework more flexible so that users can choose a specific optimizer.

[2015-04-19 03:26] yorkerlin commented on #2826
@karlnapf
I will work on it at the end of this year.

[2015-04-19 06:37] tandakun opened #2827 "ERROR: undefined reference to `dlclose'"
Hi
    I get an error when compile shogun-4.0.0. I think it caused by libdl.so, but don't know how to deal with it.

[code]

libdl.so is normal:

[code]

[2015-04-21 15:34] yorkerlin commented on #2817
@karlnapf
Currently, `pthread` is used to parallelly compute the gradients.

[2015-04-21 15:44] yorkerlin commented on #2817
about moving all GP parameters to log-domain:
* not all parameters are positive (for GaussianARDKernel, where weights are FULL_Matrix)
* many existing parameters in Shogun are in standard domain.

It will break many codes if we change existing  positive parameters in Shogun from standard domain to log domain.
My idea is (for example in GaussianKernel) to add a `log` flag
[code]
becomes
[code]
if f

[2015-04-21 15:46] yorkerlin commented on #2817
@karlnapf
Let me know if you are agree with my idea.

[2015-04-21 15:58] yorkerlin commented on #2817
@karlnapf
the existing model selection (`CGradientModelSelection`) does not offer gradient transformation, which means there is a bug if a parameter and its gradient are in different domain.

[2015-04-22 14:53] karlnapf commented on #2827
@besser82 any ideas?

[2015-04-22 17:58] yorkerlin commented on #2817
@karlnapf
Any feedback on the model selection

[2015-04-22 18:45] karlnapf commented on #2817
I usually prefer general solutions that do things automatically to those that require extra arugments and thinking by the user. Users should not be able to decide whether a parameter is in log-domain or not, but we should do the appropriate thing automatically (in a transparent way)

Not sure what to do though. How do other toolboxes do this? Any ideas?

[2015-04-22 19:01] yorkerlin commented on #2817
GPML does keep parameters in log domain if they are positive and parameters in standard domain if they can be negative or zero.

if we can break the existing codes, I can move all classes related to GP from standard domain to log domain.

if not, we have to deal with the following issues
[code]
we implicitly means m_width and its gradient in the same domain.
we may need add a new field in `TParame

[2015-04-22 19:11] yorkerlin commented on #2817
If you think adding a new field in `TParameter` is possible, I may need some help from authors' of the class.adding a new field in  `TParameter`  is not trivial since `copy` and `serialization` have to be modified.

[2015-04-22 19:17] yorkerlin commented on #2817
for example
`SG_ADD` will become

[code]

[2015-04-22 23:42] yorkerlin commented on #2817
@karlnapf
at GradientModelSelection.cpp

[code]

Because now `not` all parameters (for example, inducing points and FULL_MATRIX weights of the ARD kernel) are `positive`, we do need `unconstrainted` or `unified (eg, positive)` representation to set the `lower_bound` and `upper_bound`.

I think the `TParameter` approach is a way to solve this problem.
Please let me know your idea. If you are agree,

[2015-04-22 23:49] yorkerlin commented on #2817
@karlnapf
please look at the updated comment at Github.

[2015-04-23 18:54] yorkerlin commented on #2817
@karlnapf
Any feedback on the new approach?

[2015-04-24 08:48] tandakun commented on #2827
The problem was caused by the files located in ‘examples/undocumented/libshogun/\*’ due to the lack of `'-ldl'` in link.txt file. I don't know whether it is necessary to **explicitly** add the library link, but the libshogun was successfully complied when I added a new command,

on line 21 in CMakeLists.txt

[2015-04-24 16:04] besser82 commented on #2827
@tandakun Mhh… Which OS, compiler, compiler-version and CMake-version are you using?  Looks a bit strange to me…

@karlnapf On it  ;)

[2015-04-25 00:44] tandakun commented on #2827
@besser82
thanks for your attention! the information you care are on the list below.

[2015-04-25 07:01] besser82 commented on #2827
@tandakun trying to reproduce with a CentOS / RHEL 6.5 VM and possibly digging out a solution.

[2015-04-29 04:55] nachitoys commented on #1973
Hi all. Could you let me know if MKL can be performed in GPU? in case it is, there are examples or documentation about it?

Thank you..

[2015-04-30 13:32] karlnapf commented on #2817
I guess we cannot avoid the fact that Shogun developers have to specify the range of parameters when registering them. Therefore, I would go for *optional* lower and upper bound parameters. We can do those for scalars, vectors, and matrices (the latter two element-wise). For other constraints, such as positive definiteness, I guess we should stay with the current system. This also would be in line

[2015-04-30 14:01] karlnapf commented on #1973
MKL as in multiple kernel learning?

Computing the kernel matrix for sure can be done on the GPU, though that might not be the bottleneck. I think the algorithms themselves (plane-cutting) cannot be parallelised to a large extend, but for sure all the linear algebra going on in there can be done using linalg, which will make things faster for sure.
Are you interested in looking into this with the

[2015-04-30 16:52] nachitoys commented on #1973
In that case, yes, Im definitely interested in looking into this with the help of someone. Personally I have not reviewed the code yet. Neither I have not more knowledge about GPU parallelization than some indications from Theano, e.g. "in order to go to the GPU, variables must be declared as 'shared'...". I've an idea why it is necessary, but I have never programmed nothing like that.

Furthermor

[2015-04-30 17:00] yorkerlin commented on #2817
The current class design is
[code]

[2015-04-30 17:03] yorkerlin commented on #2817
I need to add a new field in TParameter
[code]
and some changes in Parameter such as
[code]

[2015-04-30 17:12] yorkerlin commented on #2817
@karlnapf
Good news:
 `serialization` and `copy` in `Parameter` and `TParameter` remain the same.

Since these parameter constraints and parameter transformations are `constant` (they do not change in running time), we do not need  `serialization` and `copy` for `ParameterGradientInfo`.

Note that `ParameterGradientInfo` is parameter specific. If a parameter has  a constraint or a transformation r

[2015-04-30 17:19] yorkerlin commented on #2817
@karlnapf
any suggestion about this design?

[2015-04-30 19:54] sanuj commented on #2723
@lisitsyn what information about the gradient has to be outputted in particular apart from `mean gradient absolute value per layer`?

[2015-05-03 18:26] sanuj commented on #2723
I tried running the examples of neural nets. I am not able to see the output of `SG_INFO` (though i can see the output of `std::cout`) in the terminal even after adding this:
[code]

I'm using `g++ -lshogun` to run the example and it's compiling fine. Gist of the code:
https://gist.github.com/sanuj/a9c5a4ec3fe2fb8af5b8

[2015-05-04 15:17] karlnapf commented on #1973
I guess the first step would be to dive into the code, investigate performance systematically like you already started to do.

From this, it should be clear what the bottlenecks in the code are. Very often, some very simple multicore techniques can massively speed up things. As for GPU, you would have to identify which operations could be put into a GPU. Candidates are mostly operations with (fixe

[2015-05-04 15:17] karlnapf commented on #1973
Also have a look into the benchmark folder, there are a few example benchmarks we did in the past

[2015-05-04 16:11] lisitsyn commented on #2723
@sanuj sorry for late answer
1) It's probably useful to check mean and max gradient values per layer
2) Use ```set_loglevel``` of ```SGIO```

[2015-05-04 17:03] nachitoys commented on #1973
Well... I will try to go in that direction. I will write you when having doubts.

[2015-05-05 08:53] yorkerlin opened #2838 "hash in SGObject"
@vigsterkr , @lisitsyn , @karlnapf
there may be a bug.
If CSGObject::update_parameter_hash() is called more than once, CSGObject::parameter_hash_changed() always returns true even when variables remain the same.

for example
[code]
`hash value1` and `hash value2` are different since
[code]
where `m_hash` becomes `non-zero` after `update_parameter_hash()` is called

what is worse,
[code]
Note that

[2015-05-05 09:04] yorkerlin commented on #2838
I am not sure whether the hash value should be changed if `parameter_hash_changed()` is called even when `values` of variables in the object remain the same

[2015-05-05 09:18] yorkerlin commented on #2838
if you think this is a bug, the fix is quite simple.

[code]

[2015-05-05 15:45] sanuj commented on #2700
@lisitsyn is it good to merge or anything else needs to be done here?

[2015-05-06 07:33] nachitoys commented on #2624
I have the same problem!!!

[2015-05-06 16:55] iarroyof opened #2841 "Make: *** [all] Error 2"
Hi, I currently trying to install Shogun in Lubuntu. I followed this:

$ git clone git://github.com/shogun-toolbox/shogun.git
:~/shogun$ cd shogun
:~/shogun$ mkdir build
:~/shogun/build$ cmake -DPythonModular=ON -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..

However, when making I have an Error:

:~/shogun/build$ make -j2
[  1%] Generating version header
[  1%] Generating /home/iarroyof/shogun/

[2015-05-07 00:53] yorkerlin commented on #2817
@karlnapf
Let's make the parameters in log-domain first.
For kernels, I only pay attention to `GaussianKernel` and `GaussianARDKernel`.

[2015-05-07 10:58] karlnapf commented on #2838
I think this is a bug! This should not be. Do unit tests break if you fix it?
Make sure to add unit tests for the hashing if you do fix it
Thanks!

[2015-05-07 11:03] karlnapf commented on #2624
Also with the latest version?

[2015-05-07 11:06] karlnapf commented on #2841
No idea.
@lisitsyn @besser82 ?

[2015-05-07 13:08] besser82 commented on #2841
@nachitoys Did you try recompiling after `rm -f src/shogun/base/class_list.cpp`?  That should fix the issue in 98% of the cases…  Which compiler, CMake-version and OS you are using?

[2015-05-07 13:29] karlnapf commented on #2817
okok, I think that should be a refactoring exercise

[2015-05-07 14:06] nachitoys commented on #2841
Hi. I just tryed what @besser82 said. It didn't help unfortunately:
`<~/shogun/build$ cmake -DPythonModular=ON -DCMAKE_INSTALL_PREFIX="$HOME/shogun-install" ..>`
`<~/shogun/build$ make>`
`<<same output>>`

`<~/shogun/build$ gcc --version && cmake -version>`
`<gcc (Ubuntu 4.9.2-10ubuntu13) 4.9.2>`
`<Copyright (C) 2014 Free Software Foundation, Inc.>`
`<This is free software; see the source for copy

[2015-05-07 17:00] nachitoys commented on #2773
hi... I have the same problem in Lubuntu 15.04

[2015-05-08 15:24] hrw opened #2844 "FP tests fail on non-x86 architectures on Fedora 22 (AArch64, PPC64LE)"
Hi

Shogun 4.0.0 is part of Fedora 22 packages collection. We do build for AArch64 architecture. Compiles fine, pass most of tests but some fail:

The following tests FAILED:
     83 - integration-python_modular-SVMOcas_30_1en05_16_05_False (Failed)
     89 - integration-python_modular-SVMOcas_30_1en05_1_05_False (Failed)
    105 - integration-python_modular-tester-kernel_poly_modular (Failed)

[2015-05-08 18:48] sanuj commented on #2709
@lisitsyn From what I understand, `CDenseFeatures` have to be replaced by `CDotFeatures` as neural nets training involves lots of dot products. Tell me if I'm wrong.
I know what Sparse (most zero entries) and Dense (most non-zero entries) matrices are. Are `CSparseFeatures` and `CDenseFeatures` also derived from the same logic? Then there are `SGSparseVectors` in shogun as well.
I didn't get the "

[2015-05-08 20:33] lisitsyn commented on #2709
@sanuj
1) Yes, ```CDenseFeatures -> CDotFeatures```
2) Yes, both dense and sparse features are examples of dot features
3) Dense features have to be in-memory but DotFeatures can be anything. As access is usually sequential it could be file or some resource accessed through network

[2015-05-09 09:06] sanuj commented on #2709
@lisitsyn I see. Basically `CDenseFeatures` are matrices of all the features (as columns) so if we make a `CDenseFeature` then all the features are loaded at once in the matrix. I don't know how `CDotFeatures` are stored. Seems quite an abstract class to me. Also there are no unit tests for `CDotFeatures` from where I can get the idea of how to use them.
If I'm not wrong, the idea is if we use `CD

[2015-05-11 11:54] beew commented on #1995
It is a bit late but it appears that this still has not been resolved. I tried to build shogun 4.0 octave modular against octave 3.8.2 on Ubuntu 14.04 and got the same error
".. fatal error: config.h: No such file or directory"

Turned out it was because of this bug http://savannah.gnu.org/bugs/?41027, or rather, the attempt to fix it. Shogun octave built successfully after rebuilding octave with

[2015-05-11 17:46] sanuj commented on #2709
@lisitsyn sergey?

[2015-05-11 20:21] lisitsyn commented on #2709
@sanuj sorry.

CDotFeatures is abstract class for sure. Inheriting from it means that these features can compute dot product with some arbitrary vector. It doesn't restrict any internal structure of data, anything like that. I have some not-yet-merged thing in PR #2788 so I am unsure how to proceed.

[2015-05-12 01:22] sanuj commented on #2709
@lisitsyn I see. Then we can have a look at this later. I'll start working on something else ;)

[2015-05-16 15:06] lisitsyn commented on #2824
Header only library is mostly the same thing as supporting our own solution as we'd have to put the header(s) into our repo. We have to rely on something that is already distributed in major systems we want to support

[2015-05-17 12:37] besser82 commented on #2844
@hrm: Hi there!  Sorry for the late reply…  I'm the package-owner in Fedora…  Did you have a look at the spec-file I use, yet?  There are lot's of exceptions for failed tests for e.g. %ix86 and %arm, just because of this problem, currently…

I'll add the failing test to the excludes for aarch64 to the spec-file and ping pbrobinson to have him rebuild it.

Possibly a rhbz# would be good to track th

[2015-05-18 07:09] hrw commented on #2844
I had that feeling that I forgot something...

Bug reported: https://bugzilla.redhat.com/show_bug.cgi?id=1222401

[2015-05-18 14:22] sanuj commented on #2701
hey @lisitsyn
I would like to work on this. I have a basic understanding of CONV layers and POOL layers and particularly Convnets used on image classification. This paper proposes to use Temporal Conv Net which I'm not quite familiar with. I think they are used for video recognition as videos have a temporal dimension unlike images. For character quantization, they use 1 of N encoding with alphabe

[2015-05-19 21:04] hrw commented on #2844
Besser82: the solution is not to skip failed tests. The solution should be fixing of those tests to make them work.

I hope to make a build on Power8 machine (where FPU follows IEEE754-2008) to check what kind of results it will give. AArch64 uses IEEE754 as well. x86 should use it too but it is x86 - architecture with such pile of mess that anything can happen there.

[2015-05-19 23:03] nachitoys commented on #2624
Yes, however, I have been running Lubuntu. When I installed Ubuntu the problem disappeared. I is really weird..

[2015-05-20 21:03] lisitsyn commented on #2701
Hey @sanuj,

temporal here is just in the axis of letters coming in the text. So t=0 is the first letter and so on. This encoding is treated as an image so convolutional layers operate in the same fashion as in images (the pooling step is exactly the same). The output is domain-dependent, you just fit this architecture to the problem of classification of texts or something like that.

Please ask i

[2015-05-21 03:49] sanuj commented on #2701
@lisitsyn

* How to decide the dimension of the input image? Is it LxM (in context of the paper) and the dots in the binary image represent the 1s in the codewords (Right?). If there are m pixels in a column then only one can be white because of the 1 of m encoding(00000100....0000 - m bits). But that's not the case as the images look like Braille so I'm mistaken somewhere.

* What is kernel,  lar

[2015-05-23 15:10] besser82 commented on #2844
Should be fixed in packaging now.  See (RHBZ #1222401)[https://bugzilla.redhat.com/show_bug.cgi?id=1222401#c1]

[2015-05-25 16:15] hrw commented on #2844
Besser82: this bug was not about Fedora packaging but about code. Please reopen.

[2015-05-25 16:15] hrw commented on #2844
Similar failures on PPC64LE.

[2015-05-26 04:01] yorkerlin commented on #2838
this issue is solved.
I close this

[2015-05-26 04:01] #2838 closed

[2015-05-26 14:43] ajaybhat commented on #2752
Hi, I want to contribute to Shogun to sharpen my C++ and ML skills. What is the status of this issue? Can I take it up?

Can you give some examples of these, so I can include them in a PR?

[2015-05-26 19:35] lisitsyn commented on #2752
Hey @ajaybhat, sure, feel free to take this over.

I am not sure about structures to clean up, but I think you would notice some during namespaces moving.

[2015-05-27 20:26] sanuj commented on #2701
@lisitsyn sergey?

[2015-05-27 22:01] lisitsyn commented on #2701
@sanuj really sorry, things going a bit intense

1) Number of unique chars in your alphabet times number of chars in your sequence
2) Kernel is what convolution layer uses and learns. That's coefficients of the convolutional operator. The stride is 1, so they don't jump over more than one letter
3) This should be some specific task like sentiment analysis or something like that

[2015-05-28 10:37] sanuj commented on #2701
@lisitsyn No problem :)
I'll have a look at the other notebooks related to neural nets and start working on this.
Will get back to you if i get stuck somewhere ;)

[2015-05-28 23:15] jaelim opened #2848 "Shogun-toolbox with Matlab binding Installation Trouble/Error [Ubuntu 14.04.2 LTS]: Unknown MEX argument '-o'"
Hi,

I have been trying to install the Shogun-toolbox with Matlab features enabled. So, basically I downloaded the latest shogun-4.0.0 package and made a build/ directory in it to start the building process.

So, cmake step went well without complaints as you could see below:

User1@pla1:~/shogun-4.0.0/build$ cmake -DMatlabStatic=ON ..
-- The C compiler identification is GNU 4.8.2
-- The CXX compi

[2015-05-29 13:12] ajaybhat commented on #2747
@karlnapf & @SunilMahendrakar could i know the status of this? Maybe I could pick up where you left off.

[2015-05-29 19:15] yorkerlin commented on #2817
@karlnapf
The following extensions may be useful in model selection.

* Users allow to disable some model parameters searching.
* implement stochastic searching for model parameters (see `Doubly stochastic variational Bayes for non-conjugate inference`, ICML 2014)

[2015-05-29 19:25] sowmyaiyer opened #2849 "Core dump on creating PolyKernel object in java modular interface"
When I try to run the java example mkl_binclass_modular.java, it coredumps with the error below.
If I change PolyKernel to GaussianKernel it works fine.
Problematic frame:
C  [libshogun.so.17+0x656a89]  shogun::CKernel::get_parameter_gradient_diagonal(shogun::TParameter const*, int)+0x9

[2015-06-01 15:07] yorkerlin commented on #2779
Update:
Working in progress
* Batch inference based on Titsias' bound for sparse GP regression and classification (ref:[1] and [2])
* stochastic inference for sparse GP regression and classification(ref:[3])
* online/streaming inference for sparse GP regression and classification (ref:[3] and [4])

To do
GPLVM (this summer)
* Batch Sparse GPLVM (ref:[5])
* stochastic inference for GPLVM (ref:[6])

[2015-06-02 21:43] jaelim commented on #2848
No one to care to respond?

Following these should've worked. Right?
1. mkdir build && cd build
2. cmake -DMatlabStatic=ON -DOpenCV=ON .. (Up to this point, no compilation error)
3. make (compilation error as reported previously)

I even tried just compiling the matlab bindings found in matlab_static folder with this command:
                 mex CFLAGS="\$CFLAGS -std=c99" -largeArrayDims MatlabIn

[2015-06-03 18:38] #2849 closed

[2015-06-03 21:11] beew opened #2850 "octave interface does not build with octave 4.0.0"
Hi,
Octave 4.0.0 was release last week. I tried to build shogun 4.0 with Octave modular interface and failed with these errors:

[100%] Built target octave_doxy2swig
[100%] Swig source
/home/bee/Downloads/shogun-4.0.0/src/shogun/lib/SGNDArray.h:116: Warning 367: operator*= ignored
/home/bee/Downloads/shogun-4.0.0/src/shogun/lib/SGNDArray.h:123: Warning 365: operator+= ignored
/home/bee/Downloads/s

[2015-06-04 16:49] jaelim commented on #2850
I had a similar issue with Octave. When you said Octave 4.0.0, you meant to say package version # for Shogun? Like Shogun 4.0.0? Also, the current version of Octave is 3.8.1.

[2015-06-04 16:52] jaelim commented on #2850
Can you please describe how you were able to install Octave modular with Octave 3.8.2? I have similar problems with Octave modular and as well as Matlab static. Thanks!

[2015-06-04 22:25] beew commented on #2850
See my comment on https://github.com/shogun-toolbox/shogun/issues/1995
Basically, octave has removed the config.h file upstream and you need to patch Octave's source with the patch from post 12 here http://savannah.gnu.org/bugs/?41027.

Download the patch. Download Octave 3.8.2 tarball, extract. Open terminal cd into the extracted folder and run

patch -p1 < /path/to/patch/you/downloaded

Then jus

[2015-06-05 00:06] jaelim commented on #2850
Following your guide, I was able to build the Octave modular!

It's shame that they don't tell you the version of program that worked when they build their package w/ Octave bindings. So when a program gets updated, you don't notice the changes, which make hard for new people to install it.

Can I ask why you are trying to upgrade to Octave 4.0 from 3.8.2? Are there some major bugs in 3.8.2 versio

[2015-06-05 02:33] beew commented on #2850
There is no major bug that I am aware of. But I think this is a new major release so I want to try it out and report problems for example here so that the devs have enough time to work out the problems before most people have migrated. I have several two Ubuntus and  one is still running 3.8.2 so all grounds are covered. :) I

[2015-06-09 08:53] guiniol opened #2851 "Segfault in python_modular examples"
Hello,

I compiled version 4.0.0 from source but whenever I try to play one of the examples in the python_modular, I get a segfault.

This is on archlinux, with gcc 5.1.0 and python 3.4.3.
I checked that cmake was picking up python3 and not python2.
I'm not sure what else could help, so tell me if more information is required.

Cheers!

[2015-06-09 11:06] lkuchenb opened #2852 "Python module causes segmentation fault on Mac OS X"
I built shogun from the latest tarball using the following cmake flags:

    $ cmake -DCmdLineStatic=ON -DPythonModular=ON -DCMAKE_INSTALL_PREFIX=~/local ../shogun-4.0.0

The cmake output is available [here](http://pastebin.com/raw.php?i=cMn4xvJh). I then invoke python using

    $ DYLD_FALLBACK_LIBRARY_PATH=/tmp/local/lib/ PYTHONPATH=/tmp/local/lib/python2.7/site-packages/  python

making sure th

[2015-06-09 11:12] sonney2k commented on #2852
try to call it with the right python not the system one (I
guess /tmp/local/bin/python )

On Tue, 2015-06-09 at 04:06 -0700, Leon Kuchenbecker wrote:

[2015-06-09 12:02] lkuchenb commented on #2852
@sonney2k what do you mean by "the right python"? As I said, there is only one python the system. `/tmp/local` is created just for shogun and contains nothing but what `make install` puts there.

[2015-06-09 12:18] sonney2k commented on #2852
I see. Does this happen with latest git?

On Tue, 2015-06-09 at 05:02 -0700, Leon Kuchenbecker wrote:

[2015-06-09 12:21] lkuchenb commented on #2852
The latest revision of the develop branch doesn't compile at all on my Mac, neither with GNU or clang compilers.

    /tmp/shogun-develop/src/shogun/base/Version.cpp:22:43: error: unable to find numeric literal operator 'operator""x'
     const int32_t Version::version_revision = VERSION_REVISION;
					       ^
    /tmp/shogun-develop/src/shogun/base/Version.cpp:22:43: note: use -std=gnu++11 or -f

[2015-06-11 08:29] karlnapf commented on #2817
What are those comments based on ? Just the paper?
40s vs 30m does not really seem too reasonable.

I guess this is MAP inference right?

[2015-06-11 08:30] karlnapf commented on #2779
Great!
I am back to double check and merge code now.

Still asking about benchmarks!

[2015-06-11 20:51] yorkerlin opened #2853 "general minimizers used in gp (API design)"
some code skeleton

[2015-06-11 20:52] yorkerlin commented on #2853
[code]
[code]

[2015-06-11 20:53] yorkerlin commented on #2853
strategy pattern
[code]

[2015-06-11 20:53] yorkerlin commented on #2853
[code]

[2015-06-11 20:54] yorkerlin commented on #2853
@karlnapf
any comment about this.
if you agree such design, they will be used  in GP.

[2015-06-11 20:59] yorkerlin commented on #2853
which classes should use `CSGObject` as the base class?

[2015-06-11 21:01] yorkerlin commented on #2853
@karlnapf
some useful minimizer (unconstrained cases)
see the section `Optimizer overview` in http://climin.readthedocs.org/en/latest/

[2015-06-12 02:28] iarroyof opened #2854 "MKL hangs with Chi2 kernels"
Hi all. I need your help. I'm trying to setup an evaluation framework for MKL by using different types of kernels. However while I try to train MKL weights for multiple Chi2 basis, the program hung at the weight learning stage `[1]` (See at the bottom). This is my code:

[code]

Any help would be very appreciated. Thank you in advance.

[2015-06-12 06:03] nachitoys opened #2855 "NameError: name 'BesselKernel' is not defined"
Hi... Im trying to generate a combined kernel and including a BesselKernel, but the following error is given:
[code]
How I can solve it? It is necessary adding in some way the kernel code (available at the Class reference) to my Shogun installation?

Taking advantage of this public space, also I would like to know if MKL works for non-symmetric kernels like the aforementioned or perhaps the Chi2.

[2015-06-12 08:27] karlnapf commented on #2853
Hi

so see what you are after here is to have a way to exchange optimization methods in Shogun classes.
Looks cool and elegant. So +1 in general. My questions are about necessarity

 * What does this gain us in general?
 * Most models in Shogun are fixed, and so are many inference algorithms. Is there really the option to change optimisers under the hood? Is that something the user should decide?

[2015-06-12 08:46] karlnapf commented on #2841
Any updates here?

[2015-06-12 08:47] karlnapf commented on #2773
Any updates here?

[2015-06-12 08:54] karlnapf commented on #1995
Oh wow, thanks for figuring that out!
I guess I can close as this patch is very old.

[2015-06-12 08:54] #1995 closed

[2015-06-12 08:57] karlnapf commented on #2824
BUT we can bundle it like eigen3

Dont know. We just should get rid of all this hand-crafted code for that. It is
 * slow
 * unreliable
 * buggy
 * hard to maintain
 * impossible to read
 * blow up compile time

[2015-06-12 10:50] karlnapf commented on #2624
ok, well then we can close this.

[2015-06-12 10:50] #2624 closed

[2015-06-12 10:53] karlnapf commented on #2752
Good to see you are one this!

[2015-06-12 13:16] yorkerlin commented on #2853
Such design (the cost function part) is to keep the base
Usage:
1. Laplace method using newton method or lbfgs (refactor)
2. Stochastic gradient update schemes (gradient descend, gradient
descend with nesterov momentum, gradient update with annealing
techniques, gradient update with variance reduction techniques)

On Friday, June 12, 2015, Heiko Strathmann <notifications@github.com> wrote:

--
bes

[2015-06-12 21:12] beew commented on #2850
Hello??

[2015-06-13 21:35] lisitsyn commented on #2850
@beew it looks like a problem with swig generated code. Could you please post this ```src/interfaces/octave_modular/CMakeFiles/octave_modular.dir/modshogunOCTAVE_wrap.cxx.o``` file somewhere?

[2015-06-13 22:13] yorkerlin commented on #2853
Any feedback on the class design?
If you think so, the streaming/online GP will use the design.

For stochastic gradients, the key components are
1. subset selection to create a mini batch  (scheduler)
2. Gradient update schemes (minimizer)

My idea is to use the design so that users or developers only need
to change schedulers and minimizers to implement new inference methods
based on stochastic

[2015-06-13 22:20] lisitsyn commented on #2855
@nachitoys for some reason swig interface for bessel kernel was missed. I am going to add it in a minute.

Not sure about non-symmetric kernels but probably it won't work well. Following Mercer theorem kernel is symmetric and PD.

[2015-06-13 23:05] nachitoys commented on #2855
Hi @lisitsyn, Thank you for answer. How I can add these changes to my installation?

[2015-06-14 16:53] lisitsyn commented on #2855
@nachitoys if you compile from sources - just update to the latest revision of the develop branch. In case you use some release I have bad news - sources are required :)

[2015-06-14 18:22] nachitoys commented on #2855
Hi @lisitsyn, I think I compiled from sources, so I made this:

[code]
As you see, the error remains. What I could doing wrong?

[2015-06-15 06:51] lisitsyn commented on #2855
@nachitoys just to be sure - did you recompile and install it once you updated git?

[2015-06-15 15:57] beew commented on #2850
@lisitsyn

There is no  src/interfaces/octave_modular/CMakeFiles/octave_modular.dir/modshogunOCTAVE_wrap.cxx. It doesn't build.

/home/bee/Downloads/shogun-4.0.0/build/src/interfaces/octave_modular/modshogunOCTAVE_wrap.cxx:1611:18: error: ‘hid_t’ has not been declared
       save_hdf5 (hid_t loc_id, const char *name, bool save_as_floats) {
                  ^
/home/bee/Downloads/shogun-4.0.0/build

[2015-06-17 05:39] kwoodle commented on #2850
Also can't compile octave_modular for octave-4.0.0
In file included from /usr/include/c++/5.1.1/memory:81:0,
                 from /usr/local/include/octave-4.0.0/octave/idx-vector.h:33,
                 from /usr/local/include/octave-4.0.0/octave/Array.h:36,
                 from /usr/local/include/octave-4.0.0/octave/boolMatrix.h:27,
                 from /usr/local/include/octave-4.0.0/octave/m

[2015-06-17 21:20] yorkerlin opened #2857 "add a new features for subsamples"
@karlnapf
Shogun has a implementation of `CDenseSubsetFeatures`, which uses a subset of `features`.

I need another `features` class, which uses a subset of `samples`. The `features` class is used to create a mini batch, which is a subset of samples.
Please let me know if there exist such features class for subset of samples. If not, I will add my implementation.

[2015-06-17 21:30] yorkerlin commented on #2857
`CDenseFeatures` has a `copy_subset(SGVector<index_t> indices)` method. However, I do not want to copy the subset.

[2015-06-17 21:43] yorkerlin commented on #2857
BTW,  in `features` classes,
the following methods
* get_num_vectors()
* get_num_features()
* get_dim_feature_space()
are confusing.

For `denseFeatures`
* get_num_vectors() is samples size
* get_num_features() == get_dim_feature_space() is feature size

Maybe it may be good to document the difference between `get_num_features()` and `get_dim_feature_space()`.

[2015-06-18 16:00] yorkerlin opened #2859 "bug in CDenseSubsetFeatures"
Please note that
in `CDenseSubsetFeatures` class

`template<class ST> class CDenseSubsetFeatures: public CDotFeatures`

[code]

The bug comes from the get_feature_class()  method.
The class is indeed `not` `CDenseFeatures` class. (eg, it does not have `get_feature_vector` method)
However, it claims that it is like `CDenseFeatures` class since the `get_feature_class()` method.

If we mix `CDenseFea

[2015-06-18 16:03] yorkerlin commented on #2859
@karlnapf
@lisitsyn
please take a look

[2015-06-18 16:51] yorkerlin commented on #2857
@karlnapf
the  `CDenseSubSamplesFeatures` class is implemented.
I will send a PR soon.

[2015-06-19 09:28] karlnapf commented on #2857
I dont understand why we need such subsample features?
We can just set the subset manually?

Is there anything that is not good about this? Convenience?

[2015-06-19 09:29] karlnapf commented on #2859
Yes, bug.

Why do we even have this class? See my other comment?

[2015-06-19 09:30] karlnapf commented on #2859
I think it should be removed

We should rather define masks for CFeatures in general, just like numpy does it

[2015-06-19 09:30] karlnapf commented on #2857
PS I agree with you that the num_features and num_vectors notation is confusing.....

[2015-06-19 09:34] karlnapf commented on #2853
Yeah, I think the design is good. Keeps things clean internally and hides details from our users.
It in particular allows to play around with combinations, so we might even at some point have a framework that allows scientists to compare things systematically.

We should write a JMLR MLOSS paper about your framework at some point, its really getting there

[2015-06-19 20:15] yorkerlin commented on #2853
@karlnapf
one application:
On optimization methods for deep learning ICML 2011

[2015-06-19 21:41] beew commented on #2850
Hello?? Anyone?

[2015-06-21 04:19] nachitoys commented on #2855
Hi @lisitsyn, I did this:
[code]
As you can see. An error persists in recompiling. What is wrong?

Thank you

[2015-06-23 07:47] tpokorra commented on #2425
we have a similar problem with Shogun 4.0.0 for Fedora with Mono 4.0.1 (https://bugzilla.redhat.com/show_bug.cgi?id=1223446):

[code]

Is there an easy fix for this?

[2015-06-23 09:19] tpokorra commented on #2425
I found http://www.shogun-toolbox.org/page/contact/irclog/2014-07-30/ which describes that ignoring the methods in modshogun_ignores.i should resolve the issue.

Is this still appropriate?

[2015-06-23 23:11] karlnapf commented on #2853
Cool!

[2015-06-24 23:47] yorkerlin commented on #2857
this issue is solved.
I closed this.

[2015-06-24 23:47] #2857 closed

[2015-06-24 23:49] yorkerlin commented on #2817
No. The speed of the method is between MCMC and MAP.
It seems like combine MCMC and MAP.

[2015-06-25 07:04] tpokorra commented on #2425
based on the reply from the swig issue referenced above, it seems that shogun is using the inattributes in a way that cannot work if there are multiple parameters of type array:

    %typemap(ctype, out="CTYPE*") shogun::SGVector<SGTYPE> %{int size_$1, CTYPE*%}
    %typemap(imtype, out="IntPtr", inattributes="int size, [MarshalAs(UnmanagedType.LPArray)]") shogun::SGVector<SGTYPE> %{CSHARPTYPE[]%}

[2015-06-25 08:51] vigsterkr commented on #2425
@tpokorra thanks a lot for digging into this! i'll try to see what i can do about it and get back to you asap

[2015-06-25 17:46] beew commented on #2850
Anyone looking into this?

[2015-06-28 19:41] lisitsyn commented on #2855
@nachitoys sorry for long answer. This looks like at some point the build was broken. I suggest you to try again with latest `develop`

[2015-06-28 19:43] lisitsyn commented on #2850
@beew sorry for quite a slow support on that. This could be a swig issue but I better try to reproduce this locally

[2015-06-29 23:24] cdawei commented on #2791
Hi, @karlnapf I want to work on this issue, could you please guide me?

[2015-07-01 02:03] cdawei commented on #2791
Hi, @karlnapf the Osi (Open Solver Interface) from COIN-OR seems a good candidate.
https://projects.coin-or.org/Osi/

[2015-07-06 09:50] karlnapf commented on #2817
I see, MCMC is slow for sure

[2015-07-08 14:06] yorkerlin opened #2866 "Some ideas about extending the GP modular"
* Sparse inference (batch update)
* Stochastic inference (online/streaming update)
* GPU related stuff
* Inference for structure GP
* EP inference for t distribution
* Inference for multi-class classification

[2015-07-08 14:09] yorkerlin commented on #2866
Working in progress
(ref https://github.com/shogun-toolbox/shogun/issues/2779)
Sparse inference (batch update)
* sparse KL inference for regression (done)
* sparse KL inference for classification (this summer)
* sparse KL inference for dimension reduction (this summer)

Stochastic inference (online/streaming update)
* stochastic KL inference for regression (this summer)
* stochastic KL inference f

[2015-07-08 14:16] yorkerlin commented on #2866
To do (next year)
GPU related stuff
GPU speed up for some inference methods (need some help from @lambday )

Deep GP and beyond (deep probabilistic graphical models)
* extending GPLVM (one hidden layer) to deep GP

Inference for structure GP
 implementing inference methods base on Andrew' work (http://www.cs.cmu.edu/~andrewgw/)
*

[2015-07-08 14:19] yorkerlin commented on #2866
in future (once I get time)
EP inference for t distribution
* Robust/parallel EP inference for t distribution
* EP inference for sparse GP

Inference for multi-class classification

[2015-07-08 14:21] yorkerlin commented on #2866
@karlnapf
take a look at this

[2015-07-09 16:30] adit-39 commented on #2716
@Imran31 would you like to begin with this task?

[2015-07-09 17:09] Imran31 commented on #2716
@adit-39 Yes.

[2015-07-10 09:24] karlnapf commented on #2716
Let us know if you need help!

[2015-07-10 09:24] karlnapf commented on #2716
Shogun's HMM classes are a bit old fashioned, this might involves refactoring them, cleaning up the legacy code

[2015-07-10 09:28] karlnapf commented on #2866
I would like to add some non-algorithm related points.

 * Benchmarks against other toolboxes. We want Shogun to be among the fastet ones, while having the most complete set of algorithms. This is really important
 * Notebook for all methods, with clear examples that maybe reproduce experiments from the relevant papers. Users get confused if we just offer 20 different inference methods. Need some

[2015-07-11 16:36] yorkerlin commented on #2866
@karlnapf
I agree with you. Yes, we do need some user guide.
One question about `benchmarks`
We will compare the GP modular with three GP tools (GPML, GPy and GPStuff).
I want to users can reproduce benchmark results, I may need some blog or framework to share benchmark Matlab codes for GPML and GPStuff.

[2015-07-12 15:23] karlnapf commented on #2866
User guide:
I suggest a tutorial style notebook, like the one you have, but with way less math and more hands on.

Benchmarks:
@lambday did some benchmarking, and I think we could use his ideas to do this in a principled way. Thoughts @lambday  ?

[2015-07-18 20:41] beew commented on #2850
Hi,
Are you able to reproduce it? Thanks.

[2015-07-22 04:03] yorkerlin commented on #2826
this issue  https://github.com/shogun-toolbox/shogun/issues/2853 has addressed this issue.
I close this

[2015-07-22 04:03] #2826 closed

[2015-07-25 18:46] karlnapf opened #2877 "Mathematical expressions -> C++ code (and autodiff)"
I feel like Shogun could use a way of defining mathematical expressions, such as

 * kernel functions
 * cost functions
 * etc

in a meta-langauge (much like stan does it), which is then at compile time translated into c++ code, which is then compiled. This would allow to essentially specify new kernel or cost functions as strings. The advantage of such a system is also that gradients can be compu

[2015-07-25 18:47] karlnapf commented on #2877
Related to:

 * #2872

[2015-07-28 17:40] karlnapf commented on #2877
Turns out the stan people finally took out their math library of the rest of the framework:
https://github.com/stan-dev/math

[2015-07-29 11:30] sanuj commented on #2701
@lisitsyn Sorry for disappearing, got busy with an intern. I looked at neural nets digits ipython notebook. I'll start with writing helper functions in python to encode text as mentioned in the paper and then try to build some network after that.

[2015-08-01 11:17] yorkerlin commented on #2866
@karlnapf
@lambday
For GPU speedup, the first thing I need is the `Cholesky` decomposition.

[2015-08-03 12:22] karlnapf commented on #2866
@Ialong also needs this for some work he is doing
@yorkerlin you could also try to add it yourself.  Or @lambday can do it, he is fast in this stuff :)

[2015-08-03 12:38] karlnapf opened #2880 "Shogun base classes"
Shall we add another one in the layer

1. A minimal base class ```CSGObject``` that just allows for reference counting and all the basic Shogun stuff.
2. A second one ```CSerializableObject``` that adds all the parameter stuff and inherits from the first?

I guess this could minimize Shoguns overhead quite a bit (many classes dont use parameters)

@yorkerlin @lisitsyn @sonney2k @vigsterkr @lambday

[2015-08-03 13:01] karlnapf commented on #2880
Could also add another layer that provides all the sg_* fields

[2015-08-03 20:43] lisitsyn commented on #2880
We would have to use multiple inheritance, it could be PITA you know :)

[2015-08-04 17:32] #2750 closed

[2015-08-05 08:43] karlnapf commented on #2880
Why multiple inheritance? That's not my idea.

If the base classes are a hierarchy, one could just inherit from a certain stage in there?

[2015-08-05 09:00] sonney2k commented on #2880
I did add SGReferencedData (or so) at some point that did exactly that.
I guess it did get removed for some reason by someone who knows why that
was maybe not a good idea?

On Wed, 2015-08-05 at 01:43 -0700, Heiko Strathmann wrote:

[2015-08-05 10:54] karlnapf commented on #2880
Thats very similar, but for the SGMatrix, SGVector classes.
Exactly that type of thing is what I want to do for the base class CSGObject.

[2015-08-05 11:12] karlnapf commented on #2880
What about this:

```CReferencedObject``` -> ```CSerialisableObject``` -> ```CSGObject```

Where the first one contains *only* the reference counting, the second adds the parameters/serialisation, and the third adds all the Shogun stuff

[2015-08-05 12:05] sonney2k commented on #2880
checkout

9305aa9d1bab28d20979033b0fd7c8e2d545b85e

and look at src/shogun/base/SGRefObject.h

On Wed, 2015-08-05 at 04:12 -0700, Heiko Strathmann wrote:

[2015-08-05 12:11] tpokorra commented on #2425
any news on this?
I also tried the workaround, to just ignore the methods in `modshogun_ignores.i`
But it seems I have no idea what the syntax is.

to ignore

[code]

what is the correct line in `modshogun_ignores.i`? I tried these but it did not work:

[code]

[2015-08-05 16:57] lisitsyn commented on #2880
@karlnapf okay this works. Though we don't really know whether referenced is always serializable or serializable is always referenced :)

[2015-08-06 10:29] karlnapf commented on #2880
I see now. This is good enough for @yorkerlin s patch. Thanks I did not know

[2015-08-07 04:27] sanuj commented on #2701
@lisitsyn this will be helpful.
https://github.com/zhangxiangxiao/Crepe

[2015-08-08 10:29] besser82 commented on #2850
@beew: Try to build using swig-3.0.7…  This should at least fix the build…

[2015-08-08 11:40] besser82 commented on #2850
@beew: Using SWIG >= 3.0.7 and this PR: https://github.com/shogun-toolbox/shogun/pull/2882 should fix all issues regarding builds of octave-bindings.

[2015-08-10 18:14] iglesias commented on #2880
The idea makes sense to me, and I like it because it would separate in each of the classes Heiko has mentioned above reference counting, serialisation, and rest of Shogun stuff (although I am not sure what this rest would be :-)

I am not entirely sure however how much overhead it would reduce. What overhead are we talking about? SWIG or memory footprint per SGObject?

Another (very) wild idea som

[2015-08-10 21:29] karlnapf commented on #2880
yeah smart pointers would be best.

@lisitsyn what s your take on all this?
 * making the base class overhead much smaller
 * serialisation
 * reference counting?

[2015-08-10 21:30] karlnapf commented on #2880
@sonney2k why was the SGRefObject removed?

[2015-08-11 05:52] sonney2k commented on #2880
Do not remember.  Git logs say that Thorsten removed it. "Obsolete ".

On August 10, 2015 11:30:21 PM GMT+02:00, Heiko Strathmann <notifications@github.com> wrote:

--
Sent from Kaiten Mail. Please excuse my brevity.

[2015-08-11 06:50] iglesias commented on #2880
The class was removed during the last summit when we were reducing SWIG overhead, in terms of memory used to compile or, equivalently, the size of the (huge) file SWIG creates. Before it was removed, it looked like this CSGRefObject -> CSGObject, and all the classes were inheriting from CSGObject, not from CSGRefObject.

Although it should be possible to use CSGRefOject for what you have mentioned

[2015-08-11 06:54] iglesias commented on #2880
#2581

[2015-08-11 07:00] lisitsyn commented on #2880
@karlnapf

[2015-08-11 08:28] beew commented on #2850
Hi,

I have installed swig-3.0.7 in /usr/local

[code]
But shogun is looking for swig2.0 apparently, I have swig2.0 in my system. if keep it shogun configure fine, if I remove it

[code]
and configure failed.

I am trying to compile shogun development.

So is there a way to choose the version of swig to use. I would like to keep swig2.0 as well since other programs may need it.

[2015-08-11 09:11] beew commented on #2850
I went ahead and tried to build with swig2.0 and got these errors

[code]

[2015-08-11 20:43] karlnapf commented on #2880
I dont get the point of removing the class. We could just hide it from SWIG?
If one class contains what two classes used to contain, nothing is really gained. We could revert that?

@lisitsyn
 * remove migration at least
 * cant we use a library for serialisation? why re-invent the wheel there (and we do it badly, its slow as f***)
 * +1 for shared pointers

[2015-08-12 05:01] iglesias commented on #2880
There is more dicussion about it here #1853 #1764.

Reverting is easy peasy with git revert #2883. But I suggest not to merge this until we have checked the above pull requests.

[2015-08-12 05:08] iglesias commented on #2880
Hmm, it seems that SGRefObject was not introduced due to what @sonney2k pointed out above: #1770 and 8938e2bf703a87f9b8f943351e5868105c4354b5. Still, I believe it should be possible to use it for what we were talking about.

[2015-08-12 05:20] iglesias commented on #2880
This is the pr where it was merged #1771.

[2015-08-12 22:06] beew commented on #2850
Finally it works! Configured with
[code]
 the -DSWIG_EXCUTABLE  flag picked the correct version of swig and build went through without error.

Thanks!

[2015-08-13 06:20] #2850 closed

[2015-08-15 21:14] yorkerlin commented on #2877
It should related to
https://github.com/shogun-toolbox/shogun/pull/2876
(see the `FirstOrderCostFunction` class)

[2015-08-18 03:55] yorkerlin opened #2889 "a bug in log_sum_exp(SGVector<T> values) in CMath"
[code]

Usually we should find the `maximum element index` instead of the `minimum element index`.
`exp(values[from_idx]-X0)` will overflow and we get `inf`  if we use the `minimum element index`.

If we use the `maximum element index`, `exp(values[from_idx]-X0)`  will underflow but we can still get the result.

For example
SGVector<T> values=[450, -450], // the function is to compute `log( exp(45

[2015-08-18 03:55] yorkerlin commented on #2889
@karlnapf
@lisitsyn
@iglesias
you may take a look

[2015-08-18 07:57] iglesias commented on #2889
You are right, @yorkerlin. Very well spotted :-)

The function could also benefit from some face-lifting (the first if is not necessary, I think we should optimise memory and not create the second vector `values_without_X0`, and perhaps even use std::max_element to find the largest element, if possible).

[2015-08-19 09:49] Pepslee opened #2890 "recipe for target "all" failed in cygwin"
I try to compile shogun on windows (32) use cygwin, but i have an error ** recipe for target failed "all" **
cmake version > 3
gcc version >4
cygwin 2.1

i have already try to undefine  -U__STRICT_ANSI__ ,  it does not work, or maybe i do something wrong.

can anybody help ?

[2015-08-20 20:40] nachitoys opened #2893 "width value consistence of gaussian kernel in Shogun"
Hi all..

I hope someone can help me. Im really confused. Im trying to use MKL for image classification with the `multiclass_digits` dataset included in Shogun. I was looking for a reliable set of kernel parameters and I found this paper: Wang & Ma, (2008), "An Estimation of the Optimal Gaussian Kernel Parameter for Support Vector Classification". In this paper experiments with widely different va

[2015-08-20 22:58] wcalhoun516 opened #2894 "Cannot link to libshogun.dylib"
I am trying to link my xcode project to libshogun.dylib and another library called libxxx.dylib

I can link correctly to libxx.dylib however I get a runtime error linking to libshogun.dylib with the error:dyld: Library not loaded: libshogun.17.dylib
Reason: Image not found

After installing shogun I have a build/install/lib with 3 .dylib files. libshogun.17.0.dylib  libshogun.17.dylib and libshogu

[2015-08-21 05:42] lisitsyn commented on #2894
It should be `libshogun.dylib` (as a link referring concrete version of dylib) either in linker's path or in the directory specified by `-L/path/do/that/dir` and the `-lshogun` flag should be used.

Let me know if that helps

[2015-08-21 13:38] wcalhoun516 commented on #2894
I tried:  "-L/path/do/that/dir and the -lshogun flag should be used" and it successfully compiles but still get a runtime error of "Library not loaded: libshogun.17.dylib"

[2015-08-21 14:08] sonney2k commented on #2894
DYLD_LIBRARY_PATH is your friend

On Fri, 2015-08-21 at 06:38 -0700, wcalhoun516 wrote:

[2015-08-21 14:17] wcalhoun516 commented on #2894
On xcode I've set in my scheme that the environmental variable DYDL_LIBRARY_PATH is equal to my   -L/path/to/lbraries  (obviously without the -L). Still no luck.

[2015-08-21 14:30] lisitsyn commented on #2894
Its DYLD not DYDL, could be the reason if it is like that in you env

[2015-08-21 15:08] yorkerlin opened #2897 "ideas about stochastic minizers"
The  stochastic `minimizer` framework (http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1FirstOrderSAGCostFunction.html http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1FirstOrderStochasticCostFunction.html http://www.shogun-toolbox.org/doc/en/latest/classshogun_1_1FirstOrderStochasticMinimizer.html) and the `lossFunction` framework for Vowpal Wabbit (http://www.shogun-toolbox.o

[2015-08-21 15:08] yorkerlin commented on #2897
@karlnapf
@lisitsyn
@lisitsyn
any suggestion?

[2015-08-21 15:36] wcalhoun516 commented on #2894
Don't you just love how you can spend hours banging your head against a wall because you didn't recognize a two letter switch? That fixed it. I owe you a debt of gratitude.

[2015-08-21 15:49] yorkerlin commented on #2893
@nachitoys
Which version of shogun for your experiments? (release version or developer version)
We moved the internal representation of `width` in log domain in developer version 4.1. I am not sure whether the change affect MKL.
If you use a developer version earlier than May 5, 2015, you may consider the following reason:
* The width used in Shogun may be different from the standard width.

refer

[2015-08-21 20:06] yorkerlin opened #2898 "GPU implementation for apprxomiation of inverse kernel matrix"
@lambday
It can be good for GP.
paper:
http://arxiv.org/abs/1403.6015
code:
https://github.com/sivaramambikasaran/HODLR

[2015-08-21 22:06] lisitsyn commented on #2894
@wcalhoun516 I am glad it is resolved!

[2015-08-21 22:06] #2894 closed

[2015-08-22 14:01] yorkerlin commented on #2880
@lisitsyn
@lambday
Do you guys plan to rewrite SGObject?
Do we use the existing parameter selection (`model selection`) framework? The existing `model selection` framework is not flexible.
Currently, the existing framework searches for `all` model parameters.
The existing framework only supports:
* const/fixed parameters
* model parameters (need to be "optimized" in model selection)

I would like

[2015-08-22 17:09] erip opened #2900 "Update travis.yml to allow for container-based builds"
I've been trying to submit a pull request, but travis keeps dying (seemingly) because it runs out of resources mid-build.

Travis now has a [container-based infrastructure](http://docs.travis-ci.com/user/workers/container-based-infrastructure/), which allows for faster start times, faster builds, more resources, and caching of dependencies for open source projects.

It seems natural to want to tak

[2015-08-22 19:12] nachitoys commented on #2893
Thank you very much for your very fast answer @yorkerlin . Im using the release version from 4 months ago. I will review things you are suggesting and I will write you if any doubt emerges.

Thank you very much again

[2015-08-22 20:29] aagarwal-gtr commented on #2810
Hello I have modified the QUICKSTART page in the wiki. The modified page can be found in my forked wiki repo https://github.com/aagarwal-gtr/shogun-wiki.git
Please merge.

[2015-08-22 22:03] lisitsyn commented on #2810
@aagarwal-gtr it's quite inconvenient to take your changes from the repo and your name would be missed in the contribution. Could you please follow the usual github workflow of pull request?

[2015-08-22 22:04] lisitsyn commented on #2900
@erlp thanks! I believe @vigsterkr is the man to handle this ;)

[2015-08-23 06:43] aagarwal-gtr commented on #2810
Hello I am quite inexperienced at this. I was of the understanding that wiki repos dont accept pull requests so I followed these instructions http://stackoverflow.com/a/11481887
Would you mind explaining or pointing me towards a link that explains the expected workflow?

[2015-08-23 06:54] lambday commented on #2880
Hi @yorkerlin . If we in fact happen to rewrite SGObject, probably quite a few things would change. @lisitsyn proposed having a `class Property` for each parameter which fits nicely and intuitively for model selection. In this scenario, I think we'd be able to implement the `enable/disable` feature you're suggesting quite easily.

I am unaware of variational parameters ATM. If they are expected to

[2015-08-23 16:05] yorkerlin commented on #2880
@lambday
Cool!
`variational` parameters are auxiliary variables.

For batch inference,
* step1: given `model` parameters \theta^{t}
* step2: we usually optimize `variational` parameters until converge given \theta^{t}
* step3: then update model parameters \theta^{t+1} and go back to step 1 until some conditions meet

For stochastic inference,We can update `model` parameters and `variational` param

[2015-08-23 19:53] erip commented on #2702
Recommend closing.

[2015-08-23 19:54] yorkerlin opened #2903 "about the MinimizerContext (CMap/CStringMap serialization)"
@lisitsyn
Because most of classes in the minimizer framework are not subclasses of `SGObject` for now, we use MinimizerContext to store the mutable variables.

There will be many mutable variables when Adam, RmsProp and other updaters are added.
For example
[code]

Option 1
Should I add these two vectors in data members of `MinimizerContext`?

Or

Option 2
We use a `chain` to manage these variable

[2015-08-23 20:06] yorkerlin commented on #2903
I vote for the CMap option.
@lisitsyn
Any suggestion or anther option ?

[2015-08-23 20:07] lisitsyn commented on #2903
@yorkerlin yeah I like map as well

[2015-08-24 00:33] yorkerlin opened #2904 "issue in CMap and CHash"
CMap use thes `CHash::MurmurHash3` algorithm
[code]

[code]
I guess the function uses the memory address to generate a hash value.
The three outputs are different.
What is worse, the outputs are different every time I run the program.

This is not good for  `serialization` and `deserialization`.
For example, `CMap<String, SGVector<float64_t> >`
Any idea to use the `content` not the `memory address

[2015-08-24 00:34] yorkerlin commented on #2904
@lisitsyn
@iglesias

[2015-08-24 00:35] yorkerlin commented on #2904
However, the MD5 algorithm works fine
[code]
The outputs are the same.

[2015-08-24 03:25] yorkerlin commented on #2904
A bug is CHash
[code]
[code]
The bug is CHash::MurmurHash3((uint8_t*)(&key), sizeof(key), 0xDEADBEEF) can return `negative` value

[2015-08-24 03:31] vigsterkr commented on #2904
why is it a bug that the hash can return a negative value? i mean the function defintion is `int32_t hash(const K& key)` which means that the return value is signed, i.e. half of the time it should actually return negative values...

[2015-08-24 03:41] vigsterkr commented on #2904
on the other hand using that as an index is a pure choice... since the definition of murmurhash3 is `static uint32_t MurmurHash3(uint8_t* data, int32_t len, uint32_t seed)` you can simply change the definition in `CMap::hash` to return `uint32_t`, this way the there will be no problems with negative values

[2015-08-24 03:57] yorkerlin commented on #2904
@vigsterkr
Author of Map uses int32_t everywhere.

[2015-08-24 04:05] yorkerlin commented on #2904
@vigsterkr
I write an unit test and it give a `segment fault` due to the conversion between `unit32_t` to `int32_t`.
For example, the positive range represent by `int32_t` is  `less than` the positive range represent by `unit32_t`

[2015-08-24 04:08] yorkerlin commented on #2904
@vigsterkr
We need to change the index from `int32_t` to `unit32_t`.

[2015-08-24 04:13] vigsterkr commented on #2904
@yorkerlin no you don't need to: `sizeof(int32_t) = sizeof(unit32_t)` except that the MSB is in one case part of the number while the other case it's the sign value...

[2015-08-24 04:13] vigsterkr commented on #2904
and please note the modulo hash_size... i  mean by default the hash is a bucket of 41 different values...

[2015-08-24 04:21] yorkerlin commented on #2904
I think the main issue is
[code]

(uint32_t) % (int32_t), it seems compiler will autocratically convert unit32_t to int32_t.

If so, the fix is
[code]

[2015-08-24 04:25] yorkerlin commented on #2904
@vigsterkr
The fix works!

[2015-08-24 04:43] yorkerlin commented on #2904
@vigsterkr
My bad.
The conversion from `unit32_t` to `int32_t` is due to a method used by me.

[2015-08-24 07:39] iglesias commented on #2900
I had a look at this last week and it definitely looks like something we could benefit from. However, iirc, we cannot use sudo when following this approach. We are currently relying on it in our jobs to, at least, install packages. There is documentation in Travis about how to install packages when there is no sudo.

[2015-08-24 07:41] vigsterkr commented on #2900
yeah no... ;) the problem is that we need a lot of extra packages that we cannot install w/o `sudo`....
and travis does not support custom docker image... so till either of them is fixed we cannot switch to that...

[2015-08-24 07:55] iglesias commented on #2900
@vigsterkr, can we use the `addons.apt.*` alternatives to install packages without sudo?

http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade#How-do-I-install-APT-sources-and-packages%3F

[2015-08-24 09:13] iglesias commented on #2900
Reopening until we are sure if we can make use of this solution.

[2015-08-24 09:14] vigsterkr commented on #2900
lalala :) i haven't seen that thingy before... i'll push a pr to see how that works out.

[2015-08-24 09:34] iglesias commented on #2900
It sounds great :-)

[2015-08-24 10:15] besser82 commented on #2900
Maybe [this doc](http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade) may come in handy…  =)

[2015-08-24 11:19] erip commented on #2900
Yes, there's plenty of documentation. The only thing I couldn't seem to find a mention of was how to do something like `sudo pip install ...`. I'm sure it's somewhere, but I couldn't find it. I'm no `travis` expert, though, so it might be easy. Definitely "normal" custom linux packages are easy to take care of, however.

[2015-08-24 17:28] yorkerlin commented on #2904
The issue is solved.
I close this

[2015-08-24 17:28] #2904 closed

[2015-08-24 19:44] nachitoys commented on #2893
That was indeed the solution to this issue... `2\sigma^2`. There is total
consistence with the results mentioned both in the publication I mentioned
above and the Sonnenburg's Large Scale MKL (2006).

Thank you very much.

2015-08-21 10:49 GMT-05:00 Wu Lin <notifications@github.com>:

--
Ignacio Arroyo Fernández

[2015-08-24 20:06] lisitsyn commented on #2893
@nachitoys that's really good results are still reproducible and no bug here involved :)

@yorkerlin thanks for resolving this issue.

[2015-08-24 20:06] #2893 closed

[2015-08-25 03:27] yorkerlin commented on #2903
@lisitsyn
CMap (including CStringMap) does not support serialization.

[2015-08-25 03:31] yorkerlin commented on #2880
`CMap` does not support serialization.
At least I want CStringMap (that is `CMap<std::string, SGVector<float64_t> >`) is serialable.

[2015-08-25 09:45] lambday commented on #2880
@yorkerlin from the requirements, going by policy based design for the parameters sound reasonable to me, where the policies are different optimization policies. So laying down the requirements

- We can use `Parameter` or `Property` class for normal/fixed parameters. Present `TParameter` and `Parameter` can be an inspiration for that. Getting rid of the `ADD` things would be nice. We don't have t

[2015-08-25 18:18] #2766 closed

[2015-08-26 00:35] erip commented on #2517
@karlnapf I suppose this is still open then?

[2015-08-26 00:46] erip commented on #1561
Not sure I understand this one -- still valid? I found `examples/undocumented/{octave, python}/tools/*`, but I'm a bit confused about the issue in general.

[2015-08-26 00:54] erip commented on #2130
@karlnapf Any word on this? I've noticed that `shallow_copy` is used (a bit) in the code. `deep_copy`, on the other hand, is both unused in its current state and *is* used as `clone`. How should I proceed?

[2015-08-26 08:59] iglesias commented on #1561
As far as I know, those directories contain standalone utilities (like the load matrix Soeren mentioned above). This task is about dropping those and using instead either tools within Shogun core or in the language at use.

For instance, drop within tools load matrix and make all the examples relying on it and use e.g. CSVFile.

[2015-08-26 09:00] iglesias commented on #2517
http://buildbot.shogun-toolbox.org/builders/deb1%20-%20libshogun/builds/3480

Other jobs probably have their own warnings as well.

[2015-08-26 13:49] erip commented on #2791
Google has the [operations research tools](https://github.com/google/or-tools) repo. Might be nice.

[2015-08-26 22:57] erip commented on #2900
I spoke with someone at TravisCI and this is what they told me in response to the `sudo pip install foo` question:

[2015-08-26 23:06] vigsterkr commented on #2900
@erip that's already solved in the feature branch... the problem currently is that there are some outdated packages in that container based lala and i would need to add other ppa-s that are not in the whitelist.... i requested for adding them to the whitelist but it'll take a while till it gets in ... until then this endeavor of ours is on hold...

[2015-08-27 00:44] vigsterkr commented on #2900
@erip as u can see in that build, the coveralls build just runs fine... pip installed and all....

[2015-08-28 10:40] srsandeep opened #2907 "ImportError: When I try to import modshogun"
Hi,

I am new to shogun-toolkit. I want to use this module from python on my windows system.
Since I had to use cygwin to build it, I installed cygwiung on my window 7 system (64bit).
I thn did the following steps:
1. I downloaded the shogun-4.0.0.tar.bz2 and shogun-data-0.9.tar.bz2.
2. Extracted it as per the instruction on https://github.com/shogun-toolbox/shogun/wiki/QUICKSTART
3. my cmake inst

[2015-08-28 15:03] iglesias commented on #2907
Unfortunately, we do not have much experience using Shogun in Windows. Perhaps someone who has tried it in the past might be able to help you. @vigsterkr, @lisitsyn ?

[2015-08-29 03:01] erip commented on #2539
I can't seem to find a `clone` method in any of the kernel classes?

[2015-08-29 09:32] iglesias commented on #2539
@erip, is it inherited from any of the base classes in the hierarchy?

[2015-08-29 12:59] erip commented on #2539
@iglesias Whoops, forgot to check `CSGObject`!

[2015-08-29 13:00] erip commented on #2808
@mepatterson Any update on this?

[2015-08-29 13:10] erip commented on #1671
Recommend closing.

[2015-08-29 13:19] yorkerlin commented on #1231
@karlnapf
maybe this issue is solved?

[2015-08-29 13:24] yorkerlin commented on #1910
@karlnapf
this issue should be close.

[2015-08-29 13:27] yorkerlin commented on #1909
@karlnapf
I will soon write a notebook for sparse GP for regression and classification.
Maybe we can use some small data sets for full GP regression (the goal is to show the power of sparse GP)

[2015-08-29 13:29] yorkerlin commented on #2880
@lambday
@lisitsyn
should old issues related to this
https://github.com/shogun-toolbox/shogun/issues/1251
https://github.com/shogun-toolbox/shogun/issues/779

[2015-08-29 23:06] #1671 closed

[2015-08-29 23:07] iglesias commented on #1671
Thanks for letting us know, @erip.

[2015-08-30 13:42] erip commented on #2855
Recommend closing.

[2015-08-31 07:20] #2855 closed

[2015-08-31 09:05] lambday commented on #2880
Thanks @yorkerlin for tagging the related issues.

[2015-09-02 05:46] yorkerlin commented on #2897
ref
https://github.com/shogun-toolbox/shogun/pull/2913

[2015-09-02 05:52] yorkerlin commented on #2897
I have implemented stochastic gradient descend (SGD), stochastic variance reduced gradient (SVRG), and stochastic mirror descend (SMD) minimizer.
Next step is to implement stochastic coordinate descend (SCD).

For example:
* simple version : http://dl.acm.org/citation.cfm?id=1953048.2021059
* better version:  http://arxiv.org/abs/1312.5799

For L1 (lasso) problem,
* SGD and SMD is good for the `n

[2015-09-03 15:57] jaelim opened #2914 "Ipython notebook - error calling modshogun module"
Shogun (latest git version) installed with Python module on. I'm testing one of your example Ipython notebook example of random forest. I have a problem of importing the modshogun module.

This is output error:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-2a5ef96f7e1b> in <mo

[2015-09-03 15:58] jaelim commented on #2848
This is very poorly supported.

[2015-09-03 16:42] lisitsyn commented on #2848
@jaelim sorry about that. Is this still relevant?

[2015-09-03 16:44] lisitsyn commented on #2914
@jaelim this is definitely a problem with your `PYTHONPATH` environment. Be sure it points to correct directory. Please try `echo $PYTHONPATH` and check whether `modshogun.so` is available under one of printed directories.

[2015-09-03 17:35] jaelim commented on #2914
So, it's in my Python path:
$HOME/python-codec/src:$HOME/shogun-install/lib/python2.7/dist-packages/shogun/

But, why is there an underscore line at the front of modshogun, like this?
~/shogun-install/lib/python2.7/dist-packages/_modshogun.so

[2015-09-03 17:39] yorkerlin commented on #2914
I think
The following Python path  should work
$HOME/python-codec/src:$HOME/shogun-install/lib/python2.7/dist-packages/
, if _modshogun.so at  ~/shogun-install/lib/python2.7/dist-packages/

On Thursday, September 3, 2015, Jae Lim <notifications@github.com> wrote:

--
best,

wu lin

[2015-09-03 17:39] jaelim opened #2915 "Unit test files"
I want to test all your unit test files found under ~/shogun/test/unit.

I have no clue how to make executable binaries. I try to make by 'make -j shogun-unit-test', but does not seem to work because there's no Makefile.

How do you make unit test files and run them?

[2015-09-03 17:42] jaelim commented on #2848
No, I have given up with Matlab. But, I was able to add Octave module. Again, I was not able to run the examples, because the installation does not seem to set up path to where to look for 'modshogun' So, no, I am not able to use any of examples in Octave.

[2015-09-03 17:50] jaelim commented on #2914
@yorkerlin Sorry I even tried it already (meaning $HOME/python-codec/src:$HOME/shogun-install/lib/python2.7/dist-packages/), but it's not working. Again, I found this _modshogun.so with an underscore line instead. I made a change in TreeEnsemble.ipynb with this line:

from _modshogun import CSVFile,RealFeatures,MulticlassLabels

No luck.

[2015-09-03 17:55] yorkerlin commented on #2914
Try this:

* $HOME/shogun-install/lib/python2.7/dist-packages/ in your python path
* _modshogun.so at  ~/shogun-install/lib/python2.7/dist-packages/
* modshogun.py at  ~/shogun-install/lib/python2.7/dist-packages/

BTW, modshogun.py will call _modshogun.so and you should import modshogun

On Thursday, September 3, 2015, Jae Lim <notifications@github.com> wrote:

--
best,

wu lin

[2015-09-03 17:59] yorkerlin commented on #2914
BTW, modshogun.py will call _modshogun.so and you should do

from modshogun import CSVFile,RealFeatures,MulticlassLabels

On Thursday, September 3, 2015, yorker lin <yorkerjaster@gmail.com> wrote:

--
best,

wu lin

[2015-09-03 18:59] jaelim commented on #2914
@yorkerlin It's strange. Like you said, I had my Python path with this:
export PYTHONPATH="${PYTHONPATH}:~/shogun-install/lib/python2.7/dist-packages/"

It even shows by echo $PYTHONPATH. And I see both modshogun.py and _modshogun.so.
Is there other way you can set your Python path? Because, I have it in my ~/.bashrc

[2015-09-03 19:04] jaelim commented on #2914
@yorkerlin Interesting result. I tried to import methods from modshogun in python command prompt mode:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "modshogun.py", line 32, in <module>
    _modshogun = swig_import_helper()
  File "modshogun.py", line 28, in swig_import_helper
    _mod = imp.load_module('_modshogun', fp, pathname, description)
ImportError: ./_mod

[2015-09-03 19:25] yorkerlin commented on #2914
@jaelim
Try this,
* make sure  `_modshogun.so`  and `modshogun.py` at `~/shogun-install/lib/python2.7/dist-packages/`
* go to `~/shogun-install/lib/python2.7/dist-packages/`, which means your working direction (`pwd`) is `~/shogun-install/lib/python2.7/dist-packages/`
* run `python` (meaning the interactive mode, not run as script)
* try `from modshogun import CSVFile,RealFeatures,MulticlassLabels

[2015-09-03 20:56] lisitsyn commented on #2914
Just yesterday, we had some user that used $HOME in .bashrc and in the end full path (w/o $HOME) worked. Be sure $HOME is replaced - it won't work otherwise

[2015-09-03 20:59] lisitsyn commented on #2915
1. Create some directory to store build (mkdir build)
2. Go to that directory and run CMake (cd build; cmake -DENABLE_TESTING=ON ..)
3. Build with regular `make` and use `make test`

[2015-09-03 21:00] jaelim commented on #2914
@yorkerlin Reported in my last message. In the python mode in the folder location as mentioned, and this is following output:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "modshogun.py", line 32, in <module>
    _modshogun = swig_import_helper()
  File "modshogun.py", line 28, in swig_import_helper
    _mod = imp.load_module('_modshogun', fp, pathname, descripti

[2015-09-03 21:00] lisitsyn commented on #2914
@jaelim good. Now set the `LD_LIBRARY_PATH` to the directory that has `_modshogun.so` inside

[2015-09-03 21:01] jaelim commented on #2914
@lisitsyn I replaced it with $HOME before pasting here to hide my user name identity.

[2015-09-03 21:02] lisitsyn commented on #2914
@jaelim ok, just be sure it is set properly. If it works in the directory with module then the `PYTHONPATH` is wrong

[2015-09-03 21:12] jaelim commented on #2914
@yorkerlin @lisitsyn No luck. I did exactly.

[2015-09-03 21:14] jaelim commented on #2914
@yorkerlin @lisitsyn

which python: /usr/bin/python
python --version: Python 2.7.6

[2015-09-04 00:33] erip commented on #2915
Recommend closing. Information on building/testing can be found [here](https://github.com/shogun-toolbox/shogun/wiki/README_cmake).

[2015-09-04 04:26] yorkerlin commented on #2914
[code]

[2015-09-04 12:52] lisitsyn commented on #2915
Yeah, true

[2015-09-04 12:52] #2915 closed

[2015-09-07 10:37] Pepslee commented on #1767
help me please with compiling shogun on win32 with MinGW !!!

i see, you have already compiled it.  is it true ?
can you give me some guide, how to do it ?

[2015-09-08 19:31] jondo commented on #2545
Do you need a pull request? :-)

[2015-09-08 19:44] jondo commented on #2546
All EasySVM tarballs are available [here](http://www.easysvm.org/releases). Would you accept a pull request that removes the corrupted ones?

[2015-09-09 14:23] iglesias commented on #2545
Thanks for the heads-up, @jondo. I have now deleted the file.

[2015-09-09 14:23] #2545 closed

[2015-09-09 14:25] iglesias commented on #2546
Definitely. Let's get rid of them. Waiting for your pr.

[2015-09-09 14:43] yorkerlin commented on #2914
@jaelim
do you solve this issue?

[2015-09-09 17:36] jaelim commented on #2914
@yorkerlin no unfortunately I had a serious computer breakdown while rebuilding shogun. While rebuilding shogun to include the test-examples, it caused a wide computer slowdown. So, I manually had to shut each program I was using, then still the computer ran very slow. I turned off the computer by using physical power button. When I tried to restart the Ubuntu, I was not able to start the graphic

[2015-09-09 20:51] lisitsyn commented on #2914
@jaelim no, its your power button.

[2015-09-09 23:11] jaelim commented on #2914
@lisitsyn believe it or not, yes it is related to shogun. the problem happened while building the package. it happened once without killing the machine as a warning, and the second time when it happened during a package rebuilding process, it killed ubuntu. poorly supported.

[2015-09-09 23:13] #2914 closed

[2015-09-09 23:36] yorkerlin commented on #2914
@lisitsyn
I think we should recommend users to use official binary packages via apt-get or yum.
For shogun developers, compilation for shogun is not so easy.
In fact, compiling a package written in C/C++  is not trivial since it requires developers have background knowledge in OS.

@jaelim
You can google your issue related to ubuntu. I think improperly shutting down linux may corrupt your file sys